---
title: Emergency Homeless Help in Bolton - Street Support
description: Street support makes it easier to help homeless people in Bolton. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-bolton.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: bolton
page: bolton-advice
location: bolton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bolton/">Bolton</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="bolton" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <a name="council-info"></a>
      <h2 class="h2">Support from Bolton Council</h2>
      <p>To tell Bolton council you are homeless:</p>
      <ul>
        <li>Visit Bolton council town hall (Mon-Thu 10.30am-12.30pm and 1.30-4.30pm; Fri 10am-12.30pm and 1.30-4pm)</li>
        <li>Mon-Fri 9am-5pm call <a href="tel:01204335830">01204 335830</a></li>
        <li>Outside those hours in an emergency call <a href="tel:01204337777">01204 337777</a></li>
        <li>Email <a href="mailto:homelesswelfare@bolton.gov.uk">homelesswelfare@bolton.gov.uk</a></li>
      </ul>

      <p>To tell Bolton council about someone who is sleeping rough:</p>
      <ul>
        <li>Call <a href="tel:01204335900">01204 335900</a></li>
        <li>Email <a href="mailto:streetlife@urbanoutreach.co.uk">streetlife@urbanoutreach.co.uk</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During periods of severe cold weather, when forecast to fall to zero degrees or below, additional emergency accommodation is provided by the council. The usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status. To establish whether or not this is a severe cold weather period, people are advised to contact your council.</p>
      <p>During the day, ring Bolton Town Hall on <a href="tel:01204333333">01204 333333</a>. Out of hours you can refer via the duty social worker <a href="tel:01204337777">01204 337777</a>.</p>

      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping and helping them to get inside if possible. Each individual is assessed so that appropriate accommodation can be found based on their needs.</p>

      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Read more about SWEP</span>
      </a>

      {{> social-share}}
    </div>
  </div>
</div>