---
title: Give Items - Submit Details - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: giveitemsubmitdetails
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Give</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Give</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <h2 class="h2" data-bind="html: needDescription"></h2>
    <p data-bind="html: needReason"></p>
    <p>Posted by: <span data-bind="text: providerName"></span></p>
    {{> form-feedback}}
    <!-- ko ifnot: isFormSubmitSuccessful -->
    <form class="form" data-bind="submit: submit">
      <fieldset class="form__fieldset" data-bind="with: formModel">
        <legend class="h2 form__fieldset-title">I Can Help!</legend>
        <p>Please fill in the form below, detailing how you can fulfil this need.</p>
        <p>* denotes a required field.</p>
        <ul class="form__field-list">
          <li class="form__field-item">
            <label class="form__label">Subject</label>
            <p>I can help with: <span data-bind="html: $parent.needDescription"></span></p>
          </li>
          <li class="form__field-item">
            <label class="form__label" for="email">Email *</label>
            <input type="text" class="form__input form__input" id="email" data-bind="value: email" />
          </li>
          <li class="form__field-item form__field-item--full">
            <label class="form__label" for="message">Message *</label>
            <textarea class="form__input form__input--multiline" id="message" data-bind="value: message"></textarea>
          </li>
          <li class="form__field-item form__field-item--full">
            <label class="form__label--checkbox" for="isOptedIn">Opt-In if you want to get occasional updates about Street Support to your inbox</label>
            <input type="checkbox" id="isOptedIn" data-bind="attr: { value: isOptedIn }, checked: isOptedIn" class="form__input--checkbox" />
          </li>
        </ul>
      </fieldset>
      <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
    </form>
    <!-- /ko -->

  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      {{> social-share}}
    </div>
  </div>
</div>

{{> loading-spinner}}
