---
title: Big Change Manchester - Street Support
description: The Big Change fund pays for practical items for individuals. Here's all the information.
layout: default.hbs
permalink: false
jsBundle: sponsor
section: givehelp
page: partnership
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/donate/">Donate</a></li>
      <li class="breadcrumbs__item">Big Change Manchester</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Big Change Manchester</h1>
    <h2 class="h2 block__sub-header">Find out more about the Big Change fund</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
    	<h2 class="h2">What does the Big Change fund pay for?</h2>
      <p>The fund was set up to provide homeless people with the practical items they need to build new lives off the streets, with long term sustainable support to become active, independent members of the community. This can include help with deposits, training courses, clothes for a job interview, furnishing a new flat, purchasing crockery, pots and pans and bed linen, and transport to travel to new accommodation.</p>

      <h2 class="h2">Who can apply for Big Change funding?</h2>
      <p>Anyone that is experiencing homelessness and needs to pay for items to help them get off the streets are eligiable for funding. The agencies that have signed up to the Big Change agreement can apply on your behalf, as can someone from the MCC rough sleeper team.</p>
      
      <h3>Barnabus</h3>
      <p></p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=barnabus">
        <span class="btn__text">More information about Barnabus</span>
      </a>

      <h3>Coffee4Craig</h3>
      <p>Coffee4Craig is a not-for-profit organisation that run street kitchens and also work one to one with people on the streets, signposting to relevant services and offering advice.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=coffee4craig">
        <span class="btn__text">More information about Coffee4Craig</span>
      </a>

      <h3>Cornerstone</h3>
      <p>Cornerstone is a day centre providing services to adults facing a wide range of social issues including homelessness.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=cornerstone-day-centre">
        <span class="btn__text">More information about Cornerstone</span>
      </a>

      <h3>Lifeshare</h3>
      <p>Lifeshare offers practical assistance, support and information to young homeless people.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=lifeshare">
        <span class="btn__text">More information about Lifeshare</span>
      </a>

      <h3>Mustard Tree</h3>
      <p>Mustard Tree exists to create choice and opportunity for people who are homeless and marginalised.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=mustard-tree">
        <span class="btn__text">More information about Mustard Tree</span>
      </a>

      <h3>Urban Village Medical Practice</h3>
      <p>Urban Village Medical Practice is the main provider of primary health care to homeless people in Manchester.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=urban-village-medical-practice">
        <span class="btn__text">More information about Urban Village</span>
      </a>

      <h2 class="h2">Who decides how the fund is spent?</h2>
      <p>For items under &pound;100, organisations signed up to the Big Change agreement can claim through an online application form.</p>
      <p>For items over &pound;, a panel reviews each application against the guidelines for the fund, and looks into whether it meets the criteria, and whether the need could be met by any other means. The panel is made up of one representative from an established organisation; two representatives from COR member organisations; one ex-rough sleeper in long-term support; and one representative from CityCo.</p>

      <h2 class="h2">Where did Big Change come from?</h2>
      <p>Big Change started when a group of grass roots organisations met up and created Coalition Of Relief (COR) in August 2015. The aim of COR was to provide a united network of relief services for the homeless of Manchester, by meeting regularly and involving as many charities services and groups as possible.</p>
      <p>From this group, Big Change emerged.  We wanted to create a collective campaign that educated people on effective ways to help, and provide fast access to funding for long term solutions.</p>

      <h2 class="h2">How can i keep track of the latest news?</h2>
      <p>You can read updates from Big Change in the <a href="http://news.streetsupport.net/tag/big-change-mcr/">News section</a>. If you have any specific questions you can also contact the Big Change secretary on 0345 1122211.</p>

    </div>
  </div>
</div>