---
title: Big Change Manchester - Street Support
description: The Big Change fund pays for practical items for individuals. Here's all the information.
layout: default.hbs
permalink: false
jsBundle: sponsor
section: givehelp
page: partnership
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/donate/">Donate</a></li>
      <li class="breadcrumbs__item">Big Change Manchester</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Big Change Manchester</h1>
    <h2 class="h2 block__sub-header">More information about the Big Change Manchester fund</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
    	<h2 class="h2">Who does the Big Change fund support?</h2>
      <p>The fund was set up to fund practical items to help someone to get off the streets. If someone is homeless and needs something specific, they can get help via one of the referring agencies listed below. The agency will apply on behalf of the individual to get what is needed as fast as possible.</p>

      <h2 class="h2">Which agencies can help someone apply for Big Change funding?</h2>
      <p>The following agencies are able to apply for funds for someone that is trying to get off the streets...</p>
      
      <h3>Barnabus</h3>
      <p></p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=barnabus">
        <span class="btn__text">More information about Barnabus</span>
      </a>

      <h3>Coffee4Craig</h3>
      <p>Coffee4Craig is a not-for-profit organisation that run street kitchens and also work one to one with people on the streets, signposting to relevant services and offering advice.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=coffee4craig">
        <span class="btn__text">More information about Coffee4Craig</span>
      </a>

      <h3>Cornerstone</h3>
      <p>Cornerstone is a day centre providing services to adults facing a wide range of social issues including homelessness.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=cornerstone-day-centre">
        <span class="btn__text">More information about Cornerstone</span>
      </a>

      <h3>Lifeshare</h3>
      <p>Lifeshare offers practical assistance, support and information to young homeless people.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=lifeshare">
        <span class="btn__text">More information about Lifeshare</span>
      </a>

      <h3>Mustard Tree</h3>
      <p>Mustard Tree exists to create choice and opportunity for people who are homeless and marginalised.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=mustard-tree">
        <span class="btn__text">More information about Mustard Tree</span>
      </a>

      <h3>Urban Village Medical Practice</h3>
      <p>Urban Village Medical Practice is the main provider of primary health care to homeless people in Manchester.</p>
      <a class="btn btn--brand-d result-list__btn" href="/find-help/organisation/?organisation=urban-village-medical-practice">
        <span class="btn__text">More information about Urban Village</span>
      </a>
    </div>
  </div>
</div>