---
title: New Locations - Street Support
description: Street support makes it easier to help people facing homelessness; here's how to bring it to your city
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">New Locations</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">New Locations</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>Street Support is currently available in Manchester and Leeds, with more locations interested in going live soon.</p>

      <p>We have designed the website and apps so that they can run across multiple locations, and eventually nationally. We are a small team, and we want to expand in a way that is sustainable. We focus on places where the local network tell us this is needed and would add value to what is already happening. If you feel Street Support would be useful to you in your local area, please read the brief guide below on what is involved and <a href="/about/contact/">get in touch</a>.</p>

      <p>There are 4 steps to successfully launch Street Support in a new location:</p>
      <ol>
        <li>The local network confirms this is NEEDED - they commit to enter their organisations information and bring in their connections to other services.</li>
        <li>We configure Street Support for the new city - there is a one off &pound;5k charge for this. At this point, the basic find help and give help functions can be used by frontline workers.</li>
        <li>Engage a local Comms/PR partner or group of volunteers - spread awareness with people who are homeless and the public.</li>
        <li>Find a local sponsor to contribute to our ongoing monthly running costs - this could be through a local business, council, a philanthropist or an institution.</li>
      </ol>

      <p>If you are interested in bringing Street Support to where you live, or if you have any questions or suggestions about this, please <a href="/about/contact/">get in touch</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
