<div class="block block--home-promo">
  <div class="container">
    <div class="block__content">
      <h1 class="text-center">Supporting homeless people in Portsmouth</h1>
      <p class="text-center">We share the collective responsibility to reduce rough sleeping in Portsmouth through a consistent approach of good working practices, coordination, and communication; to assist those wanting to make positive moves off the street into safe and sustainable accommodation.</p>
      <p class="text-center">If you are a Portsmouth based organisation, please <a href="/register">register your details</a>, or <a href="/about/contact">get in touch</a>.</p>
      <p class="text-center">If you are a local business and able to help, support and develop this resource, please <a href="/about/contact">get in touch</a> to find out how you could help.</p>
    </div>
  </div>
</div>
