<li>
  <dl class="hub-nav-container">
    <dt data-city="portsmouth" class="nav__item nav__item--portsmouth">
      <a href="/portsmouth/" class="nav__item-link nav__item-link--hub-heading">Portsmouth</a>
    </dt>
    <dd>
      <ul>
        <li data-city="portsmouth" class="nav__item nav__item--portsmouth-emergency-help">
          <a href="/portsmouth/emergency-help" class="nav__item-link">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>