<li data-city="portsmouth" class="nav__item nav__item--portsmouth">
  <a href="/portsmouth/" class="nav__item-link">Portsmouth</a>
</li>
<li data-city="portsmouth" class="nav__item nav__item--portsmouth-emergency-help">
  <a href="/portsmouth/emergency-help" class="nav__item-link">Emergency Help</a>
</li>
<li data-city="portsmouth" class="nav__item nav__item--portsmouth-swep">
<a href="/portsmouth/severe-weather-accommodation" class="nav__item-link">Severe Weather Accommodation</a>
</li>