.accommodation-listing {
  @include cf();
  margin-top: 50px;
}

.accommodation-listing__filter {
  @include mq($from: m) {
    @include span(4 of 12);
    @include last();
  }
}

.accommodation-listing__listing {
  width: 100%;
  @include mq($from: m) {
    @include span(7 of 12);
    @include first();
  }
}

.accommodation-listing__listing-location-description {
  text-align: center;
}

.accommodation-listing__listing-item--isActive {
  background: $brand-i;
}

.accommodation-list__listing-features {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.accommodation-list__listing-features-item {
  margin: 0;
  padding: 0;
  @include span(1 of 2);

  &:nth-of-type(2n) {
    @include last();
  }
}

.accommodation-listing__referral-notice {
  background: $brand-q;
  color: black;
  padding: 5px 10px;
}

.accommodation-list__listing-view-more-btn {
  width: 100%;
  @include mq($from: s) {
    @include span(2 of 6);
    @include last();
    margin: 0em 0 0 0;
  }
}

.accommodation-listing__filter {
  margin-top: 0px;
}

.accommodation-listing__filter-heading {
  background: $brand-n;
  color: white!important;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  @include mq($from: m) {
    border-radius: 5px 5px 0 0;
    cursor: default;
  }

  &.open {
    border-radius: 5px 5px 0 0;
  }
}

.accommodation-listing__filter-toggle {
  @include mq($from: m) {
    display: none!important;
  }
}

.accommodation-listing__filter-container {
  display: none;

  @include mq($from: m) {
    display: block;
  }

  &.open {
    display: block;
  }
}

.accommodation-listing__filter-facets {
  @include cf();
}

.accommodation-listing__filter-facet-group {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  @include cf();
}

.accommodation-listing__filter-facet-options {
  margin: 0;
}

.accommodation-listing__filter-facet-options-title {
  @include span(2 of 4);
}

.accommodation-listing__filter-facet-options-radio {
  @include span(1 of 4);
  margin-left: 0;
  &:last-child {
    @include last();
  }
}

.accommodation-listing__postcode-filter {
  margin-top: -11px;
  @include span(2 of 4);
  @include last;
}

.accommodation-listing__dropdown {
  margin-top: -11px;
  @include span(2 of 4);
  @include last;
}

.accommodation-listing__filter-facet-options-radio-container {
  width: 100%;
  padding: 2px 0;
  display: block;
}

.accommodation-listing__filter-btns {
  text-align: center;
}
