.accommodation-splash .svg-accom-advice-dims {
  padding-top: 22px;
  padding-bottom: 14px;
}

.accommodation-splash .svg-accom-find-dims {
  padding-top: 22px;
  padding-bottom: 14px;
}

.accommodation-splash .svg-accom-listing-dims {
  padding-top: 22px;
  padding-bottom: 14px
}
