.accordion {
  margin: 0 auto 20px;
  max-width: 640px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);

  border-radius: 7px;

  &__incopy {
    @include cf();

    @include mq($from: l) {
      .accordion {
        @include span(9 of $grid-column);
      }
    }
  }

  & > * {
    overflow: hidden;
  }

  &__header {
    appearance: none;
    background-color: $brand-h;
    border-bottom: 1px solid #fff;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 15px 40px 15px 40px;
    position: relative;
    text-align: left;
    width: 100%;

    &.is-active {
      border-bottom: 0;

      .accordion__icon {
        &--open {
          display: none;
        }

        &--close {
          display: block;
        }
      }
    }

    @media print {
      & {
        background: none;
        padding-left: 0px;
        color: black;
        font-size: 20px;

        svg {
          display: none;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    height: 20px;
    width: 20px;
    margin-top: -10px;

    &--open {
      display: block;
    }

    &--close {
      display: none;
    }
  }

  &__item {
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 250ms, visibility 250ms, opacity 250ms;
    text-align: left;

    &.is-active {
      max-height: 1000rem;
      opacity: 1;
      visibility: visible;
    }

    @media print {
      & {
        max-height: 1000rem;
        opacity: 1;
        visibility: visible;
      }
    }

    a {
      color: $brand-c;
    }
  }

  &__inner {
    padding: 30px 30px;
  }
}
