.accordion {
  margin-bottom: 20px;

  & > * {
    overflow: hidden;
  }

  &__header {
    background-color: $brand-d;
    color: #fff;
    margin: 0;
    padding: 15px 40px 15px 15px;
    border: 0;
    border-bottom: 1px solid #fff;
    appearance: none;
    width: 100%;
    outline: none;
    text-align: left;
    position: relative;

    &.is-active {
      border-bottom: 0;

      .accordion__icon {
        &--open {
          display: none;
        }

        &--close {
          display: block;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    height: 20px;
    width: 20px;
    margin-top: -10px;

    &--open {
      display: block;
    }

    &--close {
      display: none;
    }
  }

  &__item {
    background-color: $brand-i;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 250ms, visibility 250ms, opacity 250ms;

    &.is-active {
      max-height: 300rem;
      opacity: 1;
      visibility: visible;
    }
  }

  &__inner {
    padding: 30px 30px;
  }
}
