.block {
  @include cf();
  padding-top: 30px;
  padding-bottom: 30px;

  &__inner {

  }

  // Components
  &__header {
    text-align: center;

    .block--intro & {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__content {
    p {
      &:first-of-type {
        margin-top: 0;
      }
    }

    a {
      color: $brand-c;
    }
  }

  &__image {
    width: 50%;
    text-align: center;
    margin: 0 auto 20px auto;

    & + div {
      text-align: center;
    }

    img {
      border: 5px solid $brand-e;
      border-radius: 10px;
    }
  }

  // Variants
  &--cta {
    background-color: $brand-f;
    color: #fff;
    text-align: center;
  }

  &--intro {
    color: $brand-h;
    text-align: left;
    padding-bottom: 0;
  }

  &--highlight {
    background-color: $brand-b;
    color: #fff;
    text-align: center;

    a {
      color: inherit;
    }
  }
}
