.block {
  @include cf();
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq($from: m) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  // Components
  &__header {
    text-align: center;
    margin: 0;

    &--story {
      margin-bottom: 30px;
    }
  }

  &__sub-header {
    text-align: center;
    margin: 0;
    color: $brand-d;
  }

  &__content {
    @include cf();

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }

      .btn {
        margin-bottom: 0;
      }
    }

    a {
      color: $brand-c;
      font-family: $font-headline;
      font-weight: $font-headline-weight;
      text-decoration: none;
    }

    .h1,
    .h2 {
      color: $brand-h;
      a {
        color: $brand-n;
      }
    }
  }

  &__cta {
    @include cf();
    padding: 10px 0 0 0;
    text-align: center;

    &--incopy {
      padding-bottom: 20px;

      @include mq($from: m) {
        padding-bottom: 40px;
      }
    }

    &--grid {
      @include mq($from: m) {
        .cta {
          &:last-of-type {
            @include span(2 of $grid-column);
          }

          &:nth-of-type(4n) {
            @include last();
          }
        }
      }
    }

    &--2 {
      @include mq($from: m) {
        .cta:first-of-type {
          @include push(2 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(0 of $grid-column); // Reset push style
        }
      }
    }

    &--3 {
      @include mq($from: xs) {
        .cta:last-of-type {
          @include span(4 of $grid-column);  // Reset last style
          @include push(2 of $grid-column);
        }
      }

      @include mq($from: m) {
        .cta:first-of-type {
          @include push(1 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(0 of $grid-column); // Reset push style
        }
      }
    }

    &--city-header {
      @include mq($from: m) {
        .cta {
          @include span(1 of 2);
        }

        .cta:last-of-type {
          @include last();
        }
      }
    }
  }

  &__primary {
    background-color: $brand-h;
    padding: 30px 0;
  }

  &__secondary {
    background-color: $brand-n;
    padding: 30px 0;
  }

  // Variants
  &--breadcrumbs {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: rgba(black, 0.5);
    width: 100%;

    @media print {
      & { display: none }
    }

    @include mq($from: m) {
      top: $header-top + $header-height + $header-height;

      .section--nosubnav & {
        top: $header-top + $header-height;
      }
    }
  }

  &--highlight {
    background: $brand-c;
    background: linear-gradient(to bottom, $brand-b, $brand-c);
    color: #fff;

    .h1,
    .h2 {
      color: #fff;
    }
    a {
      color: $brand-e;
    }
  }

  &--promo {
    @include mq($from: m) {
      text-align: center;
    }
  }

  &--requests-detail {
    padding: 20px 0;
    background: $brand-i;
  }

  &--big-change-video {
    background: black;
    padding: 15px 0 10px 0!important;
  }

  &--cards {
    background: $brand-q;
    border-top: 1px solid $brand-k;
  }
}

.block--header,
.block--home-header,
.block--city-header {
  background-image: url('../img/header-background.png');
  background-repeat: repeat-x;
  background-position: bottom;
  padding-top: 100px;
  padding-bottom: 50px;

  @include mq($from: m) {
    padding-top: 280px;
    padding-bottom: 80px;
  }
  
  .block__header,
  .block__sub-header {
    color: $brand-m;
  }
}

.block--home-header {
  padding-top: 140px;
  .block__header,
  .block__sub-header {
    margin-bottom: 30px;
    text-align: left!important;
  }

  .ctas {
    @include mq($until: m) {
      .btn { width: 100%; }
    }
    @include mq($from: m) {
      .btn__text {
        padding: 15px 60px;
      }
      .btn:first-of-type { margin-right: 20px; }
    }
  }

  @include mq($from: m) {
    padding-top: 220px;
    padding-bottom: 30px;

    .container { padding-right: 33% }

  }

}

// Components
.block__section {
  @include cf;

  margin-bottom: 40px;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 20px; // cater for site container
  }

  @include mq($from: m) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--about-your-donation {
    margin-bottom: 20px;
    @include mq($from: m) {
      margin-bottom: 20px;
      & + .block__section {
        margin-top: 0px;
      }
    }
  }
}

.block--subpage-header {
  padding-top: 90px;
  padding-bottom: 0px;

  @media print {
    & { padding-top: 0px; }
  }

  @include mq($from: m) {
    padding-top: 250px;
    padding-bottom: 0px;
  }

  .block__header {
    color: $brand-h;
    padding-top: 50px;

    &.has-icon--left {
      margin: 20px 0;
      padding-left: 60px;
      position: relative;
      text-align: center;

      @include mq($from: m) {
        margin: 0px 0 10px;
        padding-left: 0;
        padding-top: 0px;
        text-align: center;
      }

      .block__header__icon {
        @include size(50px);

        position: absolute;
        top: 40px;
        left: 0;

        @include mq($from: m) {
          position: static;
        }

        &--big-change {
          left: 50%;
          margin-left: -90px;
          @include mq($from: m) {
            left: 0;
            margin-left: 0;
          }
        }

        &--give {
          height: 110px;
          width: 140px;
          top: -40px;
          right: 38px;

          @include mq($from: m) {
            margin-right: -28px;
            margin-top: -30px;
            vertical-align: middle;
          }
        }

        &--find-help {
          @include size(100px);
          position: absolute;
          left: 0;
          top: 15px;
          @include mq($from: m) {
            position: inherit;
            top: 35px;
          }
        }
      }
    }
    &--find-help.has-icon--left {
      padding-top: 50px;
    }
  }

  .block__sub-header {
    color: $brand-m;

    p:first-of-type {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.block--city-header .block__sub-header {
  color: white!important;
}

.template--maybe-empty .block--home-promo {
  padding-bottom: 0px!important;
}

.block--minor-highlight {
  background: $brand-q;
}

.block--pre-icon {
  padding-bottom: 70px;
}

.block--with-icon {
  margin-top: 10px;
}

.block-icon-container {
  text-align: center;
  margin-top: -90px;
}

.block-tabs {
  text-align: center;
  @include cf();
  margin-bottom: -1px;
  display: block;
}

.block-tabs__container {
  padding: 0 10px;
  @include mq($from: m) {
    padding: 0px;
    width: 300px;
    margin: 0 auto;
  }
}

.block-tabs__tab {
  @include span(1 of 2);

  background: red;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 10px 30px;
  margin-top: 4px;
  display: block;

  &:last-of-type { 
    @include last();
  }

  &--selected {
    background: blue;
    padding: 12px 30px;
    margin-top: 0px;
  }

  .block-tabs--cards & {
    background: $brand-k;
    color: $brand-q;
    border-top: 1px solid $brand-k;
    border-right: 1px solid $brand-k;
    border-left: 1px solid $brand-k;
  }

  .block-tabs--cards &--selected {
    background: $brand-q;
    color: $brand-k;
    border-top: 1px solid $brand-k;
    border-right: 1px solid $brand-k;
    border-left: 1px solid $brand-k;
  }
}

.home__copy {
  @include mq($from: m) {
    @include span(1 of 2);
    .location-selector {
      text-align: left;
    }
  }
}

.home__hub-map {
  border: 1px solid $brand-k;
  margin: 20px 0;
  @include mq($from: m) {
    margin: 0;
    @include span(1 of 2);
    @include last();
  }

  .js-map {
    height: 500px;
    width: 100%;
  }
}