.block {
  @include cf();
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq($from: m) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  // Components
  &__header {
    text-align: center;
    margin: 0;

    &--story {
      margin-bottom: 30px;
    }
  }

  &__sub-header {
    text-align: center;
    margin: 0;
    color: $brand-d;
  }

  &__content {
    @include cf();

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .btn {
        margin-bottom: 0;
      }
    }

    a {
      color: $brand-c;
      font-family: $font-headline;
      font-weight: $font-headline-weight;
      text-decoration: none;
    }

    .h1,
    .h2 {
      color: $brand-h;
    }
  }

  &__cta {
    @include cf();
    padding: 10px 0 0 0;
    text-align: center;

    &--incopy {
      padding-bottom: 20px;

      @include mq($from: m) {
        padding-bottom: 40px;
      }
    }

    &--grid {
      @include mq($from: m) {
        .cta {
          &:last-of-type {
            @include span(2 of $grid-column);
          }

          &:nth-of-type(4n) {
            @include last();
          }
        }
      }
    }

    &--2 {
      @include mq($from: m) {
        .cta:first-of-type {
          @include push(2 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(0 of $grid-column); // Reset push style
        }
      }
    }

    &--3 {
      @include mq($from: xs) {
        .cta:last-of-type {
          @include span(4 of $grid-column);  // Reset last style
          @include push(2 of $grid-column);
        }
      }

      @include mq($from: m) {
        .cta:first-of-type {
          @include push(1 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(0 of $grid-column); // Reset push style
        }
      }
    }
  }

  &__primary {
    background-color: $brand-h;
    padding: 30px 0;
  }

  &__secondary {
    background-color: $brand-n;
    padding: 30px 0;
  }

  // Variants
  &--breadcrumbs {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: rgba(black, 0.5);
    position: absolute;
    z-index: 100;
    width: 100%;

    @media print {
      & { display: none }
    }

    @include mq($from: m) {
      top: $header-top + $header-height + $header-height;

      .section--nosubnav & {
        top: $header-top + $header-height;
      }
    }
  }

  &--header {
    background-image: url('../img/header-background.png');
    background-repeat: repeat;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 50px;

    @include mq($from: m) {
      padding-top: 110px;
      padding-bottom: 80px;
    }
  }

  &--highlight {
    background: $brand-c;
    background: linear-gradient(to bottom, $brand-b, $brand-c);
    color: #fff;

    .h1,
    .h2,
    a {
      color: #fff;
    }
  }

  &--promo {
    @include mq($from: m) {
      text-align: center;
    }
  }

  &--requests-detail {
    padding: 20px 0;
    background: $brand-i;
  }
}

// Components
.block__section {
  @include cf;

  margin-bottom: 40px;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 20px; // cater for site container
  }

  @include mq($from: m) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--about-your-donation {
    margin-bottom: 20px;
    @include mq($from: m) {
      margin-bottom: 20px;
      & + .block__section {
        margin-top: 0px;
      }
    }
  }
}

.block--subpage-header {
  padding-bottom: 0px;

  @include mq($from: m) {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .block__header {
    color: $brand-h;
    padding-top: 50px;

    &.has-icon--left {
      margin: 20px 0;
      padding-left: 60px;
      position: relative;
      text-align: center;

      @include mq($from: m) {
        margin: 20px 0 10px;
        padding-left: 0;
        text-align: center;
      }

      .block__header__icon {
        @include size(50px);

        position: absolute;
        top: -5px;
        left: 0;

        @include mq($from: m) {
          position: static;
        }

        &--big-change {
          left: 50%;
          margin-left: -90px;
          @include mq($from: m) {
            left: 0;
            margin-left: 0;
          }
        }

        &--give {
          height: 110px;
          width: 140px;
          top: -40px;
          right: 38px;

          @include mq($from: m) {
            margin-right: -28px;
            margin-top: -30px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .block__sub-header {
    color: $brand-m;

    p:first-of-type {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.block--home-promo {
  padding-bottom: 0!important;
}
