.block {
  @include cf();
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq($from: m) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  // Components
  &__header {
    text-align: left;
    margin: 0;

    &--story {
      margin-bottom: 30px;
    }
  }

  &__sub-header {
    text-align: left;
    margin: 0;
    color: $brand-d;
  }

  &__content {
    @include cf();

    p {
      &:last-of-type {
        margin-bottom: 0px;
      }

      &:first-of-type {
        margin-top: 0;
        margin-bottom: 16px;
      }

      .btn {
        margin-bottom: 0;
      }
    }

    a {
      color: $brand-r;
      text-decoration: underline;
      &.full-size-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
      }
    }

    .h1,
    .h2 {
      color: $brand-m;
      a {
        color: $brand-m;
      }
    }
  }

  &__cta {
    @include cf();
    padding: 10px 0 0 0;
    text-align: center;

    &--incopy {
      padding-bottom: 20px;

      @include mq($from: m) {
        padding-bottom: 40px;
      }
    }

    &--grid {
      @include mq($from: m) {
        .cta {
          &:last-of-type {
            @include span(2 of $grid-column);
          }

          &:nth-of-type(4n) {
            @include last();
          }
        }
      }
    }

    &--2 {
      @include mq($from: m) {
        .cta:first-of-type {
          @include push(2 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(0 of $grid-column); // Reset push style
        }
      }
    }

    &--3 {
      @include mq($from: xs) {
        .cta:last-of-type {
          @include span(4 of $grid-column);  // Reset last style
          @include push(2 of $grid-column);
        }
      }

      @include mq($from: m) {
        .cta:nth-of-type(3n + 1) {
          @include push(1 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(3 of $grid-column); // Reset push style
        }
      }
    }
  }

  &__primary {
    background-color: $brand-h;
    padding: 30px 0;
  }

  &__secondary {
    background-color: $brand-n;
    padding: 30px 0;
  }

  // Variants

  &--breadcrumbs {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: rgba(black, 0.5);
    width: 100%;

    @media print {
      & { display: none }
    }

    @include mq($from: m) {
      margin-top: -5px;
    }
  }

  &--promo {
    @include mq($from: m) {
      text-align: center;
    }
  }
}

.block--header,
.block--home-header,
.block--location-header {
  padding-bottom: 100px;

  .block__header,
  .block__sub-header {
    color: $brand-m;
  }
}

.bed-every-night-logo {
  display: block;
  width: 351px;
  margin: 0 auto 20px auto;

  @include mq($from: m) {
    float: right;
    margin: 20px;
  }
}

.block--home-header,
.block--location-header {
  background-image: url('../img/header-background.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
.block--location-header,
.block--home-header {
  .block__header,
  .block__sub-header {
    margin-bottom: 30px;
    text-align: left!important;
  }

  .ctas {
    .btn {
      @include span(1 of 2);
      &:last-of-type {
        @include last();
      }
     }
    @include mq($from: l) {
      .btn__text {
        padding: 15px;
      }
    }
  }
}


.block--header {
  padding: 80px 0!important;
}

.block--home-header {
  @include mq($from: m) {
    padding-bottom: 30px;

    .container {
      & > * {
        @include span(2 of 3);
        @include first();
      }
    }
  }
}
.block--location-header {
  @include mq($from: m) {

    .container {
      & > * {
        @include span(1 of 2);
        @include first();
      }
    }
  }
}

// Components
.block__section {
  @include cf;

  margin-bottom: 40px;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 20px; // cater for site container
  }

  @include mq($from: m) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--about-your-donation {
    margin-bottom: 20px;
    @include mq($from: m) {
      margin-bottom: 20px;
      & + .block__section {
        margin-top: 0px;
      }
    }
  }
}

.template--maybe-empty .block--home-promo {
  padding-bottom: 0px!important;
}

.block--minor-highlight {
  background: $brand-q;
}

.block--pre-icon {
  padding-bottom: 70px;
}

.block--with-icon {
  margin-top: 10px;
}

.block-icon-container {
  text-align: center;
  margin-top: -90px;
}

.block-tabs {
  text-align: center;
  @include cf();
  margin-bottom: -1px;
  display: block;
}

.block-tabs__container {
  padding: 0 10px;
  @include mq($from: m) {
    padding: 0px;
    width: 300px;
    margin: 0 auto;
  }

  &--three {
    @include mq($from: m) {
      width: 480px;
    }
  }

  &--four {
    @include mq($from: m) {
      width: 640px;
    }
  }
}

.block-tabs--cards {
  @include printHide();
}

.block-tabs__tab {
  @include span(1 of 2);

  background: red;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid black;
  cursor: pointer;
  display: block;
  margin-top: 4px;
  padding: 10px;
  text-align: center;

  &--selected {
    background: blue;
    padding: 12px 0px;
    margin-top: 0px;
  }

  .block-tabs__container--three & {
    @include span(1 of 3);
  }

  .block-tabs__container--four & {
    @include span(1 of 4);
  }

  &:last-of-type {
    @include last();
  }

  .block-tabs--cards & {
    background: $brand-k;
    color: $brand-q;
    border-top: 1px solid $brand-k;
    border-right: 1px solid $brand-k;
    border-left: 1px solid $brand-k;
  }

  .block-tabs--cards &--selected {
    background: $brand-q;
    color: $brand-k;
    border-top: 1px solid $brand-k;
    border-right: 1px solid $brand-k;
    border-left: 1px solid $brand-k;
  }
}

.home__copy {
  @include mq($from: m) {
    @include span(6 of 12);
    .location-selector {
      text-align: left;
    }

    &:last-child {
      @include last();
    }

    &--left-col {
      @include first();
      float: left!important;
    }

    .h2 { width: 100% } // edge fix
  }

  &--standards-toolkit {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 40px 30px 40px 40px;
    }
  }

  &--soton-charter {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 40px 30px 40px 40px;
    }
  }

  &--bcp-changeforgood {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 40px 30px 40px 40px;
    }
  }

  &--migrant-fund {
    padding: 40px 20px;

    @include mq($from: m) {
      padding: 0px;
    }
  }

  &--migrant-fund-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--big-change-mcr-logo {
    background: $big-change-b;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    img { margin-bottom: 20px; }

    @include mq($from: m) {
      position: relative;
      &:before {
        background: url('/assets/img/big-change-mcr-triangle.png') top left no-repeat;
        width: 50px;
        height: 100%;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:after {
        background: url('/assets/img/big-change-mcr-triangle.png') top left no-repeat;
        width: 50px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        transform: rotate(180deg);
      }
    }
  }

  &--big-change-mcr-text {
    padding: 40px 20px;
    background: $big-change-a;

    @include mq($from: m) {
      padding: 40px 0px;
    }
  }

  &--padding {
    @include mq($from: m) {
      @include span(5 of 12);

      .home__copy--padding + & {
        @include push(1 of 12);
        float: left;
      }
    }
  }
}

.home__hub-map {
  border: 1px solid $brand-k;
  margin: 20px 0;
  @include mq($from: m) {
    margin: 0;
    @include span(1 of 2);
    @include last();
  }
}

.js-map {
  height: 500px;
  width: 100%;
}
