.block {
  &--pulldown {
    padding-bottom: 120px;

    @include mq($from: m) {
      padding-bottom: 140px;
    }
  }

  &--pushup {
    margin-top: -140px;

    @include mq($from: m) {
      margin-top: -160px;
    }
  }

  &--image {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;

    @include mq($from: s) {
      padding-top: 40px;
    }

    @include mq($from: l) {
      padding-top: 0;
      padding-bottom: 0;

      .block__content {
        display: table;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
      }
    }
  }

  &--news {
    padding: 30px 10px;
  }

  &--big-change-mcr {
    background: $big-change-a;
    padding: 0!important;
  }

  &--standards-toolkit {
    background: rgba(10, 133, 100, 0.15);
    display: flex;
    align-items: stretch;
    padding: 0!important;
    @include mq($from: m) {
      .block__standards-toolkit-pad {
        width: 50%;
        background: url('/assets/img/toolkit-pad.png') right -40px no-repeat;
      }
    }
  }

  &--bcp-changeforgood {
    padding: 0!important;
    border-top: 70px $sea-blue solid;
    border-bottom: 70px $sea-blue solid;

    @include mq($from: m) {
      display: flex;
    }

    .block__bcp-changeforgood {
      margin: -70px 10px 0 10px;
      border-left: 6px white solid;
      border-right: 6px white solid;
      border-bottom: 6px white solid;
      
      @include mq($from: m) {
        margin: 0;
        padding-top: 40px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--soton-charter {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__soton-charter {
      width: 100%;
      height: 500px;
      background: white url('/assets/img/header-background.png') right bottom repeat-x;

      @include mq($from: m) {
        width: 50%;
      }
    }

    .block__soton-charter-buildings {
      height: 100%;
      width: 100%;
      position: relative;
      background: url('/assets/img/locations/southampton.png') center bottom no-repeat;

      & .content {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        height: 100%;
        position: absolute;
        text-align: center;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        & .title {
          h1 {
            border-top: 3px solid #ec6262;
            border-bottom: 3px solid #ec6262;
            width: auto;
            display: inline-block;
          }

          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }

  &--highlight {
    background: $brand-c;
    background: linear-gradient(to bottom, $brand-b, $brand-c);
    color: #fff;

    .h1,
    .h2 {
      color: #fff;
    }
    a {
      color: $brand-e;
    }
  }

  &--minor-highlight {
    background: $brand-q;
  }

  &--requests-detail {
    padding: 20px 0;
    background: $brand-i;
  }

  &--big-change-video {
    background: black;
    padding: 15px 0 10px 0!important;
  }

  &--cards {
    background: $brand-q;
    border-top: 1px solid $brand-k;
    @include cf();
  }

  &--swep-availability-notification {
    background: $brand-g;
    padding: 20px 0px!important;
    color: white;
    a {
       color: $brand-e;
    }
  }

  &__image-image {
    margin-bottom: 20px;
    position: relative;

    @include mq($from: l) {
      width: 50%;
      height: 100%;
      display: table-cell;
      margin-bottom: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 480px; // m breakpoint
      margin: 0 auto;

      @include mq($from: l) {
        max-width: none;
        margin: 0;
      }
    }

    &--overlaid {
      margin-bottom: 100px;
      @include mq($from: m) {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0
        }
      }
    }
  }

  &__image-description {
    padding-left: $site-gutter;
    padding-right: $site-gutter;

    @include mq($from: l) {
      width: 50%;
      position: relative;
      display: table-cell;
      padding: 0;
    }
  }

  &__image-copy {
    @include mq($from: l) {
      position: absolute;
      top: 50%;
      left: 0px;
      width: 100%;
      transform: translateY(-50%);
      padding: 0 40px;
      max-width: 500px;
    }
  }
}

.block__content {
  &--central-cta {
    text-align: center;
  }

  &--join-mailing-list {
    &:before {
      content: '';
      width: 60px;
      height: 50px;
      background: url('../img/icon-tileset.png') 178px 80px;
      margin: 10px auto;

      @include mq($from: m) {
        margin: 0 auto 20px auto;
      }
    }
  }
}