.block {
  @include cf();
  padding-top: 30px;
  padding-bottom: 30px;

  // Components
  &__header {
    text-align: center;

    .block--intro & {
      text-align: left;
    }
  }

  &__content {
    p {
      &:first-of-type {
        margin-top: 0;
      }

      a {
        color: $brand-c;
      }
    }
  }

  &__image {
    // Append grid to .block__content div if this image div exists
    @include span(3 of $column-small);

    & + div {
      @include span(3 of $column-small);
    }

    img {
      border: 5px solid $brand-e;
      border-radius: 10px;
    }
  }

  // Variants
  &--cta {
    background-color: $brand-f;
    color: #fff;
    text-align: center;
  }

  &--intro {
    color: $brand-h;
    text-align: left;
    padding-bottom: 0;
  }

  &--highlight {
    background-color: $brand-b;
    color: #fff;
  }
}
