.block {
  @include cf();
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq($from: m) {
    padding-top: 40px;
    padding-bottom: 40px;

    &--advice {
      padding-top: 0;
    }
  }

  // Components
  &__header {
    text-align: left;
    margin: 0;

    &--story {
      margin-bottom: 30px;
    }
  }

  &__sub-header {
    text-align: left;
    margin: 0;
    color: $brand-d;
  }

  &__content {
    @include cf();

    p {
      &:last-of-type {
        margin-bottom: 0px;
      }

      &:first-of-type {
        margin-top: 0;
        margin-bottom: 16px;
      }

      .btn {
        margin-bottom: 0;
      }
    }

    a {
      color: $brand-r;
      text-decoration: underline;
      &.full-size-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
      }
    }

    .h1,
    .h2 {
      color: $brand-m;
      a {
        color: $brand-m;
      }
    }
  }

  &__cta {
    @include cf();
    padding: 10px 0 0 0;
    text-align: center;

    &--incopy {
      padding-bottom: 20px;

      @include mq($from: m) {
        padding-bottom: 40px;
      }
    }

    &--grid {
      @include mq($from: m) {
        .cta {
          &:last-of-type {
            @include span(2 of $grid-column);
          }

          &:nth-of-type(4n) {
            @include last();
          }
        }
      }
    }

    &--2 {
      @include mq($from: m) {
        .cta:first-of-type {
          @include push(2 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(0 of $grid-column); // Reset push style
        }
      }
    }

    &--3 {
      // TODO: if number of categories on /find-help page is odd we should uncomment it.
      // @include mq($from: xs) {
      //   .cta:last-of-type {
      //     @include span(4 of $grid-column);  // Reset last style
      //     @include push(2 of $grid-column);
      //   }
      // }

      @include mq($from: m) {
        .cta:nth-of-type(3n + 1) {
          @include push(1 of $grid-column);
        }

        // TODO: if number of categories on /find-help page is odd we should uncomment it.
        // .cta:last-of-type {
        //   @include span(2 of $grid-column);  // Reset last style
        //   @include push(3 of $grid-column); // Reset push style
        // }
      }
    }
  }

  &__primary {
    background-color: $brand-h;
    padding: 30px 0;
  }

  &__secondary {
    background-color: $brand-n;
    padding: 30px 0;
  }

  // Variants

  &--breadcrumbs {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: rgba(black, 0.5);
    width: 100%;

    @media print {
      & { display: none }
    }

    @include mq($from: m) {
      margin-top: -5px;
    }
  }

  &--promo {
    @include mq($from: m) {
      text-align: center;
    }
  }
}

.block--header,
.block--home-header,
.block--west-mids-header,
.block--location-header {
  padding-bottom: 100px;

  .block__header,
  .block__sub-header {
    color: $brand-m;
  }
}

.bed-every-night-logo {
  display: block;
  width: 351px;
  margin: 0 auto 20px auto;

  @include mq($from: m) {
    float: right;
    margin: 20px;
  }
}

.block--home-header,
.block--location-header {
  background-image: url('../img/header-background.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
.block--location-header,
.block--home-header {
  .block__header,
  .block__sub-header {
    margin-bottom: 30px;
    text-align: left!important;
  }

  .ctas {
    .btn {
      @include span(1 of 2);
      &:last-of-type {
        @include last();
      }
     }
    @include mq($from: l) {
      .btn__text {
        padding: 15px;
      }
    }
  }
}

.block--west-mids-header {
  background-image: url('../img/west-mids-header.png');
  background-repeat: repeat-x;
  background-position: bottom;
  height: 380px;
}

.block--west-mids-title {
  text-align: center;
  color: #707070 !important;
}

.block--gm-locations {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 40px;

  a{
    color: $brand-h;
    text-shadow: 1px 1px 2px #927fbd;
    transition: 0.2s;
    text-decoration: none;

    &:hover {
      text-shadow: 0px 0px 0px;
    }
  }

  &__list {
    @include cf();

    list-style: none;
    margin: 50px 0 30px;
    padding: 0;

    @include mq($from: m) {
      margin-top: 20px;
    }
  }
}

.block--west-mids-locations {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 40px;

  a{
    color: $brand-h;
    text-shadow: 1px 1px 2px #927fbd;
    transition: 0.2s;
    text-decoration: none;

    &:hover {
      text-shadow: 0px 0px 0px;
    }
  }

  &__list {
    @include cf();

    list-style: none;
    margin: 50px 0 30px;
    padding: 0;

    @include mq($from: m) {
      margin-top: 20px;
    }
  }
}

.west-mids-location {
  flex: 1 0 100%;
}

.block--header {
  padding: 40px 0 0 0!important;
}

.block--home-header {
  @include mq($from: m) {
    padding-bottom: 30px;

    .container {
      & > * {
        @include span(2 of 3);
        @include first();
      }
    }
  }
}

.block--location-header {

  @include mq($from: m) {

    .container {
      & > * {
        @include span(1 of 2);
        @include first();
      }

      & > .container-advice__content:nth-child(1) {
          @include span(3 of $grid-column);
          @include first();
      }

      & > .container-advice__content:nth-child(2) {
          @include span(4 of $grid-column);
          @include first();
          float: right;
          text-align: right;
      }

      & > .container-families__content:nth-child(1) {
        @include span(6 of $max-grid-column);
        @include first();
      }

      & > .container-families__content:nth-child(2) {
          @include span(5 of $max-grid-column);
          @include first();
          float: right;
          text-align: left;
      }
    }
  }
}

.block-families {

  @include mq($from: m) {

    .container {

      & > .container-families__content:nth-child(1) {
          @include span(8 of $max-grid-column);
          @include first();
      }

      & > .container-families__content:nth-child(2) {
          @include span(3 of $max-grid-column);
          @include first();
          float: right;
      }
    }
  }

  .container-families__content {
    &--guides {
      list-style: none;
      padding-left: 3px;

      &__item {
        color: #337ab7;
        background-image: url(/assets/img/info-icon.png);
        background-position: 0px 2px;
        background-repeat: no-repeat;
        padding-left: 25px;
        margin-bottom: 15px;

        &-link {
          text-decoration: underline;
        }
      }
    }
  }

  @include mq($until: m) {

    .container-families__header-guides {
      margin-top: 20px;
    }
  }
}

.block-advice {

  .container {
    .container-advice__header-result {
      display: inline;
      background-image: url('/assets/img/search-icon.png');
      background-position: 0px 3px;
      background-repeat: no-repeat;
      padding-left: 25px;
    }

    .container-advice__content-no-result {
      margin-top: 25px;
    }
  }

  @include mq($from: m) {

    .container {

      & > .container-advice__content:nth-child(1) {
          @include span(4 of $max-grid-column);
          @include first();
      }

      & > .container-advice__content:nth-child(2) {
          @include span(7 of $max-grid-column);
          @include first();
          float: right;
      }
    }
  }

  @include mq($until: m) {

    .container {
      .container-advice__content-no-result {
        margin-top: 15px;
      }
    }
  }

  .block__content {
    &--advice {
      text-align: justify;
    }

    .subtitle {
      margin-bottom: 0;
    }

    .subtitle+.files-container {
      margin-top: 0;
    }

    @include mq($until: m) {
      .h1 {
        font-size: 28px;
      }
    }
  }
}

// Components
.block__section {
  @include cf;

  margin-bottom: 40px;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 20px; // cater for site container
  }

  @include mq($from: m) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--about-your-donation {
    margin-bottom: 20px;
    @include mq($from: m) {
      margin-bottom: 20px;
      & + .block__section {
        margin-top: 0px;
      }
    }
  }
}

.template--maybe-empty .block--home-promo {
  padding-bottom: 0px!important;
}

.block--minor-highlight {
  background: $brand-q;
}

.block--pre-icon {
  padding-bottom: 70px;
}

.block--with-icon {
  margin-top: 10px;
}

.block-icon-container {
  text-align: center;
  margin-top: -90px;
}

.block-tabs {
  text-align: center;
  @include cf();
  margin-bottom: -1px;
  display: block;
}

.block-tabs__container {
  padding: 0 10px;
  @include mq($from: m) {
    padding: 0px;
    width: 300px;
    margin: 0 auto;
  }

  &--three {
    @include mq($from: m) {
      width: 480px;
    }
  }

  &--four {
    @include mq($from: m) {
      width: 640px;
    }
  }
}

.block-tabs--cards {
  @include printHide();
}

.block-tabs__tab {
  @include span(1 of 2);

  background: red;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid black;
  cursor: pointer;
  display: block;
  margin-top: 4px;
  padding: 10px;
  text-align: center;

  &--selected {
    background: blue;
    padding: 12px 0px;
    margin-top: 0px;
  }

  .block-tabs__container--three & {
    @include span(1 of 3);
  }

  .block-tabs__container--four & {
    @include span(1 of 4);
  }

  &:last-of-type {
    @include last();
  }

  .block-tabs--cards & {
    background: $brand-k;
    color: $brand-q;
    border-top: 1px solid $brand-k;
    border-right: 1px solid $brand-k;
    border-left: 1px solid $brand-k;
  }

  .block-tabs--cards &--selected {
    background: $brand-q;
    color: $brand-k;
    border-top: 1px solid $brand-k;
    border-right: 1px solid $brand-k;
    border-left: 1px solid $brand-k;
  }
}

.home__copy {
  @include mq($from: m) {
    @include span(6 of 12);
    .location-selector {
      text-align: left;
    }

    &:last-child {
      @include last();
    }

    &--left-col {
      @include first();
      float: left!important;
    }

    .h2 { width: 100% } // edge fix
  }

  &--standards-toolkit {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 40px 30px 40px 40px;
    }
  }

  &--southampton-charter {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 40px 30px 40px 40px;
    }
  }

  &--leeds-charter {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 40px 30px 40px 40px;
    }
  }

  &--bcp-charter {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 40px 30px 40px 40px;
    }
  }

  &--brighton-print-map {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 10px 30px 10px 40px;
    }
  }

  &--reading-print-map {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 10px 30px 10px 40px;
    }
  }

  &--mcr-print-map {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 10px 30px 10px 40px;
    }
  }

  &--leeds-print-map {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 10px 30px 10px 40px;
    }

    a {
      color: $brand-r;
    }
  }

  &--notts-food-rota {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 10px 30px 10px 40px;
    }
  }

  &--chelmsford-food-rota {
    padding: 40px 1rem;
    @include mq($from: m) {
      max-width: 500px;  // half of $site-container in _variables.scss
      padding: 10px 30px 10px 40px;
    }
  }

  &--alt-giving-soton {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 40px 30px 40px 40px;
    }
  }

  &--bcp-changeforgood {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 40px 30px 40px 40px;
    }
  }

  &--big-change-luton {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 40px 30px 40px 40px;
    }
  }

  &--cambridge-street-aid {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 40px 30px 20px 45px;
    }
  }

  &--change-into-action {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 10px 30px 10px 40px;
    }
  }

  &--change-liverpool {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 10px 30px 10px 40px;
    }
  }

  &--street-change-glasgow {
    padding: 0 10px;
    a {
      color: #fbbb0e;
    }
    @include mq($from: m) {
      padding: 10px 30px 10px 40px;
    }
  }

  &--it-takes-a-city {
    padding: 40px 20px;

    @include mq($from: m) {
      padding: 0px;
    }
  }

  &--migrant-fund {
    padding: 40px 20px;

    @include mq($from: m) {
      padding: 0px;
    }
  }

  &--mdc {
    padding: 0 10px;
    @include mq($from: m) {
      padding: 10px 30px 10px 40px;
    }
  }

  &--video-banner {
    padding: 40px 1rem;
    @include mq($from: m) {
      padding: 10px 30px 10px 40px;
    }
  }

  &--migrant-fund-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--it-takes-a-city-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--big-change-mcr-logo {
    background: $big-change-b;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    img { margin-bottom: 20px; }

    @include mq($from: m) {
      position: relative;
      &:before {
        background: url('/assets/img/big-change-mcr-triangle.png') top left no-repeat;
        width: 50px;
        height: 100%;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:after {
        background: url('/assets/img/big-change-mcr-triangle.png') top left no-repeat;
        width: 50px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        transform: rotate(180deg);
      }
    }
  }

  &--big-change-mcr-text {
    padding: 40px 20px;
    background: $big-change-a;

    @include mq($from: m) {
      padding: 40px 0px;
    }
  }

  &--padding {
    @include mq($from: m) {
      @include span(5 of 12);

      .home__copy--padding + & {
        @include push(1 of 12);
        float: left;
      }
    }
  }
}

.home__hub-map {
  border: 1px solid $brand-k;
  margin: 20px 0;
  @include mq($from: m) {
    margin: 0;
    @include span(1 of 2);
    @include last();
  }
}

.js-map {
  height: 500px;
  width: 100%;
}
