.block {
  &--pulldown {
    padding-bottom: 120px;

    @include mq($from: m) {
      padding-bottom: 140px;
    }
  }

  &--two-column {
    padding-top: 10px!important;
    display: flex;
    flex-direction: column;

    @include mq($from: m) {
      flex-direction: row;
    }
  }

  &--pushup {
    margin-top: -140px;

    @include mq($from: m) {
      margin-top: -160px;
    }
  }

  &--image {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;

    @include mq($from: s) {
      padding-top: 40px;
    }

    @include mq($from: l) {
      padding-top: 0;
      padding-bottom: 0;

      .block__content {
        display: table;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
      }
    }
  }

  &--our-team {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  }

  &--news {
    padding: 30px 10px;
  }

  &--big-change-mcr {
    background: $big-change-a;
    padding: 0!important;
  }

  &--standards-toolkit {
    background: rgba(10, 133, 100, 0.15);
    display: flex;
    align-items: stretch;
    padding: 0!important;
    @include mq($from: m) {
      .block__standards-toolkit-pad {
        width: 50%;
        background: url('/assets/img/toolkit-pad.png') right -40px no-repeat;
      }
    }
  }

  &--bcp-changeforgood {
    padding: 0!important;
    border-top: 70px $sea-blue solid;
    border-bottom: 70px $sea-blue solid;

    @include mq($from: m) {
      display: flex;
    }

    img {
      padding-top: 20px;
    }

    .block__bcp-changeforgood {
        @include mq($from: m) {
        margin: 0;
        padding-top: 40px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--alt-giving-soton {
    padding: 0!important;
    border-top: 60px $soton-giving solid;
    border-bottom: 60px $soton-giving solid;

    @include mq($from: m) {
      display: flex;
    }

    img {
      padding-bottom: 20px;
    }

    .block__alt-giving-soton {
      @include mq($from: m) {
        margin: 0;
        padding: 40px 0;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--big-change-luton {
    padding: 0!important;
    background: rgba(10, 133, 100, 0.15);

    @include mq($from: m) {
      display: flex;
    }

    img {
      padding-top: 70px;

      &:hover {
        opacity: 0.9;
      }
    }

    .block__big-change-luton {
      margin: -70px 10px 0 10px;

      @include mq($from: m) {
        margin: 0;
        padding-top: 40px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--cambridge-street-aid {
    padding: 0!important;
    background: rgba(10, 133, 100, 0.15);

    @include mq($from: m) {
      padding-top: 100px;
      display: flex;
    }
    img {
      &:hover {
        opacity: 0.9;
      }
    }

    .street-aid-video {
      padding-top: 100px;
      height: 415px;
      width: 560px;
      @include mq($from: m) {
        height: 315px;
        padding: 0;
      }
    }

    .block__cambridge-street-aid {
      margin: -70px 10px 0 10px;

      @include mq($from: m) {
        margin: 0;
        padding-top: 40px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--manc-digital-collective {
    padding: 0 0 10px 0!important;
    background-color: #293238;
    color: #fff;

    @include mq($from: m) {
      display: flex;
    }

    a {
      color: $brand-d;
    }

    img {
      width: 500px;
      margin: auto;
      &:hover {
        opacity: 0.5;
      }
    }

    .block__manc-digital-collective {
        @include mq($from: m) {
        margin: 0;
        padding-top: 25px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--change-into-action {
    padding: 0!important;
    border-top: 70px $cia-yellow solid;
    border-bottom: 70px $cia-yellow solid;

    @include mq($from: m) {
      display: flex;
    }

    img {
      padding-top: 20px;
    }

    .block__change-into-action {
        @include mq($from: m) {
        margin: 0;
        padding-top: 60px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--change-liverpool {
    padding: 10px 0 0 0!important;
    background: url('../img/liverpool-logos/bg_2.jpg') repeat-x;
    color: #1c1c1c;
    font-weight: bold;
    font-size: 17px;
    height: 500px;

    @include mq($from: m) {
      display: flex;
    }

    a {
      color: $change-liverpool;
      font-weight: bold;
    }

    img {
      width: 380px;
      margin: auto;
    }

    .block__change-liverpool {
        @include mq($from: m) {
        margin: 0;
        padding-top: 25px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--alternative-giving-campaign {
    padding: 0 0 10px 0!important;
    background-color: #383636;
    color: #fff;

    @include mq($from: m) {
      display: flex;
    }

    a {
      color: $brand-d;
    }

    img {
      width: 350px;
      margin: auto;
    }

    .block__alternative-giving-campaign {
        @include mq($from: m) {
        margin: 0;
        padding-top: 25px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &--street-aid-notts {
    padding: 0 0 10px 0!important;
    background-color: $street-aid-yellow;
    color: #fff;

    @include mq($from: m) {
      display: flex;
    }

    a {
      color: $brand-f;
    }

    img {
      padding-top: 20px;
      width: 400px;
      margin: auto;
    }

    .block__street-aid-notts {
        @include mq($from: m) {
        padding-top: 50px;
        @include span(6 of 12);
        border: none;
        align-items: center;
      }
    }
  }

  &--street-change-glasgow {
    padding: 30px 0 30px 0!important;
    background-color: $street-change-glasgow;
    color: #fff;

    .street-change-img {
      margin-top: 20px;
      height: 300px;
    }

    @include mq($from: m) {
      display: flex;
    }

    a {
      color: $brand-d;
    }

    img {
      width: 350px;
      margin: auto;
    }

    .block__street-change-glasgow {
        @include mq($from: m) {
        margin: 20px 0 0 0;
        padding-top: 25px;
        @include span(6 of 12);
        border: none;
        display: flex;
        align-items: center;
        height: 300px;
      }
    }
  }

  &--southampton-charter {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__southampton-charter {
      width: 100%;
      height: 500px;
      background: white url('/assets/img/header-background.png') right bottom repeat-x;

      @include mq($from: m) {
        width: 50%;
      }
    }

    .block__southampton-charter-buildings {
      height: 100%;
      width: 100%;
      position: relative;
      background: url('/assets/img/locations/southampton.png') center bottom no-repeat;

      & .content {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        height: 100%;
        position: absolute;
        text-align: center;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        & .title {
          h1 {
            border-top: 3px solid #ec6262;
            border-bottom: 3px solid #ec6262;
            width: auto;
            display: inline-block;
          }

          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }

  &--leeds-charter {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__leeds-charter {
      width: 100%;
      height: 500px;
      background: white url('/assets/img/header-background.png') right bottom repeat-x;

      @include mq($from: m) {
        width: 50%;
      }
    }

    .block__leeds-charter-buildings {
      height: 100%;
      width: 100%;
      position: relative;
      background: url('/assets/img/locations/leeds.png') center bottom no-repeat;

      & .content {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        height: 100%;
        position: absolute;
        text-align: center;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        & .title {
          h1 {
            border-top: 3px solid #ec6262;
            border-bottom: 3px solid #ec6262;
            width: auto;
            display: inline-block;
          }

          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }

  &--bcp-charter {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__bcp-charter {
      width: 100%;
      height: 500px;
      background: white url('/assets/img/header-background.png') right bottom repeat-x;

      @include mq($from: m) {
        width: 50%;
      }
    }

    .block__bcp-charter-buildings {
      height: 100%;
      width: 100%;
      position: relative;
      background: url('/assets/img/locations/bcp.png') center bottom no-repeat;

      & .content {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        height: 100%;
        position: absolute;
        text-align: center;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        & .title {
          h1 {
            border-top: 3px solid #ec6262;
            border-bottom: 3px solid #ec6262;
            width: auto;
            display: inline-block;
          }

          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }

  &--video-banner {
    background: linear-gradient(180deg, $brand-a 0%, $brand-b 100%);
    color: #fff;
    object-fit: cover;
    padding: auto;

    @media screen and (min-width: 750px) {
      .video-section {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &--brighton-print-map {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .brighton-print-map {
      width: 100%;
      height: 400px;
      background: url('/assets/img/maps/brighton.jpg') bottom right no-repeat ;
      box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

      @include mq($from: m) {
        width: 50%;
      }
    }

    .brighton-map-pin {
      height: 60%;
      width: 80%;
      position: relative;
      background: url('/assets/img/maps/map-pin.svg') center no-repeat;
    }
  }

  &--reading-print-map {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__reading-print-map {
      width: 100%;
      height: 350px;
      background: url('/assets/img/maps/reading.png') right bottom;
      box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);

      @include mq($from: m) {
        width: 50%;
      }
    }

    .block__reading-map-pin {
      height: 70%;
      width: 70%;
      position: relative;
      background: url('/assets/img/maps/map-pin.svg') center no-repeat;
    }
  }


  &--mcr-print-map {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .mcr-print-map {
      width: 100%;
      height: 350px;
      background: url('/assets/img/maps/mcr.png') center left no-repeat ;
      box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

      @include mq($from: m) {
        width: 50%;
      }
    }

    .block__mcr-map-pin {
      height: 60%;
      width: 80%;
      position: relative;
      background: url('/assets/img/maps/map-pin.svg') center no-repeat;
    }
  }

  &--leeds-print-map {
    background: rgba(10, 133, 100, 0.15);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__leeds-print-map {
      width: 100%;
      height: 350px;
      background: url('/assets/img/maps/leeds.jpg') right bottom;
      box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
      // &:hover {
      //   background: url('/assets/img/maps/leeds-hover.jpg') right bottom;
      // } un-comment when map link is added

      &--link-placeholder {
        position:absolute;
        width:143%;
        height:143%;
        top:0;
        left: 0;
        z-index: 1;
      }

      @include mq($from: m) {
        width: 50%;
      }
    }

    .block__leeds-map-pin {
      height: 70%;
      width: 70%;
      position: relative;
      background: url('/assets/img/maps/map-pin.svg') center no-repeat;
    }
  }

  &--notts-warm-spaces {
    background: $brand-a;
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__notts-warm-spaces{
      margin: auto 0 auto 20px;
      width: 100%;
      height: 350px;
      background: url('/nottingham/notts-warm-spaces.jpg') center;
      box-shadow: 5px 5px 5px 5px rgba(10, 133, 100, 0.2);
      transition: 0.3s ease-in;

      &:hover {
        box-shadow: none;
      }

      @include mq($from: m) {
        width: 50%;
      }
    }
  }

  &--notts-food-rota {
    background: rgba(10, 133, 100, 0.2);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__notts-food-rota {
      margin: auto 0 auto 20px;
      width: 100%;
      height: 350px;
      background: url('/nottingham/notts-food-rota.jpg') center;
      box-shadow: 5px 5px 5px 5px rgba(10, 133, 100, 0.2);
      transition: 0.3s ease-in;

      &:hover {
        box-shadow: none;
      }

      @include mq($from: m) {
        width: 50%;
      }
    }
  }

  &--chelmsford-food-rota {
    background: rgba(10, 133, 100, 0.2);
    display: block;
    padding: 0!important;

    @include mq($from: m) {
      display: flex;
      align-items: stretch;
    }

    .block__chelmsford-food-rota {
      margin: auto 0 auto 20px;
      width: 100%;
      height: 350px;
      background-color: red;
      background: url('/chelmsford/chelmsford-food-rota.jpg') center;
      box-shadow: 5px 5px 5px 5px rgba(10, 133, 100, 0.2);
      transition: 0.3s ease-in;

      &:hover {
        box-shadow: none;
      }

      @include mq($from: m) {
        width: 50%;
      }
    }
  }
  &--real-change-banner {
    padding: 0 20px 30px 20px!important;
    background-color: #5e71ba;
    background-image: url('/assets/img/real-change-banner/bg-triangle-top-mobile.png'),
                      url('/assets/img/real-change-banner/bg-triangle-bottom-mobile.png');
    background-position: top left,
                         bottom right;
    background-repeat: no-repeat,
                       no-repeat;

    @include mq($from: m) {
      .container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
      }
    }
    @include mq($from: xl) {
      padding: 0 20px!important;

      &--rochdale {
        background: #fbbf09 url('/assets/img/real-change-banner/rochdale/bg-desktop.png') no-repeat 50% top;
      }
      &--wigan-and-leigh {
        background: #fbbf09 url('/assets/img/real-change-banner/wigan-and-leigh/bg-desktop.png') no-repeat 50% top;
      }
      &--oldham {
        background: #fbbf09 url('/assets/img/real-change-banner/oldham/bg-desktop.png') no-repeat 50% top;
      }

      .container {
        padding-top: 0;
        height: 405px;
        align-items: center;
        flex-direction: row;
      }
    }

    &--wigan-and-leigh {
      background-color: #5e71ba;
    }

    &--rochdale {
      background-color: #388269;
    }

    &--oldham {
      background-color: #e96187;
    }

    .real-change-banner__logo {
      width: 70px;
      height: 101px;

      @include mq($from: m) {
        position: absolute;
        top: 0;
        left: 20px;
      }

      @include mq($from: xl) {
        width: 88px;
        height: 127px;
      }
    }

    .real-change-banner__heading {
      width: 239px;
      height: 136px;
      margin: 95px auto 40px auto;
      text-indent: -9999px;
      white-space: nowrap;

      @include mq($from: s) {
        margin-top: 40px;
      }

      @include mq($from: m) {
        margin-top: 0px;
        padding-top: 40px;
      }

      @include mq($from: xl) {
        width: 372px;
        height: 213px;
        margin: 0 5% 0 0;
        width: 55%;
      }

      &--wigan-and-leigh {
        background: url('/assets/img/real-change-banner/wigan-and-leigh/title-mobile.png') no-repeat;

        @include mq($from: xl) {
          background: url('/assets/img/real-change-banner/wigan-and-leigh/title-desktop.png') no-repeat right;
        }
      }

      &--rochdale {
        background: url('/assets/img/real-change-banner/rochdale/title-mobile.png') no-repeat;

        @include mq($from: xl) {
          background: url('/assets/img/real-change-banner/rochdale/title-desktop.png') no-repeat right;
        }
      }
      &--oldham {
        background: url('/assets/img/real-change-banner/oldham/title-mobile.png') no-repeat;

        @include mq($from: xl) {
          background: url('/assets/img/real-change-banner/oldham/title-desktop.png') no-repeat right;
        }
      }
    }

    .real-change-banner__copy {
      color: white;
      @include mq($from: xl) {
        width: 40%;
      }
    }
  }

  &--highlight {
    background: $brand-c;
    background: linear-gradient(to bottom, $brand-b, $brand-c);
    color: #fff;

    .h1,
    .h2 {
      color: #fff;
    }
    a {
      color: $brand-e;
    }
  }

  &--light-highlight {
    background: transparent;
    background: linear-gradient(180deg, $brand-a 0%, $brand-b 100%);
    color: #fff;

    a {
      color: $brand-e;
    }
  }

  &--street-aid-highlight {
    background: $street-aid-yellow;
    .h2 {
      color: #1c1c1c;
    }
    color: #1c1c1c;

    a {
      color: $brand-e;
    }
  }

  &--money-matters {
    background: $money-matters-background;

    .h1,
    .h2 {
      color: #fff;
    }
    a {
      color: $brand-e;
    }
  }

  &--grey-highlight {
    background: transparent;
    background-color: rgb(243, 243, 243);

    a {
      color: $brand-e;
    }
  }

  &--wmca-taskforce {
    text-align: center;
    // background: linear-gradient(180deg, $wmht-hero-lilac 0%, $wmht-lilac 100%);
  }

  &--orange {
    background: linear-gradient(180deg, #ffae00 0%, #a8570a 100%);
    color: #1c1c1c;
    a {
      color: #0057fa;
    }
  }

  &--blue-highlight {
    background: transparent;
    background: linear-gradient(180deg, #019aa8 0%, #026c76 100%);
    color: #fff;

    a {
      color: $brand-e;
    }
  }


  &--mcr-partnership {
    background: black;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), black);
    color: #fff;

    .h1,
    .h2 {
      color: #fff;
    }
    a {
      color: $brand-e;
    }
  }

  &--minor-highlight {
    background: $brand-q;
  }

  &--requests-detail {
    padding: 20px 0;
    background: $brand-i;
  }

  &--big-change-video {
    background: black;
    padding: 15px 0 10px 0!important;
  }

  &--cards {
    background: $brand-q;
    border-top: 1px solid $brand-k;
    @include cf();
  }

  &--swep-availability-notification {
    background: $brand-g;
    padding: 20px 0px!important;
    color: white;
    a {
       color: $brand-e;
    }
  }

  &--bed-every-night {
    background: #f0f0f0;
  }

  &--gm-header {
    @include mq($from: m) {
      background: #FFEDA1 url('../img/gm/header-bg.jpg') repeat-x bottom;
      padding: 40px 0!important;
    }

    &:hover {
      background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), #FFEDA1 url('../img/gm/header-bg.jpg') repeat-x bottom;
    }
  }

  &--aben-header {
      background:#f0f0f0;
      &:hover {
      background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), #f0f0f0;
    }
  }

  &__image-image {
    margin-bottom: 20px;
    position: relative;

    @include mq($from: l) {
      width: 50%;
      height: 100%;
      display: table-cell;
      margin-bottom: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 480px; // m breakpoint
      margin: 0 auto;

      @include mq($from: l) {
        max-width: none;
        margin: 0;
      }
    }

    &--overlaid {
      margin-bottom: 100px;
      @include mq($from: m) {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0
        }
      }
    }
  }

  &__image-description {
    padding-left: $site-gutter;
    padding-right: $site-gutter;

    @include mq($from: l) {
      width: 50%;
      position: relative;
      display: table-cell;
      padding: 0;
    }
  }

  &__image-copy {
    @include mq($from: l) {
      position: absolute;
      top: 50%;
      left: 0px;
      width: 100%;
      transform: translateY(-50%);
      padding: 0 40px;
      max-width: 500px;
    }
  }
}

.block__content {
  &--central-cta {
    text-align: center;
  }

  &--join-mailing-list {
    &:before {
      content: '';
      width: 60px;
      height: 50px;
      background: url('../img/icon-tileset.png') 178px 80px;
      margin: 10px auto;

      @include mq($from: m) {
        margin: 0 auto 20px auto;
      }
    }
  }

  &--donate {
    &:before {
      content: '';
      width: 60px;
      height: 50px;
      background: url('../img/icon-tileset.png') 76px 189px;
      margin: 10px auto;

      @include mq($from: m) {
        margin: 0 auto 20px auto;
      }
    }
  }

  &--vert-fill {
    padding: 40px 0;
    @include mq($from: m) {
      padding: 0;
      display: flex;
      align-items: flex-end;
    }
  }
}

.donation-banner {
  width: 100%;
  background-color: $big-change-a;
  margin: 0;
  padding: 10px;
  text-align: center;
  @include mq($from: s) {
    padding: 40px;
    width: 95%;
    margin: 30px auto;
  }
}

.donation-banner__heading {
  font-size: 28px;
  margin: 0;
}

.money-matters-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.money-matters-title__heading {
  color: $money-matters-text;
  font-weight: 800;
  text-shadow: 2px 2px #3f3f3f;
  text-align: left;
  width: 230px;
  @include mq($from: s) {
    width: auto;
  }
}

.money-matters-title__content {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
}

.sleeping-rough-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sleeping-rough-title__heading {
  text-align: left;
  width: 230px;
  @include mq($from: s) {
    width: auto;
  }
}

.sleeping-rough-title__icon {
  height: 60px;
  width: 60px;
  margin-right: 15px;
@include mq($from: s) {
  height: 70px;
  width: 70px;
}
@include mq($from: m) {
  height: 49px;
  width: 49px;
  }
}

.sleeping-rough-title__content {
  font-size: 20px;
  line-height: 1.2;
}

.wakefield-cares {
  display: flex;
  flex-direction: column;
  @include mq($from: m) {
    flex-direction: row;
  }
}

.wakefield-cares__content {

  @include mq($from: m) {
    width: 60%;
  }
}

.wakefield-cares__title {
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  margin: 0 0 20px 0;
  line-height: 1.3;
  color: #fff;
}

.wakefield-cares__logos {
  margin: auto;
}

.single-column {
  padding-right: 30px;

  @include mq($from: m) {
    width: 400px;
  }
}

.block__link {
  &:hover {
      text-decoration: none!important;
  }
}

.block-footer {
  text-align: center;
  padding: 20px 0;
}
