.breadcrumbs {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0;
    padding: 0 6px 0 0;
    display: inline-block;
    color: #fff;

    a {
      color: $brand-e;
      text-decoration: none;
    }

    &:last-of-type:after {
      content: none;
    }

    &:after {
      content:'\3E';
      margin-left: 10px;
      color: $brand-e;
    }
  }
}
