.btn {
  background: none;
  border: 0;
  padding: 0;
  appearance: none;
  display: inline-block;
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  outline: none;

  &:hover {
    .btn__text {
      box-shadow: none;
    }
  }

  // Components
  &__icon {
    width: 100%;
    display: block;
    background: linear-gradient(#ADE1F9, #FFFFFF);
    border-radius: 10px 10px 0 0;
    position: relative;

    svg {
      width: 100%;
      height: 110px;
    }

    & + span {
      border-radius: 0 0 10px 10px;
    }
  }

  &__text {
    display: block;
    padding: 15px 20px;
    border-radius: 10px;
    transition: background-color 250ms linear, box-shadow 250ms linear;
    margin-bottom: 3px; // safari box-shadow fix
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 250ms linear;
    border-radius: 10px 10px 0 0;
  }

  // Variants
  &--brand-d {
    .btn__text {
      background-color: $brand-d;
      color: #fff;
      box-shadow: 0px 3px 0px 0px darken( $brand-d, 15% );

      &:hover {
        background-color: darken( $brand-d, 5% );
      }
    }
  }

  &--brand-e {
    .btn__text {
      background-color: $brand-e;
      color: #111;
      box-shadow: 0px 3px 0px 0px darken( $brand-e, 15% );

      &:hover {
        background-color: darken( $brand-e, 5% );
      }
    }
  }

  &--brand-g {
    .btn__text {
      background-color: $brand-g;
      color: #fff;
      box-shadow: 0px 3px 0px 0px darken( $brand-g, 15% );

      &:hover {
        background-color: darken( $brand-g, 5% );
      }
    }
  }

  &--plain {
    .btn__text {
      box-shadow: none;
      border-radius: 0;
    }
  }
}
