.btn {
  appearance: none;
  background: none;
  border: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 20px;
  outline: none;
  padding: 0;
  text-align: center;
  text-decoration: none!important;

  &:hover {
    .btn__text {
      box-shadow: none;
    }
  }

  // Components
  &__icon {
    width: 100%;
    display: block;
    background: #ADE1F9;
    background: linear-gradient(to bottom, #ADE1F9, #FFFFFF);
    border-radius: 10px 10px 0 0;
    position: relative;

    svg {
      width: 100%;
      height: 110px;
    }

    & + span {
      border-radius: 0 0 10px 10px;
    }
  }

  &__text {
    display: block;
    padding: 15px 20px;
    border-radius: 10px;
    transition: background-color 250ms linear, box-shadow 250ms linear;
    margin-bottom: 3px; // safari box-shadow fix
    font-family: $font-headline;
    font-weight: $font-headline-weight;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 250ms linear;
    border-radius: 10px 10px 0 0;
  }

  // Variants
  &--cosy {
    margin-top: 5px;
  }

  &--always-full {
    width: 100%;
  }

  &--small {
    .btn__text {
      padding: 5px 10px;
    }
  }

  &--in-copy {
    margin-top: 0;
  }

  &--emergency-advice {
    width: 100%;
    padding: 0;

    @include mq($from: m) {
      width: 50%;
    }
  }

  &--just-giving {
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px darken( $just-giving, 15% );
    transition: background-color 250ms linear, box-shadow 250ms linear;

    &:hover {
      box-shadow: none;
    }
  }

  &--brand-d {
    .btn__text {
      background-color: $brand-d;
      color: #101011;
      box-shadow: 0px 3px 0px 0px darken( $brand-d, 15% );

      &:hover {
        background-color: darken( $brand-d, 5% );
      }
    }
  }

  &--brand-e {
    .btn__text {
      background-color: $brand-e;
      color: $brand-m;
      box-shadow: 0px 3px 0px 0px darken( $brand-e, 15% );

      &:hover {
        background-color: darken( $brand-e, 5% );
      }
    }
  }

  &--brand-g {
    .btn__text {
      background-color: $brand-g;
      color: #fff;
      box-shadow: 0px 3px 0px 0px darken( $brand-g, 15% );

      &:hover {
        background-color: darken( $brand-g, 5% );
      }
    }
  }

  &--brand-h {
    .btn__text {
      background-color: $brand-h;
      color: #fff;
      box-shadow: 0px 3px 0px 0px darken( $brand-h, 15% );

      &:hover {
        background-color: darken( $brand-h, 5% );
      }
    }
  }

  &--west-mids-locations {
    transition: background-color 250ms linear, box-shadow 250ms linear;
    margin: 10px;
    .btn__text {
      background-color: #e6f2ee;
      color: #83a79b;
      font-size: 20px;
      text-shadow: none;


      &:hover {
        background-color: darken( #e6f2ee, 5% );
        border: 2px solid #83a79b;
      }
    }
  }

  &--brand-scg {
    .btn__text {
      background-color: #fbbb0e;
      color: #101011;
      box-shadow: 0px 3px 0px 0px darken( $brand-d, 15% );

      &:hover {
        background-color: darken( $brand-d, 5% );
      }
    }
  }

  &--big-change {
    .btn__text {
      background-color: $big-change-b;
      color: #fff;
      box-shadow: 0px 3px 0px 0px darken( $big-change-b, 15% );

      &:hover {
        background-color: darken( $big-change-b, 5% );
      }
    }
  }

  &--change-liverpool {
    .btn__text {
      background-color: #1c1c1c;
      color: #fff;
      box-shadow: 0px 3px 0px 0px darken( $change-liverpool, 15% );

      &:hover {
        background-color: darken( $change-liverpool, 5% );
      }
    }
  }

  &--plain {
    .btn__text {
      box-shadow: none;
      border-radius: 0;
    }
  }

  &--full {
    width: 100%;

    @include mq($from: m) {
      width: auto;

      .btn__text {
        padding-right: 60px;
        padding-left: 60px;
      }
    }
  }

  &--full-inline {
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 40px !important;

    @include mq($from: m) {
      width: auto;

      .btn__text {
        padding-right: 60px;
        padding-left: 60px;
      }
    }
  }

  &--short {
    .btn__text {
      padding: 5px 30px;
    }
  }

  &--print {
    @include mq($from: m) {
      margin-left: 40px;
    }
  }

  &--centred {
    margin: 0 auto;
    display: block;
  }

  &--inline-fill {
    width: 100%!important;
    @include mq($from: m) {
      width: auto!important;
      flex-shrink: 1;
      margin: 0;
      .btn__text {
        padding: 8px 20px;
      }
    }
  }

  &--togglable {
    display: inline-block;
    margin: -2px 0 0 0;
    .btn__text {
      font-size: 0.8em;
      padding: 5px 8px;
      background: $brand-q;
    }
    &.btn--brand-p.is-selected .btn__text {
      background: $brand-p;
      color: white;
    }
  }

  .card__details--fat-bottom & {
    position: absolute;
    bottom: 20px;
  }

  .card--brand-h & {
    margin: 0;
  }
}

.js-print-btn {
  @include printHide();
}
