.btn {
  background: none;
  border: 0;
  padding: 0;
  appearance: none;
  display: inline-block;
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  outline: none;

  // Components
  &__icon {
    height: 80px;
    width: 100%;
    display: block;
    background-position: center top;
    background-size: 100% auto;

    @include mq($from: xs) {
      height: 100px;
    }

    @include mq($from: s) {
      height: 120px;
    }

    @include mq($from: m) {
      height: 190px;
    }

    @include mq($from: l) {
      height: 140px;
    }

    & + span {
      border-radius: 0 0 10px 10px;
    }
  }

  &__text {
    display: block;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px darken( $brand-d, 15% );
    transition: background-color 200ms ease, box-shadow 200ms ease;

    &:hover {
      box-shadow: none;
    }
  }

  // Variants
  &--brand-d {
    .btn__text {
      background-color: $brand-d;
      color: #fff;

      &:hover {
        background-color: darken( $brand-d, 5% );
      }
    }
  }

  &--brand-e {
    .btn__text {
      background-color: $brand-e;
      color: #111;

      &:hover {
        background-color: darken( $brand-e, 5% );
      }
    }
  }

  &--brand-g {
    .btn__text {
      background-color: $brand-g;
      color: #fff;
      box-shadow: 0px 5px 0px 0px darken( $brand-g, 15% );
      margin-top: 40px;
      margin-bottom: 40px;

      &:hover {
        background-color: darken( $brand-g, 5% );
      }
    }
  }

  &--plain {
    .btn__text {
      box-shadow: none;
      border-radius: 0;
    }
  }
}
