// generic card styles

$radius: 7px;
$spacing: 20px;

.card {
  border-radius: $radius;
  margin-bottom: $spacing;
  text-align: center;
}

.card__details {
  padding: $spacing;
}

.card__title {
  margin-top: 0;
}

.card--donate {
  background: $brand-p;
  background: linear-gradient(to bottom, $brand-b, $brand-p);
  color: #FFF;
  position: relative;

  @include mq($from: m) {
    float: right;
    width: 80%;
  }

  .card__details {
    @include mq($from: m) {
      float:left;
      width: 33.33%;
      padding: 25px;
    }
  }

  .card__footer {
    text-align: left;
    background: $brand-i;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    color: $brand-k;
    padding: $spacing;

    @include mq($from: m) {
      border-radius: 0 $radius $radius 0;
      height: 100%;
      padding-top: 20px; // Have to be specific to account for heading in .card__details - see designs
      position: absolute;
      right: 0;
      width: 66.66%;
    }
  }
}

.card--brand-h {
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);

  @include mq($from: m) {
    @include span(1 of 4);
    &:nth-of-type(4n) { @include last() }
  }

  .card__title {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    background: $brand-h;
    height: 140px;
    padding: 15px 10px;
    * {
      color: white;
    }
  }
  .card__details {
    background: white;
    text-align: left;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  
  .card__details__description {
    text-decoration: none!important;
    margin-bottom: 20px!important;
  }
  .card__details__link {
    text-decoration: underline;
  }
}

.card--tall {
  .card__title {
    height: 220px;
    overflow-y: scroll;

    *:last-child { padding-bottom: 10px }
  }
  .btn { 
    width: 100%;
    margin: 0;
  }
}