.card-sort {
  @include cf();
  margin: 0px 0 10px;
}

.card-sort__title {
  margin-right: 15px;
  float: left;
}

.card-sort__item {
  margin-right: 15px;
  text-decoration: underline!important;
  &--selected {
    text-decoration: none!important;
  }
}

.card-pagination {
  clear: both;
}