// generic card styles

$radius: 7px;
$spacing: 20px;

.cards__list {
  @include cf();
  margin-bottom: 10px;
  list-style: none;
  padding: 0;

  &--single-col {
    @include mq($from: m) {
      @include span(7 of 12);
      @include first();
    }

    @media print {
      & {
        width: 100%;
        float: none;
        margin-right: 0;

        .accordion {
          max-width: 100%;
          box-shadow: none;

          .accordion__header {
            padding-left: 10px;
            color: white;

            .accordion__icon {
              display: none;
            }
          }
        }
      }
    }
  }
}

.card {
  border-radius: $radius;
  margin-bottom: $spacing;
  text-align: center;

  @media print {
    & {
      box-shadow: none;
    }
  }
}

.card__details {
  padding: $spacing;
  position: relative;

  p:last-of-type {
    padding-bottom: 16px;
  }

  &--fat-bottom {
    height: 226px;
  }
}

.card__details-entry {
  border-bottom: 1px solid $brand-r;
  margin-bottom: 20px;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0px;
  }
}

.card__title {
  margin-top: 0;
  text-align: left;

  a {
    text-decoration: none;
    color: white!important;
  }
}

.card--donate {
  background: $brand-p;
  background: linear-gradient(to bottom, $brand-b, $brand-p);
  color: #FFF;
  position: relative;

  @include mq($from: m) {
    float: right;
    width: 80%;
  }

  .card__details {
    @include mq($from: m) {
      float:left;
      width: 33.33%;
      padding: 25px;
    }
  }

  .card__footer {
    text-align: left;
    background: $brand-i;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    color: $brand-k;
    padding: $spacing;

    @include mq($from: m) {
      border-radius: 0 $radius $radius 0;
      height: 100%;
      padding-top: 20px; // Have to be specific to account for heading in .card__details - see designs
      position: absolute;
      right: 0;
      width: 66.66%;
    }
  }
}

.card__details-dictionary {
  @include cf();
  margin: 20px 0 0 0;
}

.card__details-dictionary-title {
  font-family: $font-headline;
  font-weight: $font-headline-weight;

  @include mq($from: m) {
    float: left;
    clear: left;
    margin-right: 1em;
    width: 150px
  }
}

.card__details-dictionary-desc {
  display: block;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
  @include mq($from: m) {
    margin-bottom: 0;
    margin-left: 166px;
    &::after {
      content: ' ';
      height: 1em;
      display: inline-table;
    }
  }
}

.card--grid-1-of-3 {
  @include mq($from: m) {
    @include span(1 of 3);
    &:nth-of-type(3n) { @include last() }
  }
}

.card--grid-1-of-4 {
  @include mq($from: m, $until: l) {
    @include span(1 of 2);
    &:nth-of-type(2n) { @include last() }
  }
  @include mq($from: l) {
    @include span(1 of 4);
    &:nth-of-type(4n) { @include last() }
  }
}

.card--cta {
  background: white;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
  padding: 15px;
  text-align: left;
  height: auto;

  @include mq($from: m) {
    height: 315px;
  }

  @include mq($from: l) {
    height: 305px;
  }

  p {
    @include mq($from: m) {
      height: 122px
    }
    @include mq($from: l) {
      height: 112px
    }
  }

  .btn {
    margin-bottom: 0;
  }

  .card__title {
    @include cf();
    display: flex;
    align-items: center;
    &:before {
      content: '';
      display: block;
      width: 65px;
      height: 55px;
      background: url('../img/icon-tileset.png');
      float: left;
    }

    &--help {
      &:before {
        background-position: -126px 83px;
      }
    }

    &--card {
      &:before {
        background-position: -326px 185px;
      }
    }

    &--briefcase {
      &:before {
        background-position: -224px 185px;
      }
    }

    &--form {
      &:before {
        background-position: -224px 285px;
      }
    }

    &--hand {
      &:before {
        background-position: -326px 83px;
      }
    }

    &--kettle {
      &:before {
        background-position: -120px 285px;

        @include mq($from: l) {
          width: 90px;
        }
      }
    }

    &--street-support {
      &:before {
        height: 60px;
        background-position: -23px 288px;
      }

      &--advice {
        &:before {
          width: 90px;
        }
      }
    }
  }
}

.card--brand-h {
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);

  .card__title {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    background: $brand-h;
    height: 220px;
    padding: 20px 10px 10px 10px;
    text-align: left;
    * {
      color: white;
    }
    *:last-child { padding-bottom: 10px }
  }
  .card__details {
    background: white;
    text-align: left;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  .card__details p {
    padding: 0px;
    margin-bottom: 20px;
  }

  .card__details__description {
    text-decoration: none!important;
    margin-bottom: 20px!important;
  }
  .card__details__link {
    text-decoration: underline;
    @include printHide();
  }
}

.card--big {
  width: 100%;
  .card__title {
    height: auto;
  }
}

.card--gmaps {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  left: -110px;
  width: 100%;

  @include mq($from: m) {
    left: -150px;
  }

  .card__title {
    height: auto;
    * {
      padding: 0;
      margin: 0;
    }
  }
}

.card__gmaps-container {
  width: 220px;
  height: 0;
  position: absolute;
  margin-top: -33px;

  @include mq($from: m) {
    width: 300px;
  }
}

.card__gmaps-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: /* TIP_HEIGHT= */ 16px solid white;
}

.card__close {
  background: none;
  border: none;
  color: white;
  display: block;
  float: right;
  font-size: 16px;
  margin: -15px -5px 0 0 !important;
  padding: 5px !important;
}

.team-card-container {
  display: flex;
  flex-wrap: wrap;
}

.team-card {
  position: relative;
  width: 100%;
  border: 1px solid #9c9c9c;
  box-shadow: 2px 2px 2px 2px #c4c4c4;
  margin: 10px 20px 10px 0;
  padding: 0 10px 10px 10px;
  border-radius: 5px;

  @include mq($from: s) {
    width: 220px;
  }

  a {
    position: absolute;
    bottom: 20px;
  }
}

.team-card__heading {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.team-card__subheading {
  font-size: 14px;
  margin-top: 0px !important;
}

.team-card__content {
  padding-bottom: 20px;
}

.team-card__img {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
