.category-view-options {
  @include cf();
  text-align: center;
  margin-bottom: 20px;
  @include printHide();
}

.category-view-options__title {
  @include mq($from: m) {
    @include span(1 of 4);
    padding-top: 14px;
  }
}

.category-view-options__items {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;

  @include mq($from: m) {
    @include span(3 of 4);
    @include last();
  }
}

.category-view-options__item {
  margin: 0;
  padding: 0;
  @include span(1 of 3);
  &:last-child {
    @include last();
  }
}

.category-view-options__button {
  margin: 0;
  .btn__text {
    padding: 0;
  }

  color: $brand-a!important;

  &.selected {
    color: $brand-h!important;
  }
}