.category-view-options {
  @include cf();
  text-align: center;
  margin-bottom: 40px;
  @include printHide();
border-bottom: 2px solid $brand-a;
}

.category-view-options__items {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;

  @include mq($from: m) {
    @include span(3 of 6);
    @include last();

    .category-view-options--two-options & {
      @include span(2 of 6);
      @include last;
    }
  }
}

.category-view-options__item {
  margin: 0;
  padding: 0;
  @include span(1 of 3);

  .category-view-options--two-options & {
    @include span(1 of 2);
  }

  &:last-child {
    @include last();
  }
}

.category-view-options__button {
  margin: 0;
  width: 100%;
  padding: 6px 0 3px 0;
  border-radius: 10px 10px 0px 0px;
  .btn__text {
    padding: 0;
  }

  color: $brand-a!important;

  &.selected {
    color: white!important;
    background-color: $brand-a;
  }
}
