%manchester-header {
  &:before {
    background-image: url('../img/manc-buildings.png');
  }
}

%leeds-header {
  &:before {
    background-image: url('../img/leeds-buildings.png');
  }
}

%bournemouth-header {
  // background-image: url('../img/header-background-bournemouth.png');
  &:before {
    background-image: url('../img/bournemouth-buildings.png');
  }
}

%portsmouth-header {
  // background-image: url('../img/header-background-bournemouth.png');

  &:before {
    background-image: url('../img/portsmouth-buildings.png');
  }
}

%bradford-header {
  &:before {
    background-image: url('../img/bradford-buildings.png');
  }
}

%liverpool-header {
  &:before {
    background-image: url('../img/liverpool-buildings.png');
  }
}

%southampton-header {
  // background-image: url('../img/header-background-bournemouth.png');

  &:before {
    background-image: url('../img/southampton-buildings.png');
  }
}

.city-header {
  background-position: right bottom;
  background-size: 940px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mq($from: m) {
    &:before {
      background-position: 66% bottom;
      background-repeat: no-repeat;
      background-size: 600px;
      bottom: 2px;
      content: '';
      display: inline-block;
      height: 250px;
      left: 50%;
      position: absolute;
      width: 600px;
    }
  }

  & .container {
    position: relative;
  }
}

.manchester .city-header {
  @extend %manchester-header;
  color: $brand-k;
}

.leeds .city-header {
  @extend %leeds-header;
  color: $brand-k;
}

.bournemouth .city-header{
  @extend %bournemouth-header;
  color: $brand-k;
}

.portsmouth .city-header{
  @extend %portsmouth-header;
  color: $brand-k;
}

.bradford .city-header{
  @extend %bradford-header;
  color: $brand-k;
}

.southampton .city-header{
  @extend %southampton-header;
  color: $brand-k;
}

  .liverpool .city-header {
    @extend %liverpool-header;
    color: $brand-k;


  @include mq($from: m) {
    color: white;
  }
}
