%manchester-header {
  background-image: url('../img/header-background-leeds.png');

  &:before {
    height: 370px;
    background-image: url('../img/manc-buildings.png');
    background-position: 33% bottom;
    background-repeat: no-repeat;
  }
}

%leeds-header {
  background-image: url('../img/header-background-leeds.png');

  &:before {
    height: 324px;
    background-image: url('../img/leeds-buildings.png');
    background-repeat: no-repeat;
    background-position: 33% bottom;
  }
}

%bournemouth-header {
  background-image: url('../img/header-background-bournemouth.png');

  &:before {
    height: 420px;
    background-image: url('../img/bournemouth-buildings.png');
    background-repeat: no-repeat;
    background-position: 0 bottom;
    left: 0;
  }
}

%portsmouth-header {
  background-image: url('../img/header-background-bournemouth.png');

  &:before {
    height: 420px;
    background-image: url('../img/portsmouth-buildings.png');
    background-repeat: no-repeat;
    background-position: 0 bottom;
    left: 0;
  }
}

%bradford-header {
  background-image: url('../img/header-background-leeds.png');

  &:before {
    height: 420px;
    background-image: url('../img/bradford-buildings.png');
    background-repeat: no-repeat;
    background-position: 0 bottom;
    left: 0;
  }
}

.city-header {
  background-position: left bottom;
  background-size: 940px;
  position: relative;
  height: 500px;
  padding-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    position: absolute;
    display: inline-block;
    content: '';
    left: 0px;
    bottom: 18px;
    width: 100%;
    background-size: 600px;
    @include mq($from: m) {
      width: 600px;
    }
  }

  & .container {
    position: relative;
  }
}

.manchester .city-header,
.leeds .city-header--manchester {
  @extend %manchester-header;
  color: $brand-k;
}

.leeds .city-header,
.manchester .city-header--leeds {
  @extend %leeds-header;
  color: $brand-k;
}


.bournemouth .city-header,
.manchester .city-header--bournemouth {
  @extend %bournemouth-header;
  color: $brand-k;
}

.portsmouth .city-header,
.manchester .city-header--portsmouth {
  @extend %portsmouth-header;
  color: $brand-k;
}

.bradford .city-header,
.manchester .city-header--bradford {
  @extend %bradford-header;
  color: $brand-k;

  @include mq($from: m) {
    color: white;
  }
}
