.container {
  @include container();

  padding: 0 $site-gutter;

  &--location-header {
    margin-left: inherit;
    margin-right: inherit;
    padding-bottom: $site-gutter;

    @include mq($from: m) {
      width: 100%;
      min-height: 200px;
    }
  }

  &--big-change-mcr {
    padding: 0;

    @include mq($from: m) {
      display: flex;
      justify-content: space-between;
    }
  }

  &--central-cta {
    @include mq($from: m) {
      width: 50%;
    }
    @include mq($from: l) {
      width: 33%;
    }
  }

  &--gm-header {
  background: url('../img/gm/gmhan-logo.png') no-repeat top center;
  padding-top: 180px;

  @include mq($from: m) {
    padding: 40px 20px 40px 0;
    padding-left: 200px;
    background-position: 20px center;
    min-height: 160px;
  }
}

  &--footer {
    @include mq($from: m) {
      display: flex;
      align-items: flex-end;
    }
  }
}
