.container {
  @include container();

  padding: 0 $site-gutter;

  &--location-header {
    margin-left: inherit;
    margin-right: inherit;
    padding-bottom: $site-gutter;

    @include mq($from: m) {
      width: 100%;
      min-height: 200px;
    }
  }

  &--big-change-mcr {
    padding: 0;

    @include mq($from: m) {
      display: flex;
      justify-content: space-between;
    }
  }

  &--footer {
    @include mq($from: m) {
      display: flex;
      align-items: flex-end;
    }
  }
}
