.cta {
  @include mq($from: xs) {
    @include span(4 of $grid-column);
    margin-bottom: 20px;

    &:nth-of-type(even) {
      @include last();
    }
  }

  @include mq($from: m) {
    @include span(2 of $grid-column);
    margin-bottom: 0;

    // Reset above last style
    &:nth-of-type(even) {
      @include span(2 of $grid-column);
    }

    // TODO: if number of categories on /find-help page is odd we should uncomment it.    
    // &:last-of-type {
    //   @include last();
    // }

    &--last-of-3 {
      margin-left: 0!important;
    }
  }

  // Because a split element is a 4 column item, resize them here
  .split__element & {
    @include mq($from: xs) {
      @include span(2 of 4);
    }

    @include mq($from: m) {
      @include span(2 of 4);
    }
  }

  &:hover {
    .btn__overlay {
      opacity: 1;
    }
  }

  // If there is no icon, we need to set the width of the btn to the container
  .btn {
    width: 100%;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 15px !important;
  }
}

// Variations
.cta--centered {
  display: block;
  margin: 20px auto;
  max-width: 280px;
}

.cta--swep-notification {
  @include cf();
  @include span(8 of $grid-column);
  float: none;

  & .btn {
    width: 100%;
    margin-bottom: 0
  }
}

.cta--cv-notification {
  background-color: $brand-g;
  @include cf();
  @include span(8 of $grid-column);
  float: none;

  a {
    color: #fff;

    &:hover {
        color: $brand-j;
      }
  }
}

.cta--money-advice {
  background-color: $brand-p;
  @include cf();
  @include span(8 of $grid-column);
  float: none;
}

.home-cta {
  @include span(1 of 2);

  padding: 10px 0px 10px 0;
  text-align: center;

  &:nth-of-type(even) {
    @include last();
  }

  @include mq($from: m) {
    @include span(1 of 3);
    text-align: left;
    padding: 10px 60px 10px 0;

    &:nth-of-type(even) {
      @include span(1 of 3);
    }

    &--right,
    &:nth-of-type(3n) {
      @include last();
    }
  }
}

.home-cta__link {
  display: block;

  @include mq($from: m) {
    padding: 10px 0 0 0;
    height: 65px;
  }

  &:before {
    content: '';
    display: block;
    width: 65px;
    height: 65px;
    background: url('../img/icon-tileset.png');
    margin: 0 auto;

    @include mq($from: m) {
      float: left;
      margin-top: -10px;
    }
  }

  .home-cta--pin & {
    &:before {
      background-position: -20px 87px;
    }
  }

  .home-cta--help & {
    &:before {
      background-position: -120px 87px;
    }
  }

  .home-cta--hand & {
    &:before {
      background-position: -326px 83px;
    }
  }

  .home-cta--search & {
    &:before {
      background-position: -120px -120px;
    }
  }

  .home-cta--card & {
    &:before {
      background-position: -320px -120px;
    }
  }

  .home-cta--book & {
    &:before {
      background-position: -20px -120px;
    }
  }

  .home-cta--briefcase & {
    &:before {
      background-position: -220px -120px;
    }
  }
}
