.cta {
  @include span(full);
  margin-top: 20px;
  margin-bottom: 20px;

  @include mq($from: xs) {
    @include span(4 of $grid-column);
  }

  @include mq($from: m) {
    @include span(2 of $grid-column);
  }

  // Because a split element is a 4 column item, resize them here
  .split__element & {
    @include mq($from: xs) {
      @include span(2 of 4);
    }

    @include mq($from: m) {
      @include span(2 of 4);
    }
  }

  &:hover {
    .btn__overlay {
      opacity: 1;
    }
  }

  // If there is no icon, we need to set the width of the btn to the container
  .btn {
    width: 100%;
  }

  /*
  &__description {

  }
  */
}
