$smallPadding: 10px;
$normalPadding: 25px;
$columned-dropdown-item-width: 170px;
$columned-dropdown-column-count: 3;

.header {
  background: $brand-a;
  background: linear-gradient(to bottom, $brand-a, #339378);

  @include printHide();
}

.header__title {
  color: #FFF;

  @include mq($from: m) {
    display: inline-block;
    padding: $normalPadding $smallPadding $normalPadding 0;
    float: left;
    margin: 0;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 38px;
  }

  .text {
    display: inline-block;
    line-height: 1.1em;

    @include mq($from: m) {
      font-size: 22px;
    }
  }
}

.header--desktop {
  display: none;
  border-bottom: 2px solid $brand-e;

  @include mq($from: m) {
    display: block;
  }
}

.header__nav {
  float: right;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: $brand-c;

  .hubs-nav & {
    background: $brand-s;
  }

  &--hub {
    display: none;
  }

  &--sub-list {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10px 0;

    @include mq($from: m, $until: xxl) {
      width: $columned-dropdown-item-width;
      // &:last-of-type {
      //   right: 0px;
      // }
    }
  }

  &--columned {
    @include mq($from: m) {
      column-count: $columned-dropdown-column-count;
      width: 541px!important; // hack!
      margin-left: -$columned-dropdown-item-width;
    }
  }

  .nav__item--about > &--sub-list,
  .nav__item--locations > &--sub-list {
    @include mq($from: m, $until: xxl) {
      right: 0px
    }
  }
}

.nav__item {
  float: left;
  margin-bottom: 0;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }

    .nav__list--sub-list &:hover {
      background: $brand-r;
    }
  }

  &:hover {
    background: $brand-c;
    & > .nav__list {
      display: block;            
    }
  }

  .hubs-nav & {
    a { 
      color: $brand-k
    }
    &:hover {
      background: $brand-s;
    }
  }

  .nav__list--sub-list & {
    float: none;
    @include mq($from: m) {
      width: $columned-dropdown-item-width;
    }

    a {
      display: block;
      padding: 5px 30px 5px 10px;

      &:hover {
        background: $brand-r;
      }

      .hubs-nav &:hover {
        background: $brand-e;
      }
    }
  }

  .nav__list--columned & {
    @include mq($from: m) {
      width: $columned-dropdown-item-width;
    }
  }
  
  &--mobile-only {
    display: none;
  }

  &--hub-nav {
    width: 100%;
    &:hover { 
      background: none!important;
    }
  }
}

.nav__item-link {
  display: block;
  color: white;
  padding: 37px 10px;

  &:hover {
    text-decoration: none;
  }

  .hubs-nav & {
    color: $brand-k;
    padding: 18px 10px;

    &:hover {
      background: $brand-s;
    }
  }

  .hubs-nav &--has-sub-nav {
    padding-right: 35px;
  }

  &--has-sub-nav {
    padding-right: 35px;
    position: relative;
    &::after {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      margin-left: 1em;
      top: 3em;
      position: absolute;
    }

    .hubs-nav & {
      &::after {
        border-top: 5px solid $brand-k; 
        top: 1.7em;
      }
    }
  }
}

.hubs-nav {
  display: none;
  margin-top: -2px;
  background: $brand-e;

  @include mq($from: m) {
    display: block;
  }
}

.hub-nav-container {
  ul {
    list-style: none;
  }
}

// Active Section
@each $section in $nav-sections {
  .section--#{$section} .nav__item--#{$section} {
    @include mq($from: m) {
      background: $brand-c;
    }
  }
  .section--#{$section} .nav__list--hub .nav__item--#{$section} {
    @include mq($from: m) {
      background: $brand-s;
    }
  }
}

// Active page
@each $page in join(join($nav-pages, $generated-nav-pages), $generated-locations-for-nav) {
  .page--#{$page} {
    .header__nav .nav__item--#{$page} > a {
      @include mq($from: m) {
        background: $brand-c;
      }
    }
    .header__nav .nav__list--sub-list .nav__item--#{$page} > a {
      @include mq($from: m) {
        background: $brand-r;
      }
    }

    .hubs-nav .nav__item--#{$page} {
      @include mq($from: m) {
        background: $brand-s;
      }
    }

    .hubs-nav .nav__list--sub-list .nav__item--#{$page} {
      @include mq($from: m) {
        background: $brand-e;
      }
    }
  }
}

// Active location nav
@each $location in $generated-locations-for-nav {
  .location--#{$location} {
    [data-city="#{$location}"] {
      display: block!important;
    }
  }
}
