$smallPadding: 10px;
$normalPadding: 25px;

.header {
  background: $brand-a;
  background: linear-gradient(to bottom, $brand-a, #339378);

  @include printHide();
}

.header__title {
  color: #FFF;

  @include mq($from: m) {
    display: inline-block;
    padding: $normalPadding $smallPadding $normalPadding 0;
    float: left;
    margin: 0;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 38px;
  }

  .text {
    display: inline-block;
    line-height: 1.1em;

    @include mq($from: m) {
      font-size: 22px;
    }
  }
}

.header--desktop {
  display: none;
  border-bottom: 2px solid $brand-e;

  @include mq($from: m) {
    display: block;
  }
}

.header__nav {
  float: right;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: $brand-c;

  .city-nav & {
    background: $brand-d;
  }

  &--sub-list {
    position: absolute;
    z-index: 100;
    padding: 10px 0;
  }
}

.nav__item {
  float: left;
  margin-bottom: 0;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background: $brand-c;
    .nav__list {
      display: block;            
    }
  }

  .city-nav & {
    a { 
      color: $brand-k
    }
    &:hover {
      background: $brand-d;
    }
  }

  .nav__list--sub-list & {
    float: none;
    a {
      display: block;
      padding: 5px 25px 5px 10px;;
    }
  }
}

.nav__item-link {
  display: block;
  color: white;
  padding: 38px 10px;

  &:hover {
    text-decoration: none;
  }

  .city-nav & {
    color: $brand-k;
    padding: 18px 10px;

    &:hover {
      background: $brand-d;
    }
  }

  .city-nav &--has-sub-nav {
    padding-right: 35px;
  }

  &--has-sub-nav {
    padding-right: 35px;
    position: relative;
    &::after {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      margin-left: 1em;
      top: 3em;
      position: absolute;
    }

    .city-nav & {
      &::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $brand-k;
        top: 1.7em;
      }
    }
  }
}

.city-nav {
  display: none;
  margin-top: -2px;
  background: $brand-e;

  @include mq($from: m) {
    display: block;
  }
}

.global-city-selector {

  @include mq($from: m) {
    float: right;
    margin-top: 34px;
  }

  label {
    color: white;
  }

  select {
    width: 100%;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;

    @include mq($from: m) {
      width: 220px;
    }
  }
}

.nav__list--sub-list {
  display: none;
}

// Active page
@each $page in $nav-pages {
  .page--#{$page} {
    .header__nav .nav__item--#{$page} > a {
      @include mq($from: m) {
        background: $brand-c;
      }
    }

    .city-nav .nav__item--#{$page},
    .nav--mobile .nav__item--#{$page} > a {
      @include mq($from: m) {
        background-color: $brand-d!important;
      }
    }
  }
}
