$smallPadding: 10px;
$normalPadding: 25px;

.header {
  background: $brand-a;
  background: linear-gradient(to bottom, $brand-a, #339378);

  @include printHide();
}

.header__title {
  color: #FFF;

  @include mq($from: m) {
    display: inline-block;
    padding: $normalPadding $smallPadding $normalPadding 0;
    float: left;
    margin: 0;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 38px;
  }

  .text {
    display: inline-block;
    line-height: 1.1em;

    @include mq($from: m) {
      font-size: 22px;
    }
  }
}

.header--desktop {
  display: none;
  border-bottom: 2px solid $brand-d;

  @include mq($from: m) {
    display: block;
  }
}

.header__nav {
  float: right;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: $brand-c;

  &--sub-list {
    position: absolute;
    z-index: 100;
    padding: 10px 0;
  }
}

.nav__item {
  float: left;
  margin-bottom: 0;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background: $brand-c;
    .nav__list {
      display: block;            
    }
  }

  .nav__list--sub-list & {
    float: none;
    a {
      display: block;
      padding: 5px 25px 5px 10px;
    }
  }
}

.nav__item-link {
  display: block;
  color: white;
  padding: 38px 10px;

  &:hover {
    text-decoration: none;
  }

  &--has-sub-nav {
    padding-right: 35px;
    position: relative;
    &::after {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      margin-left: 1em;
      top: 3em;
      position: absolute;
    }
  }
}

.city-nav {
  display: none;

  @include mq($from: m) {
    display: block;
    text-align: center;

    .nav__list {
      background: $brand-j;

      &--city {
        display: none;
        &.is-active {
          display: block;
        }
      }
    }

    .nav__item {
      display: inline-block;
      margin: 0;
      a {
        display: inline-block;
        color: $brand-k;
        padding: 10px 30px;
        margin: 0;

        &:hover {
          background: $brand-i;
          text-decoration: none;
        }
      }
    }

    .nav__list--sub-list {
      display: none;
      position: absolute;
      z-index: $zIndex-SubNav;
      left: 0;
      right: 0;
      background: $brand-i;
      box-shadow: 0 2px 2px 0 rgba(50,50,50,.3);
    }

    .nav__item--sub-item {
      &:hover {
        a {
          background: white;
        }
      }
    }
  }
}

.global-city-selector {

  @include mq($from: m) {
    float: right;
    margin-top: 34px;
  }

  label {
    color: white;
  }

  select {
    width: 100%;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;

    @include mq($from: m) {
      width: 220px;
    }
  }
}

.header__nav .nav__list--sub-list {
  display: none;
}


// Active Subnav
@include mq($from: m) {
  @each $section in $nav-sections {
    .section--#{$section} .city-nav .nav__item--#{$section} {
      background-color: $brand-i;

      .nav__list--sub-list {
        display: block;
      }
    }
  }
}

// Active page
@each $page in $nav-pages {
  .page--#{$page} {
    .header__nav .nav__item--#{$page} > a {
      @include mq($from: m) {
        text-decoration: underline!important;
        background-color: none!important;
      }
    }

    .city-nav .nav__item--#{$page} > a,
    .nav--mobile .nav__item--#{$page} > a {
      text-decoration: underline!important;

      @include mq($from: m) {
        background-color: $brand-i;
        text-decoration: none!important;
      }
    }
    .city-nav .nav__list--sub-list .nav__item.nav__item--#{$page} > a {
      @include mq($from: m) {
        background-color: white;
      }
    }
  }
}
