// Dividers
.divider {
  display: block;
  height: 30px;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.divider__line {
  border-top: 1px solid $brand-f;
  display: block;
  margin: 0;
  width: 100%;
}

.divider__background {
  background: #FFF;
  display: inline-block;
  margin-top: -20px;
  padding: 0 15px;
}

.divider__icon {
  @include size(37px, 40px);
}
