.subcat-filter {
  text-align: center;
  @include printHide();

  &--listing-with-map {
    margin-bottom: 30px;
  }

  .list-to-dropdown__select {
    margin-bottom: 20px;
  }
}

.subcat-filter__label {
  display: inline;
}

.list-to-dropdown__select {
  @extend .form__input;
  padding: 10px!important;
  margin-top: 10px;
}

.subcat-filter__items {
  display: inline;
  padding: 16px 0 20px 0;
  list-style: none;
}

.subcat-filter__item {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 15px;
  background: $brand-i;
  &:hover {
    cursor: pointer
  }
  &.on {
    font-weight: bold;
    background: $brand-j;
    color: white;
  }
}
