// Footer - global page footer styles

.footer {
  background: $brand-c;
  color: #FFF;
  padding: 30px 0;
  text-align: center;
}

.footer__header {
  margin-top: 0;

  @include mq($from: xs) {
    display: inline-block;
  }
}

.footer__copy {
  margin-bottom: 0;
}

.footer__social-list {
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  text-align: center;

  @include mq($from: xs) {
    display: inline-block;
  }
}

.footer__social-item {
  display: inline-block;
  margin: 0 4px;
  padding: 0;
}

.footer__icon {
  height: 37px;
  vertical-align: middle;
  width: 34px;
}
