.footer {
  background: linear-gradient($brand-l, $brand-m);
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  &__header {
    margin-top: 0;
  }

  &__copy {
    margin-bottom: 0;
  }

  &__social-list {
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  &__social-item {
    margin: 0 4px;
    padding: 0;
    display: inline-block;
  }

  &__icon {
    height: 37px;
    width: 34px;
    vertical-align: middle;
  }

  @media print {
    & { display: none }
  }
}
