// Footer - global page footer styles

.footer {
  background: $brand-m;
  background: linear-gradient(to bottom, $brand-l, $brand-m);
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  @media print {
    & {
      color: black;
    }
  }

  &__header {
    margin-top: 0;
  }

  &__copy {
    margin-bottom: 0;
  }

  &__social-list {
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  &__social-item {
    margin: 0 4px;
    padding: 0;
    display: inline-block;
  }

  &__icon {
    height: 37px;
    width: 34px;
    vertical-align: middle;
  }

  @media print {
    & { display: none }
  }
}

.app-store-links {
  width: 340px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

.app-store-links__itunes-appstore {
  width: 135px;
  height: 40px;
  float: left;
  padding: 10px 10px 10px 30px;
  margin-right: 25px;
  a {
    display: block;
    width: 135px;
    height: 40px;
  }
}

.app-store-links__google-playstore {
  display: inline-block;
  width: 155px;
}