.form {
  @include cf();

  &__fieldset {
    border: none;
    margin: 20px 0 0 0;
    padding: 0;
  }

  &__fieldset-title {
		margin-bottom: 5px;
  }

  &__field-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__field-item {
    padding: 5px 0;
    @include cf();
    position: relative;

		@include mq($from: m) {
      @include span(4 of $grid-column);
		}

		&--full {
			@include mq($from: m) {
	      @include span(full);
			}
		}
  }

  &__label {
    display: block;
    margin-bottom: 10px;

    &--checkbox {
      float: left; margin-right: 1em;
    }
  }

  &__input {
    padding: 5px;
		width: 100%;
    border: 1px solid $brand-f;

		&--multiline {
			width: 100%;
      min-height: 8rem;
    }

    &--error {
      border: 1px solid $brand-g;
    }

    &--checkbox {
    }
  }

  &__error {
    font-family: $font-headline;
    font-weight: $font-headline-weight;
    margin-top: 7px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: $brand-g;
  }

  &__submit {
    margin-top: 10px;
    float: right;
  }
}
