// Forms - generic global form styles

.form {
  @include cf();

  margin-bottom: 20px;

  & + .form {
    margin-top: 20px;
  }
}

.form--partnership,
.form--volunteer {
  @include pre(1 of 6);
  @include post(1 of 6);
}

.multi-form-header {
  text-align: left;
  padding-top: 30px;

  @include mq($from: m) {
  padding-top: 0px;
  @include span(4 of 6);
  }
}

.form--highlighted {
  background: white;
  border: 1px solid $brand-k;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
  padding: 20px 20px 5px 20px;
}

.form--text-search {
  @include mq($from: m) {
    .form__field-item { 
      width: 100%;
    }
  }
}

.form--proximity-search {
  background: white;
  padding: 20px 20px 5px 20px;
  margin: 15px 0 30px 0;

  @include printHide();

  @include mq($from: m) {
    @include span(2 of 6);
    @include last();
  }

  .form__fieldset {
    margin-top: 0
  }
}

.form__fieldset {
  border: none;
  margin: 20px 0 0 0;
  padding: 0;

  &--inline-fill {
    margin: 0;
    @include mq($from: m) {
      margin: 0 0 20px 0;
    }
    .form__fieldset-inline-fill-container { 
      @include mq($from: m) {
        display: flex;
      }
    }
  }
}

.form__fieldset-title {
  margin-bottom: 5px;
}

.form__field-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__field-item {
  @include cf();

  padding: 5px 0;
  position: relative;
}

.form__field-item--proximity-search-range,
.form__field-item--proximity-search-of,
.form__field-item--proximity-search-postcode {
  float: left;
}

.form__field-item--proximity-search-range {
  width: 40%;
}

.form__field-item--proximity-search-of {
  display: block;
  width: 20%;
  text-align: center;
  padding: 15px;
}

.form__field-item--proximity-search-postcode {
  width: 40%;
  float: right;
  clear: right;
}

.form__field-item--full {
  @include mq($from: m) {
    @include span(full);
  }
}

.alpaca-control-label,
.form__label {
  display: block;
  margin-bottom: 10px;

  &--inline {
    float: left;
    margin-right: 10px;
    padding: 9px;
  }

  &--checkbox {
    .form__input--checkbox {
      width: inherit;
      float: left;
      margin: 5px 0.5em 0 0;
    }
  }
}

.form__label--checkbox {
  display: inline;
  margin-right: 1em;
}

.alpaca-control,
.form__input {
  border: 1px solid $brand-f;
  border-radius: 5px;
  color: $brand-m;
  display: block;
  outline: none;
  padding: 10px;
  width: 100%;

  & + label + & {
    margin-top: 10px;
    @include mq($from: m) {
      margin-top: 0;
    }
  }
}

.form__input--inline {
  display: inline;
}

.form__input--inline-fill {
  width: 100%;
  @include mq($from: m) {
    flex-grow: 2;
    width: 100px; /* arbitrary width to stop <option> tags messing up flex width */
    margin-right: 0.5em;
    & * { width: 100px; /* arbitrary width to stop <option> tags messing up flex width */ }
  }
}

.form__input--short {
  width: 100px;
}

.form__input--full {
  width: 100%;
}

.form__input--multiline {
  min-height: 8rem;
  width: 100%;
}

.form__radio-group {
  list-style: none; 
  padding-left: 0;
}
.form__radio-group-item {
  .form__error {
    display: none;
  }
  &:first-child {
    .form__error {
      display: inherit
    }
  }
}

.form__input--error {
  border: 1px solid $brand-g;
  margin-top: 25px;
  .form__radio-group & {
    margin-top: 0;
  }
}

.form__error {
  color: $brand-g;
  display: block;
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  margin-top: 7px;
  position: absolute;
  top: 0;
  right: 0;
  @extend .small;

  &--inline {
    position: relative;
    display: inline-block;
  }

  .form__label--checkbox + input + & {
    top: 25px;
  }
}

.form__submit {
  float: right;
  margin-top: 10px;
}

label {
  cursor: pointer;
}

.donate-location__container {
  @include mq($from: m) {
    @include cf();
  }
}

.donate-location__dropdown {
  @include mq($from: m) {
    @include span(2);
    @include pull(3);
    @include push(3);
  }
}
