// Forms - generic global form styles

.form {
  @include cf();
}

.form--partnership,
.form--volunteer {
  @include pre(1 of 6);
  @include post(1 of 6);
}

.form__fieldset {
  border: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.form__fieldset-title {
  margin-bottom: 5px;
}

.form__field-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__field-item {
  @include cf();

  padding: 5px 0;
  position: relative;

  @include mq($from: m) {
    @include span(4 of $grid-column);
  }
}

.form__field-item--full {
  @include mq($from: m) {
    @include span(full);
  }
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.form__label--checkbox {
  display: inline;
  margin-right: 1em;
  width: 100%;
}

.form__input {
  border: 1px solid $brand-f;
  border-radius: 5px;
  color: $brand-m;
  display: block;
  outline: none;
  padding: 10px;
  width: 100%;
}

.form__input--full {
  width: 100%;
}

.form__input--multiline {
  min-height: 8rem;
  width: 100%;
}

.form__input--error {
  border: 1px solid $brand-g;
  margin-top: 25px;
}

.form__error {
  color: $brand-g;
  display: block;
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  margin-top: 7px;
  position: absolute;
  top: 0;
  right: 0;
  @extend .small;
}

.form__submit {
  float: right;
  margin-top: 10px;
}

label {
  cursor: pointer;
}
