.give-help {
  &__title {
    &--charter-info {
      color: $brand-h;
      font-size: 16px;
    }
  }

  &__button {
    &--charter-info {
      width: 100%;

      @include mq($from: m) {
        width: inherit;
      }
    }
  }

  &__contribute-link {
      color: $brand-d !important;
      font-weight: bold;
  }

  &__section {
    .cta {
      width: 100%;
      @include mq($from: m) {
        @include span(3 of $grid-column);
        @include last();
      }
    }

    &--charter-info {
      margin-top: 40px;
      border: 2px solid $brand-h;
      border-radius: 7px;
      position: relative;
      margin-bottom: 60px!important;

      &:before {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 5px;
        border-width: 0 0 30px 50px;
        border-style: solid;
        border-color: transparent $brand-h;
        display: block;
        width: 0;
        z-index: 100;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 5px;
        border-width: 0 0 30px 20px;
        border-style: solid;
        border-color: transparent $brand-h;
        display: block;
        width: 0;
        z-index: 300;
      }
    }

    &--partnerships {
      text-align: left;
    }

    &__inner {
      &--charter-info {
        border-radius: 5px;
        padding: 6px $site-gutter;
        position: relative;

        @include mq($from: m) {
          padding: 20px 60px;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: -28px;
          left: 5px;
          border-width: 0 0 30px 50px;
          border-style: solid;
          border-color: transparent white;
          display: block;
          width: 0;
          z-index: 200;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -32px;
          left: 2px;
          border-width: 0 0 30px 20px;
          border-style: solid;
          border-color: transparent white ;
          display: block;
          width: 0;
          z-index: 400;
        }
      }
    }
  }

  &__text {
    @include mq($from: m) {
      @include span(5 of $grid-column);
    }
  }
}
