.header {
  @include cf();
  background-color: $brand-a;

  @include mq($from: m) {
    margin-bottom: $header-subnav-margin;

    .section--nosubnav & {
      margin-bottom: $header-margin;
    }
  }

  &__title {
    margin: 10px 0 2px 0;
    padding: 0;
    display: inline-block;
    color: #fff;

    @include mq($from: m) {
      display: block;
      margin: 35px 0;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: block;

      @include mq($from: m) {
        text-align: center;
      }
    }

    .icon {
      width: 38px;
      height: 40px;
      margin-right: 10px;
      display: inline-block;
    }

    .text {
      display: inline-block;
      vertical-align: top;
      line-height: 43px;

      @include mq($from: m) {
        font-size: 22px;
      }
    }
  }

  &__btn {
    float: right;
    height: 59px;
    color: $brand-k;
    background-color: $brand-e;
    padding: 0 20px;
    margin: 0;
    margin-right: -$site-gutter;
    font-family: $font-headline;
    font-weight: $font-headline-weight;

    @include mq($from: m) {
      display: none;
    }

    .icon {
      height: 20px;
      width: 20px;
      vertical-align: middle;
    }
  }

  @media print {
    & {
      display: none
    }
  }
}
