.header {
  @include cf();

  background-color: $brand-a;

  @include mq($from: m) {
    margin-bottom: $header-subnav-margin;

    .section--nosubnav & {
      margin-bottom: $header-margin;
    }
  }

  @media print {
    & {
      display: none;
    }
  }
}

.header__title {
  color: #FFF;
  display: inline-block;
  margin: 10px 0 2px 0;
  padding: 0;

  @include mq($from: m) {
    display: block;
    margin: 35px 0;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;

    @include mq($from: m) {
      text-align: center;
    }
  }

  .icon {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 38px;
  }

  .text {
    display: inline-block;
    line-height: 43px;
    vertical-align: top;

    @include mq($from: m) {
      font-size: 22px;
    }
  }
}

.header__btn {
  background-color: $brand-e;
  color: $brand-k;
  float: right;
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  height: 60px;
  padding: 0 20px;
  margin: 0;
  margin-right: -$site-gutter;

  @include mq($from: m) {
    display: none;
  }
}
