// Image container styles

.figure--donate-chart {
  @include cf;

  @include mq($from: m) {
    float: left;
    margin: 0;
    width: 15%;
  }

  figure {
    float: left;
    margin: 0 1.5% 40px;
    width: 30%;

    @include mq($from: s) {
      width: 28%;
    }

    @include mq($from: m) {
      float: none;
      display: block;
      margin: 0 0 40px;
      width: 100%;
    }

    figcaption {
      margin: 0 auto;
      max-width: 80px;
      text-align: center;

      @include mq($from: m) {
        max-width: 100px;
      }
    }

    img {
      display: block;
      margin: 0 auto 10px;
      max-width: 80px;

      @include mq($from: m) {
        max-width: 100px;
      }
    }
  }
}

.notts-street-aid {
  width: 100%;
}

.gmmc-logo {
  height: 250px;

  display: none;
  @include mq($from: m) {
    padding-top: 60px;
    padding-right: 20px;
    display: block;
  }
}

.vol-for-good {
  width: 150px;
  margin: 5px;
  float: right;
  // display: none;
  @include mq($from: m) {
    margin: 30px;
    width: 250px;
    display: block;
  }
}

.vol-for-good-logo {
  width: 150px;
  margin: 20px 20px;
  @include mq($from: m) {
    float: left;
  }
}

.notts-street-aid-logo {
  display: none;
  float: right;
  height: 200px;
  @include mq($from: m) {
    display: block;
  }
}

.img__how-this-started {
  display: none;
  @include mq($from: m) {
      width: 50%;
      display: block;
      transform: translateX(50%);
      padding-bottom: 40px;
    }
  }

