.list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--inline {

}

.list--inline__item {
  display: inline-block;
}
.list--two-column {
  columns: 100px 2;
  margin-right: 30%;
  padding: 0;
}
.list__item {
  display: inline-block;
  width: 100%;
  &::before {
    content: '\25cf\a0\a0';
  }
}
