.listing-with-map {
  @include cf();
  margin-top: 70px;
}

.listing-with-map__map {
  width: 100%;
  height: 66vh;
  margin-bottom: 20px;
}


.listing-with-map__listing-item {
  & > h1,
  & > h2 {
    cursor: pointer;
  }
  display: none;
}

.listing-with-map__listing-item--isActive {
  display: block;
}

.listing-with-map__filter-dropdown {
  margin-top: 30px;
  @include mq($from: m) {
    display: none
  }
}

.listing-with-map__filter-buttons {
  @include mq($until: m) {
    display: none
  }
}