%manchester-header {
  &:before {
    background-image: url('../img/manc-buildings.png');
  }
}

%leeds-header {
  &:before {
    background-image: url('../img/leeds-buildings.png');
  }
}

%bournemouth-header {
  // background-image: url('../img/header-background-bournemouth.png');
  &:before {
    background-image: url('../img/bournemouth-buildings.png');
  }
}

%portsmouth-header {
  // background-image: url('../img/header-background-bournemouth.png');

  &:before {
    background-image: url('../img/portsmouth-buildings.png');
  }
}

%bradford-header {
  &:before {
    background-image: url('../img/bradford-buildings.png');
  }
}

%liverpool-header {
  &:before {
    background-image: url('../img/liverpool-buildings.png');
  }
}

%southampton-header {
  // background-image: url('../img/header-background-bournemouth.png');

  &:before {
    background-image: url('../img/southampton-buildings.png');
  }
}

.location-header {
  background-position: right bottom;
  background-size: 940px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mq($from: m) {
    overflow-x: hidden;
    &:before {
      background-position: 66% bottom;
      background-repeat: no-repeat;
      background-size: 600px;
      bottom: 2px;
      content: '';
      display: inline-block;
      height: 250px;
      left: 50%;
      position: absolute;
      width: 600px;
    }
  }

  & .container {
    position: relative;
  }
}

.location--manchester .location-header {
  @extend %manchester-header;
  color: $brand-k;
}

.location--leeds .location-header {
  @extend %leeds-header;
  color: $brand-k;
}

.location--bournemouth .location-header{
  @extend %bournemouth-header;
  color: $brand-k;
}

.location--portsmouth .location-header{
  @extend %portsmouth-header;
  color: $brand-k;
}

.location--bradford .location-header{
  @extend %bradford-header;
  color: $brand-k;
}

.location--southampton .location-header{
  @extend %southampton-header;
  color: $brand-k;
}

.location--liverpool .location-header {
  @extend %liverpool-header;
  color: $brand-k;
}
