.location-selector {
  @include cf();
  margin: 20px auto;
  text-align: center;
}

.location-selector__label {
  text-align: center;
  display: block;
  padding-bottom: 10px;
  @include mq($from: s) {
    display: inline-block;
    margin-right: 1em;
    padding-top: 10px;
  }
}

.location-selector__text {
  margin-bottom: 10px!important;
  @include mq($from: m) {
    margin-right: 1em;
    display: inline-block;
  }
}

.location-selector__select {
  margin: 0 auto;
  @include mq($from: m) {
    width: 220px;
    display: inline-block;
  }
}

