.location-select__cta {
  cursor: pointer;
}

.location-select-icon {
  height: 180px;
  background-position: bottom center;
  background-size: 542px;
}

.location-select-icon--manchester {
  background-image: url('../img/header-background-manchester.png');
}

.location-select--leeds {
  background-image: url('../img/header-background-leeds.png');
}
