%get-in-sea {
  @include mq($from: m) {
    &:after {
      content: '';
      width: 100%;
      height: 64px;
      background: url('../img/locations/sea-tile.png') repeat-x;
      position: absolute;
      bottom: 0;
    }
  }
}

%align-right {
  @include mq($from: xxl) {
    &:before {
      left: auto;
      right: 0;
    }
  }
}

.location-header {
  background-position: right bottom;
  background-size: 940px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include mq($from: m) {
    overflow-x: hidden;
    &:before {
      background-position: 66% bottom;
      background-repeat: no-repeat;
      background-size: 600px;
      bottom: 2px;
      content: '';
      display: inline-block;
      height: 250px;
      left: 50%;
      position: absolute;
      width: 600px;
    }
  }

  & .container {
    position: relative;
  }
}

.location--birmingham .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 755px;
      width: 758px;
      bottom: 6px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 4%;
    }
  }
}

.location--blackpool .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      left: auto;
      right: 0;
      background-size: 670px;
      width: 670px;
      height: 400px;
    }
  }
}

.location--bolton .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 1003px;
      width: 1003px;
      height: 365px;
      bottom: -1px;
    }
  }
}

.location--bcp .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 842px;
      width: 842px;
      bottom: 0px;
      height: 500px;
    }
    height: 500px;
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 0%;
    }
  }
  @extend %get-in-sea;
}

.location--brighton-and-hove .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 733px;
      width: 733px;
      bottom: 3px;
      height: 350px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 7%;
    }
  }
  @extend %get-in-sea;
}

.location--bury .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 800px;
      width: 800px;
      height: 302px;
    }
  }
}

.location--cambridgeshire .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 644px;
      width: 650px;
      bottom: 9px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 5%;
    }
  }
}

.location--chelmsford .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 724px;
      width: 758px;
      bottom: 6px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 4%;
    }
  }
}

.location--coventry .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 755px;
      width: 776px;
      bottom: 8px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 4%;
    }
  }
}

.location--derbyshire .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 690px;
      width: 700px;
      bottom: 6px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 3%;
    }
  }
}

.location--dudley .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 755px;
      width: 758px;
      bottom: 13px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 4%;
    }
  }
}

.location--edinburgh .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 817px;
      width: 733px;
      bottom: -81px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 0%;
    }
  }
}

.location--glasgow .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 765px;
      width: 756px;
      bottom: 21px;
      height: 335px;
      right: 3%;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
    }
  }
  @extend %get-in-sea;
}

.location--leeds .location-header {
  @include mq($from: m) {
    &:before {
      height: 278px;
    }
  }
}

.location--luton .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 692px;
      width: 650px;
      bottom: 8px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 3%;
    }
  }
}

.location--manchester .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 650px;
      width: 650px;
    }
    min-height: 320px;
  }
}

.location--nottingham .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 733px;
      width: 733px;
      bottom: 10px;
      height: 335px;
    }
  }
}

.location--oldham .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 857px;
      width: 857px;
      height: 389px;
    }
  }
}

.location--rochdale .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 800px;
      background-position: left bottom;
      width: 100%;
      bottom: -18px;
    }
  }
}

.location--reading .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 645px;
      width: 858px;
      height: 351px;
      bottom: -17px;
      left: 50%;
    }
  }
}


.location--salford .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 680px;
      background-position: left bottom;
      width: 100%;
      height: 349px;
      bottom: -49px;
    }
  }
}

.location--sandwell .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 755px;
      width: 758px;
      bottom: 6px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 4%;
    }
  }
}

.location--solihull .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 755px;
      width: 758px;
      bottom: 6px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 3%;
    }
  }
}

.location--southampton .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 1200px;
      background-position: left bottom;
      width: 100%;
      bottom: 7px;
    }
  }
  @include mq($from: l) {
    &:before {
      left: 36%;
    }
  }
  @extend %get-in-sea;
}

.location--stockport .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 800px;
      background-position: left bottom;
      width: 100%;
      bottom: 7px;
    }
  }
}

.location--tameside .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 750px;
      width: 750px;
      height: 302px;
    }
  }
}

.location--trafford .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 807px;
      width: 807px;
      height: 342px;
      bottom: -11px;
    }
  }
}

.location--wakefield .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 807px;
      width: 807px;
      height: 351px;
      bottom: -65px;
    }
  }
}

.location--walsall .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 790px;
      width: 805px;
      bottom: 6px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 3%;
    }
  }
}

.location--wigan-and-leigh .location-header {
  @include mq($from: m) {
    min-height: 400px;
    &:before {
      background-size: 800px;
      width: 800px;
      height: 354px;
    }
  }
}

.location--wolverhampton .location-header {
  @include mq($from: m) {
    &:before {
      background-size: 755px;
      width: 776px;
      bottom: 8px;
      height: 335px;
    }
  }
  @include mq($from: xxxl) {
    &:before {
      left: auto;
      right: 4%;
    }
  }
}
