.location-selector {
  @include cf();
  margin: 20px auto;
  text-align: center;

  @include printHide();
}

.location-selector__label {
  text-align: center;
  display: block;
  padding-bottom: 10px;
  @include mq($from: s) {
    display: inline-block;
    margin-right: 1em;
    padding-top: 10px;
  }
}

.location-selector__text {
  margin-bottom: 10px!important;
  display: block;
  @include mq($from: m) {
    margin-right: 0.5em;
    display: inline-block;
  }
  &--middle-of-sentence {
    display: inline;
    @include mq($from: m) {
      margin-left: 0.5em;
    }
  }
}

.location-selector__select {
  margin: 0 auto;
  width: auto;
  @include mq($from: m) {
    width: auto;
    display: inline-block;
  }
}

.location-selector__button {
  width: 100%;
  @include mq($from: m) {
    width: auto;
    margin-left: 1em;
    display: inline-block;
  }
}