.location-selector {
  display: table;
  @include cf();
  width: auto;
  margin: 0 auto 20px;
}

.location-selector__label {
  text-align: center;
  display: block;
  padding-bottom: 10px;
  @include mq($from: s) {
    float: left;
    margin-right: 1em;
    padding-top: 10px;
  }
}

.location-selector__select {
  @include mq($from: s) {
    width: 220px;
    margin: 0 auto;
  }
}
