$header-height: 64px;

.header--mobile {
  display: block;
  border-bottom: 2px solid $brand-e;
  height: 66px;

  .header__title {
    display: block;
    float: left;
    padding: 10px 0 0 10px;
    margin: 0;

    .text {
      line-height: 1.1em;
      vertical-align: top;
      padding-top: 3px;
    }
  }

  .header__btn {
    float: right;
    width: 80px;
    padding: 20px;
    margin: 0;
    background-color:$brand-e;

    a {
      color: $brand-k;
    }

    @include mq($from: m) {
      display: none;
    }

    .icon {
      height: 12px;
      width: 12px;
    }

    @include printHide();
  }

  @include mq($from: m) {
    display: none;
  }

  .current-city {
    display: block;
    clear: both;
    background: $brand-j;
    padding: 15px;
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.7);
    cursor: pointer;

    @include printHide();
  }

  .current-city__change-location {
    cursor: pointer;
    font-style: italic;
  }

  .current-city__change-location:after {
    content: "";
    float: right;
    width: 0;
  	height: 0;
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-top: 10px solid black;
    margin-top: 0.4em;
    margin-right: 1.3em;
  }
}

.nav--mobile {
  @include mq($from: m) {
    display: none;
  }
  position: fixed;
  top: 0;
  right: -$nav-width * 2;
  height: 100%;
  width: $nav-width * 2;
  z-index: $zIndex-mobileNav;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  transition: transform 250ms cubic-bezier(.16, .68, .43, .99);
  transform: translate3d(0, 0, 0);

  &.is-active {
    transform: translate3d(-$nav-width / 2, 0, 0);
  }

  &.sub-nav-is-active {
    transform: translate3d(-($nav-width), 0, 0)!important;
  }

  .nav__push {
    transition: transform 250ms cubic-bezier(.16, .68, .43, .99);

    &.is-active {
      transform: translate3d(-$nav-width, 0, 0);
    }
  }

  .nav__btn {
    float: right;
    width: 80px;
    padding: 15px 10px 14px 10px;
    margin: 0;
    color: $brand-m;
    background: $brand-e;
    line-height: 1.1em;

    @include mq($from: m) {
      display: none;
    }
  }

  .nav__list {
    list-style-type: none;
    background: none;
    width: 200%;

    &--sub-list {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      display: none;
      top: $header-height;
      right: -50%;
      width: 100%;
    }
  }

  .nav__item {
    margin: 0;
    padding: 0px;
    width: 100%;
    font-weight: $font-headline-weight;
    float: none;

    &[data-city] {
      display: none;
      &.is-active {
        display: block;
      }
    }

    a {
      width: 25%;
      color: $brand-m;
      background: $brand-e;
      border-bottom: 1px solid $brand-m;
    }

    &:hover {
      background: none;
      .nav__list {
        display: none;  
      }          
    }
    
    &.sub-nav-is-active {
      background: none;
      .nav__list {
        display: block;
      }          
    }

    &--hidden {
      a {
        height: $header-height;
        background: none;
        border-bottom: none;
      }
    }
  
    &--mobile-only {
      display: block;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px;
    }

    &--sub-list-title {
      padding: 10px;
      background: $brand-e;
      text-align: right;
      
      &:hover {
        background: $brand-e!important;
      }

      .sub-list-back-btn {
        display: block;
        background: none;
        border: none;
        padding-left: 20px;
        &::before {
          content: '';
          width: 0; 
          height: 0; 
          margin-left: 1em;
          margin-right: 1em;
          top: 1.1em;
          left: 0;
          position: absolute;
          border-bottom: 5px solid transparent;
          border-top: 5px solid transparent;
          border-right: 5px solid $brand-k;
        }
      }

      .sub-list-text {
        right: 50%;
        position: absolute;
        padding-right: 10px;
        top: 0.7em;
      }
    }
  }

  .nav__list--sub-list .nav__item a {
    width: 50%;
    background: $brand-d;
  }

  .nav__item-link {
    &--has-sub-nav {
      &::after {
        top: 1em;
        right: 10px;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-left: 5px solid $brand-k;
      }
    }
  }

  @media print {
    & {
      display: none;
    }
  }
}

.nav__overlay {
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zIndex-navOverlay;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fade 500ms;

  display: none;
  opacity: 0;

  &.is-active {
    opacity: 1;
    display: block;

    @include mq($from: m) {
      display: none;
      opacity: 0;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
