$mobile-header-height: 65px;
$locations-nav-height: 60px;
$desktop-header-height: 100px;
$desktop-header-and-border-height: $desktop-header-height + $locations-nav-height;

$columned-dropdown-item-width: 170px;
$columned-dropdown-column-count: 3;

.header--mobile {
  background: $brand-a;
  background: linear-gradient(to bottom, $brand-a, #339378);
  display: block;
  border-bottom: 2px solid $brand-e;
  height: $mobile-header-height;

  @include printHide();

  @include mq($until: m) {
    & .container {
      padding: 0;
    }
  }

  @include mq($from: m) {
    height: $desktop-header-height;
    
    body:not(.location--elsewhere) & {
      height: $desktop-header-and-border-height;
      border-bottom: $locations-nav-height solid $brand-e;
    }
    & .container {
      height: $desktop-header-height;
    }
  }

  .sub-nav-is-active & {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .header__title {
    color: #FFF;
    display: block;
    float: left;
    padding: 10px 0 0 10px;
    margin: 0;

    @include mq($from: m) {
      display: inline-block;
      padding: 25px 10px 25px 0;
      float: left;
      margin: 0;
    }

    .text {
      display: inline-block;
      line-height: 1.1em;
      vertical-align: top;
      padding-top: 3px;

      @include mq($from: m) {
        font-size: 22px;
        padding-top: 0px;
      }
    }

    .icon {
      display: inline-block;
      height: 40px;
      margin-right: 10px;
      width: 38px;
      @include mq($from: m) {
        margin-top: 3px;
      }
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;
    }
  }

  .header__btn {
    font-weight: $font-headline-weight;
    font-family: $font-headline;
    float: right;
    width: 80px;
    height: $mobile-header-height;
    padding: 20px;
    margin: 0;
    background-color:$brand-e;
    line-height: 1.1em;

    .is-active & {
      display: none;

      @include mq($from: m) {
        display: none;
      }
    }

    &--close {
      padding: 15px 10px 14px 10px;
      display: none;
      z-index: 1000;
      .is-active & {
        display: block;
      }
    }

    a {
      color: $brand-k;
    }

    @include mq($from: m) {
      display: none;
    }

    .icon {
      height: 12px;
      width: 12px;
    }

    @include printHide();
  }
}

.nav--mobile {
  @include mq($until: m) {
    right: -$nav-width * 2;
    height: 140%;
    width: $nav-width * 2;
    z-index: $zIndex-mobileNav;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 250ms cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transform: translate3d(0, 0, 0);
    position: absolute;
    bottom: 0;

    &.is-active {
      top: $mobile-header-height;
      position: fixed;
      transform: translate3d(-$nav-width / 2, 0, 0);
    }

    &.sub-nav-is-active {
      transform: translate3d(-($nav-width), 0, 0) !important;
    }

    .nav__push {
      transition: transform 250ms cubic-bezier(0.16, 0.68, 0.43, 0.99);

      &.is-active {
        transform: translate3d(-$nav-width, 0, 0);
      }
    }

    .nav__group-container {
      margin: 0;
      padding: 0;
    }

    .nav__group {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .nav__group-location {
      display: none;
    }

    .nav__list {
      list-style-type: none;
      background: $brand-e;
      width: 200%;
      height: 1500px;
      margin: 0;
      padding: 0;

      &--sub-list {
        list-style: none;
        position: absolute;
        display: none;
        top: 0;
        right: -50%;
        width: 100%;
      }
    }

    .nav__item {
      margin: 0;
      padding: 0 0 0 10px;
      width: 100%;
      font-weight: $font-headline-weight;
      font-family: $font-headline;
      float: none;

      &[data-city] {
        display: none;
      }

      &:hover {
        background: none;
        .nav__list {
          display: none;
        }
      }

      &.sub-nav-is-active {
        background: none;
        .nav__list {
          display: block;
        }
      }

      &--mobile-only {
        display: block;
      }

      &--hub-nav {
        padding-left: 0;
      }

      &--sub-list-title {
        padding: 18px 10px 18px 0;
        background: $brand-e;
        text-align: right;

        &:hover {
          background: $brand-e !important;
        }

        .sub-list-back-btn {
          display: block;
          background: none;
          border: none;
          padding-left: 20px;
          &::before {
            content: '';
            width: 0;
            height: 0;
            margin-left: 10px;
            top: 1.6em;
            left: 0px;
            position: absolute;
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
            border-right: 5px solid $brand-k;
          }
        }

        .sub-list-text {
          right: 50%;
          position: absolute;
          padding-right: 10px;
          top: 1.2em;
        }
      }

      a {
        border-bottom: 1px solid $brand-m;
        color: $brand-m;
        display: block;
        padding: 18px 10px 18px 0;
        text-decoration: none;
        width: 25%;
        &:hover {
          background: none;
        }
      }

      .nav__list--sub-list .nav__item--sub-list-title {
        background: $brand-e!important;
      }

      .nav__list--sub-list .nav__item {
        background: $brand-s;
      }

      .nav__list--sub-list .nav__item a {
        width: 50%;
      }
    }

    .nav__item-link {
      &--has-sub-nav {
        &::after {
          top: 1.6em;
          right: 15px;
          border-bottom: 5px solid transparent;
          border-top: 5px solid transparent;
          border-left: 5px solid $brand-k;
        }
      }
      &--hub-heading {
        border-bottom: 1px solid $brand-m!important;
      }
    }

    @media print {
      & {
        display: none;
      }
    }

    .hub-nav-container {
      margin: 0;
      dd {
        margin: 0;
        ul {
          padding: 0;
          margin: 0;
        }
      }
    }
    
    .nav__overlay {
      position: fixed;
      top: $mobile-header-height;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $zIndex-navOverlay;
      background-color: rgba(0, 0, 0, 0.8);
      animation: fade 500ms;
    
      display: none;
      opacity: 0;
    
      &.is-active {
        opacity: 1;
        display: block;
    
        @include mq($from: m) {
          display: none;
          opacity: 0;
        }
      }
    }
    
    @keyframes fade {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
  }

  @include mq($from: m) {
    @include container();
    position: relative;

    .nav__group {
      margin: 0px;
      padding: 0px;
      list-style: none;
      
      &--header {
        position: absolute;
        top: 0px;
        right: 1rem;
        margin-top: -$desktop-header-height - 7;
        z-index: 1000;

        body:not(.location--elsewhere) & {
          margin-top: -$desktop-header-and-border-height - 5;
        }
      }

      &--locations {
        position: absolute;
        top: 0px;
        left: 1rem;
        margin-top: -75px;
        width: 100%;
        z-index: 900;
      }
    }
    
    .hub-nav-container {
      margin: 0px!important;
    }

    .nav__list {
      margin: 0px;
      padding: 0px;
      list-style: none;

      &--sub-list {
        display: none;
        position: absolute;
        z-index: 100;
        padding: 10px 0;
        background: $brand-c;
    
        @include mq($from: m, $until: xxl) {
          width: $columned-dropdown-item-width;
        }
      }
    
      &--columned {
        @include mq($from: m) {
          column-count: $columned-dropdown-column-count;
          width: 541px!important; // hack!
          margin-left: -$columned-dropdown-item-width;
        }
      }
    
      .nav__item--about > &--sub-list,
      .nav__item--locations > &--sub-list {
        @include mq($from: m, $until: xxl) {
          right: 0px
        }
      }
    }

    .nav__item--hub-nav .nav__list {
      background: $brand-s;
      .nav__item--sub-item a { 
        color: $brand-k;
        &:hover {
          background: $brand-e;
        }
      }
    }

    .nav__item {
      float: left;
      margin-bottom: 0;

      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
    
      &:hover {
        & > .nav__list {
          display: block;            
        }
      }

      &--sub-item {
        float: none;
        @include mq($from: m) {
          width: $columned-dropdown-item-width;
        }
    
        a {
          display: block;
          padding: 5px 30px 5px 10px;
    
          &:hover {
            background: $brand-r;
          }
    
          .hubs-nav &:hover {
            background: $brand-e;
          }
        }
      }
    
      .nav__list--columned & {
        @include mq($from: m) {
          width: $columned-dropdown-item-width;
        }
      }

      &--mobile-only {
        display: none;
      }

      &--hub-nav {
        width: 100%;
        display: none;
      }
    }

    .nav__item-link {
      display: block;
      color: white;
      padding: 37px 10px;
      height: $desktop-header-height;
    
      &:hover {
        background: $brand-c;
        text-decoration: none;
      }
    
      &--location-item {
        height: $locations-nav-height;
        padding: 0;
        color: $brand-k!important;
        padding: 18px 10px;
    
        &:hover {
          background: $brand-s;
        }
      }

      .nav__item--hub-nav &--has-sub-nav {
        padding-right: 35px;
      }
    
      &--has-sub-nav {
        padding-right: 35px;
        position: relative;
        &::after {
          content: '';
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid white;
          margin-left: 1em;
          top: 3em;
          position: absolute;
        }
      }
    }
    
    .nav__item-link--location-item.nav__item-link--has-sub-nav {
      &::after {
        border-top: 5px solid $brand-k; 
        top: 1.7em;
      }
    }
  }
}

// Active Section
@each $section in $nav-sections {
  .section--#{$section} {
    .nav__item--#{$section} {
      background: $brand-s;
      @include mq($from: m) {
        background: $brand-c;
      }
    }
    .nav__item--hub-nav .nav__item--#{$section} {
      background: $brand-s;
      @include mq($from: m) {
        background: $brand-s;
      }
    }
  }
}

// Active page
@each $page in join(join($nav-pages, $generated-nav-pages), $generated-locations-for-nav) {
  .page--#{$page} {
    .nav__item--#{$page} {
      background: $brand-s;
    }
    .nav__list--sub-list .nav__item--#{$page} {
      background: $brand-e;
      @include mq($from: m) {
        background: $brand-r;
      }
    }
    .nav__item--hub-nav .nav__list--sub-list .nav__item--#{$page} {
      background: $brand-e;
      @include mq($from: m) {
        background: $brand-e!important;
      }
    }
  }
}

// Active location nav
@each $location in $generated-locations-for-nav {
  .location--#{$location} {
    [data-city="#{$location}"] {
      display: block!important;
    }
  }
}
