// Active Subnav
@include mq($from: m) {
  @each $section in $nav-sections {
    .section--#{$section} .nav__item--#{$section} {
      background-color: $brand-i;

      .nav__list--sub-list {
        display: block;
      }
    }
  }
}

// Active page
@each $page in $nav-pages {
  .page--#{$page} {
    .nav__item--#{$page} > a {
      text-decoration: underline;

      @include mq($from: m) {
        background-color: #fff;
        text-decoration: none;
      }
    }
  }
}

// Nav code
.nav {
  &__container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: $nav-width;
    z-index: 30;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    transition: transform 250ms cubic-bezier(.16, .68, .43, .99);
    transform: translate3d($nav-width, 0, 0);

    background-color: $brand-c;

    @include mq($from: m) {
      background-color: $brand-j;
      position: absolute;
      top: $header-top;
      width: 100%;
      height: $header-subnav-height;
      transition: none;
      transform: none;
      box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.7);
      border-top: 2px solid $brand-i;
      overflow-y: hidden;

      .section--nosubnav & {
        height: $header-height;
      }
    }

    &.is-active {
      transform: translate3d(0px, 0, 0);

      @include mq($from: m) {
        transform: none;
      }
    }
  }

  &__push {
    transition: transform 250ms cubic-bezier(.16, .68, .43, .99);

    &.is-active {
      transform: translate3d(-$nav-width, 0, 0);

      @include mq($from: m) {
        transform: none;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fade 500ms;

    display: none;
    opacity: 0;

    &.is-active {
      opacity: 1;
      display: block;

      @include mq($from: m) {
        display: none;
        opacity: 0;
      }
    }
  }

  &__btn {
    float: right;
    width: auto;
    padding: 20px;
    margin: 0;
    color: #fff;

    @include mq($from: m) {
      display: none;
    }

    .icon {
      height: 12px;
      width: 12px;
    }
  }

  &__list {
    clear: both;
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style-type: none;

    @include mq($from: m) {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    &--sub-list {
      list-style: none;
      margin: 10px 0 0 10px;
      padding: 0;

      @include mq($from: m) {
        display: none;
        position: absolute;
        top: 42px;
        left: 0px;
        width: 100%;
        margin: 0;
        background-color: $brand-i;
        text-align: center;
      }
    }
  }

  &__item {
    color: #fff;
    border-bottom: 1px solid $brand-b;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-weight: $font-headline-weight;

    @include mq($from: m) {
      margin: 0 -4px 0 0; // inline-block whitespace fix
      padding: 0;
      display: inline-block;
      border: 0;

      &--sub-item {
        display: inline-block;
        font-size: 14px;
        margin: 0 -4px 0 0; // inline-block whitespace fix

        a {
          &:hover {
            background-color: #fff !important; // cancel out background colour animation
          }
        }
      }

      &--active {
        background-color: $brand-i;

        .nav__list--sub-list {
          display: block;
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 5px 0;

      @include mq($from: m) {
        padding: 10px 30px;
        color: $brand-k;
        transition: background-color 150ms linear;

        &:hover {
          background-color: $brand-i;
        }
      }
    }
  }

  @media print {
    & {
      display: none;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
