.needs {
  &__need {
    margin: 0 0 10px 0;
		padding: 0;

    @include span(full);

    @include mq($from: l) {
      @include span(6 of $grid-column);
    }
  }

  &__more-info {
		margin-bottom: 40px;
    text-align: left;

    @include span(full);

    @include mq($from: l) {
      @include span(2 of $grid-column);
      text-align: right;
    }
  }
}
