.needs {
  &__need {
    margin: 0 0 10px 0;
		padding: 0;

    @include span(full);

    @include mq($from: m) {
      @include span(4 of $column-small);
    }

    @include mq($from: l) {
      @include span(9 of $column-large);
    }
  }

  &__more-info {
		margin-bottom: 40px;
    text-align: left;

    @include span(full);

    @include mq($from: m) {
      @include span(2 of $column-small);
      text-align: right;
    }

    @include mq($from: l) {
      @include span(3 of $column-large);
      text-align: right;
    }
  }
}
