.needs {
	&__need {
		margin-top; 1.5em;
		margin-bottom: 1em;
	    @include span(6 of $column-small);

	    @include mq($from: m) {
	      @include span(9 of $column-large);
	    }

	    @include mq($from: l) {
		  margin-top: 0em;
	      @include span(9 of $column-large);
	    }
	}
	&__more-info {
	    @include span(6 of $column-small);
		text-align: center;

	    @include mq($from: m) {
	      @include span(3 of $column-large);
		text-align: right;
	    }

	    @include mq($from: l) {
	      @include span(3 of $column-large);
		text-align: right;
	    }
	}
}