.block--news {
  background: $brand-q;
}

.news-posts {

  &__post {
    padding: 10px;
  }

  .post {
    border-bottom: 1px solid $brand-j;
    &__image {
      float: left;
      width: 90px;
      height: 90px;
      margin: 0 10px 10px 0;

      &--empty {
        background-color: $brand-b;
      }

      img,
      svg {
        width: 100%;
        height: 100%;
      }

      svg {
        padding: 10px;
      }

      @media screen and (min-width: $mq-breakpoints('m')) {
        position: relative;
        padding-bottom: 100%;
        margin-bottom: 10px;

        img,
        svg {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    &__title {
      @extend .h3;
      margin-bottom: 5px;
    }

    &__date,
    &__excerpt,
    &__cta {
      @extend .small;
    }

    &__date {}

    &__excerpt {}

    &__cta {
      float: right;
    }
  }
}

.news-footer {
  text-align: center;
  .btn {
    margin: 20px auto;

    &__text {
      display: inline-block;
    }
  }
}
