.news-posts {

  @include mq($from: m) {
    display: flex;
    flex-flow: row wrap;
  }

  &__post {
    @include cf;

    padding: 10px 0;
    border-bottom: 1px solid $brand-f;

    &:last-child {
      border-bottom: none;
    }

    @include mq($from: m) {
      @include span(1 of 3);
      border-bottom: none;
      position: relative;
      &:last-child {
        @include last();
      }
    }
  }

  .post {
    &__image {
      float: left;
      width: 90px;
      max-height: 90px;
      margin: 0 10px 0 0;

      &--empty {
        background-color: $brand-b;
      }

      img,
      svg {
        width: 100%;
      }

      svg {
        padding: 10px;
      }

      @include mq($from: m) {
        position: relative;
        float: none;
        width: auto;
        max-height: 0;
        margin: 0 0 $site-gutter;
        padding-bottom: 50%;
        overflow: hidden;
        border: 1px solid $brand-h;

        img,
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: 0;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__title {
      margin: 0 0 20px 100px;
      @include mq($from: m) {
        margin: 0 0 20px 0;
      }
    }

    &__date,
    &__cta {
      @extend .small;

      line-height: 2;

      @include mq($from: m) {
        position: absolute;
        bottom: 0;
      }
    }

    &__excerpt {
      display: none;

      @include mq($from: m) {
        padding-bottom: 20px;
        display: block;
      }
    }

    &__cta {
      float: right;

      &__link {
        font-family: $font-headline;
        font-weight: $font-headline-weight;
      }

      @include mq($from: m) {
        right: 0.5em;
      }
    }
  }
}

.news-footer {
  text-align: center;
  padding: 20px 0;
}
