.partners {
  text-align: center;

  &__list {
    list-style: none;
    margin: 50px 0 30px 0;
    padding: 0;
    @include cf();

    @include mq($from: m) {
      margin-top: 20px;
    }
  }

  &__logo {
    display: inline-block;
    height: 120px;
    width: 120px;
    position: relative;
    overflow: hidden;
    margin: 0 10px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &:hover {
        opacity: 0.8;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--partners-page {
      display: block;
      background-color: red;
      margin: 0 auto 20px auto;
      @include mq ($from: m) {
        float: left;
        margin: 0 20px;
      }
    }

    &--coalition-of-relief {
      width: 57px;

      a {
        background-image: url(/assets/img/coalition-of-relief.png);
      }
    }

    &--booth-centre {
      width: 114px;

      a {
        background-image: url(/assets/img/booth-centre.png);
      }
    }

    &--mustard-tree {
      width: 172px;

      a {
        background-image: url(/assets/img/mustard-tree.png);
      }
    }

    &--bruntwood {
      width: 132px;

      a {
        background-image: url(/assets/img/bruntwood.png);
      }
    }

    &--holy-name-manchester {
      width: 195px;

      a {
        svg {
          height: 38px;
          width: 195px;
          margin-top: -19px;
        }
      }
    }

    &--shelter {
      width: 90px;

      a {
        svg {
          height: 38px;
          width: 90px;
          margin-top: -19px;
        }
      }
    }

    &--cityco {
      width: 120px;

      a {
        background-image: url(/assets/img/cityco.png);
      }
    }

    &--leedsbid {
        svg {
          position: absolute;
          left: 0;
          top: 0!important;
          height: 100px;
          width: 120px;
        }
    }

    &--bournemouth-uni {
      width: 250px;
        svg {
          position: absolute;
          left: 0;
          top: 0!important;
          height: 120px;
          width: 240px;
        }
    }

    &--partner-us {
      width: 38px;

      a {
        background-image: url(/assets/img/partner-with-us.png);
      }
    }

    &--big-lottery-fund{
      a {
        svg {
          height: 96px;
          width: 120px;
          margin-top: -48px;
        }
      }
    }

    &--human-appeal {
      a {
        background-image: url(/assets/img/human-appeal-180x180.png);
      }
    }
  }
}

.partner {
  @include cf();
  padding-bottom: 20px;
}

.partner__description {
  @include mq($from:m) {
    margin-left: 160px;
  }
}
