.partners {
  text-align: center;

  &__list {
    @include cf();

    list-style: none;
    margin: 50px 0 30px;
    padding: 0;

    @include mq($from: m) {
      margin-top: 20px;
    }
  }

  &__logo {
    display: inline-block;
    height: 120px;
    width: 120px;
    position: relative;
    overflow: hidden;
    margin: 0 10px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &:hover {
        opacity: 0.8;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--partners-page {
      display: block;
      margin: 0 auto 20px;

      @include mq ($from: m) {
        float: left;
        margin: 0 20px;
      }
    }

    &--coalition-of-relief {
      width: 57px;

      a {
        background-image: url(/assets/img/coalition-of-relief.png);
      }
    }

    &--booth-centre {
      width: 114px;

      a {
        background-image: url(/assets/img/booth-centre.png);
      }
    }

    &--bruntwood {
      width: 132px;

      a {
        background-image: url(/assets/img/bruntwood.png);
      }
    }

    &--holy-name-manchester {
      width: 195px;

      a {
        svg {
          height: 38px;
          width: 195px;
          margin-top: -19px;
        }
      }
    }

    &--gm-mayors-fund {
      width: 140px;

      a {
        background-image: url(/assets/img/gm-mayors-fund.png);
      }
    }

    &--shelter {
      width: 90px;

      a {
        svg {
          height: 38px;
          width: 90px;
          margin-top: -19px;
        }
      }
    }

    &--cityco {
      width: 120px;

      a {
        background-image: url(/assets/img/cityco.png);
      }
    }

    &--one-agency {
      width: 110px;

      a {
        background-image: url(/assets/img/one-agency.png);
      }
    }

    &--dentsu-aegis {
      width: 250px;

      a {
        background-image: url(/assets/img/dentsu-aegis.png);
      }
    }

    &--city-council {
      width: 175px;

      a {
        background-image: url(/assets/img/manchester-city-council.png);
      }
    }

    &--leedsbid {
      width: 220px;
      svg {
        position: absolute;
        left: 0;
        top: 0 !important;
        height: 140px;
        width: 200px;
      }
    }

    &--bournemouth-uni {
      width: 250px;
      a {
        background-image: url(/assets/img/bournemouth-university_250px.png);
      }
    }

    &--national-lottery {
      width: 160px;
      a {
        background-image: url(/assets/img/national-lottery.png);
      }
    }

    &--dorset-pcc {
      width: 250px;
      a {
        background-image: url(/assets/img/dorset-pcc.png);
      }
    }

    &--dorset-comm-fdn {
      width: 250px;
      a {
        background-image: url(/assets/img/dorset-community-foundation.png);
      }
    }
    
    &--bournemouth-council {
      width: 204px;
      a {
        background-image: url(/assets/img/bournemouth-council.png);
      }
    }
    
    &--christchurch-council {
      width: 110px;
      a {
        background-image: url(/assets/img/christchurch-council.png);
      }
    }

    &--poole-council {
      width: 73px;
      a {
        background-image: url(/assets/img/poole-council.png);
      }
    }

    &--liverpoolbid {
      width: 294px;

      a {
        svg {
          height: 142px;
          margin-top: -77px;
        }
      }
    }

    &--partner-us {
      width: 38px;

      a {
        background-image: url(/assets/img/partner-with-us.png);
      }
    }

    &--big-lottery-fund {
      a {
        svg {
          height: 96px;
          width: 120px;
          margin-top: -48px;
        }
      }
    }

    &--human-appeal {
      a {
        background-image: url(/assets/img/human-appeal-logo.svg);
      }
    }

    &--go-southampton {
      a {
        background-image: url(/assets/img/go-southampton.png);
      }
    }

    &--rotary-southampton {
      width: 200px;

      a {
        background-image: url(/assets/img/rotary-southampton.png);
      }
    }

    &--southampton-voluntary-services {
      width: 180px;

      a {
        background-image: url(/assets/img/southampton-voluntary-services.png);
      }
    }

    &--society-of-st-james {
      width: 200px;

      a {
        background-image: url(/assets/img/society-of-james.png);
      }
    }

    &--southampton-city-council {
      width: 200px;
      a {
        background-image: url(/assets/img/southampton-city-council.png);
      }
    }

    &--city-life-church {
      width: 160px;

      a {
        background-image: url(/assets/img/citylife-church.png);
      }
    }

    &--oasis-uk {
      width: 140px;

      a {
        background-image: url(/assets/img/oasis.png);
      }
    }
  }
}

.partner {
  @include cf();

  padding-bottom: 50px;
}
