.partners {
  list-style: none; margin: 0 0 30px 0; padding: 0;
  @include cf();
}

.partners__logo {
  @extend .hide-text;
  background: no-repeat; height: 38px;
  display: inline-block;
  margin: 0 10px 10px 10px;

  &:last-child { margin-right: 0 }

  &--coalition-of-relief {
    background-image: url(/assets/img/coalition-of-relief.png);
    width: 40px;
  }
  &--booth-centre {
    background-image: url(/assets/img/booth-centre.png);
    width: 114px;
  }
  &--mustard-tree {
    background-image: url(/assets/img/mustard-tree.png);
    width: 172px;
  }
  &--bruntwood {
    background-image: url(/assets/img/bruntwood.png);
    background-position: 0 11px;
    width: 132px;
  }
  &--partner-us {
    background-image: url(/assets/img/partner-with-us.png);
    width: 38px;
  }
}

