.requests-search {
  &.is-active {
    display: block;
  }

  &.is-hidden {
    display: none;
  }

  &__input {
    background: #e8e8e8;
    padding: 10px 20px 20px 20px;
    margin-bottom: 40px;

    &__header {

    }
  }

  &__autocomplete {
    margin-bottom: 20px;
    padding: 4px 10px;
    width: 100%;
    height: 50px;
  }

  &__filter {
    margin-bottom: 20px;

    @include mq($from: l) {
      float: left;
    }

    &__header {
      display: inline-block;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline-block;
    }

    &__item {
      margin: 0 0 0 20px;
      padding: 0;
      display: inline-block;
      cursor: pointer; // TEMP STYLE

      &.is-active {
        text-decoration: underline;
      }
    }
  }

  &__sort {
    margin-bottom: 20px;

    @include mq($from: l) {
      float: right;
    }

    &__header {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.requests-detail {
  overflow: hidden;

  &.is-active {
    display: block;
  }

  &.is-hidden {
    display: none;
  }
}

// NOTE: Items need to be fixed width for bricks.js support
.requests-listing {
  clear: both;
  margin: 20px auto 20px auto;
  padding: 0;
  list-style-type: none;
  // border: 1px dashed red;

  &__item {
    margin-bottom: 20px;
    background-color: #e8e8e8;
    padding: 20px;
    width: 290px;

    @include mq($from: xs) {
      width: 330px;
    }

    @include mq($from: s) {
      width: 220px;
    }

    @include mq($from: m) {
      width: 330px;
    }

    @include mq($from: l) {
      width: 240px;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &__type {
    text-transform: capitalize;
  }
}

// Awesomecomplete
// NOTE: These styles have just been thrown in here from default example
[hidden] { display: none; }

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

div.awesomplete {
  width: 100%;  // custom

	display: inline-block;
	position: relative;
}

div.awesomplete > input {
	display: block;
}

div.awesomplete > ul {
  top: 60px; // custom

	position: absolute;
	left: 0;
	z-index: 1;
	min-width: 100%;
  // width: 100%;
  // max-width: 300px;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

@supports (transform: scale(0)) {
	div.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}

	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

	/* Pointer */
	div.awesomplete > ul:before {
		content: "";
		position: absolute;
		top: -.43em;
		left: 1em;
		width: 0; height: 0;
		padding: .4em;
		background: white;
		border: inherit;
		border-right: 0;
		border-bottom: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	div.awesomplete > ul > li {
		position: relative;
		padding: .2em .5em;
		cursor: pointer;
	}

	div.awesomplete > ul > li:hover {
		background: hsl(200, 40%, 80%);
		color: black;
	}

	div.awesomplete > ul > li[aria-selected="true"] {
		background: hsl(205, 40%, 40%);
		color: white;
	}

		div.awesomplete mark {
			background: hsl(65, 100%, 50%);
		}

		div.awesomplete li:hover mark {
			background: hsl(68, 100%, 41%);
		}

		div.awesomplete li[aria-selected="true"] mark {
			background: hsl(86, 100%, 21%);
			color: inherit;
		}
