// Give requests detail page specific styles


.requests-detail__type {
  color: $brand-h;
  text-transform: capitalize;

  &.with-icon {
    padding-left: 65px;
    position: relative;
  }
}

.requests-detail__icon {
  @include size(45px);

  position: absolute;
  left: 0;
  top: 0;
}

.request-detail__description {

}

.requests-detail__name {

}

.requests-detail__synopsis {
  color: $brand-k;
}

.requests-detail__date {
  color: $brand-h;
}

.requests-detail__location {
  color: #FFF;
  text-align: center;
}

.requests-detail__location__heading {
  background: linear-gradient($brand-b, $brand-p);
  font-size: 25px;
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;

  @include mq($from: l) {
    &::before,
    &::after {
      background: #FFF;
      content: '';
      height: 1px;
      position: absolute;
      top: 50%;
      width: 25%;
    }

    &::before {
      left: 15%;
    }

    &::after {
      right: 15%;
    }
  }
}

.requests-detail__map {
  border: 0;
  display: block;
  width: 100%;
}

.requests-detail__metadata {
  text-align: center;
}

.requests-detail__metadata__heading {
  font-size: 25px;
}

.requests-detail__accordion {
  margin: 0 auto;
  max-width: 620px;
}

.requests-detail__share-list {
  margin-top: 10px;
}

.requests-detail__share-list__item {
  margin: 0 20px;

  a {
    color: $brand-b;
  }
}

.requests-detail__share-list__icon {
  @include size(60px);

  display: block;
  margin: 0 auto 10px;

  outline: 1px solid black; // for dev


  // @todo
  // fill: $brand-h;
}
