.requests-detail {
  &__type {
    color: $brand-h;
    text-transform: capitalize;

    &.with-icon {
      padding-left: 65px;
      position: relative;
    }
  }

  &__icon {
    @include size(45px);

    position: absolute;
    left: 0;
    top: 0;
  }

  &__description {
  }

  &__name {
    margin-bottom: 0;
  }

  &__synopsis {
    color: $brand-k;
    margin-bottom: 10px;
  }

  &__date {
    color: $brand-h;
  }

  & .btn {
    width: 100%;
    &--plain { margin: 0 }

    @include mq($from: s) {
      width: inherit;
      &--plain { margin: inherit }
    }
  }

  &__heading {
    background: linear-gradient($brand-b, $brand-p);
    font-size: 25px;
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    color: white;
    text-align: center;

    @include mq($from: l) {
      &::before,
      &::after {
        background: #FFF;
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        width: 25%;
      }

      &::before {
        left: 15%;
      }

      &::after {
        right: 15%;
      }
    }
  }

  &__map {
    border: 0;
    display: block;
    min-height: 200px;
    width: 100%;

    @include mq($from: l) {
      min-height: 440px;
    }
  }

  &__form {

    @include mq($from: l) {
      @include pre(1 of 6)
      @include post(1 of 6)
    }
  }

  &__share-list {
    margin-top: 10px;
  }

  &__share-list__item {
    margin: 0 20px;

    a {
      color: $brand-b;
    }
  }

  &__share-list__icon {
    @include size(60px);

    display: block;
    margin: 0 auto 10px;
  }
}
