// Give requests page specific styles

.requests-search {
  &.is-active {
    display: block;
  }

  &.is-hidden {
    display: none;
  }
}

.requests-search__intro {
  // @todo see if this needs to be globally applied?
  text-align: center;

  .block__header {
    text-align: center;
  }
}

.requests-search__input {
  background: linear-gradient($brand-b, $brand-p);
  border-radius: 5px 5px 0 0;
  padding: 10px 20px 20px 20px;
  text-align: center;
}

.requests-search__container {
  width: 100%;
  margin: 0 auto;

  @include mq($from: l) {
    width: 75%;
  }
}

.requests-search__input__header {
  color: #FFF!important; margin-top: 20px;
}

.requests-search__autocomplete {
  // @todo see if we can reuse these form styles globally
  border: 1px solid #939598;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.requests-search__input__submit {
  width: 100%;

  @include mq($from: l) {
    width: 33.33%;
  }
}

.requests-search__filter {

  .list-to-dropdown__select {
    background: #FFF;
    border: 1px solid #939598;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
    padding: 10px;
    width: 100%;
  }
}

.requests-search__filter__header {
  display: inline-block;
}

.requests-search__filter__list {
  background: #ECECEC;
  border-bottom: 1px solid $brand-k;
  list-style-type: none;
  margin: 5px 0 30px;
  padding: 0;
  text-align: center;

  @include mq($from: l) {
    margin-bottom: 50px;
  }
}

.requests-search__filter__item {
  color: #898989;
  cursor: pointer;
  font-weight: $font-headline-weight;
  padding: 15px 25px;

  @include mq($from: l) {
    display: inline-block;
    margin: 0 0 0 20px;
  }

  &.is-active,
  &:hover {
    color: $brand-k;
    text-decoration: underline;
  }
}

.requests-search__sort__list {
  border: 1px solid #939598;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

// NOTE: Items need to be fixed width for bricks.js support
.requests-listing {
  clear: both;
  list-style: none;
  margin: 20px auto;
  padding: 0;
  max-width: 100%;
}

.requests-listing__item {
  border: 1px solid $brand-k;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  max-width: 100%;
  width: 290px;
  height: 360px;
  word-wrap: break-word;

  @include mq($from: xs) {
    width: 330px;
  }

  @include mq($from: s) {
    width: 220px;
  }

  @include mq($from: m) {
    width: 330px;
  }

  @include mq($from: l) {
    width: 240px;
  }
}

.requests-listing__info {
  background-image: url('../img/header-background.png');
  background-repeat: repeat;
  margin-left: -1px;
  margin-right: -1px;
  padding: 20px;
  height: 180px;
}

.requests-listing__date {
  color: $brand-j;
  margin-bottom: 0;
}

.requests-listing__link {
  color: inherit!important; // @todo wean out
  display: block;
  text-decoration: inherit;
}

.requests-listing__icon {
  @include size(25px);

  position: absolute;
  left: 10px;
}

.requests-listing__type {
  color: $brand-l;
  display: inline-block;
  line-height: 28px;
  margin-bottom: 0;
  padding: 10px 20px 10px 45px;
  position: relative;
  text-transform: capitalize;
  width: 100%;
}

.requests-listing__provider,
.requests-listing__location-description {
  color: $brand-k;
  padding: 0 20px;

  &:empty {
    display: none;
  }
}

.requests-listing__location-description {
  font-weight: $font-headline-weight;
}

.requests-listing__description {
  color: #FFF;
  font-size: 18px;
  font-weight: $font-headline-weight;
  margin: 0 0 5px;
}

.requests-listing__amount {
  color: $brand-k;
  font-weight: $font-headline-weight;
  margin: 0;
  position: absolute;
  top: 14px;
  right: 10px;
}

.requests-detail {
  overflow: hidden;

  &.is-active {
    display: block;
  }

  &.is-hidden {
    display: none;
  }
}

// Awesomecomplete
// @note: These styles have just been thrown in here from default example
// @todo refactor from here
.awesomplete {
  position: relative;

  ul {
    top: 60px;

    position: absolute;
    left: 0;
    z-index: 1;
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    border-radius: .3em;
    margin: .2em 0 0;
    background: hsla(0,0%,100%,.9);
    background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: .05em .2em .6em rgba(0,0,0,.2);
    text-shadow: none;
    transition: .3s cubic-bezier(.4,.2,.5,1.4);
    transform-origin: 1.43em -.43em;

    &[hidden],
    &:empty {
      display: none;
      opacity: 0;
      transform: scale(0);
      display: block;
      transition-timing-function: ease;
    }

    // pointer arrow
    &:before {
      content: '';
      position: absolute;
      top: -.43em;
      left: 1em;
      width: 0; height: 0;
      padding: .4em;
      background: white;
      border: inherit;
      border-right: 0;
      border-bottom: 0;
      transform: rotate(45deg);
    }

    li {
      position: relative;
      padding: .2em .5em;
      cursor: pointer;

      &:hover {
        background: hsl(200, 40%, 80%);
        color: black;

        mark {
          background: hsl(68, 100%, 41%);
        }
      }

      &[aria-selected="true"] {
        background: hsl(205, 40%, 40%);
        color: white;

        mark {
          background: hsl(86, 100%, 21%);
          color: inherit;
        }
      }
    }

    mark {
      background: hsl(65, 100%, 50%);
    }
  }
}
