.result-grid {
  @include cf();
  padding-top: 30px;
  padding-bottom: 30px;

  &__item {
    @include span(3 of $column-small);

    @include mq($from: m) {
      @include span(4 of $column-large);
    }

    @include mq($from: l) {
      @include span(3 of $column-large);
    }

    // NOTE: Both these classes are horrible hacks and needs to be changed ASAP
    .btn__icon {
      max-height: 180px !important;
    }

    .btn__text {
      font-size: 14px;

      @include mq($from: btnhack) {
        font-size: 16px;
      }
    }
  }
}
