.result-detail {
  margin-top: 20px;

  &__header {
    margin-top: 0;
  }

  &__btn {
    clear: both;
    margin-bottom: 5px;

    @include printHide();
  }

  &__target-audience {
    margin-bottom: 20px!important;
  }

  &__address-list {
    margin: 0;
    padding: 0 0 20px 0;
    list-style-type: none;

    .accordion--organisation & {
      padding-bottom: 20px;
    }
  }

  &__address-item {
    display: inline;
  }

  &__telephone {
    margin-bottom: 20px!important;
  }

  &__times-list {
    @include cf();
    margin: 0;
    padding: 0 0 15px 0;

    .accordion--organisation & {
      padding-bottom: 0;
    }
  }

  &__times-title {
    margin: 0 40px 0 0;
    padding: 0 0 5px 0;
    min-width: 85px;
    float: left;
    clear: both;
    font-weight: $font-headline-weight;

    .accordion--day & {
      float: none;
    }

    @include mq($from: m) {
      width: 120px;
      &--timetabled {
        width: auto;
      }
    }
  }

  &__times-items {
    margin: 0 0 0 20px;
    padding: 0px 0px 5px 0px;
    float: right;

    @include mq($from: m) {
      float: left;
    }

    .accordion--day & {
      float: none;
    }
  }

  &__times-item {
    margin-left: 140px;
    &--timetabled {
      margin-left: 0
    }
    &--provider-listing {
      margin-left: 160px
    }
  }

  &__contact-list {
    @include cf();
    margin: 0;
    padding: 0 0 15px 0;

    .accordion--organisation & {
      padding-bottom: 0;
    }
  }

  &__contact-title {
    margin: 0;
    padding: 0 0 5px 0;
    font-weight: $font-headline-weight;

    @include mq($from: s) {
      width: 120px;
      margin: 0 40px 0 0;
      padding: 0 0 5px 0;
      float: left;
      clear: both;
      &--timetabled {
        width: auto;
      }
    }
  }

  &__contact-items {
    margin: 0 0 0 20px;
    padding: 0px 0px 5px 0px;
    float: right;

    @include mq($from: m) {
      float: left;
    }
  }

  &__contact-item {
    margin-left: 0;
    margin-bottom: 20px;
    @include mq($from: s) {
      margin-left: 140px;
      margin-bottom: 10px;
    }
  }

  &__provider-tag-list {
    margin: 20px 0;
    padding: 0;
    @include cf();
  }

  &__provider-tag-item {
    display: inline;
    &:after {
      content: '; '
    }

    &:last-of-type {
      &:after {
        content: ''
      }
    }
  }

  &__tags-item {
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: $font-headline-weight;
  }

  &__item {
    padding-top: 30px;
    padding-bottom: 20px;
    @include cf();
    border-bottom: 1px solid $brand-f;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: none;
      border-bottom: none;
    }
  }
}

.result-detail__content {
  @include cf();
  margin-bottom: 20px;
}

.result-detail__location {
  @include mq($from: s) {
    @include span(1 of 2);
    @include last();
  }
}

.result-detail__address-map {
  margin-top: 10px;
}

.result-detail__opening-times {
  @include mq($from: s) {
    @include span(1 of 2);
  }
}
