.result-detail {

  @include mq($from: m) {
    @include span(10 of $column-large);
  }

  @include mq($from: l) {
    @include span(8 of $column-large);
  }

  &__address-list {
    margin: 0;
    padding: 0 0 20px 0;
    list-style-type: none;

    .accordion & {
      padding-bottom: 0;
    }
  }

  &__address-item {
    display: inline;
  }

  &__times-list {
    @include cf();
    margin: 0;
    padding: 0 0 15px 0;

    .accordion & {
      padding-bottom: 0;
    }
  }

  &__times-title {
    margin: 0;
    padding: 0 0 5px 0;
    display: block;
    float: left;
    width: 100px;
    clear: both;
  }

  &__times-item {
    margin: 0;
    padding: 0 0 5px 0;
    display: block;
    float: left;
  }
}
