.result-grid {
  @include cf();

  &__item {
    .btn__text {
      font-size: 12px;

      @include mq($from: xs) {
        font-size: 14px;
      }

      @include mq($from: s) {
        font-size: 16px;
      }
    }
  }
}
