#search-wrapper {
    width: 100%;

      /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;

        /* The search field */
        #search {
            box-sizing: border-box;
            background-image: url('/assets/img/search-icon.png');
            background-position: 18px 14px;
            background-repeat: no-repeat;
            font-size: 18px;
            padding: 9px 20px 7px 45px;
            border: 1px solid #707070;
            border-radius: 50px;
            outline: none;
            width: 100%;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown--content {
            position: absolute;
            background-color: #FFFFFF;
            border: 1px solid  #707070;
            z-index: 1;
            margin-top: 10px;
            box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
            width: 100%;
            text-align: left;
            height: 150px;
            overflow-y: auto;

            @include mq($from: m) {
                height: 100px;
            }

            /* Links inside the dropdown */
            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;

                /* Change color of dropdown links on hover */
                &:hover {
                    background-color: #f1f1f1
                }
            }
        }

        @include mq($from: m) {
            width: 70%;
        }

        @include mq($from: xl) {
            width: 75%;
        }

        @include mq($from: xxl) {
            width: 80%;
        }
    }

    button.btn {
        margin-top: 20px;

        @include mq($from: l) {
            margin-bottom: 0;
            margin-top: 0;
        }

        .btn__text { 
            padding: 8px 18px;
            font-size: 18px;
        }
    }
}