.social-share {
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  line-height: 40px;

  @include printHide();

  &--home {
    margin-top: 20px;
  }

  &--in-list {
    display: list-item;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  &__text,
  &__caption {
    margin-right: 10px;
  }

  &__icon {
    vertical-align: middle;
  }

  a { 
    text-decoration: none;
  }
}
