.split {
  @include cf();

  .block__content & {
    margin: 40px 0;
  }

  &__element {
    @include cf();
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include mq($from: m) {
      @include span(4 of $grid-column);
      margin-bottom: 0;

      &:last-of-type {
        @include last();
      }
    }

    .split--reverse & {
      @include mq($from: m) {
        &:first-of-type {
          @include last();
        }

        &:last-of-type {
          @include first();
        }
      }
    }
  }
}
