.svg-accom-dims {
	width: 289px;
	height: 206.827px;
}

.svg-close-dims {
	width: 25.7px;
	height: 26.4px;
}

.svg-communications-dims {
	width: 289px;
	height: 206.827px;
}

.svg-donate-dims {
	width: 289px;
	height: 206.8px;
}

.svg-dropin-dims {
	width: 289px;
	height: 206.827px;
}

.svg-email-alt-dims {
	width: 122px;
	height: 122px;
}

.svg-facebook-dims {
	width: 34px;
	height: 34px;
}

.svg-facebook-alt-dims {
	width: 34px;
	height: 34px;
}

.svg-findhelp-dims {
	width: 289px;
	height: 206.827px;
}

.svg-foodbank-dims {
	width: 289px;
	height: 206.827px;
}

.svg-give-dims {
	width: 289px;
	height: 206.3px;
}

.svg-givehelp-dims {
	width: 289px;
	height: 206.327px;
}

.svg-holy-name-manchester-dims {
	width: 115.5px;
	height: 21.75px;
}

.svg-items-dims {
	width: 289px;
	height: 206.827px;
}

.svg-items-alt-dims {
	width: 839px;
	height: 636px;
}

.svg-join-dims {
	width: 289px;
	height: 206.8px;
}

.svg-logo-dims {
	width: 52.4px;
	height: 55.7px;
}

.svg-meals-dims {
	width: 289px;
	height: 206.827px;
}

.svg-medical-dims {
	width: 289px;
	height: 206.827px;
}

.svg-minus-dims {
	width: 33.417px;
	height: 33.917px;
}

.svg-money-alt-dims {
	width: 824px;
	height: 836px;
}

.svg-nav-dims {
	width: 512px;
	height: 512px;
}

.svg-partnerships-dims {
	width: 289px;
	height: 206.7px;
}

.svg-pledge-dims {
	width: 289px;
	height: 206.8px;
}

.svg-plus-dims {
	width: 33.417px;
	height: 33.917px;
}

.svg-read-dims {
	width: 289px;
	height: 206.8px;
}

.svg-services-dims {
	width: 289px;
	height: 206.827px;
}

.svg-support-dims {
	width: 289px;
	height: 206.827px;
}

.svg-time-alt-dims {
	width: 864px;
	height: 834px;
}

.svg-training-dims {
	width: 289px;
	height: 206.827px;
}

.svg-twitter-dims {
	width: 34px;
	height: 34px;
}

.svg-twitter-alt-dims {
	width: 34px;
	height: 34px;
}

.svg-volunteer-dims {
	width: 289px;
	height: 206.327px;
}

