.svg-accom-dims {
    width: 289px;
    height: 206.827px;
}

.svg-accom-advice-dims {
    width: 166.7px;
    height: 131.69px;
}

.svg-accom-find-dims {
    width: 118.03px;
    height: 118.03px;
}

.svg-accom-listing-dims {
    width: 84.67px;
    height: 118px;
}

.svg-activities-dims {
    width: 289px;
    height: 206.8px;
}

.svg-appstore-lrg-dims {
    width: 135px;
    height: 40px;
}

.svg-award-dims {
    width: 232px;
    height: 260px;
}

.svg-big-change-dims {
    width: 240px;
    height: 171.8px;
}

.svg-big-change--small-dims {
    width: 105px;
    height: 124.72px;
}

.svg-big-lottery-fund-dims {
    width: 264.3px;
    height: 212.2px;
}

.svg-cityco-dims {
    width: 170.37px;
    height: 122.51px;
}

.svg-close-dims {
    width: 25.7px;
    height: 26.4px;
}

.svg-communications-dims {
    width: 289px;
    height: 206.827px;
}

.svg-donate-dims {
    width: 289px;
    height: 206.3px;
}

.svg-dropin-dims {
    width: 289px;
    height: 206.827px;
}

.svg-email-alt-dims {
    width: 122px;
    height: 122px;
}

.svg-employment-dims {
    width: 289px;
    height: 206.8px;
}

.svg-facebook-dims {
    width: 34px;
    height: 34px;
}

.svg-facebook-alt-dims {
    width: 34px;
    height: 34px;
}

.svg-facebook-brand-colour-dims {
    width: 34px;
    height: 34px;
}

.svg-financial-dims {
    width: 289px;
    height: 206.8px;
}

.svg-findhelp-dims {
    width: 289px;
    height: 206.827px;
}

.svg-foodbank-dims {
    width: 289px;
    height: 206.827px;
}

.svg-give-dims {
    width: 289px;
    height: 206.8px;
}

.svg-givehelp-dims {
    width: 289px;
    height: 206.327px;
}

.svg-holy-name-manchester-dims {
    width: 115.5px;
    height: 21.75px;
}

.svg-itac-logo-dims {
    width: 642.667px;
    height: 641.333px;
}

.svg-items-dims {
    width: 289px;
    height: 206.827px;
}

.svg-items-alt-dims {
    width: 199.45px;
    height: 152.68px;
}

.svg-join-dims {
    width: 289px;
    height: 206.8px;
}

.svg-leedsbid-dims {
    width: 313.5px;
    height: 267px;
}

.svg-liverpoolbid-dims {
    width: 283.46px;
    height: 141.73px;
}

.svg-logo-dims {
    width: 52.4px;
    height: 55.7px;
}

.svg-meals-dims {
    width: 289px;
    height: 206.827px;
}

.svg-medical-dims {
    width: 289px;
    height: 206.827px;
}

.svg-minus-dims {
    width: 33.417px;
    height: 33.917px;
}

.svg-money-dims {
    width: 289px;
    height: 206.8px;
}

.svg-money-alt-dims {
    width: 197.75px;
    height: 200.54px;
}

.svg-nav-dims {
    width: 512px;
    height: 512px;
}

.svg-partnershipLogo-dims {
    width: 319.731px;
    height: 351.455px;
}

.svg-partnershipLogo-solid-white-dims {
    width: 319.731px;
    height: 351.455px;
}

.svg-partnerships-dims {
    width: 289px;
    height: 206.7px;
}

.svg-pledge-dims {
    width: 289px;
    height: 206.8px;
}

.svg-plus-dims {
    width: 33.417px;
    height: 33.917px;
}

.svg-read-dims {
    width: 289px;
    height: 206.8px;
}

.svg-services-dims {
    width: 289px;
    height: 206.827px;
}

.svg-shelter-dims {
    width: 457.432px;
    height: 120.586px;
}

.svg-support-dims {
    width: 289px;
    height: 206.827px;
}

.svg-time-alt-dims {
    width: 200.03px;
    height: 200.08px;
}

.svg-training-dims {
    width: 289px;
    height: 206.827px;
}

.svg-twitter-dims {
    width: 34px;
    height: 34px;
}

.svg-twitter-alt-dims {
    width: 34px;
    height: 34px;
}

.svg-twitter-brand-colour-dims {
    width: 34px;
    height: 34px;
}

.svg-volunteer-dims {
    width: 289px;
    height: 206.327px;
}

