.svg-close-dims {
	width: 25.7px;
	height: 26.4px;
}

.svg-facebook-dims {
	width: 34px;
	height: 34px;
}

.svg-logo-dims {
	width: 52.4px;
	height: 55.7px;
}

.svg-nav-dims {
	width: 512px;
	height: 512px;
}

.svg-twitter-dims {
	width: 34px;
	height: 34px;
}

