.svg-category--accom-dims {
	width: 289px;
	height: 276px;
}

.svg-category--communications-dims {
	width: 289px;
	height: 276px;
}

.svg-category--dropin-dims {
	width: 289px;
	height: 276px;
}

.svg-category--foodbank-dims {
	width: 289px;
	height: 276px;
}

.svg-category--items-dims {
	width: 289px;
	height: 276px;
}

.svg-category--meals-dims {
	width: 289px;
	height: 276px;
}

.svg-category--medical-dims {
	width: 289px;
	height: 276px;
}

.svg-category--services-dims {
	width: 289px;
	height: 276px;
}

.svg-category--support-dims {
	width: 289px;
	height: 276px;
}

.svg-category--training-dims {
	width: 289px;
	height: 276px;
}

.svg-close-dims {
	width: 25.5px;
	height: 25.5px;
}

.svg-donate-dims {
	width: 289px;
	height: 276px;
}

.svg-facebook-dims {
	width: 34.02px;
	height: 37.02px;
}

.svg-find-help-dims {
	width: 289px;
	height: 276px;
}

.svg-give-dims {
	width: 289px;
	height: 276px;
}

.svg-give-help-dims {
	width: 289px;
	height: 276px;
}

.svg-logo-dims {
	width: 52.44px;
	height: 55.67px;
}

.svg-minus-dims {
	width: 30px;
	height: 2px;
}

.svg-nav-dims {
	width: 512px;
	height: 512px;
}

.svg-plus-dims {
	width: 30px;
	height: 30px;
}

.svg-sponsor-dims {
	width: 289px;
	height: 276px;
}

.svg-twitter-dims {
	width: 34.02px;
	height: 37.02px;
}

.svg-volunteer-dims {
	width: 289px;
	height: 276px;
}

