.team__member {
  @include cf();
  padding-bottom: 30px;
}

.team__member-title {
  &::before, &::after {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
    background-position: center center;
  }

  &::after {
    display: none;
  }

  @include mq($from: m) {
    &::before {
      display: none;
    }
    &::after {
      display: block;
      float: left;
      margin: 0 20px 0 20px;
    }
  }
}

.team__member-title--viv {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/viv-slack.jpg')
  }
}

.team__member-title--gary {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/gary-dunstan.jpg')
  }
}

.team__member-title--vince {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/vince-lee.jpg')
  }
}

.team__member-title--graham {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/graham.jpg')
  }
}

.team__member-title--soraya {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/soraya.jpg')
  }
}

.team__member-title--mark {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/mark.jpg')
  }
}

.team__member-title--dee {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/dee.jpg')
  }
}

.team__member-title--eliz {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/eliz.jpg')
  }
}

.team__member-title--james {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/james-cross.jpg')
  }
}

.team__member-title--joanne {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/jo.jpg')
  }
}

.team__member-title--gill {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/gill.jpg')
  }
}

.team__member-title--paula {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/paula.png')
  }
}

.team__member-title--charles {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/charles.jpg')
  }
}

.team__member-title--catherine {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/catherine.jpg')
  }
}

.team__member-title--rachel {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/rachel.png')
  }
}

.team__member-title--julie {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/julie.png')
  }
}

.team__member-title--jez {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/jez.jpg')
  }
}

.team__member-title--aida {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/aida.jpg')
  }
}

.team__member-title--barbara {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/barbara.jpg')
  }
}

.team__member-title--dorcas {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/dorcas.jpg')
  }
}

.team__member-title--mara {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/mara.jpg')
  }
}

.team__member-title--malar {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/malar.jpg')
  }
}

.team__member-title--daniel {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/daniel.jpg')
  }
}

.team__member-title--esther {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/esther.jpg')
  }
}

.team__member-title--bolakale {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/bolakale.jpg')
  }
}

.team__member-title--robyn {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/robyn.jpg')
  }
}

.team__member-title--francisca {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/francisca.jpg')
  }
}

.team__member-title--francisca {
  &::before, &::after {
    background-image: url('/assets/img/mugshots/james-goddard.jpg')
  }
}
