.team__member {
  @include cf();
  padding-bottom: 30px;
}

.team__member-title {
  &::before, &::after {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
    background-position: center center;
  }

  &::after {
    display: none;
  }

  @include mq($from: m) {
    &::before {
      display: none;
    }
    &::after {
      display: block;
      float: left;
      margin: 0 20px 0 20px;
    }
  }
}

.team__member-title--viv {
  &::before, &::after {
    background-image: url('/assets/img/viv-slack.jpg')
  }
}

.team__member-title--gary {
  &::before, &::after {
    background-image: url('/assets/img/gary-dunstan.jpg')
  }
}

.team__member-title--vince {
  &::before, &::after {
    background-image: url('/assets/img/vince-lee.jpg')
  }
}

.team__member-title--graham {
  &::before, &::after {
    background-image: url('/assets/img/graham-wood.jpg')
  }
}

.team__member-title--soraya {
  &::before, &::after {
    background-image: url('/assets/img/soraya.jpg')
  }
}

.team__member-title--mark {
  &::before, &::after {
    background-image: url('/assets/img/mark.jpg')
  }
}

.team__member-title--dee {
  &::before, &::after {
    background-image: url('/assets/img/dee.jpg')
  }
}

.team__member-title--james {
  &::before, &::after {
    background-image: url('/assets/img/james-cross.jpg')
  }
}

.team__member-title--joanne {
  &::before, &::after {
    background-image: url('/assets/img/jo.jpg')
  }
}

.team__member-title--gill {
  &::before, &::after {
    background-image: url('/assets/img/gill.jpg')
  }
}

.team__member-title--charles {
  &::before, &::after {
    background-image: url('/assets/img/charles.jpg')
  }
}

.team__member-title--catherine {
  &::before, &::after {
    background-image: url('/assets/img/catherine.jpg')
  }
}

.team__member-title--jez {
  &::before, &::after {
    background-image: url('/assets/img/jez.jpg')
  }
}
