body {
  font-family: $font-primary;
  font-weight: $font-primary-weight;
}

.h1,
.h2,
.h3 {
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  margin: 0 0 20px 0;
  line-height: 1.5;
}

.h1 {
  font-size: 35px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 16px;
}

.small {
  font-size: 13px;
}

.standout {
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  text-transform: uppercase;
  font-size: 35px;
  margin: 0;
}

p {
  line-height: 1.5;
}

ul {
  li {
    margin-bottom: 5px;
    line-height: 1.5;
  }
}

ol {
  li {
    margin-bottom: 5px;
    line-height: 1.5;
  }
}

dl {
  line-height: 1.5;

  dt {
    margin-bottom: 5px;
  }

  dd {
    margin-bottom: 10px;
  }
}

strong {
  font-weight: $font-headline-weight;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line-break {
  display: none;

  @include mq($from: xs) {
    display: block;
    height: 1px;
    width: 1px;
  }
}
