---
title: Donate money to Big Change - Street Support
description: Street support makes it easier to help people facing homelessness. Donate money via Big Change #BigChangeMcr.
image: https://streetsupport.net/assets/img/og/manchester-big-change.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: bigchange
page: bigchangeabout
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/bigchangemcr/">Big Change</a></li>
      <li class="breadcrumbs__item">About</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Big Change</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <p class="text-center">Big Change is a central fund that supports individuals who are homeless to move away from the streets.</p>
        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
        <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="display-block">
          <figure class="logo">
            <img src="../../../assets/img/justgiving.png" alt="Just Giving" />
          </figure>
        </a>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">How will my donation be spent?</h2>
        <p>Your donation joins the central Big Change funding pot. <a href="/manchester/bigchangemcr/partners/">Local charities and organisations</a> work directly with individuals who are homeless, and apply for funds to pay for items they need. Depending on the amount needed, there are two levels of fund requests.</p>
      </div>

      <div class="block__section block__section--about-your-donation">
        <h2 class="h2 text-center--s">If you gave &pound;1&hellip;</h2>
        <div class="figure--donate-chart">
          <figure>
            <img src="../../../assets/img/donate-graph--1.png" alt="5%" />
            <figcaption>Just Giving<span class="hide-screen"> takes 5%</span></figcaption>
          </figure>
          <figure>
            <img src="../../../assets/img/donate-graph--2.png" alt="10%" />
            <figcaption>Forever Manchester<span class="hide-screen"> takes 10%</span></figcaption>
          </figure>
          <figure>
            <img src="../../../assets/img/donate-graph--3.png" alt="85%" />
            <figcaption>Individual<span class="hide-screen"> gets 85%</span></figcaption>
          </figure>
        </div>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Under &pound;100</h3>
            <ul class="list--unstyled">
              <li>Education or training courses</li>
              <li>Furniture or househould items</li>
              <li>Clothes for interviews</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>If the request is for under £100, Big Change partner agencies can submit an online application.</p>
            <p>This excludes cash, emergency accommodation, food or other items which are available for free elsewhere.</p>
          </div>
        </article>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Over &pound;100</h3>
            <ul class="list--unstyled">
              <li>Deposit or rent</p>
              <li>Furnishings for a flat</li>
              <li>White goods over &pound;100</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>If the request is for over £100, the application must be agreed by the Big Change panel.</p>
            <p>The Big Change panel includes: one ex-rough sleeper who is in long term support; one representative from an established organisation; two from Coalition of Relief;  and one from CityCo.</p>
          </div>
        </article>

      </div>

      <div class="block__section">
        <p>Individuals who are homeless receive the items they need, purchased using your donation. From a £1 donation, 85% funds these items for individuals, the remaining 15% covers the costs of services provided by Just Giving (5%) and administrative services by the charity Forever Manchester (10%). Show your support to ending homelessness by making a donation now.</p>
        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">What does Big Change pay for?</h2>
        <p>Big Change recognises that people who are homeless often face practical barriers which need to be overcome for them to become active, independent members of their community and avoid sleeping rough.</p>
        <p>Big Change provides people facing homelessness with practical items which support a long term change.  This might include paying for a deposit for a home, a training course to help improve job prospects and clothes for a job interview.  Or it could involve furnishing a new flat, including purchasing crockery, pots, pans and bed linen, as well as funding travel costs to their new home.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">Why is Big Change a more effective way to give?</h2>
        <p>Although giving money to people begging on the street seems supportive, it doesn’t help individuals get away from sleeping rough, or address the complicated range of reasons which made them homeless.</p>
        <p>By working in partnership with charities and organisations providing frontline services for people facing homelessness, the Big Change Fund enables individuals to make lasting positive change. The organisations stay in touch with the individuals who receive money from the fund to provide long term support.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">Who is behind Big Change?</h2>
        <p>The Big Change action group is part of <a href="http://charter.streetsupport.net">Manchester Homelessness Charter</a>. The group includes people with lived experience of homelessness, organisations who provide support to people on the streets, the council, universities and businesses.</p>
        <p class="text-center">
          <a href="/manchester/bigchangemcr/partners" class="btn btn--brand-e btn--full">
            <span class="btn__text">Read about Big Change Partners</span>
          </a>
        </p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">Who decides how the fund is spent?</h2>
        <p>The Big Change panel includes: one representative from an established organisation; two representatives from member organisations of Manchester’s Coalition of Relief; one ex-rough sleeper who is in long term support; and one representative from CityCo.</p>
        <p>We know it’s important to make the application process simple and quick for the Big Change fund to effectively help people who are homeless. That’s why for items under &pound;100, our partner organisations and charities can claim through an online application form (only agencies who have signed the Big Change agreement have access to this form).</p>
        <p>For items over &pound;100 the Big Change panel reviews each application against the guidelines for the fund and checks if there are any other opportunities available which could fulfil the request. Decisions are made within 48 hours.</p>
      </div>


      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">How can businesses support Big Change?</h2>
        <p>Your business can make a donation to Big Change, organise fundraising activities, and also engage your employees in spreading the word as a Big Change advocate. Please get in touch using the details below to discuss options.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">How can I find out more about Big Change?</h2>
        <p>If you have any other questions, you can contact the Big Change Secretary on 0345 1122211 or email <a href="mailto:bigchange@streetsupport.net">bigchange@streetsupport.net</a>.</p>
        <p>Read the latest <a href="http://news.streetsupport.net/tag/big-change-mcr/">Big Change News</a>, or follow us on <a href="https://www.facebook.com/streetsupport">Facebook</a> or <a href="https://twitter.com/streetsupportuk">Twitter</a> to keep up to date with the latest information about Big Change and homelessness in Manchester.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <div class="grid--2-of-3--m">
          <h2 class="h2">What else can I do to help?</h2>
          <p>There are lots of different ways you can show support to people who are homeless in Manchester. Big Change is also about responding to organisations <a href="/give-help/help/">callouts for help</a>, and <a href="/give-help/volunteer/">volunteering your time</a>. You can also learn more about <a href="/find-help/">local services</a> and <a href="/find-help/all-service-providers/">Manchester homelessness organisations</a>.</p>
        </div>

        <div class="grid--1-of-3--m">
          {{>cta brand="e" link="/give-help/help/" btnClass="cta--centered" icon="give" name="Find out how you can help" noWrapper="true"}}
        </div>
      </div>

      <div class="block__section">
        <p class="text-center"><a href="#" class="back-top">Back to top</a></p>
      </div>
    </div>
  </div>
</div>
