---
title: Big Change Manchester - Street Support
description: The Big Change fund pays for practical items for individuals. Here's more information.
layout: default.hbs
permalink: false
jsBundle: sponsor
section: ourlocations
page: about
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/big-change/">Big Change</a></li>
      <li class="breadcrumbs__item">About</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">About Big Change in Manchester</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <div class="block__section">
      	<h2 class="h2">How did the Big Change Fund begin?</h2>
        <p>In August 2015 a collection of grassroots organisations created a Coalition of Relief (COR) with the aim to provide a united network of relief services for people homeless in Manchester. By bringing everyone together they have been dedicated to finding new ways to end homelessness and give help to the people who need it.</p>
        <p>The Big Change Fund has grown from these partnerships as a way to help guide the public in the most effective way to support individuals in building a new life away from the street and to provide fast access to funding for long term solutions.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">Why do we need the Big Change Fund?</h2>
        <p>The Big Change Fund makes sure public donations to people who are homeless are used in the most effective way possible to help individuals build a new future.</p>
        <p>Although giving money to people begging on the street seems supportive, it doesn’t help individuals get away from sleeping rough, or address the complicated range of reasons which made them homeless.</p>
        <p>By working in partnership with charities and organisations providing frontline services for homeless people, the Big Change Fund pools together opportunities to make long term positive changes towards ending homelessness.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">What does the Big Change Fund pay for?</h2>
        <p>The Big Change Fund recognises that people who are homeless often face practical barriers which need to be overcome for them to become active, independent members of their community and avoid sleeping rough.</p>
        <p>This is why the fund provides homeless people with practical items which support a long term change, such as deposits for accommodation, training courses to improve job prospects, clothes for a job interview or furnishings for a new home.</p>
        <p>As part of every £1 donation to the Big Change Fund, we make sure 85% funds the purchase of items needed by a person who is homeless.  The remaining 15% covers the costs of services provided by Just Giving (5%) and administrative services by the charity Forever Manchester (10%), to ensure all records and transactions are as they should be.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">Who can apply for Big Change funding?</h2>
        <p>The Big Change Fund is here for any individual experiencing homelessness. If you are sleeping rough and want to apply for funds to help you get off the street, you need to get in touch with one of our partner charities or organisations. You can also speak to the MCC rough sleeper team. These agencies will work with you and apply for funds on your behalf:</p>

        <article>
        <h3 class="h3">Barnabus</h3>
        <p>Barnabus is a Christian Homeless Charity based in Manchester.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=barnabus">
          <span class="btn__text">More information about Barnabus</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Booth Centre</h3>
        <p>The Booth Centre is a day centre offering activities, advice and support.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=booth-centre">
          <span class="btn__text">More information about Booth Centre</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Coffee4Craig</h3>
        <p>Coffee4Craig is a not-for-profit organisation that run street kitchens and also work one to one with people on the streets, signposting to relevant services and offering advice.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=coffee4craig">
          <span class="btn__text">More information about Coffee4Craig</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Cornerstone</h3>
        <p>Cornerstone is a day centre providing services to adults facing a wide range of social issues including homelessness.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=cornerstone-day-centre">
          <span class="btn__text">More information about Cornerstone</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Lifeshare</h3>
        <p>Lifeshare offers practical assistance, support and information to young homeless people.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=lifeshare">
          <span class="btn__text">More information about Lifeshare</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Mustard Tree</h3>
        <p>Mustard Tree exists to create choice and opportunity for people who are homeless and marginalised.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=mustard-tree">
          <span class="btn__text">More information about Mustard Tree</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Shelter</h3>
        <p>Shelter is a national housing and homelessness charity.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=shelter">
          <span class="btn__text">More information about Shelter</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Urban Village Medical Practice</h3>
        <p>Urban Village Medical Practice is the main provider of primary health care to homeless people in Manchester.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=urban-village-medical-practice">
          <span class="btn__text">More information about Urban Village</span>
        </a>
      </div>

      <div class="block__section">
        <h2 class="h2">Who decides how the fund is spent?</h2>
        <p>We know it’s important to make the application process simple and quick for the Big Change Fund to effectively help people who are homeless. That’s why for items under &pound;100, our partner organisations and charities can claim through an online application form (only agencies who have signed the Big Change agreement have access to this form).  For items over &pound;100 the Big Change panel reviews each application against the guidelines for the fund and checks if there are any other opportunities available which could fulfil the request. Decisions are made within 48 hours.</p>
        <p>The Big Change panel includes: one representative from an established organisation; two representatives from member organisations of Manchester’s Coalition of Relief; one ex-rough sleeper who is in long term support; and one representative from CityCo.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">How can my organisation become a partner?</h2>
        <p>If your organisation provides a service to support people who are homeless in Manchester and you would like to discuss how to become an approved Big Change Fund partner please contact the Big Change Secretary on 0345 1122211 or email <a href="mailto:bigchange@streetsupport.net">bigchange@streetsupport.net</a>.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">How can i find out about the latest news?</h2>
        <p>Read the latest <a href="http://news.streetsupport.net/tag/big-change-mcr/">Big Change News</a>, or follow us on <a href="https://www.facebook.com/streetsupport">Facebook</a> or <a href="https://twitter.com/streetsupportuk">Twitter</a> to keep up to date with the latest information about the Big Change Fund and homelessness in Manchester.</p>
        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
