---
title: Big Change Manchester - Street Support
description: Big Change pays for practical items for individuals. Here's more information on Big Change partners.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: bigchange
page: bigchangepartners
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/bigchangemcr/">Big Change</a></li>
      <li class="breadcrumbs__item">Partners</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Big Change Partners</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <h2 class="h2">Who can apply for Big Change funding?</h2>
        <p>Big Change MCR is available for any individual experiencing homelessness. If you are sleeping rough and want to apply for funds to help you get off the street, get in touch with one of our partner organisations who will work with you to apply for funds on your behalf:</p>
      </div>
      <div class="block__section">
        <article>
          <h3 class="h3">Barnabus</h3>
          <p>Barnabus is a Christian Homeless Charity based in Manchester.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=barnabus">
            <span class="btn__text">More information about Barnabus</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Big Issue North</h3>
          <p>Big Issue North is an independent street paper that helps vendors to help themselves.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=big-issue-north">
            <span class="btn__text">More information about Big Issue North</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Boaz Trust</h3>
          <p>The Boaz Trust is a Christian charity serving destitute asylum seekers and refugees in Greater Manchester.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=boaz-trust">
            <span class="btn__text">More information about Boaz Trust</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Booth Centre</h3>
          <p>The Booth Centre is a day centre offering activities, advice and support.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=booth-centre">
            <span class="btn__text">More information about Booth Centre</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Business in the Community</h3>
          <p>Business in the Community is the oldest and largest business-led membership organisation dedicated to responsible business.</p>
          <a class="btn btn--brand-d btn--full" href="https://www.bitc.org.uk/">
            <span class="btn__text">More information about Business in the Community</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Centrepoint North</h3>
          <p>Centrepoint North (YPSF) provides a wide range of services to support young people.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=ypsf">
            <span class="btn__text">More information about Centrepoint North</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Change4Good</h3>
          <p>Change4Good is a volunteer led outreach service run by Mancunian Way.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=change4good">
            <span class="btn__text">More information about Change4Good</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Coffee4Craig</h3>
          <p>Coffee4Craig is a not-for-profit organisation that run street kitchens and also work one to one with people on the streets, signposting to relevant services and offering advice.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=coffee4craig">
            <span class="btn__text">More information about Coffee4Craig</span>
          </a>
        </article>
        <article>
        <h3 class="h3">Cornerstone</h3>
          <p>Cornerstone is a day centre providing services to adults facing a wide range of social issues including homelessness.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=cornerstone-day-centre">
            <span class="btn__text">More information about Cornerstone</span>
          </a>
        </article>
        <article>
        <h3 class="h3">Greater Together Manchester</h3>
          <p>A small charity working to tackle poverty and transform communities across Greater Manchester and Rossendale.</p>
          <a class="btn btn--brand-d btn--full" href="http://greatertogethermanchester.org/">
            <span class="btn__text">More information about Greater Together Manchester</span>
          </a>
        </article>
        <article>
        <h3 class="h3">Humankind</h3>
          <p>Humankind is an independent charity supporting people to achieve their goals and make positive changes.</p>
          <a class="btn btn--brand-d btn--full" href="https://humankindcharity.org.uk/service/manchester-floating-support-service">
            <span class="btn__text">More information about Humankind</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Justlife</h3>
          <p>Just Life supports people who are close to street homelessness.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=justlife">
            <span class="btn__text">More information about Just Life</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Lifeshare</h3>
          <p>Lifeshare offers practical assistance, support and information to young people facing homelessness.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=lifeshare">
            <span class="btn__text">More information about Lifeshare</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Manchester City Mission</h3>
          <p>Manchester City Mission is a charity and Christian organisation serving the people of Greater Manchester since 1837.</p>
          <a class="btn btn--brand-d btn--full" href="https://citymission.org.uk/">
            <span class="btn__text">More information about Manchester City Mission</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Manchester City of Sanctuary</h3>
          <p>Supporting refugees and asylum seekers in Manchester who are often destitute.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=manchester-city-of-sanctuary">
            <span class="btn__text">More information about Manchester City of Sanctuary</span>
          </a>
        </article>
        <article>
          <h3 class="h3">MASH</h3>
          <p>Manchester Action on Street Health (MASH) supports female sex workers.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=mash-manchester-action-on-street-health">
            <span class="btn__text">More information about MASH</span>
          </a>
        </article>
        <article>
          <h3 class="h3">MCC Outreach Team</h3>
          <p>The MCC rough sleeper team are an outreach service providing support to people sleeping rough.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=the-longford-centre">
            <span class="btn__text">More information about MCC Rough Sleeper Team</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Mens Room</h3>
          <p>Mens Room works creatively with disempowered men up to the age of 30.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=the-men39s-room">
            <span class="btn__text">More information about Mens Room</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Mustard Tree</h3>
          <p>Mustard Tree exists to create choice and opportunity for people who are homeless and marginalised.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=mustard-tree">
            <span class="btn__text">More information about Mustard Tree</span>
          </a>
        </article>
        <article>
          <h3 class="h3">On The Out</h3>
          <p>On The Out is a service run by people who have experienced life in prison.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=on-the-out">
            <span class="btn__text">More information about On The Out</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Reach Out to the Community</h3>
          <p>Reach Out to the community supports people to meet their basic needs.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=reach-out-to-the-community">
            <span class="btn__text">More information about Reach Out</span>
          </a>
        </article>
        <article>
        <h3 class="h3">Riverside</h3>
          <p>Riverside provides supported housing services for different groups of people experiencing homelessness.</p>
          <a class="btn btn--brand-d btn--full" href="find-help/organisation/?organisation=riverside">
            <span class="btn__text">More information about Riverside</span>
          </a>
        </article>
        <article>
        <h3 class="h3">Sanctuary Supported Living</h3>
          <p>Through quality support and housing, Sanctuary Supported Living equip people with the confidence, self-esteem and life skills they need to live independently.</p>
          <a class="btn btn--brand-d btn--full" href="https://www.sanctuary-supported-living.co.uk/">
            <span class="btn__text">More information about Sanctuary Supported Living</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Shelter</h3>
          <p>Shelter helps people struggling with bad housing or homelessness through its advice, support and legal services.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=shelter">
            <span class="btn__text">More information about Shelter</span>
          </a>
        </article>
        <article>
          <h3 class="h3">SSG (Stop Start Go) Sustainable Living</h3>
          <p>SSG provides temporary accommodation and support for people sleeping rough in Manchester.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/accommodation/listing/details/?id=5a69c7ea152f051260e3e2d7">
            <span class="btn__text">More information about SSG</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Urban Village Medical Practice</h3>
          <p>Urban Village Medical Practice is the main provider of primary health care to people facing homelessness in Manchester.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=urban-village-medical-practice">
            <span class="btn__text">More information about Urban Village</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Walking with the Wounded</h3>
          <p>Supporting our Veterans into settled accommodation, sustainable employment and regain their independence.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=walking-with-the-wounded">
            <span class="btn__text">More information about Walking with the Wounded</span>
          </a>
        </article>
        <article>
          <h3 class="h3">Wythenshawe Community Housing</h3>
          <p>Providing homes to more than 20,000 people across Wythenshawe.</p>
          <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=wythenshawe-community-housing-group">
            <span class="btn__text">More information about Wythenshawe Community Housing</span>
          </a>
        </article>
      </div>

      <div class="block__section">
        <h2 class="h2">How can my organisation become a partner?</h2>
        <p>If your organisation provides a service to support people who are homeless in Manchester and you would like to discuss how to become an approved Big Change MCR partner please contact us at <a href="maialto:bigchangemcr@macc.org.uk">bigchangemcr@macc.org.uk</a>.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">How can I find out more?</h2>
        <p>Read the latest <a href="http://news.streetsupport.net/tag/big-change-mcr/">Big Change News</a>, or follow us on <a href="https://www.facebook.com/Bigchangemcr-112486900194562/">Facebook</a> or <a href="https://twitter.com/bigchangemcr?lang=en">Twitter</a> to keep up to date with the latest information about the Big Change campaign and homelessness in Manchester.</p>
        <a class="btn btn--brand-d btn--full" href="https://localgiving.org/charity/macc/project/bigchangemcr/">
          <span class="btn__text">Donate to Big Change MCR</span>
        </a>
      </div>
    </div>
  </div>
</div>
