---
title: Best Practice standards for Community-led Support Services - Working together to end homelessness in Manchester
description: Be recognised for the quality of your services
image: https://streetsupport.net/assets/img/og/manchester-big-change.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: awards
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/standards-toolkit">Standards Toolkit</a></li>
      <li class="breadcrumbs__item">Standards</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--manchester">
  <div class="container container--location-header">
    <h1 class="h1 block__header">Best Practice Standards</h1>
    <h2 class="h2 block__sub-header">Be recognised for the quality of your services</h2>
  </div>
</div>

<div class="block block--pre-icon">
  <div class="container">
    <div class="block__content">
      <p>The Manchester Homelessness Partnership have developed two Best Practice standards to honour high-quality services which support people who are homeless or at risk of homelessness.</p>
    </div>
  </div>
</div>

<div class="block block--minor-highlight block--with-icon">
  <div class="container">
    <div class="block__content split">
      <div class="block-icon-container">{{>icon name="award" class="awards-icon"}}</div>
      <h2 class="h2 text-center">The two Manchester Homelessness Partnership standards are:</h2>
      <div class="split__element split__element--highlight">
        <h3 class="h2 text-center split__element--title">Silver Best Practice</h3>
        <p>To be eligible to receive the standard for Silver Best Practice, your organisation must have:</p>
        <ul>
          <li>Offer a reliable and responsible service</li>
          <li>Support the aims of Manchester Homelessness Charter</li>
          <li>A group leader with a current <a href="https://www.gov.uk/disclosure-barring-service-check/overview">DBS check</a></li>
          <li>Public liability insurance</li>
          <li>Safeguarding policy</li>
          <li>Volunteer policy</li>
          <li>Health and safety policy</li>
          <li>Confidentiality policy</li>
          <li>Social media usage policy</li>
          <li>Financial policy and organisation bank account</li>
          <li>Engage with COR or an established organisation</li>
        </ul>
      </div>
      <div class="split__element split__element--highlight">
        <h3 class="h2 text-center split__element--title">Gold Best Practice</h3>
        <p>To receive the standard for Gold Best Practice, your organisation must have:</p>
        <ul>
          <li>All Commended Best Practice standards in place.</li>
          <li>A volunteer induction process, including application form, reference and id checks</li>
          <li>Lone working policy</li>
          <li>Volunteer policy</li>
          <li>Blood borne diseases policy</li>
          <li>Data protection policy</li>
          <li>A DBS checked volunteer present at all times</li>
        <ul>
      </div>
    </div>
    <div class="block__content text-center">
      <a class="btn btn--brand-e" href="/manchester/standards-toolkit/apply">
        <span class="btn__text">Apply or enquire here</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Get Support</h2>
<p>For support in achieving the criteria for these Best Practice standards you can <a href="/manchester/standards-toolkit/#document-templates">download useful information and templates here</a>.</p>
<p>You can also benefit from the experience of similar organisations, by joining Coalition of Relief (COR). COR is a network of grassroots organisations working together to provide long term sustainable support for people who are homeless. <a href="/manchester/cor">Find out more about COR</a>.<p>
    </div>
  </div>
</div>
