---
title: Severe Weather Emergency Accommodation in Trafford - Street Support
description: Severe Weather Emergency Accommodation provision in Trafford.
image: https://streetsupport.net/assets/img/og/street-support-trafford.png
layout: default.hbs
permalink: false
jsBundle: swep
section: trafford
page: trafford-advice
location: trafford
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/trafford/">Trafford</a></li>
      <li class="breadcrumbs__item"><a href="/trafford/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="trafford" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the winter months, emergency beds are available for rough sleepers.</p>
      <p>Insert content here!</p>

    {{> social-share}}
    
  </div>
</div>