---
title: Emergency Homeless Help in Portsmouth - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/portsmouth/">Portsmouth</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--portsmouth">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Emergency Advice</h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p class="h2 text-center">Please note, this is advice for Portsmouth; please change your location above for general advice.</p>
      {{> divider }}
      <p>If you've just become homeless, or feel that there is a risk of that happening, it's important to get the right advice as soon as possible. There is a range of support available, depending on your situation.</p>

      <a name="rough-sleepers"></a>
      <h2 class="h2">Support for Rough Sleepers</h2>
      <p>If you see someone sleeping rough, and don't know how to help, you can use the StreetLink service (0300 500 0914) who will notify the local council to get them connected to the local services and support available to them.</p>

      <h3 class="h3">In an Emergency</h3>
      <p>Call <a href="tel:999">999</a> in an emergency - when someone is at risk of being injured, a crime is in progress, or if you have urgent concerns about someone's health. Alternatively to report non-urgent crimes call <a href="tel:101">101</a>.</p>

      <a name="council-info"></a>
      <h2 class="h2">Presenting as homeless</h2>
      <p>If you have just become homeless or are at imminent risk of becoming homeless, it’s important that you get advice as soon as possible from your local council, who has a duty to provide advice and assistance to anyone who may need it.</p>

      <h3 class="h3">Portsmouth City Council</h3>
      <ul>
        <li>Email: <a href="mailto:housing.options@portsmouthcc.gov.uk">housing.options@portsmouthcc.gov.uk</a> (please include a daytime contact number and any relevant information regarding your current circumstances)</li>
        <li>Telephone: <a href="tel:023 9283 4989">023 9283 4989</a></li>
        <li>Visit: Housing Options, Portsmouth City Council, Civic Offices in Guildhall Square, Portsmouth, PO1 2AX</li>
      </ul>

      <h3 class="h3">Gosport Borough Council</h3>
      <ul>
        <li>Email: <a href="mailto:housingadviceteam@gosport.gov.uk">housingadviceteam@gosport.gov.uk</a> (please include a daytime contact number and any relevant information regarding your current circumstances)</li>
        <li>Telephone: <a href="tel:023 9254 5476">023 9254 5476</a></li>
        <li>Visit: Housing Advice Team, Gosport Borough Council, Town Hall, High Street, Gosport, Hampshire, PO12 1EB</li>
      </ul>

      <h3 class="h3">Fareham Borough Council</h3>
      <ul>
        <li>Email: <a href="mailto:customerservicecentre@fareham.gov.uk">customerservicecentre@fareham.gov.uk</a> (please include a daytime contact number and any relevant information regarding your current circumstances)</li>
        <li>Telephone: <a href="tel:01329 236 100">01329 236 100</a></li>
        <li>Visit: Housing Options, Fareham Borough Council, Civic Offices, Civic Way, Hampshire, PO16 7AZ</li>
      </ul>

      <h3 class="h3">Havant Borough Council</h3>
      <ul>
        <li>Email: <a href="mailto:housingservicemailbox@havant.gov.uk">housingservicemailbox@havant.gov.uk</a> (please include a daytime contact number and any relevant information regarding your current circumstances)</li>
        <li>Telephone: <a href="tel:023 9244 6379">023 9244 6379</a></li>
        <li>Visit: Housing Options, Havant Borough Council, Public Service Plaza, Civic Centre Road, Havant, PO9 2AX</li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support Services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to a <a href="/find-help/dropin/timetable/">local drop in centre</a>. There you can get advice on what housing options are available for you, and refer you into other services.</p>
      <p>Alternatively, you can find all the local services available to support you through the <a href="/find-help">Find Help</a> section.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
