---
title: Severe Weather Emergency Accommodation in Manchester - Street Support
description: Severe Weather Emergency Accommodation provision in Manchester.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: manchester
page: manchester-advice
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="manchester" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils.</p>

      <p>Adverse weather provision is provided when the weather is forecast to be sub zero. At this point the usual
        guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra
        provision is made for rough sleepers, regardless of their status.</p>

      <p>This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater
        Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <p>A triage and referral hub will be facilitated at the following locations and times:</p>
      <ul>
        <li>The Booth Centre:  Pimblett St, Cheetham Hill, Manchester, M3 1FU.<br>8am to 4pm on Wednesday 7th December till at least Friday 9th December.</li>
        <li>Cornerstones Day Centre: 104 Denmark Road, Manchester, M15 6JS.<br>10am to 3pm on Wednesday 7th December till at least Friday 9th December.<br>NB: referrals will be made via telephone to Booth Centre.</li>
        <li>Coffee for Craig:  The Meanwhile,153 Great Ducie Street, Manchester, M3 1FB.<br>6pm to 1am on Wednesday 7th December till at least Friday 9th December.</li>
        <p>At all referral venues people will be provided with referral information, welfare items and if, appropriate, allocated accommodation and transport.</p>
      </ul>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>

      {{> manchester/aben }}

    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping
        and helping them to get inside if they want to. Each individual is assessed so that appropriate accommodation
        can be found based on their needs.</p>

      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for
        example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find
        somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Read more about SWEP</span>
      </a>
      {{> social-share}}
    </div>
  </div>
</div>
