---
title: Severe Weather Emergency Accommodation in Manchester - Street Support
description: Severe Weather Emergency Accommodation provision in Manchester.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: manchester
page: manchester-advice
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="manchester" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils.</p>

      <p>Adverse weather provision is provided when the weather is forecast to be sub zero. At this point the usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status.</p>

      <p>This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <p>Councils work in partnership with local organisations and housing providers to make this additional accommodation available, covering the accommodation and staff costs.</p>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>

      <h2 class="h2">Manchester city council</h2>
      <p>Up to 16:30, referrals into this accommodation can be made via:</p>
      <ul>
        <li>The Council Rough Sleeper team - <a href="tel:0161 234 5339">0161 234 5339</a> or <a href="mailto:roughsleepersteam@manchester.gov.uk">roughsleepersteam@manchester.gov.uk</a></li>
        <li>For over 25s: <a href="/find-help/organisation/?organisation=booth-centre">Booth Centre</a></li>
        <li>For under 25s: <a href="/find-help/organisation/?organisation=ypsf">Centrepoint North</a></li>
      </ul>
      <p>After 16:30:</p>
      <ul>
        <li>MCC out of hours number on <a href="tel:0161 234 5001">0161 234 5001</a></li>
      </ul>
<<<<<<< HEAD

      <h2 class="h2">Bolton council</h2>
      <p>During the day, ring Bolton Town Hall on <a href="tel:01204 333333">01204 333333</a>. Out of hours you can refer via the duty social worker <a href="tel:01204 337777">01204 337777</a>.</p>

      <h2 class="h2">Bury council</h2>
      <p>The referral process is through the Housing Assessment Service</p>
      <ul>
        <li>During office hours: <a href="tel:0161 253 5537">0161 253 5537</a> or <a href="email:hat@bury.gov.uk">hat@bury.gov.uk</a></li>
        <li>Out of hours: <a href="tel:0161 253 6606">0161 253 6606</a></li>
      </ul>

      <h2 class="h2">Oldham council</h2>
      <p>Provision can be accessed during office hours Monday, Tuesday, Wednesday and Friday 9am – 5pm, Thursday 9am – 6pm</p>
      <p>There is also a number for households who become homeless when the offices are closed: <a href="tel:0800 988 7061">0800 988 7061</a>.</p>

      <h2 class="h2">Salford Council</h2>
      <p>Please contact: <a href="https://goo.gl/maps/yiQ7umWhM742">Salford Housing Options, 7 Wesley Street, Swinton. M27 6AD</a></p>
      <ul>
        <li>Opening hours: Mon, Tues, Thurs, Fri: 08:30am – 4:30pm</li>
        <li>Wed: 1pm – 4:30pm</li>
        <li>Tel: <a href="tel:0161 607 1620">0161 607 1620</a></li>
        <li>Out of hours: <a href="tel:0161 794 8888">0161 794 8888</a></li>
      </ul>

      <h2 class="h2">Rochdale</h2>
      <p>Cold Weather Services in Rochdale: For anyone that needs information they can contact our accommodation service at Leopold Court <a href="tel:01706 923 511">01706 923 511</a></p>

      <h2 class="h2">Stockport council</h2>
      <p>If you are aware of someone who is sleeping rough, please contact Stockport Homes on <a href="tel:0161 474 4237">0161 474 4237</a> or email <a href="mailto:homechoice@stockporthomes.org">homechoice@stockporthomes.org</a> with details of when and where you saw them and what they looked like.</p>

      <h2 class="h2">Tameside council</h2>
      <p>To establish whether or not emergency provision is available in Tameside, ring Tameside Housing Advice and They will make the accommodation placement on a night by night basis and ask the person to return the next day. If the weather is forecast to below zero degrees Celsius the next night the accommodation will be rebooked.</p>
      <ul>
        <li>Between 9am-3pm: <a href="tel:0161 331 2700">0161 331 2700</a></li>
        <li>Out of hours: <a href="tel:0161 331 2700">0161 331 2700</a> or <a href="tel:0161 331 2888">0161 331 2888</a></li>
      </ul>

      <h2 class="h2">Trafford Council</h2>
      <p>Please contact: <a href="https://goo.gl/maps/ziy8FcigLH82">Housing Options Service Trafford (HOST), Waterside House, Sale Waterside, Sale. M33 7ZF</a></p>
      <ul>
        <li>During office hours: <a href="tel:0161 793 3252">0161 793 3252</a></li>
        <li>Out of hours: <a href="tel:0800 218 2000">0800 218 2000</a></li>
      </ul>

      <h2 class="h2">Wigan</h2>
      <ul>
        <li>During office hours: Call the Housing Options Team on <a href="tel:01942 487 732">01942 487 732</a> or people can attend at The Brick, 10 Arcade Street, Wigan. If you are aware of a rough sleeper, please email <a href="mailto:roughsleepatwigan.gov.uk@gmail.com">roughsleepatwigan.gov.uk@gmail.com</a></li>
        <li>Out of hours: Referrals to be made via the duty social worker on <a href="tel:01942 828 777">01942 828 777</a></li>
=======
      <p>From 19:00:</p>
      <ul>
        <li><a href="/find-help/organisation/?organisation=coffee4craig">Coffee4Craig</a></li>
>>>>>>> develop
      </ul>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping and helping them to get inside if they want to. Each individual is assessed so that appropriate accommodation can be found based on their needs.</p>

      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Read more about SWEP</span>
      </a>
      {{> social-share}}
    </div>
  </div>
</div>
