---
title: Severe Weather Emergency Accommodation in Manchester - Street Support
description: Severe Weather Emergency Accommodation provision in Manchester.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: manchester
page: manchester-advice
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="manchester" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils.</p>

      <p>The Met Office predicts night-time temperatures are going to drop below zero degrees overnight for a period of three consecutive hours between the hours of 9pm and 6am.</p>
      <p>OR</p>
      <p>The Met Office issue a red weather warning alert and there is a risk to life.
</p>

    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>

      {{> manchester/aben }}

    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping
        and helping them to get inside if they want to. Each individual is assessed so that appropriate accommodation
        can be found based on their needs.</p>

      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for
        example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find
        somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Read more about SWEP</span>
      </a>
      {{> social-share}}
    </div>
  </div>
</div>
