---
title: Severe Weather Emergency Accommodation in Manchester - Street Support
description: Severe Weather Emergency Accommodation provision in Manchester.
layout: default.hbs
permalink: false
jsBundle: home
section: findhelp
page: swep
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Severe Weather Emergency Accommodation</h1>
    <div id="js-swep-output" class="template--maybe-empty"></div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by the council (often referred to as SWEP).</p>

      <p>Severe weather emergency provision kicks in when the weather is forecast to be sub zero for 3 consecutive days. At this point the usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status.</p>

      <p>The council work in partnership with a number of organisations and housing providers to make this additional accommodation available, covering the accommodation and staff costs.</p>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>

      <h2 class="h2">During the Day</h2>

      <p>Referrals into this accommodation can be made via:</p>
      <ul>
        <li>the Council Rough Sleeper team on <em>0161 234 5339</em> or <a href="mailto:roughsleepersteam@manchester.gov.uk">roughsleepersteam@manchester.gov.uk</a></li>
        <li>The <a href="/find-help/organisation/?organisation=booth-centre">Booth Centre</a></li>
        <li><a href="/find-help/organisation/?organisation=ypsf">YPSF</a></li>
        <li><a href="/find-help/organisation/?organisation=riverside">Riverside‘s outreach service</a>.</li>
      </ul>

      <h2 class="h2">Out of Hours</h2>

      <p>When daytime services are closed you can refer through:</p>
      <ul>
        <li>MCC out of hours number on <em>0161 234 5001</em></li>
        <li><a href="/find-help/organisation/?organisation=coffee4craig">Coffee4Craig</li>
      </ul>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">

      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping and helping them to get inside if they want to. Each individual is assessed so that appropriate accommodation can be found based on their needs.</p>

      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Learn more about SWEP</span>
      </a>
      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
