---
title: About Us - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: about
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">About Street Support</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Street Support</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support is a central digital hub, uniting all the charities and voluntary groups that support people who are homeless with those who would like to help. We have been live in Manchester since early 2016, and are now active in Leeds. We hope to expand the network to other cities over the coming months.</p>
      <ul>
        <li>Use our <a href="/find-help/">Find Help</a> section to find local services, so that someone experiencing homelessness can get the help they need.</li>
        <li>Use our <a href="/give-help/">Give Help</a> section to find out what items, money or people local homelessness organisations currently need.</li>
        <li>Support a city-wide partnership of organisations, service providers and businesses to end homelessness in Manchester and Leeds.</li>
        <li>Tell us what you can do to help end homelessness in Manchester, by pledging to the <a href="https://charter.streetsupport.net">Manchester Homelessness Charter</a>.</li>
      </ul>
      <p>Street Support makes it easier for the network to collaborate, co-ordinate and provide better support for people experiencing homelessness. Many small, co-ordinated actions add up to a big difference to homeless people in the city.</p>
      <p>Whoever you are, and however you can, please get involved. If you would like to stay informed, you can get regular updates from Street Support by adding your details to our <a href="/join/">supporters list.</a></p>

      <h2 class="h2">What next?</h2>
      <p>We work closely with organisations and individuals with experience to co-create solutions to help them get better support. We would love to add more of these features to Street Support, and we are continually looking to improve the site based on user feedback. We also want to expand this network to other locations, sharing ideas and best practices between our cities.</p>
      <p>We have been funded so far by donations from local philanthropists, a loan from KeyFund, and by a business group in Leeds. In order to continue to develop and improve this central resource, we are looking for more businesses to sponsor us to support this community.</p>
      <p>If you support our mission to End Homelessness and are interested in sponsoring Street Support, or getting involved as a partner, please contact us at <a href="mailto:partnership@streetsupport.net">partnership@streetsupport.net</a>, or call Gary on 07824 667709.</p>

      <h2 class="h2">About us</h2>
      <p>We are a collective of digital experts in Manchester UK, working closely alongside people who are homeless and the organisations that support them. We use research, co-production, human centered design and creative technology to build online tools that make it easier for people experiencing homelessness to get the help they need. <a href="/about/how-it-started/">Here is how it all started.</a></p>
      <p>We are a small core team of 3, and have developed the site with the help of our network of digital experts. You can read more about the team behind Street Support here: <a href="about-our-team/">About our team</a>.</p>
      <p>We run on a not for profit basis (including a lot of hours worked for free!). We were originally set up as a Ltd company running on a not for profit basis, and are in the process of transition to an official not for profit organisation.</p>

      <h2 class="h2">Find out more</h2>
      <p>You can find out more about our progress on our <a href="https://www.facebook.com/streetsupport/">Facebook page</a> or get in touch at <a href="mailto:info@streetsupport.net">info@streetsupport.net</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
