---
title: About Us - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: about
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">About Street Support</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Street Support</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support is a central online resource around homelessness in cities - currently available in Manchester and Leeds.</p>
      <ul>
        <li><a href="/find-help/">Find Help</a>: Find all local services available to meet the needs of people experiencing homelessness. See exactly when and where help is available, where there are gaps and overlaps.</li>
        <li><a href="/give-help/">Give Help</a>: Find out what you can DO to help, as a citizen or business - respond to what is needed across all organisations, volunteer, offer items, or donate.</li>
        <li><a href="http://news.streetsupport.net/">News</a>: Learn about homelessness, the current situation, and what work is being done to improve things.</li>
        <li><a href="https://charter.streetsupport.net">Manchester Homelessness Charter</a>: Support a city-wide partnership of organisations, service providers and businesses to end homelessness in Manchester.</li>
      </ul>
      <p>Street Support has a simple mission - make it easier for people who are homeless to get the help they need. We make it easier for the network to collaborate, co-ordinate and provide better support for people experiencing homelessness, and we make it easier for citizens and businesses to DO something to help. Many small, co-ordinated actions add up to a big difference to homeless people in the city.</p>

      <h2 class="h2">Our Team</h2>
      <p>We are small team based in Manchester UK, working alongside people who are homeless and local organisations.</p>
      <p>Our core team is just 3 people, supported by a network of digital experts and volunteers who help us along the way. You can find out about the people behind Street Support here: <a href="our-team/">Our team</a>.</p>
      <p>We use research, co-production, human centered design and creative technology to develop online tools that make it easier for people experiencing homelessness to get help. We also facilitate discussion and co-production, and work behind the scenes to connect the network. Here is a little story of how we got here: <a href="/about/how-this-started/">How it all started.</a></p>

      <h2 class="h2">Our Plans</h2>
      <p>We work closely with individuals with lived experience of homelessness and local organisations to co-produce new features to meet their needs. We are continually improving the site based on user feedback.</p>
      <p>We have been approached by other cities to expand the network to more locations. Street Support Leeds is now available, and we are working with partners in other cities. The site and apps have been built to expand nationally, so we are excited to share what is working in Manchester with more locations.</p>

      <h2 class="h2">Our Network</h2>
      <p>We work in partnership with people experiencing homelessess, charities and voluntary groups, public and private sector, and concerned citizens. In addition to providing the online network, we also work behind the scenes to connect people and facilitate collaborative workshops.</p>
      <p>Co-production is central to everything we do, and we are proud to support the <a href="/about/manchester-homelessness-partnership">Manchester Homelessness Partnership</a>.<p>
      <p>We include organisations from across different sectors that provide useful services for people who are homeless. We need to be a trusted source of information, so we do have some standards around who is included, as guided by the existing network. Find out more here: <a href="/about/organisations/">Registering an organisations</a>.</p>

      <h2 class="h2">Our Organisation</h2>
      <p>We are a not for profit company, and have been funded so far by donations from local philanthropists, a loan from KeyFund, and sponsorship by a business group in Leeds. We are an open and transparent organisation, so please get in touch if you have any questions.</p>
      <p>In order to continue to develop and improve this central resource, and to facilitate change through the network, we are looking for businesses to partner with us. If you are interested in sponsoring Street Support, please contact Gary at <a href="mailto:gary@streetsupport.net">gary@streetsupport.net</a>, or on 07824 667709.</p>

      <h2 class="h2">Find out more</h2>
      <p>You can find out more about our progress on our <a href="https://www.facebook.com/streetsupport/">Facebook page</a>, <a href="https://twitter.com/streetsupportuk">on Twitter</a>, or you can <a href="http://streetsupport.us12.list-manage1.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=52ba96f2af">subscribe to our newsletter</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
