---
title: About Us - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">About Street Support</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Street Support</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support is a central digital hub, uniting all the charities and voluntary groups that support homeless people in Manchester, with all those who’d like to help, so that together we can make a bigger impact.</p>
      <p>Through our 'Find Help' section you can find local services to meet the specific needs of an individual, through a smartphone.</p>
      <p>Through our 'Give Help' section you can find out what local homelessness organisations currently need - simple and effective ways to take action.</p>
      <p>Together this allows the Manchester network to collaborate, co-ordinate and achieve more together.</p>
      <p>Whoever you are, and however you can, please get involved. Many small, co-ordinated actions add up to a big difference to homeless people in Manchester.</p>

      <h2 class="h2">About us</h2>
      <p>We are a collective of digital experts, working closely with homelessness organisations in Manchester. We use research, user centered design and creative technology to make it easier for people experiencing homelessness to get the help they need.</p>
      <p>We started the project in October 2015 with a small core team of 3, and have developed the site with the help of our network of digital experts.</p>
      <p>You can read more about the team behind Street Support here: <a href="/about-our-team/">About our team</a>.</p>

      <h2 class="h2">Find out more</h2>
      <p>We are working hard to add more features to Street Support, and to continually improve the experience based on your feedback. You can find out more about our progress on <a href="https://streetsupportnet.wordpress.com/">our blog</a>, <a href="https://www.facebook.com/streetsupport/">Facebook page</a> or get in touch at <a href="mailto:info@streetsupport.net">info@streetsupport.net</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
