---
title: About Us - Street Support
description: Street support makes it easier to help people facing homelessness. Here is more information about how it works.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: about
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">About Street Support</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Street Support</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support Network works online and offline, connecting and supporting local people and organisations to Tackle Homelessness.</p>
      <p>Our vision is a citizen-led network, where people with personal insight into homelessness, decision makers and people with resources co-create effective solutions together.</p>
      <p>This website is a central place online to find out about homelessness, see what support is available, and see what you can do to help.</p>
      <ul>
        <li>
          <a href="/find-help/">Find Help</a>: See what support services are available near you, how to access them, and where there are gaps.</li>
        <li>
          <a href="/give-help/">Give Help</a>: See how you can help organisations to provide better support - volunteer, offer items, or donate money.</li>
        <li>
          <a href="http://news.streetsupport.net/">News</a>: Understand more about homelessness in your area, what is being done, and where the challenges and opportunities are.</li>
      </ul>
      <p>We also work offline, connecting people to co-produce better solutions, facilitating conversation and co-ordinating action. Everything we do starts by listening to people with personal insight into homelessness and frontline workers. We use research, co-production, human centered design and creative technology to develop tools and improve systems. Here is the story of <a href="/about/how-this-started/">how this started.</a></p>
    </div>

    {{> divider }}

    <div class="block__content">

      <h2 class="h2">Our Organisation</h2>
      <p>Street Support Network Ltd is a Registered Charity [1177546]. We have been funded by donations from local philanthropists and friends, small grants, and business sponsorship. In order to continue to develop and support this network, and to provide employment for people experiencing homelessness, we need businesses to partner with us. If you are interested in supporting us, please contact Gary at <a href="mailto:gary@streetsupport.net">gary@streetsupport.net</a>.</p>

      <h2 class="h2">Our Team</h2>
      <p>We have a core team of 6 people based in Manchester, 2 of us have lived experience of homelessness. Each location we are active in has a local co-ordinator, supported by organisations and volunteers.</p>
      <a href="/about/our-team/" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">About our team</span>
      </a>
      <p>In addition we have a board of trustees, a range of advisors and some dedicated volunteers, bringing different skills and experiences.</p>
      <a href="/about/our-trustees/" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">About our trustees</span>
      </a>


      <h2 class="h2">Partnerships</h2>
      <p>We work in partnership with people experiencing homelessess, charities and voluntary groups, public and private sector, and concerned citizens. Together we co-produce new features to meet different needs, and are continually improving the site based on user feedback. In addition to providing the online network, we also work behind the scenes to connect people and facilitate collaborative workshops.</p>
      <div class="split__element text-center">
        <a href="/manchester/manchester-homelessness-partnership">
          {{>icon name="partnershipLogo" class="partnership__icon" }}
        </a>
      </div>
      <a href="/manchester/manchester-homelessness-partnership" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">About Manchester Homelessness Partnership</span>
      </a>

      <h2 class="h2">Organisations</h2>
      <p>The network includes organisations from across different sectors that provide useful services for people who are homeless.
        As a trusted source of information, the local network set minimum standards around who is included - see our standards
        toolkit for information on the criteria we use in Manchester.</p>
      <a href="/about/organisations/" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">Information for organisations</span>
      </a>

      <h2 class="h2">Information Quality</h2>
      <p>Please note, all information is provided by organisations in the network, so while we make every effort to ensure it
        is kept up to date, we can't always guarantee the accuracy of information that is entered by third parties. Please
        <a href="/about/contact">get in touch</a> if you spot anything that is incorrect or missing.</p>
      <a href="/about/contact" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">Tell us about an issue</span>
      </a>

      <h2 class="h2">Support Us</h2>
      <p>We are a small, independent team and rely on funding from businesses and individuals to keep running.</p>
      <a href="https://www.justgiving.com/streetsupportnetwork" class="btn btn--brand-d">
        <span class="btn__text">Donate to Street Support</span>
      </a>

    </div>
    {{> divider }}

    <div class="block__content">
      <h2 class="h2">Find out more</h2>
      <p>You can find out more about our progress on our
        <a href="https://www.facebook.com/streetsupport/">Facebook page</a>,
        <a href="https://twitter.com/streetsupportuk">on Twitter</a>, or you can
        <a href="https://streetsupport.us12.list-manage.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=c966413ba3">subscribe to our newsletter</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
