---
title: About Us - Street Support
description: Street support makes it easier to help people facing homelessness. Here is more information about how it works.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: about
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">About Street Support</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Street Support</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support Network connects local people and organisations in order to support those who need it the most. </p>
      <p>This website is an online hub to find out about homelessness, see what support is available, and see what you can do to help.</p>
      <p>There are three primary reasons you might use our website:</p>
      <ul>
        <li>
          <p>To <a target="_blank" href="/find-help">Find Help</a>: Get advice and see what support services are available near you, how to access them, and where there are gaps.</p></li>
        <li>
          <p>To <a target="_blank" href="/give-help">Give Help</a>: See how you can help organisations to provide better support - volunteer, offer items, or donate money.</p>
        <li>
          <p>To <a target="_blank" href="https://news.streetsupport.net/">Learn</a>: Understand more about homelessness in your area, what is being done, and where the challenges and opportunities are.</p></li>
      </ul>
      <p>We also work offline, connecting people to co-produce better solutions, facilitating conversation and co-ordinating action. </p>
      <p>We’re a people-led network, where individuals with personal insight into homelessness and poverty, decision makers and people with resources co-create effective solutions together.</p>
      <p>Through research, collaboration, human-centered design and creative technology, we work to develop tools and improve systems.</p>
      <p>If you’d like to find out more about why we do what we do, check out this piece that our co-founder, Viv Slack, has written about <a href="/about/how-this-started/">how it all started</a>.</p>
    </div>

    {{> divider }}

    <div class="block__content">

      <h2 class="h2">Our Organisation</h2>
      <p>Street Support Network Ltd is a Registered Charity [1177546]. We have been funded by donations from local philanthropists and friends, small grants, and business sponsorship. In order to continue developing and growing our network, we’re always on the lookout for businesses to partner with us. If you are interested in learning more about what that might look like, check out our <a href="/give-help/business-support">Business Partnerships</a> page.</p>

      <h2 class="h2">Our Team</h2>
      <p>We have a <a href="/about/our-team">core team</a> of four people, each with our own specialisms. Each location we are active in has a local co-ordinator, supported by organisations and volunteers.</p>
      <p>In addition we have a <a href="/about/our-trustees">board of trustees</a>, a range of advisors and some dedicated volunteers, bringing different skills and experiences.</p>


      <h2 class="h2">Partnerships</h2>
      <p>So much of what we do comes down to our partnerships. We work in partnership with people experiencing homelessness, charities, voluntary groups, public and private sector, and just generally people who care.</p>
      <p>Together we co-produce new features to meet different needs, and are continually improving the site based on user feedback. In addition to providing the online network, we also work behind the scenes to connect people and facilitate collaborative workshops with our wider network.</p>

      <h2 class="h2">Organisations</h2>
      <p>Our network includes organisations from all over the UK and across loads of different sectors that provide useful services for people who are experiencing, or at risk of experiencing homelessness. Because some of our users can be in quite vulnerable situations, we have to be really careful that where we’re pointing them is the right direction. Because of this, we do have a standards toolkit. If you’re curious, you can see the criteria we use in Manchester.</p>
      <a href="/manchester/standards-toolkit/" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">Information for organisations</span>
      </a>

      <h2 class="h2">Information Quality</h2>
      <p>All the service information on the site is provided by organisations in our network, so while we really try to make sure it’s kept up to date, we can't always guarantee the accuracy of information that is entered by third parties. Please <a href="/about/contact">get in touch</a> if you spot anything that is incorrect or missing.</p>

    </div>
    {{> divider }}

    <div class="block__content">
      <h2 class="h2">Find out more</h2>
      <p>You can find out more about our progress on our
        <a href="https://www.facebook.com/streetsupport/">Facebook page</a>,
        <a href="https://twitter.com/streetsupportuk">on Twitter</a>, or you can
        <a href="https://streetsupport.us12.list-manage.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=c966413ba3">subscribe to our newsletter</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
