---
title: About Us - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: about
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">About Street Support</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Street Support</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support Network is a central online resource around homelessness in a city, currently available in Greater Manchester,
        Leeds, Bradford, Bournemouth, Portsmouth & Liverpool, with other cities keen to join.</p>
      <p>We have a simple mission - to make it easier for people who are homeless to get the help they need...</p>
      <ul>
        <li>
          <a href="/find-help/">Find Help</a>: See exactly when and where support is available, and where there are gaps.</li>
        <li>
          <a href="/give-help/">Give Help</a>: See what is needed across all organisations - volunteer, offer items, or donate.</li>
        <li>
          <a href="http://news.streetsupport.net/">News</a>: Learn about homelessness in the city through stories, information, and news updates.</li>
      </ul>
      <p>We make it easier for the local network of services to collaborate, co-ordinate and provide better support for people
        experiencing homelessness, and we make it easier for citizens and businesses to do something to help. Many small,
        co-ordinated actions add up to a big difference to homeless people in the city.</p>
      <p>Our long term vision is a place-driven citizen-led support network, with people with personal lived experience of homelessness
        at the heart of everything we do.</p>
    </div>

    {{> divider }}

    <div class="block__content">
      <h2 class="h2">Organisation Registration</h2>
      <p>The network includes organisations from across different sectors that provide useful services for people who are homeless.
        As a trusted source of information, the local network set minimum standards around who is included - see our standards
        toolkit for information on the criteria we use in Manchester.</p>
      <a href="/about/organisations/" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">Register your organisation</span>
      </a>

      <h2 class="h2">Information Quality</h2>
      <p>Please note, all information is provided by organisations in the network, so while we make every effort to ensure it
        is kept up to date, we can't always guarantee the accuracy of information that is entered by third parties. Please
        <a href="/contact">get in touch</a> if you spot anything that is incorrect or missing.</p>
      <a href="/contact" class="btn btn--brand-d">
        <span class="btn__text">Tell us about an issue</span>
      </a>
    </div>
    {{> divider }}
    <div class="block__content">
      <h2 class="h2">Our Team</h2>
      <p>We have a core team of 6 people based in Manchester, 3 of us have lived experience of homelessness. Each city also has a network co-ordinator, supported by local organisations and volunteers.</p>
      <a href="/about/our-team/" class="btn btn--brand-d btn--in-copy">
        <span class="btn__text">About our team</span>
      </a>

      <p>We use research, co-production, human centered design and creative technology to develop online tools that make it
        easier for people experiencing homelessness to get help. We also facilitate discussion and co-production, and work
        behind the scenes to connect the network. Here is a little story of where this idea came from:
        <a href="/about/how-this-started/">How this started.</a>
      </p>

      <h2 class="h2">Our Organisation</h2>
      <p>We are a not for profit company, currently waiting for our official charity status. We have been funded so far by donations
        from local philanthropists, friends, small grants, a loan from KeyFund, and business sponsorship. We always pay at
        least the real living wage for the area. We are an open and transparent organisation, so please get in touch if you
        have any further questions.</p>
      <p>In order to continue to develop and improve this central resource, and to facilitate change through the network, we
        are looking for businesses to sponsor us to help grow out team, providing more opportunities for people who have
        experienced homelessness. If you are interested in supporting us, please contact Gary at
        <a href="mailto:gary@streetsupport.net">gary@streetsupport.net</a>, or on 07824 667709.</p>
     
      <h2 class="h2">Our Network</h2>
      <p>We work in partnership with people experiencing homelessess, charities and voluntary groups, public and private sector,
        and concerned citizens. We work together to co-produce new features to meet the needs of those who will use them,
        and are continually improving the site based on user feedback. In addition to providing the online network, we also
        work behind the scenes to connect people and facilitate collaborative workshops.</p>

      <div class="split__element text-center">
        <a href="/about/manchester-homelessness-partnership">
          {{>icon name="partnershipLogo" class="partnership__icon" }}
        </a>
      </div>

      <h2 class="h2">Co-production and Partnership</h2>
      <p>Co-production is central to everything we do, and we are proud to support the
        <a href="/about/manchester-homelessness-partnership">Manchester Homelessness Partnership</a> in ensuring people with lived experience are meaningfully engaged in designing
        and delivering services.
        <p>
          <a href="/about/manchester-homelessness-partnership" class="btn btn--brand-d btn--in-copy">
            <span class="btn__text">Learn about the Manchester Homelessness Partnership</span>
          </a>
    </div>
    {{> divider }}

    <div class="block__content">
      <h2 class="h2">Find out more</h2>
      <p>You can find out more about our progress on our
        <a href="https://www.facebook.com/streetsupport/">Facebook page</a>,
        <a href="https://twitter.com/streetsupportuk">on Twitter</a>, or you can
        <a href="http://streetsupport.us12.list-manage1.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=52ba96f2af">subscribe to our newsletter</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>