<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--luton-aldwych"><a href="https://www.aldwyck.co.uk/">{{> icon name="luton-aldwych"}}</a></li>
  <li class="partners__logo partners__logo--luton-beds"><a href="https://www.beds.ac.uk/">{{> icon name="luton-beds"}}</a></li>
  <li class="partners__logo partners__logo--luton-bid"><a href="https://lutonbid.org/">{{> icon name="luton-bid"}}</a></li>
  <li class="partners__logo partners__logo--luton-cvs"><a href="http://www.cvsbeds.org.uk/">{{> icon name="luton-cvs"}}</a></li>
  <li class="partners__logo partners__logo--luton-nhs"><a href="https://www.elft.nhs.uk/">{{> icon name="luton-nhs"}}</a></li>
  <li class="partners__logo partners__logo--luton-keystone"><a href="https://www.keystagehousing.co.uk/">{{> icon name="luton-keystone"}}</a></li>
  <li class="partners__logo partners__logo--luton-homeless-partnership"><a href="">{{> icon name="luton-homeless-partnership"}}</a></li>
  <li class="partners__logo partners__logo--luton-msha"><a href="http://maryseacoleha.com/">{{> icon name="luton-msha"}}</a></li>
  <li class="partners__logo partners__logo--luton-noah"><a href="https://www.noahenterprise.org/">{{> icon name="luton-noah"}}</a></li>
  <li class="partners__logo partners__logo--luton-penrose"><a href="https://www.penrose.org.uk/">{{> icon name="luton-penrose"}}</a></li>
  <li class="partners__logo partners__logo--luton-resolutions"><a href="https://www.resolutions4luton.org/">{{> icon name="luton-resolutions"}}</a></li>
  <li class="partners__logo partners__logo--luton-signpost"><a href="https://www.signpostsso.org/">{{> icon name="luton-signpost"}}</a></li>
  <li class="partners__logo partners__logo--luton-squared"><a href="https://www.squared.org.uk/">{{> icon name="luton-squared"}}</a></li>
  <li class="partners__logo partners__logo--luton-womens-aid"><a href="https://womensaidinluton.org/">{{> icon name="luton-womens-aid"}}</a></li>
  <li class="partners__logo partners__logo--luton-citizens-advice"><a href="https://www.citizensadvice.org.uk/local/luton/">{{> icon name="luton-citizens-advice"}}</a></li>
</ul>
