---
title: Jobs - Street Support Network - Data Entry Volunteer
description: We are looking for data entry volunteers to support our mission to tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: dotnet
page: dotnet
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/about/jobs">Jobs</a>
      </li>
      <li class="breadcrumbs__item">National</li>
      <li class="breadcrumbs__item">Jobs</li>
      <li class="breadcrumbs__item">Communications & Engagement Coordinator</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Communications & Engagement Coordinator</h1>
    <h2 class="h2">Job Description & Person Specification</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h3 class="h3">About Street Support Network</h3>
      <p>Street Support Network works online and offline across <a href="https://streetsupport.net/locations/"> 26 locations</a> in the UK, connecting and supporting local people and organisations to tackle homelessness. The network is growing and we anticipate having expanded to 32 locations by early 2022.</p>

      <p>Our website is a central place for people experiencing homelessness to <a href="https://streetsupport.net/find-help/">Find Help</a>, for the general public and business to <a href="https://streetsupport.net/give-help/">Give Help</a> and, via our <a href="http://news.streetsupport.net/">News</a> section, for people to understand more about homelessness, what is being done to address it, and where the challenges and opportunities are.</p>

      <p>We also work offline, connecting people to co-produce better solutions, facilitating conversations and co-ordinating action. Everything we do starts by listening to people with personal insight into homelessness and frontline workers. We use research, co-production, human centered design and creative technology to develop tools and improve systems.</p>

      <h3 class="h3">Purpose of Communications & Engagement Coordinator</h3>

      <p>We’re looking for an experienced Communications & Engagement professional to provide specialist communications for Street Support Network and our partner locations. You will need to communicate more clearly what we do and help the locations spread awareness of their existence and activities and develop their own local brands.</p>

      <p>The successful candidate will provide a professional and high-quality communications service, supporting opportunities to raise our profile, celebrate our achievements and look for new opportunities for growth. This role provides an opportunity to work across many channels, particularly with our expanding digital and social media platforms.</p>

      <p>We envision the successful candidate creating a ‘Best Practice’ bible which includes information, tips, guidance, and other relevant information. This task will involve research, interview and data collection from locations featured in the Network and development and roll out of the bible.</p>

      <p>The Communications & Engagement Coordinator will organise our quarterly UK Network wide events. These events bring together all of our locations to connect, share best practice and challenges and co-create ongoing solutions to tackle homelessness.</p>

      <h3 class="h3">Duties/Responsibilities</h3>

      <ul>
        <li>You must be confident in preparing, planning and project managing the publication of all publicity material to maximise awareness and promote Street Support;</li>
        <li>Having held a similar role, you’ll be experienced in managing social media channels and web content management systems, have excellent English Language skills, and be able to adapt your writing style for different publications, i.e. blogs, newsletters, social media and press releases;</li>
        <li>You must work well within a small team, supporting colleagues in a positive manner that can demonstrate flexibility;</li>
        <li>With your innovative approach, you will create and develop new ways to communicate with stakeholders and update and write engaging web content;</li>
        <li>Further to this you must be confident designing, managing and delivering engaging and successful marketing campaigns, and evaluating their effectiveness;</li>
        <li>You will be responsible for event planning, including understanding the requirements for each event, planning, scheduling speakers, managing all event operations (invitations etc), overseeing event happenings and follow up; and</li>
        <li>Encourage and support effective communications across the network and for individual locations as needed.</li>
      </ul>

      <h3 class="h3">General Duties</h3>

      <ul>
        <li>Responds to enquiries and emails in a timely and responsive manner;</li>
        <li>Work closely and flexibly with colleagues in a small team;</li>
        <li>Manage the “catch all” admin@streetsupport.net email address;</li>
        <li>Participate in management and all-staff meetings; and</li>
        <li>Other duties as assigned.</li>
      </ul>

      <h3 class="h3">Essential</h3>

      <ul>
        <li>Clear and effective communication skills;</li>
        <li>Excellent organisational and team coordination abilities;</li>
        <li>Excellent written and verbal communication skills including report writing;</li>
        <li>Attention to detail;</li>
        <li>Strong influencing and encouraging skills;</li>
        <li>Excellent team player, able to provide leadership as required and work with others;</li>
        <li>Ability to work alone; and</li>
        <li>Reliable and conscientious.</li>
      </ul>

      <h3 class="h3">Desirable</h3>

      <ul>
        <li>Lived experience of social disadvantage (e.g. homelessness, mental health issues, substance misuse, offending and domestic violence and abuse); and</li>
        <li>Experience of working in the third sector.</li>
      </ul>

      <h3 class="h3">Education and Experience</h3>

      <ul>
        <li>Proficient understanding of Gmail and Google Drive;</li>
        <li>Proficient understanding of Microsoft Office;</li>
        <li>Proficient understanding of Social Media platforms such as Facebook, Twitter, Instagram and Mailchimp;</li>
        <li>Experience of developing simple creative assets for social media e.g. Canva; and</li>
        <li>Ability to pick up new online platforms (training provided).</li>
      </ul>

      <h3 class="h3">Terms and Conditions</h3>

      <ol>
        <li>Contract: Permanent + Part time, 21 hours/3 days per week.</li>
        <li>Salary: £16,500.</li>
        <li>Probation period: 3 months.</li>
        <li>Location: We are a digital organisation with staff predominantly working from home. Our meetings generally take place via Zoom. Some travel to our premises and those of our partner locations may be required.</li>
        <li>Paid Leave Entitlement: 15 days per year.</li>
        <li>Pension: Workplace pension will be provided.</li>
        <li>Period of Notice: None for the first month, one week on each side for the next 2 months and one month thereafter.</li>
      </ol>

      <p><span class="bold">Application Process:</span> To apply for the role please send your CV with a one-page letter clearly demonstrating how you meet the criteria for the role to Soraya at <a href="mailto:soraya@streetsupport.net">soraya@streetsupport.net</a>. References will be required. If you have been successful in your application, we will contact you the following week to invite you for an interview. Unfortunately we are unable to contact non successful candidates so if you haven’t heard from us by Thursday 11 November, you haven’t been successful in your application.</p>

      <p><span class="bold">Closing date:</span> 18:00 Thursday 04 November.</p>
      <p><span class="bold">Interviews:</span> WC 15 November.</p>
      <p><span class="bold">Start date:</span> 29 November.</p>

    {{> social-share}}
  </div>
</div>
