---
title: Emergency Homeless Help in Manchester - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/emergency-help/">Emergency Advice</a></li>
      <li class="breadcrumbs__item">Manchester</li>
    </ol>
  </div>
</div>

{{> page-header main="Manchester Council" sub="How your council can help if you are facing homelessness" }}


<div class="block">
  <div class="container">
    <div class="block__content">
      
      <a name="council-info"></a>
      <p>Tell Manchester City Council you are homeless, or if you see someone sleeping rough in Manchester:</p>
      <ul>
        <li>Mon-Fri 9am-4.30pm visit the town hall</li>
        <li>Mon-Fri 9am-4.30pm call 0161 234 4692</li>
        <li>Email <a href="mailto:haasdutyofficer@manchester.gov.uk">haasdutyofficer@manchester.gov.uk</a></li>
        <li>Outside these hours in an emergency, call 0161 234 5001 or email <a href="mailto:mcsreply@manchester.gov.uk">mcsreply@manchester.gov.uk</a></li>
      </ul>
      <p>If you are under 25 you should go to <a href="/find-help/organisation/?organisation=ypsf">Centrepoint</a> rather than to the council.</p>
      </p>
      </p>If you come under a different council area, please visit your town hall or council website for information, or select from our <a href="/find-help/emergency-info/councils/">featured councils</a>.</p>

      <a name="support-services"></a>
      <h2 class="h2">Support Services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the following drop in centres who can advise you on what options are available for you. They can also refer you into accommodation and other services, where appropriate.</p>
      <ul>
        <li>For Under 25s: <a href="/find-help/organisation/?organisation=ypsf">Centrepoint</a> or <a href="/find-help/organisation/?organisation=lifeshare">Lifeshare</a></li>
        <li><a href="/find-help/organisation/?organisation=barnabus">Barnabus</a></li>
        <li><a href="/find-help/organisation/?organisation=booth-centre">The Booth Centre</a></li>
        <li><a href="/find-help/organisation/?organisation=cornerstone-day-centre">Cornerstones</a></li>
        <li><a href="/find-help/organisation/?organisation=mustard-tree">Mustard Tree</a></li>
      </ul>
      <p>After hours, organisations that run evening services including <a href="/find-help/organisation/?organisation=coffee4craig">Coffee4Craig</a> can also offer advice on suitable services.</p>
      <p>Most emergency housing in the city cannot be accessed directly, but you can check the <a href="/find-help/accommodation/">accommodation</a> page to see the latest information on what is available near you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During the winter months, additional emergency accomodation is provided during periods of severe cold weather (SWEP). Find out more about <a href="/manchester/severe-weather-accommodation/">severe weather accommodation</a>.</p>

      <a name="social-housing"></a>
      <h2 class="h2">Registering for Social Housing</h2>
      <p>You can also register with <a href="http://www.manchestermove.co.uk/">Manchester Move</a> to be assessed for longer term social housing options. If you are outside of the city centre, <a href="https://www.pinpoint.org.uk/">Pinpoint</a> is the equivalent service for Greater Manchester.</p>

      {{> social-share}}
    </div>
  </div>
</div>


<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
