---
title: Severe Weather Emergency Accommodation in Coventry - Street Support
description: Severe Weather Emergency Accommodation provision in Coventry.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: coventry
page: coventry-advice
location: coventry
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/coventry/">Coventry</a></li>
      <li class="breadcrumbs__item"><a href="/coventry/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="coventry" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the winter months, emergency beds are available for rough sleepers.</p>
      <p>After checking the fluctuating weather temperatures today it has been decided to activate SWEP tonight as the feel like factor reaches zero degrees.</p>
      <p><span class="bold">Can you please advise any rough sleepers to come to Harnall Lifehouse for shelter and warmth.</span></p>

    {{> social-share}}

  </div>
</div>
