---
title: Severe Weather Emergency Accommodation in Coventry - Street Support
description: Severe Weather Emergency Accommodation provision in Coventry.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: coventry
page: coventry-advice
location: coventry
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/coventry/">Coventry</a></li>
      <li class="breadcrumbs__item"><a href="/coventry/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="coventry" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the colder months SWEP means that you don't need to rough sleep. If you are rough sleeping and the temperature drops to freezing, or rain or snow is severe you can access somewhere to sleep for the night.</p>

      <p>You can present at <span class="bold">The Salvation Army, Harnall Lane West, CV1 4EZ, <a href="tel:02477714443">024 7771 4443</a></span> (town side of the Foleshill Rd, opposite the canal and hear Halfords) or call the out of hours emergency number - <a href="tel:02476832222">024 7683 2222</a>.</p>

      <p>The next working day we will support you to weigh up the choices and options you have to find accommodation.</p>

      <p>If you are worried about someone you've seen sleeping rough in Coventry, you can alert Coventry's Rough Sleeper Outreach Service via Streetlink by downloading the <a href="https://www.streetlink.org.uk/">Streetlink app</a>.</a></p>

    {{> social-share}}

  </div>
</div>
