<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--simon-community"><a href="https://www.simonscotland.org/">{{> icon name="simon-community"}}</a></li>
  <li class="partners__logo partners__logo--edin-uni"><a href="https://www.ed.ac.uk/health">{{> icon name="edin-uni"}}</a></li>
  <li class="partners__logo partners__logo--edin-council"><a href="https://www.edinburgh.gov.uk/homeless-risk">{{> icon name="edinburgh-council"}}</a></li>
</ul>
