---
title: Severe Weather Emergency Accommodation in Birmingham - Street Support
description: Severe Weather Emergency Accommodation provision in Birmingham.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: birmingham
page: birmingham-advice
location: birmingham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/birmingham/">Birmingham</a></li>
      <li class="breadcrumbs__item"><a href="/birmingham/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="birmingham" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>SWEP is activated until 21st of February</p>
      <p>If you know anyone who finds themselves sleeping rough or homeless please visit the <a href="https://www.streetlink.org.uk">StreetLink</a> website or call them on <a href="tel:0300 500 0914">0300 500 0914</a>.</p>

    {{> social-share}}

  </div>
</div>
