---
title: Street Support - Migrant Destitution Fund
description: Providing small crisis grants to destitute migrants
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: home
page: manchester
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item">Migrant Destitution Fund</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--manchester">
  <div class="container container--location-header">
    <h1 class="h1 block__header">Migrant Destitution Fund</h1>
    <p class="h2 block__sub-header">Providing small crisis grants to destitute migrants</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
  {{>icon name="partnershipLogo" class="partnership__icon--medium partnership__icon--right"  }}
      <h2>What is the Migrant Destitution Fund?</h2>
      <p class="para--two-thirds">The Manchester Homeless Partnership (MHP) Destitute Migrants' Relief Fund provides a small crisis grant of up to £80 per month to destitute migrants who are subject to immigration controls and have No Recourse to Public Funds (NRPF) - i.e. are unable to work to earn their own income and are not eligible for support from state benefits or the asylum system.</p>
      <p class="para--two-thirds">As the aim of the Fund is to support well-being and fulfilment as well as meet basic needs, maintaining the dignity of applicants is essential. For this reason, the Fund does not ask for receipts or stipulate how the grant should be spent.</p>
      <div class="quote"><blockquote class="quote__body">Hearing about the Migrant Destitution Action Group brought hope and gave me a reason to believe there are people out there thinking about people like me. Getting money from this fund has helped greatly.</blockquote></div>
      <h2>Who is eligible to apply to the fund?</h2>
      <p class="para--two-thirds">Any destitute migrant with NRPF can apply to the fund. This will mostly be people who have had their <strong>asylum claim refused</strong>, but also undocumented migrants, people who have overstayed or have experienced the <strong>breakdown of relationship</strong> having come to the UK on a visa connected to their spouse. For more info on NRPF please see <a href="https://www.homeless.org.uk/sites/default/files/site-attachments/Supporting%20people%20with%20no%20recourse%20to%20public%20funds%20%28NRPF%29%202016.pdf">this factsheet from Homeless Link</a></p>
      <p class="para--two-thirds">Supporting organisations are trusted to determine whether someone does indeed have no recourse, and are asked to make sure that beneficiaries do fit the criteria before applying.</p>
      <p class="para--two-thirds">Applicants can apply for up to £80 at any one time, but not more than once per month. There are no restrictions on what the Fund can be spent on, as dignity of the individual is a key principle of the Fund. However, typical things which grants have so far been used for include:</p>
      <ul class="list--two-column">
        <li class="list__item">Food</li>
        <li class="list__item">Winter clothing</li>
        <li class="list__item">Phone credit</li>
        <li class="list__item">Travel costs (generally or to legal appointments and for gathering evidence related to their claim)</li>
      </ul>
      <blockquote class="quote__body">I felt much happier being able to get around and travel and talk to people. We are people with human needs. Having access to this money helps improve our way of life and get the things we need most to feel human again.</blockquote>
    </div>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content">
      <h2>How to apply</h2>
      <p>Applications are made through one of the supporting organisations, including:</p>
      <ul class="list--two-column">
        <li class="list__item">City of Sanctuary Manchester</li>
        <li class="list__item">Grow together Levenshulme</li>
        <li class="list__item">Mustard Tree</li>
        <li class="list__item">Red Cross</li>
        <li class="list__item">Refugee Action</li>
        <li class="list__item">WAST</li>
      </ul>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content block__content--central-cta block__content--donate">
      <h2 class="h2">Donate today</h2>
      <p> The Fund is managed by a Panel appointed by the MHP Migrant Destitution Action Group. At least 50% of the Panel must be individuals with lived experience of destitution as migrants.</p>
      <p>With thanks to Human Appeal and our donors for providing the funds to make this possible.</p>
      <a href="https://mydonate.bt.com/charities/boaztrust" class="btn btn--brand-e btn--full">
        <span class="btn__text">Donate</span>
      </a>
    </div>
  </div>
</div>

