---
title: Best Practice for Community-led Support Services - Working together to end homelessness in Manchester
description: Be recognised for the quality of your services
layout: default.hbs
permalink: false
jsBundle: generic
section: organisations
page: bestpractice
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/organisations">Organisations</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/organisations/best-practice">Best Practice</a></li>
      <li class="breadcrumbs__item">Benefits</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Benefits</h1>

  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content split">
      <p>Showing your commitment to delivering high quality support for people who are homeless has added benefits.</p>
      <p>To receive these benefits your organisation must be a recipient of a <a href="/manchester/organisations/best-practice/awards/">Manchester Homelessness Partnership Best Practice award</a>.  </p>
      <div class="split__element">
        <h2 class="h3">Commended Best Practice</h2>
      </div>
      <div class="split__element">
        <h2 class="h3">Distinctive Best Practice</h2>
        <ul>
          <li>Regional recognition for the quality of your service through the Manchester Homelessness Partnership award scheme</li>
          <li>Certificate, and award logo for you to use on your marketing material</li>
          <li>Access to the Big Change Fund (panel and applications)</li>
          <li>Free membership to the Street Support network- which includes the listing of your services and access to support
          <li>Invites for Volunteers/ groups to support or attend other network activities:
            <ul>
              <li>Winter shelters</li>
              <li>SWEP</li>
              <li>Hostels</li>
              <li>Manchester Homelessness Conference </li>
            </ul>
          </li>
          <li>Invite to join the Manchester Homelessness Charter</li>
          <li>Training and other support</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">
      <p><a href="/manchester/organisations/best-practice/awards/">Check the requirements for the Best Practice awards here</a>. If you are ready to submit your application, or have an inquiry about the awards please <a href="/manchester/organisations/best-practice/awards/apply">visit our Award Application page</a>.<p>
      <p>For any other queries regarding training or support please <a href="/manchester/best-practice/get-in-touch">get in touch</a>.</p>
    </div>
  </div>
</div>
