---
title: Severe Weather Emergency Accommodation in the Wakefield District - Street Support
description: Severe Weather Emergency Accommodation provision in the Wakefield District.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: wakefield
page: wakefield-advice
location: wakefield
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/wakefield/">Wakefield District</a></li>
      <li class="breadcrumbs__item"><a href="/wakefield/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="wakefield" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <h3 class="h3">Rough Sleepers</h3>
      <p>If you are rough sleeping in the district, please contact our Rough Sleeper Support Service who will be able to provide assistance that may not be available under duties assessed under the homeless legislation. You can contact Rough Sleepers Outreach Project (Wakefield) - Riverside on:</p>
      <ul>
        <li>01924 385722</li>
        <li><a href="mailto:RC&26S.Wakefield@riverside.org.uk">RC&26S.Wakefield@riverside.org.uk</a> or,</li>
        <li><a href="mailto:matthew.heald@riverside.org.uk">matthew.heald@riverside.org.uk</a></li>
      </ul>
      <h3 class="h3">Non Rough Sleepers</h3>
      <p>Please contact the Housing Needs Service if you cannot carry on living where you are, and have nowhere else that it is reasonable for you to stay. Your circumstances will be considered under the homelessness law and advice, support and assistance will be provided to help resolve your homelessness. Currently the Council's Housing Needs Service can be contacted on 01924 304362 or 304360. The operational hours are:</p>
      <ul>
        <li>Monday to Wednesday 8.30 am to 5.00pm</li>
        <li>Thursday 10.00 am to 5.00 pm</li>
        <li>Friday 8.30 am to 4.30 pm</li>
        <li>Or email on <a href="mailto:housingneedsservice@wakefield.org.uk">housingneedsservice@wakefield.org.uk</a></li>
      </ul>
    </div>
    {{> social-share}}
  </div>
</div>


