---
title: Severe Weather Emergency Accommodation in the Wakefield District - Street Support
description: Severe Weather Emergency Accommodation provision in the Wakefield District.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: wakefield
page: wakefield-advice
location: wakefield
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/wakefield/">Wakefield District</a></li>
      <li class="breadcrumbs__item"><a href="/wakefield/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="wakefield" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Wakefield Baptist Church provides a night shelter as part of the severe cold weather provision funded by Wakefield District Council. <strong>The shelter officially is open when the Met Office Weather Forecast predicts three nights where the temperatures will be 0 degrees C or below. However where possible it will aim to open on any night that the temperature is 0 degree centigrade or below.</strong></p>
      <p>The shelter provides overnight accommodation (and more) to homeless people in the Wakefield District and when open is available from 8pm to 8am.</p>
      <p>A decision to open the shelter is based on one check of the weather forecast usually between 6-8am each morning. Please do not assume the shelter is open form your own checks and if unsure make contact with the Night Shelter Coordinator on <a href="tel:01924382966">01924 382966</a> or e-mail <a href="mailto:contact@nightshelter.org.uk">contact@nightshelter.org.uk</a>.</p>
      <p><strong>Wakefield Baptist Church Address:</strong><br>Belle Isle Christian Centre <br>Wakefield<br>W. Yorkshire, UK<br>WF1 5JY <a href="https://www.google.co.uk/maps/place/Wakefield+Baptist+Church/"> (map)</a></p>
    </div>
    {{> social-share}}
  </div>
</div>


