<li class="nav__item nav__item--hub-nav" data-city="tameside">
  <dl class="hub-nav-container">
    <dt data-city="tameside" class="nav__item nav__item--tameside">
      <a href="/tameside/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Tameside</a>
    </dt>
    <dd>
      <ul>
        <li data-city="tameside" class="nav__item nav__item--tameside-advice">
          <a href="/tameside/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>