---
title: Emergency Homeless Help in Liverpool - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/liverpool/">Liverpool</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header">
  <div class="container container--city-header city-header--liverpool">
    <h1 class="h1 block__header">Emergency Advice</h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p class="h2 text-center">Please note, this is advice for Liverpool; please change your location above for general advice.</p>
      {{> divider }}
      <p>If you're homeless, or feel that you might be soon, it's important to get the right advice as soon as possible. There is help available in the district, depending on your situation.</p>
      <ul>
        <li>If you're comfortable dealing with council services, you can go to the Housing Options Service by calling into any One Stop Shop or by phoning Careline (<a href="tel:0151 233 3800">0151 233 3800</a>)  or Freephone (<a href="tel:0800 731 6844">0800 731 6844</a>).
        </li>
        <li>You can also find many other services to help you through the <a href="/find-help/">Find Help</a> section of this site including <a href="/find-help/dropin/timetable/">drop in centres</a>.</li>
      </ul>

      <a name="rough-sleepers"></a>
      <h2 class="h2">Help for Rough Sleepers</h2>
      <p>If you need help right now you can contact the Housing Options Service by calling into any One Stop Shop or by phoning Careline (<a href="tel:0151 233 3800">0151 233 3800</a>)  or Freephone (<a href="tel:0800 731 6844">0800 731 6844</a>).</p>
      <p>Or if you are sleeping rough and need support you can contact the Whitechapel Centre by calling 0151 207 7617. You may also use this number is you are concerned about rough sleeping in your area.</p>



      <a name="homeless-services"></a>
      <h2 class="h2">Homeless Status</h2>
      <p>To be accepted as officially homeless, you must:</p>
      <ul>
        <li>Have not <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/intentional_homelessness">intentionally made yourself homeless</a>.</li>
        <li>Have no legal right to live anywhere in the world, or live somewhere overcrowded or unsafe.</li>
      </ul>
      <p>In addition, the support you get will depend on:</p>
      <ul>
        <li>If you are in <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/priority_need">"priority need”</a></li>
        <li>If you have a <a href="https://england.shelter.org.uk/housing_advice/homelessness/rules/local_connection">"local connection”</a> to the area.</li>
      </ul>
      <p><a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter's website</a> is the best place to learn about your legal rights, or call them on <a href="tel:0808 800 4444">0808 800 4444</a>.</p>

      <a name="emergency-winter-accommodation"></a>
      <h2 class="h2">Emergency Accommodation in Winter</h2>
      <p>During the cold weather, extra accommodation is provided, please see the <a href="/liverpool/severe-weather-accommodation/">Liverpool Emergency Winter Accommodation</a> page for more information.</p>

      <h2 class="h2">Other Support and Advice</h2>
      <p>There are many other services available to rough sleepers - you can check through the other categories in our <a href="/find-help">Find Help</a> section to see if there is someone that can help with what you need. </p>
      <p>Make sure to stay safe on the streets, stay warm and <a href="/find-help/meals/timetable/">find what food and drink provision available</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
