---
title: Severe Weather Emergency Accommodation - Street Support
description: Information on Severe Weather Emergency Accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: swep
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Severe Weather Emergency Accommodation</h1>
    <h2 class="h2 block__sub-header">Advice for rough sleepers during severe weather</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by the local council.</p>
      <p>Severe weather emergency provision (SWEP) must be provided when the weather is forecast to be sub zero for 3 consecutive days. At this point the usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status.</p>
      <p>Councils generally work in partnership with local organisations and housing providers to make this additional accommodation available, covering the accommodation and staff costs.</p>
      <p>It is up to the local council to decide if they want to provide emergency accommodation in circumstances beyond this legal minimim requirement.</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
