---
title: Winter Homelessness Provision for Greater Manchester - A Bed For Every Night This Winter in Greater Manchester - Street Support Network
description: Our mission is to provide a bed Every Night for Every Person sleeping rough in Greater Manchester this winter.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: gm-info
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/greater-manchester/">Greater Manchester Winter Provision</a></li>
        <li class="breadcrumbs__item">Information</li>
      </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">Information about A Bed Every Night</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2> What is A Bed Every Night?</h2>
      <p>A Bed Every Night is a commitment to provide a bed, welcome, hot meal and support for anyone sleeping rough in
        Greater Manchester. The extra provision will operate from 1st November 2018 until 31st March 2019 and will be
        available throughout this period, regardless of the temperature.</p>
      <p>The programme will make every effort to address the needs of those rough sleeping, offering additional
        temporary accommodation with lower criteria than current provision; removing them from the risk of extreme
        weather, improving health and wellbeing.</p>
      <p>A Bed Every Night is not a sticking plaster but the first stage of a new systematic approach across Greater
        Manchester to end homelessness. Ideally, we want to move people through emergency shelter into the right
        accommodation and support option for them, to enable them to stay off the streets.</p>
      <p>The staff in the provision will work pro-actively with individuals, referring agencies, accommodation
        providers and other services to try to find suitable move-on options or reconnection.</p>

      <h2>How do people get inside?</h2>
      <p>There will be two main routes into the winter provision - street outreach teams will go out to people rough
        sleeping and support them to get into the provision, and people can also go through their town hall, housing
        advice teams, local support services and out of hours numbers. For more information, see the advice for your
        local authority below:</p>

      <div class="accordion accordion--day js-accordion">
        <button id="Bolton" class="h3 accordion__header js-header">
          Bolton
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <il>
              <li>Visit Housing Options, Ground Floor, Bolton Town Hall, Bolton, BL1 1RU</li>
              <li>Call <a href="tel:01204335900">01204 335900</a></li>
              <li>Online visit <a href="https://www.bolton.gov.uk/housing-options-advice/homelessness">bolton.gov.uk/housing-options-advice/homelessness</a></li>
              <li><a href="/documents/gm-winter-provision-referral-form.docx">Download the referrals form</a> and email
                to <a href="mailto:housing.options@bolton.gov.uk">housing.options@bolton.gov.uk</a> (please
                include 'ABEN' in the subject field)</li>
              <li>Out of Hours call <a href="tel:01204337777">01204 337777</a> (Mon–Fri 6pm to 8am, weekends and bank
                holidays)</li>
              </ul>
          </div>
        </div>
        <button id="Bury" class="h3 accordion__header js-header">
          Bury
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Housing Assessment Team – Housing Advice &amp; Homelessness, Town Hall Knowsley Street,
                Bury,BL9 0SW</li>
              <li>Call <a href="tel:01612535537">0161 253 5537</a></li>
              <li>Online visit <a href="https://www.bury.gov.uk/index.aspx?articleid=14177">bury.gov.uk/index.aspx?articleid=14177</a></li>
              <li>Out of Hours call <a href="tel:01612536606">0161 253 6606</a> (Mon–Thu 5pm to 8.45am, Fri–Mon 5pm to
                8.45am)</li>
            </ul>
          </div>
        </div>
        <button id="Manchester" class="h3 accordion__header js-header">
          Manchester
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            {{> manchester/aben }}
          </div>
        </div>
        <button id="Oldham" class="h3 accordion__header js-header">
          Oldham
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit First Place, 22 Union Street, Oldham, OL1 1BE</li>
              <li>Call <a href="tel:01613937117">0161 393 7117</a></li>
              <li>Online visit <a href="https://www.oldham.gov.uk/info/200257/homelessness">oldham.gov.uk/info/200257/homelessness</a></li>
              <li><a href="/documents/gm-winter-provision-referral-form.docx">Download the referrals form</a> and email
                to <a href="mailto:housingoptions@fcho.co.uk">housingoptions@fcho.co.uk</a></li>
              <li>Out of Hours call <a href="tel:08009887061">0800 988 7061</a> (Mon–Wed 5pm to 9am, Thu 6pm to 9am,
                Fri–Mon 5pm to 9am)</li>
            </ul>
          </div>
        </div>
        <button id="Rochdale" class="h3 accordion__header js-header">
          Rochdale
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Rochdale Homelessness Service, St Alban's House, Drake Street, Rochdale, OL16 1UQ</li>
              <li>Call <a href="tel:03003038548">03003038548</a></li>
              <li>Out of Hours call <a href="tel:01706712977">01706 712 977</a> (up to 10pm), <a href="tel:03003038575">03003038575</a>
                (after 10pm)</li>
              <li>Or visit Petrus Hub, 73 Great George Street, Rochdale or on <a href="tel:01706526289">01706 526289</a></li>
            </ul>
          </div>
        </div>
        <button id="Salford" class="h3 accordion__header js-header">
          Salford
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Call <a href="tel:01616071620">0161 6071620</a> (Mon-Fri 8.30am to 4.30pm)</li>
              <li>Text <a href="tel:07773591050">07773 591050</a> (Mon-Fri 8.30am to 4.30pm)</li>
              <li>Out of Hours call <a href="tel:01617948888">0161 7948888</a></li>
              <li>Online visit <a href="https://contactus.salford.gov.uk/?formtype=CON_OOH">contactus.salford.gov.uk/?formtype=CON_OOH</a></li>
              <li><a href="/documents/gm-winter-provision-referral-form.docx">Download the referrals form</a> and email
                to <a href="mailto:roughsleeperTeam@salford.gov.uk">roughsleeperTeam@salford.gov.uk</a></li>
            </ul>
          </div>
        </div>
        <button id="Stockport" class="h3 accordion__header js-header">
          Stockport
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Stockport Homes, Cornerstone, 2 Edward Street SK1 3NQ (Mon-Fri 8.30am to 5pm)</li>
              <li>Call <a href="tel:01612176061">0161 217 6061</a> (Mon–Fri 9.30am to 4pm)</li>
              <li>Referrals through StreetLink will also be picked up by outreach teams</li>
              <li>Out of Hours call <a href="tel:01614742818">0161 474 2818</a> (Mon–Fri 6pm to 8am, weekends and bank
                holidays)</li>
            </ul>
          </div>
        </div>
        <button id="Tameside" class="h3 accordion__header js-header">
          Tameside
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Tameside Housing Advice, 119-125 Old Street, Ashton-under-Lyne, Tameside OL6 7RL</li>
              <li>Call <a href="tel:01613312700">0161 331 2700</a></li>
              <li>Online visit <a href="http://tamesidehousingadvice.org/">tamesidehousingadvice.org</a></li>
              <li><a href="/documents/gm-winter-provision-referral-form.docx">Download the referrals form</a> and email
                to <a href="mailto:dutytorefer@tameside.gov.uk">dutytorefer@tameside.gov.uk</a></li>
              <li>Out of Hours call <a href="tel:01613312700">0161 331 2700</a> (Mon–Wed 5pm to 9am, Thu 5pm to 10pm,
                Fri-Mon 4pm to 9am)</li>
            </ul>
          </div>
        </div>
        <button id="Trafford" class="h3 accordion__header js-header">
          Trafford
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit HOST at Sale Waterside, Sale M33 7ZF</li>
              <li>Call <a href="tel:01619122230">0161 912 2230</a></li>
              <li>Out of Hours call <a href="tel:08002182000">0800 218 2000</a></li>
            </ul>
          </div>
        </div>
        <button id="Wigan and Leigh" class="h3 accordion__header js-header">
          Wigan and Leigh
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Wigan Life Centre, The Wiend, Wigan, WN1 1NH (Mon-Fri 9am to 5pm, Sat 9am to 2pm)</li>
              <li>Visit Leigh Life Centre, Turnpike Centre, Civic Square, Market Street, Leigh, WN7 1EB (Mon-Fri
                9am-5pm,
                Sat 9am to 2pm)</li>
              <li>Call <a href="tel:01942487717">01942 487717</a></li>
              <li>Out of Hours call <a href="tel:01942828777">01942 828777</a></li>
            </ul>
          </div>
        </div>
      </div>

      <p>For more advice on what support is available in your area, please select your borough below:</p>
      <div style="max-width: 600px; margin: 0 auto">
        <form class="form location-selector js-change-location-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="location">Select a borough:</label>
              <select name="location" class="form__input form__input--inline-fill js-change-location-select">
                <option value="">- Select a borough -</option>
                {{> locations/_gm-option-tags }}
              </select>
              <button class="btn btn--brand-e btn--inline-fill js-change-location-btn" type="submit">
                <span class="btn__text">View information for your borough</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>

      <h2>Why might there still be people sleeping rough?</h2>
      <p>This is a complicated challenge and it won't be perfect right from the start. We will learn and adapt as we
        go, incorporating new people and new ideas. It will be evaluated by the people coming in to these spaces and
        judged by who we still meet outside.</p>
      <p>Not every environment suits everybody, we will learn about individual needs as we get to know individual
        people. This gives us the time to work with people and gives people the time to have a stable start for
        creating a life that makes sense to them.</p>
      <p>The people we work with have had varied experiences with the system, not always positive - it takes time,
        compassion and imagination to rebuild trust in these circumstances. This is where YOU can help - please donate
        <a href="/greater-manchester/donate-needed-items/">items</a>, <a href="/greater-manchester/volunteer/">time</a>,
        or <a href="https://bedeverynight.co.uk/">money</a> to make A Bed Every Night possible.</p>

      <h2>What is different about this approach in GM?</h2>
      <p>We want to provide more than a bed, this provision is an opportunity to form a relationship, to understand the
        person and have a stable start to making a life that makes sense to them around a safe place to stay. We want
        to build a supportive, therapeutic relationship for a time of personal crisis that people can be referred in
        to.</p>
      <p>The innovation in this project is the whole region working together; the public sector, voluntary sector,
        faith sector, grassroots groups, businesses and citizens. Local connection will be GM wide, with individuals
        reconnected to their local authority the following day where possible.</p>
      <p>While we won't turn people away, this scheme is only available to people whose last address was in Greater
        Manchester. We simply do not have the resources to open it up to people from further afield.</p>
      <p>Succeeding in this mission will be a challenge, but one that we must rise to; working together, learning as we
        go along, and continually adapting how this works based on what people experiencing homelessness and frontline
        workers tell us. If you have questions, concerns or suggestions, please get in touch at <a href="mailto:aben@streetsupport.net">aben@streetsupport.net</a>.</p>

    </div>
  </div>
</div>

<script id="js-news-tpl" type="text/template">
    {{> social-share }} 
</script>
