---
title: Winter Homelessness Provision for Greater Manchester - A Bed For Every Night This Winter in Greater Manchester - Street Support Network
description: Our mission is to provide a bed Every Night for Every Person sleeping rough in Greater Manchester this winter.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: gm
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/greater-manchester/">Greater Manchester Winter Provision</a></li>
        <li class="breadcrumbs__item">Information</li>
      </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">Information about A Bed Every Night</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2> What is A Bed Every Night?</h2>
      <p>A Bed Every Night is a commitment to provide a bed, welcome, hot meal and support for anyone sleeping rough in Greater Manchester. The extra provision will operate from 1st November 2018 until 31st March 2019 and will be available throughout this period, regardless of the temperature.</p>
      <p>The programme will make every effort to address the needs of those rough sleeping, offering additional temporary accommodation with lower criteria than current provision, removing them from the risk of extreme weather, improving health and wellbeing.</p>
      <p>For this project, local connection will be GM wide, with individuals reconnected to their local authority the following day where possible.</p>
      <p>The staff in the provision will work pro-actively with individuals, referring agencies, accommodation providers and other services to try to find suitable move-on options or reconnection.</p>

      <h2>How do people get inside?</h2>
      <p>Final details of how the process will work in each area are still being confirmed, but in general there will be two main routes into the winter provision...</p>
      <ol>
        <li>Street outreach teams will go out to people rough sleeping and support them to get into the provision</li>
        <li>People will also be able to use the usual routes through their town hall, housing advice teams and out of hours numbers<li>
      </ol>
      <p>Full details to follow shortly - until then, if you are rough sleeping, at risk, or supporting someone who is, please contact your local authority.</p>

      <h2>What might there still be people sleeping rough?</h2>
      <p>This is a complicated challenge and it won't be perfect right from the start. We will learn and adapt as we go, incorporating new people and new ideas. It will be evaluated by the people coming in to these spaces and judged by who we still meet outside.</p>
      <p>Not every environment suits everybody, we will learn about individual needs as we get to know individual people. This gives us the time to work with people and gives people the time to have a stable start for creating a life that makes sense to them.</p>
      <p>The people we work with have had varied experiences with the system, not always positive - it takes time, compassion and imagination to rebuild trust in these circumstances. This is where YOU can help - please donate <a href="/greater-manchester/donate-needed-items/">items</a>, <a href="/greater-manchester/volunteer/">time</a>, or <a href="https://bedeverynight.co.uk/">money</a> to make A Bed Every Night possible.</p>

      <h2>What is different about this approach in GM?</h2>
      <p>We started from the position politically in the region, that we can’t see our unhoused citizens sleeping on the streets this winter.</p>
      <p>We’ve built on the emergency provision usually made for freezing conditions - and made that offer permanent for the whole winter period. The statutory responsibility is to provide additional accommodation when the weather is below zero for 3 nights in a row. Last year in Greater Manchester, we made provision available every night it went below zero. This year we want to improve on that and provide accommodation every night over the winter period.</p>
      <p>We want to provide more than a bed - opportunity to form a relationship, to understand the person and have a stable start to making a life that makes sense to them around a safe place to stay. We want to build a supportive, therapeutic relationship for a time of personal crisis that people can be referred in to.</p>
      <p>The innovation in this project is the whole region working together - public sector, voluntary sector, grassroots groups, businesses and citizens, all working together. In addition, the process is open, transparent and reflective, with feedback loops and learning opportunities built into the design.</p>
      <p>Succeeding in this mission will be a challenge, but one that we must rise to, working together, learning as we go along, and continually adapting how this works based on what people experiencing homelessness and frontline workers tell us. If you have questions, concerns or suggestions, please get in touch at <a href="mailto:aben@streetsupport.net">aben@streetsupport.net</a>.</p>

    </div>
  </div>
</div>

<script id="js-news-tpl" type="text/template">
    {{> social-share }} 
</script>