---
title: Winter Homelessness Provision for Greater Manchester - A Bed For Every Night This Winter in Greater Manchester - Street Support Network
description: Our mission is to provide a bed Every Night for Every Person sleeping rough in Greater Manchester this winter.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: gm
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/greater-manchester/">Greater Manchester Winter Provision</a></li>
        <li class="breadcrumbs__item">Information</li>
      </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">Information about A Bed Every Night</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2> What is A Bed Every Night?</h2>
      <p>A Bed Every Night is a commitment to provide a bed, welcome, hot meal and support for anyone sleeping rough in
        Greater Manchester. The extra provision will operate from 1st November 2018 until 31st March 2019 and will be
        available throughout this period, regardless of the temperature.</p>
      <p>The programme will make every effort to address the needs of those rough sleeping, offering a rapid access
        process with fewer criteria than other forms of accommodation, removing them from the risk of extreme weather,
        and improving health and wellbeing.</p>
      <p>For this project, local connection will be GM wide, with individuals reconnected to their local authority the
        following day where possible.</p>
      <p>The staff in the provision will work pro-actively with individuals, referring agencies, accommodation
        providers and other services to try to find suitable move-on options or reconnection.</p>

      <h2>Why might there still be people sleeping rough?</h2>
      <p>There may be many reasons why people are still sleeping rough, including the offer not meeting what they want
        or need, and each individual is free to choose whether they go inside.</p>
      <p>Local organisations and outreach teams will continue to engage with and support people on the streets, and to
        make sure they know this option is available for them.</p>

      <h2>What is different about what is happening in GM?</h2>
      <p>The statutory responsibility is to provide additional accommodation when the weather is below zero for 3
        nights in a row. Last year in Greater Manchester, provision was made available every night it went below zero.
        This year we want to improve on that and provide accommodation every night over the winter period.</p>
      <p>The innovation in this project is the whole region working together - public sector, voluntary sector,
        grassroots groups, businesses and citizens, all working together.</p>
      <p>In addition, the process is open, transparent and reflective, with feedback loops and learning opportunities
        built into the design.</p>

    </div>
  </div>
</div>

<script id="js-news-tpl" type="text/template">
    {{> social-share }} 
</script>