---
title: Severe Weather Emergency Accommodation in Luton - Street Support
description: Severe Weather Emergency Accommodation provision in Luton.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: luton
page: luton-advice
location: luton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/luton/">Luton</a></li>
      <li class="breadcrumbs__item"><a href="/luton/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="luton" }}

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>For the past eleven years NOAH Enterprise have opened a winter shelter in Luton to provide a warm, dry, safe place to sleep <strong>when the temperature falls to zero or below at night.</strong></p>
      <p>The project is run with the support of Luton Borough Council and with St John's Ambulance service in attendance.</p>
      <p>We have the facilities to provide support and shelter for upto 20 people on any one night</p>

    </div>

    {{> social-share}}

  </div>
</div>
