---
title: Severe Weather Emergency Accommodation in Luton - Street Support
description: Severe Weather Emergency Accommodation provision in Luton.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: luton
page: luton-advice
location: luton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/luton/">Luton</a></li>
      <li class="breadcrumbs__item"><a href="/luton/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="luton" }}

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>During the winter, when the weather is forecast to be below zero, accommodation will be available for people who are rough sleeping.</p>
      <p>To access the accommodation please attend <a href="https://streetsupport.net/find-help/organisation/?organisation=noah">NOAH Enterprise</a>, 141 Park Street between 8am and 4pm.</p>

    </div>

    {{> social-share}}

  </div>
</div>
