// Clearfix

@mixin cf {
  &:before,
  &:after {
    display: table;

    content: ' ';
  }

  &:after {
    clear: both;
  }
}

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

@mixin printHide {
  @media print {
    & {
      display: none;
    }
  }
}
