// Media Queries
// -----------------------------

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
// $mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  xs:  360px,
  s:   480px,
  m:   700px,
  l:   800px,
  xl:  960px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: l;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
// $mq-show-breakpoints: (xs, s, m, l, xl);

// Site Variables
// -----------------------------

$base-font-size: 16px; // Recommended to not change this
$site-container: rem(1000px);
$site-gutter: rem(16px);
$grid-gutter: .25; // Quarter of column width
$grid-column: 8;
$grid-debug: hide; // Change this to show or hide

// Colours
$brand-a: #38ae8e;
$brand-b: #0b9b75;
$brand-c: #086049;
$brand-d: #ffa200;
$brand-e: #ffde00;
$brand-f: #8d8d8d;
$brand-g: #a90000;
$brand-h: #5a497f;
$brand-i: #f6e9d2;
$brand-j: #e1c116;
$brand-k: #48484a;
$brand-l: #29272a;
$brand-m: #101011;
$brand-n: #9886bf;
$brand-p: #086149;

// Fonts
@font-face {
    font-family: 'museo_sans_rounded300';
    src: url('/assets/fonts/MuseoSansRounded-300-webfont.eot');
    src: url('/assets/fonts/MuseoSansRounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.woff2') format('woff2'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.woff') format('woff'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.ttf') format('truetype'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.svg#museo_sans_rounded300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_rounded500';
    src: url('/assets/fonts/MuseoSansRounded-500-webfont.eot');
    src: url('/assets/fonts/MuseoSansRounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.woff2') format('woff2'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.woff') format('woff'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.ttf') format('truetype'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.svg#museo_sans_rounded500') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-primary: 'museo_sans_rounded300', sans-serif;
$font-primary-weight: 300;
$font-headline: 'museo_sans_rounded500', sans-serif;
$font-headline-weight: 500;

// Header & Nav
$header-top: 117px;

$header-height: 44px;
$header-margin: 44px;

$header-subnav-height: 85px;
$header-subnav-margin: 85px;

$nav-width: 220px;

// Used to automatically generate active CSS classes
$nav-sections: home findhelp givehelp charter about contact;
$nav-pages: home findhelp emergencyhelp allorganisations givehelp giveitems volunteer donate partnership charter readthecharter pledgeyoursupport joinactiongroup aboutthecharter about contact;

// Default Grid Options
// -----------------------------

$susy: (
  columns: $grid-column,
  container: $site-container,
  gutters: $grid-gutter,
  global-box-sizing: border-box,
  gutter-position: after,
  debug: (
    image: $grid-debug
  )
);
