// Media Queries
// -----------------------------

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  xs:  360px,
  s:   480px,
  m:   600px,
  l:   800px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: l;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
//$mq-show-breakpoints: (xs, s, m, l);

// Site Variables
// -----------------------------

$base-font-size: 16px; // Recommended to not change this
$site-container: rem(800px);
$site-gutter: rem(16px);
$grid-gutter: .25; // Quarter of column width
$column-small: 6;
$column-large: 12;
$grid-debug: hide; // Change this to show or hide

// Colours
$brand-a: #00C08E;
$brand-b: #00E6A8;
$brand-c: #00805D;
$brand-d: #ffa200;
$brand-e: #ffde00;
$brand-f: #8d8d8d;
$brand-g: #a90000;
$brand-h: #6e6895;
$brand-i: #f6e9d2;
$brand-j: #e1c116;
$brand-k: #48484a;

// Fonts
$font-primary: 'museo-sans-rounded', sans-serif;
$font-primary-weight: 300;
$font-headline: 'museo-sans-rounded', sans-serif;
$font-headline-weight: 500;

// Misc
$nav-width: 220px;
$header-height: 64px;

// Default Grid Options
// -----------------------------

$susy: (
  columns: $column-small,
  container: $site-container,
  gutters: $grid-gutter,
  global-box-sizing: border-box,
  gutter-position: split,
  debug: (
    image: $grid-debug
  )
);
