// Media Queries
// -----------------------------

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
// $mq-responsive: true

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  xs:  360px,
  s:   480px,
  m:   750px,
  l:   800px,
  xl:  960px,
  xxl: 1024px,
  xxxl: 1280px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: l;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
// $mq-show-breakpoints: (xs, s, m, l, xl, xxl, xxxl);

// Site Variables
// -----------------------------

$base-font-size: 16px; // Recommended to not change this

$site-container: rem(1000px);

// Not for use outside this partial
$site-gutter-px: 16;
// End Not for use outside this partial

$site-gutter: rem($site-gutter-px);

$grid-gutter: 0.0625; // Sixteenth of column width
$grid-column: 8;
$max-grid-column: 12;
$grid-debug: hide; // Change this to show or hide

$border-radius: 10px;
$border-radius-small: 5px;

// Colours
$brand-a: #38ae8e;
$brand-b: #0b9b75;
$brand-c: #086049;
$brand-d: #ffa200;
$brand-e: #ffde00;
$brand-f: #8d8d8d;
$brand-g: #a90000;
$brand-h: #5a497f;
$brand-i: #f6e9d2;
$brand-j: #e1c116;
$brand-k: #48484a;
$brand-l: #29272a;
$brand-m: #101011;
$brand-n: #9886bf;
$brand-p: #086149;
$brand-q: #f3f3f3;
$brand-r: #0A8564;
$brand-s: #E1B500;

$big-change-a: #fff77a;
$big-change-b: #404241;

$change-liverpool:#8b201d;

$cia-yellow: #f8c77c;

$just-giving: #AD29B6;

$money-matters-background: #52599d;
$money-matters-text: #eacc1c;

$soton-giving: #5d4567;

$street-change-glasgow: #201751;

$street-aid-yellow: #ffcf06;
$street-aid-orange: #f5821f;

$sea-blue: #00A6B0;

$wmht-hero-lilac: #796e78;
$wmht-lilac: #534b53;
$wmht-orange: #e57b2b;
$wmht-grey: #515151;

// Fonts
@font-face {
    font-family: 'museo_sans_rounded300';
    src: url('/assets/fonts/MuseoSansRounded-300-webfont.eot');
    src: url('/assets/fonts/MuseoSansRounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.woff2') format('woff2'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.woff') format('woff'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.ttf') format('truetype'),
         url('/assets/fonts/MuseoSansRounded-300-webfont.svg#museo_sans_rounded300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_rounded500';
    src: url('/assets/fonts/MuseoSansRounded-500-webfont.eot');
    src: url('/assets/fonts/MuseoSansRounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.woff2') format('woff2'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.woff') format('woff'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.ttf') format('truetype'),
         url('/assets/fonts/MuseoSansRounded-500-webfont.svg#museo_sans_rounded500') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-primary: 'museo_sans_rounded300', sans-serif;
$font-primary-weight: 300;
$font-headline: 'museo_sans_rounded500', sans-serif;
$font-headline-weight: 500;

// Header & Nav
$header-top: 117px;

$header-height: 42px;
$header-margin: 44px;

$header-subnav-height: 85px;
$header-subnav-margin: 85px;

$nav-width: 100%;

// Used to automatically generate active CSS classes - also see _generated-variables.scss, created by gulp task
$nav-sections: home findhelp givehelp hubs charter bigchange organisations impact about contact toolkit locations mhp businesssupport localfunders crowdfunder street-aid;
$nav-pages: home findhelp emergencyhelp adviceforfamilies swep allorganisations givehelp giveitems volunteer offeritems donate partnership charter mhp readthecharter pledgeyoursupport street-aid joinactiongroup aboutthecharter bigchange bigchangeabout bigchangepartners realchangefunding realchangewho realchangecasestudies toolkit best-practice awards benefits training get-in-touch apply impact about about-organisations contact jobs team trustees locations businesssupport localfunders crowdfunders;

// z-indices
$zIndex-modal: 2000;
$zIndex-loadingSpinner: 1800; // see browser.js
$zIndex-pageLoadingOverlay: 1700;
$zIndex-mobileNav: 1600;
$zIndex-navOverlay: 1400;
$zIndex-fixedHeader: 1200;
$zIndex-SubNav: 100;
$zIndex-breadcrumb: 80;

// Default Grid Options
// -----------------------------

$susy: (
  columns: $grid-column,
  container: $site-container,
  gutters: $grid-gutter,
  global-box-sizing: border-box,
  gutter-position: after,
  debug: (
    image: $grid-debug
  )
);
