---
title: Severe Weather Emergency Accommodation in Glasgow - Street Support
description: Severe Weather Emergency Accommodation provision in Glasgow.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: glasgow
page: glasgow-advice
location: glasgow
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/glasgow/">Glasgow</a></li>
      <li class="breadcrumbs__item"><a href="/glasgow/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="glasgow" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>The Overnight Welcome Centre operated by Glasgow City Mission at 20 Crimea Street is <span class="bold">open from 1st December 2022- 31st March 2023</span>, for people who need support accessing accommodation throughout the night. The Welcome Centre will work closely with the HSPC out-of-hours service to access emergency accommodation. Anyone in crisis can come, or be referred to 20 Crimea Street, G2 8PW.</p>

    {{> social-share}}

  </div>
</div>
