<li class="nav__item nav__item--hub-nav" data-city="cambridge">
  <dl class="hub-nav-container">
    <dt data-city="cambridge" class="nav__item nav__item--cambridge">
      <a href="/cambridge/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Cambridge</a>
    </dt>
    <dd>
      <ul>
        <li data-city="cambridge" class="nav__item nav__item--cambridge-advice">
          <a href="/cambridge/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
        {{!-- <li data-city="cambridge" class="nav__item nav__item--cambridge-advice">
          <a href="/cambridge/it-takes-a-city" class="nav__item-link nav__item-link--location-item">It Takes a City</a>
        </li> --}}
      </ul>
    </dd>
  </dl>
</li>
