<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--cambridge-council"><a href="https://www.cambridge.gov.uk/">{{> icon name="cambridge-council"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-gonville"><a href="https://www.gonvillehotel.co.uk/">{{> icon name="cambridge-gonville"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-partnership"><a href="https://news.streetsupport.net/2019/09/05/street-support-cambridge-and-itac-a-cambridge-homelessness-partnership-launch-event/">{{> icon name="cambridge-partnership"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-jimmys"><a href="http://www.jimmyscambridge.org.uk/">{{> icon name="cambridge-jimmys"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-winter-comfort"><a href="https://wintercomfort.org.uk/">{{> icon name="cambridge-winter-comfort"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-salvation-army"><a href="https://www.salvationarmy.org.uk/cambridge">{{> icon name="cambridge-salvation-army"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-foodbank"><a href="https://cambridgecity.foodbank.org.uk/">{{> icon name="cambridge-foodbank"}}</a></li>
</ul>
