<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--cambridge-council"><a href="https://www.cambridge.gov.uk/">{{> icon name="cambridge-council"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-gonville"><a href="https://www.gonvillehotel.co.uk/">{{> icon name="cambridge-gonville"}}</a></li>
  <li class="partners__logo partners__logo--cambridge-partnership"><a href="https://news.streetsupport.net/2019/09/05/street-support-cambridge-and-itac-a-cambridge-homelessness-partnership-launch-event/">{{> icon name="cambridge-partnership"}}</a></li>
</ul>
