---
title: Street Support Nottingham - Working together to tackle homelessness in Nottingham
description: Street Support - Find help, and give help, to support people who are homeless in Nottingham
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: nottingham.hbs
permalink: false
jsBundle: location-home-page
section: home
page: nottingham
location: nottingham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Nottingham</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--nottingham">
  <div class="container">
    <h1 class="h1 block__header">Street Support Nottingham</h1>
    <h2 class="h2 block__sub-header">Connecting people and organisations locally, to tackle homelessness in Nottingham.</h2>
    <div class="ctas">
      <a href="/find-help" class="btn btn--brand-d">
        <span class="btn__text">Find Help</span>
      </a>
      <a href="/give-help" class="btn btn--brand-e">
        <span class="btn__text">Give Help</span>
      </a>
    </div>
  </div>
</div>

<div id="js-swep-output"></div>

<div class="cta--money-advice">
  <div class="container text-center">
    <p class="sleeping-rough-title__content" style="color: #fff; margin-bottom: 0px;">Need financial advice about benefits, debt and more?</p>
    <a href="/nottingham/money-help-services" class="btn btn--brand-h">
      <span class="btn__text">Learn more</span>
    </a>
  </div>
</div>

<div class="block block--light-highlight">
  <div class="container">
    <div class="block__content text-center">
      <div class="sleeping-rough-title">
        <img class="sleeping-rough-title__icon" src="/assets/img/exclamation.svg" alt="exclamation-icon">
        <h1 class="sleeping-rough-title__heading">Help someone sleeping rough</h1>
      </div>
      <p class="sleeping-rough-title__content">If you are worried about someone you’ve seen sleeping rough in Nottingham, you can alert the council via their <a href="https://www.nottinghamcity.gov.uk/roughsleeping">website</a> or by calling the street outreach team directly on <a href="tel:08000665356">0800 066 5356</a>. Alternatively, you can use the <a href="https://www.streetlink.org.uk/">Streetlink app</a>.</p>
      <a class="btn btn--brand-e btn--emergency-advice" href="/nottingham/advice">
        <span class="btn__text">See more emergency advice</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="home__copy home__copy--padding">
      <h1 class="h2">You're in Nottingham</h1>
      {{> locations/find-help }}
      {{> locations/selector-hogan }}
    </div>
    <div class="home__copy">
      <div class="js-map"></div>
    </div>
  </div>
</div>

{{> locations/banners/street-aid-notts }}

{{> locations/banners/warm-spaces-notts }}

{{> locations/banners/notts-food-rota }}

{{!-- <div style="color: #1c1c1c;" class="block block--orange">
  <div class="container">
    <div class="block__content text-center">
      <div class="sleeping-rough-title">
        <h1 class="sleeping-rough-title__heading">A new kind of Winter Shelter</h1>
      </div>
      <p class="sleeping-rough-title__content">The charity Emmanuel House has partnered with the University of Nottingham to open a Winter Shelter in Nottingham this year from November 12th until the end of March. Unlike the overnight shelters of previous years, the shelter will be available to guests 24hr a day meaning that support work can continue onsite during the day as guests are helped to find work, permanent accommodation and access other services. The shelter is being run in consultation with Public Health to ensure it is COVID compliant.</p>
      <p class="sleeping-rough-title__content">Access to the shelter will be through the Street Outreach Team who can be contacted on their emergency phone number <a href="tel:0800 066 5356">0800 066 5356</a> or through other referral agencies such as Housing Aid.</p>
    </div>
    <div style="margin: auto;" class="single-column">
      <img style="margin-top: 30px" src="/assets/img/nottingham-logos/notts-logos.png" alt="">
    </div>
  </div>
</div> --}}

<div id="js-statistics-output"></div>

<div class="block block--minor-highlight">
  <div class="container container--central-cta">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get in touch</h1>
      <p>If you would like to get involved, or have any offers, questions or suggestion, please get in touch at <a href="mailto: nottingham@streetsupport.net">nottingham@streetsupport.net</a>.</p>
    </div>
  </div>
</div>

<div id="js-news-output"></div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content partners">
      {{> nottingham/supporters }}
      <p>We are looking for businesses and organisations to <a href="/give-help/business-support/">support us</a> so that we can continue to develop this resource.</p>
      <p>If you share our vision of a society without homelessness, please <a href="mailto:sponsorship@streetsupport.net">get in touch</a>.</p>
    </div>
  </div>
</div>

{{> loading-spinner}}

<script id="js-swep-tpl" type="text/template">
{{> find-help/swep-notification theLocationId="nottingham" }}
</script>

<script id="js-news-tpl" type="text/template">
    {{>news-posts }}
</script>

<script id="js-statistics-tpl" type="text/template">
  {{> impact-statistics }}
</script>
