<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--simon-community"><a href="https://www.simonscotland.org/">{{> icon name="simon-community"}}</a></li>
  <li class="partners__logo partners__logo--gcm"><a href="https://www.glasgowcitymission.com/">{{> icon name="gcm"}}</a></li>
  <li class="partners__logo partners__logo--shelter-scotland"><a href="https://scotland.shelter.org.uk/about_us/local_services/glasgow">{{> icon name="shelter-scotland"}}</a></li>
  <li class="partners__logo partners__logo--waverley-cmyk"><a href="https://www.waverleycare.org/">{{> icon name="waverley-cmyk"}}</a></li>
  <li class="partners__logo partners__logo--marie-trust"><a href="https://www.themarietrust.org/">{{> icon name="marie-trust"}}</a></li>
  <li class="partners__logo partners__logo--govan-glasgow"><a href="https://govanlawcentre.org/">{{> icon name="govan-glasgow"}}</a></li>
  <li class="partners__logo partners__logo--lhm"><a href="https://www.lhm-glasgow.org.uk/">{{> icon name="lhm"}}</a></li>
</ul>
