    <div class="block__content">
      <h2 class="h2">Help us end homelessness</h2>
      <p>Street Support is an independent not for profit that connects the homeless community who need help, with all the organisations in the city who provide support.  Our website is the ONE place to go to find out about homelessness in any of our featured locations, and more importantly,to DO SOMETHING TO HELP.</p>
      <p>Our work is funded by donations from local businesses and philanthropists that care about this issue and share our values.  To continue to develop Street Support, and manage our day to day operations, we need further financial support, and we are looking to local businesses and organisations to partner with us.</p>

      <h2 class="h2">Why do we need your help?</h2>
      <p>The homelessness situation in the UK has reached crisis level. Ongoing cuts to services, along with limited resources, has meant that organisations are finding it difficult to operate.  They need to co-ordinate better and make efficiencies, but this isn’t easy. Street Support provides the solution.</p>
      <p>We know what organisations need, to improve their service, and what the homeless community need to improve their situation.  We just need funding to enable us to:</p>
      <ul>
        <li>Research and communicate what is currently needed, connecting to available resources and volunteers.</li>
        <li>Support people with lived experience and professional experts to co-produce services.</li>
        <li>Pay skilled and experienced digital experts as required (who all work at reduced rates).</li>
        <li>To employ people who have been homeless to work on administration tasks and learn new skills.</li>
        <li>Inspire and inform those that might be able to help, through information and stories.</li>
      </ul>

      <h2 class="h2">How you can help</h2>
      <p>We have a clear mission and work in collaboration with local organisations, with people who are homeless included at every level. There is a real chance to improve the situation in our cities, but resources are limited. We need funding and strong partnerships to enable us to support this process.</p>
      <p>In addition to the ongoing work that is needed, the organisations, and homeless community have more ideas for features that they feel would be useful.  We need your help so we can work alongside these groups to co-produce solutions, and continue to make a real difference. Here are some examples&hellip;</p>
      <ul>
        <li>£18k to provide a years employment at Street Support for a GROW trainee (someone experiencing homelessness).</li>
        <li>£2k to improve the usability of the current site through user testing.</li>
        <li>£2k to improve the user experience for people looking for accommodation under different scenarios.</li>
      </ul>

      <h2 class="h2">What are the benefits to your organisation?</h2>
      <p>Street Support is already being used in multiple locations and we’ve generated over 100,000 page views, as well as hosting the Manchester Homelessness Charter. By supporting us, you will be supporting many local charities and voluntary groups, and play a key role in eliminating the problem of homelessness in your city.</p>
      <p>We will also&hellip;</p>
      <ul>
        <li>Place your logo, with a link back to your website, in prime positions on the Street Support website.</li>
        <li>Acknowledge your support through social media and press activity.</li>
        <li>Regularly update you on how your business is making a real difference by sharing data, and visible success stories of impact and change which you can use in your CSR communications.</li>
      </ul>

      <h2 class="h2">Can your business help Street Support?</h2>
      <p>If you share our mission and values and would like to discuss how you can help or if you have any further questions, please get in touch using the form below, or contact Gary Dunstan at <a href="mailto:sponsorship@streetsupport.net">sponsorship@streetsupport.net</a> or on 07824 667709.</p>

    </div>
