---
title: Street Support Families - Supporting families facing homelessness
description: Street Support - Find help, and give help, to support families who are homeless
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: families-advice-result
section: families
page: families-advice-result
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/find-help/advice">Advice</a>
      </li>
      <!-- ko if: searchQueryInQuerystring -->
      <li class="breadcrumbs__item" data-bind="text: 'Search results: ' + searchQueryInQuerystring().trim()">
      </li>
      <!-- /ko -->
    </ol>
  </div>
</div>

{{> families/header-families-advice }}

<div class="container container-advice">
    {{> social-share}}
</div>

<div class="block block-advice">
  <div class="container">

    {{> families/filter-families-advice-result }}
    <div class="container-advice__content">  
      <p class="h2 container-advice__header-result" data-bind="text: 'Search results for: ' + searchQueryInQuerystring().trim()"></p>
      <!-- ko if: results -->
      <div class="block__content container-advice__content-result" data-bind="foreach: results">
        <div class="h3 accordion__header" data-bind="click: $parent.redirectToAdvice">
          <span class="accordion--advice__title" data-bind="html: title"></span>
          <p class="accordion--advice__short-description" data-bind="text: (body().length > 150 ? body().substring(0, 149) + '...' : body)"></p>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko if: results && !results().length -->
      <div class="h3 block__content container-advice__content-no-result">
        No Results
      </div>
      <!-- /ko -->
      {{> divider }}
      {{> families/frequently-asked-questions }}
    </div>

  </div>
</div>

{{> divider }}
{{> families/useful-resources }}
{{> loading-spinner}}

