---
title: Accommodation Advice for young people - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: swep
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Young People</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">Accommodation options for young people</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>It is important to register with your council if you are under 25 and have been made homeless or are at risk of homelessness. In many locations there is a specialist drop in service for young people. Please read our <a href="/find-help/emergency-help/">emergency advice for your area</a> to find out about your options, office hours and out of hours phone numbers.</p>

      <p>If you have no recourse to public funds but are under 25, the level of support available might vary depending on your council, but you should still go to them for help as a first port of call.</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
