---
title: Business Support - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get in touch.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: sponsor
section: givehelp
page: partnership
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Business Support</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Business Partnerships</h1>
    <h2 class="h2 block__sub-header"></h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <h2 class="h2">How your business can help?</h2>

    <p>The UK has a vibrant and varied business network that we know genuinely cares about homelessness.</p>

    <p>To help us tackle homelessness in your area and to continue to develop Street Support Network, and bring change in our featured locations, we need local businesses to partner with us, offer us practical support and/or raise funds for us.</p>

    <h2 class="h2">Why do we need your help?</h2>

    <p>Homelessness has reached crisis levels in many UK cities. Ongoing cuts to services, along with limited resources, has meant that organisations are finding it difficult to cope. They need to co-ordinate and increase the support they provide, but this isn’t easy. Street Support Network supports the whole system by increasing resources and making it easier for people to get help and give help.</p>

    <p>We work closely with over 1600 organisations across the country. We know what organisations need to improve their service, and what the homelessness community need to improve their situation.</p>

    <p>Your business can support us, whilst also raising your company profile and fulfilling your corporate social responsibility. This can be done in lots of different ways:</p>

    <ul>
      <li>Sponsor one of our local partnerships events or projects</li>
      <li>Offer support in-kind by donating your time, professional expertise, desk space, meeting and event venue spaces</li>
      <li>Research and communicate what is currently needed, connecting to available resources and volunteers</li>
      <li>Develop and improve the website and app, co-producing new features with the homelessness community</li>
      <li>Pay skilled and experienced digital experts (who all work at reduced rates)</li>
    </ul>

    <p>The <a href="/give-help/">Give Help</a> section of our site shows what local charities currently need to sustain and improve their services. Service needs can be anything from singular items such as pairs of socks or one-off volunteering opportunities, through to regular donations and volunteer support.</p>

    <h2 class="h2">How can you help?</h2>

    <p>Through partnership working, there is now a clear mission and a network of collaboration, with people who have personally experienced homelessness included at every level. There is a real chance to improve the situation in the city, but resources are limited. We need funding and strong partnerships to enable us to support this process.</p>

    <p>Here are some examples of ways you could get involved with our local Business Network in the locations we operate at:</p>

    <h3 class="h3"><a href="/cambridgeshire">Cambridgeshire</a></h3>

    <p>As part of the It Takes a City Homelessness Partnership (ITAC) a group of local businesses are meeting regularly to discuss collaborative solutions to tackle homelessness in the city. In addition, at each meeting, opportunities are created for the business community to discuss how to respond to the needs of the ITAC partnership.</p>

    <p>How can businesses in Cambridge get involved?</p>

    <ul>
      <li>The It Takes a City Homelessness Partnership presents requests to the business group and seeks to hear the views of the business community on a variety of issues related to homelessness in Cambridge. To hear more about what the business group is currently up to and how to get involved please contact <a href="mailto:itacinfo@ittakesacity.org.uk">itacinfo@ittakesacity.org.uk</a>.</li>
    </ul>


    <h3 class="h3"><a href="/manchester">Manchester</a></h3>

    <p>Manchester Homelessness Partnership (MHP) has a business support group that links local businesses and frontline organisations.</p>

    <p>If you represent a Manchester based business...</p>

    <ul>
      <li>Join the business support group by contacting <a href="mailto:info@streetsupport.net">
        info@streetsupport.net</a></li>
      <li>Find out more about <a href="https://mhp.org.uk">MHP</a></li>
      <li>Get in contact with us to support Street Support Network directly: <a href="mailto:info@streetsupport.net">info@streetsupport.net</a></li>
    </ul>

    <h3 class="h3"><a href="/nottingham">Nottingham</a></h3>

    <p>We know that people and businesses in Nottingham care about homelessness and rough sleeping on our streets.</p>

    <p>Many businesses across Nottingham are already involved with Street Support in a variety of ways assisting us in our efforts to help homeless people. This ranges from Nottingham BID and The Nottingham Building Society supporting our initiatives with logistics funding and Ideagen contributing to the Nottingham Street Aid fund to other businesses hosting our contactless points, and many more displaying the Nottingham Street Aid posters that provide a quick and easy way for the public to get involved.</p>

    <p>We ask businesses in Nottingham to:</p>

    <ul>
      <li>Contact <a href="mailto:nottingham@streetsupport.net">nottingham@streetsupport.net</a> with any questions about how you can support the network and organisations that directly support those who are rough sleeping or at risk of homelessness.</a></li>
      <li>Help might be financial, but might also provide pro bono support to charities or offer employee time in volunteering days spent with one of our member organizations.</li>
    </ul>

    <h3 class="h3"><a href="/reading">Reading</a></h3>

    <p>Reading has a vibrant and varied business network that we know genuinely cares about homelessness and rough sleeping on our streets. Street Support Reading is a growing cross-sector partnership that is working towards ending rough sleeping in our borough and trying to prevent homelessness in the first place.</p>

    <p>We ask businesses in Reading to:</p>

    <ul>
      <li>Join the Reading Street Support network by attending our Reading Homelessness Partnership meetings.</li>
      <li>Contact <a href="mailto:reading@streetsupport.net">reading@streetsupport.net</a> with any questions about how you can support the network and organisations that directly support those who are rough sleeping or at risk of homelessness</li>
    </ul>

    <h2 class="h2">Can your business help Street Support Network?</h2>

    <p>There are many ways for businesses who share our mission and values to work with us to get the best for your business, employees, community and organisational objectives. Our partners play a remarkable role in helping us with our mission to tackle homelessness. We’d love to start a conversation with you, just send us a quick email on <a href="mailto:info@streetsupport.net">info@streetsupport.net</a>.</p>

    <p>In addition to the ongoing work that is needed, the organisations, and homelessness community have more ideas for features that they feel would be useful. We need your help so we can work alongside these groups to co-produce solutions, and continue to make a real difference.</p>

    <a class="btn btn--brand-e" href="https://www.justgiving.com/streetsupportnetwork">
      <span class="btn__text">Donate to Street Support</span>
    </a>
  </div>
</div>

</script>
