---
title: Manchester Homelessness Partnership - Street Support
description: Street Support are proud to support the Manchester Homelessness Partnership. Here is how the Partnership operates.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: mhp
page: mhp
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item">Manchester Homelessness Partnership</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header">
  <div class="container container--location-header">
    <h1 class="h1 block__header">Manchester Homelessness Partnership</h1>
    <p class="h2 block__sub-header">Co-producing solutions to tackle homelessness</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
        <h2>Manchester Homelessness Charter</h2>
        <p>Manchester Homelessness Partnership formed to work together towards the aims and values of <a target="_blank" href="https://mhp.org.uk/charter/">Manchester Homelessness Charter</a>.</p>
        <p>Launched in May 2016, the charter unites many people with personal experience of homelessness with organisations from different sectors, to co-produce solutions together. Over 90 people with lived experience have been involved so far, many of whom were involved in co-writing the charter.</p>

        <div class="split__element text-center">
          {{>icon name="partnershipLogo" class="partnership__icon" }}
        </div>

        <h2>Key Values</h2>
        <p>The partnership has two key values that flow through everything&hellip;</p>
        <ul>
          <li>Inclusive partnership - collaboration accross the voluntary sector, the council, policing, health, community and faith groups, businesses, universities and concerned citizens.</li>
          <li>Co-production - meaningful involvement of people with lived experience of homelessness in every part of the work.</li>
        </ul>

        <h2>Action Groups</h2>
        <p>At the heart of the work of the partnership are the action groups. You can <a target="_blank" href="https://mhp.org.uk/action-groups">find out more about the action groups on the MHP website</a>.</p>
        <p>Since the groups were formed, most of the work we do as Street Support is led by what they tell us is needed. We are working on new features that were generated as ideas through co-production in these action groups. This ensures everything we do is needed, and co-designed with those who will be using the new features.</p>

        <h2>Partnership members</h2>
        <p>Hundreds of organisations and individuals have been involved so far, too many to name individually. Examples include Booth Centre, Mustard Tree, Shelter, Coffee4Craig, Barnabus, Lifeshare, YPSF, Riverside, CityCo, Manchester City Council, GMP, Manchester Uni, MMU and many more.</p>
        <p>Note that the partnership is a collaboration between many organisations rather than an entity in its own right, and is not owned or funded by the council.</p>

        <h2>Find out more</h2>
        <p>To find out more about Manchester Homelessness Partnership or the charter, you can visit the <a target="_blank" href="https://mhp.org.uk">MHP website</a>.</p>
      </div>
      {{> social-share}}
    </div>
  </div>
</div>
