---
title: Severe Weather Emergency Accommodation in Bradford - Street Support
description: Severe Weather Emergency Accommodation provision in Bradford.
image: https://streetsupport.net/assets/img/og/street-support-bradford.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: bradford
page: bradford-advice
location: bradford
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bradford/">Bradford</a></li>
      <li class="breadcrumbs__item"><a href="/bradford/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="bradford" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>The Cold Weather Provision (CWP) is a multi-agency partnership that provides emergency bed spaces in Bradford to rough sleepers on freezing winter nights, commissioned by Bradford Council.</p>
      <p>The service operates between 1st October and 31st April and opens when the predicted temperature for the upcoming evening is due to fall to zero or below and provides an emergency bed to clients in a communal room or with another housing provider.</p>
      <p>Referrals to the provision can be made in person at <a href="http://www.disc-vol.org.uk/projects/bradford-no-second-night-out-housing-support/">Discovery House</a>, <a href="https://www.google.com/maps/place/133+Barkerend+Rd,+Bradford+BD3+9AU/@53.7971133,-1.7443232,17z/data=!3m1!4b1!4m5!3m4!1s0x487be14478e6aef9:0x1524f93f478d4140!8m2!3d53.7971133!4d-1.7421345">133 Barkerend Road, BD3 9AU</a>, over the phone <a href="tel:01274 309165">01274 309165</a>, through Bradford Council’s Housing Options Service and <a href="/find-help/accommodation/listing/">other advisory housing and support services</a> in the district.</p>
      <p>Referrals can be taken from 9am to 10pm and a brief assessment will be undertaken to assess a suitable bed space for the client. Work will be undertaken to assess the client’s needs and explore long term options to address their needs.</p>
    </div>

    {{> social-share}}

  </div>
</div>