---
title: Bounemouth Homelessness Charter - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: adviceV2
section: bournemouth
page: bournemouth-charter
location: bournemouth
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/">Bournemouth, Christchurch & Poole</a></li>
      <li class="breadcrumbs__item">Charter</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--southampton">
  <div class="container">
    <h1 class="h1 block__header">The Bournemouth, Christchurch and Poole Rough Sleeping and Begging Charter</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>This Charter is a statement of a joint mission by voluntary, faith, private and public sector organisations, all committed to work together for the city.</p>
      <p>The formation of the Charter involved people with lived experience of homelessness and organisations which provide support, and can be summarised by the vision statement “A Dorset where everyone knows that no one has to be homeless”.</p>
    </div>
  </div>
</div>

<div class="block block--pullout">
  <div class="block__primary">
    <div class="container">
      <h2 class="standout"><font color="white">Our Vision:</font></h2>
      <h2 class="h2"><font color="white">A Dorset where everyone knows that no one has to be homeless</font></h2>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">The Charter</h2>
      <p><b>Our Commitment Is:</b>
      <p>The Bournemouth, Christchurch & Poole (BCP) Homelessness Action Collaborative Charter is a symbol of our mission to unify and call to action every person and organisation who shares our vision and values.</p>
      <a class="btn btn--brand-e" href="\southampton\charter\Southampton_Charter_on_Rough_Sleeping_and_Begging.pdf" target="_blank">
        <span class="btn__text">Read the Charter</span>
      </a>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content partners">
      {{> bournemouth/supporters }}
      <p>We are looking for businesses and organisations to <a href="/give-help/business-support/">support us</a> so that we can continue to develop this resource.</p>
      <p>If you share our vision of a society without homelessness, please <a href="mailto:sponsorship@streetsupport.net">get in touch</a>.</p>
    </div>
  </div>
</div>
