<div class="block">
  <div class="container">
    <div class="block__content">
      <header class="multi-form-header">
        <h1 class="h1">Organisations</h1>
        <h2 class="h2">Charities, voluntary groups and government services.</h2>
        {{> all-organisations/search }}
        <!-- ko ifnot: postcode -->
        <p>Please enter a postcode to find organisations near you.</p>
        <!-- /ko -->
      </header>
      {{> all-organisations/proximity }}
    </div>
  </div>
</div>
