<div class="card-sort">
  <span class="card-sort__title">Sort by:</span>
  <a class="card-sort__item" href="#a-z" data-bind="click: sortAToZ, css: { 'card-sort__item--selected': isSortedAToZ() }">A-Z</a> 
  <a class="card-sort__item" href="#nearest" data-bind="click: sortNearest, css: { 'card-sort__item--selected': isSortedNearest() }">Nearest</a>
</div>