<li data-city="leeds" class="nav__item nav__item--leeds">
  <a href="/leeds/" class="nav__item-link">Leeds</a>
</li>
<li data-city="leeds" class="nav__item nav__item--leeds-emergency-help">
  <a href="/leeds/emergency-help" class="nav__item-link">Emergency Help</a>
</li>
<li data-city="leeds" class="nav__item nav__item--leeds-swep">
<a href="/leeds/severe-weather-accommodation" class="nav__item-link">Severe Weather Accommodation</a>
</li>