<li class="nav__item nav__item--hub-nav">
  <dl class="hub-nav-container">
    <dt data-city="leeds" class="nav__item nav__item--leeds">
      <a href="/leeds/" class="nav__item-link nav__item-link--hub-heading">Leeds</a>
    </dt>
    <dd>
      <ul>
        <li data-city="leeds" class="nav__item nav__item--leeds-advice">
          <a href="/leeds/advice" class="nav__item-link">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>