<h2 class="h2">Funded and supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--leedsbid"><a href="http://www.leedsbid.co.uk/">{{> icon name="leedsbid"}}</a></li>
</ul>
