<li class="nav__item nav__item--hub-nav" data-city="derbyshire">
  <dl class="hub-nav-container">
    <dt data-city="derbyshire" class="nav__item nav__item--derbyshire">
      <a href="/derbyshire/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Derbyshire</a>
    </dt>
    <dd>
      <ul>
        <li data-city="derbyshire" class="nav__item nav__item--derbyshire-advice">
          <a href="/derbyshire/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
