<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--amber-valley"><a href="https://www.ambervalley.gov.uk/">{{> icon name="amber-valley"}}</a></li>
  <li class="partners__logo partners__logo--bolsover"><a href="https://www.bolsover.gov.uk/">{{> icon name="bolsover"}}</a></li>
  <li class="partners__logo partners__logo--chesterfield"><a href="https://www.chesterfield.gov.uk/">{{> icon name="chesterfield"}}</a></li>
  <li class="partners__logo partners__logo--derbyshire-dales"><a href="https://www.derbyshiredales.gov.uk/">{{> icon name="derbyshire=dales"}}</a></li>
  <li class="partners__logo partners__logo--derbyshire-officers-group"><a href="#">{{> icon name="derbyshire-officers-group"}}</a></li>
  <li class="partners__logo partners__logo--erewash-council"><a href="https://www.erewash.gov.uk/">{{> icon name="erewash-council"}}</a></li>
  <li class="partners__logo partners__logo--hp-borough-council"><a href="https://www.highpeak.gov.uk/">{{> icon name="hp-borough-council"}}</a></li>
  <li class="partners__logo partners__logo--ne-derbyshire"><a href="https://www.ne-derbyshire.gov.uk/">{{> icon name="ne-derbyshire"}}</a></li>
  <li class="partners__logo partners__logo--south-derbyshire"><a href="https://www.southderbyshire.gov.uk/">{{> icon name="south-derbyshire"}}</a></li>
  <li class="partners__logo partners__logo--staffordshire"><a href="https://www.staffsmoorlands.gov.uk/">{{> icon name="staffordshire"}}</a></li>
</ul>
