---
title: Greater Manchester - Volunteer For Good - Street Support Network
description: Maximise the impact of your volunteering
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: vol-for-good
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">Volunteer For Good</li>
      <li class="breadcrumbs__item"><a href="/greater-manchester/orgs-near-you">Organisations Near You</a></li>
    </ol>
  </div>
</div>

<div class="block block--vol-for-good-header">
  <div class="container container--vol-for-good-header" style="height: 250px;">
    <h1 class="h1 block__header"><span>Volunteer </span>For Good</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <img class="vol-for-good" src="/assets/img/vfg-imgs/what-is.png" alt="">
      <h2 class="h2">What is Volunteer For Good?</h2>
      <p>Volunteer For Good is a website where you can learn all about volunteering in Greater Manchester's homelessness sector.</p>
      <p>We know from experience that there are so many of you willing to lend a hand, especially around the Christmas period, so we want to help you do that in a way that maximises the benefit for both you and the organisations you volunteer with.</p>
      <p>The information you’ll find here will explain about different types of volunteering roles, the difference volunteers can make to charity, and how converting your short-term volunteering into a long-term fixture can create real, lasting change.</p>
      <p>Keep reading to learn more about how to maximise the impact of your volunteering.</p>
      <p>Alternatively, learn more about current <a href="/greater-manchester/orgs-near-you">volunteering opportunities near you</a>.</p>

      <img class="vol-for-good" src="/assets/img/vfg-imgs/why-sector.png" alt="">
      <h2 class="h2">Why should I volunteer in the homelessness sector?</h2>
      <p>We believe that having a safe home is a basic human right.</p>
      <p>Manchester actually has one of the highest rates of homelessness in the UK. Statistics from Shelter show that in Manchester alone 7,407 are experiencing homelessness. That’s one in 74 people.</p>
      <p>A common misconception is that homelessness is the same as rough sleeping. In fact, people you may see experiencing homelessness on the street make up less than 5% of that number.</p>
      <p>It’s important to realise that experiencing homelessness means emergency shelters, temporary accommodation, sofa-surfing, and unsafe/substandard housing for both individuals and families.</p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">How can I make the most impact with my volunteering?</h2>
      <p>The really simple answer to this is skills-based volunteering. </p>
      <p>If you know how to get followers on social media, get in touch with a charity of your choice and offer to build them an online presence.</p>
      <p>If you know your way around a kitchen, see if any frontline walk-in centres near you need a chef to help them provide hot meals in the evenings.</p>
      <p>Charities are often unable to afford the business services that companies in other sectors can. Just like other organisations, charities really benefit from accountants, cleaners, solicitors, HR support and pretty much anything else you can think of.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <img class="vol-for-good" src="/assets/img/vfg-imgs/different-skills.png" alt="">
      <h2 class="h2">What if I want to use different skills from my day job?</h2>
      <p>Another really simple answer here - make your volunteering long term.</p>
      <p>We get lots of people asking how best to spend a day volunteering but the problem with that is that many volunteering roles in the sector require preparation and training. That’s half the day gone already, both for you and whoever is training you.</p>
      <p>If you’re looking for a mutually beneficial arrangement that will have a real, lasting impact, spread out your volunteering sessions. If you were able to give a few hours a week to a charity shop, or a food pantry, or delivering goods to organisations, it could be the difference that a charity initiative needs to keep running.</p>
      <p>It could also have a greater impact on you in terms of learning and retaining skills and building relationships.</p>

      <h2 class="h2">How can my company volunteer effectively?</h2>
      <img class="vol-for-good" src="/assets/img/vfg-imgs/company.png" alt="">
      <p>Much like volunteering as an individual, to maximise the impact volunteering as part of a company the key is skills-based and long-term volunteering.</p>
      <p>What are your company’s specialties? Marketing, Law, IT, Laundry, Driving?</p>
      <p>A great way to make a huge difference is to partner with one or two charities who otherwise might not be able to afford your services and support them in the same way you do with your other customers.</p>
      <p>This can be incredibly rewarding for you as well as them. You know you’re making a difference to your community, ticking your social corporate responsibility box and building valuable lasting relationships.</p>
      <p>If you’re a corporate team and you really do just have a day to spare, you could make much more of an impact by fundraising. Whether it’s a sponsored cycle or a Christmas cake sale, the money you raise could really make a real difference to Greater Manchester’s homelessness charities.</p>
    </div>
  </div>
</div>

<div class="block block--aben-banner">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">What if long-term volunteering isn’t realistic for me or my company?</h2>
      <div class="block--two-column">
        <div style="padding-top: 20px; margin-right: 10px;">
          <p>In this case, fundraising may be the answer.</p>
          <p>There are a million and one ways you can fundraise either individually or as part of a group, and almost the same amount of articles on the web that list ideas.</p>
          <p>One of the initiatives we like to advocate fundraising for is the brilliant A Bed Every Night scheme, hosted and part funded by the Greater Manchester Mayor's Charity. They offer people sleeping rough a bed, warmth, food, and the vital wrap-around support needed to help move onto more stable accommodation. It continues to accommodate approximately 600 people each and every night and has reduced rough sleeping numbers across Greater Manchester by 75% since the peak in rough sleeping in 2017.</p>
          <p>Here’s where to donate, even £20 makes a difference.</p>
        </div>
        <img class="gmmc-logo" src="/assets/img/gmmc-logo.png" alt="gm mayors charity logo">
      </div>
      <a href="#" class="btn btn--gmmc-blue">
        <span class="btn__text">Donate</span>
      </a>
    </div>
  </div>
</div>


<div id="js-news-output"></div>

<script id="js-news-tpl" type="text/template">
  {{>vol-for-good-news}}
  {{> social-share}}
</script>

