<li class="nav__item nav__item--hub-nav" data-city="brighton-and-hove">
  <dl class="hub-nav-container">
    <dt data-city="brighton-and-hove" class="nav__item nav__item--brighton-and-hove">
      <a href="/brighton-and-hove/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Brighton and Hove</a>
    </dt>
    <dd>
      <ul>
        <li data-city="brighton-and-hove" class="nav__item nav__item--brighton-and-hove-advice">
          <a href="/brighton-and-hove/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
        <li data-city="brighton-and-hove" class="nav__item nav__item--businesssupport">
          <a href="/brighton-and-hove/business-support" class="nav__item-link nav__item-link--location-item">Business Support</a>
        </li>
        <li data-city="brighton-and-hove" class="nav__item nav__item--localfunders">
          <a href="/brighton-and-hove/local-funders" class="nav__item-link nav__item-link--location-item">Local Funders</a>
        </li>
        <li data-city="brighton-and-hove" class="nav__item nav__item--crowdfunder">
          <a href="/brighton-and-hove/spring-crowdfunder" class="nav__item-link nav__item-link--location-item">Spring Crowdfunder</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
