<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--antifreeze"><a href="https://www.offthefence.org.uk/antifreeze">{{> icon name="antifreeze"}}</a></li>
  <li class="partners__logo partners__logo--arch"><a href="https://archhealthcic.uk/">{{> icon name="arch"}}</a></li>
  <li class="partners__logo partners__logo--care-for-our-city"><a href="#">{{> icon name="care-for-our-city"}}</a></li>
  <li class="partners__logo partners__logo--bh-city-council"><a href="https://www.brighton-hove.gov.uk/">{{> icon name="city-council"}}</a></li>
  <li class="partners__logo partners__logo--fia"><a href="https://bhfa.org.uk/">{{> icon name="fia"}}</a></li>
  <li class="partners__logo partners__logo--frontline-network"><a href="https://www.frontlinenetwork.org.uk/">{{> icon name="frontline-network"}}</a></li>
  <li class="partners__logo partners__logo--holland-road"><a href="https://www.facebook.com/HollandRdChurch/">{{> icon name="holland-road"}}</a></li>
  <li class="partners__logo partners__logo--justlife"><a href="https://www.justlife.org.uk/">{{> icon name="justlife"}}</a></li>
  <li class="partners__logo partners__logo--off-the-fence"><a href="https://www.offthefence.org.uk/">{{> icon name="off-the-fence"}}</a></li>
  <li class="partners__logo partners__logo--ppl-neighbourhood"><a href="https://www.postcodelottery.co.uk/">{{> icon name="ppl-neighbourhood"}}</a></li>
  <li class="partners__logo partners__logo--sussex-police"><a href="https://www.sussex.police.uk/">{{> icon name="sussex-police"}}</a></li>
</ul>
