---
title: Severe Weather Emergency Accommodation in Cambridgeshire - Street Support
description: Severe Weather Emergency Accommodation provision in Cambridgeshire.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: cambridgeshire
page: cambridgeshire-advice
location: cambridgeshire
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/cambridgeshire/">Cambridgeshire</a></li>
      <li class="breadcrumbs__item"><a href="/cambridgeshire/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="cambridgeshire" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">SWEP (Severe Weather Emergency Provision) is now active.</h2>
      <p>Extra emergency beds are available <u>tonight</u> for people sleeping rough in Cambridgeshire, due to severe weather.</p>
      <p>If you are sleeping rough and need a bed for the night, please present yourself to <a href="https://streetsupport.net/find-help/organisation/?organisation=jimmy39s-cambridge">Jimmy's</a> between 11am and 5pm, or call 01223 576085.</p>
      <p>You can find more information about our severe weather emergency provision <a href="https://streetsupport.net/find-help/accommodation/listing/details/?id=5ddb994d18965a0eac46fb40">here</a>.</p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">If your see someone sleeping rough you can</h2>
      <ul>
        <li>Contact the Cambridge Street Outreach team on <a href="tel:01223366292">01223 366292</a>, Monday to Friday, 9am to 5pm.</li>
        <li>Use the <a href="https://www.streetlink.org.uk/">Streetlink app</a> anytime or call Streetlink on <a href="tel:03005000914">0300 500 0914</a> (bearing in mind that phone lines can get busy).</li>
        <li>Refer the person to <a href="https://streetsupport.net/find-help/organisation/?organisation=jimmy39s-cambridge">Jimmy's</a> at 1 East Road, Cambridge, CB1 1BD or call <a href="tel:01223576085">01223 576085</a> 24 hours a day, 7 days a week. Alternatively, you can contact <a href="https://jimmyscambridge.org.uk/contact">Jimmy's on-line</a>.</li>
        <p><strong>If the person is under 18 - if you think they are in immediate danger - if they need urgent care - or you feel they are unwell, please call 999.</strong></p>
      </ul>
    </div>
  </div>
</div>
{{> social-share}}
