---
title: Severe Weather Emergency Accommodation in Cambridgeshire - Street Support
description: Severe Weather Emergency Accommodation provision in Cambridgeshire.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: cambridgeshire
page: cambridgeshire-advice
location: cambridgeshire
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/cambridgeshire/">Cambridgeshire</a></li>
      <li class="breadcrumbs__item"><a href="/cambridgeshire/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="cambridgeshire" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">SWEP (Severe Weather Emergency Provision) is now active.</h2>
      <p>From <span class="bold">November - March</span> <a href="https://streetsupport.net/find-help/accommodation/listing/details/?id=6156f3c5c2990756383b1505">Crossways emergency accommodation</a> is available to people in Cambridge who would otherwise have to sleep in the open.</p>
      <p>If you meet someone in Cambridge who needs a place to sleep at night you can:</p>
      <ul>
        <li>Contact the Street Outreach Team with details of where the rough sleeper can be found on <a href="tel:01223 366292">01223 366292</a> from 8am-4pm Mon-Fri</li>
        <li>Use the Streetlink <a href="https://thestreetlink.org.uk">website</a>.</li>
        <li>Call the City Council’s Housing Advice Service on <a href="tel:01223 457918">01223 457918</a> 9-5.15pm Mon-Fri or out-of-hours on <a href="tel:0330 053 8109">0330 053 8109</a></li>
      </ul>
      <p>They can help refer someone to Crossways and access further specialist support.</p>
    </div>
  </div>
</div>

{{> social-share}}
