---
title: Donate money to Real Change - Street Support
description: Street support makes it easier to help people facing homelessness. Donate money via Real Change #RealChangeMcr.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: bigchange
page: bigchangeabout
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/bigchangemcr/">Real Change MCR</a></li>
      <li class="breadcrumbs__item">Case studies</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Real Change MCR Case Studies </h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <h2 class="h2">Read here some annoymised case studies sharing how Real Change MCR can support people to make long term changes to their lives.</h2>
        <h3 class="h3">"A’s” story</h3>
        <p>“A” was living with his young son and partner when the relationship broke down. The family home wasn’t in “A’s” name and, forced to leave, he started sleeping rough. He did find temporary accommodation but an increasingly volatile relationship with his ex led to him losing that.</p>
        <p>He felt hopeless. Shame at his circumstances stopped him seeing his son. Existing mental health issues flared up. He slept in the city centre for several months before getting support from the BMHC charity who tailored a support plan with him to put the basics in place. He now has a GP, bank account and he meets drug and alcohol services weekly. He’s taking medication for his mental health and has started seeing his son again.</p>
        <p>“A” made it a priority that wherever he moved, it had to be somewhere suitable for his child to visit and stay over.</p>
        <p class="bold">The Real Change MCR difference<br>
          Real Change MCR made it possible for “A” to shop around for the most appropriate home available for his son to visit and stay at. It was furnished, and extra Real Change MCR funding covered a months’ rent and deposit, the child’s bedding and kitchen equipment “A” needed to look after his son well.
        </p>
        <p>Real Change MCR meant “A” could bring his child to a decent home, rather than just an accommodation unit. Without Real Change MCR, as a man on Universal Credit, “A” had no chance of moving to his own place, which he’s held now for a whole year, with growing confidence in his own independence.</p>
        <p>“A’s” relationship with his son has strengthened too, and there’s no doubt that it was Real Change MCR funding that won him the home – the room he needed – to mend their lives together.</p>
      </div>
    </div>
  </div>
</div>

{{>divider}}

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <h3 class="h3">"C’s” story</h3>
        <p>“C” was determined to improve both his English and his life, and was juggling part-time work and a language course when a shift-change at work forced him to choose between college and work.</p>
        <p>He chose college, but things started going wrong when “C” fell out with the friend he was staying with. At first, other friends, from Church, let him ‘sofa-surf’ but “C” felt he was becoming a burden to them.</p>
        <p>His self-confidence and his mood were sinking fast when the Booth Centre, where he went during the days, put him in touch with supported housing charity Stop Start Go (SSG).</p>
        <p>SSG supported “C” to work on a plan centred on his mental health and finding a home.</p>
        <p>He registered with a local GP and -- building on his self-improvement strengths -- he enrolled on a ‘tenancy training’ course to improve his chances of getting social housing in future.</p>
        <p>With his GP, “C” agreed to come off mental health medication now he was in supported accommodation -- he was addressing his needs, and his low mood was starting to improve.</p>
        <p>When “C” shared his hopes -- with SSG staff -- of becoming an emergency paramedic, we encouraged him: first he passed a first-aid course. His confidence soared and he soon felt ready to return to college. Level 3 English and Maths led to Level 3 St Johns Ambulance Volunteer. His next step is a university degree in Paramedic Science.</p>
        <p class="bold">The Real Change MCR difference<br>
        Real ChangeMCR funding meant “C’s” support form SSG could go further – it freed them to use their skills and knowledge so “C” could realise the potential he showed to improve his life and his prospects.</p>
        <p>"C” got a one-bed flat and his essential household appliances over the time he was at SSG. As a young person on low-rate Job Seekers Allowance, he couldn’t have done that without Real Change MCR.</p>
        <p>"C" proudly pursued his dream of becoming an emergency paramedic, inspired, he says, “to join the care profession and give something back to the society that’s made me what I am.”</p>
      </div>
    </div>
  </div>
</div>

{{>divider}}

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <h3 class="h3">“E’s” Story</h3>
        <p>“E” was a full-time roofer until a knee injury suddenly put him out of work. Keen to provide for himself, he started at a call centre just before COVID struck – and his new firm went bust.</p>
        <p>As a private renter on Universal Credit, “E” had no chance of paying the full rent and he lost his home.</p>
        <p>With no family to turn to, he began drinking with alcoholics to see him through a period of rough sleeping in Cringle Fields Park and Crowcroft Park. His drinking began to spiral out of control.</p>
        <p>Volunteers at the homeless charity, Coffee 4 Craig, encouraged “E” to take the support they could plug him into, to get back on track. This included a referral to Greater Manchester’s A Bed Every Night programme through housing support charity Stop Start Go (SSG).</p>
        <p>Before he moved into his supported housing, SSG worked with “E” to create a support plan focused on his misuse of alcohol. He registered with a GP and met weekly with the addiction treatment centre CGL (Change Grow Live). “E” worked hard to control his drinking and is now completely off alcohol – keeping up regular contact with the service. </p>
        <p class="bold">The Real Change MCR Difference<br>
        When “E” was ready to move on from supported housing, Real Change MCR funding meant SSG staff could work with him to find the kind of stable and decent home he needed to make sure his hard work overcoming dependency would stick.</p>
        <p>Together they found a one-bedroom flat, and thanks to Real Change MCR, “E” could pay his deposit and first month’s rent. A bedding and kitchenware pack means that “E” now has a home that he can settle into and maintain.</p>
        <p>“E” has now been living independently for over a year. He says the support he got from Real Change MCR made it possible for him to find hope, control his addiction and fund the stable home he needs to get back into the job market. “What happened to me, could happen to anyone,” he says. And he’s now determined to build on Real Change MCR’s support by getting back into work and getting on with his life.</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">

  <p>Real Change MCR has been supporting people who have experienced homelessness since 2016, raising over £310,000 and helping over 1,600 people in Manchester.</p>

  <div class="block__cta block__cta--incopy block__cta--2">
    {{>cta brand="d" icon="big-change" link="https://localgiving.org/charity/macc/project/realchangemcr/" name="Donate to Real Change MCR"}}
    {{>cta brand="d" icon="read" link="/manchester/realchangemcr/who-are-we" name="Find out more"}}
  </div>
</div>


<div class="big-change-social">
  <h2 class="h2 block__header text-center">#RealChangeMCR</h2>
  <p class="text-center">Tell your friends, family and colleagues how you are helping to make a Real Change.</p>
  <ul class="big-change-social__list">
    {{!-- <li class="big-change-social__item">
      <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=https://streetsupport.net/manchester/bigchangemcr/&amp;p[title]=Big Change Manchester&amp;p[summary]=helping people to get off the streets&amp;p[hashtag]=%23bigchangemcr">
        {{>icon name="facebook-alt" class="big-change-social__icon big-change-social__icon--facebook" }}
      </a>
      <h3 class="big-change-social__title">Facebook</h3>
    </li> waiting for new real change facebook link--}}
    <li class="big-change-social__item">
      <a href="https://twitter.com/RealChangeMANC">
        {{>icon name="twitter-alt" class="big-change-social__icon big-change-social__icon--twitter-alt big-change-social__icon--twitter" }}
      </a>
      <h3 class="big-change-social__title">Twitter</h3>
    </li>
  </ul>
</div>
