---
title: Thank you for registering - Street Support
description: Thank you for registering your organisation with Street Support
layout: default.hbs
permalink: false
jsBundle: my-location
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">My Location Spike</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">My Location Spike</h1>
  </div>
</div>


<div id="js-output" class="template"></div>

<div id="spin"></div>

<script id="js-template" type="text/template">
  <form>
    <label for="location">Select your location:</label>
    <select class="js-location-select" name="location" id="location">
      \{{#cities}}
      <option \{{#isSelected}}selected\{{/isSelected}} value="\{{id}}">\{{name}}</option>
      \{{/cities}}
    </select>
  </form>
</script>
