---
title: Severe Weather Emergency Accommodation in Derbyshire - Street Support
description: Severe Weather Emergency Accommodation provision in Derbyshire.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: derbyshire
page: derbyshire-advice
location: derbyshire
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/derbyshire/">Derbyshire</a></li>
      <li class="breadcrumbs__item"><a href="/derbyshire/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="derbyshire" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the winter months, emergency beds are available for anyone sleeping rough.</p>
      <p>During periods of severe cold weather, additional emergency accommodation is provided by the local council. Severe weather emergency provision (SWEP) must be provided when the weather is forecast to be sub zero for 3 consecutive days. At this point the usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status.</p>
      <p>Councils generally work in partnership with local organisations and housing providers to make this additional accommodation available, covering the accommodation and staff costs.</p>
      <p>It is up to the local council to decide if they want to provide emergency accommodation in circumstances beyond this legal minimum requirement.</p>

    {{> social-share}}

  </div>
</div>
