---
title: Severe Weather Emergency Accommodation in Liverpool - Street Support
description: Severe Weather Emergency Accommodation provision in Liverpool.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: swep
section: findhelp
page: swep
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/liverpool/">Liverpool</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--liverpool">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Severe Weather Emergency Accommodation</h1>
    <div id="js-swep-output" class="template--maybe-empty"></div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>The Whitechapel Centre is contracted by Liverpool City Council to provide a humanitarian and co-ordinated response to the needs of rough sleepers over the winter period, during periods of severe weather. This provision involves the operation of the City’s Severe Weather Provision, which opens when trigger temperatures are reached or other severe weather events are predicted.</p>
      <h2 class="h2">Where is the centre?</h2>
      <p>Until this winter the service operated from a Church near to the centre of the city. The premises are not available this year, however, so we are currently working to secure planning permission for a new venue. While new premises are secured, we are using the Council's commissioned hostel services, and other venues – as a temporary solution. Due to a range of issues and in order to ensure that access to the Shelter can be co-ordinated between rough sleepers, the Street Outreach Team and other referrers, it has been necessary to co-ordinate access through the No Second Night Out service on <a href="tel:0300 123 2041">0300 123 2041</a>. This will better manage the impact for the hostel provider/s and their residents. </p>
      <h2 class="h2">When is the Provision Open & What is Offered?</h2>
      <p>The Provision is open to Rough Sleepers from 10pm through to 8am the following morning when:</p>
      <ul>
        <li>
          Temperatures of 2°C or less are predicted on any night (as per the long range weather forecast).
        </li>
        <li>
          An amber or red warning has been issued as severe or hazardous weather is predicted which has the potential to cause damage, widespread disruption and/or danger to life, for example, high winds, storms, hurricanes, heavy snow.
        </li>
        <li>
          When yellow warnings have been issued, a joint decision will be made between the service and Commissioners / Liverpool City Council’s emergency out of hours protocol co-ordinated through the Careline service.
        </li>
      </ul>
    <p>The shelter will remain open every night until overnight temperatures increase to above 2°C / the Severe Weather event warning has passed.</p>
    <p>The service provides safe shelter, warmth and support for rough sleepers.</p>
    <p>Support is given to help rough sleepers access accommodation, as well as advice and signposting to health, substance misuse, benefits and other agencies.</p>
    <h2 class="h2">Who can access severe weather provision?</h2>
    <p>Provision is only for known rough sleepers who would otherwise be sleeping out if provision was not available. The service aims to be as inclusive as possible and will manage risk on a case by case basis to ensure the most excluded individuals can be admitted each night.</p>
    <h2 class="h2">How will agencies and rough sleepers know when the centre will be open?</h2>
    <p>The Outreach Manager contacts key agencies once a decision to open has been made and is advertised via website and social media (Facebook and Twitter).</p>
    <p>Whitechapel’s Outreach Team undertakes street outreach to notify all known rough sleepers.</p>
    </div>

    {{> social-share}}

  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
