---
title: Severe Weather Emergency Accommodation in Liverpool - Street Support
description: Severe Weather Emergency Accommodation provision in Liverpool.
image: https://streetsupport.net/assets/img/og/street-support-liverpool.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: liverpool
page: liverpool-advice
location: liverpool
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/liverpool/">Liverpool</a></li>
      <li class="breadcrumbs__item"><a href="/liverpool/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="liverpool" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Plans for addressing Rough Sleeping during winter 2022</h1>
      <p>The purpose of this update is to share the series of proactive measures taken by the City and our partners to address the needs of people who may rough sleep over the winter period.  </p>
      <p>This paper will provide an update on our Severe Emergency Weather Proposals (SWEP) for the forthcoming the winter months (defined by government as being from 1st December to 31st March).</p><br>
      <h1 class="h1">Background</h1>
      <ol>
        <li>In addition to the commissioned Temporary Accommodation services already in place, with more than 600 beds for single people, a range of further resources have been secured to provide a ‘First Step from the Street’ solution over two sites.</li>
        <li>However, rough sleeping during episodes of severe weather is a real concern and all Local Authorities have a humanitarian duty to provide a cold weather response to ensure rough sleepers are warm and safe during these periods.</li><br>
        <h2 class="h2">The Winter Plan and SWEP response</h2>
        <li>We have worked with local partners to ensure that there are sufficient solutions in place during the worst of the winter that are in line with some of our pre-pandemic responses to this group and our duties under SWEP. </li>
        <li>Liverpool defines severe weather a prediction of <span class="bold">2 degrees or lower</span> on any given night. Or other severe weather, such as storms, high winds etc.</li>
        <li>As part of our winter plan, we have secured a range of solutions across a number of facilities, up to 31st March. </li>
        <li>We will monitor demand carefully and seek to provide additional capacity as needed.</li>
        <li>Support, including food and prescribed medication, will be provided to people in hotel settings from our commissioned support services delivered through The Whitechapel Centre and / or The Salvation Army / SAHA. </li>
        <li>Our commissioned temporary accommodation providers have offered capacity through a ‘sit-up’ approach – this is a shared communal space that can be offered during SWEP. This will see a small number of individuals in each setting, in addition to our other offers.  </li>
      </ol>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">If someone is at risk of Rough sleeping</h2>

      <ol>
        <li>Contact should be made to the Rough Sleeper helpline Always Help Available on 0300 123 2041, which operates 24 hours a day, 365 days per year.  The Outreach Team can then respond and support rough sleepers indoors. Alternatively, there is on-line reporting tool: <a target="_blank" href="http://www.whitechapelcentre.co.uk/tell-us-about-a-rough-sleeper.html ">http://www.whitechapelcentre.co.uk/tell-us-about-a-rough-sleeper.html</a></li>
        <li>The Rough Sleepers Team operates 24 hours a day, 7 days a week. They respond to helpline calls and visit places where they know people sleep rough, to offer help and support and access to services and facilities,</li>
        <li>Outreach teams and other services will facilitate the placement of people rough sleeping or at immediate risk of rough sleeping already known to them. </li>
        <li>Anyone accommodated during SWEP will be offered an assessment of their needs and linked into other agencies as necessary, including the Councils own Housing Options Service, who will determine any Priority need under Homelessness Legislation and work to develop a Personal Housing Plan. </li>
        <li>Move on through commissioned services and/or into independent accommodation in the community, or other solutions will be explored as part of an assessment / Personal Housing Plan.</li>
      </ol>

    </div>
  </div>
</div>
{{> social-share}}
