<li class="nav__item nav__item--hub-nav" data-city="trafford">
  <dl class="hub-nav-container">
    <dt data-city="trafford" class="nav__item nav__item--trafford">
      <a href="/trafford/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Trafford</a>
    </dt>
    <dd>
      <ul>
        <li data-city="trafford" class="nav__item nav__item--trafford-advice">
          <a href="/trafford/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>