---
title: Council Information - Street Support
description: Council information for those facing homelessness or have just become homeless.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/emergency-help/">Emergency Help</a></li>
      <li class="breadcrumbs__item">Councils</li>
    </ol>
  </div>
</div>

{{> page-header main="Councils" sub="How your council can help if you are facing homelessness" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      
      <p>If you are at risk of becoming homeless, or have recently been made homeless, it is important to tell your local council as soon as possible.</p>

      <p>If you are in one of our featured locations, you can find out more about support available through your council here:</p>
      <ul>
        <li><a href="bolton/">Bolton</a></li>
        <li><a href="bury/">Bury</a></li>
        <li><a href="leeds/">Leeds</a></li>
        <li><a href="manchester/">Manchester</a></li>
        <li><a href="oldham/">Oldham</a></li>
        <li><a href="rochdale/">Rochdale</a></li>
        <li><a href="salford/">Salford</a></li>
        <li><a href="stockport/">Stockport</a></li>
        <li><a href="tameside/">Tameside</a></li>
        <li><a href="trafford/">Trafford</a></li>
        <li><a href="wigan/">Wigan</a></li>
      </ul>
      <p>For all other areas, visit your town hall or get more information from your council web site.</p>

      <p>If you feel you are unable to get the support you need from your council, we advise that you visit a local <a href="/find-help/dropin/">drop in centre</a>, <a href="/find-help/support/timetable/">advice services</a>, or contact <a href="http://www.shelter.org.uk/">Shelter</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
