---
title: GM Network Administrator
description: Jobs in helping end homelessness
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: jobs
page: gm-network-administrator
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about">About</a></li>
      <li class="breadcrumbs__item"><a href="/about/jobs">Jobs</a></li>
      <li class="breadcrumbs__item">GM Network Administrator</li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="container">
    <h1 class="h1 block__header">Street Support Network - Greater Manchester Network Administrator</h1>
    <div class="card__details">
      <dl class="card__details-dictionary">
        <dt class="card__details-dictionary-title">Job Title:</dt>
        <dd class="card__details-dictionary-desc">GM Network Administrator</dd>

        <dt class="card__details-dictionary-title">Responsible To:</dt>
        <dd class="card__details-dictionary-desc">Viv Slack</dd>

        <dt class="card__details-dictionary-title">Salary:</dt>
        <dd class="card__details-dictionary-desc">Circa £20k</dd>

        <dt class="card__details-dictionary-title">Working Hours:</dt>
        <dd class="card__details-dictionary-desc">Flexible</dd>

        <dt class="card__details-dictionary-title">Duration:</dt>
        <dd class="card__details-dictionary-desc">12 months</dd>

        <dt class="card__details-dictionary-title">Closing date for applications:</dt>
        <dd class="card__details-dictionary-desc">8th March 2019</dd>
      </dl>
    </div>
    <h2>Overview</h2>
    <p>This is a great opportunity for someone who understands the challenges faced by people experiencing homelessness to really make a difference - connecting and supporting the network in Greater Manchester to more effectively tackle homelessness.</p>
    <h2>Purpose</h2>
    <p>The purpose of the role is to support the network across GM to connect &amp; coordinate. With this additional capacity it will be easier for us to understand and communicate, create effective tools, encourage systems change and co-produce more effective solutions.</p>
    <h2>What you will be doing (Job Description)</h2>
    <p>The role involves connecting to partnerships and organisations within the GM network, attending events, understanding what’s working well and where there are gaps and blockers, supporting co-production, communicating what is learned out to other parts of the network, and bringing the insight into our team to develop tools and processes to make things easier. </p>
    <ul>
      <li>Building relationships &amp; supporting local co-ordinators and organisations:
        <ul>
          <li>Attending events and groups in different areas, including homelessness partnership/forums and MHP action groups.</li>
          <li>Connecting to people in organisations and projects across GM, and understanding how they support and complement each other.</li>
        </ul>
      </li>
      <li>Linking different parts of the GM network into the central structures:
        <ul>
          <li>Feeding back insights and learning into our team, the MHP driving group &amp; partnership board, and into the GMHAN accountability board.</li>
          <li>Following up on relevant actions and blockers.</li>
          <li>Helping us to communicate messages out to different audiences (linking with our Communications &amp; Marketing co-ordinator).</li>
          <li>Adding capacity where needed to help the network, for example co-ordination between action groups, admin, and communication.</li>
        </ul>
      </li>
      <li>Connecting and supporting GMHAN and MHP:
        <ul>
          <li>Helping to organise and promote GMHAN and MHP events (linking with our Communications &amp; Marketing co-ordinator).</li>
          <li>Collecting &amp; sharing feedback &amp; local news from across GM.</li>
        </ul>
      </li>
    </ul>
    <h2>What we are looking for (Person Specification)</h2>
    <p>Applicants need to have good organisational and communication skills, be flexible, sensitive to different perspectives, authentic, friendly and patient. </p>
    <p>You need to be a clear communicator, able to listen to and communicate with people from different backgrounds, able to hold conversations across power differences.</p>
    <p>You need to understand and commit to our team aims, values and culture, to be open and supportive of other members of the team.</p>
    <p>You will need to develop an understanding of what's working and what’s needed in different areas, and how that relates to what our organisation offers. You will need to be objective and neutral, acting on behalf of the whole network, and willing to travel independently as needed.</p>
    <p>No specific technical knowledge is required, but you will need to be comfortable using digital tools, including email. You will need to learn how to use our admin system, to post needs, organisation information and news articles. Training will be provided. Social media knowledge is an advantage.</p>
    <p>We welcome applicants with lived experience of homelessness.</p>
    <p>The working hours are flexible, based around the needs of the applicant and the role. We offer 25 days holiday a year.</p>
    <p>Appointment is subject to satisfactory references. There will be a 12 week probationary period.</p>
    <a href="https://goo.gl/forms/CMB5bbZ1PbGd7EZF3" class="btn btn--brand-e btn--full">
      <span class="btn__text">Apply</span>
    </a>
</div>
