---
title: Impact - Street Support
description: Street support makes it easier to help people facing homelessness. Here is more information how it has helped.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: impact
section: about
page: impact
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about">About</a></li>
      <li class="breadcrumbs__item">Impact</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Impact</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content text-center">
      <p>Our mission is to make it easier for anyone experiencing homelessness to get the help they need. We connect organisations that provide services, with individuals and businesses that want to do something to help. Here are the latest key facts and examples of how Street Support is making an impact.</p>

      <div>
        <h2>Impact Report</h2>
        <p><a href="https://drive.google.com/file/d/16nsU03iAbJH_T0mpc_eUGkiK0ZiDgNzR/view" target="_blank">Key highlights of Street Support Network Impact Report 2016-2019</a>.</p>
        <p><a href="https://drive.google.com/file/d/14T4Wq7FINX0Je2YQ3kW9jPh4bQ6aVStS/view" target="_blank">Impact Report 2016-2019 (full report)</a>.</p>
      </div>

    {{> divider}}

      <section class="latest-statistics">
        <h2 class="h1 latest-statistics__heading">Latest Statistics</h2>
        <ul class="latest-statistics__items">
          <li class="latest-statistics__item"><dl>
            <dd class="latest-statistics__item-value h1" data-bind="text: totalServiceProviders"></dd>
            <dt class="latest-statistics__item-title">Service Providers listed</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1" data-bind="text: totalServices"></dd>
          <dt class="latest-statistics__item-title">Services listed</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1" data-bind="text: totalVolunteers"></dd>
          <dt class="latest-statistics__item-title">Volunteers registered</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1" data-bind="text: totalNeeds"></dd>
          <dt class="latest-statistics__item-title">Service Providers' needs</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1" data-bind="text: totalNeedResponses"></dd>
          <dt class="latest-statistics__item-title">Responses to Provider needs</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1" data-bind="text: totalPledges"></dd>
          <dt class="latest-statistics__item-title">Pledges to the Manchester Charter</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1" data-bind="text: totalOffers"></dd>
          <dt class="latest-statistics__item-title">Offers of help/items</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1">2047312</dd>
          <dt class="latest-statistics__item-title">Page Views to date</dt>
          </dl></li>
          <li class="latest-statistics__item"><dl>
          <dd class="latest-statistics__item-value h1">1429217</dd>
          <dt class="latest-statistics__item-title">Unique Page Views to date</dt>
          </dl></li>
        </ul>
      </section>

      {{> social-share}}
    </div>
  </div>
</div>
