<li class="nav__item nav__item--hub-nav" data-city="walsall">
  <dl class="hub-nav-container">
    <dt data-city="walsall" class="nav__item nav__item--walsall">
      <a href="/walsall/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Walsall</a>
    </dt>
    <dd>
      <ul>
        <li data-city="walsall" class="nav__item nav__item--walsall-advice">
          <a href="/walsall/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
