
<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--wal-council"><a target="blank" href="https://go.walsall.gov.uk">{{> icon name="wal-council"}}</a></li>
  <li class="partners__logo partners__logo--wal-rmc"><a target="blank" href="https://rmcentre.org.uk">{{> icon name="wal-rmc"}}</a></li>
  <li class="partners__logo partners__logo--whg"><a target="blank" href="https://www.whg.uk.com">{{> icon name="whg"}}</a></li>
</ul>
