
<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--aru-chelmsford"><a href="https://aru.ac.uk/student-life/life-on-campus/chelmsford-campus/">{{> icon name="aru-chelmsford"}}</a></li>
  <li class="partners__logo partners__logo--c2bk"><a href="https://www.c2bk.co.uk/">{{> icon name="c2bk"}}</a></li>
  <li class="partners__logo partners__logo--chess-chelmsford"><a href="https://chesshomeless.org/">{{> icon name="chess"}}</a></li>
  <li class="partners__logo partners__logo--co-op-cf"><a href="https://causes.coop.co.uk/">{{> icon name="co-op"}}</a></li>
  <li class="partners__logo partners__logo--essex-cf"><a href="https://www.essexcommunityfoundation.org.uk/">{{> icon name="essex-cf"}}</a></li>
  <li class="partners__logo partners__logo--high-sheriff"><a href="https://highsheriffs.com/essex/">{{> icon name="high-sheriff"}}</a></li>
</ul>
