<div class="block block--location-header location-header">
  <div class="container">
    <div class="container-advice__content">
      <h1 class="h1 block__header">Advice for families facing homelessness</h1>
    </div>
    <div class="container-advice__content">
      {{> families/search-families-advice }}
    </div>
  </div>
</div>