<div class="block block--location-header location-header">
  <div class="container">
    <div class="container-families__content">
      <h1 class="h1 block__header">Supporting families facing homelessness</h1>
      <h3 class="h3 block__sub-header" style="line-height: 1.5;">We have worked in partnership with Shared Health to provide you with information specifically aimed at helping families facing homelessness in Manchester.</h3>
      <h3 class="h3 block__sub-header" style="line-height: 1.5;">If you would like to set up advice for families in your location, please <a href="mailto:admin@streetsupport.net"> get in touch</a> with us.</h3>
      {{> families/search-families-advice }}
    </div>
    <div class="container-families__content">
      <form class="form form--highlighted form--support-section">
        <div class="form--support-section__header">
          <div class="form--support-section__header--title">
            <h3 class="h3">Do you need to speak to someone?</h3>
            <p>These helplines are free and open 24&nbsp;hours a day.</p>
          </div>
          <div class="form--support-section__header--logo">
            24 / 7 <br/> support
          </div>
        </div>

        <div class="form--support-section__content">
          <div class="form--support-section__content--line">
            <h4 class="form--support-section__content--line-title">Samaritans:</h4>
            <span class="form--support-section__content--line-item">
              <a href="tel:116123">116 123</a>
            </span>
            <hr class="divider__line">
          </div>
          <div class="form--support-section__content--line">
            <h4 class="form--support-section__content--line-title">Refuge Domestic Abuse:</h4>
            <span class="form--support-section__content--line-item">
              <a href="tel:08082000247">0808 2000 247</a>
            </span>
            <hr class="divider__line">
          </div>
          <div class="form--support-section__content--line">
            <h4 class="form--support-section__content--line-title">Shelter:</h4>
            <p>
              If you are in urgent need of housing advice
            </p>
          </div>
          <div class="form--support-section__content--btn">
            <button class="btn btn--cosy btn--brand-d" data-bind="click: redirectToSupport">
              <span class="btn__text">Find out more</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
