<div class="block">
  <div class="container">
    <div class="block__content">
      <section class="block__content--central-cta block__section">
        <h1>More useful resources</h1>
      </section>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--help">Find local services</h2>
        <p>Losing your home is distressing situation no-one should face alone. Find out what you need to do in your area to get the best help by selecting a supported area.</p>
        <a href="/find-help/group/families/" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Find help</span>
        </a>
      </article>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--hand">Want to know how you can help?</h2>
        <p>Whether it's offering your time, giving practical items, making a donation or help change policies - there is lots you can do to make a difference.</p>
        <a href="/give-help/help/group/families" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Give help</span>
        </a>
      </article>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--street-support card__title--street-support--advice">Read our latest news about families</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
        <a href="https://news.streetsupport.net/tag/families/" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Read news</span>
        </a>
      </article>
    </div>
  </div>
</div>