---
title: Emergency Homeless Help in Bournemouth - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-bournemouth.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: bournemouth
page: bournemouth-advice
location: bournemouth
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/">Bournemouth, Christchurch &amp; Poole</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="bournemouth" }}

<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content">
      <a name="christchurch-and-poole"></a>
      <h1 class="h1">Christchurch &amp; Poole</h1>
      <h3 class="h3">This page contains the latest advice for people facing homelessness in Bournemouth. Please follow the links below if you are in the Christchurch or Poole area and require further advice.</p>
      <p class="h3">Christchurch: <a href="https://www.dorsetforyou.gov.uk/housing/homelessness/at-risk-of-becoming-homeless.aspx">https://www.dorsetforyou.gov.uk/housing/homelessness/at-risk-of-becoming-homeless.aspx</a></p>
      <p class="h3">Poole: <a href="http://archive.poole.gov.uk/homes-and-housing/housing-options-advice/homelessness/">http://archive.poole.gov.uk/homes-and-housing/housing-options-advice/homelessness/</a></p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Bournemouth</h1>
      <a name="housing-services"></a>
      <h2 class="h2">Help to stay in your home</h2>
      <p>We want to prevent homeless wherever we can. If you are at risk of homelessness, come and see us or phone us as early as possible so that we can try to help you stay in your current home. The sooner you let us know, the more we can do to help.</p>
      <p>Our housing services may be able to help you if you need support to stay in your current accommodation, or if you need accommodation which has onsite support.</p>

      <a name="housing-assessment"></a>
      <h2 class="h2">What happens if we can't prevent homelessness</h2>
      <p>If we can't help you prevent homelessness, we carry out a housing assessment to understand if we have a duty to help you. In some cases, we provide temporary accommodation. We tell you what will happen as part of the overall assessment process.</p>

      <a name="get-advice"></a>
      <h2 class="h2">Get advice</h2>
      <p>If you are homeless, at risk of homelessness, or want advice on what housing options are available, we're here to help.</p>
      
      <h3 class="h3">Phone: <a href="tel:01202451467">01202 451467</a></h3>
      <p>Outside normal office hours this number is diverted to the Out of Hours team, so there is always someone who can help you.</p>
      
      <h3 class="h3">Email: <a href="mailto:housing.calls@bournemouth.gov.uk">housing.calls@bournemouth.gov.uk</a></h3>
      
      <h3 class="h3">In person:</h3>
      <p>Visit the Customer Contact Centre, Bournemouth Town Hall, St Stephens Road, Bournemouth, BH2 6EB.</p>
      <p>Our offices are accessible for those using a wheelchair. There are hearing loops available.</p>
      
      <h3 class="h3">Opening hours for non-emergency enquiries</h3>
      <ul>
        <li>Open 9am daily (10am on Wednesdays)</li>
        <li>Close 3pm Monday to Thursday and 2.00pm on Friday</li>
      </ul>
      
      <h3 class="h3">Opening hours for emergency enquiries</h3>
      <ul>
        <li>Open 9am daily (10am Wednesdays)</li>
        <li>Close 4:30 Monday to Thursday and 4pm Friday.</li>
      </ul>
      
      <h3 class="h3">Help if you become homeless out of hours</h3>
      <p>Call the Emergency Out of Hours Team on <a href="tel:01202451467">01202 451467</a> if you become homeless when our offices are closed, or anytime on a weekend or bank holiday.</p>
      <p>The team will assess your circumstances. Depending on the outcome of this, you may be offered accommodation.</p>
    
      <h3 class="h3">For more information, go to our webpages:</h3>
      <p><a href="https://www.bournemouth.gov.uk/Housing/homelessness/homelessness-and-rough-sleeping.aspx">www.bournemouth.gov.uk/Housing/homelessness/homelessness-and-rough-sleeping.aspx</a></p>

      <a name="rough-sleepers"></a>
      <h2 class="h2">How to get help if you are rough sleeping</h2>
      <p>Contact the Bournemouth and Poole Rough Sleeper Team (delivered by St Mungo’s):</p>
      <ul>
        <li>email <a href="mailto:b&pstreetoutreach@mungos.org">b&amp;pstreetoutreach@mungos.org</a></li>
        <li>phone <a href="tel:01202315962">01202 315962</a> (24-hour answer-phone)</li>
      </ul>

      <p>The team deliver an outreach service so are not always in the office, but your message will be listened to and followed up at the earliest opportunity.</p>
      <p>Please give us as much detail as you can about where you are sleeping. You can do this yourself or you can ask a member of staff in any homeless support service to make a referral on your behalf.</p>
      <p>The Rough Sleeper Team is commissioned by Bournemouth and Poole Councils to provide outreach and support to people that are rough sleeping in the towns. The team works to help people address their issues and make positive moves off the street and into accommodation</p>
    
      <a name="how-to-help"></a>
      <h2 class="h2">How to help if you are concerned about someone who is sleeping rough</h2>
      <p>You can report your concerns via <a href="https://www.streetlink.org.uk">www.streetlink.org.uk</a> or call <a href="tel:03005000914">0300 500 0914</a>.</p>

      <p>Streetlink is an England-wide phone-line, website and mobile app which enables the public to alert local authorities about people sleeping rough in their area. The information you provide will be swiftly passed on to the local rough sleeper outreach team.</p>

      {{> social-share}}
    </div>
  </div>
</div>