---
title: Accommodation Advice - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">What you need when trying to find accommodation</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>Your options for accommodation will depend on your situation and legal status. For advice on what support is available and a guide to your options, please select one of the links below. Alternatively you can <a href="/find-help/accommodation/">browse all accommodation options nearby</a>.</p>
      <ul>
        <li>Recently homeless or at risk? Read our <a href="/find-help/emergency-help/">emergency advice</a>.</li>
        <li>Pregnant or with dependent children? Read our <a href="/find-help/accommodation/advice/families/">advice for families</a>.</li>
        <li>Under 25? Read our <a href="/find-help/accommodation/advice/under-25/">advice for young people</a>.</li>
        <li>Non UK resident or not eligible for assistance? Find out <a href="/find-help/accommodation/advice/not-eligible/">what options are available</a>.</li>
        <li>Need support to live independently? Read our <a href="/find-help/accommodation/advice/supported-living/">supported living guide</a>.</li>
        <li>No support available from the council? Read our guide to <a href="/find-help/accommodation/advice/other-options/">other accommodation options</a>.</li>
        <li>At risk of homelessness? Read our advice on <a href="/find-help/accommodation/advice/prevention/">homelessness prevention</a>.</a>
      </ul>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
