---
title: Accommodation Advice - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">What you need to know when looking for accommodation</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>If you have recently been made homeless it is important that you <a href="/find-help/emergency-help/">follow the steps to register as homeless</a>. The first step is to contact your local council, or <a href="/find-help/dropin/">drop in centres</a> can support you through the process.</p>
      
      <p>Get advice if:</p>
      <ul>
        <li><a href="#families">You have children or are pregnant</a></li>
        <li><a href="#u25">You are under 25</a></li>
        <li><a href="#supported">You need support to live independently</a></li>
        <li><a href="#nonuk">You are not from the UK or eligible for assistance</a></li>
        <li><a href="#own">You need to find your own accommodation</a></li>
        <li><a href="#financial">You need financial support to get into accommodation</a></li>
        <li><a href="#prevention">You have somewhere to stay but facing homelessness</a></li>
      </ul>

      <a name="families"></a>
      <h2 class="h3">Children and families</h2>
      <p>If you are pregnant or have dependent children, the council will consider you priority need and try to find accommodation for you. Please read our <a href="/find-help/emergency-help/">emergency advice for your council</a> to find out about office hours and out of hours phone numbers.</p>

      <a name="u25"></a>
      <h2 class="h3">Under 25s</h2>
      <p>In most locations there are specialist support services for younger people who can help you get into suitable accommodation. <a href="https://streetsupport.net/find-help/support/?&sub-category=younger-people">Find out what services are available for young people near you</a>.</p>

      <a name="supported"></a>
      <h2 class="h3">Supported accommodation</h2>
      <p>The supported living options available for you will depend on your location and situation. <a href="/find-help/accom/?sub-category=supported">Browse local supported housing</a>. You may also be able to access floating support to stay in your own home.</p>
      <p>Your council will be able to advise you on what is available in your area, or you can visit a <a href="/find-help/dropin/timetable/">local drop in centre</a> or <a href="/find-help/support/?sub-category=housing">housing advice service</a>. They can give you individual advice and make referals.</p>
      <p>To understand more about the different types of supported housing, read this <a href="http://england.shelter.org.uk/get_advice/housing_with_support">Shelter guide to supported housing</a>. You can also contact <a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter</a> for advice via their national phone line on 0808 800 4444.</p>

      <a name="nonuk"></a>
      <h2 class="h3">Non UK residents</h2>
      <p>If you are not from the UK and have no recourse to public funds, the level of support available is limited, but you should still register so that they can refer you to other services that can help.</p>

      <a name="find"></a>
      <h2 class="h3">Finding your own accommodation</h2>  
      <p>If you have been told that the council are unable to help you, there are a number of options to consider. You may be able to access <a href="#">social housing</a>, or <a href="#">find your own home in the private sector</a>. There may also be <a href="#">unsupported temporary accommodation nearby</a> which might be your only option in the short term.</p>
      <p>If you feel you need support to do this, visit a local <a href="/find-help/dropin/timetable/">drop in centre</a> or <a href="/find-help/support/?sub-category=housing">housing advice service</a> where you can get individual advice. You can also contact <a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter</a> for advice via their national phone line on 0808 800 4444.</p    

      <a name="social"></a>
      <h2 class="h3">Social housing</h2>
      <p>Most councils have information about how to apply for social housing on their website, or you can <a href="https://www.gov.uk/apply-for-council-housing">use this search by postcode</a>, or check our <a href="/find-help/accommodation/?sub-category=lettings-scheme">local letting scheme</a> list.</p>
      <p>Most people can apply to go on their local council’s housing waiting list if you are <a href="http://england.shelter.org.uk/housing_advice/council_housing_association/who_is_eligible_to_apply_for_council_housing">eligible for assistance</a>, though some councils require you to have a local connection. There is generally a waiting list, so it is important to register early and be as flexible as you can. You can apply to more than one council and you can be on several lists at the same time. Waiting lists may be shorter in some areas.</p>
      <p>There can be issues if your account is restricted due to arrears, anti social behaviour or criminal offences. If this happens you will need to go to the housing office that deals with your application, so they can advise you on what the issue is and what needs to be done to get you back on system.</p>

      <a name="private"></a>
      <h2 class="h3">Private rentals</h2>
      <p>The advantage of renting privately is that you have more choice over where you live, near to schools and family support. It is also much quicker to find a private rented home than to wait for a social rented home. You can use the internet in the library to look for vacancies at B&Bs and hostels across the Greater Manchester area. Access your social media accounts and speak to friends and family and see if they can help.</p>
      <p>TODO Source list for finding private rental accommodation, where to get financial help to pay a deposit etc.</p>

      <a name="utas"></a>
      <h2 class="h3">Unsupported temporary accommodation</h2>
      <p>TODO Advice on UTAs and a link to local UTAs, and support services for people in UTAs.</p>
      <p>B&amp;Bs can be an extremely expensive alternative to temporary accommodation. This is because the rooms are charged on a night by night basis. But in some cases you might be able to stay there for the week if they are quiet. They may allow you to claim housing benefits from there, but you need to check what entitlement you would receive before signing an arrangement.</p>
      <p>This accommodation varies in quality and there is generally no support available as the properties are run by private landlords. There may be a local service that can support you if you have issues whilst living in this type of accommodation. <a href="https://www.justlife.org.uk/">JustLife</a> specialise in supporting people close to the streets, and have good knowledge of common issues facing people living in UTAs.</p>.
      <p>If this is your only option, browse our <a href="/find-help/accom/?sub-category=uta">list of unsupported temporary accommodation</a> near you.</p>

      <a name="financial"></a>
      <h2 class="h3">Financial support</h2>
      <p>If you need financial support to pay a deposit, or to clear rent arrears, there may be services and grants available to you. < a href="/find-help/accom/?sub-category=financial-support">Contact a local organisation</a> who can offer financial advice based on your situation.</p>

      <a name="prevention"></a>
      <h2 class="h3">Staying in your home</h2>
      <p>It is really important to get the right advice as soon as you realise you are facing homelessness. You can inform your council, or seek advice from Shelter or a local housing advice service. More information on what to expect and the housing prevention act coming soon.</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
