---
title: Accommodation Advice - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: accomAdvice
section: findhelp
page: find-help-accom
---

{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">What you need to know when looking for accommodation</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>If you have recently been made homeless it is important that you tell your council. If you need support through the process, <a href="/find-help/dropin/timetable/">visit a local drop in centre</a>.</p>
      <p>The council will look into your situation and decide whether it has a duty to provide accommodation for you. They may
        offer <a href="#temporary" class="accom-type-link">temporary accommodation</a>, or decide that you need to stay at home or with a friend
        until they can find <a href="#settled" class="accom-type-link">settled accommodation</a>.</p>
      <p>If the council decides they do not have a duty of care, you will need to find your own accommodation. In most places
        there are local services who can offer advice and support, or you can <a href="http://england.shelter.org.uk/get_advice/homelessness">visit the Shelter website</a> or call their helpline on 0808 800 4444.</p>

      <h2 class="h2 accom-advice__title">Get advice for your situation</h2>

      <div class="accordion accordion--day js-situation-accordion">
        <button class="h3 accordion__header js-situation-header">
          You are under 25
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>In most locations there is a specific service for young people facing homelessness - <a href="/find-help/support/?subCatId=younger-people">find local services for under 25s</a>. If you are in Manchester, you should <a href="/find-help/organisation/?organisation=ypsf">visit Centrepoint</a> to present as homeless rather than going to the council.</p>
            <p>If you are under 18 you are considered a child in the eyes of the law and your local council has a legal duty to support
              you. They may offer family mediation or find a place in foster care or hostels.</p>
            <p>If you have had a homelessness assessment with the council and it was unsuccessful, you may still be able to get a referral into other accommodation such as B&amp;Bs, or get financial help to pay a deposit.</p>
            <p>If you are a care leaver social services should continue to help you until you are 21, or up to 24 if you are studying
              full time.</p>
            <p>Centrepoint offer really good advice for young people aged 16-25 facing homelessness - you can get help by calling
              0808 800 0661 Mon-Fri 9am-5pm, or <a href="https://centrepoint.org.uk/youth-homelessness/get-help-now/">use the Centrepoint website</a>.
              <a href="http://www.childline.org.uk">Childline</a> also offer confidential support on 0800 1111.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-situation-header">
          You have children or are pregnant
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>The council should consider you priority need and find accommodation if you are pregnant, if your children are under the age of 16, or if they are under 19 and still in full time education or training.</p>
            <p>If you are offered temporary accommodation and turn it down, it may mean your local council won’t help you later.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-situation-header">
          You are not from the UK or eligible for assistance
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>If you are not from the UK and have no recourse to public funds, the level of support available is limited, but you should still present as homeless so that they can refer you to other services that can help.</p>
            <p>There may be <a href="/find-help/support/?subCatId=asylum">services nearby that offer specific support and advice for refugees and asylum seekers</a>. Some community and faith groups offer a safe place to sleep for people that don't have legal status to access council accommodation or benefits.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-situation-header">
          You have been told the council can't find you accommodation
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>If you have been told that the council are unable to help you, there are a number of options to consider. You may be able to access <a href="#social" class="accom-type-link">social housing</a>, or <a href="#private" class="accom-type-link">find a home in the private rental sector</a>. There may also be <a href="#uta" class="accom-type-link">unsupported temporary accommodation nearby</a> which might be your only option in the short term.</p>
            <p>If you feel you need support to do this, visit a local <a href="/find-help/dropin/timetable/">drop in centre</a> or <a href="/find-help/support/?subCatId=housing">housing advice service</a> where you can get individual advice.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-situation-header">
          You need financial support to secure accommodation
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>If you need financial support to pay a deposit, or to clear rent arrears, there may be services and grants available to you. <a href="/find-help/support/">Contact a local advice service</a> who may be able to suggest ways to get financial help based on your situation.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-situation-header">
          You are at risk of becoming homeless
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>It is really important to get the right advice as soon as you realise you are facing homelessness. If you think you might become homeless in the next 28 days, you can approach the council for help before you have to leave your house. They will advise you on what housing options and other services are available.
            <p>You can also seek advice from <a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter</a> or a <a href="/find-help/support/?subCatId=housing">local housing advice service</a>.</p>
            <p>If you are evicted or you need to leave to escape violence or abuse, then you should be entitled to support. If you choose to move out of a house that you don't like, the council might class you as 'intentionally homeless' and they don’t have to house you.</p>
          </div>
        </div>
      </div>

      <h2 class="h2 accom-advice__title">Types of accommodation</h2>

      <div class="accordion accordion--day js-accom-types-accordion">
        <button class="h3 accordion__header js-accom-types-header" id="supported">
          Supported accommodation
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>The supported living options available for you will depend on your location and situation. <a href="/find-help/accommodation/listing/">Browse local supported housing</a>. You may also be able to access floating support to stay in your own home.</p>
            <p>Your council will be able to advise you on what is available in your area, or you can visit a <a href="/find-help/dropin/timetable/">local drop in centre</a> or <a href="/find-help/support/?subCatId=housing">housing advice service</a>. They can give you individual advice and make referrals.</p>
            <p>To understand more about the different types of supported housing, read this <a href="http://england.shelter.org.uk/get_advice/housing_with_support">Shelter guide to supported housing</a>.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-accom-types-header" id="temporary">
          Temporary accommodation
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>Temporary accommodation is generally in a hostel or bed and breakfast. It should only be short-term while the council makes further enquiries into your situation. If the council decides you are not homeless, not eligible for assistance or not in priority need then you may have to leave the accommodation at short notice.</p>
            <p>You will need to pay for this accommodation, but if you claim benefits or are on a low income you may be able to get housing benefit to cover the cost. If the council have a duty of care for you and they have secured temporary accommodation for you, they will apply for housing benefit on your behalf.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-accom-types-header" id="settled">
          Settled accommodation
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>Settled accommodation is in a council or housing association accommodation, or a private rental tenancy. There are usually long waiting lists and you might be offered property in a different area than where you would like to be.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-accom-types-header" id="social">
          Social housing
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>Most councils have information about how to apply for social housing on their website, or you can <a href="https://www.gov.uk/apply-for-council-housing">use this search by postcode</a>.</p>
            <p>Most people can apply to go on their local council’s housing waiting list if you are <a href="http://england.shelter.org.uk/housing_advice/council_housing_association/who_is_eligible_to_apply_for_council_housing">eligible for assistance</a>, though some councils require you to have a local connection. There is generally a waiting list, so it is important to tell them you are facing homelessness early and be as flexible as you can. You can apply to more than one council and you can be on several lists at the same time. Waiting lists may be shorter in some areas.</p>
            <p>There can be issues if your account is restricted due to arrears, anti-social behaviour or criminal offences. If this happens you will need to go to the housing office that deals with your application, so they can advise you on what the issue is and what needs to be done to get you back on system.</p>
          </div>
        </div>

        <button class="h3 accordion__header js-accom-types-header" id="private">
          Private rentals
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>The advantage of renting privately is that you have more choice over where you live, near to schools and family support. It is also much quicker to find a private rented home than to wait for a social rented home. You can use the internet in the library to look for vacancies at B&amp;Bs and hostels across the Greater Manchester area. Access your social media accounts and speak to friends and family and see if they can help.</p>
            <p>Coming soon - list of sources for finding private rental accommodation</p>
          </div>
        </div>

        <button class="h3 accordion__header js-accom-types-header" id="uta">
          Unsupported temporary accommodation (B&amp;Bs)
          <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <p>B&amp;Bs can be an expensive alternative to temporary accommodation and are not always safe. The rooms are charged on a night by night basis, but in some cases you might be able to stay there for the week if they are quiet. They may allow you to claim housing benefits, but you need to check what entitlement you would receive before signing an arrangement.</p>
            <p>This accommodation varies in quality and there is generally no support available as the properties are run by private landlords. There may be a local service that can support you if you have issues whilst living in this type of accommodation. <a href="https://www.justlife.org.uk/">JustLife</a> specialise in supporting people close to the streets in Manchester and Brighton, and have good knowledge of common issues facing people living in this type of accommodation.</p>
            <p>If this is your only option, browse our <a href="/find-help/accommodation/listing/">list of unsupported temporary accommodation</a> near you.</p>
          </div>
        </div>

      </div>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
