---
title: Best Practice for Community-led support - Working together to tackle homelessness in Manchester
description: Protect your volunteers and the vulnerable people you support
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: toolkit
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item">Standards Toolkit</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--manchester">
  <div class="container container--location-header">
    <h1 class="h1 block__header">Standards Toolkit</h1>
    <h2 class="h2 block__sub-header">Guidance for volunteer-led support services</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Are you a volunteer-led group that provides support for people on the streets? We have put together this best practice guide to help you protect the vulnerable adults that use these services, your volunteers and members of the public.</p>
      <p>This toolkit makes it easier for you to develop and be recognised for the quality of your service. The information, training and support provided here supports you to ensure you have adequate standards and safeguarding in place.</p>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">What do I need to do?</h2>
      <ol class="best-practice-steps">
        <li>Download and read our <a href="/documents/standards-toolkit/Best-Practice-Guide-V4.1.pdf">Best Practice Guide</a>.</li>
        <li>Engage with <a href="/manchester/cor">Coalition of Relief</a> or support from an established organisations.</li>
        <li>Find <a href="/manchester/standards-toolkit/training">training</a> to help protect you, your volunteers and those you come into contact with.</li>
        <li>
          <p id="document-templates">Download suggested <a href="/documents/standards-toolkit/standards-toolkit-v4.1.zip">policy documents</a>:</p>
          <ul class="best-practice-steps__sub-list">
            <li><a href="/documents/standards-toolkit/Complaints Policy V4.docx">Complaints policy</a></li>
            <li><a href="/documents/standards-toolkit/Confidentiality Policy V4.docx">Confidentiality policy</a></li>
            <li><a href="/documents/standards-toolkit/Data Protection Policy V4.docx">Data protection policy</a></li>
            <li><a href="/documents/standards-toolkit/Equality and Diversity Policy V4.docx">Equality and Diversity policy</a></li>
            <li><a href="/documents/standards-toolkit/Financial Policy V4.docx">Financial policy</a></li>
            <li><a href="/documents/standards-toolkit/Health and Safety Policy V4.docx">Health and Safety Policy</a></li>
            <li><a href="/documents/standards-toolkit/Lone Working Policy V4.docx">Lone Working Policy</a></li>
            <li><a href="/documents/standards-toolkit/POVA Policy V4.docx">POVA Policy</a></li>
            <li><a href="/documents/standards-toolkit/Risk Assesment V4.doc">Risk Assesment</a></li>
            <li><a href="/documents/standards-toolkit/Risk Assessment Advice V4.docx">Risk Assessment Advice</a></li>
            <li><a href="/documents/standards-toolkit/Risk Assessment for Service User V4.docx">Risk Assessment for Service User</a></li>
            <li><a href="/documents/standards-toolkit/Safeguarding Children Policy V4.docx">Safeguarding Children Policy</a></li>
            <li><a href="/documents/standards-toolkit/Social Media Policy V4.docx">Social Media Policy</a></li>
            <li><a href="/documents/standards-toolkit/Volunteer Induction Process Advice V4.docx">Volunteer Induction Process Advice</a></li>
            <li><a href="/documents/standards-toolkit/Volunteer Policy V4.docx">Volunteer Policy</a></li>
            <li><a href="/documents/standards-toolkit/Whistleblowing Disclosure Policy V4.docx">Whistleblowing Disclosure Policy</a></li>
          </ul>
        </li>
        <li><a href="/manchester/standards-toolkit/apply">Apply</a> for a Best Practice standard.</li>
        <li>Access the <a href="/manchester/standards-toolkit/benefits">benefits</a>!</li>
      </ol>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>The mission of the partnership is to tackle homelessness, and to work together towards the values set out in <a href="https://charter.streetsupport.net">Manchester Homelessness Charter</a>. People experiencing homelessness have said that they want to maintain their dignity, and most prefer indoor services. Based on this feedback, we recommend street kitchens move inside where possible, and in the meantime avoid populated areas including Picadilly.</p>
      <p>Volunteers should signpost people into services that can offer other support. You can see what meals are already being provided through our <a href="/find-help/foodbank/timetable/">meals timetable</a>. For full information on all local services available, including <a href="/find-help/dropin/timetable/">drop in centres</a> and <a href="/find-help/support/timetable/">advice services</a>, please use our <a href="/find-help/">find help</a> section. If you have any questions or suggestions, please <a href="/manchester/standards-toolkit/get-in-touch/">get in touch</a>.</p>
    </div>
  </div>
</div>
