---
title: Severe Weather Emergency Accommodation in Southampton - Street Support
description: Severe Weather Emergency Accommodation provision in Southampton.
image: https://streetsupport.net/assets/img/og/street-support-southampton.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: southampton
page: southampton-advice
location: southampton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/southampton/">Southampton</a></li>
      <li class="breadcrumbs__item"><a href="/southampton/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="southampton" }}


<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Cold Weather Emergency Accommodation is currently available in Southampton from 4/11/19.  This means that additional emergency accommodation is now being provided by Southampton City Council and its partners for rough sleepers, who want shelter from the cold, although the official government criteria for  Severe Weather Emergency Provision is not yet formally met.</p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>
      <p>People needing emergency shelter can approach us themselves by attending at the Homeless Day Centre situated at 30 Cranbury Avenue</p><p>Please see <a href="https://streetsupport.net/find-help/organisation/?organisation=two-saints-ltd">Two Saints</a> for more information</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Members of the public can also notify the Street Homeless Prevention Team in Southampton if you are worried about a rough sleeper. You can contact the team by phoning them during office hours on <a href="02380832343">02380832343</a> or emailing them on <a href="mailtp:streethomeless@southampton.gov.uk">streethomeless@southampton.gov.uk</a>.</p>
      <p>As well as the cold weather provision there are extra beds within the city’s main homeless hostels during periods of severe cold weather. There are currently sufficient bed spaces for rough sleepers who are willing to accept an offer of accommodation.</p>
    </div>
  </div>
</div>

    {{> social-share}}

  </div>
</div>
