---
title: Give Help - Street Support
description: Street support makes it easier to help homeless people in Manchester. Here's some ways you can give help.
layout: default.hbs
permalink: false
jsBundle: giveHelp
section: givehelp
page: givehelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Give Help</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Give Help</h1>
    <h2 class="h2 block__sub-header">Find out what you can do to help</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <section class="block__section">
        <p>Whether it's offering your time, giving practical items, or making a donation - there is lots you can do to make a difference.</p>
      </section>
      <section class="block__section give-help__section">
        <div class="give-help__text">
          <h1 class="h1">Help</h1>
          <p>Local charities and voluntary groups supporting people who are homeless always need your support. You can either respond to their calls for specific items, skills and money, or pledge to help them when they next need it.</p>
        </div>
        {{>cta brand="e" link="help/" icon="give" name="Find out how you can help" label=""}}
      </section>
      {{>divider class="is-hidden--smallscreen"}}
      <section class="block__section give-help__section">
        <div class="give-help__text">
          <h1 class="h1">Donate</h1>
          <p>Donating to support local projects is a quick and effective way for you to help people who are homeless in your community. Giving in this way you can be sure your money is used where it is most needed, to help people make positive changes.</p>
        </div>
        {{>cta brand="e" link="donate/" icon="donate" name="Make a donation" label=""}}
      </section>
      <div id="js-charter-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content">
      <section class="block__section give-help__section--partnerships">
        <h1 class="h1">Street Support Partners</h1>
        <p>Street Support relies on sponsorship to continue our good work supporting homelessness organisations. To find out what we need, and the benefits for your organisation, follow the link below.</p>
        <a href="/give-help/partnership" class="btn btn--brand-e"><span class="btn__text">Become a Street Support Sponsor</span></a>
      </section>
    </div>
  </div>
</div>


<script id="js-charter-tpl" type="text/template">
\{{#isManchester}}
<section class="block__section give-help__section give-help__section--charter-info">
  <div class="give-help__section__inner give-help__section__inner--charter-info">
    <h1 class="give-help__title--charter-info">By the way&hellip;</h1>
    <p>Check out the <a href="https://charter.streetsupport.net">Manchester Homelessness Charter</a>, to pledge action to end homelessness in Manchester, and to find out more about our action groups.</p>
    <a href="https://charter.streetsupport.net" class="btn btn--brand-e give-help____button--charter-info"><span class="btn__text">Read more about the Charter</span></a>
  </div>
</section>
\{{/isManchester}}
</script>
