---
title: Give Help - Street Support
description: Street support makes it easier to help people facing homelessness in Manchester. Here's some ways you can give help.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: give-help
section: givehelp
page: givehelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Give Help</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Give Help</h1>
    <h2 class="h2 block__sub-header">Find out what you can do to help</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <section class="block__section">
        <p>Whether it's offering your time, giving practical items, making a donation or help change policies - there is lots you can do to make a difference.</p>
      </section>
      {{!-- <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--hand">Volunteer For Good</h2>
        <p>Learn all about maximising your volunteering in Greater Manchester's homelessness sector.</p>
        <a href="/greater-manchester/volunteer-for-good" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Learn more</span>
        </a>
      </article> --}}
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--help">What's needed?</h2>
        <p>Local charities and voluntary groups need your support. Take a look at what items, skills and monetary donations are currently needed near you.</p>
        <a href="/give-help/help" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">See what you can give</span>
        </a>
      </article>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--card">Donate</h2>
        <p>Donate to local organisations and campaigns in your area.</p>
        <a href="/give-help/donate" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Give money</span>
        </a>
      </article>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--briefcase">Get your business involved</h2>
        <p>By supporting the movement to tackle homelessness, you can play a key role in supporting charities and volunteer groups, and help to change policy.</p>
        <a href="/give-help/business-support" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">See how to support us</span>
        </a>
      </article>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--form">Register as a volunteer</h2>
        <p>Offer your skills and resources to an organisation near you.</p>
        <a href="/give-help/volunteer" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Register as a volunteer</span>
        </a>
      </article>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--kettle">Offer spare items / food</h2>
        <p>Organisations and charities always need items to help with a variety of tasks and services, from hot drink supplies to IT equipment.</p>
        <a href="/give-help/offer-items" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Donate spare items</span>
        </a>
      </article>
      <article class="card card--cta card--grid-1-of-3">
        <h2 class="h2 card__title card__title--street-support">Help Street Support</h2>
        <p>We are a small independent team and rely on funding from businesses and individuals to keep running.</p>
        <a href="https://www.justgiving.com/streetsupportnetwork" class="btn btn--brand-e btn--always-full">
          <span class="btn__text">Donate to Street Support</span>
        </a>
      </article>
    </div>
  </div>
</div>

<!-- ko if: hasCampaigns -->
<div class="block">
  <div class="container">
    <h1 class="h1">Local Campaigns</h1>
    <p>Campaigns currently running in <span data-bind="text: locationName"></span>:</p>
    <p></p>
  </div>
</div>

  <!-- ko if: abenIsEnabled -->
  {{> locations/banners/vol-for-good }}
  <!-- /ko -->

  <!-- ko if: abenIsEnabled -->
  {{> locations/gm-banner }}
  <!-- /ko -->

  <!-- ko if: bigChangeIsEnabled -->
  {{> locations/banners/real-change-mcr }}
  <!-- /ko -->

  <!-- ko if: isManchester -->
  {{> locations/banners/migrant-destitution-fund-banner }}

  <!-- /ko -->


  <!-- ko if: realChangeIsEnabled -->
  <!-- ko if: isWiganRealChangeTemplate -->
  {{> locations/banners/real-change-banner-wigan-and-leigh }}
  <!-- /ko -->
  <!-- ko if: isRochdaleRealChangeTemplate -->
  {{> locations/banners/real-change-banner-rochdale }}
  <!-- /ko -->
  <!-- ko if: isBournemouthTemplate -->
  {{> bcp/bcp-change-for-good }}
  <!-- /ko -->
  <!-- ko if: isDefaultTemplate -->
  <div class="block" style="background: #FBBF09">
    <div class="container">
      <h1><span data-bind="text: realChangeTitle"></span> in <span data-bind="text: locationName"></span></h1>
      <p><span data-bind="text: realChangeTitle"></span> pays for practical items individuals need to build independent lives away from the streets. If everyone who lives, works or visits <span data-bind="text: locationName"></span> donates, together we can make a Real Change!</p>
      <a class="btn btn--big-change" data-bind="attr: { href: realChangeUrl }">
        <span class="btn__text">Check out <span data-bind="text: realChangeTitle"></span></span>
      </a>
    </div>
  </div>
  <!-- /ko -->
  <!-- /ko -->

<!-- /ko -->
