---
title: UK Network Co-ordinator
description: Jobs in helping end homelessness
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: jobs
page: uk-network-coordinator
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about">About</a></li>
      <li class="breadcrumbs__item"><a href="/about/jobs">Jobs</a></li>
      <li class="breadcrumbs__item">UK Network Co-ordinator</li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="container">
    <h1 class="h1 block__header">Street Support Network - UK Network Co-ordinator</h1>
    <div class="card__details">
      <dl class="card__details-dictionary">
        <dt class="card__details-dictionary-title">Job Title:</dt>
        <dd class="card__details-dictionary-desc">UK Network Co-ordinator</dd>

        <dt class="card__details-dictionary-title">Responsible To:</dt>
        <dd class="card__details-dictionary-desc">Gary Dunstan</dd>

        <dt class="card__details-dictionary-title">Salary:</dt>
        <dd class="card__details-dictionary-desc">£20-25k (depending on experience &amp; working hours)</dd>

        <dt class="card__details-dictionary-title">Working Hours:</dt>
        <dd class="card__details-dictionary-desc">Flexible</dd>

        <dt class="card__details-dictionary-title">Duration:</dt>
        <dd class="card__details-dictionary-desc">12 months</dd>

        <dt class="card__details-dictionary-title">Closing date for applications:</dt>
        <dd class="card__details-dictionary-desc">28th February 2019</dd>
      </dl>
    </div>
    <h2>Overview</h2>
    <p>This is a great opportunity for someone who understands the challenges faced by people experiencing homelessness to really make a difference - supporting partnerships working in locations across the UK to end homelessness.</p>
    <h2>Purpose</h2>
    <p>The purpose of the role is to support locations across the UK to maximise the benefits of being part of Street Support Network, to embed co-production and partnership, engage with the online tools and communication, and share learning and best practice across locations. With this additional capacity it will be easier for us to support collaboration, communication and co-production across our network UK wide.</p>
    <h2>What you will be doing (Job Description)</h2>
    <p>The role involves supporting local administrators in using Street Support Network tools and building partnerships in their locations.</p>
      <ul>
        <li>Building relationships &amp; supporting local co-ordinators:
          <ul>
            <li>Regular contact with our existing local partnership co-ordinators.</li>
            <li>Supporting locations with updates, communications, issues and questions, and gathering feedback and insights.</li>
            <li>Encouraging our core values including co-production in other locations.</li>
            <li>Sharing learning from our work in GM and between locations.</li>
            <li>Convening conversations as required between locations.</li>
          </ul>
        </li>
        <li>Linking experiences in locations back into our central team:
          <ul>
            <li>Feeding back insights and learning from locations into our team and strategy.</li>
            <li>Helping us to communicating messages out to different audiences (linking with our Communications &amp; Marketing co-ordinator).</li>
            <li>Working with spreadsheets/databases to help us keep track of different contacts and projects.</li>
            <li>Monitoring impact and reporting back experiences.</li>
        </li>
          </ul>
        <li>Engaging new locations.
          <ul>
            <li>Supporting Gary to connect with people in new locations who are interested in Street Support Network in their area, following up on leads and enquiries.</li>
          </ul>
        </li>
        <li>Collecting &amp; sharing feedback &amp; local news from across locations.
          <ul>
            <li>Support setup of communication channels in locations and through our central site.</li>
          </ul>
        </li>
      </ul>
    <h2>What we are looking for (Person Specification)</h2>
    <p>Applicants need to have good attention to detail, strong organisation and communication skills, have understanding of different perspectives, be flexible and friendly.</p>
    <p>You will need to develop an understanding of local organisations and people, what's needed in different areas, and be sensitive to relationship dynamics. You will need to be objective and neutral, acting on behalf of the whole network, and willing to travel independently as needed.</p>
    <p>We are an adaptive and open organisation, feedback and learning are an important part of our culture. You will need to take personal responsibility for embedding our team vision and values into this role.</p>
    <p>No specific technical knowledge is required, but you will need to be comfortable using digital tools, including spreadsheets/databases, organisational tools email. You will need to learn how to use our admin system, to post needs, organisation information and news articles. Training will be provided. Social media knowledge is an advantage.</p>
    <p>Personal insight into homelessness or experience of partnership working is an advantage.</p>
    <p>The working hours are flexible, based around the needs of the applicant and the role. We offer 25 days holiday a year.</p>
    <p>Appointment is subject to a satisfactory references. There will be a 12 week probationary period.</p>
    <a href="https://goo.gl/forms/CMB5bbZ1PbGd7EZF3" class="btn btn--brand-e btn--full">
      <span class="btn__text">Apply</span>
    </a>
</div>


