---
title: Street Support chelmsford - Working together to tackle homelessness in Chelmsford
description: Street Support - Find help, and give help, to support people who are homeless in Chelmsford
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: nottingham.hbs
permalink: false
jsBundle: generic
section: moneyhelp
page: moneyhelp
location: chelmsford
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/chelmsford">Chelmsford</a></li>
      <li class="breadcrumbs__item">Money help services</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header" style="height: 250px;">
    <h1 class="h1 block__header">Street Support Chelmsford</h1>
    <h2 class="h2">Money Help Services</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Warm Spaces</h1>
      <ul>
        <li>Free and low-cost local places to keep warm this winter</li>
        <li>Find out more in this <a target="_blank" href="/chelmsford/money-help-services/warm-spaces.pdf">warm spaces document</a></li>
      </ul>

      <h1 class="h1">Advice Services</h1>

      <h2 class="h2">Citizens Advice</h2>
      <ul>
        <li>Call on <a href="tel:08001448848">0800 1448848</a></li>
        <li>Advice with <a target="_blank" href="https://www.citizensadvice.org.uk/benefits/">benefits</a>.</li>
        <li>Advice with <a target="_blank" href="https://www.citizensadvice.org.uk/debt-and-money/">debt and money</a>.</li>
      </ul>

      <h2 class="h2">Peabody</h2>
      <ul>
        <li>Call on: <a href="tel:08002888883">0800 2888883</a></li>
        <li>Website: <a target="_blank" href="https://www.peabody.org.uk/">https://www.peabody.org.uk/</a></li>
      </ul>

      <h2 class="h2">Central Law CIC</h2>
      <ul>
        <li>Tel: <a href="tel:01245951300">01245 951300 </a></li>
        <li>Website: <a target="_blank" href="https://centrallawcic.co.uk/">https://centrallawcic.co.uk/</a></li>
        <li>Group for <a target="_blank" href="https://www.facebook.com/groups/housinglawadvice/">housing law advice</a>.</li>
      </ul>

      <h2 class="h2">Help claiming Universal Credit</h2>
      <ul>
        <li>Call: <a href="tel:0800 144 8444">0800 144 8444</a>.</li>
        <li>Website: <a target="_blank" href="https://www.gov.uk/universal-credit/how-to-claim">https://www.gov.uk/universal-credit/how-to-claim</a>.</li>
      </ul>

      <h2 class="h2">Turn2us</h2>
      <ul>
        <li>Tel: <a href="tel:0808 802 2000">0808 802 2000</a>.</li>
        <li>Website: <a target="_blank" href="https://www.turn2us.org.uk/Get-Support">https://www.turn2us.org.uk/Get-Support</a>.</li>
      </ul>

      <h2 class="h2">Home Group</h2>
      <ul>
        <li>Tel: <a href="tel:0345141663">0345 141663</a>.</li>
        <li>Website: <a target="_blank" href="https://www.homegroup.org.uk/manage-my-home/renters/money-benefits-and-wellbeing-advice/?filter=benefitsadvice#filter">https://www.homegroup.org.uk/manage-my-home/</a>.</li>
      </ul>

      <h1 class="h1">Welfare</h1>

      <h2 class="h2">Chelmsford County Council ESF Welfare</h2>
      <ul>
        <li>Help with paying bills customer support centre <a href="tel: 01245 606606">01245 606606</a>.</li>
        <li>Drop in for emergencies: Civic Centre, Duke Street, Chelmsford, Essex, CM1 1JE</li>
        <li>Website: <a target="_blank" href="https://www.billhelp.uk/grants-help-paying-bills/">https://www.billhelp.uk/grants-help-paying-bills/</a>.</li>
      </ul>

      <h2 class="h2">Essex Welfare Service</h2>
      <ul>
        <li>Tel: <a href="tel: 0300 3039988">0300 3039988</a>.</li>
        <li>Website: <a target="_blank" href="https://www.essexwellbeingservice.co.uk/">https://www.essexwellbeingservice.co.uk/</a>.</li>
      </ul>

      <h1 class="h1">Pension age benefits and help</h1>

      <h2 class="h2">Age UK</h2>
      <ul>
        <li>Tel: <a href="tel:08006781602">0800 6781602</a>.</li>
        <li><a target="_blank" href="https://www.ageuk.org.uk/information-advice/money-legal/cost-of-living/">Cost of living advice</a>.</li>
        <li><a target="_blank" href="https://www.ageuk.org.uk/information-advice/money-legal/benefits-entitlements/">Advice about benefits</a>.</li>
        <li><a target="_blank" href="https://www.ageuk.org.uk/information-advice/money-legal/debt-savings/">Debt advice</a>.</li>
      </ul>

      <h1 class="h1">Advice for Tenants and budgeting</h1>

      <h2 class="h2">Chelmsford County Council</h2>
      <ul>
        <li>Tel: <a href="tel:01245606606">01245 606606</a>.</li>
        <li><a target="_blank" href="https://www.chelmsford.gov.uk/housing/tenants/advice-for-tenants/">Advice for tenants</a>.</li>
      </ul>

      <h2 class="h2">Peabody</h2>
      <ul>
        <li>Tel: <a href="tel: 08002888883">0800 2888883</a>.</li>
        <li><a target="_blank" href="https://www.peabody.org.uk/supporting-you/benefits-and-budgeting/">Benefits and budgets advice</a>.</li>
        <li><a target="_blank" href="https://www.peabody.org.uk/your-home/safer-communities/tenant-and-family-support">Tenant and family advice</a>.</li>
      </ul>

      <h2 class="h2">Citizens Advice</h2>
      <ul>
        <li>Tel: <a href="tel:08001448848">0800 1448848</a>.</li>
        <li><a target="_blank" href="https://www.citizensadvice.org.uk/housing/">Housing advice</a>.</li>
        <li><a target="_blank" href="https://www.citizensadvice.org.uk/debt-and-money/">Debt and money advice</a>.</li>
      </ul>

      <h1 class="h1">Community Money Advice Centres (debt)</h1>

      <h2 class="h2">CAP Debt help centre in partnership with Danbury Mission Church</h2>
      <ul>
        <li>Call via the national CAP number: <a href="tel:08003280006">0800 3280006</a>.</li>
        <li>Website: <a target="_blank" href="https://capuk.org/contact-us">https://capuk.org/contact-us</a>.</li>
      </ul>

      <h1 class="h1">Step Change Debt Charity (national)</h1>
      <p>Multiple ways get to get in touch but if telephoning, then see the information needed to have ready before calling.</p>
      <ul>
        <li>Website: <a target="_blank" href="https://www.stepchange.org">https://www.stepchange.org</a>.</li>
      </ul>

      <h1 class="h1">National Debt Line (national)</h1>
      <p>Multiple ways get to get in touch but if telephoning, then see the information needed to have ready before calling.</p>
      <ul>
        <li>Website: <a target="_blank" href="https://www.nationaldebtline.org">https://www.nationaldebtline.org</a>.</li>
      </ul>

      <h1 class="h1">If you are a victim of a Loan Shark (illegal money lender)</h1>

      <h2 class="h2">Illegal Money Lending Team (National)</h2>
      <ul>
        <li>Tel: <a href="tel:0300555222">0300 555222</a>(24/7).</li>
        <li>Website: <a target="_blank" href="https://www.stoploansharks.co.uk/who-we-are/#:~:text=We%20have%20a%20100%25%20safe,in%20the%20strictest%20of%20confidence">https://www.stoploansharks.co.uk/who-we-are/#:~:text=We%20have%20a%20100%25%20safe,in%20the%20strictest%20of%20confidence</a>.</li>
        <li>Training and awareness sessions are available also for staff and community groups</li>
      </ul>

      <h1 class="h1">Affordable warmth /energy</h1>

      <h2 class="h2">Peabody</h2>
      <ul>
        <li>Tel: <a href="0800 2888883">0800 2888883</a>.</li>
        <li><a target="_blank" href="https://www.peabody.org.uk/supporting-you/are-you-ready-for-winter/">Energy saving advice</a>.</li>
      </ul>

      <h2 class="h2">Citizens Advice</h2>
      <ul>
        <li>Tel: <a href="tel:08001448848">0800 1448848</a>.</li>
        <li><a target="_blank" href="https://www.citizensadvice.org.uk/consumer/energy/energy-supply/">Advice on energy</a>.</li>
      </ul>

      <h2 class="h2">Chelmsford County Council</h2>
      <ul>
        <li>Tel: <a href="tel:01245606606">01245 606606</a>.</li>
        <li><a target="_blank" href="https://www.chelmsford.gov.uk/communities/extra-help-for-residents/">Extra help for residents</a>.</li>
      </ul>

      <h1 class="h1">Financial Capability and Learning About Money – Websites</h1>

      <ul>
        <li><a target="_blank" href="https://www.moneyhelper.org.uk/en?source=mas#">Money helper</a></li>
        <li><a target="_blank" href="https://www.citizensadvice.org.uk">Citizens Advice</a></li>
        <li><a target="_blank" href="https://www.moneysavingexpert.com">Money Saving Expert</a></li>
      </ul>

      <h1 class="h1">Drop-in and Other Help</h1>

      <h2 class="h2">Ideas Hub Chelmsford </h2>
      <ul>
        <li>offers 3 x free legal sessions on Mondays 10am-1pm</li>
        <li>at The Art Place, Meadows Shopping centre, Chelmsford CM2 6FD</li>
        <p>To book call: <a href="tel:07964805397">07964 805397</a> - Debora Aloba from Affordable Law (does not cover criminal or immigration, can prepare clients for court and accompanies on occasion).</p>
      </ul>

      <p>Peabody offer a ‘drop-in’ service, people can attend and get free advice. The timetable is as follows:</p>
      <img style="width: 700px;" src="/chelmsford/peabody-dropin.png" alt="peabody dropin timetable">

      <h2 class="h2">Peabody Essex Outreach</h2>
      <ul>
        <li>Tel: <a href="tel:0800 288 8883">0800 288 8883</a>.</li>
        <li>Email: <a href="mailto:efsco-ordinator@peabody.org.uk">efsco-ordinator@peabody.org.uk</a>.</li>
        <li>Website: <a target="_blank" href="https://www.peabody.org.uk/cs-services/outreach">https://www.peabody.org.uk/cs-services/outreach</a>.</li>
      </ul>

      <h2 class="h2">Baby Basics</h2>
      <ul>
        <li>Part of the community activities from: Moulsham Lodge Methodist Church, Lime Walk, Chelmsford, CM2 9NJ</li>
        <li>Tel: <a href="tel:07895 904594">07895 904594</a></li>
        <li>Email: <a href="mailto:babybasicschelmsford@gmail.com">babybasicschelmsford@gmail.com</a></li>
        <li>https://baby-basics.org.uk/</li>
        <li>Offers help and support to new mothers or families who are struggling to meet the finacial and practical burden of looking after a new baby. Clothing bank, baby equipment etc, see a list here: https://baby-basics.org.uk/how-to-get-involved/giving-supplies/</li>
      </ul>

      <h2 class="h2">Growbaby Chelmsford</h2>
      <ul>
        <li>199 – 200 Moulsham Street, Chelmsford, CM2 0LG</li>
        <li>Opening hours: 10am – 12.00 (Saturday monthly) 10am – 1pm (Wednesday weekly)</li>
        <li>Tel: <a href="tel:07564 982595">07564 982595</a></li>
        <li>Email: <a href="mailto:growbaby@chelmsfordvineyard.org">growbaby@chelmsfordvineyard.org</a></li>
        <li>https://www.growbaby.org/directory/growbaby-chelmsford</li>
      </ul>

      <h2 class="h2">SVP Springfield (st Vincent De Paul)</h2>
      <ul>
        <li>Beardsley Drive, Springfield, Chelmsford, CM1 6GQ</li>
        <li>Tel: <a href="tel:03300436474">03300436474</a> email: <a href="mailto:furniturespringfield@svp.org.uk">furniturespringfield@svp.org.uk</a>.</li>
        <li>Website: <a target="_blank" href="https://www.svp.org.uk/?fbclid=IwAR2c_FZHufK7_9XzT5SmCb1DPmZfnn58QCvMDtBTD5Ht6RH0U3Dzz0sisQE">https://www.svp.org.uk/?fbclid=IwAR2c_FZHufK7_9XzT5SmCb1DPmZfnn58QCvMDtBTD5Ht6RH0U3Dzz0sisQE</a>.</li>
      </ul>

      <h2 class="h2">White goods, furniture (including beds), kitchen equipment etc. List here:</h2>
      <h2 class="h2">Lighthouse Furniture Project LTD</h2>
      <ul>
        <li>25/27 Tallon Road, Brentwood, Essex, CM13 1TE</li>
        <li>Tel: <a href="tel:01277 222050">01277 222050</a></li>
        <li>Email: <a href="mailto:admin@lighthousefurniture.org">admin@lighthousefurniture.org</a></li>
        <li>Website: <a href="http://www.lighthousefurniture.org/">http://www.lighthousefurniture.org/</a></li>
        <li>Opening hours: Monday: 9.30am – 4.30pm | Tuesday – Friday: 9.00am – 4.30pm | Saturday: 9.00am- 12.30pm</li>
        <li>(Telephone is not manned at the weekend) Offer discounted furniture, white goods and household products (including electrical items, kitchen ware and bedding). Some items may be free of charge depending on circumstance.</li>
      </ul>

      <h2 class="h2">Little Edi Foundation:</h2>
      <ul>
        <li>585 Galleywood Road, Chelmsford Essex, CM2 8BS</li>
        <li>Tel: <a href="tel:07859 815929">07859 815929</a></li>
        <li>Email: <a href="mailto:littleedifoundation@gmail.com">littleedifoundation@gmail.com</a></li>
        <li>Creates development opportunities for disadvantaged young people from local areas this may include giving aid including fresh food, toys, school equipment and uniform, volunteering and organising events for the younger children and have a summer scheme.</li>
      </ul>

      <h2 class="h2">St Francis Community Pop-up Food Store</h2>
      <ul>
        <li>Tuesday 9.30am – 11.00am at Ford End Village Hall, Main Road, Ford End, Chelmsford, CM3 1LQ</li>
        <li>Tuesday 2.00pm – 4.00pm at St Andrews Church Hall, Chignal Road, Melbourne, Chelmsford, CM1 2JB</li>
      </ul>
      <h3 class="h3">A Helping hand with your weekly shop.</h3>
      <p>First visit, you pay a one-off £10.00 membership fee, you will receive a special pop-up store bag-for-life and your first shop. Subsequent visits, you bring your pop-up shopping bag to fill with shopping, you pay £5.00 and receive shopping worth £20.00 - £30.00. There is also a welcome space for a cuppa and a chat.</p>
    </div>
  </div>
{{> social-share}}
</div>


