---
title: Severe Weather Emergency Accommodation in Dudley - Street Support
description: Severe Weather Emergency Accommodation provision in Dudley.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: dudley
page: dudley-advice
location: dudley
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/dudley/">Dudley</a></li>
      <li class="breadcrumbs__item"><a href="/dudley/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="dudley" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, emergency accommodation is provided by councils. The council's Homeless Prevention and Response Team is the single point of contact for homelessness in Dudley and will work with you to source suitable accommodation. This can range from a temporary overnight stay in somewhere warm and safe to arranging longer term housing options.</p>
      <ul>
        <li>Tel: <a href="tel:0300 555 2345">0300 555 2345</a> (If you dial this number outside of normal office hours you will be directed to the duty out of hours service)</li>
        <li>Monday - Friday</li>
        <li>8:30am - 5:30pm</li>
        <li><span class="bold">Out of hours emergency telephone number: <a href="tel:0300 555 8283">0300 555 8283</a></span>.</li>
      </ul>

    {{> social-share}}

  </div>
</div>
