
<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--scah"><a href="https://www.scah.org.uk/">{{> icon name="scah"}}</a></li>
  <li class="partners__logo partners__logo--sol-foodbank"><a href="https://www.trusselltrust.org/get-help/find-a-foodbank/kingfisherfoodbank//">{{> icon name="sol-foodbank"}}</a></li>
  <li class="partners__logo partners__logo--solihull-ca"><a href="http://www.casb.org.uk/">{{> icon name="solihull-ca"}}</a></li>
  <li class="partners__logo partners__logo--solihull-council"><a href="https://www.solihull.gov.uk/">{{> icon name="solihull-council"}}</a></li>
</ul>
