---
title: Accommodation - Street Support
description: Accommodation available in your area
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: accomListing
section: findhelp
page: find-help-accom
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/accommodation">Accommodation</a></li>
        <li class="breadcrumbs__item">Listing</li>
    </ol>
  </div>
</div>

{{> accommodation/header }}
{{> accommodation/view-tabs listSelected="true" }}

<div class="block block--cards">
  <div class="container">
    <div class="block__content">
      <!-- ko ifnot: dataIsLoaded -->
      <p class="text-center">Please wait whilst we load information.</p>
      <!-- /ko -->

      <!-- ko if: dataIsLoaded -->
      <div class="accommodation-listing">
        {{> accommodation-filter-menu }}
        <section class="cards__list cards__list--single-col">
          <!-- ko if: noItemsAvailable -->
            <!-- ko template: { name: 'no-accommodation' } --><!-- /ko -->
          <!-- /ko -->
          <!-- ko ifnot: noItemsAvailable -->
            <!-- ko template: { name: 'accommodation-listing' } --><!-- /ko -->
            <!-- ko if: nextPageEndpoint -->
            <button class="btn btn--brand-e btn--centred" data-bind="click: loadNext">
              <span class="btn__text">Load More</span>
            </button>
            <!-- /ko -->
          <!-- /ko -->
        </section>
      </div>
      <!-- /ko -->
      {{> social-share}}
    </div>
  </div>
</div>

{{> loading-spinner }}

<script type="text/html" id="no-accommodation">
  <!-- ko if: locationName -->
  <p>Sorry, there are no accommodation entries listed that meet your requirements. Please use review your selections, and try again.</p>
  <!-- /ko -->
  <!-- ko ifnot: locationName -->
  <p>Please enter a postcode to find accommodation near you.</p>
  <!-- /ko -->
  <p>If you know of local organisations that could be included, please use our <a href="/register">registration form</a>.</p>
</script>

<script type="text/html" id="accommodation-listing">
  <div data-bind="foreach: items">
    <article class="card card--brand-h card--big">
      <div class="card__title">
        <h1 class="h2">
          <a data-bind="attr: { href: detailsUrl }">
            <span data-bind="html: name"></span>
          </a>
        </h1>
        <p data-bind="html: synopsis"></p>
      </div>
      <div class="card__details">
        <!-- ko if: referralIsRequired --><p class="accommodation-listing__referral-notice">A referral is required for this property</p><!-- /ko -->
        <dl class="card__details-dictionary">
          <dt class="card__details-dictionary-title">Type:</dt>
          <dd class="card__details-dictionary-desc" data-bind="text: accommodationType"></dd>
          <dt class="card__details-dictionary-title">Address:</dt>
          <dd class="card__details-dictionary-desc" data-bind="html: address"></dd>
        </dl>
        <a data-bind="attr: { href: detailsUrl }">More information</a>
      </div>
    </article>
  </div>
</script>
