---
title: Accommodation - Street Support
description: Accommodation available in your area
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: accomListing
section: findhelp
page: accomListing
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/accommodation">Accommodation</a></li>
        <li class="breadcrumbs__item">Listing</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h2 class="h1  block__header block__header--find-help has-icon--left">
      <svg class="block__header__icon--find-help svg-accom-dims">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{site.url}}assets/svgsprite.svg#accom"></use>
      </svg>
      Accommodation
    </h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      {{> accommodation-listing-header }}

      <!-- ko ifnot: dataIsLoaded -->
      <p class="text-center">Please wait whilst we load information.</p>
      <!-- /ko -->

      <!-- ko if: dataIsLoaded -->
      {{> accommodation-view-options listing="true" }}

        <div class="accommodation-listing">
          <aside class="accommodation-listing__filter">
            <h1 class="h2 accommodation-listing__filter-heading" data-bind="click: toggleFilterDisplay, css: {open: displayFilter}">Filter Results
              <span class="accommodation-listing__filter-toggle accommodation-listing__filter-toggle--is-open">-</span>
              <span class="accommodation-listing__filter-toggle accommodation-listing__filter-toggle--is-closed">+</span>
            </h1>
            <div class="accommodation-listing__filter-container" data-bind="css: {open: displayFilter}">
              <div class="accommodation-listing__filter-facets">
                <h2 class="h3">Location:</h2>
                <ul class="accommodation-listing__filter-facet-group">
                  <li>
                    <label class="accommodation-listing__filter-facet-options-title">Near postcode:</label>
                    <input type="text" data-bind="textInput: locationName" class="form__input form__input--inline form__input--short accommodation-listing__postcode-filter" />
                  </li>
                </ul>

                <h2 class="h3">Suitable For:</h2>
                <ul class="accommodation-listing__filter-facet-group" data-bind="foreach: residentCriteriaFilters">
                  <li>
                    <dl class="accommodation-listing__filter-facet-options">
                      <dt class="accommodation-listing__filter-facet-options-title" data-bind="text: labelText"></dt>
                      <dd class="accommodation-listing__filter-facet-options-radio"><label class="accommodation-listing__filter-facet-options-radio-container"><input type="radio" value="true" data-bind="attr: { name: dataFieldName }, checked: value, checkedValue: true" /> Yes</label></dd>
                      <dd class="accommodation-listing__filter-facet-options-radio"><label class="accommodation-listing__filter-facet-options-radio-container"><input type="radio" value="false" data-bind="attr: { name: dataFieldName }, checked: value, checkedValue: false" /> No</label></dd>
                    </dl>
                  </li>
                </ul>
              </div>
              <div class="accommodation-listing__filter-btns">
                <button class="btn btn--brand-e" data-bind="click: updateListing">
                  <span class="btn__text">update</span>
                </button>
                <button class="btn btn--brand-f" data-bind="click: resetFilter">
                  <span class="btn__text">reset</span>
                </button>
              </div>
            </div>
          </aside>
          <section class="accommodation-listing__listing">
            <!-- ko if: noItemsAvailable -->
              <!-- ko template: { name: 'no-accommodation' } --><!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: noItemsAvailable -->
              <!-- ko template: { name: 'accommodation-listing' } --><!-- /ko -->
            <!-- /ko -->
          </section>
          </div>
        <!-- /ko -->
      {{> social-share}}
    </div>
  </div>
</div>

{{> loading-spinner }}

<script type="text/html" id="no-accommodation">
  <p>Sorry, there are no accommodation entries listed that meet your requirements. Please use review your selections, and try again.</p>
</script>

<script type="text/html" id="accommodation-listing">
  <div data-bind="foreach: items">
    <article class="accommodation-listing__listing-item" data-bind="css: { 'accommodation-listing__listing-item--isActive': isActive }">
      <h1 class="h2 accommodation-listing__listing-heading">
        <a data-bind="attr: { href: detailsUrl }">
          <span data-bind="html: name"></span>
        </a>
      </h1>
      <h2 class="h3" data-bind="html: address"></h2>
      <!-- ko if: referralIsRequired --><p class="accommodation-listing__referral-notice">A referral is required for this property</p><!-- /ko -->
      <div class="accommodation-listing__listing-item-body">
        <div class="accommodation-listing__listing-item-details">
          <p data-bind="html: synopsis"></p>
          <ul class="accommodation-list__listing-features">
            <li class="accommodation-list__listing-features-item">Type: <span data-bind="text: accommodationType"></span></li>
            <!-- ko ifnot: referralIsRequired --><li class="accommodation-list__listing-features-item">No referral required</li><!-- /ko -->
          </ul>
        </div>
        <a class="btn btn--brand-d accommodation-list__listing-view-more-btn" data-bind="attr: { href: detailsUrl }">
          <span class="btn__text">View Details</span>
        </a>
      </div>
    </article>
  </div>
  <!-- ko if: nextPageEndpoint -->
  <button class="btn btn--brand-e" data-bind="click: loadNext">
    <span class="btn__text">Load More</span>
  </button>    
  <!-- /ko -->
</script>