---
title: Accommodation - Street Support
description: Accommodation available in your area
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: accomListing
section: findhelp
page: accomListing
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/accommodation">Accommodation</a></li>
        <li class="breadcrumbs__item">Listing</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h2 class="h1  block__header block__header--find-help has-icon--left">
      <svg class="block__header__icon--find-help svg-accom-dims">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{site.url}}assets/svgsprite.svg#accom"></use>
      </svg>
      Accommodation
    </h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
        <div class="text-center">
          <p>Finding suitable and available accommodation can be difficult when you are experiencing homelessness. To find out what your options are, <a href="/find-help/support">visit local services that can give one to one advice</a>, or read our <a href="/find-help/accommodation/advice">advice guide</a>.</p>
          <a href="/find-help/accommodation/advice" class="btn btn--brand-g">
            <span class="btn__text">Read our guide to finding accommodation</span>
          </a>
        </div>

        <!-- ko ifnot: dataIsLoaded -->
        <p class="text-center">Please wait whilst we load information.</p>
        <!-- /ko -->
      
        <!-- ko if: dataIsLoaded -->
          <!-- ko if: noItemsAvailable -->
            <!-- ko template: { name: 'no-accommodation' } --><!-- /ko -->
          <!-- /ko -->
          <!-- ko ifnot: noItemsAvailable -->
            <!-- ko template: { name: 'accommodation-listing' } --><!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->
      {{> social-share}}
    </div>
  </div>
</div>

{{> loading-spinner }}

<script type="text/html" id="no-accommodation">
  <p class="text-center">Sorry, there are no accommodation entries listed near your location. Please select a supported location above.</p>
</script>

<script type="text/html" id="accommodation-listing">
  <div class="accommodation-listing">
    <aside class="accommodation-listing__filter">
      <h1 class="h2 accommodation-listing__filter-heading" data-bind="click: toggleFilterDisplay, css: {open: displayFilter}">Filter Accommodation
        <span class="accommodation-listing__filter-toggle accommodation-listing__filter-toggle--is-open">-</span>
        <span class="accommodation-listing__filter-toggle accommodation-listing__filter-toggle--is-closed">+</span>
      </h1>
      <div class="accommodation-listing__filter-facets" data-bind="css: {open: displayFilter}">
        <h2 class="h3">Type:</h2>
        <ul class="accommodation-listing__filter-facet-options" data-bind="foreach: typeFilters">
          <li><label>
            <input type="radio" name="typeFilter" data-bind="checked: $parent.selectedTypeFilterName, attr: { value: typeName }" />
            <span data-bind="text: typeName"></span>
          </label></li>
        </ul>
        <h2 class="h3">Accepts Pets:</h2>
        <ul class="accommodation-listing__filter-facet-options">
          <li><label>
            <input type="radio" name="pets" checked />
            <span>Don't Mind</span>
          </label></li>
          <li><label>
            <input type="radio" name="pets" />
            <span>Yes</span>
          </label></li>
          <li><label>
            <input type="radio" name="pets" />
            <span>No</span>
          </label></li>
        </ul>
        <h2 class="h3">Accepts Housing Benefits:</h2>
        <ul class="accommodation-listing__filter-facet-options">
          <li><label>
            <input type="radio" name="housingbenefit" checked />
            <span>Don't Mind</span>
          </label></li>
          <li><label>
            <input type="radio" name="housingbenefit" />
            <span>Yes</span>
          </label></li>
          <li><label>
            <input type="radio" name="housingbenefit" />
            <span>No</span>
          </label></li>
        </ul>
        <h2 class="h3">Accepts Couples:</h2>
        <ul class="accommodation-listing__filter-facet-options">
          <li><label>
            <input type="radio" name="couples" checked />
            <span>Don't Mind</span>
          </label></li>
          <li><label>
            <input type="radio" name="couples" />
            <span>Yes</span>
          </label></li>
          <li><label>
            <input type="radio" name="couples" />
            <span>No</span>
          </label></li>
        </ul>
      </div>
    </aside>
    <section class="accommodation-listing__listing">
      <h1 class="h3" class="text-center">Showing accommodation near your location.</h1>
      <div data-bind="foreach: itemsToDisplay">
        <article class="accommodation-listing__listing-item" data-bind="css: { 'accommodation-listing__listing-item--isActive': isActive }">
          <h1 class="h2" data-bind="click: selectItem"><span data-bind="html: mapIndexToDisplay"></span> - <span data-bind="html: name"></span></h1>
          <h2 class="h3" data-bind="click: selectItem, html: address"></h2>
          <ul class="accommodation-list__listing-features">
            <li class="accommodation-list__listing-features-item">Is Open Access: <span data-bind="text: isOpenAccess"></span></li>
            <li class="accommodation-list__listing-features-item">Type: <span data-bind="text: accommodationType"></span></li>
          </ul>
          <a class="btn btn--brand-d accommodation-list__listing-view-more-btn" data-bind="attr: { href: detailsUrl }">
            <span class="btn__text">View Details</span>
          </a>
        </article>
      </div>
    </section>
    </div>
</script>