---
title: Severe Weather Emergency Accommodation in Reading - Street Support
description: Severe Weather Emergency Accommodation provision in Reading.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: reading
page: reading-advice
location: reading
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/reading/">Reading</a></li>
      <li class="breadcrumbs__item"><a href="/reading/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="reading" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, where temperatures of 0°or lower are predicted to last a minimum of 3 nights, additional  emergency accommodation will be provided for people that are rough sleeping in the borough under our local Severe Weather Emergency Protocol (SWEP).</p>
      <p>This year the Council, St Mungo’s, Faith Christian Group and Launchpad will be working with local accommodation providers to offer self-contained accommodation in line with COVID-19 guidance from central Government. You do not need to have recourse to public funds to access a severe weather placement.</p>
      <p>When considering whether to activate SWEP we also take into account other severe weather conditions such as:</p>
      <ul>
        <li>severe snowfall</li>
        <li>wind-chill</li>
        <li>widespread ice</li>
        <li>feels like temperatures</li>
      </ul>
      <p>Placements will last for the duration of the identified period of cold weather according to the predicted temperatures and support will be offered to explore your housing option.</p>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Accessing a SWEP bed</h2>

      <h2 class="h2">If you have nowhere to go tonight, you can access a severe weather bed by contacting any one of the following:</h2>
      <ul>
        <li>St. Mungo’s Rough Sleeper Outreach Service - <a href="tel:0118 958 5002">0118 958 5002</a> or <a href="mailto:ReadingRSOS@mungos.org.">ReadingRSOS@mungos.org</a>.</li>
        <li>RBC Housing Advice Service - <a href="tel:0118 937 2165">0118 937 2165</a> or <a href="mailto:housing.advice@reading.gov.uk">housing.advice@reading.gov.uk</a> (please note that there is still limited access to the Civic Offices at this time so please all or email before going to the Civic Offices if you are able to).</li>
        <li>Out of Hours (from 5:00pm) please call Reading’s Emergency Duty Service on <a href="tel:01344 786 543">01344 786 543</a>.</li>
      </ul>
      <h2 class="h2">If you are concerned about some sleeping rough tonight, you can:</h2>
      <p>Alert the Council and St Mungo's Reading Rough Sleeper Outreach Service via Streetlink by downloading <a href="https://www.streetlink.org.uk/">the Streetlink app</a> or by calling <a href="tel:0300 500 0914">0300 500 0914</a>.</p>
      <h3 class="h3">For more info on SWEP, you can read our blog <a href="">here</a></h3>
      <p><strong>Please do not just turn up at the Willow House as you will be refused entry. Everyone must be referred and assessed to ensure your and everyone else’s safety.</strong></p>
    </div>
      {{> social-share}}
  </div>
</div>
