<li class="nav__item nav__item--hub-nav" data-city="exeter">
  <dl class="hub-nav-container">
    <dt data-city="exeter" class="nav__item nav__item--exeter">
      <a href="/exeter/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Exeter</a>
    </dt>
    <dd>
      <ul>
        <li data-city="exeter" class="nav__item nav__item--exeter-advice">
          <a href="/exeter/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
