<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--exeter-bhca"><a href="https://www.bcha.org.uk/">{{> icon name="exeter-bhca"}}</a></li>
  <li class="partners__logo partners__logo--exeter-eci"><a href="https://www.eci.org.uk/">{{> icon name="exeter-eci"}}</a></li>
  <li class="partners__logo partners__logo--exeter-colab"><a href="https://www.colabexeter.org.uk/">{{> icon name="exeter-colab"}}</a></li>
  <li class="partners__logo partners__logo--exeter-jh"><a href="http://www.julianhouse.org.uk/">{{> icon name="exeter-jh"}}</a></li>
  <li class="partners__logo partners__logo--exeter-stp"><a href="http://stpetrocks.org.uk/">{{> icon name="exeter-stp"}}</a></li>
  <li class="partners__logo partners__logo--exeter-bchange"><a href="http://bchangemakers.org.uk/">{{> icon name="exeter-bchange"}}</a></li>
</ul>
