---
title: Jobs - Street Support Network - Network Manager
description: We are looking for data a Network Manager to support our mission to tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: dotnet
page: dotnet
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/about/jobs">Jobs</a>
      </li>
      <li class="breadcrumbs__item">National</li>
      <li class="breadcrumbs__item">Jobs</li>
      <li class="breadcrumbs__item">Network Manager</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Network Manager</h1>
    <h2 class="h2">Job Description & Person Specification</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h3 class="h3">About Street Support Network</h3>
      <p>Street Support Network works online and offline across <a href="https://streetsupport.net/locations/"> 26 locations</a> in the UK, connecting and supporting local people and organisations to tackle homelessness. The network is growing and we anticipate having expanded to 32 locations by early 2022.</p>

      <p>Our website is a central place for people experiencing homelessness to <a href="https://streetsupport.net/find-help/">Find Help</a>, for the general public and business to <a href="https://streetsupport.net/give-help/">Give Help</a> and, via our <a href="http://news.streetsupport.net/">News</a> section, for people to understand more about homelessness, what is being done to address it, and where the challenges and opportunities are.</p>

      <p>We also work offline, connecting people to co-produce better solutions, facilitating conversations and co-ordinating action. Everything we do starts by listening to people with personal insight into homelessness and frontline workers. We use research, co-production, human centered design and creative technology to develop tools and improve systems.</p>

      <h3 class="h3">Purpose of Network Manager</h3>

      <p>We are looking for someone to work alongside our co-founder Gary in supporting locations to reduce homelessness in their area. Each location is unique in the challenges it faces and we use our experience to support them to find the best local solution. This may involve establishing, mobilising and supporting local networks, building and launching Find Help and Give Help, supporting fundraising and delivering bespoke local projects.</p>

      <p>A key focus will be harnessing the power of the network nationally by sharing knowledge, activities and best practice. The aim is to support each location to tackle homelessness more effectively at a local level and to save them time and money in delivering their aims.</p>

      <p>The successful candidate will also manage our data entry volunteers (currently two) and support them in benefiting from their experience of volunteering. You will also work closely with and support a number of regional coordinators who are responsible for handling and inputting data from local organisations into our online platform.</p>

      <p>You will work closely with our small team and particularly with our Communications and Engagement Coordinator on newsletters, blogs and network events.</p>

      <p>The intention is that this role will evolve and grow as our network of locations expands. You may in the future manage additional team members and volunteers.</p>

      <h3 class="h3">Specific Duties/Responsibilities</h3>

      <ul>
        <li>Build strong and effective relationships with and across our network of locations;</li>
        <li>Support locations across the UK to maximise the benefits of being part of the Street Support Network;</li>
        <li>Support our co-founder Gary in expanding our network, information sharing and developing best practice guides and assets;</li>
        <li>Work closely with our Communications & Engagement Coordinator to promote Street Support;</li>
        <li>Provide ongoing training and supervision of volunteers, engaging with them to develop a meaningful volunteer service that benefits them and us;</li>
        <li>Recruit, and train new volunteers as required to work alongside our technical support team;</li>
        <li>Liaise between volunteers, staff and the wider network to ensure a good understanding of roles and the delivery of everyone’s expectations;</li>
        <li>Develop tools, resources and training materials;</li>
        <li>Ensure data integrity of information on the website and design and undertake data quality checks;</li>
        <li>Deliver monthly reporting summaries of volunteer hours and project status; and</li>
        <li>Together with the wider team design, measure and record meaningful KPIs to demonstrate impact for reporting to trustees and for inclusion in funding bids.</li>
      </ul>

      <h3 class="h3">General Duties</h3>

      <ul>
        <li>Responds to enquiries and emails in a timely and responsive manner;</li>
        <li>Participate in management and all-staff meetings; and</li>
        <li>Other duties as assigned.</li>
      </ul>

      <h3 class="h3">Essential attributes</h3>

      <ul>
        <li>Proactive;</li>
        <li>Clear and effective communication skills;</li>
        <li>Experience in managing a variety of stakeholders;</li>
        <li>Excellent organisational and team coordination abilities;</li>
        <li>Good people supervision and management skills;</li>
        <li>Excellent written and verbal communication skills including report writing;</li>
        <li>Empathy with volunteers and an understanding of their needs;</li>
        <li>Attention to detail and strong organisational and project management skills;</li>
        <li>Excellent team player, able to provide leadership and work with others; and</li>
        <li>Reliable and conscientious.</li>
      </ul>

      <h3 class="h3">Desirable</h3>

      <ul>
        <li>Experience in volunteer recruitment and the delivery of meaningful volunteer programmes;</li>
        <li>Experience in fundraising and writing grant applications;</li>
        <li>Lived experience of social disadvantage (e.g. homelessness, mental health issues, substance misuse, offending and domestic violence and abuse); and</li>
        <li>Experience of working in the third sector.</li>
      </ul>

      <h3 class="h3">Education and Experience</h3>

      <ul>
        <li>Proficient understanding of Gmail and Google Drive;</li>
        <li>Proficient understanding of Microsoft Office;</li>
        <li>Proficient understanding of Zoom; and</li>
        <li>Ability to pick up new online platforms (training provided).</li>
      </ul>

      <h3 class="h3">Terms and Conditions</h3>

      <ol>
        <li><span class="bold">Contract:</span> Permanent + Full time, 35 hours/5 days per week.</li>
        <li><span class="bold">Salary:</span> £27,500 to £30,000 depending on experience.</li>
        <li><span class="bold">Probation period:</span> up tp 3 months.</li>
        <li><span class="bold">Location:</span> We are a digital organisation with staff predominantly working from home. Our meetings generally take place via Zoom. Some travel to our premises and those of our partner locations may be required.</li>
        <li><span class="bold">Paid Leave Entitlement:</span> 25 days per year.</li>
        <li><span class="bold">Pension:</span> Workplace pension will be provided.</li>
        <li><span class="bold">Period of Notice:</span> None for the first month, one week on each side for the next 2 months and one month thereafter.</li>
      </ol>

      <p><span class="bold">Application Process:</span> To apply for the role please send your CV with a one-page letter clearly demonstrating how you meet the criteria for the role to Soraya at <a href="mailto:soraya@streetsupport.net">soraya@streetsupport.net</a>. References will be required. If you have been successful in your application, we will contact you the following week to invite you for an interview. Unfortunately we are unable to contact non successful candidates so if you haven’t heard from us by Thursday 25 November, you haven’t been successful in your application.</p>

      <p><span class="bold">Closing date:</span> 18:00 Thursday 18 November.</p>
      <p><span class="bold">Interviews:</span> WC 29 November.</p>
      <p><span class="bold">Start date:</span> 13 December.</p>

    {{> social-share}}
  </div>
</div>
