---
title: Jobs - Street Support Network - Data Entry Volunteer
description: We are looking for data entry volunteers to support our mission to tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: dotnet
page: dotnet
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/about/jobs">Jobs</a>
      </li>
      <li class="breadcrumbs__item">National</li>
      <li class="breadcrumbs__item">Volunteer</li>
      <li class="breadcrumbs__item">Data entry</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Data Entry Volunteer</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="text-center">
        <h4>Are you passionate about ensuring people who are homeless are able to find the support they need easily and quickly?</h4>

        <h4>Do you display high attention to detail?</h4>

        <h4>Do you have an analytical eye and are you passionate about doing a great job?</h4>

        <h4>If the answer is ‘yes’, this may be the voluntary role for you!</h4>
      </div>

      <p>We are looking for one - two Data Entry Volunteers who will be responsible for handling UK organisation data and inputting this into our online platform. You will join one other Data Entry volunteer who has been in post since the start of 2020. As Street Support Network grows, we envision our Data Entry team increasing in size, working together, being reactive and collaborative.</p>

      <h4>Commitment:</h4>
      <ul>
        <li>Length of appointment - There is a minimum requirement to commit to six months for this role.</li>
        <li>Hours - The minimum commitment is 10 hours per week.</li>
      </ul>

      <h4>Main tasks, duties and responsibilities:</h4>
      <ul>
        <li>Sort and check online documents for accuracy;</li>
        <li>If scans of printed documents received, transcribe information into required electronic format;</li>
        <li>Enter/update/delete data from online/scanned documents into our online platform</li>
        <li>Initiate and respond via email to requests for data entry;</li>
        <li>Provide an end of week summary of actions completed and the following weeks tasks to your manager;</li>
        <li>Attend a one-hour zoom meeting once a month with the entire team;</li>
        <li>Able to offer suggestions for improvement to our online platform if/when you see it. We encourage active participation and value the thoughts and ideas of our volunteers.</li>
      </ul>

      <h4>Education and experience:</h4>
      <ul>
        <li>Proficient understanding of Gmail and Google Drive;</li>
        <li>Proficient understanding of Microsoft Office (Excel & Word);</li>
        <li>Ability to pick up new online platforms (training provided);</li>
        <li>Accurate keyboard skills and proven ability to enter data at the required speed;</li>
        <li>Fluent in English;</li>
        <li>Good communication skills both written and verbal.</li>
      </ul>

      <h4>Key Competencies and Skills:</h4>
      <ul>
        <li>A self-starter able to work independently and as a team;</li>
        <li>Planning and organising;</li>
        <li>Information collection and management;</li>
        <li>Problem solving;</li>
        <li>Attention to detail;</li>
        <li>Decision making skills;</li>
        <li>Proofreading and checking skills;</li>
        <li>Communication skills;</li>
        <li>Excellent time management skills.</li>
      </ul>

      <h4>Other requirements:</h4>
      <ul>
        <li>You will need access to your own computer/laptop with internet access;</li>
        <li>The staff team meets on Zoom every Monday, 09:00 - 10:00 UK time. We have a short personal check in and then discuss our tasks for the week. We would like you to attend one of these meetings per calendar month to keep you connected to the team.</li>
      </ul>

      <h4>Commitment</h4>
      <p>Length of appointment - There is a minimum requirement to commit to six months for this role.</p>
      <p>Hours - The minimum commitment is 10 hours per week.</p>
      <p>We ask that you are available at least twice a week (Monday - Friday) to check and keep on top of emails so they are responded to in a timely manner. </p>
      <p>When and how you input data will vary on whether we have a new project in progress or if it’s business as usual (BAU). We ask that you take responsibility for managing your time management to ensure all tasks are completed for that week. However, If you are struggling for any reason, please do ensure you speak to us and ask for help when needed. We’re a strong and close team who support each other when needed!</p>

      <h4>In return for your dedication and commitment you will receive:</h4>
      <ul>
        <li>Excellent training & support;</li>
        <li>Ongoing support and guidance from your manager and technical support;</li>
        <li>Exposure to the third sector;</li>
        <li>Opportunity to help shape the future of Street Support Network and be part of tackling homelessness.</li>
      </ul>

      <h4>Location</h4>
      <p>Remote</p>
      <p>We are a digital organisation with staff living in the UK and Indonesia. Our services are based in the UK but we welcome applications from across the world as long as your written and spoken English is fluent. Our meetings take place via Zoom.</p>

      <h4>Probationary period</h4>
      <p>The successful candidate will have a one month probationary period to ensure that it’s the right fit for both you and us. Throughout the first month, our UK Network Coordinator will have regular check-in’s to discuss how the appointment is going, to offer/receive feedback and to provide any support needed.</p>

      <h4>Application</h4>
      <p>Please, provide a CV and outline the value you would add to our organisation to <a href="mailto:admin@streetsupport.net">admin@streetsupport.net</a>.</p>

      <h4>Application details</h4>
      <p>Closes: Midnight, 31 October 2021.</p>
      <p>Successful applicants will be contacted by Friday 5 November to schedule a chat via zoom to discuss their application.</p>
      <p>Interviews: WC 08 November 2021.</p>

      <h4>Start date</h4>
      <p>WC 15 November 2021.</p>

      {{> social-share}}
    </div>
  </div>
</div>
