---
title: Partnership - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: sponsor
section: givehelp
page: partnership
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Partnership</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Partnership</h1>
    <h2 class="h2 block__sub-header">Partner with us to support over 30 organisations</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
    	<p>We are looking for businesses and organisations to partner with us, as we develop online tools for over 30 Manchester homelessness charities and voluntary groups. We have a list of features that organisations would like us to develop, to help them in providing more effective services for people experiencing homelessness in Manchester. Could you fund any of the following features?</p>
      <ul>
        <li>User testing and improvements to the Find Help section: £4,000</li>
        <li>Expand the site to include Greater Manchester services: £6,000</li>
        <li>Develop the central skills/volunteer search functions: £5,000</li>
        <li>Run an online homelessness education and publicity campaign: £5,000</li>
        <li>Create a public impact dashboard to increase transparency: £4,000</li>
        <li>Add download and print features for those without internet access: £3,000</li>
        <li>Add a map view for finding organisations and services: £3,000</li>
        <li>Pay for someone experiencing homelessness to work with us: Est £1,000/month</li>
      </ul>

      <p>If you share our mission to support local people experiencing homelessness, could you help the Street Support Network by donating money or resources?</p>
    </div>
  </div>
</div>
<h3 class="h2 requests-detail__heading  requests-detail__heading--i-can-help">I Want to Help!</h3>
<div class="block block--requests-detail">
  <div class="container">
    <div class="block__content">
      {{> form-feedback}}
      <!-- ko ifnot: isFormSubmitSuccessful -->
      <form class="form form--partnership" data-bind="submit: submit">
        <fieldset class="form__fieldset" data-bind="with: formModel">
          <legend class="form__fieldset-title">Please fill in the form below to let us know what you are able to offer.</legend>
          <ul class="form__field-list">
            <li class="form__field-item form__field-item--full">
              <label class="form__label hide-screen" for="email">Email *</label>
              <input type="text" class="form__input" id="email" data-bind="value: email" placeholder="Email Address (required)" />
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label hide-screen" for="message">Message *</label>
              <textarea class="form__input form__input--multiline" id="message" data-bind="value: message" placeholder="Your message (required)"></textarea>
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label--checkbox" for="isOptedIn">I would like occasional updates about Street Support in my inbox</label>
              <input type="checkbox" id="isOptedIn" data-bind="attr: { value: isOptedIn }, checked: isOptedIn" class="form__input--checkbox" />
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
      </form>
      <!-- /ko -->

      <p>Here are some of the things that have already been generously funded by local organisations:</p>
      <ul>
        <li>Launch The Manchester Homelessness Charter: £5,000</li>
        <li>Apple &amp; Android app versions for use offline: £6,000 each</li>
      </ul>

    </div>
  </div>
</div>
