---
title: Partnership - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: sponsor
section: givehelp
page: partnership
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Partnership</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Partnership</h1>
    <h2 class="h2 block__sub-header">Sponsor Street Support</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
    	<h2 class="h2">Help us end homelessness in Manchester</h2>
      <p>Street Support is an independent not for profit that connects the homeless community who need help, with over 40 organisations in the city who provide support.  Our website is the ONE place to go to find out about Manchester homelessness, and more importantly, DO SOMETHING TO HELP.</p>
      <p>Our work is funded by donations from local businesses and philanthropists that care about this issue and share our values.  To continue to develop Street Support, and manage our day to day operations, we need further financial support, and we are looking to local businesses or organisations for help.</p>
      
      <h2 class="h2">Why do we need your help?</h2>
      <p>The homelessness situation in Manchester has reached crisis level. Ongoing cuts to services, along with limited resources, has meant that organisations are finding it difficult to operate.  They need to co-ordinate better and make efficiencies, but this isn’t easy. Street Support provides the solution.</p>
      <p>We know what organisations need, to improve their service, and what the homeless community need to improve their situation.  We just need funding to enable us to:</p>
      <ul>
        <li>Develop and improve the website and app.</li>
        <li>Add more features that organisations and the homeless community are asking for.</li>
        <li>Pay the skilled and experienced digital experts, who all work at reduced rates.</li>
      </ul>

      <h2 class="h2">How you can help</h2>
      <p>The organisations, and homeless community have requested more features that they feel would help them more effectively.  We need your help so we can complete these projects and continue to make a real difference.</p>
      <p>Sponsor us&hellip;</p>
      <ul>
        <li>Ongoing financial support to provide employment at Street Support for someone who has previously experienced homelessness.</li>
        <li>£5,000 to provide admin support to help organisations populate their Street Support profiles.</li>
        <li>£4,000 to help us develop a new section of the website where we can share success stories and data on how Street Support is making a difference.</li>
        <li>£5,000 to help us develop a temporary accommodation listings and review service.</li>
        <li>£5,000 to develop a search function to enable organisations and users to search for skills and resource donations.</li>
        <li>£4,000 to improve the usability of the current site through user experience testing.</li>
        <li>£2,000 to add download, and print features for those without internet access.</li>
        <li>£2,000 to add map functionality to help people find service locations.</li>
      </ul>

      <h2 class="h2">What are the benefits to your organisation?</h2>
      <p>Street Support is already being used city-wide and we’ve generated over 60,000 page views, as well as hosting the Manchester Homelessness Charter. By supporting us, your will be supporting over 40 charities and voluntary groups, and play a key role in eliminating the problem of homelessness in Greater Manchester.</p>
      <p>We will also&hellip;</p>
      <ul>
        <li>Place your logo, with a link back to your website, in prime positions on the Street Support website.</li>
        <li>Acknowledge your support through social media and press activity.</li>
        <li>Regularly update you on how your business is making a real difference by sharing data, and visible success stories of impact and change which you can use in your CSR communications.</li>
      </ul>

      <h2 class="h2">Can your business help Street Support?</h2>
      <p>If you share our mission and values and would like to discuss how you can help or if you have any further questions, please get in touch using the form below, or contact Gary Dunstan at <a href="mailto:sponsorship@streetsupport.net">sponsorship@streetsupport.net</a> or on 07824 667709.</p>

    </div>
  </div>
</div>
<h3 class="h2 requests-detail__heading  requests-detail__heading--i-can-help">Get in touch</h3>
<div class="block block--requests-detail">
  <div class="container">
    <div class="block__content">
      {{> form-feedback}}
      <!-- ko ifnot: isFormSubmitSuccessful -->
      <form class="form form--partnership" data-bind="submit: submit">
        <fieldset class="form__fieldset" data-bind="with: formModel">
          <legend class="form__fieldset-title">Please fill in the form below to let us know how you may be able to help.</legend>
          <ul class="form__field-list">
            <li class="form__field-item form__field-item--full">
              <label class="form__label hide-screen" for="email">Email *</label>
              <input type="text" class="form__input" id="email" data-bind="value: email" placeholder="Email Address (required)" />
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label hide-screen" for="message">Message *</label>
              <textarea class="form__input form__input--multiline" id="message" data-bind="value: message" placeholder="Your message (required)"></textarea>
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label--checkbox" for="isOptedIn">
                I would like occasional updates about Street Support in my inbox
                <input type="checkbox" id="isOptedIn" data-bind="attr: { value: isOptedIn }, checked: isOptedIn" class="form__input--checkbox" />
              </label>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
      </form>
      <!-- /ko -->

    </div>
  </div>
</div>
