---
title: Partnership - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: sponsor
section: givehelp
page: partnership
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Partnership</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Partnership</h1>
    <h2 class="h2 block__sub-header">Sponsor us to develop Street Support</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
    	<h2 class="h2">What do we need?</h2>
      <p>We are looking for businesses or organisations to sponsor the development of Street Support, in turn supporting over 40 organisations that work with people experiencing homelessness.</p>
      <p>In order to quickly develop and improve the website, and to add more of the features that organisations are asking for, we need to pay skilled and experienced digital experts who are all working at reduced rates.</p>

      <h2 class="h2">Why is this important?</h2>
      <p>With homelessness number rising, and ongoing cuts to services, this central and neutral facilitation role is vital. Organisations resources are limited, and it isn’t easy for them to co-ordinate. Nobody else is doing this.</p>
      <p>This is about us all working together to change the situation - businesses, the council, charities, communities and individuals. We know what is being asked for and what is needed. With this funding we can provide effective solutions quickly.</p>

      <h2 class="h2">What are the benefits for your organisation?</h2>
      <p>This central resource is being used city-wide, with user numbers increasing each week. By sponsoring Street Support, you will be supporting over 45 charities and voluntary groups working to end homelessness.</p>
      <p>We will include a full list of sponsors on the site, and major sponsors will be featured on the homepage.</p>

      <h2 class="h2">What else is in the pipeline?</h2>
      <p>Aswell as further user testing and improvements to the current site, and including services from other locations, we have a list of requests that organisations feel would help them support people more effectively. Here are some of the features on our backlog&hellip;</p>
      <ul>
        <li>Expand the site to include services from across Greater Manchester: £6,000</li>
        <li>Research, user feedback and improvements to the current site: £4,000</li>
        <li>Design a public impact dashboard to increase transparency: £4,000</li>
        <li>Develop a central skills and resources search function: £5,000</li>
        <li>Add download and print features for those without internet access: £2,000</li>
        <li>Add map functionality for finding organisations and services: £2,000</li>
        <li>Create and publicise research and education around homelessness: £5,000</li>
        <li>Wages for someone who has experienced homelessness to work on Street Support: Circa £1,000/month</li>
      </ul>
      <p>And here are some of the things that have already been generously funded by local organisations:</p>
      <ul>
        <li>Launch The Manchester Homelessness Charter site: £10,000</li>
        <li>Apple and Android app versions of Street Support: £6,000</li>
      </ul>

      <h2 class="h2">Would you like to know more?</h2>
      <p>If you share our mission and values and would like to discuss, or if you have any further questions, please get in touch using the form below, or contact Gary Dunstan at <a href="mailto:sponsorship@streetsupport.net">sponsorship@streetsupport.net</a> or on 07824 667709.</p>

    </div>
  </div>
</div>
<h3 class="h2 requests-detail__heading  requests-detail__heading--i-can-help">Get in touch</h3>
<div class="block block--requests-detail">
  <div class="container">
    <div class="block__content">
      {{> form-feedback}}
      <!-- ko ifnot: isFormSubmitSuccessful -->
      <form class="form form--partnership" data-bind="submit: submit">
        <fieldset class="form__fieldset" data-bind="with: formModel">
          <legend class="form__fieldset-title">Please fill in the form below to let us know how you may be able to help.</legend>
          <ul class="form__field-list">
            <li class="form__field-item form__field-item--full">
              <label class="form__label hide-screen" for="email">Email *</label>
              <input type="text" class="form__input" id="email" data-bind="value: email" placeholder="Email Address (required)" />
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label hide-screen" for="message">Message *</label>
              <textarea class="form__input form__input--multiline" id="message" data-bind="value: message" placeholder="Your message (required)"></textarea>
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label--checkbox" for="isOptedIn">
                I would like occasional updates about Street Support in my inbox
                <input type="checkbox" id="isOptedIn" data-bind="attr: { value: isOptedIn }, checked: isOptedIn" class="form__input--checkbox" />
              </label>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
      </form>
      <!-- /ko -->

    </div>
  </div>
</div>
