---
title: Accommodation Advice for supported living - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: swep
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Supported Living</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">Accommodation options for people needing support</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>It is important to register with your council if you have been made homeless or are at risk of homelessness. Please read our <a href="/find-help/emergency-help/">emergency advice for your area</a> to find out about office hours and out of hours phone numbers.</p>

      <p>There are different types of supported accommodation depending on your needs. To understand more about the different options, read this <a href="http://england.shelter.org.uk/get_advice/housing_with_support">Shelter guide to supported housing</a>.</p>

      <p>To see what supported housing is available near you, browse our <a href="/find-help/accom/?sub-category=supported">supported housing list</a>. What options are available for you will depend on your location and situation, so please read the options carefully.</p>

      <p>If you need help to understand what options are suitable, visit a local <a href="/find-help/dropin/timetable/">drop in centre</a> or <a href="/find-help/support/?sub-category=housing">housing advice service</a> where you can get individual advice. You can also contact <a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter</a> for advice via their national phone line on 0808 800 4444.</p>

      <p>You may also be able to access floating support to stay in your own home. Your council will be able to advise you on what is available in your area.</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
