---
title: Accommodation Advice for people not eligible for assistance - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/advice/">Advice</a></li>
      <li class="breadcrumbs__item">No Recourse to public funds</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">Accommodation options for people without recourse to public funds</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>If you are an asylum seeker, refugee, migrant worker or other person from abroad with no recourse to public funds, the council can't allow you onto its housing waiting list or housing register. In this case it is best to contact nearby organisations that offer specialist advice to <a href="">refugees</a> or <a href="">asylum seekers</a>. There may be accommodation provided by charities nearby that you can access if you are not able to pay for private accommodation.</p>

      <p>For more information on status, please read this guide from Shelter on <a href="http://england.shelter.org.uk/housing_advice/council_housing_association/who_is_eligible_to_apply_for_council_housing">who is eligible to apply for council housing</a>.</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
