---
title: Best Practice for Community-led Support Services - Working together to end homelessness in Manchester
description: Be recognised for the quality of your services
image: https://streetsupport.net/assets/img/og/manchester-big-change.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: benefits
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/standards-toolkit">Standards Toolkit</a></li>
      <li class="breadcrumbs__item">Benefits</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--manchester">
  <div class="container container--location-header">
    <h1 class="h1 block__header">Benefits</h1>
    <h2 class="h2 block__sub-header">Be recognised for the quality of your services</h2>
  </div>
</div>

<div class="block block--pre-icon">
  <div class="container">
    <div class="block__content">
      <p>Showing your commitment to delivering high quality support for people who are homeless by achieving a <a href="/manchester/standards-toolkit/standards/">Best Practice standard</a> has benefits for your organisation.</p>
    </div>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content split">
      <div class="split__element split__element--highlight split__element--highlight--benefits">
        <h2 class="h2 text-center split__element--title">Silver Best Practice</h2>
        <ul>
          <li>Siver certificate and logo for you to use in your communications</li>
          <li>Invitation to join Coalition of Relief (COR)</li>
          <li>Support and advice from the network</li>
          <li>Access to training and other support</li>
          <li>Access to a mentor scheme</li>
        </ul>
      </div>
      <div class="split__element split__element--highlight split__element--highlight--benefits">
        <h2 class="h2 text-center split__element--title">Gold Best Practice</h2>
        <ul>
          <li>Gold standard certificate and logo for you to use in your communication</li>
          <li>Access to the Big Change Fund (panel and applications)</li>
          <li>Listing on the Street Support website and app</li>
          <li>Access to the COR members only Facebook group</li>
          <li>Invitation to support or attend other network activities including:
            <ul>
              <li>Winter shelters</li>
              <li>SWEP</li>
              <li>Hostels</li>
              <li>Manchester Homelessness Charter events</li>
            </ul>
          </li>
          <li>Reduced rates for training and insurance (coming soon)</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Check the requirements for the <a href="/manchester/standards-toolkit/standards/">Best Practice standards</a>. If you are ready to submit your application, or have an inquiry about the standards please visit our <a href="/manchester/standards-toolkit/apply/">standards application page</a>.<p>
      <p>For any other queries regarding training or support please <a href="/manchester/standards-toolkit/get-in-touch">get in touch</a>.</p>
    </div>
  </div>
</div>
