---
title: Emergency Homeless Help in Manchester - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/emergency-help/">Emergency Advice</a></li>
      <li class="breadcrumbs__item">Tameside</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Emergency Advice for Tameside</h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
     
     <a name="council-info"></a>
      <h2 class="h2">Support from Tameside Council</h2>
      <p>To tell the council you are homeless, or if you see someone sleeping rough in Tameside, you can contact the council:</p>
      <ul>
        <li>Visit Tameside council town hall</li>
        <li>Mon - Fri between 9am - 3pm call 0161 331 2700</li>
        <li>Out of hours in an emergency call 0161 331 2888</li>
        <li>Email <a href="http://info@tamesidehousingadvice.org">info@tamesidehousingadvice.org</a></li>
      </ul>

      <a name="day-centres"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During periods of severe cold weather, when forecast to fall to zero degrees or below, additional emergency accommodation is provided by the council. The usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status.</p>
      <p>To establish whether or not this is a severe cold weather period, people are advised to ring Tameside Housing Advice on 0161 331 2700. If it is an official cold weather period Tameside Housing Advice will make the accommodation placement on a night by night basis and ask the person to return the next day. If the weather is forecast to below zero degrees Celsius the next night the accommodation will be rebooked.</p>
      <p>The council works in partnership with local organisations and housing providers to make this additional accommodation available and will endeavour to find a placement within the borough.   However in some instances local accommodation may not be available and a placement may have to be offered outside the Tameside area.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
