---
title: Big Change Manchester - Street Support
description: Help us make a a Big Change in Manchester by giving differently.
image: https://streetsupport.net/assets/img/og/manchester-big-change.png
layout: default.hbs
permalink: false
jsBundle: bigchange
section: bigchange
page: bigchange
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item">Big Change MCR</li>
    </ol>
  </div>
</div>

{{>no-js}}
<div class="big-change-banner">
  <div class="big-change-banner__container">
    <h1 class="big-change-banner__heading">
      Big Change MCR
      <img src="/assets/img/mcr-homelessness-partnership.png" alt="Big Change Manchester #BigChangeMcr" />
    </h1>
  </div>
</div>

<div class="block block--big-change-video">
  <div class="container text-center">
  <iframe width="560" height="360" src="https://www.youtube.com/embed/pjxX5ndMCDo?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>

<div class="block block--bigchange-subpage-header">
  <div class="container text-center">
    <p>Big Change pays for practical items individuals need to build independent lives away from the streets. If everyone who lives, works or visits Manchester donates, together we can make a Big Change!</p>

    <div class="block__cta block__cta--incopy block__cta--2">
      {{>cta brand="d" icon="big-change" link="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" name="Donate to Big Change"}}
      {{>cta brand="d" icon="give" link="/give-help/" name="Help local organisations"}}
    </div>

    <p>The Big Change fund supports individuals who are homeless by paying for items they need - a deposit for a home, a training course, clothes for a job interview, furnishing for a new flat, or travel costs. Find out more about how Big Change works and how the money is spent.</p>
    <a href="/manchester/bigchangemcr/about/" class="btn btn--brand-d btn--full">
      <span class="btn__text">How Big Change works</span>
    </a>

    <p>Big Change is part of <a href="http://charter.streetsupport.net">Manchester Homelessness Charter</a>, bringing together people experiencing homelessness, charities, grassroots groups, the council, businesses and individuals to End Homelessness in Manchester. Find out more about Big Change partner organisations and how to apply.</p>
    <a href="/manchester/bigchangemcr/partners/" class="btn btn--brand-d btn--full">
      <span class="btn__text">How to apply for Big Change</span>
    </a>

    <p>Big Change has already raised over <strong>&pound;110,000</strong> and helped over <strong>400 individuals</strong>! Read how this makes a difference through the recent case studies.</p>
    <p class="text-center">
      <a href="https://news.streetsupport.net/tag/big-change-mcr/" class="btn btn--brand-d btn--full">
        <span class="btn__text">How Big Change has helped</span>
      </a>
    </p>

    <p>With your help we can support even more people to move away from the streets. See the latest total and make a donation on Just Giving.</p>
    <p class="text-center">
      <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
        <span class="btn__text">Donate to Big Change</span>
      </a>
    </p>

  </div>
</div>

<div class="big-change-social">
  <h2 class="h2 block__header">#BigChangeMcr</h2>
  <p class="text-center">Tell your friends, family and colleagues how you are helping to make a Big Change.</p>
  <ul class="big-change-social__list">
    <li class="big-change-social__item">
      <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=https://streetsupport.net/manchester/bigchangemcr/&amp;p[title]=Big Change Manchester&amp;p[summary]=helping people to get off the streets&amp;p[hashtag]=%23bigchangemcr">
        {{>icon name="facebook-alt" class="big-change-social__icon big-change-social__icon--facebook" }}
      </a>
      <h3 class="big-change-social__title">Facebook</h3>
    </li>
    <li class="big-change-social__item">
      <a href="https://twitter.com/intent/tweet?url=https://streetsupport.net/manchester/bigchangemcr/&amp;text=Read about Big Change Manchester - helping people to get off the streets %23bigchangemcr&amp;via={{site.twitterHandle}}">
        {{>icon name="twitter-alt" class="big-change-social__icon big-change-social__icon--twitter-alt big-change-social__icon--twitter" }}
      </a>
      <h3 class="big-change-social__title">Twitter</h3>
    </li>
    <li class="big-change-social__item">
      <a href="mailto:?subject=check out the Manchester Big Change fund to end homelessness">
        {{>icon name="email-alt" class="big-change-social__icon big-change-social__icon--twitter-alt big-change-social__icon--twitter" }}
      </a>
      <h3 class="big-change-social__title">Email</h3>
    </li>
  </ul>
  <div class="container text-center">
    <a href="/big-change-mcr-poster.pdf" class="btn btn--brand-d btn--full">
      <span class="btn__text">Download the poster and spread the word</span>
    </a>
  </div>
</div>
