---
title: Big Change Manchester - Street Support
description: Through Street Support, you can donate to the Big Change fund to pay for practical items that help individuals get off the street.
layout: default.hbs
permalink: false
jsBundle: generic
section: locations
page: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item">Big Change</li>
    </ol>
  </div>
</div>

{{>no-js}}
<div class="big-change-banner">
  <div class="big-change-banner__container">
    <h1 class="big-change-banner__heading">
      <span class="big-change-banner__heading-part big-change-banner__heading-part--highlight">Manchester</span>
      <span class="big-change-banner__heading-part h2">ending</span>
      <span class="big-change-banner__heading-part big-change-banner__heading-part--highlight">Homelessness</span>
    </h1>
    {{>icon name="partnershipLogo" class="big-change__icon big-change__icon--mhp" }}
  </div>
</div>
<div class="block block--subpage-header">
  <div class="container text-center">
    <h1 class="h2 block__header">Help us make a a Big Change in Manchester by giving differently</h1>
    <p>Through Street Support, you can donate to the Big Change fund to pay for practical items that
      help individuals get off the street. You can also give items, time or money to local organisations.</p>
    <p>Taking action through Big Change is a more effective way to support people who are homeless than
      giving on the streets. Read more why Big Change matters, and how the fund works.</p>
    <a href="/manchester/bigchangemcr" class="btn btn--brand-d btn--full">
      <span class="btn__text">Read more about Big Change</span>
    </a>
    {{>divider class="is-hidden--smallscreen"}}
    <p>Through Street Support, you can also find <a href="/find-help">local services</a> to support
    people who are homeless, and pledge action to End Homelessness, as part of the
    <a href="https://charter.streetsupport.net">Manchester Homelessness Charter</a>.
    <h2 class="h2 block__header">#BigChangeMcr</h2>
    <p>Tell your friends, family and colleagues how you are helping end homelessness.</p>
  </div>
</div>

<div class="big-change-social">
  <ul class="big-change-social__list">
    <li class="big-change-social__item">
      <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=https://streetsupport.net/mcr/&amp;p[title]=Big Change Manchester&amp;p[summary]=The better way of helping people get off the streets">
        {{>icon name="facebook-alt" class="big-change-social__icon big-change-social__icon--facebook" }}
      </a>
      <h3 class="big-change-social__title">Facebook</h3>
    </li>
    <li class="big-change-social__item">
      <a href="https://twitter.com/intent/tweet?url=https://streetsupport.net/mcr/&amp;text=Read about Big Change Manchester - the better way of helping people get off the streets&amp;via={{site.twitterHandle}}">
        {{>icon name="twitter-alt" class="big-change-social__icon big-change-social__icon--twitter-alt big-change-social__icon--twitter" }}
      </a>
      <h3 class="big-change-social__title">Twitter</h3>
    </li>
    <li class="big-change-social__item">
      <a href="mailto:">
        {{>icon name="email-alt" class="big-change-social__icon big-change-social__icon--twitter-alt big-change-social__icon--twitter" }}
      </a>
      <h3 class="big-change-social__title">Email</h3>
    </li>
  </ul>
</div>

