---
title: Donate money to Real Change - Street Support
description: Street support makes it easier to help people facing homelessness. Donate money via Real Change #RealChangeMcr.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: bigchange
page: bigchangeabout
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/bigchangemcr/">Real Change MCR</a></li>
      <li class="breadcrumbs__item">Who are we?</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Who are Real Change MCR?</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <p>Real Change MCR has a panel which is made up of people who volunteer their time to run, manage and allocate funds.</p>
        <p>The panel includes:</p>
        <ul>
          <li>Representatives from the Manchester homeless organisations and charities who access the fund</li>
          <li>People with lived experience of homelessness</li>
          <li>Representatives from the Council, the business community and other local Manchester organisations</li>
        </ul>
        <p><a href="https://www.macc.org.uk">MACC</a> (Manchester's local voluntary community sector support organisation) do all the important administrative tasks to manage the fund effectively. Wherever possible this post is funded by business donations.</p>
        <p>Real Change MCR is proud to be part of the <a href="https://charter.streetsupport.net ">homelessness charter</a>.</p>
        <p class="text-center">
          <a href="https://localgiving.org/charity/macc/project/realchangemcr/" class="btn btn--brand-d btn--full">
            <span class="btn__text">Donate now</span>
          </a>
        </p>
      </div>



      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <div class="grid--2-of-3--m">
          <h2 class="h2">What else can I do to help?</h2>
          <p>There are lots of different ways you can show support to people who are homeless in Manchester. Real Change MCR is also about responding to organisations <a href="/give-help/help/">callouts for help</a>, and <a href="/give-help/volunteer/">volunteering your time</a>. You can also learn more about <a href="/find-help/">local services</a> and <a href="/find-help/all-service-providers/">Manchester homelessness organisations</a>.</p>
        </div>

        <div class="grid--1-of-3--m">
          {{>cta brand="e" link="/give-help/help/" btnClass="cta--centered" icon="give" name="Find out how you can help" noWrapper="true"}}
        </div>
      </div>
    </div>
    <div class="block__section">
      <p class="text-center"><a href="#" class="back-top">Back to top</a></p>
    </div>
    </div>
  </div>
</div>
