---
title: MHP Business Engagement Co-Ordinator Job Description - Street Support
description: Jobs in helping end homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: jobs
page: jobs
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item"><a href="/jobs/">Jobs</a></li>
      <li class="breadcrumbs__item">Business Engagement Co-Ordinator</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Business Engagement Co-Ordinator</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <dl class="job-summary">
        <dt class="job-summary__title">Job Title</dt>
        <dd class="job-summary__description">MHP Business Engagement Co-Ordinator</dd>
        <dt class="job-summary__title">Responsible To</dt>
        <dd class="job-summary__description">Street Support Network</dd>
        <dt class="job-summary__title">Salary</dt>
        <dd class="job-summary__description">Up to £30k *</dd>
        <dt class="job-summary__title">Working Hours</dt>
        <dd class="job-summary__description">35 hours a week (flexible hours)</dd>
        <dt class="job-summary__title">Duration</dt>
        <dd class="job-summary__description">1 Year fixed term</dd>
        <dt class="job-summary__title">Closing date for applications</dt>
        <dd class="job-summary__description">10am, Monday, 15th January 2018</dd>
      </dl>

      <h2 class="h2">Overview</h2>
      <p>This is a great opportunity for someone with a business mindset do something that really makes a difference - engaging and coordinating businesses to contribute to the aims of Manchester Homelessness Partnership (MHP).</p>
      <p>The employer is Street Support Network, on behalf of MHP. You can read more about this organisation and the partnership in the <a href="/jobs">MHP project specification</a>.</p>

      <h2 class="h2">Purpose</h2>
      <p>The primary objective of this role is to engage more people with lived experience in the work of MHP. The role will build capacity of experts by experience to ensure that people moving through homelessness can play a full role and have a voice within all aspects of MHP and Action Groups.</p>

      <p>The role will support co-production and service improvement by ensuring that the experiences of those who are rough sleeping or in  temporary accommodation are heard.  It will inform change and service development across all sectors working with people experiencing homelessness.</p>

      <h2 class="h2">What you will be doing: Job Description</h2>
      <p>The role involves research, networking, connecting, presenting, facilitation and communication. Activities will include:</p>
      <ul>
        <li>Recruiting and supporting people with lived experience to meaningfully contribute to the action groups and wider work of the partnership, with a target of engaging 70 to 80 additional experts in meaningful co-production in the first 12 months.</li>
        <li>Encouraging culture change across organisations in the network towards co-production and in providing work opportunities for people with lived experience.</li>
        <li>Developing mechanisms for interacting with the wider homeless community, for example establishing MHP champions in hostels, day centres, outreach teams and other services, and exploring ways to communicate with people not engaging in services.</li>
        <li>Ensuring a full range and involvement of experts by experience in the MHP, reflecting the varied backgrounds and experience of people who are homeless including a mix of ages, ethnicities, genders, sexualities and people with different experiences of homelessness and with different support needs.</li>
        <li>Providing training and development in co-production and the MHP  to staff and volunteers from a range of services, including housing/ homelessness sector, GMP, health sector and to the voluntary/faith/community sector. </li>
        <li>Providing connection and communication between Action Groups, Driver Group, Board Members and other members of the MHP in relation to the involvement of experts by experience.</li>
        <li>Measurement and evaluation of interventions, and reporting back to MHP. </li>
        <li>Managing and supporting GROW Trainees and volunteers.</li>
      </ul>

      <h2 class="h2">What we are looking for: Person Specification</h2>
      <p>You will need to have the ability to communicate with people from a diverse range of backgrounds, and have a strong commitment to the aims, values and culture of the Manchester Homelessness Charter.</p>

      <p>Applicants need to have excellent organisational, communication and presentation skills. Must be flexible and adaptable, self-motivated and organised, sensitive to different perspectives, authentic and trustworthy, able to balance tenacity and patience.</p>

      <p>Experience in community development with a co-production / strengths-based approach is important, alongside a good understanding of issues faced by people experiencing homelessness and within the sector. Applicants must understand the ethos and benefits of co-production. Specific homelessness sector experience is an advantage.</p>

      <p>We value lived experience, professional and learned experience, and welcome applications from people with personal experience of homelessness (though this is not a requirement).</p>

      <p>The working hours are flexible, based around the needs of the applicant and the role, which may include early morning or evening events, and occasionally events at weekend. We offer 25 days holiday a year. The office is located in central Manchester.</p>

      <p>Appointment is subject to a satisfactory references and an enhanced DBS check. There will be a 12 week probationary period.</p>

      <p>* We may decide to offer a lower salary if the successful applicant needs additional developmental support in the form of training, coaching, mentoring, or event facilitation.</p>
      
      <h2 class="h2">Application Process</h2>
      <p>Interviews will be conducted in late January. If you have any further questions, you can <a href="mailto:jobs@streetsupport.net">get in touch at jobs@streetsupport.net</a>.</p>

      <a href="https://goo.gl/forms/V947KmviPhaxJspq1" class="btn btn--brand-e">
        <span class="btn__text">Apply Now</span>
      </a>
      {{> social-share}}
    </div>
  </div>
</div>