---
title: Street Support GM Winter Campaign
description: Street Support Network and Greater Manchester homelessness action network's winter campaign.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: home
page: winter
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Winter</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Give what's needed this winter<span class="js-city-label"></span></h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <section class="block__section">
        <p>Street Support Network and the GM homelessness action network have been listening to what local people and organisations say is needed. Giving this way ensures your generosity will really help people experiencing homelessness this winter.</p>
      </section>
      <section class="block__section give-help__section">
        <div class="give-help__text">
          <h1 class="h1">Donate to GM projects</h1>
          <p>The GM mayor's fund supports projects that help local people who are experiencing homelessness. Giving via this fund, you can be sure that your money is spent effectively.</p>
        </div>
        {{>cta brand="d" icon="money" link="https://www.gofundme.com/GM-Mayoral-Fund" name="Donate to the GM Mayor's Fund"}}
      </section>
      {{>divider class="is-hidden--smallscreen"}}
      <section class="block__section give-help__section">
        <div class="give-help__text">
          <h1 class="h1">Give what's needed</h1>
          <p>We have collated a list of items, time and money that organisations near you need right now. Browse through what is needed to support local people, and see what you can give.</p>
        </div>
        {{>cta brand="e" link="/give-help/help" icon="give" name="See what items are needed" label=""}}
      </section>
      <div id="js-charter-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>
