---
title: Jobs - Street Support
description: Jobs in helping end homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: jobs
page: jobs
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">Jobs</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Jobs</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">


      <p>We are looking for full stack DotNet developers who share our values and our mission to end homelessness. If you are interested and may be available for full time, part time, short term work, or volunteering opportunities, please get in touch with your availability and a recent CV or LinkedIn profile at jobs@streetsupport.net.</p>

      <p>We are also recruiting for two positions on behalf of Manchester Homelessness Partnership (deadline 22/1):</p>

      <ul>
        <li>
          <a href="/jobs/mhp-business-engagement-co-ordinator">MHP Business Engagement Co-Ordinator</a>
        </li>
        <li>
          <a href="/jobs/mhp-lived-experience-and-sector-engagement-co-ordinator">MHP Lived Experience and Sector Engagement Co-Ordinator</a>
        </li>
      </ul>

      <p>Manchester Homelessness Partnership (MHP) is a coalition of people who have lived experience of homelessness, charities,
        grassroots groups, public sector services, businesses and individuals. In May 2016, MHP launched the Manchester Homelessness
        Charter, a mission to end homelessness. You can find out more about MHP and the Charter at <a href="charter.streetsupport.net">charter.streetsupport.net</a>.</p>

      {{> divider }}

      <p>MHP now has over 10 action groups which bring together people with lived experience of homelessness, frontline workers
        and other partners, to understand and improve the situation around various issues facing people who are homeless.
        There is also a driving group and partnership board, but until now there have been no paid or full time staff to
        support the partnership.</p>

      <p>This next phase of the project is focussed on extending the partnership to meaningfully include a more diverse range
        of voices - more people who are experiencing homelessness in different situations, more commissioned and voluntary
        services, more businesses etc.</p>

      <p>As MHP is a partnership and not an organisation, Street Support Network will be the employer for these roles. The new
        people will join the Street Support Network team, with support from other members of MHP.</p>

      <p>Street Support Network is an independent not for profit company based in Manchester, with a mission to make it easier
        for people experiencing homelessness to get the help they need. We do not offer any frontline services ourselves,
        instead we connect and facilitate the network online and offline - mapping and signposting services, identifying
        gaps and duplication, sharing information and stories, bringing together diverse voices, increasing donations based
        on need, and guiding businesses and individuals to help effectively. Follow these links to find out more <a href="/about/">about Street Support Network</a>
        and <a href="/about/our-team/">our team</a>.</p>

      <div class="block__cta block__cta--city-header">
          <a href="https://goo.gl/forms/V947KmviPhaxJspq1" class="btn btn--brand-e">
            <span class="btn__text">Apply Now</span>
          </a>
      </div>


      {{> social-share}}
    </div>
  </div>
</div>