---
title: Jobs - Street Support
description: Jobs in helping end homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: jobs
page: jobs
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">Jobs</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Jobs</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">


      <h2>Full-Stack DotNet developers</h2>

      <p>We are looking for DotNet full stack developers to support our mission to end homelessness.</p>

      <p>Street Support Network is charity based in Manchester, UK. Our mission is to make it easier for anyone experiencing homelessness to get the help they need. Through our website, and working offline, we connect people experiencing homelessness, over 180 charities and grassroots groups, businesses and citizens. What we build is co-produced with people who have lived experience of homelessness and frontline organisations. We are part of Manchester Homelessness Partnership, and our network now extends to several other cities.</p>

      <p>We are looking for an experienced DotNet developer who can drive quality and technical direction of the overall solution. We also welcome applications from junior developers with DotNet skills who can pick up a range of smaller changes and feature requests.</p>

      <p>Our technical skillset includes the following:</p>
      <ul>
        <li>C#, NancyFX, NUnit, NSubstitue, REST</li>
        <li>NodeJS, ES6 javascript, KnockoutJS, HoganJS, Sass/BEM, Jasmine/SinonJS</li>
        <li>Azure, MongoDB</li>
        <li>Git, UX design understanding, Test driven development, Continuous Integration, Automation</li>
      </ul>

      <p>We run our team on an agile basis, with short release cycles, responding to the changing needs of the network. Priorities are decided on by an internal product owner, and tickets are currently organised and assigned through Trello. Source is stored in GitHub and there is a quick setup routine. Our team use Slack to communicate when working remotely.</p>

      <p>We are offering a 12 month full time contact, and also welcome applications from people who would prefer a shorter or part time contract. Remote working is also possible.</p>
      
      <p>(We would also love to hear from anyone able to offer some time as a digital volunteer - either through our <a href="https://www.meetup.com/EndHomelessness-digital-community/">regular meetup events</a>, or in your own time.)</p>
      
      <p>If you have the skills and share our values, please complete this <a href="https://drive.google.com/open?id=1u58EQQolrd4xzszfbMc_NhXxdWYhpd7_MzMUCj9Bfmk">one page developer document</a>, and email it along with a recent CV or LinkedIn profile to <a href="dev@streetsupport.net">dev@streetsupport.net</a>. (Queries or feedback also welcome via this email address.)</p>

      <p>Please share to help us find the right person with the skills and passion for this work.<p>

      {{> social-share}}
    </div>
  </div>
</div>