---
title: 500 - Street Support
description: Street support makes it easier to help people facing homelessness. Here is more information about how it works.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">500</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Sorry!</h1>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p>Sorry, there has been an unexpected issue and we can't complete this action.</p>
      <p>Please go back and try again. If the problem persists, please <a href="/about/contact/">get in touch</a>.</p>
    </div>
  </div>
</div>
