---
title: Severe Weather Emergency Accommodation in Rochdale - Street Support
description: Severe Weather Emergency Accommodation provision in Rochdale.
image: https://streetsupport.net/assets/img/og/street-support-rochdale.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: rochdale
page: rochdale-advice
location: rochdale
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/rochdale/">Rochdale</a></li>
      <li class="breadcrumbs__item"><a href="/rochdale/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="rochdale" }}

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <p>Rochdale Borough Council takes a flexible and inclusive approach to the offer of assistance during severe weather taking into account the impact of wind chill, rain, snow and heat, and therefore ‘SWEP’ will be activated throughout December - March (reviewed weekly).</p>

      <p>Email: homelessness@rochdale.gov.uk<br>
Office hours telephone: <a href="tel:0300 303 8548">0300 303 8548</a><br>
Out of hours telephone: <a href="tel:0300 303 8875">0300 303 8875</a><br>
Address: Customer service centre<br>
Number One Riverside<br>
Smith Street<br>
Rochdale OL16 1XU</p>

<p>The phone line is open from 9am–4.45pm on Monday, Tuesday and Friday and from 1.30pm–4.45pm on Wednesday and Thursday.</p>

    </div>

    {{> social-share}}

  </div>
</div>
