---
title: Jobs - Street Support
description: Jobs in helping tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: jobs
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about">About</a></li>
      <li class="breadcrumbs__item">Jobs</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Jobs</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>We are a small team with a big mission - jobs that we are currently recruiting for are listed below. We also rely on volunteers, so if you are interested please get in touch with your skills and availability at <a href="mailto:admin@streetsupport.net">admin@streetsupport.net</a>.</p>

      <h2>Current Vacancies</h2>
      <ul>
        <li><a href="/about/jobs/trustee/trustee-vacancy-advert.pdf">Trustee</a>.</li>
      </ul>
      {{!-- <p>We are not currently recruiting for any full or part time roles, but if you have UX design skills and are available for freelance work, please get in touch at <a href="mailto:jobs@streetsupport.net">jobs@streetsupport.net</a></p> --}}
{{!--
      {{> divider }}

      <h2>Volunteering</h2>

      <ul>
        <li><a href="/about/jobs/data-integrity/">Data Integrity Volunteer</a></li>
      </ul> --}}

      {{> social-share}}
    </div>
  </div>
</div>
