---
title: Manchester Homelessness Charter - Street Support
description: Street support makes it easier to help homeless people. Manchester Homelessness Charter.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Manchester Homelessness Charter</h1>        
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p>The Manchester Homelessness Charter defines a new, shared approach to addressing the challenges of homelessness in our city. It sets out a shared vision and set of values, with the ultimate goal of ending homelessness in the city.</p>

      <p>The official launch is on 9th May 2016. You can <a href="https://medium.com/@HomelessnessCharter/manchester-homelessness-charter-latest-version-765d5d453e55#.pjgow3e9j">see the current draft of the charter here</a>.</p>

      <h2>Pledging Support</h2>
      <p>Organisations and individuals will be asked to support the charter by pledging action that they will take to move towards this vision. For a service provider, this may be a pledge to co-design their services with people experiencing homelessness. For a business, this could be pledging to provide entry level jobs, or to educate your staff on homelessness.</p>

      <h2>Action Groups</h2>
      <p>Action groups will be set up to get experts from a range of backgrounds to work together to address areas which have been identified as needing improvement. These action groups include mental health provision, employability, substandard accommodation, evening provision, presenting as homeless at the town hall, alternatives to street giving, and more.</p>

      <h2>Who is involved?</h2>
      <p>The charter has been co­written in consultation with people who have experienced homelessness, charities, community and faith organisations, the council, businesses and other interested partners. The charter driving group is led by Jez Green from The Mustard Tree, and includes Amanda Croome from The Booth Centre, Paul Connery from Homeless Link, and representitives from the council.</p>

      <h2>How did this come about?</h2>
      <p>In response to the growing challenge of homelessness in our city, significant consultation took place with homeless people, with a leader’s event in October 2015. Mustard Tree volunteered to lead the development of a Charter, drawing on best practice nationally and internationally.</p>

      {{> social-share}}
    </div>
  </div>
</div>
