---
title: Street Support Manchester UK - Street Support
description: Street support makes it easier to help homeless people. Here's how happening in Manchester.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Working together in Manchester</h1>        
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p>Street Support Network is involved with a number of initiatives in Manchester where organisations are working together to support people experiencing homelessness.</p>

      <h2 class="h2">Manchester Homelessness Charter</h2>
      <p>The Manchester Homelessness Charter is a shared vision and set of values, which has been co-written with people experiencing homelessness, alongside experts from local charities and service providers. The ultimate goal is to end homelessness in Manchester. 
        <a href="charter.html">Find out more about the Charter</a>
      </p>

      <h2 class="h2">Coalition of Relief</h2>
      <p>Coalition of Relief (COR) is a network of grassroots organisations that work together to provide sustainable long-term support solutions for homelessness.
        <a href="cor.html">Find out more about COR</a>
      </p>

      <h2 class="h2">Big Change Manchester Campaign</h2>
      <p>Big Change Manchester is a fund set up to support Coalition of Relief, and a number of Manchester homelessness charities to provide homeless people with practical items they need, so they can build new lives off the streets.
        <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr">Find out more about BigChangeMcr</a>
      </p>

      {{> social-share}}
    </div>
  </div>
</div>