---
title: Street Support Manchester UK - Street Support
description: Street support makes it easier to help homeless people. Here's how its happening in Manchester.
layout: default.hbs
permalink: false
section: locations
page: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      
      <li class="breadcrumbs__item">Manchester</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Street Support in Manchester</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <div class="block__section">
        <p>Street Support is part of a wide network of organisations in Manchester who are working together to end homelessness. Here are some of the current initiatives happening in the city...</p>
      </div>

      <div class="block__section">
        <h2 class="h2">Manchester Homelessness Charter</h2>
        <p>The Manchester Homelessness Charter is a shared vision and set of values, which has been co-written with people experiencing homelessness, alongside experts from local charities and service providers. The ultimate goal is to end homelessness in Manchester.</p>
        <a href="http://charter.streetsupport.net/" class="btn btn--brand-e btn--full">
          <span class="btn__text">Find out about Manchester Homelessness Charter</span>
        </a>
      </div>

      <div class="block__section">
        <h2 class="h2">Big Change Manchester</h2>
        <p>Big Change Manchester is a fund set up to provide local people who are homeless with practical items they need, so they can build new lives off the streets. Find out more about the fund, and why it matters.</p>
        <a href="/manchester/bigchangemcr/fund/" class="btn btn--brand-e btn--full">
          <span class="btn__text">Find out about Big Change Manchester</span>
        </a>
      </div>

      <div class="block__section">
        <h2 class="h2">Coalition of Relief</h2>
        <p>Coalition of Relief (COR) is a network of grassroots organisations that work together to provide sustainable long-term support solutions for homelessness.</p>
        <a href="cor" class="btn btn--brand-e btn--full">
          <span class="btn__text">Find out about Coalition of Relief</span>
        </a>
      </div>

      <div class="block__section">
        <h2 class="h2">Manchester Homelessness News</h2>
        <p>The Street Support news section contains stories, articles and updates related to homelessness in Manchester. Find out the latest news about the Charter, Big Change, and other projects.</p>
        <a href="http://news.streetsupport.net/tag/manchester/" class="btn btn--brand-e btn--full">
          <span class="btn__text">Find out what's happening in Manchester</span>
        </a>
      </div>

      {{> social-share}}
    </div>
  </div>
</div>
