---
title: Emergency Homeless Help in Salford - Street Support
description: Street support makes it easier to help homeless people in Salford. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-salford.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: salford
page: salford-advice
location: salford
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/salford/">Salford</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="salford" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Insert content here!</p>
      {{> social-share}}
    </div>
  </div>
</div>