---
title: Bounemouth Homelessness Charter - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: adviceV2
section: bcp
page: bcp-charter
location: bcp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bcp/">Bournemouth, Christchurch & Poole</a></li>
      <li class="breadcrumbs__item">Covid-19</li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Covid-19 Updates and Information</h1>
      <h2 class="h2">During the COVID-19 pandemic, services for those at risk of, or escaping homelessness have had to be adapted.</h2>
      <ol>
        <li>
          If you are concerned about a rough sleeper then please alert the Street Outreach Services team by emailing <a href="mailto:bcpsos@mungos.org">bcpsos@mungos.org</a>.
        </li>
        <li>
          Click <a href="https://docs.google.com/spreadsheets/d/1zKOHwbIuU5vX2tYSmlHJv7xgGAAuNJQ17Fr3ya6twMQ/edit?usp=sharing">here</a> to access a full list of the current community support services that are available (including meals, health support, and training/employability).
        </li>
        <li>
          For further information on current drug and alcohol services, click <a href="\bcp\covid-19\drug-and-alcohol-services.pdf">here</a>.
        </li>
        <li>
          For further information on current mental health services, click <a href="\bcp\covid-19\mental-health-support.pdf">here</a>.
        </li>
      </ol>
      <h2 class="h2">For further general advice, click on the relevant question in the purple section below:</h2>
      <div class="block">
        <div class="container">
          <div class="block__content">
            <div id="js-faqs-output"></div>
          </div>
        </div>
      </div>

      <script id="js-faqs-tpl" type="text/template">
        {{> faqs/listing }}
      </script>
    </div>
  </div>
</div>
