<div class="block block--home-promo">
  <div class="container">
    <div class="block__content">
      <h1 class="text-center">Supporting homeless people in Southampton</h1>
      <p class="text-center">We share the collective responsibility to reduce rough sleeping in Southampton through a consistent approach of good working practices, coordination, and communication; to assist those wanting to make positive moves off the street into safe and sustainable accommodation.</p>
      <p class="text-center">If you are a local business and able to help, support and develop this resource, please get in touch to find out how you could help. If you are a Southampton based organisation, please register your details, or get in touch.</p>
      <p class="text-center">Southampton is developing a Charter to demonstrate the commitment of all parts of the community to help rough sleepers overcome their challenges.</p>
      <p class="text-center">Our vision: “Southampton is a city where no-one needs to sleep rough or beg”</p>

      <h2 class="text-center">Steering group</h2>
      <p class="text-center">Go Southampton, Love Southampton, Southampton City Council, Southampton Voluntary Services, The Society of St James.</p>
    </div>
  </div>
</div>
