<li data-city="southampton" class="nav__item nav__item--southampton">
  <a href="/southampton/" class="nav__item-link">Southampton</a>
</li>
<li data-city="southampton" class="nav__item nav__item--southampton-emergency-help">
  <a href="/southampton/emergency-help" class="nav__item-link">Emergency Help</a>
</li>
<li data-city="southampton" class="nav__item nav__item--southampton-swep">
<a href="/southampton/severe-weather-accommodation" class="nav__item-link">Severe Weather Accommodation</a>
</li>