<li class="nav__item nav__item--hub-nav" data-city="southampton">
  <dl class="hub-nav-container">
    <dt data-city="southampton" class="nav__item nav__item--southampton">
      <a href="/southampton/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Southampton</a>
    </dt>
    <dd>
      <ul>
        <li data-city="southampton" class="nav__item nav__item--southampton-advice">
          <a href="/southampton/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
        <li data-city="southampton" class="nav__item nav__item--southampton-advice">
          <a href="/southampton/charter" class="nav__item-link nav__item-link--location-item">Charter</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
