<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--rotary-southampton">
    <a href="http://www.rotarysouthampton.co.uk/">
      <span class="hide-screen">Rotary Club of Southampton</span>
    </a>
  </li>
  <li class="partners__logo partners__logo--southampton-voluntary-services">
    <a href="https://www.southamptonvs.org.uk/">
      <span class="hide-screen">Southampton Voluntary Services</span>
    </a>
  </li>
  <li class="partners__logo partners__logo--society-of-st-james">
    <a href="http://www.ssj.org.uk/">
      <span class="hide-screen">Society of St James</span>
    </a>
  </li>
  <li class="partners__logo partners__logo--southampton-city-council">
    <a href="https://www.southampton.gov.uk/">
      <span class="hide-screen">Southampton City Council</span>
    </a>
  </li>
  <li class="partners__logo partners__logo--city-life-church">
    <a href="http://www.citylife.org.uk/">
      <span class="hide-screen">City Life Church</span>
    </a>
  </li>
  <li class="partners__logo partners__logo--oasis-uk">
    <a href="https://www.oasisuk.org/">
      <span class="hide-screen">Oasis</span>
    </a></li>
</ul>
