---
title: Emergency Homeless Help in Oldham - Street Support
description: Street support makes it easier to help homeless people in Oldham. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: oldham
page: oldham-advice
location: oldham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/oldham/">Oldham</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="oldham" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <a name="council-info"></a>
      <h2 class="h2">Support from Oldham Council</h2>
      <p>To tell Oldham council you are homeless:</p>
      <ul>
        <li>Visit Oldham council town hall</li>
        <li>Mon-Fri 10am-1pm and 2-4pm call <a href="tel:01613937117">0161 393 7117</a></li>
        <li>Outside those hours in an emergency call <a href="tel:08009887061">0800 988 7061</a></li>
        <li>Email <a href="mailto:housingoptions@fcho.co.uk">housingoptions@fcho.co.uk</a></li>
      </ul>

      <p>To tell Oldham homes about someone who is sleeping rough:</p>
      <ul>
        <li>Call <a href="tel:08009887061">0800 988 7061</a> (24h)</li>
        <li>Email <a href="mailto:housingoptions@fcho.co.uk">housingoptions@fcho.co.uk</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>Provision can be accessed during office hours Monday, Tuesday, Wednesday and Friday 9am – 5pm, Thursday 9am – 6pm</p>
      <p>There is also a number for households who become homeless when the offices are closed: <a href="tel:0800 988 7061">0800 988 7061</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>