<h3 id="form-scroll" class="h2 requests-detail__heading requests-detail__heading--i-want-to-volunteer">I Have Items/Food to Offer!</h3>
<div class="block block--requests-detail" data-bind="with: offerItemsForm">
  <div class="container">
    <div id="about-form" class="block__content">
      <!-- ko ifnot: isSubmitted -->
    	<form id="js-form" class="form form--volunteer" data-bind="submit: submitForm">
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">About You</legend>
	    		<ul class="form__field-list">
	    			<li class="form__field-item">
	    				<label class="form__label hide-screen" for="firstname">First Name *</label>
	    				<input class="form__input" type="text" data-bind="textInput: firstName" placeholder="First Name (required)" />
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label hide-screen" for="lastname">Last Name *</label>
	    				<input class="form__input" type="text" data-bind="textInput: lastName" placeholder="Last Name (required)" />
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label hide-screen" for="email">Email *</label>
	    				<input class="form__input" type="email" data-bind="textInput: email" placeholder="Email Address (required)" />
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label hide-screen" for="telephone">Telephone</label>
	    				<input class="form__input" type="text" data-bind="textInput: telephone" placeholder="Telephone Number" />
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label hide-screen" for="city">City</label>
              <select class="form__input" data-bind="
                  options: cities,
                  optionsText: 'name',
                  optionsValue: 'id',
                  value: city">
              </select>
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label hide-screen" for="postcode">Postcode *</label>
	    				<input class="form__input" type="text" data-bind="textInput: postcode" placeholder="Postcode (required)" />
	    			</li>
	    		</ul>
	    	</fieldset>
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">Offer Type</legend>
          <p>Please tick all the categories that relate to your offer.</p>
	    		<ul class="form__field-list">
            <div data-bind="foreach: categories">
              <li class="form__field-item">
                <label class="form__label--checkbox" data-bind="attr: { for: key }">
                  <input type="checkbox" data-bind="attr: { value: value, name: key, id: key }, checked: isChecked" class="form__input--checkbox" />
                  <span data-bind="text: value"></span>
                </label>
              </li>
            </div>
              <li class="form__field-item">
                <label class="form__label--checkbox" for="other">
                  <input type="checkbox" name="other" id="other" data-bind="checked: otherCategoryChecked" class="form__input--checkbox" />
                  Other; please describe below
                </label>
                <input type="text" class="form__input" data-bind="textInput: otherCategory" placeholder="Other category" />
              </li>
	    		</ul>
	    	</fieldset>
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">Description</legend>
	    		<ul class="form__field-list">
	    			<li class="form__field-item">
	    				<label class="form__label hide-screen form__label hide-screen" for="description">What are you able to offer?</label>
	    				<input class="form__input" type="text" data-bind="textInput: description" placeholder="What are you able to offer?" />
	    			</li>
	    		</ul>
	    	</fieldset>
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">Additional Information</legend>
	    		<ul class="form__field-list">
	    			<li class="form__field-item--full">
	    				<label class="form__label hide-screen form__label hide-screen" for="additionalInfo">eg: quantity available, size of item, are you able to drop the items off?</label>
	    				<textarea class="form__input form__input--multiline" data-bind="textInput: additionalInfo" placeholder="eg: quantity available, size of item, are you able to drop the items off?"></textarea>
	    			</li>
	    		</ul>
	    	</fieldset>
        <fieldset class="form__fieldset">
          <ul class="form__field-list">
            <li class="form__field-item form__field-item--full">
              <label class="form__label--checkbox" for="isOptedIn">
                <input type="checkbox" id="isOptedIn" data-bind="attr: { value: isOptedIn }, checked: isOptedIn" class="form__input--checkbox" />
                 I would like to receive occasional updates about new ways to help.
                </label>
            </li>
          </ul>
        </fieldset>
	    	<button type="submit" class="btn btn--brand-d form__submit"><span class="btn__text">Submit</span></button>
    	</form>
      <!-- /ko -->

      <!-- ko if: isSubmitted -->
      <!-- ko ifnot: isSuccess -->
      <div id="js-fail">
        <h2 class="h2">Technical Error</h2>
        <p>There has been a technical error. Please <a href="/about/contact/">contact Street Support</a>.</p>
      </div>
      <!-- /ko -->
      <!-- ko if: isSuccess -->
      <div id="js-success">
        <h2 class="h2">Thank you for submitting your details!</h2>
        <p>Your offer will be matched with any organisations who would welcome your offer. If no-one needs it at the moment, the offer will be retained for future matching.</p>
      </div>
      <!-- /ko -->
      <!-- /ko -->
      {{> social-share}}
    </div>
  </div>
</div>

<div id="spin"></div>
