<li data-city="liverpool" class="nav__item nav__item--liverpool">
  <a href="/liverpool/" class="nav__item-link">Liverpool</a>
</li>
<li data-city="liverpool" class="nav__item nav__item--liverpool-emergency-help">
  <a href="/liverpool/emergency-help" class="nav__item-link">Emergency Help</a>
</li>
<li data-city="liverpool" class="nav__item nav__item--liverpool-swep">
<a href="/liverpool/severe-weather-accommodation" class="nav__item-link">Severe Weather Accommodation</a>
</li>