<li class="nav__item nav__item--hub-nav" data-city="liverpool">
  <dl class="hub-nav-container">
    <dt data-city="liverpool" class="nav__item nav__item--liverpool">
      <a href="/liverpool/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Liverpool</a>
    </dt>
    <dd>
      <ul>
        <li data-city="liverpool" class="nav__item nav__item--liverpool-advice">
          <a href="/liverpool/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>