<h2 class="h2">Funded and supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--liverpoolbid"><a href="https://www.liverpoolbidcompany.com/">{{> icon name="liverpoolbid"}}</a></li>
</ul>
