{{!-- <h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--bradford-uni"><a href="https://www1.bradford.ac.uk/">{{> icon name="bradford-uni"}}</a></li>
</ul>  --}}
