---
title: Greater Manchester - GM Homelessness Action Network and A Bed Every Night - Street Support Network
description: Greater Manchester Homelessness Action Network (GMHAN) and A Bed Every Night
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: gm
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">Greater Manchester</li>
    </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <a href="https://gmhan.net">
    <div class="container container--gm-header">
      <h1 class="h1 block__header">Tackling Homelessness in Greater Manchester</h1>
    </div>
  </a>
</div>

<div class="block">
  <div class="block--west-mids-locations">
    <div class="west-mids-location">
      <a class="btn btn--west-mids-locations" href="/bolton">
        <span class="btn__text">Bolton</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/bury">
        <span class="btn__text">Bury</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/manchester">
        <span class="btn__text">Manchester</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/oldham">
        <span class="btn__text">Oldham</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/rochdale">
        <span class="btn__text">Rochdale</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/salford">
        <span class="btn__text">Salford</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/stockport">
        <span class="btn__text">Stockport</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/tameside">
        <span class="btn__text">Tameside</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/trafford">
        <span class="btn__text">Trafford</span>
      </a>
      <a class="btn btn--west-mids-locations" href="/wigan-and-Leigh">
        <span class="btn__text">Wigan & Leigh</span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="block__content">
      <p>Greater Manchester Homelessness Action Network (GMHAN) brings together people with personal insight into homelessness, people from frontline organisations, public sector and others to find more effective solutions. For updates about homelessness in Greater Manchester, join our <a href="https://streetsupport.us12.list-manage.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=3c6ae13085">mailing list</a>.</p>
      <h2 class="h2">Covid-19 crisis response</h2>
      <p>During the current Covid-19 crisis, we're working together at GMHAN to co-ordinate an effective response. There will be regular information circulated via our <a href="http://streetsupport.us12.list-manage1.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=52ba96f2af">mailing list</a> and we will be collating different perspectives from across the network.</p>
      <p>There is co-ordination at Greater Manchester level with each Local Authority leading on their locality response. For specific information about your borough, select it from the box below. General updates will be posted on our <a href="https://news.streetsupport.net/tag/greater-manchester/">news section</a>.</p>
    </div>
  </div>
</div>
<div class="block">
  <div class="container">
    <div class="block__content block__content--vert-fill">
      <div class="proximity-form">
        <h1 class="h2">Need to know what to do?</h1>
        <form class="form location-selector form--highlighted js-change-location-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">Get advice for your borough</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="location">Get advice for your borough:</label>
              <select name="location" class="form__input form__input--inline-fill js-change-location-select">
                <option value="">- Select a borough -</option>
                {{> locations/_gm-option-tags }}
              </select>
              <button class="btn btn--brand-e btn--inline-fill js-change-location-btn" type="submit">
                <span class="btn__text">Get advice</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="proximity-form">
        <h1 class="h2">Do you need local support?</h1>
        <form class="form form--highlighted js-find-help-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">Find support services in your area</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="postcode">Your Postcode</label>
              <input name="postcode" class="form__input form__input--inline-fill js-find-help-postcode" placeholder="your postcode: eg M1 2HX"></input>
              <button class="btn btn--brand-e btn--inline-fill" type="submit">
                <span class="btn__text">Find help</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="home__copy">
      <div class="js-map"></div>
    </div>
  </div>
</div>
<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content">
      <a name="gm-initiatives"></a>
      <h1 class="h2">Ways to help</h1>
      <p>There are various ways to support people experiencing homelessness in Greater Manchester. Organisations, public services and voluntary groups work closely together to share resources and maximise the donations made.</p>

      <h2 class="h3">Support people directly</h2>
      <ul>
        <li>Real Change - Real Change pays for practical items individuals need to build independent lives away from the streets.</li>
          <ul>
            <li><a href="https://streetsupport.net/manchester/realchangemcr">Real Change MCR</a></li>
            <li><a href = "https://realchangewiganandleigh.co.uk/">Real Change Wigan & Leigh</a></li>
            <li><a href = "https://realchangerochdale.co.uk/">Real Change Rochdale</a></li>
            <li><a href="https://realchangeoldham.co.uk">Real Change Oldham</a></li>
          </ul>
        <li><a href="https://streetsupport.net/manchester/migrant-destitution-fund/">Migrant Relief Fund</a> - This fund provides a crisis grant to destitute migrants who have no access to public funds.</li>
      </ul>
      <h2 class="h3">Support a project</h2>
      <ul>
        <li><a href="https://bedeverynight.co.uk/">A Bed Every Night</a> - supports the provision of shelter and support for people who are sleeping rough across Greater Manchester this winter.</li>
      </ul>
      <h2 class="h3">Support via local organisations</h2>
      <form class="form postcode-multi-button">
        <fieldset class="form__fieldset">
          <legend class="form__fieldset-title">See what's needed in your area</legend>
          <label class="hide-screen" for="postcode">Your Postcode</label>
          <input name="postcode" class="form__input js-give-help-orgs-postcode" placeholder="your postcode: eg M1 2HX"></input>
          <button class="btn btn--brand-e js-give-help-btn">
            <span class="btn__text">Give help</span>
          </button>
          <button class="btn btn--brand-e js-donate-btn">
            <span class="btn__text">Donate</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <a href="https://bedeverynight.co.uk/">
        <img src="/assets/img/gm/bed-every-night-logo.png" alt="A Bed For Every Night logo" class="bed-every-night-logo" />
      </a>
      <h2 class="h2">A Bed Every Night</h2>
      <p>Rough sleeping is the most visible form of homelessness. In Greater Manchester we aim to find solutions so that no-one needs to sleep on the streets.</p>
      <p>Throughout the year local authorities and the voluntary sector work hard to prevent
        and reduce homelessness, but resources are stretched - there are not enough houses and support. Over the winter, we are responding to this crisis by providing emergency provision across the region, and we need your help!</p>
      <p>Here's how you can help:</p>
      <p></p>
    </div>
    <div class="block__content">

      <article class="card card--cta card--grid-1-of-4">
        <a href="donate-needed-items" class="full-size-link">
          <h2 class="h2 card__title card__title--kettle">Give Items</h2>
          <p>Donate items that services near you are asking for.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Give Items</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="volunteer" class="full-size-link">
          <h2 class="h2 card__title card__title--hand">Volunteer</h2>
          <p>Volunteer at one of the winter shelters across Greater Manchester.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Volunteer</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="https://bedeverynight.co.uk/" class="full-size-link">
          <h2 class="h2 card__title card__title--card">Donate Money</h2>
          <p>Make a donation via 'Bed Every Night'.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Donate Money</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="information" class="full-size-link">
          <h2 class="h2 card__title card__title--help">Learn More</h2>
          <p>Learn more about A Bed Every Night provision in your area.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Learn More</span>
          </button>
        </a>
      </article>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <div class="highlight">
        <ul class="highlight__list">
          <li class="highlight__item">
            <a href=""><span class="highlight__title">372</span><span class="highlight__description">Organisations</span></a>
          </li>
          <li class="highlight__item">
            <a href=""><span class="highlight__title">321</span><span class="highlight__description">Needs</span></a>
          </li>
          <li class="highlight__item">
            <a href=""><span class="highlight__title">736</span><span class="highlight__description">Services</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get involved</h1>
      <p> If you would like to get involved with GMHAN and find out about future events, please <a href="https://streetsupport.us12.list-manage.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=3c6ae13085">join our mailing list</a>.</p>
    </div>
  </div>
</div>

<div id="js-news-output"></div>

<script id="js-news-tpl" type="text/template">
    {{> news-posts }}
    {{> social-share }}
</script>
