---
title: Winter Homelessness Provision for Greater Manchester - A Bed For Every Night This Winter in Greater Manchester - Street Support Network
description: Our mission is to provide a bed Every Night for Every Person sleeping rough in Greater Manchester this winter.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: gm
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">Greater Manchester Winter Provision</li>
    </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container container--gm-header">
    <h1 class="h1 block__header">Ending Homelessness in Greater Manchester</h1>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Greater Manchester Homelessness Action Network (GMHAN) brings together people with personal insight into homelessness, people from frontline organisation, public sector and others to find more effective solutions.</p>
      <p>There are various <a href="#gm-initiatives">GM wide initiatives addressing different challenges faced by people experiencing homelessness</a>. A top priority for this winter is to support people who are sleeping rough to move inside through the 'Bed Every Night' initiative.</p>
    </div>
  </div>
</div>
<div class="block block--bed-every-night">
  <div class="container">
    <div class="block__content">
      <a href="https://bedeverynight.co.uk/">
        <img src="/assets/img/gm/bed-every-night-logo.png" alt="A Bed For Every Night logo" class="bed-every-night-logo" />
      </a>
      <h2 class="h2">Help people who are sleeping rough in Greater Manchester this winter</h2>
      <p>Rough sleeping is the most visible form of homelessness, in Greater Manchester we have adopted the goal to end
        the need for anyone to sleep on the streets by May 2020.</p>
      <p>There is a lot of work underway at all times of year by local authorities and the voluntary sector to prevent
        and reduce homelessness. This year we want to build on that, so our goal is to provide a place for every person
        sleeping rough every night right through the coming winter, from 1 November to 31 March.</p>
      <p>Here's how you can help:</p>
      <p></p>
    </div>
    <div class="block__content">

      <article class="card card--cta card--grid-1-of-4">
        <a href="donate-needed-items" class="full-size-link">
          <h2 class="h2 card__title card__title--kettle">Respond to needs</h2>
          <p>Donate items that are needed this winter.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Give Items</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="volunteer" class="full-size-link">
          <h2 class="h2 card__title card__title--hand">Volunteer</h2>
          <p>Volunteer at one of the winter shelters across Greater Manchester.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Volunteer</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="https://bedeverynight.co.uk/" class="full-size-link">
          <h2 class="h2 card__title card__title--card">Donate</h2>
          <p>Make a donation via 'Bed Every Night'.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Donate Now</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="information" class="full-size-link">
          <h2 class="h2 card__title card__title--help">Learn More</h2>
          <p>Find out more about A Bed Every Night.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Learn More</span>
          </button>
        </a>
      </article>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content block__content--vert-fill">
      <div class="proximity-form">
        <h1 class="h2">Do you need local support this winter?</h1>
        <form class="form form--highlighted js-find-help-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">Find support services in your area</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="postcode">Your Postcode</label>
              <input name="postcode" class="form__input form__input--inline-fill js-find-help-postcode" placeholder="your postcode: eg M1 2HX"></input>
              <button class="btn btn--brand-e btn--inline-fill" type="submit">
                <span class="btn__text">Find help</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="proximity-form">
        <h1 class="h2">Not sure how to get help?</h1>
        <form class="form location-selector form--highlighted js-change-location-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">Get advice for your borough</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="location">Get advice for your borough:</label>
              <select name="location" class="form__input form__input--inline-fill js-change-location-select">
                <option value="">- Select a borough -</option>
                {{> locations/_gm-option-tags }}
              </select>
              <button class="btn btn--brand-e btn--inline-fill js-change-location-btn" type="submit">
                <span class="btn__text">Get advice</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    {{> divider }}
    <div class="block__content">
      <a name="gm-initiatives"></a>
      <h1 class="h2">Want to help?</h1>
      <p>There are various ways to support people experiencing homelessness in Greater Manchester. Organisations, public services and voluntary groups work closely together to share resources and maximise the donations made.</p>
      <div class="home__copy home__copy--padding">
        <h2 class="h3">Support people directly</h2>
        <ul>
          <li><a href="http://bigchangemcr.co.uk">Big Change Manchester</a> - Big Change pays for practical items individuals in Central Manchester need to build independent lives away from the streets.</li>
          <li><a href="https://realchangewiganandleigh.co.uk/">Real Change Wigan and Leigh</a> - Real Change pays for practical items individuals in Wigan and Leigh need to build independent lives away from the streets.</li>
          <li><a href="https://mydonate.bt.com/charities/boaztrust">Migrant Relief Fund</a> - This fund provides a crisis grant to destitute migrants who have no access to public funds.</li>
        </ul>
        <h2 class="h3">Support a project</h2>
        <ul>
          <li><a href="https://bedeverynight.co.uk/">A Bed Every Night</a> - supports the provision of shelter and support for people who are sleeping rough across Greater Manchester this winter.</li>
        </ul>
        <h2 class="h3">Support local organisations</h2>
        <form class="form js-give-help-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">See what's needed in your area</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="postcode">Your Postcode</label>
              <input name="postcode" class="form__input form__input--inline-fill js-give-help-postcode" placeholder="your postcode: eg M1 2HX"></input>
              <button class="btn btn--brand-e btn--inline-fill" type="submit">
                <span class="btn__text">Give help</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="home__copy">
        <h2 class="h3">Find local organisations</h2>
        <form class="form js-find-orgs-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">Find an organisation near you:</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="postcode">Your Postcode</label>
              <input name="postcode" class="form__input form__input--inline-fill js-find-orgs-postcode" placeholder="your postcode: eg M1 2HX"></input>
              <button class="btn btn--brand-e btn--inline-fill" type="submit">
                <span class="btn__text">Find organisations</span>
              </button>
            </div>
          </fieldset>
        </form>
        <div class="js-map"></div>
      </div>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get involved</h1>
      <p> If you would like to get involved with GMHAN and find out about future events, please <a href="https://streetsupport.us12.list-manage.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=3c6ae13085">join our mailing list</a>.</p>
    </div>
  </div>
</div>

<div id="js-news-output"></div>

<script id="js-news-tpl" type="text/template">
    {{> news-posts }}
    {{> social-share }} 
</script>
