---
title: Winter Homelessness Provision for Greater Manchester - A Bed For Every Night This Winter in Greater Manchester - Street Support Network
description: Our mission is to provide a bed Every Night for Every Person sleeping rough in Greater Manchester this winter.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: gm
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">Greater Manchester Winter Provision</li>
    </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container container--gm-header">
    <h1 class="h1 block__header">Ending Homelessness in Greater Manchester</h1>
  </div>
</div>

<div class="block block--bed-every-night">
  <div class="container">
    <div class="block__content">
      <a href="https://bedeverynight.co.uk/">
        <img src="/assets/img/gm/bed-every-night-logo.png" alt="A Bed For Every Night logo" class="bed-every-night-logo" />
      </a>
      <h2 class="h2">Help people who are sleeping rough in Greater Manchester</h2>
      <p>Rough sleeping is the most visible form of homelessness, in Greater Manchester we have adopted the goal to end the need for anyone to sleep on the streets by May 2020.</p>
      <p>There is a lot of work underway at all times of year by local authorities and the voluntary sector to prevent and reduce homelessness. This year we want to build on that, so our goal is to provide a place for every person sleeping rough every night right through the coming winter, from 1 November to 31 March.</p>
      <p></p>
      <h3 class="h3">Want to help?<br />
      We can show you how to.<br />
      Quickly and easily.<br />
      <h3 class="h3">Click below to donate things, money or your time.
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <article class="card card--cta card--grid-1-of-4">
        <a href="donate-needed-items" class="full-size-link">
          <h2 class="h2 card__title card__title--kettle">Respond to needs</h2>
          <p>Donate items that are needed this winter.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Give Items</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="volunteer" class="full-size-link">
          <h2 class="h2 card__title card__title--hand">Volunteer</h2>
          <p>Volunteer at one of the winter shelters across Greater Manchester.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Volunteer</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="https://bedeverynight.co.uk/" class="full-size-link">
          <h2 class="h2 card__title card__title--card">Donate</h2>
          <p>Make a donation via 'Bed Every Night'.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Donate Now</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="information" class="full-size-link">
          <h2 class="h2 card__title card__title--help">Learn More</h2>
          <p>Find out more about A Bed Every Night.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Learn More</span>
          </button>
        </a>
      </article>
    </div>

    {{> divider }}
    <div class="home__copy home__copy--padding">
      <h1 class="h2">Find out what's happening near you</h1>
      <form class="form location-selector js-change-location-form">
        <fieldset class="form__fieldset form__fieldset--inline-fill">
          <div class="form__fieldset-inline-fill-container">
            <label class="hide-screen" for="location">Select a borough:</label>
            <select name="location" class="form__input form__input--inline-fill js-change-location-select">
              <option value="">- Select a borough -</option>
              {{> locations/_gm-option-tags }}
            </select>
            <button class="btn btn--brand-e btn--inline-fill js-change-location-btn" type="submit">
              <span class="btn__text">Visit your borough page</span>
            </button>
          </div>
        </fieldset>
      </form>
      <form class="form form--highlighted js-find-help-form">
        <fieldset class="form__fieldset form__fieldset--inline-fill">
          <legend class="form__fieldset-title">Find local support organisations:</legend>
          <div class="form__fieldset-inline-fill-container">
            <label class="hide-screen" for="postcode">Your Postcode</label>
            <input name="postcode" class="form__input form__input--inline-fill js-find-help-postcode" placeholder="your postcode: eg M1 2HX"></input>
            <button class="btn btn--brand-e btn--inline-fill" type="submit">
              <span class="btn__text">Find help</span>
            </button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="home__copy">
      <div class="js-map"></div>
    </div>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content block__content--vert-fill">
      <div class="proximity-form">
        <h1 class="h2">Do you need local support this winter?</h1>
        <form class="form form--highlighted js-find-help-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">Find help in your area</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="postcode">Your Postcode</label>
              <input name="postcode" class="form__input form__input--inline-fill js-find-help-postcode" placeholder="your postcode: eg M1 2HX"></input>
              <button class="btn btn--brand-e btn--inline-fill" type="submit">
                <span class="btn__text">Find help</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="proximity-form">
        <h1 class="h2">Do you want to do something to help?</h1>
        <form class="form form--highlighted js-give-help-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <legend class="form__fieldset-title">See what's needed in your area</legend>
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="postcode">Your Postcode</label>
              <input name="postcode" class="form__input form__input--inline-fill js-give-help-postcode" placeholder="your postcode: eg M1 2HX"></input>
              <button class="btn btn--brand-e btn--inline-fill" type="submit">
                <span class="btn__text">Give help</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div> 
  </div>  
</div>

<div class="block block--highlight">
  <div class="container container--central-cta">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get involved</h1>
      <p>If you would like to get involved and help end homelessness across Greater Manchester, <a href="https://streetsupport.us12.list-manage.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=3c6ae13085">join our mailing list</a>.</p>
    </div>
  </div>
</div>

<div id="js-news-output"></div>

<script id="js-news-tpl" type="text/template">
    {{> news-posts }}
    {{> social-share }} 
</script>