---
title: Legislative Theatre - Street Support
description: Greater Manchester Legislative Theatre information and resources
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: legislative-theatre
page: legislative-theatre
location: greater-manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/greater-manchester">Greater Manchester</a></li>
      <li class="breadcrumbs__item">Legislative Theatre</li>
    </ol>
  </div>
</div>


<div class="block block--header block--gm-header">
  <div class="container container--gm-header">
    <h1 class="h1 block__header">Legislative Theatre</h1>
    <p class="h2 block__sub-header">Homelessness Prevention Strategy, 2020-21</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2>Legislative Theatre News</h2>
      <ul>
        <li><a href="https://themeteor.org/2022/03/12/legislative-theatre/">Legislative theatre: enhancing and diversifying democracy, with a smile</a> (The Meteor)</li>
        <li><a href="https://news.streetsupport.net/2020/06/11/introducing-gm-legislative-theatre/">Introducing GM Legislative Theatre</a></li>
        <li><a href="https://news.streetsupport.net/2020/12/02/gmhan-legislative-theatre-funding-and-commissioning/">GMHAN Legislative Theatre - Funding and Commissioning</a></li>
        <li><a href="https://news.streetsupport.net/2020/12/16/policy-proposals-from-the-legislative-theatre-funding-commissioning-event-on-9th-dec/">Policy proposals from the Legislative Theatre Funding & Commissioning event</a></li>
        <li><a href="https://news.streetsupport.net/2021/02/11/greater-manchester-legislative-theatre-update/?mc_cid=68468a7ec6&mc_eid=675a072183">Greater Manchester Legislative Theatre Update</a></li>
      </ul>

      <h2>Legislative Theatre Videos</h2>

      <h2 class="h2">Co-Producing the GMCA Homelessness Prevention Strategy</h2>
      <p>Highlights from legislative theatre events in 2020 with GM Homelessness Action Network, the GM Combined Authority, and GM Housing First.</p>
      <div style="padding-top: 10px!important;" class="block">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X3SIpGEB54g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <h2 class="h2">Legislative Theatre Event 30th September 2020</h2>
      <p>Legislative Theatre on Homelessness Prevention and Funding and Commissioning: 9 Dec 2020</p>
      <div class="block" style="padding-top: 10px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aIvqesEediM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <h2 class="h2">Funding and Commissioning</h2>
      <p>Legislative Theatre on Homelessness Prevention and Funding and Commissioning: 9 Dec 2020</p>
      <div class="block" style="padding-top: 10px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oe6YMIYL_fM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <h2 class="h2">You Know Where the Door Is</h2>
      <p>Legislative Theatre with the GM Housing First pilot program, on landlords, mental health and more: 15 Oct 2020</p>
      <div class="block" style="padding-top: 10px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EoAFiiUh-T4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <h2 class="h2">Legislative Theatre Impact and Resources</h2>
      <ul>
        <li><a target="_blank" href="https://www.greatermanchester-ca.gov.uk/media/5074/gmhps-final-july-21.pdf">GM Homelessness Prevention Strategy, integrating from the Legislative Theatre processes</a></li>
        <li><a target="_blank" href="/greater-manchester/lt-evaluation/legislative-theatre-evaluation.pdf">Legislative Theatre evaluation: Co-Producing the GMCA Homelessness Prevention Strategy</a></li>
      </ul>

      <h2 class="h2">Special thanks</h2>
      <p>Samra Said (Street Support Network) for helping to coordinate</p>
      <p>GMCA for funding</p>
      <p>Katy Rubin, Andy Muzondiwa, Pat Clinton, Nadia Purcell, John Organ, and Stan Benes for designing and facilitating this project</p>
    </div>
    {{> social-share}}
  </div>
</div>

