---
title: Sponsor - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: sponsor
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Partnership</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Partnership</h1>
    <h2 class="h2 block__sub-header">Partner with Street Support Network to help homeless people in Manchester</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
    	<p>We are looking for businesses and organisations to partner with us, supporting over 30 Manchester homelessness charities and voluntary groups.</p>
    	<p>We have a list of features that organisations would like us to develop, to help them provide effective services for people experiencing homelessness in Manchester. Could you fund any of the following...</p>
      <ul>
        <li>User testing and improvements to the find help section: £4,000</li>
        <li>Expand the site to include Greater Manchester: £6,000</li>
        <li>Develop the central skills/volunteer database for organisations: £5,000</li>
        <li>Launch a city-wide education and publicity campaign: £5,000</li>
        <li>Create a public impact dashboard to provide transparency: £4,000</li>
        <li>Add a map view for finding organisations and services: £3,000</li>
        <li>Wages for a homeless person to work on admin tasks: Est £1,000/month</li>
      </ul>

      <p>If you share our mission to support local people experiencing homelessness, could you help the Street Support Network by donating money or resources?</p>
      {{> form-feedback}}
      <!-- ko ifnot: isFormSubmitSuccessful -->
      <form class="form" data-bind="submit: submit">
        <p>Please fill in the form below to let us know what you are able to offer.</p>
        <p>* denotes a required field.</p>
        <fieldset class="form__fieldset" data-bind="with: formModel">
          <legend class="h2 form__fieldset-title">I Can Help!</legend>
          <ul class="form__field-list">
            <li class="form__field-item form__field-item--full">
              <label class="form__label" for="email">Email *</label>
              <input type="text" class="form__input form__input" id="email" data-bind="value: email" />
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label" for="message">Message *</label>
              <textarea class="form__input form__input--multiline" id="message" data-bind="value: message"></textarea>
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label--checkbox" for="isOptedIn">I would like occasional updates about Street Support in my inbox</label>
              <input type="checkbox" id="isOptedIn" data-bind="attr: { value: isOptedIn }, checked: isOptedIn" class="form__input--checkbox" />
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
      </form>
      <!-- /ko -->

      <p>Here are some of the things that have already been generously funded by local organisations...</p>
      <ul>
        <li>Launch The Manchester Homelessness Charter: £5,000</li>
        <li>Apple &amp; Android app versions for use offline: £6,000 each</li>
      </ul>

    </div>
  </div>
</div>
