---
title: Training - Working together to end homelessness in Manchester
description: Having well trained vounteers helps you deliver a better, safer service
layout: default.hbs
permalink: false
jsBundle: generic
section: organisations
page: training
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/organisations">Organisations</a></li>
      <li class="breadcrumbs__item">Training</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Training</h1>
    <h2 class="h2 block__sub-header">Having well trained vounteers helps you deliver a better, safer service</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>It is important that your volunteers are trained to support vulnerable people with a variety of needs.  Being well trained gives protection to both volunteers and the people you support.<p>
      <p>Courses are frequently updated, so please check back regularly.</p>
      <article class="training-course">
        <h2 class="h2">Communication Skills</h2>
        <p>Friends' Meeting House, 6 weeks, £400</p>
        <h3 class="h3">How to book</h3>
        <p>*** include links out if needed and any other course info, such as limited numbers etc</p>
      </article>
      <article class="training-course">
        <h2 class="h2">Communication Skills</h2>
        <p>Friends' Meeting House, 6 weeks, £400</p>
        <h3 class="h3">How to book</h3>
        <p>*** include links out if needed and any other course info, such as limited numbers etc</p>
      </article>
      <p>Volunteers will also benefit from training which develops their understanding of the challenges faced by people who are homeless, and builds their knowledge of other organisations and services.  </p>
      <p>The following information supports this training:</p>
      <ul>
        <li><a href="">link</li>
        <li><a href="">link</li>
        <li><a href="">link</li>
      </ul>
    </div>
  </div>
</div>
