<li class="nav__item nav__item--sub-item nav__item--bolton" data-location="bolton"><a href="/bolton">Bolton</a></li>
<li class="nav__item nav__item--sub-item nav__item--bournemouth" data-location="bournemouth"><a href="/bournemouth">Bournemouth</a></li>
<li class="nav__item nav__item--sub-item nav__item--bradford" data-location="bradford"><a href="/bradford">Bradford</a></li>
<li class="nav__item nav__item--sub-item nav__item--bury" data-location="bury"><a href="/bury">Bury</a></li>
<li class="nav__item nav__item--sub-item nav__item--leeds" data-location="leeds"><a href="/leeds">Leeds</a></li>
<li class="nav__item nav__item--sub-item nav__item--liverpool" data-location="liverpool"><a href="/liverpool">Liverpool</a></li>
<li class="nav__item nav__item--sub-item nav__item--manchester" data-location="manchester"><a href="/manchester">Manchester</a></li>
<li class="nav__item nav__item--sub-item nav__item--oldham" data-location="oldham"><a href="/oldham">Oldham</a></li>
<li class="nav__item nav__item--sub-item nav__item--portsmouth" data-location="portsmouth"><a href="/portsmouth">Portsmouth</a></li>
<li class="nav__item nav__item--sub-item nav__item--southampton" data-location="southampton"><a href="/southampton">Southampton</a></li>
<li class="nav__item nav__item--sub-item nav__item--tameside" data-location="tameside"><a href="/tameside">Tameside</a></li>
<li class="nav__item nav__item--sub-item nav__item--wigan-and-leigh" data-location="wigan-and-leigh"><a href="/wigan-and-leigh">Wigan and Leigh</a></li>