---
title: Brighton and Hove Crowdfunder - Street Support Network
description:
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: crowdfunder
page: crowdfunder
location: brighton-and-hove
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove">Brighton and Hove</a></li>
      <li class="breadcrumbs__item">Crowdfunder</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header" style="height: 250px;">
    <h1 class="h1 block__header">Street Support Brighton and Hove</h1>
    <h2 class="h2">Crowdfunder</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Following huge successes in other cities across the country, the “Street Support - Brighton & Hove” App and website has just landed in Brighton & Hove and is already rapidly becoming the key live portal for accurate up-to-date information for people experiencing homelessness and for support workers working to help meet people’s needs.</p>
      <p>The service needs funding to ensure it can operate all year round providing the help and support so desperately needed by some of our most vulnerable residents.   To this end, Street Support – Brighton & Hove has today launched its own Crowdfunder Page.</p>
      <p>Please support: <a href="https://crowdfunder.co.uk/p/street-support---brighton-hove">Street Support - Brighton & Hove Crowdfunder</a></p>
      <iframe style="margin: 20px auto;" width="560" height="315" src="https://www.youtube.com/embed/6DaMGS1Cfe0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p><span class="quote__body">Street Support has already helped thousands of people across the UK and so for Brighton & Hove to now be part of something that has been shown to work is really exciting.  We know this is very difficult time for everyone but really hope that as many people as possible can help donate. Even the smallest sum is very significant.  We are really pleased that Brighton & Hove Buses has already committed to sponsoring the month of December.  We are looking for other groups and businesses to get involved.</span> - Rik Child, City Administrator for Street Support Brighton & Hove.</p>
    </div>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container container--central-cta">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get in touch</h1>
      <p>If you would like to get involved, or have any offers, questions or suggestion, please get in touch at <a href="mailto: brightonandhove@streetsupport.net">brightonandhove@streetsupport.net</a>.</p>
    </div>
  </div>
  {{> social-share}}
</div>
