---
title: Donate money to the Big Change Fund - Street Support
description: Street support makes it easier to help homeless people. Donate money via the Big Change Fund.
layout: default.hbs
permalink: false
jsBundle: generic
section: locations
page: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/bigchangemcr/">Big Change Mcr</a></li>
      <li class="breadcrumbs__item">Fund Details</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Donate to the Big Change Manchester Fund</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <p>Donating to the Big Change Fund is an effective way to support people who are homeless. By providing the practical items they need to build new lives off the streets, such as rent deposits and training courses, you are helping individuals to make lasting changes.</p>
        <p>This central fund brings together charities, organisations and people who want to end homelessness to use donations effectively to support change. If everyone who lives, works or visits Manchester donates, together we can make Big Changes in our city!</p>
        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
        <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="display-block">
          <figure class="logo">
            <img src="../../../assets/img/justgiving.png" alt="Just Giving" />
          </figure>
        </a>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">Why should I donate to the Big Change Fund?</h2>
        <p>Giving money to people begging on the street doesn’t help individuals move away from sleeping rough, or address the complicated range of reasons which made them homeless.</p>
        <p>Choosing to support the Big Change Fund is the most effective way to make sure your money is used in a way which directly helps people who are homeless change their lives.</p>
        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">What happens to my donation?</h2>
        <p>Your donation joins the central Big Change funding pot which includes donations made by other kind hearted folk and organisations.</p>
        <p>We have a list of charities and organisations who have agreed to be Big Change partners and because these agencies work directly with people who are homeless, they make sure your donation gives maximum benefit.</p>
        <p>Individuals who are homeless can access the fund through these charities and organisations, and after working together to identify what items are needed to help build a new life, they send us an application form. Depending on the amount needed, there are two levels of fund requests to help an individual move away from sleeping rough.</p>
      </div>

      <div class="block__section block__section--about-your-donation">
        <h2 class="h2 text-center--s">If you gave &pound;1&hellip;</h2>
        <div class="figure--donate-chart">
          <figure>
            <img src="../../../assets/img/donate-graph--1.png" alt="5%" />
            <figcaption>Just Giving<span class="hide-screen"> takes 5%</span></figcaption>
          </figure>
          <figure>
            <img src="../../../assets/img/donate-graph--2.png" alt="10%" />
            <figcaption>Forever Manchester<span class="hide-screen"> takes 10%</span></figcaption>
          </figure>
          <figure>
            <img src="../../../assets/img/donate-graph--3.png" alt="85%" />
            <figcaption>Individual<span class="hide-screen"> gets 85%</span></figcaption>
          </figure>
        </div>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Under &pound;100</h3>
            <ul class="list-unstyled">
              <li>Education or training courses</li>
              <li>Furniture or househould items</li>
              <li>Clothes for interviews</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>If the request is for under £100, Big Change partner agencies can submit an online application.</p>
            <p>This excludes cash, emergency accommodation, food or other items which are available for free elsewhere.</p>
          </div>
        </article>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Over &pound;100</h3>
            <ul class="list-unstyled">
              <li>Deposit or rent</p>
              <li>Furnishings for a flat</li>
              <li>White goods over &pound;100</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>If the request is for over £100, the application must be agreed by the Big Change panel.</p>
            <p>The Big Change panel includes: one ex-rough sleeper who is in long term support; one representative from an established organisation; two from Coalition of Relief;  and one from CityCo.</p>
          </div>
        </article>

      </div>

      <div class="block__section">
        <p>Individuals, who are homeless then receive important items, purchased using your donation, to help them take positive steps to staying off the street.  This might include paying for a deposit for a home, a training course to help improve job prospects and clothes for a job interview.  Or it could involve furnishing a new flat, including purchasing crockery, pots, pans and bed linen, as well as funding travel costs to their new home.</p>
        <p>Show your support to ending homelessness by making a donation now.</p>
        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">How can I find out more about the Big Change Fund?</h2>
        <p>To see a list of the charities and organisations partnered with the Big Change Fund, to find out more about how your donation is used, and to enquire about your organisation becoming an approved partner, please visit the <a href="about">About Big Change Manchester page</a>.</p>
        <p>If you have a specific question, you can contact the Big Change Secretary on 0345 1122211 or email <a href="mailto:bigchange@streetsupport.net">bigchange@streetsupport.net</a>.</p>
        <p>Read the latest <a href="http://news.streetsupport.net/tag/big-change-mcr/">Big Change News</a>, or follow us on <a href="https://www.facebook.com/streetsupport">Facebook</a> or <a href="https://twitter.com/streetsupportuk">Twitter</a> to keep up to date with the latest information about Big Change and homelessness in Manchester.</p>
        <p class="text-center">
          <a href="/manchester/bigchangemcr/about/" class="btn btn--brand-e btn--full">
            <span class="btn__text">Find out more about Big Change</span>
          </a>
        </p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <div class="grid--2-of-3--m">
          <h2 class="h2">What else can I do to help?</h2>
          <p>There are lots of different ways you can show support to people who are homeless in Manchester. Big Change Manchester also includes opportunities to <a href="/give-help/volunteer/">volunteer your time</a>, <a href="/give-help/partnership/">become a Street Support partner</a>, or responding to organisations <a href="/give-help/help/">callouts for help</a>.</p>
          <p>You can also learn more about <a href="/find-help/">local services</a> and get in touch with <a href="/find-help/all-service-providers/">homelessness organisations</a> to offer your support.</p>
        </div>

        <div class="grid--1-of-3--m">
          {{>cta brand="e" link="/give-help/help/" btnClass="cta--centered" icon="give" name="Find out how you can help" noWrapper="true"}}
        </div>
      </div>

      <div class="block__section">
        <p class="text-center"><a href="#" class="back-top">Back to top</a></p>
      </div>
    </div>
  </div>
</div>
