<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--crisis-wolverhampton"><a href="https://www.crisis.org.uk/">{{> icon name="crisis-wolverhampton"}}</a></li>
  <li class="partners__logo partners__logo--wmca"><a href="https://www.wmca.org.uk">{{> icon name="wmca"}}</a></li>
  <li class="partners__logo partners__logo--wolves-city-co"><a href="https://www.wolverhampton.gov.uk">{{> icon name="wolves-city-co"}}</a></li>
</ul>
