---
title: Give Help - Street Support
description: Street support makes it easier to help people facing homelessness in Manchester. Here's some ways you can give help.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: give-help
section: givehelp
page: givehelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Give Help</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--wakefield">
  <div class="container">
    <h1 class="h1 block__header">Street Support Wakefield District - Give help</h1>
    <h2 class="h2 block__sub-header">Whether it's offering your time, giving practical items or making a donation - there is lots you can do to make a difference.</h2>
  </div>
</div>

<div class="block block--blue-highlight">
  <div class="container wakefield-cares">
    <div class="block__content">
      <h1 class="wakefield-cares__title">Welcome</h1>
      <p>The IIC platform is the most effective way for individuals and businesses to work together to create real social impact. Thanks to funding by Safer Together (Wakefield’s Community Safety Partnership), 100% of all money donated goes to our local charities, with no commission or fee deductions.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">How does it work?</h2>
      <p>Businesses or individuals who wish to donate (money or items) or volunteer can find out which local organisations need help and how to give it. Click below to view opportunities in your local area.</p>
      <p>If you’re a business, you can use the giving platform to demonstrate your Corporate Social Responsibility either by donating money or items, or providing volunteers from your workforce. If you want to audit and evidence your giving, you can produce impact reports of help you have given.</p>
      <a class="btn  btn--brand-d" href="https://app.investorsincommunity.org/explore/charities?charity_city=Wakefield%20District">
        <span class="btn__text">Start giving</span>
      </a>
    </div>
  </div>
</div>

