---
title: Emergency Homeless Help in Wakefield, Castleford & Pontefract - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-wakefield.jpg
layout: default.hbs
permalink: false
jsBundle: adviceV2
section: wakefield
page: wakefield-advice
location: wakefield
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/wakefield/">Wakefield, Castleford &amp; Pontefract</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="wakefield" sub-heading="Find useful advice related to homelessness in your
area" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <div id="js-faqs-output"></div>
    </div>
  </div>
</div>

<script id="js-faqs-tpl" type="text/template">
  {{> faqs/listing }}
</script>
