---
title: Training - Working together to end homelessness in Manchester
description: Having well trained vounteers helps you deliver a better, safer service
image: https://streetsupport.net/assets/img/og/manchester-big-change.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: training
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/standards-toolkit">Standards Toolkit</a></li>
      <li class="breadcrumbs__item">Training</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--manchester">
  <div class="container container--location-header">
    <h1 class="h1 block__header">Training</h1>
    <h2 class="h2 block__sub-header">Well trained volunteers help you deliver a better, safer service</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>It is important that your volunteers are trained to support vulnerable people with a variety of needs.  Being well trained gives protection to both volunteers and the people you support. Courses are frequently updated, so please check back regularly.</p>
      <div class="training-course-list">
      <article class="training-course-list__item">
        <h2 class="h2">Safeguarding adults</h2>
        <p>A half day training course on safeguarding adults for Manchester based organisations, providing an understanding of the mental capacity act (MCA). This training takes place at regular intervals at the MACC office on Swan Street in Central Manchester.</p>
        <a href="https://www.manchestersafeguardingboards.co.uk/msb-training-programme-2018-19/" class="btn btn--brand-e">
          <span class="btn__text">Learn more</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Safeguarding children</h2>
        <p>MSB training is aimed at professionals that come into contact with children and families in the City of Manchester within partnership agencies and in the voluntary, community and faith sector.</p>
        <a href="http://training.manchesterscb.org.uk/" class="btn btn--brand-e">
          <span class="btn__text">Learn more</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Volunteering and the law</h2>
        <p>A full day training course covering all aspects of volunteering for Manchester based organisations, including volunteers rights, health & safety, vetting & criminal records checks, insurances, restrictions on volunteering, contracts or agreements, volunteering & welfare benefits, and policies for successfully involving volunteers.</p>
        <a href="https://www.manchestercommunitycentral.org/support-groups/training#unnamed_filter=.volunteering" class="btn btn--brand-e">
          <span class="btn__text">Learn more</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Infection control</h2>
        <p>This online course provides fundamental knowledge of how to control the cause and spread of infection through hygiene standards.</p>
        <a href="https://www.vision2learn.net/course/free/116/infection-control-level-2" class="btn btn--brand-e">
          <span class="btn__text">Learn more</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Equality and diversity</h2>
        <p>This online course covers how to apply best practice in relation to equality and diversity.</p>
        <a href="https://www.vision2learn.net/course/free/118/equality-and-diversity-level-2" class="btn btn--brand-e">
          <span class="btn__text">Learn more</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Volunteer DBS checks</h2>
        <p>Salford CVS provide DBS checks for &pound;18 on request.</p>
        <a href="https://www.salfordcvs.co.uk/dbs-checks" class="btn btn--brand-e">
          <span class="btn__text">Find out more</span>
        </a>
      </article>
      </div>
      <p>Volunteers will also benefit from training which develops their understanding of the challenges faced by people who are homeless, and builds their knowledge of other organisations and services. If there is any other training you need, please <a href="/about/contact/">get in touch</a>.</p>
    </div>
  </div>
</div>
