---
title: Severe Weather Emergency Accommodation in Bournemouth - Street Support
description: Severe Weather Emergency Accommodation provision in Bournemouth.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: swep
section: findhelp
page: swep
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/">Bournemouth</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--bournemouth">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Severe Weather Emergency Accommodation</h1>
    <div id="js-swep-output" class="template--maybe-empty"></div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by the council.</p>
      <p>SWEP provision will start on the night of Sunday 4th February as the temperatures are predicted to be zero or below for at least 3 nights from then.

      <p>Workers from St Mungos will be searching for rough sleepers on Sunday morning in both Poole and Bournemouth to inform them of the arrangements.</p>

      <p>Just a reminder that the SWEP provision is open to BPRST verified rough sleepers whether they are connected to the area or not. The provision is from 9pm-7am and is subject to risk assessments to be carried out by BPRST before entry into the venues.</p>

      <p>Please note that BPRST will be advising rough sleepers in Poole to muster at the Salvation Army in Poole High Street at 8pm for assessment and transport to The Gateway Church Hall in Alder Road Parkstone. Rough Sleepers in Bournemouth will be advised to muster at St Stephen's Church from 8.30pm.</p>

</p>
    </div>

    {{> social-share}}
    
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
