---
title: Severe Weather Emergency Accommodation in Bournemouth - Street Support
description: Severe Weather Emergency Accommodation provision in Bournemouth.
image: https://streetsupport.net/assets/img/og/street-support-bournemouth.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: bournemouth
page: bournemouth-advice
location: bournemouth
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/">Bournemouth, Christchurch &amp; Poole</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="bournemouth" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Severe Weather Emergency Provision Protocol for Bournemouth and Poole has been triggered, and will remain in place until further notice.</p>

      <p>The meeting point for the Bournemouth provision is St Stephen’s Church Hall at 8:15pm.</p>

      <p>The meeting point for the Poole provision is at Skinner Street United Reform Church Hall at 8:30pm.</p>

</p>
    </div>

    {{> social-share}}
    
  </div>
</div>
