---
title: Severe Weather Emergency Accommodation in Bournemouth - Street Support
description: Severe Weather Emergency Accommodation provision in Bournemouth.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: swep
section: bournemouth
page: bournemouth-advice
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/">Bournemouth</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="bournemouth" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Severe Weather Emergency Protocol for Bournemouth and Poole has been triggered by the weather forecast starting tonight Thursday 22 February and is likely to continue for at least a week.</p>

      <p>The meeting point for rough sleepers in Bournemouth is St Stephen’s Church Hall at 8.30pm.</p>

      <p>The meeting point for rough sleepers in Poole is the Salvation Army car park Hill Street Poole for 8.15pm (Rough sleepers will be transported by the team from Salvation Army to Gateway Church Hall off Alder Road).</p>

</p>
    </div>

    {{> social-share}}
    
  </div>
</div>