---
title: Volunteer - Street Support
description: Lend your time and skills to organisations near you helping tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: volunteer
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/greater-manchester/">Greater Manchester Winter Provision</a></li>
      <li class="breadcrumbs__item">Volunteer</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">Offer your time and skills this winter</h1>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content">
			<h1 class="h1">A Bed Every Night - Support Volunteers Needed</h1>
       <p>Are you able to support this mission? Please register as a volunteer and help us provide a Bed Every Night this winter in Greater Manchester. Opportunities will be updated over time, and the winter provision co-ordinator in your area will be in touch when they need additional volunteers.</p>

      <h2>Evening and Morning Volunteers in Tameside</h2>
      <p>We need volunteers to help set up and set down the community rooms at the winter provision in Tameside (Hurst Cross, AUL and Central Hyde).</p>
      <p>We also need volunteers to be available to collect / receive deliveries of donations of hot food for those accessing the provision.</p>
      <p>Longer term we would be looking for volunteers to offer peer support and basic advice to help people moving on to other accommodation.</p>

      <h2>Evening Volunteers in Trafford</h2>
      <p>Volunteers are needed from 7.30pm to 10.00pm to ensure the scheme is ready, book guests in and help with food preparation.</p>

      <h2>Evening Support Volunteers in Stockport</h2>
      <p>We need people for a minimum of 4 hours a week (6pm – 10pm) supporting the setup and delivery of a night provision alongside staff members?</p>
      <h2 class="h2">Objectives</h2>
      <ul>
        <li>To establish supportive relationships with adults experiencing homelessness within a night-time provision</li>
        <li>To prepare the night time provision so that it is clean and comfortable</li>
        <li>To support staff with operations relating to the provision i.e. food preparation, laundry, cleaning, taking details</li>
      </ul>
      <h2 class="h2">Training and Preparation</h2>
      <ul>
        <li>Previous experience working with young people or adults with complex needs is useful but not a requirement</li>
        <li>You will receive Safeguarding training and the opportunity to shadow support staff on site</li>
        <li>You will receive a full Health and Safety briefing at the location in which you are volunteering</li>
        <li>This role requires a DBS check</li>
      </ul>

    </div>
  </div>
</div>

{{> give-help/volunteer-form }}
