---
title: Find Help - Street Support
description: Street support makes it easier to help people facing homelessness. Find help relevant to your needs.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: findhelp
section: findhelp
page: findhelp
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Find Help</li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1>Find Help</h1>
      <h2 class="h2">Have you recently become homeless, or at risk of losing your home?</h2>

      <p>Losing your home is a distressing situation no-one should face alone. Find out what you need to do in your area
        to get the best help by selecting a supported area.</p>

      <form class="form location-selector form--highlighted js-change-location-form">
        <fieldset class="form__fieldset form__fieldset--inline-fill">
          <legend class="form__fieldset-title">Get advice for your area</legend>
          <div class="form__fieldset-inline-fill-container">
            <label class="hide-screen" for="location">Select your area:</label>
            <select name="location" class="form__input form__input--inline-fill js-change-location-select">
              <option value="">- Select an area -</option>
              {{> locations/_generated-option-tags }}
            </select>
            <button class="btn btn--brand-e btn--inline-fill js-change-location-btn" type="submit">
              <span class="btn__text">Get advice</span>
            </button>
          </div>
        </fieldset>
      </form>

      <p>If Street Support is not in your area yet, please visit our <a href="advice/">general homelessness advice</a>.
      </p>

      <h2 class="h2">Find local services to help you get what you need</h2>
      <p>From a supportive chat and a warm meal, to legal advice and medical help, find help near you by selecting a category below.</p>
      <div class="block__cta--3 result-grid">
        {{> find-help/_generated-service-cats-ctas }}
      </div>

      <div class="title-with-button">
        <h2 class="h3 title-with-button__title">Looking for an organisation?</h2>
        <a class="btn btn--brand-d title-with-button__btn" href="/find-help/all-service-providers/">
          <span class="btn__text">All organisations</span>
        </a>
      </div>

      <p class="text-center">If there are other local services that you know about, or you would like to help us bring
        Street Support to your area, please <a href="/about/contact/">get in touch</a>.</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
