---
title: Our Trustees and Advisors - Street Support
description: Street support makes it easier to help people facing homelessness. Meet our trustees and advisors.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: trustees
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Trustees and Advisors</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Trustees and Advisors</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Alongside our core team, we have fantastic Trustees and Advisors with a range of skills & experiences to guide our decisions.</p>

    	<h2>Trustees</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--catherine">
          <h2 class="h2">Catherine Lynagh</h2>
        </div>
        <p>I provide support to Viv and Gary on business matters such as legal and finance, raising funds and strategy. Previously I was finance director for a housing association and more recently I provided consultancy services in that sector. My experience of the challenges around tackling homelessness attracted me to the great work that Street Support does and in particular it's inclusive and collaborative approach.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--julie">
          <h2 class="h2">Julie Cook</h2>
        </div>
        <p>I have worked in the housing & homelessness sector for over 30 years after graduating with a Housing Degree from Sheffield Hallam way back in the 80’s, starting out as a front line Homelessness Officer and progressing in local government to heading up a Housing & Benefits Service. I am now enjoying part time work in the charitable sector, most recently with Homeless Link. I’m still passionate about tackling homelessness and the need for collaboration and partnership amongst all those in the sector. I am also a Trustee of Housing Justice.</p>
      </article>

            <article class="team__member">
        <div class="team__member-title team__member-title--rachel">
          <h2 class="h2">Rachel Brennan</h2>
        </div>
        <p>I am passionate about reducing inequalities for people experiencing homelessness. I believe the way to effectively do this is to combine expertise and resources from a range of different sectors and provide the opportunity for people with lived experience  of homelessness to input into the design and delivery of strategies and services.  I have over 8 years experience working in homeless health for the NHS and the voluntary sector and have strong links with stakeholders in Greater Manchester through my employment at Urban Village Medical Practice and now nationally through my role as #HealthNow Network Coordinator at Groundswell. I was fortunate enough to contribute to conversations in the early development of Street Support and I feel very privileged to join the board of trustees now to support the ongoing development of the network.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--viv">
          <h2 class="h2">Viv Slack</h2>
        </div>
        <p>Viv worked in web development for many years with major brands and charities, including Oxfam and Amnesty International. Since 2015 she has supported local social enterprises to use technology to make a difference. Street Support Network emerged from conversations with local people facing homelessness and frontline organisations about where they needed help.</p>
      </article>

      {{> divider }}

      <h2>Advisors</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--charles">
          <h2 class="h2">Charles Gray - Finance & Business Admin</h2>
        </div>
        <p>I'm responsible for managing the Finances and Business Admininstration for Street Support. This includes producing the management accounts, processing invoices and making payments. I get involved with Grant applications and the admin associated with our charitable status. I also assist the directors and trustees with business advice.</p>
        <p>I was previously Managing Director and Finance Director for a logistics company and come from a finance background having qualified as a Chartered Accountant.</p>
        <p>For some time I have wanted to step back from corporate life and apply my experience to more charitable purposes. I was delighted to get the opportunity to assist Street Support from its inception. I was really impressed with the founders' enthusiasm and dedication to deliver real solutions to relieve the hardships caused by homelessness. They have achieved so much from such a low level of resources and it has been a pleasure to support them along the way.</p>
      </article>

      {{> social-share}}
    </div>
  </div>
</div>
