---
title: Our Trustees and Advisors - Street Support
description: Street support makes it easier to help people facing homelessness. Meet our trustees and advisors.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: trustees
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Trustees and Advisors</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Trustees and Advisors</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Alongside our core team, we have fantastic Trustees and Advisors with a range of skills & experiences to guide our decisions.</p>

    	<h2>Trustees</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--catherine">
          <h2 class="h2">Catherine Lynagh</h2>
        </div>
        <p>I provide support to Viv and Gary on business matters such as legal and finance, raising funds and strategy. Previously I was finance director for a housing association and more recently I provided consultancy services in that sector. My experience of the challenges around tackling homelessness attracted me to the great work that Street Support does and in particular it's inclusive and collaborative approach.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--jez">
          <h2 class="h2">Jez Green</h2>
        </div>
        <p>My role as a trustee for Street Support Network is to use my experience of working in the voluntary sector to advise and support the team. I have spent over 16 years working for charities, and have been part of the staff team at Mustard Tree (a local charity with a focus on tackling poverty and preventing homelessness) since 2008. I played a central role in the creation and development of the Manchester Homelessness Partnership, and am passionate about the power of connecting people with different backgrounds and experiences to co-produce change. I have been impressed from the start with the vital role that the team at Street Support have played in doing this, by acting as a central hub of information, communication and support for the homelessness sector in Greater Manchester. I hope that my input can both inform and inspire this growing team.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--gill">
          <h2 class="h2">Gill Leng</h2>
        </div>
        <p>Everyone should have a home in which to start, live and age well: a home that is warm and safe, suitable and affordable. I also believe that action to reduce inequalities, such as tackling homelessness, will benefit everyone, not just those who experience it ie, homelessness should be everyone’s business. I became a trustee of Street Support because it’s doing just this: making it easier for everyone, including local communities and businesses, to connect and contribute to ending homelessness.</p>
        <p>I’ve worked with councils and their partners across England to improve health and wellbeing and reduce health inequalities by tackling homelessness for the last 16 years, and for many national organisations, including Public Health England and the Local Government Association. It’s this national perspective and learning about ‘what works’ (and what doesn’t) from elsewhere that I bring to Street Support.</p>
      </article>

      {{> divider }}

      <h2>Advisors</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--charles">
          <h2 class="h2">Charles Gray - Finance & Business Admin</h2>
        </div>
        <p>I'm responsible for managing the Finances and Business Admininstration for Street Support. This includes producing the management accounts, processing invoices and making payments. I get involved with Grant applications and the admin associated with our charitable status. I also assist the directors and trustees with business advice.</p>
        <p>I was previously Managing Director and Finance Director for a logistics company and come from a finance background having qualified as a Chartered Accountant.</p>
        <p>For some time I have wanted to step back from corporate life and apply my experience to more charitable purposes. I was delighted to get the opportunity to assist Street Support from its inception. I was really impressed with the founders' enthusiasm and dedication to deliver real solutions to relieve the hardships caused by homelessness. They have achieved so much from such a low level of resources and it has been a pleasure to support them along the way.</p>
      </article>

      {{> social-share}}
    </div>
  </div>
</div>
