<li class="nav__item nav__item--hub-nav" data-city="birmingham">
  <dl class="hub-nav-container">
    <dt data-city="birmingham" class="nav__item nav__item--birmingham">
      <a href="/birmingham/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Birmingham</a>
    </dt>
    <dd>
      <ul>
        <li data-city="birmingham" class="nav__item nav__item--birmingham-advice">
          <a href="/birmingham/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
