---
title: Street Support Nottingham - Working together to tackle homelessness in Nottingham
description: Street Support - Find help, and give help, to support people who are homeless in Nottingham
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: nottingham.hbs
permalink: false
jsBundle: generic
section: street-aid
page: street-aid
location: nottingham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/nottingham">Nottingham</a></li>
      <li class="breadcrumbs__item">Street Aid</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header" style="height: 250px;">
    <h1 class="h1 block__header">Street Support Nottingham</h1>
    <h2 class="h2">Nottingham Street Aid</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What is Nottingham Street Aid?</h2>
      <p>Nottingham Street Aid is a fund that gives grants to help individuals avoid spending time living on the street.</p>
      <h2 class="h2">How can the public donate to Nottingham Street Aid?</h2>
      <p>Donations and gift aid from the public will enter the fund through donation contactless points (£3 per donation), Texting STREET plus a number 1-20 to 70560 to donate £1-20 or via our donation web page (reached from a QR code or via this Street Support Nottingham webpage).</p>
      <h2 class="h2">How does Nottingham Street Aid work?</h2>
      <p>Charities that have registered with Nottingham Street Aid can apply to the fund at any time on behalf of an individual to buy a specific item or items that will help them move on from homelessness.</p>
      <p>An independent panel reviews applications and makes grants. Nottingham Street Aid verifies that every penny given is spent on the items requested and evaluates the extent to which the grant achieves its goal of helping that person to move away from life on the streets.</p>
      <img class="notts-street-aid" src="/assets/img/nottingham-logos/street-aid-diagram.jpg" alt="street-aid-diagram">
    </div>
  </div>
</div>

<div class="block block--street-aid-highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What sort of items will Nottingham Street Aid pay for?</h2>
      <p>The fund will pay for the following kind of items which help people to engage with support services, gain employment or move into accommodation.</p>
      <ul>
        <img class="notts-street-aid-logo" src="/assets/img/nottingham-logos/nottingham-street-aid.png" alt="notts street aid logo">
        <li>Bike (plus accessories)</li>
        <li>Travel (eg for interview)</li>
        <li>Training (eg for work)</li>
        <li>Laptop or tablet</li>
        <li>Phone</li>
        <li>Driving licence</li>
        <li>Clothes/suit/shoes</li>
        <li>White goods</li>
        <li>Bed</li>
      </ul>
      <p>This list is not exhaustive, and charities can apply for anything on behalf of their clients.</p>
      <a class="btn btn--brand-d" target="_blank" href="https://www.mygivinghub.com/detailed/donate?encoded=1&encoded_params=eyJpdiI6IkFXTittT3BjUFlIU0RKYThpbWYxbmc9PSIsInZhbHVlIjoicEh4Zk1CMEphY3lYZTNIQnF1dTlyTmtqZUcwWTk2OG9Xbjd3SFRYSFczcVhPUytkNHJHMkR6RlZrTkU2a2J0NTVHWVN3MEFVS3hQaGpGRThBSmxRWDllSVVTNmxsUzMwU0V0TmlpeVJxN1daSEdyWk9Fd0Z3bFVNbUlidkJ5OWNsSllGQmRmT3ZmaEptczNhRzlIaWFScVRENmVZRHNpc2xHZVFON3pLNUZDQi9uaUkzU3RnWEptYXhKdGVmSEJUVDhMcXVNcVl4dDdaZU1KZ3M1cTFBSUNYckwybnhKOXpKblNvMkJTV0kreFpFa1JZV2hRcGxhMEEvRWJXZk1WNmFneW5YVzZRUGtzN2RNczFrd09lMU5qV25UZU5NNDl6L3ljZ1RMWEZWbUJydVFaYkxZYWpVQy8yUkFPYVNiNjhyZlZEaUJtMms2MnBQYngyYTgwdmVuVTNJaEZZU2psbWNrTVN3TVJaVXhMdldkMVVvZlpGR25GMXhiempZSHZ6RTQxUVNBM0JUOVFKa3lISTRWeU5TWUN1RERlU2h0MXJmYUE1d2huMElVamVQNXhXeGtsclM3UFNKS3dGVVVxaFZ2OUJTeU0yVHo1eFZ0UHc2WnBYa1FOUkRPMk01T3dteXNzVXVrOU9yeGdMc1Zzd0lwWFhMSVpocUtrdFI5cVlXSGdmY0VLZFRmaEozYXpnWE5OTDY0NzdmdW1LWWxCN0RNU2hhSWY0YncwbVBtVnk2WXN2dXJHMjU3Mis5dFdWOTNWTnJvaExBMHdwaTdKVVBIVy9ZZGw4ZDhCN281UVpja2g5VTdSYy9NeXVDNnp2bTdyR1kyMDdJRG1SQjNTb1A0K2dhUmVxc2M2N2JsRUppVEhVOUovaGdRbEdpMlZaZTVnZW1sNnRYSlNINVBXc3RBWXJ5dDNMRWk3QVZ5ZzhNdTNGYmFiS3ZTcmNmTGhoWGxlbGVBPT0iLCJtYWMiOiIxMjRiNGI3YTAzMmQ1NTAxMTM4ZGUyY2E1MWExM2ZhMTQwZGJjYmY0MGI1ODlhMDUyMWY1Y2NhZTVkMDMxYWQzIiwidGFnIjoiIn0%3D">
        <span class="btn__text">Donate now</span>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="block block__content">
    <h2 class="h2">How will the panel decide which awards are made from the Street Aid fund?</h2>
    <p>The homeless person must reside in the Nottingham area (including the associated urban boroughs such as West Bridgford and Beeston).</p>
    <p>The panel must be convinced that the grant will help the homeless person avoid spending time on the streets.</p>
    <p>The referring charity must demonstrate that they have looked for alternative sources of funding or alternative sources of those goods.</p>
    <p>The panel will seek to ensure that purchases are from the most appropriate and cost effective sources.</p>
    <h2 class="h2">Who pays for Nottingham Street Aid overheads?</h2>
    <p>Running Street Aid costs money. The costs include:</p>
    <ul>
      <li>A small fee to the companies who provide the text number and donation page</li>
      <li>Contactless points (graphics and lease cost)</li>
      <li>Advertising</li>
      <li>One part time worker to promote and manage the initiative</li>
    </ul>
    <p>We have been able to draw money to the scheme from the council and businesses, much of which would not otherwise have been spent. This money covers all overheads, so that all the money donated by the public (including Gift Aid) is spent on items for homeless people in Nottingham.</p>
    <h2 class="h2">How can organisations apply to access the fund?</h2>
    <p>The Registration and Application process will open on January 2 2024, when details will appear here.</p>
  </div>
</div>




