---
title: Derbyshire Homelessness Charter - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: adviceV2
section: derbyshire
page: derbyshire-charter
location: derbyshire
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/Derbyshire/">Derbyshire</a></li>
      <li class="breadcrumbs__item">Charter</li>
    </ol>
  </div>
</div>

<div style="height: 330px;" class="block block--location-header location-header location-header--derbyshire">
  <div class="container">
    <h1 class="h1 block__header">The Derbyshire Homeless and Homelessness Prevention Charter</h1>
  </div>
</div>

<div class="block__primary">
  <div class="container">
    <h2 class="standout"><font color="white">Our Vision:</font></h2>
    <h2 class="h2"><font color="white">To end homelessness in Derbyshire by making it everyone’s responsibility.</font></h2>
  </div>
</div>

<div class="container">
  <div class="block">
    <div class="block__content">
      <h2 class="standout"><font color="white">Our Values:</font></h2>
      <p>We believe that every person experiencing homelessness in Derbyshire should have a right to:</p>
      <ul>
        <li>Have their voice heard and a choice in their own future.</li>
        <li>Be treated with dignity and respect.</li>
        <li>A safe, secure and sustainable home.</li>
      </ul>
      <p>We believe that all those who work with people experiencing homelessness in Derbyshire should:</p>
      <ul>
        <li>Take a holistic, person-centred approach to supporting people that considers their individual needs.</li>
        <li>Encourage effective system-wide communication and collaboration to target early intervention.</li>
        <li>Not penalise people for past mistakes, recognising that recovery from homelessness is not always linear.</li>
      </ul>
    </div>
  </div>
</div>
