---
title: Emergency Help - Street Support
description: Emergency help for those facing homelessness or have just become homeless.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyHelpRedirect
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help">Find Help</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Help</h1>
    <h2 class="h2 block__sub-header">What to do if you are facing homelessness</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2 class="h2">Presenting as Homeless</h2>
      <p>If you are at risk of becoming homeless, or have recently been made homeless, it is important to tell your local council as soon as possible. They will make an assessment on what services you can access.</p>
      <p>If you are in one of our featured location, <a href="/find-help/emergency-help/councils/">select your council</a> for more details. For all other areas, visit your council web site for more information.</p>

      <h2 class="h2">Independent Advice</h2>
      <p>For independent advice on your situation, we advise that you visit a local <a href="/find-help/dropin">drop in centre</a> or <a href="/find-help/support/timetable/">advice service</a>, or contact <a href="http://www.shelter.org.uk/">Shelter</a>.</p>

      <h2 class="h2">Emergency Accommodation</h2>
      <p>The availability of emergency accommodation depends on your location. Your council or a <a href="/find-help/dropin/timetable/">local drop in centre</a> can advise and make a referral if a suitable options is available.</p>
      <p>During periods of extreme cold weather, councils provide extra emergency accommodation, you can find out more about <a href="/find-help/severe-weather-accommodation/">severe weather accommodation here</a>.</p>

      <h2 class="h2">Homeless Status</h2>
      <p>To be accepted as officially homeless, you must:</p>
      <ul>
        <li>Have not <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/intentional_homelessness">intentionally made yourself homeless</a>.</li>
        <li>Have no legal right to live anywhere in the world, or live somewhere overcrowded or unsafe.</li>
      </ul>
      <p>In addition, the support you get will depend on:</p>
      <ul>
        <li>If you are in <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/priority_need">"priority need”</a></li>
        <li>If you have a <a href="https://england.shelter.org.uk/housing_advice/homelessness/rules/local_connection">"local connection”</a> to the area.</li>
      </ul>
      <p><a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter's website</a> is the best place to learn about your legal rights, or call them on 0808 800 4444.</p>

      <h2 class="h2">Registering for Social Housing</h2>
      <p>You can also register to be assessed for longer term social housing options. Again, your council or <a href="/find-help/dropin/timetable/">a local drop in centre</a> can advise you how to do this, or you may be able to apply online.</p>

      <h2 class="h2">Other Advice</h2>
      <p>It can be confusing to know what support is available to you depending on your circumstances. There is lots of really good information on housing advice and explanations of all the legal terms you might come accross on the <a href="http://england.shelter.org.uk/get_advice">Shelter website</a>.</p>
      <p>There are many other services available to rough sleepers - you can check through the other categories in our <a href="/find-help/">'Find Help'</a> section to see if there is someone that can help with what you need. If you can't find what you need, please <a href="/contact/">get in touch</a> and we will try to put you in contact with someone that can help you.</p>
      <p>Make sure to <a href="http://england.shelter.org.uk/get_advice/homelessness/homeless_and_on_the_streets/10_ways_to_keep_safe_on_the_streets">stay safe on the streets</a>: stay warm and make sure you <a href="/find-help/meals/timetable/">eat and drink</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
