---
title: Emergency Help - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: emergencyHelpRedirect
nosubnav: true
section: findHelp
page: emergencyHelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Advice</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>Please wait whilst we redirect you to your city's emergency help page.</p>

      {{> social-share}}
    </div>
  </div>
</div>
