---
title: Emergency Help - Street Support
description: Emergency help for those facing homelessness or have just become homeless.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyHelpRedirect
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help">Find Help</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Help</h1>
    <h2 class="h2 block__sub-header">Advice if you facing homelessness, or have recently been made homeless.</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1 class="h2">If you are facing homelessness, or have recently become homeless:</h1>

      <p>For emergency advice specific to one of our supported locations, please select a location from the list.</p>

      <h2 class="h3">Registering as Homeless</h2>
      <p>If you are at risk of becoming homeless, or have recently been made homeless, it is important to register as legally homeless with your local council as soon as possible. Advice on how to do this will be available on your council web site.</p>

      <h2 class="h3">Independent Advice</h2>
      <p>For independent advice on your situation, you can contact <a href="http://www.shelter.org.uk/">Shelter</a>, or visit a <a href="/find-help/category-by-day/?category=dropin">local drop in centre</a> for advice. There can also check our <a href="/find-help/category-by-day/?category=support">list of services offering advice near you</a> for more options.</p>

      <h2 class="h3">Emergency Accommodation</h2>
      <p>The availability of emergency accommodation depends on your location. It is best to get advice from your council, a <a href="/find-help/category-by-day/?category=dropin">local drop in centre</a>, or through Shelter. During periods of extreme cold weather, councils provide extra emergency accommodation, you can find out more about <a href="/find-help/severe-weather-accommodation/">severe weather accommodation here</a>.</p>
      
      <h2 class="h3">Find Out More</h2>
      <p>It can be confusing to know what support is available to you depending on your circumstances. There is lots of really good information on housing advice and explanations of all the legal terms you might come accross on the <a href="http://england.shelter.org.uk/get_advice">Shelter website</a>.</p>
      
      {{> social-share}}
    </div>
  </div>
</div>
