---
title: Severe Weather Emergency Accommodation in Salford - Street Support
description: Severe Weather Emergency Accommodation provision in Salford.
image: https://streetsupport.net/assets/img/og/street-support-salford.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: salford
page: salford-advice
location: salford
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/salford/">Salford</a></li>
      <li class="breadcrumbs__item"><a href="/salford/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="salford" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <p>Please contact: <a href="https://goo.gl/maps/yiQ7umWhM742">Salford Housing Options, 7 Wesley Street, Swinton. M27 6AD</a></p>
      <ul>
        <li>Opening hours: Mon, Tues, Thurs, Fri: 08:30am – 4:30pm</li>
        <li>Wed: 1pm – 4:30pm</li>
        <li>Tel: <a href="tel:01616071620">0161 607 1620</a></li>
        <li>Out of hours: <a href="tel:01617948888">0161 794 8888</a></li>
      </ul>
      
    </div>

    {{> social-share}}
    
  </div>
</div>