---
title: Jobs - Street Support - Manchester Full Stack DotNet Developer
description: We are looking for DotNet full stack developers to support our mission to end homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: dotnet
page: dotnet
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/jobs">Jobs</a>
      </li>
      <li class="breadcrumbs__item">Manchester</li>
      <li class="breadcrumbs__item">Developer</li>
      <li class="breadcrumbs__item">Full-Stack DotNet developers</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Freelance Full-Stack .Net developer</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>We are looking for a freelance DotNet full stack developer to support our mission to tackle homelessness.</p>

      <p>Street Support Network works online and offline, connecting and supporting local people and organisations to tackle homelessness. Our vision is a citizen-led network, where people with personal insight into homelessness, decision makers and people with resources co-create effective solutions together. Our website is a central place online to find out about homelessness, see what support is available, and see what people can do to help.</p>

      <p>We are looking for an experienced DotNet developer to lead on a new section of the site aimed at supporting homeless families.</p>

      <p>Our technical skillset includes the following:</p>
      <ul>
        <li>C#, NancyFX, NUnit, NSubstitute, REST</li>
        <li>NodeJS, ES6 javascript, KnockoutJS, HoganJS, Sass/BEM, Jasmine/SinonJS</li>
        <li>Azure, MongoDB</li>
        <li>Git, UX design understanding, Test driven development, Continuous Integration, Automation</li>
      </ul>

      <p>We run our team on an agile basis, with short release cycles, responding to the changing needs of the network. Priorities are decided on by an internal product owner, and tickets are currently organised and assigned through Trello. Source is stored in GitHub and there is a quick setup routine. Our team use Slack to communicate when working remotely.</p>

      <p>We initially need around 20 days development work, with a possibility of extending this to other projects. We're open to flexible, part-time and remote working. The project will start in June 2020.</p>

      <p>(We would also love to hear from anyone able to offer some time as a digital volunteer - either through our <a href="https://www.meetup.com/EndHomelessness-digital-community/">regular meetup events</a>, or in your own time.)</p>

      <p>If you have the skills and share our values, please email <a href="mailto:viv@streetsupport.net">viv@streetsupport.net</a>.</p>

      <p>Please share to help us find the right person with the skills and passion for this work.<p>

      {{> social-share}}
    </div>
  </div>
</div>
