---
title: Emergency Homeless Help in Rochdale - Street Support
description: Street support makes it easier to help people facing homelessness in Rochdale. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-rochdale.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: rochdale
page: rochdale-advice
location: rochdale
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/rochdale/">Rochdale</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="rochdale" }}

<div class="block">
  <div class="container">
    <div class="block__content"><a name="council-info"></a>
      <h2 class="h2">Support from Rochdale Council</h2>
      <p>To tell Rochdale council you are homeless:</p>
      <ul>
        <li>Visit Rochdale council town hall</li>
        <li>Call <a href="tel:03003038548">0300 303 8548</a> (Mon/Tue/Fri 9.30am-3pm, Wed/Thu 1-3pm)</li>
        <li>Outside those hours in an emergency call <a href="tel:03003038875">0300 303 8875</a></li>
        <li>Email <a href="mailto:housing.homelessness@rbh.org.uk">housing.homelessness@rbh.org.uk</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During periods of severe cold weather, when forecast to fall to zero degrees or below, additional emergency accommodation is provided by the council. This is often called 'SWEP' - severe weather emergency provision.</p>
      <p>For anyone that needs information they can contact our accommodation service at Leopold Court <a href="tel:01706923511">01706 923 511</a></p>
      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping and helping them to get inside if possible. Each individual is assessed so that appropriate accommodation can be found based on their needs.</p>
      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Read news about SWEP</span>
      </a>

      {{> social-share}}
    </div>
  </div>
</div>