---
title: It Takes a City - Street Support
description: It Takes a City is a citywide partnership responding collaboratively to the issue of homelessness in Cambridge. Here is how they operate.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: cambridge
page: cambridge-it-takes-a-city
location: cambridge
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/cambridge">Cambridge</a></li>
      <li class="breadcrumbs__item">It Takes a City</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header">
    <h1 class="h1 block__header">It Takes a City</h1>
    <p class="h2 block__sub-header">A Cambridge Homelessness Partnership</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2>Who are we?</h2>
      <p><span class="italic">It Takes a City</span> is a citywide partnership responding collaboratively to the issue of homelessness in Cambridge.</p>
      <p>We are more than a charity or a summit, we are a movement, a collaborative partnership made up of Experts by Experience, Agency Workers, Faith Communities, Cambridge City Council, Cambridgeshire County Council, Businesses, the University, Colleges, Students, Heath Institutions and individuals to bring together the full passion, privilege and professional skill to address homelessness and inequalities within the city.</p>
      <p>The partnership unites people with personal experience of homelessness and organisations from different sectors, to co-produce solutions which lead to sustained change.</p>
      <p><span class="italic">It Takes a City</span> was established in 2019 in response to the Cambridge Summit on Homelessness, held in November 2018.</p>
      <p>Cambridge is a city on the world stage that has invented, solved, inspired and delivered huge change to humankind.  We believe the city possesses what is needed to solve its own homelessness issue – ideas, imagination, intelligence, expertise, wealth and humanity.  Everyone in Cambridge can be part of a radical, lasting solution, and feel good about it.</p>

      <div class="quote">
        <p class="quote__body text-center">It Takes a City – A Cambridge Homelessness Partnership - provides a framework and mechanism to enable the city to unite and take action to end rough sleeping in the city due to homelessness</p>
      </div>

      <h2>Our Vision:</h2>
      <p>To end rough sleeping in Cambridge due to homelessness, making sure everyone has somewhere to call home, with the support they need.
      </p>
      <p>We want to unite Cambridge to collaborate and harness resources; leading to lasting change. To do this, we follow two guiding principles:</p>
      <ul>
        <li>Co-production: People experiencing homelessness and experts by experience will shape the services designed to support them.</li>
        <li>Collaboration: People from all sectors of our community committed to a shared vision, coming together to make a lasting difference.</li>
      </ul>
      <p>We believe that everyone living in Cambridge should have:</p>
      <ul>
        <li>A home which is safe, suitable and sustainable.</li>
        <li>Person-centred, tailored support for their journey out of homelessness.</li>
        <li>Protection from violence, abuse, and discrimination.</li>
        <li>Equality of access to information, education and employment opportunities.</li>
        <li>Ways to function and flourish within their own community.</li>
      </ul>

      <h2>Action Groups</h2>
      <div class="quote">
        <p class="quote__body text-center">Actions groups provide a loose structure bound by shared vision and values</p>
      </div>
      <p><span class="italic">It Takes a City</span> has Action Groups made up of representatives from the community. Each group focusses on a specific issue which affects people experiencing homelessness in Cambridge.  Each group develops its own collaborative actions to tackle that issue, with the following core values:</p>
      <ul>
        <li>Lived Experience - Homeless people, and those with past experience of being homeless, are shaping the process and owning the outcomes.</li>
        <li>Subject expertise - We don't need to try to reinvent the wheel!</li>
        <li>Locally do-able - Realistic actions that can be achieved together by the community.</li>
        <li>Clear, action-orientated goals and objectives that lead to sustained change.</li>
      </ul>
      <p>The action group themes are:</p>
        <div class="split__element text-center">
          {{>icon name="itac-logo" class="partnership__icon--itac" }}
        </div>
      <ul>
        <li>Street Support Cambridge</li>
        <li>Information</li>
        <li>Housing</li>
        <li>Women's homelessness</li>
        <li>Working</li>
        <li>Youth</li>
        <li>Support</li>
        <li>Co-production</li>
        <li>Business</li>
      </ul>
      <p><span class="italic">It Takes a City</span> has a website that will bring the community together around homelessness, highlighting developments and showing how these conversations are turning into actions that lead to change. You can find our website at <a href="https://www.ittakesacity.org.uk">www.ittakesacity.org.uk</a></p>
      <p>If you want to be a part of <span class="italic">It Takes a City</span>, or to find out more:</p>
      <ul>
        <li>Vist the It Takes a City website at <a href="https://www.ittakesacity.org.uk">www.ittakesacity.org.uk</a></li>
        <li>Follow <a href="https://twitter.com/ittakesacity">@ittakesacity</a> on Twitter</li>
        <li>Businesses can get in touch on <a href="mailto:itacinfo@ittakesacity.org.uk">itacinfo@ittakesacity.org.uk</a></li>
        <li><a href="/find-help">Find Help</a> in Cambridge</li>
        <li><a href="/give-help">Give Help</a> in Cambridge</li>
      </ul>
    </div>
    {{> social-share}}
  </div>
</div>

