---
title: It Takes a City - Street Support
description: It Takes a City is a citywide partnership responding collaboratively to the issue of homelessness in Cambridge. Here is how they operate.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: cambridge
page: cambridge-it-takes-a-city
location: cambridge
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/cambridge">Cambridge</a></li>
      <li class="breadcrumbs__item">It Takes a City</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header" style="height: 250px;">
    <h1 class="h1 block__header">It Takes a City</h1>
    <p class="h2 block__sub-header">A Cambridge Homelessness Partnership</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <div>
        <h2 class="h2">CORONAVIRUS UPDATE</h2>
        <p>In light of Coronavirus, <span class="italic">It Takes a City</span> is working with a range or partners in Cambridge to help deliver various outcomes. These will:</p>
        <ul>
          <li>Help slow the spread of the virus</li>
          <li>Ensure safe and secure accommodation is in place for all rough sleepers</li>
          <li>Make sure vital practical and pastoral support is provided</li>
          <li>Help connect partners to make best use of the available resources</li>
          <li>Endorse an It Takes a City collaborative response to the crisis</li>
        </ul>
        <p>Actions of ITAC include:</p>
        <ul>
          <li>Leading on provision of meals to those who have moved off the streets and into bed and breakfast</li>
          <li>Playing a key role in the Council’s COVID-19 Cambridge Homelessness Partnership, so the <span class="italic">It Takes a City</span> network responds to the needs identified</li>
          <li>Focusing on the provision of new housing options for rough sleepers</li>
          <li>Maintaining Street Support Cambridge as the place to go to find help (what is on offer, what is changing) and to give help (what agencies need due to Covid-19)</li>
          <li>Improving the information available to customers and partners</li>
          <li>Adjusting or pausing all other projects to make sure our focus is on the immediate and most pressing issues</li>
        </ul>
      </div>

      <hr>

      <div class="quote">
        <p class="quote__body text-center">It Takes a City – A Cambridge Homelessness Partnership - provides a framework and mechanism to enable the city to unite and take action to end rough sleeping in the city due to homelessness.</p>
      </div>

      <h2 class="h2">Who are we and why are we here?</h2>
      <p><span class="italic">It Takes a City</span> was established in 2019 in response to the Cambridge Summit on Homelessness, held in November 2018.</p>
      <p>We believe no one agency or authority can tackle the problem of homelessness on their own. It Takes a City is both a generous offer to the authorities and existing agencies from the wider community, and a way that the wider community can work in partnership at all levels with the authorities, existing agencies and those with lived experience of homelessness to co-produce solutions which lead to sustained change.</p>
      <p><span class="italic">It Takes a City</span> brings together those with lived experience, managers and front-line workers, members of faith communities, public sector officials, business owners and managers, teachers, academics, students and concerned individuals. </p>
      <p>Cambridge is a city on the world stage that has invented, solved, inspired and delivered huge change to humankind.  We believe the city possesses what is needed – ideas, imagination, intelligence, expertise, wealth and humanity.  Everyone in Cambridge can be part of radical, lasting solutions, and feel good about it.</p>

      <h2 class="h2">Our Vision:</h2>
      <div class="quote">
        <p class="quote__body text-center">To end rough sleeping in Cambridge due to homelessness, making sure everyone has somewhere to call home, with the support they need.</p>
      </div>
      <p>We want to unite Cambridge to collaborate and harness resources; leading to lasting change. To do this, we follow two guiding principles:</p>
      <ul>
        <li>Co-production: People experiencing homelessness and experts by experience will shape the services designed to support them.</li>
        <li>Collaboration: People from all sectors of our community committed to a shared vision, coming together to make a lasting difference.</li>
      </ul>
      <p>We believe that everyone living in Cambridge should have:</p>
      <ul>
        <li>A home which is safe, suitable and sustainable.</li>
        <li>Person-centred, tailored support for their journey out of homelessness.</li>
        <li>Protection from violence, abuse, and discrimination.</li>
        <li>Equality of access to information, education and employment opportunities.</li>
        <li>Ways to function and flourish within their own community.</li>
      </ul>

      <h2 class="h2">Action Groups:</h2>
      <div class="quote">
        <p class="quote__body text-center">Solutions are designed within Action Groups bringing together all with a shared interest in a different outcome. Solutions are delivered by Action Group members, funded by various means.</p>
      </div>
      <p>Each of the Action Groups focus on a specific issue which affects people experiencing homelessness in Cambridge.  Each group develops its own collaborative actions to tackle that issue, with the following core values:</p>
      <ul>
        <li>Lived Experience - Homeless people, and those with past experience of being homeless, are shaping the process and owning the outcomes.</li>
        <li>Subject expertise - We don't need to try to reinvent the wheel!</li>
        <li>Locally do-able - Realistic actions that can be achieved together by the community.</li>
        <li>Clear, action-orientated goals and objectives that lead to sustained change.</li>
      </ul>
      <p>The action group themes are:</p>
      <ul>
        <div class="split__element text-center">
          {{>icon name="itac-logo" class="partnership__icon--itac" }}
        </div>
        <li>Street Support Cambridge</li>
        <li>Information</li>
        <li>Housing</li>
        <li>Women's homelessness</li>

        <li>Working</li>
        <li>Youth</li>
        <li>Support</li>
        <li>Co-production</li>
        <li>Business engagement</li>

      </ul>

      <h2 class="h2">It Takes a City (Cambridge)</h2>
      <div class="quote">
        <p class="quote__body text-center">It Takes a City (Cambridge) is a new charitable company set up to support, facilitate and coordinate the Action Groups, communicate and liaise on behalf of the partnership, and raise the funds needed to deliver the solutions.</p>
      </div>
      <div>
        <p>The It Takes a City website – <a href="mailto:itacinfo@ittakesacity.org.uk">itacinfo@ittakesacity.org.uk</a> – Twitter <a href="https://twitter.com/ittakesacity">@ittakesacity</a> – and Linked-in are some of the ways the work of the Action Groups and the funding needs are communicated by It Takes a City (Cambridge).</p>
        <p>Our Coordinator, a part-time paid role, manages our communications, reaches out to the wider community and coordinates the reporting from the Action Groups. We fund the work of the Street Support Cambridge Action Group, provide insurance and banking as needed, and hold funds to support training and development across all Action Groups.</p>
        <p>We acknowledge with grateful thanks the financial and other support from local businesses, charitable trusts and Cambridge City Council that has made this possible.</p>
        <p class="bold">Map of Street Support locations in Cambridge @ Feb 2020</p>
        <p>If you want to be part of It Takes a City, or to find out more:</p>
        <ul>
          <li>Visit It Takes a City website at <a href="https://www.ittakesacity.org.uk/">https://www.ittakesacity.org.uk/</a></li>
          <li>Follow <a href="https://twitter.com/ittakesacity">@ittakesacity</a> on Twitter</li>
          <li>Businesses can get in touch using this email address <a href="mailto:itacinfo@ittakesacity.org.uk">itacinfo@ittakesacity.org.uk</a></li>
          <li>Find help using this link <a href="https://streetsupport.net/find-help">https://streetsupport.net/find-help</a></li>
          <li>Give help using this link <a href="https://streetsupport.net/give-help">https://streetsupport.net/give-help</a></li>
          <li>Media enquiries <a href="mailto:media@ittakesacity.org.uk">media@ittakesacity.org.uk</a></li>
        </ul>
      </div>
    </div>
    {{> social-share}}
  </div>
</div>
