---
title: Street Support Nottingham - Working together to tackle homelessness in Nottingham
description: Street Support - Find help, and give help, to support people who are homeless in Nottingham
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: nottingham.hbs
permalink: false
jsBundle: generic
section: moneyhelp
page: moneyhelp
location: nottingham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/nottingham">Nottingham</a></li>
      <li class="breadcrumbs__item">Money help services</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header" style="height: 250px;">
    <h1 class="h1 block__header">Street Support Nottingham</h1>
    <h2 class="h2">Money Help Services</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Advice Services (help with benefits or debt)</h2>

      <p>Advice Nottingham services (please see website for opening hours and full details, as each service varies):</p>
      <ul>
        <li>Bestwood Advice - <a href="tel:0115 962 6519">0115 962 6519</a></li>
        <li>Citizens Advice - <a href="tel:0300 330 5457">0300 330 5457</a></li>
        <li>Clifton Advice - <a href="tel:0115 940 5551">0115 940 5551</a></li>
        <li>Nottingham Law Centre - <a href="tel:0115 978 7813">0115 978 7813</a></li>
        <li>Meadows Advice - <a href="tel:0115 986 0197">0115 986 0197</a></li>
        <li>St Ann’s Advice - <a href="tel:">0115 950 6867</a></li>
      </ul>

      <h2 class="h2">Welfare Rights, NCC</h2>
      <ul>
        <li>Call on: <a href="tel:0115 915 1355">0115 915 1355</a></li>
        <li>Website: <a href="https://www.nottinghamcity.gov.uk/welfarerights">https://www.nottinghamcity.gov.uk/welfarerights</a></li>
      </ul>

      <h2 class="h2">Age UK Notts (pension-age benefits)</h2>
      <ul>
        <li>Tel: <a href="tel:0115 844 0011">0115 844 0011</a></li>
        <li>Email: <a href="mailto:info@ageuknotts.org.uk">info@ageuknotts.org.uk</a></li>
        <li>Website: <a href="https://www.ageuk.org.uk/notts/">https://www.ageuk.org.uk/notts/</a></li>
      </ul>

      <h2 class="h2">Nottingham City Homes tenants (benefits and budgeting advice)</h2>
      <ul>
        <li>Tel: <a href="tel:0115 915 4920">0115 915 4920</a></li>
        <li>Tenants can self-refer to the Tenency Sustainment team.<br>Email: <a href="mailto:moneymatters@nottinghamcityhomes.org.uk">moneymatters@nottinghamcityhomes.org.uk</a>.<br>Text: DOSH and your free message to 80800.</li>
        <li>Also support NCH tenants who are new Universal Credit claimants and contacting them to offer support.</li>
      </ul>

      <h2 class="h2">Community Money Advice Centres (debt):</h2>
      <ul>
        <li>Step Forward Money Advice - <a href="tel:0115 988 7069">0115 988 7069</a>.<br>
        Website: <a href="https://www.communitymoneyadvice.com/centre/trent-debt-advice">https://www.communitymoneyadvice.com/centre/trent-debt-advice</a>.
        </li>
        <li><a href="https://www.communitymoneyadvice.com/centre/cornerstone-money-advice-nottingham" target="_blank">Cornerstone Money Advice </a> - <a href="tel:0115 958 8712">0115 958 8712</a> & <a href="tel:07492 690203">07492 690203</a>.</li>
        <li>West Bridgford Debt Centre (CAP) – call via the national CAP number <a href="tel:0800 328 006">0800 328 006</a>.<br>
        Email: <a href="mailto:wbdebtcentre@gmail.com">wbdebtcentre@gmail.com</a></li>
      </ul>

      <h2 class="h2">Step Change Debt Charity (national)</h2>
      <ul>
        <li>Website: <a href="https://www.stepchange.org/">https://www.stepchange.org/</a>.<br>Multiple ways get to get in touch but if telephoning, then see the information needed to have ready before calling.</li>
      </ul>

      <h2 class="h2">National Debt Line (national)</h2>
      <ul>
        <li>Website: <a href="https://www.nationaldebtline.org/">https://www.nationaldebtline.org/</a>.<br>Multiple ways get to get in touch but if telephoning, then see the information needed to have ready before calling.</li>
      </ul>

      <h2 class="h2">Notts and Lincs Credit Union (for lower cost loans and for saving)</h2>
      <ul>
        <li>Nottingham Credit Union  - <a href="tel:0115 828 3121">0115 828 3121</a>.<br>Website: <a href="https://nottsandlincscu.co.uk/">https://nottsandlincscu.co.uk/</a>.</li>
      </ul>

      <h2 class="h2">If you are a victim of a Loan Shark (illegal money lender)</h2>
      <ul>
        <li>Illegal Money Lending Team (National).</li><br>
        To safely report a loan shark: <a href="tel:0300 555 2222 ">0300 555 2222</a> (24/7).<br>
        Online: <a href="	https://www.stoploansharks.co.uk/">	https://www.stoploansharks.co.uk/ (resources to download)</a><br>
        Training and awareness sessions are available also for staff and community groups.
      </ul>

      <h2 class="h2">Affordable Warmth/Energy</h2>
      <ul>
        <li>Nottingham Energy Partnership - <a href="tel:0115 985 9057">0115 985 9057</a><br>
        <a href="https://nottenergy.com/our-services/">https://nottenergy.com/our-services/</a></li>
        <li>Nottingham City Homes<br>
        Email: <a href="mailto:energyteam@nottinghamcityhomes.org.uk">energyteam@nottinghamcityhomes.org.uk</a><br>
        Online: <a href="https://www.nottinghamcityhomes.org.uk/your-home/energy-and-sustainability/">https://www.nottinghamcityhomes.org.uk/your-home/energy-and-sustainability/</a></li>
        <li>Fuel debt advice at Bestwood Advice; Nottingham Law Centre; Meadows Advice, St Ann’s Advice.</li>
      </ul>

      <h2 class="h2">Financial Capability and Learning About Money - services and courses</h2>
      <ul>
        <li>Nottingham Financial Resilience Partnership – <a href="tel:01332 460466">01332 460466</a><br>
        emma@financialinclusionsupport.co.uk</li>
        <li>Money Sorted in D2N2 project/service<br>
        <a href="https://moneysortedind2n2.org/">https://moneysortedind2n2.org/</a> (across Derbys and Notts). One to one worker and tailored action plan.  Only for those not in paid work.</li>
      </ul>
      <h2 class="h2">Financial Capability and Learning About Money - Websites</h2>
      <ul>
        <li>Money and Pensions Services <a href="https://www.moneyadviceservice.org.uk/en" target="_blank">https://www.moneyadviceservice.org.uk/en</a></li>
        <li>Citizens Advice <a href="https://www.citizensadvice.org.uk" target="_blank">https://www.citizensadvice.org.uk</a></li>
        <li>Money Saving Expert <a href="https://www.moneysavingexpert.com" target="_blank">https://www.moneysavingexpert.com</a></li>
        <li>Most mainstream bank websites have tools on managing money.</li>
      </ul>

      <p class="bold">For a database of all money help services in the city see the Money/Ask Lion page <a href="www.asklion.co.uk/money" target="_blank">www.asklion.co.uk/money</a></p><br>

      <h2 class="h2">Other support</h2>
      <p>School Uniform Project Nottingham:</p>
      <ul>
        <li>Open throughout an August - turn up any time between 10 and 2 Tuesdays and Thursdays.</li>
        <li>Uniform Project Nottingham is based at Himmah: Unit 2, Forest Court, Gamble St, Radford, Nottingham, NG7 4EX</li>
        <li>Outside of these hours, and during school term times book at appointment by email: <a href="mailto: uniformproject@hotmail.com ">uniformproject@hotmail.com </a></li>
        <li>Or message via facebook <a href="https://www.facebook.com/NottinghamUniform/">https://www.facebook.com/NottinghamUniform/</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container container--central-cta">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get in touch</h1>
      <p>For any further help or information on money help services or on financial resilience work generally, contact Emma Bates (Nottingham Financial Resilience Partnership) by telephoning <a href="tel:01332 460466">01332 460466</a> or emailing <a href="maitlo:emma@financialinclusionsupport.co.uk">emma@financialinclusionsupport.co.uk</a></p>
    </div>
  </div>
  {{> social-share}}
</div>
