---
title: Severe Weather Emergency Accommodation in Leeds - Street Support
description: Severe Weather Emergency Accommodation provision in Leeds.
image: https://streetsupport.net/assets/img/og/street-support-leeds.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: leeds
page: leeds-advice
location: leeds
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Leeds</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="leeds" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by the council).</p>
      <p>The Council has signed up to a long standing government protocol to find accommodation for any person who requires it, irrespective of legal duty, when the temperature is forecast to be below zero for two nights in succession.</p>
      <p>The Leeds approach <em>exceeds the government protocol described above</em>, in that the arrangements are activated if the temperature is forecast to be below zero for one night and are not suspended until the first standard working day after the temperature has risen above zero. This means that during the period that Severe Weather Provision (SWP) arrangements are in place, no one needs to sleep on the streets of Leeds.</p>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>

      <h2 class="h2">During Office Hours (Monday – Thursday 8:30 - 4pm Friday 9:30 - 4pm)</h2>

      <p>Approaches are made via physical presentation at Leeds Housing Options 1st Floor, 2 great George street, LS2 8BA. </p>

      <h2 class="h2">Out of Hours</h2>

      <p>Out of hours placements are made through the LHO ‘Out of hours’ response on <a href="tel:0113 3788366">0113 3788366</a>.</p>
      <p>The public can also notify the Street Outreach Team in Leeds if they are worried about a rough sleeper – contact can be made with this team on 0113 245 9445 or email via on <a href="mailto:Leeds.SOS@cgl.org.uk">Leeds.SOS@cgl.org.uk</a>. The Street Outreach Team work closely with the local authority to obtain suitable accommodation for rough sleepers and are in operation between 23.00 – 2.00 during the severe weather conditions.</p>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">

      <p>The arrangements are co-ordinated by Leeds City Council’s Leeds Housing Options service with partner agencies including the Police, Commissioned accommodation services, homeless charities and the voluntary sector. Various commissioned accommodation providers supply extra beds to provide a larger resource during this time with <a href="/find-help/organisation/?organisation=st-georges-crypt">St Georges Crypt</a> being the central service utilised. In total there are 23 additional beds provided during periods of severe weather.</p>
      <p>In Leeds during the last three years there has always been sufficient bed spaces during periods of severe weather. Some of the good practice learned through previous severe weather periods has been carried on into daily use and there are now members of staff in attendance at key locations such as <a href="/find-help/organisation/?organisation=st-georges-crypt">St Georges Crypt</a> throughout the year to promote move on work and help people facing homelessness access longer term accommodation.</p>
      {{> social-share}}
    </div>
  </div>
</div>
