<div class="block block--bcp-changeforgood">
  <div class="container">
    <div class="block__bcp-changeforgood">
      <img src="/assets/img/bournemouth-logos/bournemouth-tap.png" width="100%" alt="change for good logo" />
    </div>
    <div class="home__copy home__copy--bcp-changeforgood">
      <h1>Change For Good</h1>
      <p>The Homelessness Partnership has created a way for members of the public to give directly to the work of local charities so they can help people not only get off the street, but stay off the street for good and have a brighter future. This work is in addition to, and aims to enhance, the existing statutory services who work with people sleeping rough across Bournemouth, Christchurch and Poole.</p>
      <p>We call this ‘Change for Good’.</p>
      <p>You can now give while out visiting Bournemouth town centre – look out for the shop window signs like these…</p>
      <p>Or you can donate by clicking below</p>
      <p>Your donations will help pay for things like the deposit to rent a home, a training course, or clothes for a job interview - practical things that could lead to change for good.</p>
      <p>Thanks to donations from the local Homelessness Collaborative (CIO), the Town Centre BID and BCP Council, 100% of your donation will go to the fund.</p>
      <p>The fund is managed by Dorset Community Foundation, (Reg. Charity Number: 1122113).</p>
      <a class="btn btn--brand-e" href="https://www.justgiving.com/campaign/changeforgoodBournemouth">
        <span class="btn__text">Donate Now</span>
      </a>
    </div>
  </div>
</div>
