---
title: 404 - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
jsName: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <h1 class="h1 block__header">Page not found</h1>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>Sorry, we weren't able to find this page for you. Please try again, or <a href="contact.html">get in touch</a>.</p>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
