---
title: 500 - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Uh oh, there's been a problem.</h1>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p>Sorry, there has been an error! Please go back and try again. If the problem persists, please <a href="contact.html">get in touch</a>.</p>
    </div>
  </div>
</div>
