---
title: About Our Team - Street Support
description: Street support makes it easier to help homeless people. Here is the team behind it.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">About Our Team</h1>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">

      <h2>Viv Slack - Co-Founder</h2>
      <p>Viv worked in web development for many years, creating digital products for major brands and charities, including Oxfam GB and Amnesty International. After 9 years at Manchester agency Code Computerlove, she set up as a freelancer in July 2015 to advise on technology for social impact. Viv started Street Support in October 2016 after talking to homeless people and local organisations to find out where they needed help. The rest is history. <a href="http://objectivesfirst.com">More about Viv</a></p>

      <h2>Gary Dunstan - Co-Founder</h2>
      <p>Gary helps businesses with their ideas. Viv and Gary met at a social enterpreneurs event, and soon realised they shared the same core values, and had complimentary skills. Gary got involved with Street Support and has helped it develop and grow into a sustainable product. His focus is on developing partnerships with local businesses and organisations. <a href="http://doinggoodthinking.com/">More about Gary</a></p>
      
      <h2>Alex Atkinson - Designer</h2>
      <p>Alex is senior designer at McCann. He has generously given his time for free to design Street Support - we couldn't have done this without him! <a href="https://www.linkedin.com/in/alexatkinson1">More about Alex</a></p>

      <h2>Vince Lee - Developer</h2>
      <p>Vince is an experienced full stack developer. He has led the development of Street Support from the start - a safe pair of hands, always reliable and truly dedicated to social impact. <a href="https://www.linkedin.com/in/vincelee888">More about Vince</a></p>
      
      <h2>Phil Lennon - Front End Developer</h2>
      <p>Phil is an experienced developer, specialising in front end web development using the latest techniques and technology. <a href="https://www.linkedin.com/in/frontendphil">More about Phil</a></p>
      
      <h2>Kim Foale - Researcher &amp; Developer</h2>
      <p>Kim is a PhD researcher aswell as a web developer. He conducted our initial research on the organisations and services available in Manchester, and helps ensure everything we do is well thought through and considered. <a href="https://www.linkedin.com/in/kim-foale-5a452428">More about Kim</a></p>
      
      <h2>Jessie Blaynee - User Experience Designer</h2>
      <p>Jessie is an experienced UX designer, working with us to ensure everything we do is easy to understand and use. <a href="https://www.linkedin.com/in/jessie-blaynee-7a760b5a">More about Jessie</a></p>

      <h2>Sophie Ashcroft - Digital Media Graduate</h2>
      <p>Sophie studied an MA in Digital Media Management at Hyper Island in Manchester (which is all together more exciting than it sounds), and chose to work with Street Support as a way to give back to the city and its people. She is really keen on learning by doing, a dyed in the wool lover of post-it notes, and proud owner of a deeply uncool but very useful road bike called Kayleigh.</p>

      {{> social-share}}
    </div>
  </div>
</div>
