---
title: About Us - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
jsName: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <h1 class="h1 block__header">About Street Support</h1>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">

          <h2 class="h2">Turning frustration to positive action</h2>
          <p>As you pass a homeless person in the street, you may well feel a pang of sadness. And that sadness can quickly turn to frustration.</p>
          <p>They’re asking for your change, but you know you shouldn’t give it. You could donate to a charity, but how will your money be used? What can you possibly do to get help to those people sleeping rough on your doorstep?</p>
          <p>Without an answer, it’s not surprising if frustration is where your desire to help ends. But we’ve got an answer for you.</p>

          <h2 class="h2">A smarter way to help the homeless</h2>
          <p>The aim of the Street Support Network is to turn frustration into action, so that every homeless person in Manchester can get the help they need.</p>
          <p>Through this central digital hub, we unite all those already working to help the homeless, with all those who’d like to help, making it easier for all of us to make a bigger impact.</p>
          <p>Volunteers and pro-active members of the public want to help homeless individuals, but aren’t clued up on all the available support. They can use our Find Help tool on their smartphone to search for local support – relevant to the homeless person’s needs and location.</p>
          <p>Charities and voluntary groups need more money, essential items and volunteers. Our Give Help tool lets them advertise the specific things they need, giving the rest of us simple and effective ways to take action.</p>
          <p>All this allows our Manchester network to collaborate, co-ordinate and achieve more together.</p>
          <p>Whoever you are, and however you can, please get involved. Many small, co-ordinated actions will add up to a big difference to homeless people in Manchester.</p>

          <h2 class="h2">Find out more</h2>
          <p>This site is a work in progress, launching in Manchester UK early in 2016.</p>
          <p>We are working on verifying all the information, and developing the Give Help section, aswell as many other features.</p>
          <p>You can find out more about <a href="http://streetsupport.net/about">who we are</a>, or read about how we started on <a href="https://streetsupportnet.wordpress.com/">our blog</a>.</p>

          {{> social-share}}
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
