---
title: Category Result - Street Support
description: Test Description
name: category
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <h2 class="h1 block__header">Category</h2>
        <div class="block__content">
          <p>Add ?category=[CATEGORY] to web address to test</p>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <div id="js-category-result-output"></div>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
