---
title: Component Test
description: Test Description
name: home
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="container">
      <h1>Component Tests</h1>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
