---
title: Contact - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
jsName: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <h1 class="h1 block__header">Contact</h1>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>This is a <strong>beta</strong> site for Manchester UK that is currently under development, review, and organisational approval. This means our information could be wrong, incorrect, or incomplete: please check with the organistions listed directly if at all in doubt.</p>
          <p>Please note that we do <strong>not</strong> run any services ourselves, please check for suitable organisations in the <a href="find-help.html">Find Help</a> section if you are homeless and need help.</p>

          <h3>Ways to get in touch</h3>
          <p>If you are a Manchester based organisation, and would like your services to be listed, changed or removed, please let us know at <a href="mailto:admin@streetsupport.net">admin@streetsupport.net</a>.</p>
          <p>If you have any questions, or would like to know more about our plans, you can get in touch at <a href="mailto:info@streetsupport.net">info@streetsupport.net</a>.</p>
          <p>If you are interested in finding out more about the research we did, you can contact <a href="mailto:research@streetsupport.net">research@streetsupport.net</a>.</p>
          <p>Otherwise, you can join the conversation at any time on <a href="https://twitter.com/streetsupportuk">Twitter</a> or <a href="https://www.facebook.com/streetsupport/">Facebook</a>.</p>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
