---
title: Donate to BigChangeMCR - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Donate to The Big Change campaign</h1>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p><a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to BigChangeMcr</span></a></p>
      
      <h2 class="h2">What is the Big Change campaign?</h2>
      <p>A coalition of Manchester charities and voluntary groups have teamed up to create a fun that provides homeless people with practical items they need, so they can build new lives off the streets.</p>
      <p>This network of relief services works together to provide sustainable, long-term solutions to homelessness - supporting people to manage a tenancy agreement, furnish a new home, manage income and expenditure, and build a positive, productive life in the community.</p>
      
      <h2 class="h2">Where will my money go?</h2>
      <p>All money donated to the fund will be used to provide homeless people with the practical items they need to build new lives off the streets. This can include help with deposits, training courses, clothes for a job interview, furnishing a new flat, purchasing crockery, pots and pans and bed linen, and transport to travel to new accommodation.</p>
      
      <h2 class="h2">Why shouldn't I give directly?</h2>
      <p>Those who provide support to rough sleepers know that giving money to people who are begging does not enable them to move them away from the streets. To address the complicated range of problems which made them homeless, including mental health issues and drug and alcohol addiction, they need long term support.</p>
      <p>By giving money via those that work closely with people who are homeless, you can be sure that every penny will go directly to meet genuine needs, and make a real difference.</p>

      <p><a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to The Big Change campaign</span></a></p>
      
      <h2 class="h2">What else can i do to help?</h2>
      <p>This section of the site is work in progress, and we will add more ways to give help in the coming weeks. In the meantime, you could <a href="/volunteer.html">volunteer</a>, <a href="/give-items.html">offer things that organisations need</a>, <a href="sponsor.html">sponsor Street Support</a>, or <a href="/find-help.html">find out more about local services</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
