---
title: Donate to BigChangeMCR - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Donate to BigChangeMCR</h1>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p><a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to BigChangeMcr</span></a></p>
      <h2 class="h2">What is BigChangeMCR?</h2>
      <p>A group of charities and organisations have teamed up to create a special fund that will be used to provide homeless people with practical items they need to build new lives off the streets.</p>
      <p>This network of relief services - the Big Change steering group - are working together to provide sustainable, long-term solutions to homelessness. They support people to manage a tenancy agreement, furnish a new home, manage income and expenditure, and build a positive, productive life in the community away from the streets.</p>
      <h2 class="h2">Why shouldn't I give directly?</h2>
      <p>Charity workers who provide support to rough sleepers say giving money to people who are begging does not help to move them away from the streets and address the complicated range of problems which made them homeless, including mental health issues and drug and alcohol addiction.</p>
      <h2 class="h2">Where will my money go?</h2>
      <p>All money donated to the fund will be used to provide homeless people with the practical items they need to build new lives off the streets into long term sustainable support, and become active, independent members of the community.</p>
      <p>This can include help with deposits, training courses, clothes for a job interview, furnishing a new flat, purchasing crockery, pots and pans and bed linen, and transport to travel to new accommodation.</p>
      <p>As people who are coming off the streets need money to access this support quickly, there won't be a lengthy application process and some funds can be issued rapidly by accredited members of homeless organisations.</p>
      <p><a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to BigChangeMcr</span></a></p>
      {{> social-share}}
    </div>
  </div>
</div>
