---
title: Emergency Help - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
jsName: generic
---

{{#extend "_default"}}
{{#content "main"}}
<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Emergency Help</h1>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p>If you've just become homeless or are about to, it's important to get help as soon as possible. With the right help and depending on your situation, you can get somewhere to stay the same day.</p>
      <ul>
        <li>If you're <strong>comfortable dealing with council services</strong>, read the next section for information on how to proceed.</li>
        <li>To get <strong>someone to help you</strong> through the process, have a look at our <a href="category.html?category=accom">housing support</a> listings to find a suitable support agency.</li>
      </ul>
      <p>If you've <strong>seen someone sleeping rough</strong> but don't know what to do, you can help them get support by filling in a <a href="http://www.riverside.org.uk/care-and-support/in-the-community/rough-sleeper-services/nsnogmreferal/">No Second Night Out form</a>. If you know someone who's become homeless or is about to lose their home, you can also do the following steps on their behalf.</p>

      <h2 class="h2">Becoming legally homeless</h2>
      <p>If you have just become homeless, or might do in the next 28 days, the first thing to do is <strong>apply as homeless</strong> at your local council. The homelessness service is an <strong>emergency service</strong>, and you can also get advice or help to <a href="http://www.manchester.gov.uk/site/scripts/documents_info.php?categoryID=200117&amp;documentID=1428">stay in your home</a>.</p>
      <p>If the council accepts you are homeless, they take on a <strong>duty of care</strong> which means they will house you <strong>immediately</strong>. You will then be "in the system”, and able to access other services for homeless people. Ring Manchester City Council's team on 0161 234 4692 between 9am - 4.30pm Mon-Fri to start this process.</p>
      <p><a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter's website</a> is the best place to learn about your legal rights, or call them on 0808 800 4444. To be accepted as officially homeless, you must:</p>
      <ul>
        <li>Have not <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/intentional_homelessness">intentionally made yourself homeless</a>.</li>
        <li>Have no legal right to live anywhere in the world, or live somewhere overcrowded or unsafe.</li>
      </ul>
      <p>In addition, the support you get will depend on:</p>
      <ul>
        <li>If you are in <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/priority_need">"priority need”</a></li>
        <li>If you have a <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/local_connection">"local connection”</a> to the area.</li>
      </ul>

      <h2 class="h2">What to do if you don't qualify</h2>
      <p>If you don't qualify as homeless, your options are more limited. You can apply directly to some services: read our <a href="category.html?category=accom">accommodation</a> page to see what's available near you.</p>
      <p>Make sure to <a href="http://england.shelter.org.uk/get_advice/homelessness/homeless_and_on_the_streets/10_ways_to_keep_safe_on_the_streets">stay safe on the streets</a>: stay warm and make sure you eat and drink.</p>

      <p>If you know of any other services that are missing, or can see information that is incorrect or out of date, please <a href="contact.html">let us know</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
{{/content}}

{{#content "gutter"}}{{/content}}
{{/extend}}
