---
title: Find Help - Street Support
description: Street support makes it easier to help homeless people. Find help relevant to your needs.
jsName: findhelp
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <h2 class="h1 block__header">Find Help</h2>
        <div class="block__content">
          <p>Find the support you need.</p>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">

          <script id="js-category-list-tpl" type="text/template">
            \{{#categories}}
              <a class="btn btn--brand-d" href="category.html?category=\{{key}}">
                <span class="btn__icon icon-\{{key}}"></span>
                <span class="btn__text">\{{name}}</span>
              </a>
            \{{/categories}}
          </script>

          <div id="js-category-list-output" class="category-list"></div>

          <a class="btn btn--brand-g btn--wide" href="emergency-help.html"><span class="btn__text">Emergency Help</span></a>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
