---
title: Give Help - Street Support
description: Street support makes it easier to help homeless people. Here's some ways you can give help.
layout: default.hbs
permalink: false
jsBundle: givehelp
pageName: givehelp
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Give Help</h1>
      <p>Find out what you can do to help local people who are homeless.</p>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <div class="content-grid">
        <ul class="content-grid__list">
          <li class="content-grid__item">
            <a class="btn btn--brand-e" href="donate.html">
              <span class="btn__icon icon-give-help"></span>
              <span class="btn__text">Donate</span>
            </a>
            <p>Fund accomodation, bus tickets &amp; more</p>
          </li>
          <li class="content-grid__item">
            <a class="btn btn--brand-e" href="give-items.html">
              <span class="btn__icon icon-give-help"></span>
              <span class="btn__text">Give</span>
            </a>
            <p>Respond to things that organisations need</p>
          </li>
          <li class="content-grid__item">
            <a class="btn btn--brand-e" href="volunteer.html">
              <span class="btn__icon icon-give-help"></span>
              <span class="btn__text">Volunteer</span>
            </a>
            <p>Offer your time, skills &amp; resources</p>
          </li>
          <li class="content-grid__item">
            <a class="btn btn--brand-e" href="sponsor.html">
              <span class="btn__icon icon-give-help"></span>
              <span class="btn__text">Sponsor</span>
            </a>
            <p>Find out how your business can support us</p>
          </li>
        </ul>
      </div>
      {{> social-share}}
    </div>
  </div>
</div>

<div class="block block--cta">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">Find out more</h2>
      <ul class="list-highlight">
        <li><a href="https://streetsupportnet.wordpress.com/">Read our blog</a></li>
      </ul>
    </div>
  </div>
</div>
