---
title: Give (Prototype) - Street Support
description: xx
layout: default.hbs
permalink: false
jsBundle: give
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Give Prototype</h1>
    <a href="give-help.html">Other ways to give help</a>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <div class="give">
        <div id="js-card-search" class="js-card-search give__search is-active">
          <div class="give__input" action="#">
            <h1 class="h2">What can you give?</h1>
            <input autofocus placeholder="Search" class="awesomplete search give__autocomplete" data-list="coffee4craig, mad dogs, coat, bedding" />
          </div>

          Filter by:
          <input type="checkbox" id="all" class="give__select give__select--first" />
          <label for="all">All</label>
          <input type="checkbox" id="things" class="give__select" />
          <label for="things">Items</label>
          <input type="checkbox" id="time" class="give__select" />
          <label for="time">Time</label>
          <input type="checkbox" id="money" class="give__select" />
          <label for="money">Money</label>

          <button class="sort" data-sort="organisation" class="give__sort">Sort by organisation name</button>
          <button class="sort" data-sort="xx" class="give__sort">Sort by date</button>

          <ul class="list js-card-list"></ul>
        </div>

        <div class="give__detail js-card-detail is-hidden">
          <div id="js-card-detail-output" class="template"></div>
        </div>
      </div>

      {{> social-share}}

      <script id="js-card-detail-tpl" type="text/template">
        \{{#card}}
          <h2 class="h2 give">\{{organisation}}</h2>
          <p>\{{description}}</p>
        \{{/card}}
      </script>
    </div>
  </div>
</div>
