---
title: Give Items - Submit Details - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: giveitemsubmitdetails
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Give</h1>
    <a href="give-help.html">Other ways to give help</a>
    <form id="js-form" class="form form--volunteer" data-bind="submit: submit">
      <p>Please fill in the form below, detailing how you can fulfil this need.</p>
      <p>* denotes a required field.</p>
      <fieldset class="form__fieldset" data-bind="with: formModel">
        <legend class="h2 form__fieldset-title">I Can Help!</legend>
        <ul class="form__field-list">
          <li class="form__field-item">
            <label class="form__label" for="email">Subject</label>
            <p data-bind="text: $parent.needDescription"></p>
          </li>
          <li class="form__field-item">
            <label class="form__label" for="email">Email *</label>
            <input type="text" class="form__input form__input" id="email" data-bind="textInput: email" />
          </li>
          <li class="form__field-item--full">
            <label class="form__label" for="message">Message *</label>
            <textarea class="form__input form__input--multiline" id="message" data-bind="textInput: message"></textarea>
          </li>
          <li class="form__field-item form__field-item">
            <label class="form__label--checkbox" for="isOptedIn">Opt-In to receive updates (*)</label>
            <input type="checkbox" id="isOptedIn" data-bind="attr: { value: isOptedIn }, checked: isOptedIn" class="form__input--checkbox" />
          </li>
        </ul>
      </fieldset>
      <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
    </form>
    <p><em>(*) Need blurb as to what it is they'll be receiving.</em></p>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      {{> social-share}}
    </div>
  </div>
</div>

