---
title: Give Help - Street Support
description: Street support makes it easier to help homeless people in Manchester. Here's some ways you can give help.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Give Help</h1>
      <p>Help homeless people in Manchester by supporting local charities and voluntary groups.</p>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      {{>cta brand="e" link="give-requests.html" icon="give" name="Give" label="Respond to things organisations need"}}
      {{>cta brand="e" link="volunteer.html" icon="volunteer" name="Volunteer" label="Offer your skills, time &amp; resources"}}
      {{>cta brand="e" link="donate.html" icon="donate" name="Donate" label="Fund accomodation &amp; practical items"}}
      {{>cta brand="e" link="sponsor.html" icon="partnerships" name="Partnership" label="Corporate sponsorship opportunities"}}

      {{> social-share}}
    </div>
  </div>
</div>

<div class="block block--cta">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">Find out more</h2>
      <ul class="list-highlight">
        <li><a href="https://streetsupportnet.wordpress.com/">Read our blog</a></li>
      </ul>
    </div>
  </div>
</div>
