---
title: Give Help - Street Support
description: Street support makes it easier to help homeless people. Here's some ways you can give help.
layout: default.hbs
permalink: false
jsBundle: givehelp
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Give Help</h1>
      <p>Find out what you can do to support local people who are homeless.</p>
  </div>  
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <p>Charity workers who provide support to rough sleepers say giving money to people who are begging does not help to move them away from the streets and address the complicated range of problems which made them homeless, including mental health issues and drug and alcohol addiction.</p>
      <p>All money donated to the fund will be used to provide homeless people with the practical items they need to build new lives off the streets into long term sustainable support, and become active, independent members of the community.</p>
      <p><a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to BigChangeMcr</span></a></p>
      <div id="js-need-list-output" class="template"></div>
      <p>To find out more you can follow us on <a href="https://twitter.com/streetsupportuk">Twitter</a>, or <a href="https://www.facebook.com/streetsupport/">Facebook</a>.</p>
      <p>If you are a charity or voluntary group working with homeless people and want to be included on Street Support, please <a href="contact.html">get in touch</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-need-list-tpl" type="text/template">
  <h2>Current Needs</h2>
  <p>Organisations require a diverse range of items and voluntary skills to continue providing support. If you are able to help meet any of their needs, click on the 'more info' to get in contact.</p>
  <dl>
    \{{#needs}}
    <dt class="needs__need">\{{description}}</dt>
    <dd class="needs__more-info"><a href="\{{link}}" class="btn btn--brand-e"><span class="btn__text">More info</span></a></dt>
    \{{/needs}}
  </dl>
</script>
 
