---
title: Give Help - Street Support
description: Street support makes it easier to help homeless people. Here's some ways you can give help.
jsName: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <h1 class="h1 block__header">Give Help</h1>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>One bright day in early 2016, this page will be your launchpad to effective action.</p>
          <p>You’ll see posts from local charities and voluntary groups, letting you know how you can make the biggest difference to them and the homeless people they support.</p>
          <p>You’ll be able to find your way to play your part.</p>
          <p>While we are working on that, you can help rough sleepers in Manchester get off the streets, through the 'Big Change Manchester' campaign. The money is used to provide accomodation and long term support, so that they can stay off the streets for good.</p>
          <p><a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to BigChangeMcr</span></a></p>
          <p>To find out more you can follow us on <a href="https://twitter.com/streetsupportuk">Twitter</a>, or <a href="https://www.facebook.com/streetsupport/">Facebook</a>.</p>
          <p>If you are a charity or voluntary group working with homeless people and want to be included on Street Support, please <a href="contact.html">get in touch</a>.</p>

          {{> social-share}}
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
