---
title: Give Items - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: giveitems
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Give</h1>
    <a href="give-help.html">Other ways to give help</a>
  	<p>Organisations require a diverse range of resources to provide ongoing support to homeless people. If you are able to help meet any of their needs, click the 'I can help!' button, and let us know what you are able to offer.</p>
    <p>Please note, this section of the site is work in progress - check back soon for other ways to give help.</p>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <div id="js-need-list-output" class="template"></div>
      {{> social-share}}
    </div>
  </div>
</div>


<script id="js-need-list-tpl" type="text/template">
  <dl>
    \{{#needs}}
    <dt class="needs__need">
      <h3 class="h3">\{{description}}</h3>
      <p>\{{reason}}</p>
    </dt>
    <dd class="needs__more-info"><a href="\{{link}}" class="btn btn--brand-e"><span class="btn__text">I can help!</span></a></dt>
    \{{/needs}}
  </dl>
</script>

{{> loading-spinner}}
