---
title: Street Support Homepage
description: Test Description
name: home
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        grey block
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        content
      </div>
    </div>

    <div class="block block--highlight">
      <div class="container block__inner">
        green block
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
