---
title: Street Support Network - Working together to end homelessness
description: Street Support Network - Find help, and give help, to support people who are homeless in Greater Manchester and Leeds
image: https://streetsupport.net/assets/img/og/street-support.png
layout: withGoogle.hbs
permalink: false
jsBundle: home
section: home
page: home
nosubnav: true
---

<div class="block block--home-header">
  <div class="container container--home-header">
    <h1 class="h1 block__header">Working Together to End Homelessness</h1>
    <h2 class="h2 block__sub-header">You can find support services for people experiencing homelessness, and DO something to help: offering your time, money or resources to local organisations.</h2>
    <div class="ctas">
      <a href="/find-help" class="btn btn--brand-d">
        <span class="btn__text">Find Help</span>
      </a>
      <a href="/give-help" class="btn btn--brand-e">
        <span class="btn__text">Give Help</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="home__copy">
        <h2 class="h2">Where we are</h2>
        <p>Street Support Network is currently available across Greater Manchester, Leeds, Bradford, Liverpool, Bournemouth, Portsmouth and Southampton.</p>

        <p class="h3">Want to see what services are available in our featured hubs? Select one from the list below:</p>
        <div id="js-template-output"></div>
      </div>
      <div class="home__hub-map">
        <div class="js-map"></div>
      </div>
      <div class="home__copy">
        <h2 class="h2">We would love the network to link out to more locations</h2> 
        <p>If you think Street Support might be useful in your area, please <a href="/about/contact">get in touch</a>.</p>
          <a href="/about/contact" class="btn btn--brand-e">
            <span class="btn__text">get in touch with us</span>
          </a>
        </div>
    </div>
  </div>
</div>


{{> loading-spinner}}

<script id="js-content-tpl" type="text/template">
<div class="location-selector">
  <label for="location" class="location-selector__label hide-screen">Select a Location: </label>
  <select class="js-homepage-promo-location-selector js-location-select location-selector__select form__input" name="location" id="location">
    \{{#locations}}
    <option \{{#isSelected}}selected\{{/isSelected}} value="\{{id}}">\{{name}}</option>
    \{{/locations}}
  </select>
</div>
</script>
