---
title: Street Support Network - Working together to end homelessness
description: Street Support Network - Find help, and give help, to support people who are homeless in Greater Manchester and Leeds
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: home
section: home
page: home
---

<div class="block block--home-header">
  <div class="container container--home-header">
    <h1 class="h1 block__header">Working Together to End Homelessness</h1>
    <h2 class="h2 block__sub-header">Find support services near you, and see how you can help.</h2>
    <div class="ctas">
      <a href="/find-help" class="btn btn--brand-d">
        <span class="btn__text">Find Help</span>
      </a>
      <a href="/give-help" class="btn btn--brand-e">
        <span class="btn__text">Give Help</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="home__copy">
        <h2 class="h2">Where we are</h2>
        <p>Street Support Network is currently active in several locations across the UK.</p>

        <p class="h3">Want to see what is happening near you? Select one&hellip;</p>
        {{> locations/selector-hogan hideLegend=true }}
      </div>
      <div class="home__hub-map">
        <div class="js-map"></div>
      </div>
      <div class="home__copy home__copy--left-col">
        <h2 class="h2">We would love to see the network grow</h2>
        <p>If you think Street Support might be useful in your area, please <a href="/about/contact">get in touch</a>.</p>
          <a href="/about/contact" class="btn btn--brand-e">
            <span class="btn__text">Get in touch</span>
          </a>
        </div>
    </div>
  </div>
</div>

<div id="js-statistics-output"></div>

<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content">
      <div class="home-cta home-cta--pin">
        <a class="home-cta__link" href="/find-help">Find support and services near you</a>
      </div>
      <div class="home-cta home-cta--help">
        <a class="home-cta__link" href="/give-help">Find out how and where you can help</a>
      </div>
      <div class="home-cta home-cta--search">
        <a class="home-cta__link" href="/find-help/all-service-providers/">Browse support organisations near you</a>
      </div>
      <div class="home-cta home-cta--card">
        <a class="home-cta__link" href="/give-help/donate/">Make a financial donation</a>
      </div>
      <div class="home-cta home-cta--book">
        <a class="home-cta__link" href="https://news.streetsupport.net">Understand more about homelessness</a>
      </div>
      <div class="home-cta home-cta--briefcase">
        <a class="home-cta__link" href="/give-help/business-support/">How your business can help</a>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container container--central-cta">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Join the Street Support mailing list</h1>
      <p>Keep up to date with how we are ending homelessness, and opportunities to get involved, by signing up to our mailing list.</p>
      <a href="http://eepurl.com/cEJa1r" class="btn btn--brand-e">
        <span class="btn__text">Join our mailing list</span>
      </a>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content partners">
      <h2 class="h2">Supported by&hellip;</h2>
      <ul class="partners__list">
        <li class="partners__logo partners__logo--big-lottery-fund"><a href="/about/our-sponsors/#partner-big-lottery-fund">{{> icon name="big-lottery-fund"}}<span class="hide-screen">Big Lottery Fund</span></a></li>
      </ul>
      <p>We are looking for businesses and supporters to <a href="/give-help/business-support/">partner with us in this mission to End Homelessness</a>.</p>
      <p>If you share our vision of a society without homelessness, please <a href="mailto:sponsorship@streetsupport.net">get in touch</a>.</p>
    </div>
  </div>
</div>


{{> loading-spinner}}

<script id="js-statistics-tpl" type="text/template">
{{> impact-statistics }}
</script>
