---
title: Homepage - Street Support
description: Street Support - Making it easier to help homeless people in Manchester
jsName: generic
pageName: home
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--cta">
      <div class="container block__inner">
        <div class="split">
          <a class="btn btn--brand-d split__element" href="find-help.html"><span class="btn__text">Find Help</span></a>
          <a class="btn btn--brand-e split__element" href="give-help.html"><span class="btn__text">Give Help</span></a>
        </div>
        <h1 class="h2 block__header">Helping homeless people just got easier!</h1>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>Street Support Network is a Manchester collective of support groups, charities and kind-hearted folk. We’ve joined forces to make it easier to find help, and give help, to homeless people in Manchester.</p>
          <p>This site is currently under review. If you see something missing, incorrect or incomplete, or you would like to know more, please <a href="contact.html">get in touch</a>.</p>
          {{> social-share}}
        </div>
      </div>
    </div>

    <div class="block block--highlight">
      <div class="container block__inner">
        <div class="block__content">
          <div class="split">
            <a class="btn btn--brand-d split__element" href="find-help.html">
              <span class="btn__icon icon-find-help"></span>
              <span class="btn__text">Find Help</span>
            </a>

            <a class="btn btn--brand-e split__element" href="give-help.html">
              <span class="btn__icon icon-give-help"></span>
              <span class="btn__text">Give Help</span>
            </a>
          </div>

          <dl class="list-highlight">
             <dt class="list-highlight__title">30</dt>
             <dd class="list-highlight__description">Organisations</dd>
             <dt class="list-highlight__title">117</dt>
             <dd class="list-highlight__description">Services</dd>
             <dt class="list-highlight__title">40</dt>
             <dd class="list-highlight__description">Service Types</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <h2 class="h1 block__header">How it started</h2>
        <div class="block__image">
          <a href="how-it-started.html"><img src="assets/img/started.jpg" /></a>
        </div>
        <div class="block__content">
          <p>"We noticed the number of homeless people in Manchester increasing, and we wanted to do something to help."</p>
          <p>"We found many amazing charities and volunteers offering services, and were sure that technology could make things easier for them somehow."</p>
          <p><strong><a href="how-it-started.html">This is what happened next...</a></strong></p>
        </div>
      </div>
    </div>

    <div class="block block--highlight">
      <div class="container block__inner">
        <h2 class="h2 block__header">Supported by...</h2>

        <div class="block__content">
          <ul class="list-grid">
            <li class="list-grid__item"><img src="assets/img/keyfund.png" /></li>
            <li class="list-grid__item"><img src="assets/img/cor.png" /></li>
            <li class="list-grid__item"><img src="assets/img/booth-centre.png" /></li>
            <li class="list-grid__item"><img src="assets/img/mustard-tree.png" /></li>
            <li class="list-grid__item"><img src="assets/img/new-supporter.png" /></li>
            <li class="list-grid__item"><img src="assets/img/new-supporter.png" /></li>
          </ul>

          <p>We are looking for Manchester businesses that want to partner with us to help homeless people. If you share our values and want to know more, please <a href="contact.html">get in touch</a>.</p>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
