---
title: Street Support - Working together to end homelessness
description: Street Support - Find help, and give help, to support people who are homeless in Manchester and Leeds
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: home
section: home
page: home
nosubnav: true
---

<div class="block block--city-header city-header">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Street Support <span class="js-city-label"></span></h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
      {{>cta brand="d" link="/find-help/" name="Find Help"}}
      {{>cta brand="e" link="/give-help/" name="Give Help"}}
    </div>
  </div>
</div>

<div class="block block--promo block--pulldown">
  <div class="container">
    <div class="block__content">
      <p>Street Support is a network of charities, voluntary groups and kind-hearted folk, working together to end homelessness. Through this site you can find services for people experiencing homelessness, and offer your time and resources to local organisations.</p>
      <div class="social-share social-share--home">
        <span class="social-share__text">Share Street Support with your friends to show your commitment to making a big change: </span>
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="streetsupportuk" data-dnt="true">Tweet</a>
        <div class="fb-share-button" data-href="" data-layout="button" data-mobile-iframe="true"></div>
      </div>
    </div>
  </div>
</div>

<div id="js-template-output" class="template--maybe-empty"></div>

{{> loading-spinner}}

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>

<script id="js-content-tpl" type="text/template">
<div class="block block--highlight">
  <div class="container">
      <div class="block__content">
        <div class="block__cta block__cta--incopy block__cta--2 block--pushup">
          {{>cta brand="d" icon="findhelp" link="/find-help/" name="Find Help"}}
          {{>cta brand="e" icon="givehelp" link="/give-help/" name="Give Help"}}
        </div>


        \{{#isManchester}}
          {{> manchester-stats }}
        \{{/isManchester}}
        \{{#isLeeds}}
          {{> leeds-stats }}
        \{{/isLeeds}}
   </div>
 </div>
</div>

\{{#isManchester}}
  {{> manchester-home-promo }}
\{{/isManchester}}
\{{#isLeeds}}
  {{> leeds-home-promo }}
\{{/isLeeds}}

<div class="block">
  <div class="container">
    <div class="block__content text-center">
      {{> divider}}
      <p>Street Support is currently available in Manchester and Leeds, and we would love to see the network expand to more locations.</p>
      <p>If you think Street Support might be useful in your area, please <a href="/contact">get in touch</a>!</p>
      <div class="location-selector">
        <label for="location" class="location-selector__label">Select a City: </label>
        <select class="js-homepage-promo-location-selector js-location-select location-selector__select form__input" name="location" id="location">
          \{{#locations}}
          <option \{{#isSelected}}selected\{{/isSelected}} value="\{{id}}">\{{name}}</option>
          \{{/locations}}
        </select>
      </div>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content partners">
      \{{#isManchester}}
        {{> manchester-supporters }}
      \{{/isManchester}}
      \{{#isLeeds}}
        {{> leeds-supporters }}
      \{{/isLeeds}}
      <p>We are looking for businesses and organisations to <a href="/give-help/partnership/">partner with us</a> so that we can continue to develop this resource.</p>
      <p>If you share our vision of a world without homelessness, please <a href="mailto:sponsorship@streetsupport.net">get in touch</a>.</p>
    </div>
  </div>
</div>
</script>
