---
title: Homepage - Street Support
description: Test Description
jsName: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <a class="btn btn--brand-d" href="find-support.html"><span class="btn__text">Find Support</span></a>
        <a class="btn btn--brand-e" href="give-help.html"><span class="btn__text">Give Help</span></a>

        <h1 class="h1 block__header">Coming together to support homeless people in Manchester.</h1>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
          <p>Suspendisse consequat eget odio ut lobortis. Fusce eget sapien ut lacus mollis imperdiet. Morbi ornare eleifend orci, in imperdiet felis ultricies in.</p>
          <p>Aliquam vestibulum vel tortor quis tristique. In pulvinar, velit non aliquet vestibulum, dui metus mollis metus, at ornare massa odio vitae leo. Quisque dignissim volutpat magna sit amet consequat. Aenean luctus rutrum sollicitudin.</p>
        </div>
      </div>
    </div>

    <div class="block block--highlight">
      <div class="container block__inner">
        <div class="block__content">
          <a class="btn btn--brand-d" href="find-support.html">
            <span class="btn__icon"><img data-src="holder.js/100px140" /></span>
            <span class="btn__text">Find Support</span>
          </a>

          <a class="btn btn--brand-e" href="give-help.html">
            <span class="btn__icon"><img data-src="holder.js/100px140" /></span>
            <span class="btn__text">Give Help</span>
          </a>

          <dl class="list-highlight">
             <dt class="list-highlight__title">121</dt>
             <dd class="list-highlight__description">People Helped</dd>
             <dt class="list-highlight__title">1425</dt>
             <dd class="list-highlight__description">Actions Taken</dd>
             <dt class="list-highlight__title">£12,600</dt>
             <dd class="list-highlight__description">Rasied</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <h2 class="h1 block__header">How we've helped.</h2>
        <div class="block__image">
          <img data-src="holder.js/100px200" />
        </div>
        <div class="block__content">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis mi suscipit, facilisis tortor et, malesuada velit. Aenean odio elit, ornare eu consequat eget, mollis quis arcu."</p>
          <p><strong>Cras imperdiet diam</strong></p>
        </div>
      </div>
    </div>

    <div class="block block--highlight">
      <div class="container block__inner">
        <h2 class="h1 block__header">Supported by...</h2>

        <div class="block__content">
          <ul class="list-grid">
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
          </ul>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
