---
title: Homepage - Street Support
description: Street Support - Making it easier to help homeless people in Manchester
jsName: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--intro">
      <div class="container block__inner">
        <a class="btn btn--brand-d" href="find-help.html"><span class="btn__text">Find Help</span></a>
        <a class="btn btn--brand-e" href="give-help.html"><span class="btn__text">Give Help</span></a>

        <h1 class="h1 block__header">Helping homeless people just got easier!</h1>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>The Street Support Network is a Manchester collective of support groups, charities and kind-hearted folk like you. We’ve joined forces to create a search tool that makes all of our efforts to help homeless people more effective.</p>
        </div>
      </div>
    </div>

    <div class="block block--highlight">
      <div class="container block__inner">
        <div class="block__content">
          <a class="btn btn--brand-d" href="find-help.html">
            <span class="btn__icon"><img data-src="holder.js/100px140" /></span>
            <span class="btn__text">Find Help</span>
          </a>

          <a class="btn btn--brand-e" href="give-help.html">
            <span class="btn__icon"><img data-src="holder.js/100px140" /></span>
            <span class="btn__text">Give Help</span>
          </a>

          <dl class="list-highlight">
             <dt class="list-highlight__title">30</dt>
             <dd class="list-highlight__description">Organisations</dd>
             <dt class="list-highlight__title">4,022</dt>
             <dd class="list-highlight__description">Volunteers</dd>
             <dt class="list-highlight__title">161</dt>
             <dd class="list-highlight__description">Services</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <h2 class="h1 block__header">How we've helped.</h2>
        <div class="block__image">
          <img data-src="holder.js/100px200" />
        </div>
        <div class="block__content">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis mi suscipit, facilisis tortor et, malesuada velit. Aenean odio elit, ornare eu consequat eget, mollis quis arcu."</p>
          <p><strong>Cras imperdiet diam</strong></p>
        </div>
      </div>
    </div>

    <div class="block block--highlight">
      <div class="container block__inner">
        <h2 class="h1 block__header">Supported by...</h2>

        <div class="block__content">
          <ul class="list-grid">
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
            <li class="list-grid__item"><img data-src="holder.js/100px80" /></li>
          </ul>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
