---
title: Sponsor - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Sponsor</h1>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
    	<p>We are looking for businesses and organisations that want to partner with us to help homeless people in and around Manchester.</p>
    	<p>All the local charities, voluntary groups and the council are working together on this, and now we need your support.</p>
    	<p>We have a backlog of features that organisations say would help them support more people, and meet more of their needs.</p>
    	<p>If you share our values and want to know more, please get in touch by emailing: <a href="mailto:sponsorship@streetsupport.net">sponsorship@streetsupport.net</a>.</p>
    </div>
  </div>
</div>