---
title: Volunteer - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: volunteer
pageName: volunteer
---

<div class="block block--intro">
  <div class="container block__inner">
    <h1 class="h1 block__header">Volunteer</h1>
    <a href="give-help.html">Other ways to give help</a>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
    	<form id="js-form" class="form form--volunteer" data-bind="submit: submitForm">
    		<p>Organisations and charities are always in need of volunteers to help with a wide variety of tasks and services. This can range from administration tasks, mentoring, DIY, skill share, or just someone to talk to. If you would like to volunteer, please fill in the form below, and when an organisation needs your skills they can get in touch.</p>
    		<p>* denotes a required field.</p>
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">About You</legend>
	    		<ul class="form__field-list">
	    			<li class="form__field-item">
	    				<label class="form__label" for="name">First Name *</label>
	    				<input class="form__input" type="text" id="firstname" data-bind="value: firstName"></input>
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label" for="name">Last Name *</label>
	    				<input class="form__input" type="text" id="lastname" data-bind="value: lastName"></input>
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label" for="email">Email *</label>
	    				<input class="form__input" type="email" id="email" data-bind="value: email"></input>
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label" for="telephone">Telephone</label>
	    				<input class="form__input" type="text" id="telephone" data-bind="value: telephone"></input>
	    			</li>
	    			<li class="form__field-item">
	    				<label class="form__label" for="postcode">Postcode *</label>
	    				<input class="form__input" type="text" id="postcode" data-bind="value: postcode"></input>
	    			</li>
	    		</ul>
	    	</fieldset>
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">Skills and Experience</legend>
	    		<ul class="form__field-list">
	    			<li class="form__field-item--full">
	    				<label class="form__label form__label" for="skillsAndExperience">What are you able to offer? Please include any skills, experience or interests that might be useful - from medical, legal or finance, to cooking and music!</label>
	    				<textarea class="form__input form__input--multiline" id="skillsAndExperience" data-bind="value: skillsAndExperience"></textarea>
	    			</li>
	    		</ul>
	    	</fieldset>
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">Availability</legend>
	    		<ul class="form__field-list">
	    			<li class="form__field-item--full">
	    				<label class="form__label form__label" for="availability">When are generally available to help? How often are you able to help?</label>
	    				<textarea class="form__input form__input--multiline" id="availability" data-bind="value: availability"></textarea>
	    			</li>
	    		</ul>
	    	</fieldset>
	    	<fieldset class="form__fieldset">
	    		<legend class="h2 form__fieldset-title">Resources</legend>
	    		<ul class="form__field-list">
	    			<li class="form__field-item--full">
	    				<label class="form__label form__label" for="resources">Is there anything else you could offer? eg meeting rooms, car/van for transport, tools.</label>
	    				<textarea class="form__input form__input--multiline" id="resources" data-bind="value: resources"></textarea>
	    			</li>
	    		</ul>
	    	</fieldset>
	    	<button type="submit" class="btn btn--brand-d form__submit"><span class="btn__text">Submit</span></button>
    	</form>

      <div id="js-fail" class="hide">
        <h2 class="h2">Technical Error</h2>
        <p>There has been a technical error. Please <a href="/contact.html">contact Street Support</a>.</p>
      </div>

      <div id="js-success" class="hide">
        <h2 class="h2">Thank you for submitting your details!</h2>
        <p>You have been added to our central database. Should an organisation require your help, they will contact you directly with more information. In the meantime, have a look at <a href="give-help.html">other ways to give</a>.</p>
      </div>

      {{> social-share}}
    </div>
  </div>
</div>

<div id="spin"></div>
