
<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--b4n-reading"><a href="https://abedforthenight.org.uk/">{{> icon name="b4n-reading"}}</a></li>
  <li class="partners__logo partners__logo--readistreet-reading"><a href="https://readistreet.org.uk/">{{> icon name="readistreet-reading"}}</a></li>
  <li class="partners__logo partners__logo--rehab-reading"><a href="https://rahab.co.uk/">{{> icon name="rehab-reading"}}</a></li>
  <li class="partners__logo partners__logo--reading-citizens-advice"><a href="http://rcab.org.uk/">{{> icon name="reading-citizens-advice"}}</a></li>
  <li class="partners__logo partners__logo--faith-reading"><a href="https://fcg.org.uk/">{{> icon name="faith-reading"}}</a></li>
  <li class="partners__logo partners__logo--reading-mungos"><a href="https://www.mungos.org/">{{> icon name="reading-mungos"}}</a></li>
  <li class="partners__logo partners__logo--reading-meam"><a href="http://meam.org.uk/area-details/?area=3729">{{> icon name="reading-meam"}}</a></li>
  <li class="partners__logo partners__logo--reading-foodbank"><a href="https://readifood.org.uk/">{{> icon name="reading-foodbank"}}</a></li>
  <li class="partners__logo partners__logo--reading-rbc"><a href="http://www.reading.gov.uk/">{{> icon name="reading-rbc"}}</a></li>
  <li class="partners__logo partners__logo--reading-sadaka"><a href="https://www.mysadaka.co.uk/">{{> icon name="reading-sadaka"}}</a></li>
  <li class="partners__logo partners__logo--reading-salvation-army"><a href="https://www.salvationarmy.org.uk/welcome-willow-house-reading">{{> icon name="reading-salvation-army"}}</a></li>
  <li class="partners__logo partners__logo--reading-launchpad"><a href="https://www.launchpadreading.org.uk/">{{> icon name="reading-launchpad"}}</a></li>
  <li class="partners__logo partners__logo--reading-nhs"><a href="https://www.berkshirehealthcare.nhs.uk/our-services/adult-healthcare/health-outreach-liaison-team-holt/">{{> icon name="reading-nhs"}}</a></li>
  <li class="partners__logo partners__logo--reading-penta"><a href="https://www.pentahotels.com/">{{> icon name="reading-penta"}}</a></li>
  <li class="partners__logo partners__logo--reading-healthwatch"><a href="https://healthwatchreading.co.uk/">{{> icon name="reading-healthwatch"}}</a></li>
  <li class="partners__logo partners__logo--reading-communicare"><a href="https://www.communicare.org.uk/">{{> icon name="reading-communicare"}}</a></li>
</ul>
