
<div class="block block--location-header location-header">
  <div class="container container--location-header">
    <h1 class="h1 block__header">{{#if heading }}{{{ heading }}}{{else}}Advice{{/if}}</h1>
    {{#if sub-heading }}<h2 class="h2 block__sub-header">{{{ sub-heading }}}</h1>{{/if}}
  </div>
</div>

<div id="js-swep-output"></div>

<script id="js-swep-tpl" type="text/template">
{{> find-help/swep-notification theLocationId=this.theLocationId }}
</script>
