<header class="multi-form-header">
  <h1 class="h1">\{{{categoryName}}}</h1>
  \{{{categorySynopsis}}}
  <p>To find services near you, please enter your postcode.</p>
  <button class="btn btn--brand-d js-print-btn">
    <span class="btn__text">Print this page</span>
  </button>
</header>