  <div class="block block--swep-availability-notification">
    <div class="container">
        <p>Severe Weather Emergency Accommodation is currently available. <a href="/{{theLocationId}}/severe-weather-accommodation/">Get help now</a></p>
    </div>
  </div>