<nav class="block-tabs block-tabs--cards">
  <div class="block-tabs__container block-tabs__container--three">
    <a class="block-tabs__tab{{#if listingIsSelected }} block-tabs__tab--selected{{/if}}" href="/find-help/{{{categoryId}}}/">Listing</a>
    <a class="block-tabs__tab{{#if timetableIsSelected }} block-tabs__tab--selected{{/if}}" href="/find-help/{{{categoryId}}}/timetable/">Timetable</a>
    <a class="block-tabs__tab{{#if mapIsSelected }} block-tabs__tab--selected{{/if}}" href="/find-help/{{{categoryId}}}/map/">Map</a>
  </div>
</nav>