---
title: Severe Weather Emergency Accommodation in Portsmouth - Street Support
description: Severe Weather Emergency Accommodation provision in Portsmouth.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: swep
section: findhelp
page: swep
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/portsmouth/">Portsmouth</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--portsmouth">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Severe Weather Emergency Accommodation</h1>
    <div id="js-swep-output" class="template--maybe-empty"></div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by the council).</p>
      <p>TODO</p>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>
      <h3 class="h3">During Office Hours (TODO)</h3>
      <p>TODO</p>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">
      <p>TODO</p>
      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
