---
title: Severe Weather Emergency Accommodation in Portsmouth - Street Support
description: Severe Weather Emergency Accommodation provision in Portsmouth.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: swep
section: findhelp
page: swep
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/portsmouth/">Portsmouth</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--portsmouth">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Severe Weather Emergency Accommodation</h1>
    <div id="js-swep-output" class="template--maybe-empty"></div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the winter months, emergency beds are available for rough sleepers.</p>
      <p>To access a bed, people should visit the Homeless Day Service  between 8.30am and 12.30pm (9.00am - 12 noon at weekends), where bed spaces are allocated.</p>
      <p>If someone is unable to get to the Homeless Day Service, they should contact:</p>
      <ul>
        <li><a href="https://goo.gl/maps/yyBppm7ZzK42">Housing Options, First Floor, Civic Offices, Guildhall Square, Portsmouth, PO1 2AX</a></li>
        <li>telephone: <a href="tel:023 9283 4989">023 9283 4989</a></li>
      </ul>
      <p>This service is provided by Society of St James and Salvation Army, in partnership with Portsmouth City Council.</p>
    </div>

    {{> social-share}}
    
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
