---
title: Greater Manchester Homelessness Donation Requests - Street Support Network
description: What's needed to help people facing homelessness in Greater Manchester this winter.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: gm-offer-items
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item"><a href="/greater-manchester">Greater Manchester Winter Provision</a></li>
      <li class="breadcrumbs__item">Donate Needed Items</li>
    </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">What is needed in Greater Manchester?</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What is needed in Greater Manchester?</h2>
      <p>To provide a Bed Every Night this winter in Greater Manchester, we need businesses and individuals to donate
        both money and items to enable us to put on extra accommodation across GM. Below are the current list of
        items needed. If you have anything relevant to offer, please do so through our form below and someone will be
        in touch with you soon to arrange delivery or collection.</p>
      <p><b>Where possible we ask that items are new or barely used.</b></p>
      <form class="form form--highlighted" action="/give-help/help">
        <fieldset class="form__fieldset form__fieldset--inline-fill">
          <legend class="form__fieldset-title">Find out what's needed near you:</legend>
          <div class="form__fieldset-inline-fill-container">
            <label class="hide-screen" for="postcode">Your Postcode</label>
            <input name="postcode" class="form__input form__input--inline-fill" placeholder="your postcode: eg M1"></input>
            <button class="btn btn--brand-e btn--inline-fill" type="submit">
              <span class="btn__text">See what's needed</span>
            </button>
          </div>
        </fieldset>
      </form>
      <h2 class="h2">Donations urgently needed (updated February 2019)</h2>
      <ul>
        <li>Van and driver desperately needed to cover deliveries to Greater Manchester areas</li>
        <li>A large unit/storage facility to store all items ready for distribution</li>
        <li>Disinfectant</li>
        <li>Rubber Gloves</li>
        <li>Bleach</li>
        <li>Toilet Rolls</li>
        <li>Bath Towels (must be new)</li>
        <li>Disposable Razors</li>
        <li>Tea, Coffee, Sugar, long-life milk</li>
        <li>Dried foods</li>
        <li>Unisex Pyjamas in (must be new)</li>
        <li>Sanitary Towels</li>
        <li>Clothing Rails</li>
        <li>Fitted sheets and bedding sets (Single sizes- must be new)</li>
        <li>Men and Women underwear (must be new)</li>
      </ul>
      <h2 class="h2">Other items gratefully received:</h2>
      <ul>
        <li><b>Catering</b>: Plates, cups, cutlery, breakfast bowls, containers for coffee/tea/sugar, bins inc smoking
          ends bins, tin openers, milk, tea, coffee, sugar, biscuits, cereal, pot noodles, microwave food, bread,
          butter, jams, tinned food, soup, sweets, kitchen towel, tea towels, squash/juice</li>
        <li><b>Electrics</b>: microwaves, kettles, radio, tv, toasters, fridge, freezer, lamps</li>
        <li><b>Stationary</b>: paper, pens, day book, diary, staplers, files, plastic A4 wallets, stickers/labels,
          plastic boxes for belongings</li>
        <li><b>Toiletries</b>: toilet roll, hand wash, toilet brushes, paper hand towels, air freshener, shaving foam,
          deodorant, tooth paste, tooth brushes, shower gel, shampoo, razers, towels, hair brushes/combs, sanitary
          towels</li>
        <li><b>Cleaning</b>: mops, cloths, buckets, cleaning liquid, hand sanitisers, washing up liquid, washing up
          bowls, brushes, hoover, washing powder, bin bags, dust pans</li>
        <li><b>Furniture</b>: chairs, sofas, tables</li>
        <li><b>Medical</b>: first aid, needle box, needle gloves, needle grabbers, body fluid spillage kit, latex
          gloves, hoover</li>
        <li><b>Pets</b>: bowls, food, chipping, leads, blankets, flea treatment, toys</li>
        <li><b>Bedding</b>: Flame retardent bed bases, pillows, duvets, duvet covers, fitted sheets, pillow covers</li>
        <li><b>Admin support</b>: computers, printer, scanner, internet access, phones and chargers, locked cabinet,
          support staff, security staff</li>
        <li><b>Contracts</b>: laundry, cleaning, bins, sanitary bins, needle box deposals, TV/public licence, fire
          equipment, legionella, asbestos survey, electrical certificate, gas safety certificate, pat testing of
          existing equipment, confidential waste disposal, personal alarms, pest control, use of vans for delivery</li>
        <li><b>Clothing</b>: hats, gloves, scarves, trousers (small/medium), underwear, socks</li>
      </ul>

      <p>We are in the process of creating central donation points in each borough, so please let us know what you can
        offer and we will be in touch with more details.</p>
      <p>Please offer what you can through our form below, and someone will be in touch with you soon to arrange
        delivery or collection.</p>

    </div>
  </div>
</div>

{{> give-help/offer-items }}
