---
title: Best Practice for Community-led Support Services - Working together to end homelessness in Manchester
description: Protect your volunteers and the vulnerable people you support
layout: default.hbs
permalink: false
jsBundle: generic
section: organisations
page: bestpractice
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/organisations">Organisations</a></li>
      <li class="breadcrumbs__item">Best Practice</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Best Practice for Community-led Support Services</h1>
    <h2 class="h2 block__sub-header">Protect your volunteers and the vulnerable people you support</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

    </div>
  </div>
</div>
