---
title: Severe Weather Emergency Accommodation in Edinburgh - Street Support
description: Severe Weather Emergency Accommodation provision in Edinburgh.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: edinburgh
page: edinburgh-advice
location: edinburgh
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/edinburgh/">Edinburgh</a></li>
      <li class="breadcrumbs__item"><a href="/edinburgh/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="edinburgh" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of cold weather, the Edinburgh Council operates a Winter Contingency when the weather feels like below 0° Celsius. When the Winter Contingency is in operation, the local authority will provide accommodation for people who wouldn’t normally be entitled to access it via the statutory route.</p>
      <p>If you need to access emergency accommodation you can contact the City of Edinburgh Council on 0131 529 7355 or 0131 529 7829.</p>

    {{> social-share}}

  </div>
</div>
