---
title: Severe Weather Emergency Accommodation in Edinburgh - Street Support
description: Severe Weather Emergency Accommodation provision in Edinburgh.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: edinburgh
page: edinburgh-advice
location: edinburgh
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/edinburgh/">Edinburgh</a></li>
      <li class="breadcrumbs__item"><a href="/edinburgh/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="edinburgh" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of cold weather, the Edinburgh Council operates a Winter Contingency when the weather feels like below 0° Celsius. When the Winter Contingency is in operation, the local authority will provide accommodation for people who wouldn’t normally be entitled to access it via the statutory route.</p>

      <h2 class="h3">Emergency Accommodation City of Edinburgh Council</h2>
      <ul>
        <li>Freephone <a href="tel:0800 032 5968">0800 032 5968</a>.</li>
        <li>Local rate <a href="tel:0131 200 2000">0131 200 2000</a>.</li>
      </ul>

      <h2 class="h3">The Bethany Rapid Reaccommodation Welcome Centre; Haymarket Hub Hotel, 7 Clifton Terrace, Edinburgh, EH12 5DR</h2>
      <ul>
        <li>Tel: <a href="tel:07919 557 673">07919 557 673</a>.</li>
      </ul>

      <h2 class="h3">Streetwork at Simon Community Scotland; Edinburgh Support Hub, 22 Holyrood Road, EH8 8AF</h2>
      <p>Mon, Tue, Thu and Fri: 9am - 8pm<br>Wed: 10am - 8pm<br>Sat and Sun: 9am - 5pm</p>
      <ul>
        <li>Tel: <a href="tel:0808 178 2323">0808 178 2323</a>.</li>
      </ul>

      <h2 class="h3">Streetwork at Simon Community Scotland</h2>
      <p>24hr Freephone: tel: <a href="tel:08081782323">08081782323</a>.</p>

    {{> social-share}}

  </div>
</div>
