---
title: Jobs - Street Support Network - Network Manager
description: We are looking for data a Network Manager to support our mission to tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: dotnet
page: dotnet
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/about/jobs">Jobs</a>
      </li>
      <li class="breadcrumbs__item">National</li>
      <li class="breadcrumbs__item">Jobs</li>
      <li class="breadcrumbs__item">Partnership Manager</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Partnership Manager</h1>
    <h2 class="h2">Job Description & Person Specification</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h3 class="h3">About Street Support Network</h3>
      <p>Street Support Network connects local people and organisations in order to support those experiencing, and at risk of experiencing homelessness.</p>
      <p><a href="https://streetsupport.net">Our website</a> is an online hub to find out about homelessness, see what support is available, and see what you can do to help.</p>
      <p>In addition to hosting the website we work extensively offline, connecting people to co-produce better solutions, facilitating conversations and co-ordinating action across the sector.</p>
      <p>You can learn a bit more about how our organisation operates in <a target="_blank" href="/about/jobs/partnership-manager/more-about-ssn.pdf">this document</a>.</p>

      <h3 class="h3">Purpose of our Partnership Manager</h3>

      <p>As our network of local partnerships has grown, their individual engagement levels have varied. The primary responsibility of this role is to re-engage them by strengthening Street Support Network’s current relationships.</p>
      <p>The Partnership Manager will also support our co-founder Gary in growing the Network further.</p>
      <p>Each of our local partnerships are unique in the way they are run and the challenges they face. The Partnership Manager will lead our team in supporting these partnerships to find the best local solutions for them. This will involve coordinating bespoke solutions including fundraising and networking help and advice. The successful candidate will also work closely with two regional coordinators to support local partnerships in their region.</p>
      <p>In addition to working with local partnerships individually, the Partnership Manager is tasked with approaching the Network as a whole. This will include making appropriate introductions and links across the Network, sharing knowledge, activities and best practice, as well as facilitating quarterly online Network events.</p>
      <p>Our sector works to help vulnerable people and because of this, data integrity is really important to us. The Partnership Manager will recruit and manage our small team of Data Integrity Volunteers, as well as advising our Network on volunteer recruitment and best practise.</p>
      <p>This is an exciting role that comes with a lot of potential for interpretation and real impact. Our ideal candidate will use their initiative to help inform strategy, both short and long term, be able to prioritise projects and to lead the team in supporting and strengthening the Network.</p>

      <h3 class="h3">Specific Duties and Responsibilities</h3>

      <ul>
        <li>Strengthen relationships across our Network of local partnerships</li>
        <li>Work with our co-founder, Gary, to grow our Network further</li>
        <li>Work with local partnerships to maximise the impact of being part of Street Support Network</li>
        <li>Collaborate with the team on producing digital resources for our Network</li>
        <li>Contribute to strategic planning of Street Support Network, what we do, what we offer, how we’re funded and how impact is measured</li>
        <li>Work with our co-founder, Gary, to explore how to measure impact to date, whilst establishing and implementing future impact measurement procedures</li>
        <li>Lead on recruitment, training and supervision of volunteers to ensure a mutually beneficial relationship and improve data integrity across the site</li>
        <li>Together with the wider team - design, measure and record monthly KPIs to demonstrate impact for reporting to trustees and funding applications</li>
      </ul>

      <h3 class="h3">General Duties</h3>

      <ul>
        <li>Responds to enquiries and emails in a timely and responsive manner</li>
        <li>Participate in management and all-staff meetings</li>
        <li>Other duties as assigned.</li>
      </ul>

      <h3 class="h3">Essential attributes</h3>

      <ul>
        <li>Proactive</li>
        <li>Responsive and adaptable</li>
        <li>Strong organisational and management skills</li>
        <li>Confident working independently and taking responsibility</li>
        <li>Experience in working with a variety of stakeholders</li>
        <li>Reliable, conscientious and empathetic</li>
        <li>Able to give and receive feedback</li>
        <li>Clear and effective communication skills both written and verbal including report writing</li>
        <li>Excellent team player, able to provide leadership and work with others</li>
      </ul>

      <h3 class="h3">Desirable Attributes</h3>

      <ul>
        <li>Experience in volunteer recruitment and the delivery of meaningful volunteer programmes</li>
        <li>Experience in fundraising and writing grant applications</li>
        <li>Lived experience of social disadvantage (e.g. homelessness, mental health issues, substance misuse, offending and domestic violence and abuse)</li>
        <li>Experience of working in the third sector</li>
      </ul>

      <h3 class="h3">Education and Experience</h3>

      <ul>
        <li>Proficient understanding of Gmail and Google Drive</li>
        <li>Proficient understanding of Zoom</li>
        <li>Ability to pick up new online platforms (training provided)</li>
      </ul>

      <h3 class="h3">Terms and Conditions</h3>

      <ol>
        <li><span class="bold">Contract: </span>Permanent, 35 hours/5 days per week (flexible arrangements will be considered)</li>
        <li><span class="bold">Salary: </span>£32,000 to £35,000 depending on experience</li>
        <li><span class="bold">Probation period: </span>3 months</li>
        <li><span class="bold">Location: </span>The role will be based in Manchester. The team aims to meet face-to-face at least one day per week and more as required. Otherwise, we work remotely from home. Some travel across the UK will be required to support the Network.</li>
        <li><span class="bold">Paid Leave Entitlement: </span>25 days per year</li>
        <li><span class="bold">Pension: </span>Workplace pension will be provided</li>
        <li><span class="bold">Period of Notice: </span>None for the first month, one week on each side for the next 2 months and one month thereafter</li>
      </ol>

      <p><span class="bold">Application Process: </span>To apply please send your CV with a covering letter clearly demonstrating how you meet the criteria for the role to Charles Gray at <a href="mailto:charles@streetsupport.net">charles@streetsupport.net</a>. References will be required. If you have been successful in your application, we will contact you to invite you for an interview. Unfortunately, we are unable to contact unsuccessful candidates so if you haven’t heard from us by 10 December 2023, you haven’t been successful in your application.</p>

      <p><span class="bold">Closing date: </span>24 November 2023</p>
      <p><span class="bold">Interviews: </span>27 November to 5 December 2023</p>
      <p><span class="bold">Start date: </span>Early 2024 (subject to notice periods and by mutual agreement)</p>

    {{> social-share}}
  </div>
</div>
