---
title: Apply for a Best Practice standard for volunteer-led services - Working together to end homelessness in Manchester
description: Be recognised for the quality of your services
image: https://streetsupport.net/assets/img/og/manchester-big-change.jpg
layout: default.hbs
permalink: false
jsBundle: bestpracticeawardsapply
section: toolkit
page: apply
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/standards-toolkit">Standards Toolkit</a></li>
      <li class="breadcrumbs__item">Apply</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--manchester">
  <div class="container container--location-header">
    <h1 class="h1 block__header">Apply</h1>
    <h2 class="h2 block__sub-header">Apply for a Best Practice standard</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <!-- ko if: isFormSubmitSuccessful -->
        <!-- ko template: { name: 'form-submit-success-template' } -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: isFormSubmitFailure -->
        <!-- ko template: { name: 'form-submit-failure-template' } -->
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko ifnot: isFormSubmitSuccessful -->
      <p>Complete the following form to apply for, or make an inquiry about, your Manchester Homelessness Partnership Best Practice standard.</p>
      <form class="form" data-bind="submit: submit">
        <fieldset class="form__fieldset">
          <legend class="h2 form__fieldset-title">Apply or enquire about a standard</legend>
          <ul class="form__field-list">
            <li class="form__field-item">
              <label class="form__label hide-screen" for="name">Name</label>
              <input type="text" class="form__input form__input" id="name" data-bind="value: name" required placeholder="Name (required)" />
            </li>
            <li class="form__field-item">
              <label class="form__label hide-screen" for="organisation-name">Organisation Name</label>
              <input type="text" class="form__input form__input" id="organisation-name" data-bind="value: orgName" required placeholder="Organisation Name (required)" />
            </li>
            <li class="form__field-item">
              <label class="form__label hide-screen" for="email">Email</label>
              <input type="email" class="form__input form__input" id="email" data-bind="value: email" placeholder="Email address" />
            </li>
            <li class="form__field-item">
              <label class="form__label hide-screen" for="telephone">Telephone</label>
              <input type="telephone" class="form__input form__input" id="telephone" data-bind="value: telephone" required placeholder="Telephone (required)" />
            </li>
            <li class="form__field-item">
              <label class="form__label">I am enquiring about:</label>
              <ul class="form__radio-group">
                <li class="form__radio-group-item"><label for="silver">
                  <input type="radio" id="silver" name="awardType" value="silver" data-bind="checked: selectedAward" /> Silver Best Practice standard</label>
                </li>
                <li class="form__radio-group-item"><label for="gold">
                  <input type="radio" id="gold" name="awardType" value="gold" data-bind="checked: selectedAward" /> Gold Best Practice standard</label>
                </li>
                <li class="form__radio-group-item"><label for="not-sure">
                  <input type="radio" id="not-sure" name="awardType" value="not-sure" data-bind="checked: selectedAward" /> Not sure</label>
                </li>
              </ul>
            </li>
            <li class="form__field-item form__field-item--full">
              <label class="form__label hide-screen" for="additionalInfo">Please add any additional information in the field below.</label>
              <textarea class="form__input form__input--multiline" id="additionalInfo" data-bind="value: message" placeholder="Message (required)"></textarea>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
      </form>
      <!-- /ko -->

      {{> social-share}}
    </div>
  </div>
</div>

{{> loading-spinner}}

<script type="text/html" id="form-submit-success-template">
  <h2 class="h2">Thank you for submitting your details</h2>
  <p>Thank you for getting in touch. A member of the Manchester Homelessness Partnership will be in touch shortly.</p>
</script>

<script type="text/html" id="form-submit-failure-template">
  <h2 class="h2">There was a problem with your submission:</h2>
  <ul data-bind="foreach: apiErrors">
    <li data-bind="text: $data"></li>
  </ul>
</script>

