<ul>
  <li>
    <p>People who are sleeping rough in Manchester can access A Bed Every Night through a number of
      different routes. Note that there is a high demand for places in Manchester.</p>
    <ul>
      <li>
        <p>Call Manchester City Council's rough sleeper team on <a href="tel:01612345339">0161 234 5339</a> Monday - Friday between 9am to 4:30pm OR Saturday and Sunday 8am to 3.30pm.</p>
      </li>
      <li>
        <p>Outside these times, the Manchester City Council's out of hours service can be contacted on <a href="tel:01612345001">0161
            234 5001</a>.</p>
      </li>
    </ul>
    <li>Alternatively, you can report anyone that appears to be sleeping rough that you're concerned about via <a href="https://thestreetlink.org.uk/">StreetLink</a>.</li>
  <li>Please call <a href="tel:999">999</a> if someone is unwell or distressed. Don't put yourself in danger or approach someone acting strangely, even to help.</li>
  </li>
  <li>If you have recently been made homeless or are at risk of losing your accommodation please <a href="tel:01612344692">phone
      0161 234 4692</a> or e-mail or <a href="mailto:hpasdutyofficer@manchester.gov.uk">hpasdutyofficer@manchester.gov.uk</a>
    for advice.</li>
  <li>A <a href="/find-help/dropin/timetable/">local drop in centre</a> or <a href="/find-help/support/">advice
      service</a> can help find appropriate support based on an individuals situation.</li>
</ul>
