{{>divider class="is-hidden--smallscreen"}}
<div class="block__section">
  <p>Donate to a central funds supporting people experiencing homelessness in Manchester</p>

  <div class="block__cta block__cta--incopy block__cta--2">
    {{>cta brand="d" icon="big-change" link="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" name="Big Change - to support individuals"}}
    {{>cta brand="d" icon="money" link="https://www.gofundme.com/GM-Mayoral-Fund" name="GM Mayor's Fund - to support projects"}}
  </div>

  <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="display-block">
    <figure class="logo">
      <img src="../../assets/img/justgiving.png" alt="Just Giving" />
    </figure>
  </a>
  <p>Donating to the Big Change Fund is an effective way to support people who are homeless in Manchester. Donations pay for practical items that individuals need to build new lives off the streets, such as rent deposits and training courses. If everyone who lives, works or visits Manchester donates, together we can make Big Changes in our city!</p>
  <a href="/manchester/bigchangemcr" class="btn btn--brand-e btn--full">
    <span class="btn__text">Read more about Big Change</span>
  </a>
</div>
{{>divider class="is-hidden--smallscreen"}}
