{{>divider class="is-hidden--smallscreen"}}
<div class="block__section">
  <p>Donate to one of the central funds supporting people experiencing homelessness in Manchester...</p>

  <div class="block__cta block__cta--incopy block__cta--2">
    {{>cta brand="d" icon="big-change" link="/manchester/bigchangemcr" name="Big Change - to support individuals"}}
    {{>cta brand="d" icon="money" link="https://www.gofundme.com/GM-Mayoral-Fund" name="GM Mayor's Fund - to support projects"}}
  </div>

</div>
{{>divider class="is-hidden--smallscreen"}}
