<li class="nav__item nav__item--hub-nav" data-city="manchester">
  <dl class="hub-nav-container">
    <dt data-city="manchester" class="nav__item nav__item--manchester">
      <a href="/manchester/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Manchester</a>
    </dt>
    <dd>
      <ul>
        <li data-city="manchester" class="nav__item nav__item--manchester-advice">
          <a href="/manchester/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
        <li data-city="manchester" class="nav__item nav__item--mhp">
          <a href="/manchester/manchester-homelessness-partnership/" class="nav__item-link nav__item-link--location-item" title="Manchester Homelessness Partnership">MHP</a>
        </li>
        <li data-city="manchester" class="nav__item nav__item--bigchange">
          <a href="/manchester/realchangemcr/" class=" nav__item-link nav__item-link--location-item nav__item-link--has-sub-nav">Real Change MCR</a>
          <ul class="nav__list nav__list--sub-list">
            <li class="nav__item nav__item nav__item--mobile-only nav__item--sub-list-title">
              <button class="sub-list-back-btn">Back</button>
              <span class="sub-list-text">Real Change MCR</span>
            </li>
            <li class="nav__item nav__item nav__item--mobile-only">
              <a href="/manchester/realchangemcr">Real Change MCR</a>
            </li>
            {{!-- <li class="nav__item nav__item--sub-item nav__item--bigchangeabout">
              <a href="/manchester/realchangemcr/about/">About</a>
            </li> --}}
            <li class="nav__item nav__item--sub-item nav__item--realchangecasestudies">
              <a href="/manchester/realchangemcr/case-studies/">Case studies</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--realchangefunding">
              <a href="/manchester/realchangemcr/funding-process/">Our funding process</a>
            </li>
            {{!-- <li class="nav__item nav__item--sub-item nav__item--bigchangepartners">
              <a href="/manchester/realchangemcr/partners/">Partners</a>
            </li> --}}
            <li class="nav__item nav__item--sub-item nav__item--realchangewho">
              <a href="/manchester/realchangemcr/who-are-we/">Who are we?</a>
            </li>
          </ul>
        </li>
        <li data-city="manchester" class="nav__item nav__item--toolkit">
          <a href="/manchester/standards-toolkit/" class=" nav__item-link nav__item-link--location-item nav__item-link--has-sub-nav">Standards Toolkit</a>
          <ul class="nav__list nav__list--sub-list">
            <li class="nav__item nav__item nav__item--mobile-only nav__item--sub-list-title">
              <button class="sub-list-back-btn">Back</button>
              <span class="sub-list-text">Standards Toolkit</span>
            </li>
            <li class="nav__item nav__item nav__item--mobile-only">
              <a href="/manchester/standards-toolkit/">Standards Toolkit</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--awards">
              <a href="/manchester/standards-toolkit/standards/">Standards</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--benefits">
              <a href="/manchester/standards-toolkit/benefits/">Benefits</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--training">
              <a href="/manchester/standards-toolkit/training/">Training</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--apply">
              <a href="/manchester/standards-toolkit/apply/">Apply</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--get-in-touch">
              <a href="/manchester/standards-toolkit/get-in-touch/">Get in Touch</a>
            </li>
          </ul>
        </li>
      </ul>
    </dd>
  </dl>
</li>
