<li class="nav__item nav__item--findhelp">
  <a href="/find-help/">Find Help</a>
  <ul class="nav__list nav__list--sub-sub-list">
    <li class="nav__item nav__item--emergencyhelp"><a href="/manchester/emergency-help/">Emergency Help</a></li>
    <li class="nav__item nav__item--sub-item nav__item--swep"><a href="/manchester/severe-weather-accommodation/">Severe Weather Accommodation</a></li>
    <li class="nav__item nav__item--allorganisations"><a href="/find-help/all-service-providers/?location=manchester">Organisations</a></li>
  </ul>
</li>
<li class="nav__item nav__item--givehelp">
  <a href="/give-help/">Give Help</a>
  <ul class="nav__list nav__list--sub-sub-list">
    <li class="nav__item nav__item--sub-item nav__item--giveitems"><a href="/give-help/help/">Help</a></li>
    <li class="nav__item nav__item--sub-item nav__item--donate"><a href="/give-help/donate/">Donate</a></li>
    <li class="nav__item nav__item--sub-item nav__item--volunteer"><a href="/give-help/volunteer/">Volunteer</a></li>
    <li class="nav__item nav__item--sub-item nav__item--offeritems"><a href="/give-help/offer-items/">Offer Items</a></li>
    <li class="nav__item nav__item--sub-item nav__item--partnership"><a href="/give-help/partnership/">Partnership</a></li>
  </ul>
</li>
<li class="nav__item nav__item--charter">
  <a href="https://charter.streetsupport.net">Charter</a>
  <ul class="nav__list nav__list--sub-sub-list">
    <li class="nav__item nav__item--sub-item nav__item--readthecharter"><a href="https://charter.streetsupport.net/read-the-charter/">Read the Charter</a></li>
    <li class="nav__item nav__item--sub-item nav__item--pledgeyoursupport"><a href="https://charter.streetsupport.net/pledge-your-support/">Pledge your Support</a></li>
    <li class="nav__item nav__item--sub-item nav__item--joinactiongroup"><a href="https://charter.streetsupport.net/join-action-group/">Action Groups</a></li>
    <li class="nav__item nav__item--sub-item nav__item--aboutthecharter"><a href="https://charter.streetsupport.net/about-the-charter/">About the Charter</a></li>
    <li class="nav__item nav__item--sub-item nav__item--progress"><a href="https://charter.streetsupport.net/progress/">Progress</a></li>
    <li class="nav__item nav__item--sub-item nav__item--partnershipboard"><a href="https://charter.streetsupport.net/partnership-board/">Partnership Board</a></li>
  </ul>
</li>
<li class="nav__item nav__item--bigchange">
  <a href="/manchester/bigchangemcr/">Big Change</a>
  <ul class="nav__list nav__list--sub-sub-list">
    <li class="nav__item nav__item--sub-item nav__item--bigchangeabout"><a href="/manchester/bigchangemcr/about/">About</a></li>
    <li class="nav__item nav__item--sub-item nav__item--bigchangepartners"><a href="/manchester/bigchangemcr/partners/">Partners</a></li>
  </ul>
</li>
<li class="nav__item nav__item--toolkit">
  <a href="/manchester/community-toolkit/">Community Toolkit</a>
  <ul class="nav__list nav__list--sub-sub-list">
    <li class="nav__item nav__item--sub-item nav__item--awards"><a href="/manchester/community-toolkit/standards/">Standards</a></li>
    <li class="nav__item nav__item--sub-item nav__item--benefits"><a href="/manchester/community-toolkit/benefits/">Benefits</a></li>
    <li class="nav__item nav__item--sub-item nav__item--training"><a href="/manchester/community-toolkit/training/">Training</a></li>
    <li class="nav__item nav__item--sub-item nav__item--apply"><a href="/manchester/community-toolkit/apply/">Apply</a></li>
    <li class="nav__item nav__item--sub-item nav__item--get-in-touch"><a href="/manchester/community-toolkit/get-in-touch/">Get in Touch</a></li>
</li>
