<div class="highlight">
  <ul class="highlight__list">
    <li class="highlight__item">
      <a href="/find-help/all-service-providers/">
        <span class="highlight__title">\{{ statistics.totalServiceProviders }}</span>
        <span class="h3 highlight__description">Organisations</span>
      </a>
    </li>
    <li class="highlight__item">
      <a href="https://charter.streetsupport.net/progress/">
        <span class="highlight__title">\{{ statistics.totalPledges }}</span>
        <span class="h3 highlight__description">Pledges</span>
      </a>
    </li>
    <li class="highlight__item">
      <a href="/give-help/volunteer/">
        <span class="highlight__title">\{{ statistics.totalVolunteers }}</span>
        <span class="h3 highlight__description">Volunteers</span>
      </a>
    </li>
  </ul>
</div>
