<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--cityco"><a href="https://cityco.com/"><span class="hide-screen">CityCo</span></a></li>
  <li class="partners__logo partners__logo--booth-centre"><a href="http://www.boothcentre.org.uk/"><span class="hide-screen">Booth Centre</span></a></li>
  <li class="partners__logo partners__logo--mustard-tree"><a href="http://www.mustardtree.org.uk/"><span class="hide-screen">Mustard Tree</span></a></li>
  <li class="partners__logo partners__logo--holy-name-manchester"><a href="http://www.holyname.info/">{{> icon name="holy-name-manchester"}}</a></li>
  <li class="partners__logo partners__logo--bruntwood"><a href="http://bruntwood.co.uk/"><span class="hide-screen">Bruntwood</span></a></li>
  <li class="partners__logo partners__logo--shelter"><a href="http://england.shelter.org.uk/">{{> icon name="shelter"}}</a></li>
  <li class="partners__logo partners__logo--human-appeal"><a href="https://donate.humanappeal.org.uk/"><span class="hide-screen">Human Appeal</span></a></li>
  <li class="partners__logo partners__logo--big-lottery-fund"><a href="https://www.biglotteryfund.org.uk/">{{> icon name="big-lottery-fund"}}<span class="hide-screen">Big Lottery Fund</span></a></li>
</ul>
