<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--holy-name-manchester"><a href="/about/our-sponsors/#partner-holy-name">{{> icon name="holy-name-manchester"}}<span class="hide-screen">Holy Name Manchester</span></a></li>
  <li class="partners__logo partners__logo--gm-mayors-fund"><a href="/about/our-sponsors/#partner-gm-mayors-fund"><span class="hide-screen">Greater Manchester Mayors Fund</span></a></li>
  <li class="partners__logo partners__logo--cityco"><a href="/about/our-sponsors/#partner-cityco"><span class="hide-screen">CityCo</span></a></li>
  <li class="partners__logo partners__logo--one-agency"><a href="/about/our-sponsors/#partner-one-agency"><span class="hide-screen">One Agency</span></a></li>
  <li class="partners__logo partners__logo--shelter"><a href="/about/our-sponsors/#partner-shelter">{{> icon name="shelter"}}</a><span class="hide-screen">Shelter</span></li>
  <li class="partners__logo partners__logo--human-appeal"><a href="/about/our-sponsors/#partner-human-appeal"><span class="hide-screen">Human Appeal</span></a></li>
  <li class="partners__logo partners__logo--booth-centre"><a href="/about/our-sponsors/#partner-others"><span class="hide-screen">Booth Centre</span></a></li>
  <li class="partners__logo partners__logo--dentsu-aegis"><a href="/about/our-sponsors/#partner-dentsu-aegis"><span class="hide-screen">Dentsu Aegis Network</span></a></li>
  <li class="partners__logo partners__logo--city-council"><a href="/about/our-sponsors/#partner-city-counci"><span class="hide-screen">Manchester City Council</span></a></li>
</ul>
