---
title: Izy's Story - Street Support
description: Street support stories - Izy.
layout: default.hbs
permalink: false
jsBundle: generic
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Izy's Story</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Izy's Story</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h3>How did you first become homeless?</h3>
      <p>It started at nine months old, when my Father passed away. After a while, my Mum remarried. The guy was nice at first. But a few years later he got leukaemia and became a very nasty man. He did recover, but was still a very angry man. He actually hit my brother twice. The second time was when my Mum passed away. I was 13. He was actually swinging for me, but hit my brother.</p>
      <p>It was because he blamed me for my Mum’s death. He said &quot;You drove your Mum to her death, and you’ll do the same to me&quot;. So I walked out that night. I managed to sofa surf with friends for a few years, before finally moving onto the street.</p>

      <h3>How do you feel about your Stepfather now?</h3>
      <p>I hate him. I’ve lived until about a year ago believing what he said, believing it was my fault, until a friend finally convinced me otherwise. If anything, he was the one stressing her out. She was working two jobs, and yet he was still leaving her all the housework to do, all the washing and cleaning, pots and pans.</p>

      <h3>Where were you when your Mother was taken to hospital?</h3>
      <p>I was at home. She had tucked me into bed the night before. Gave me a kiss on the head and said “See you in the morning”. The next day I got up and followed my normal routine, without realising she wasn’t there. Then I got the call telling me she’s in hospital. I thought she’d be fine. She’s my Mum, she’s not going to go - she’s wonder woman! Well she was strong, but obviously she couldn’t fight this.</p>

      <h3>What happened next?</h3>
      <p>She was on life support for a week. Then my Stepdad decided to turn it off without consulting me. He should’ve asked me. I would’ve wanted to be there. Instead, I found out at school that my Mother had passed. He didn’t even bother telling me in person. He just rang up at school to let me know. My only response was &quot;Okay, can I go back to work now?&quot;. Because this is what my Mother would want me to do, to carry on with my education.</p>
      <p>They made me to take two weeks off for mourning. In all honesty, I would have rather stayed at school and do my work. But also I’m a bit ashamed of them - they think two weeks is enough for you to grieve the loss of your only parent? Two weeks isn't long enough.</p>

      <h3>Is it hard to talk about now?</h3>
      <p>It’s become easier to talk about over time because… well I’ve not got over it, but I’ve got past it. I’ve learned to accept it as part of my life. If that didn’t happen, I wouldn’t be who I am. I wouldn’t have had half the experience that I’ve had had. If my parents were alive, I would’ve never been homeless. I don’t even think that I would’ve figured out that I was gay as young as I did. It’s one of those. My life would have been completely different if my parents were still here. I wouldn’t have learned the valuable lessons that I have learned if they didn’t pass.</p>

      <h3>Do you remember the very first day you became homeless?</h3>
      <p>It was freezing cold. We had three sleeping bags between four people and a dog. First night, we slept under New Bridge. The main thing was we needed to find money to get something to eat. All of us were too nervous to beg - we had pride and we didn’t want to lower ourselves to that. But then Kath had the biggest bollocks and she said “You know what? I’m just gonna do it.” We were sat across Afflecks with a couple of friends having a smoke, and Kath just sat up on the plant pots and begged. She gave us the confidence to actually do it ourselves. If it weren’t for her, I wouldn’t be here. We wouldn’t have made any money at all because none of us would have had the courage to do so.</p>

      <h3>Why were you so scared of begging?</h3>
      <p>I don’t know. I really don’t know as to why I was scared. I think it was because I knew a lot of people who walked around town and didn’t want them to see me like this. Also, my family - I didn’t want them to see me like this. When I found a regular spot for begging, I told my brother not to go down that street. I didn’t want him to see me like that. At that time, they couldn't help me.</p>

      <h3>When you were begging, did you find that people were very generous?</h3>
      <p>It varies for different people. Most of the time we wouldn’t really get anything, other than dirty looks. Sometimes we’d get a couple of quid, sometimes a couple of pence. Once or twice a week we might get a note. But singing was a lifesaver for us. We’d always get more then.</p>

      <h3>What would you sing?</h3>
      <p>We did a bit of Midnight Beast. And we did like our Disney songs, like Under the Sea from The Little Mermaid. And we liked our Ed Sheeran too. Singing definitely got us the most part of our money. The main thing people liked was our enthusiasm.</p>

      <h3>And where would you stay?</h3>
      <p>Portland Street, next to Premier Inn, the alcove there. That’s where we lived. Then they put a shutter down over it, not long after the protests started.</p>

      <h3>Were you involved in any of protest camps?</h3>
      <p>I was actually made leader of one of the camps. But I got ill for a few days, so went away to rest. When I came back they decided they didn’t like me, so staged a mutiny. I wanted to spend the money on things we needed like sleeping bags, fences and a takeaway every now and then. But people didn’t like that. They wanted to spend it on other things. I said if you want to spend it on alcohol, spice or other drugs, raise it yourself. But they didn’t like that.</p>

      <h3>Did you ever get involved in drugs?</h3>
      <p>Yes. I used to smoke spice a lot. We would smoke at least 6-10 gram amongst us each day. We used to get high all the time. If we didn’t have any, we could turn quite nasty.</p>
      <p>Kath got off first, but we all kept smoking it for a while. When it came to me to quit, I found it quite easy. Most people get cold sweats, shivering and body aches. They throw up all the time. It can last a week or two, depending on how much you’ve been on it. Considering how much I was having, I was lucky to only have these for a couple of days. I haven’t touched it again since.</p>

      <h3>What made you decide to quit?</h3>
      <p>I realised that it was wasting my money. I was spending £20 just to get high for one day. I realised that with the £20 I could get something more permanent, like a tattoo, new clothes, fresh pair of shoes. But I was being stupid, thinking I needed spice to make me forget my problems. But forgetting my problems wasn’t going to get rid of them. It was just buying me time. To get rid of them, I needed to face them head on. I needed to become a lot more mature.</p>

      <h3>Who helped you come to that conclusion?</h3>
      <p>My nephews. When I am high or on a substance I am not allowed to see them. I need to wait 24 hours to get it out of my system. But I can’t choose drugs over my nephews. I spent too long not seeing them. I don’t want them to ask &quot;What happened to Aunty Izzy? Why did she not come see us?&quot; I decided for them and myself that I needed to sort my life out, because I was going nowhere. So I decided to get off it.</p>

      <h3>And what did you learn whilst living on the street?</h3>
      <p>The streets are a scary space. All our tents would get slashed and our stuff stolen. The streets are not safe, mentally and physically it drains you. I had mental health issues before, but they got so much worse when I got on the streets.</p>
      <p>I used to only have PTSD and depression, and possibly a little bit of anger issues, but this was down to losing my parents. Since being on the streets my depression has definitely got worse. And I’ve developed anxiety, emotional issues, abandonment issues and I'm now deemed mentally unfit to work. It’s the streets that have done it. I’d love to get back into work if there was a job that I could do.</p>

      <h3>What was the scariest moment of the whole time?</h3>
      <p>One time I had spice down my top, because it was the safest place to store it. And there was this dodgy guy going round, asking for a spliff people and then jacking the rest of the bag. I saw him coming, so I was pretending to be asleep. He was threatening to smash my friend’s face in if he didn’t go down my top and get the spice out.</p>
      <p>Another time, this guy was sat having a chat with us. He said he’d tried spice before and said it didn’t really affect him, so we gave him a couple of drags on a spliff. The guy ended up face down and turning blue. He nearly died next to us, because of the spice. He stopped breathing and everything. We had to do CPR and call an ambulance.</p>

      <h3>If you could give yourself some advice, back when you became homeless, what would it be?</h3>
      <p>Keep your chin up – things are going to get better. Never stop believing in yourself. And get off that shit [spice]!</p>

      <h3>What helped you get to the place in life you are now?</h3>
      <p>The main thing is Jamie [Breakfast in Bed]. Jamie believing in me, having so much faith in me that I could do this. He believes that I am capable of so much in my life. He thinks that I’d be good for so many jobs, like in childcare or as a holiday rep.</p>

      <h3>Were there any other organisations that helped?</h3>
      <p>Lifeshare. If I’m struggling for anything, they help me out with what I need. Once my housing application is fully processed, they’re going to push the council to get me housed. For them to do that means the world to me, they’re helping me get more stable.</p>

      <h3>How is the search for housing going now?</h3>
      <p>I went to view a property yesterday, but there’s so many fees adding up to so much. I don’t even know if I can have the dog there or anything. I also need a guarantor with it, which I haven’t got. I need someone that’s got a fulltime job, earning at least £13,000 annually – how am I going to find one of those? It’s impossible.</p>

      <h3>It’s amazing that you managed to get off the street, but obviously a lot of others don’t manage. What do you think the difference is for them?</h3>
      <p>Most think that they’re not worth helping. They’ve also got a lot of trust issues. Then some genuinely do want to be on the streets – though Lord knows why. They must be really, really trapped if they choose that. People come from different situations. They think they’re not going to get the help because of their issues, like the drugs or mental health problems that are holding them back. But it’s different for each person.</p>

      <h3>If you could change one thing for others, to make it easier for them to get off the street, what would it be?</h3>
      <p>I’d build more housing to bring people off the street, and get people to donate so we can keep it running. I’d like to do it myself – find a block of flats, renovate it and then charge people just £3 a night to stay. There needs to be more places for cheaper. We’ll even have a floor for people with dogs, so they can be warm as well. A lot of shelters won’t take you if you have a dog like we did. We’d also make sure everyone got a full English breakfast each day too. And then finally get actual mental health and drug workers to come in too, so they’d get the help that they need.</p>

      <h3>What help have you received for mental health and drug issues?</h3>
      <p>I went to Urban Village Medical Practice for my mental health. They organised a meeting at 42nd Street [young people’s mental health charity]. I’d met with them before after my parent’s passed, when I was going through a really, really bad time. They helped me a lot back then. It wasn’t actually the counselling that helped, it was the women’s group that I was going to. I made friends, we went out, we had a good time – it was brilliant.</p>

      <h3>And what about any medication to help your mental health?</h3>
      <p>Nope. Nothing. The doctor thinks that because I’ve managed to deal with it so well for so many years, I don’t need the medication. My mental health has been so low that now my willpower is so strong, and I don’t need any medication.</p>

      <h3>So many people want to help homeless people, but maybe aren’t quite sure how to. What would you say to them?</h3>
      <p>The best way to help a homeless person is to acknowledge them. Sit down, have a chat, make them feel like an actual human being – not just a piece of crap on someone’s shoe. They mean something to somebody, and you just can’t judge people before you know them.</p>
      <p>Like if you saw me back then, you wouldn’t touch me with a bargepole. But, once you get to know me I’m a nice person. I’m genuine, down to earth and wouldn’t ever do you wrong. I always try to help others and do my best. But on the street people wouldn’t have known that, they’d just see me and think I was a dirty tramp.</p>

      <h3>Are you looking for work now?</h3>
      <p>Yes, I’m pretty much up for anything that’s not sitting on my arse all day. No call centres. If I could find something with my qualifications, that’d be great. I don’t even mind being on CBeebies. That’d be brilliant! I can be as whacky as anything and then I can be like &quot;Yo listen I’m working on CBeebies. We’re starting filming soon. Alright!&quot; Kids will start watching it tomorrow.</p>
      <p>But it’s difficult. A lot of people want experience. How can I get experience if they won’t give me a job? I was meant for a job trial at Subway but they didn’t give that to me. I do a bit of volunteering work on the farm. If they need an extra hand, they’ll call me.</p>

      <h3>And do you still have any involvement with those who helped you off the street?</h3>
      <p>I’m already volunteering with Breakfast in Bed already, and I’m going to be more involved with Lifeshare soon. It gives me peace of mind to know that I’m getting out, doing stuff and helping others. That is getting my mental health better – I’m not as depressed because I’m up and doing something. The battle over the negative is finally winning. The anxiety is starting to disappear because I’m finding more people that I can trust.</p>

      <h3>Where do you see yourself in 10 years?</h3>
      <p>Possibly on a farm. Like my own farm. It requires a lot of self-discipline, and it’s something the whole family can get in to. I definitely see myself with a family though. 100% I want kids, I love them. At least three of my own, and I want to adopt. I know what it’s like to not have parents, that are able to be there for you. So I want to be able to be there for some children that don’t have parents. Adopting a teenager as well – a lot of them get shoved aside, and don’t get any opportunities.</p>

      {{> social-share}}
    </div>
  </div>
</div>
