---
title: Best Practice for Community-led support - Working together to end homelessness in Manchester
description: Protect your volunteers and the vulnerable people you support
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: best-practice
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item">Community Toolkit</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Community Toolkit</h1>
    <h2 class="h2 block__sub-header">Guidance for volunteer-led support services</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Are you a volunteer-led group that provides support for people on the streets? We have put together this best practice guide to help you protect the vulnerable adults that use these services, and your volunteers.</p>
      <p>This toolkit makes it easier for you to develop and be recognised for the quality of your service. The information, training and support provided here supports you to ensure you have adequate standards and safeguarding in place.</p>
    </div>
  </div>
</div>
   
<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content">   
      <h2 class="h1 best-practice__header">What do I need to do?</h2>
      <ol class="best-practice-steps">
        <li>Download and read our <a href="/documents/Best Practice Guide.docx">Best Practice Guide</a>.</li>
        <li>Decide which <a href="/manchester/community-toolkit/awards">Best Practice Award</a> to apply for.</li>
        <li>Join <a href="/manchester/cor">Coalition of Relief</a> to access support from other organisations.</li>
        <li>Find <a href="/manchester/community-toolkit/training">training</a> to help protect you, your volunteers and those you support.</li>
        <li>
          <p id="document-templates">Download useful document templates:</p>
          <ul class="best-practice-steps__sub-list">
            <li><a href="/documents/Safeguarding Policy Template.docx">Safeguarding policy template</a></li>
            <li><a href="/documents/Volunteer Policy Template.docx">Volunteer policy template</a></li>
            <li><a href="/documents/Template Volunteer Application Form.doc">Volunteer application form</a></li>
            <li><a href="/documents/Health and Safety Policy Template.docx">Health and safety policy template</a></li>
            <li><a href="/documents/Confidentiality Policy Template.docx">Confidentiality policy template</a></li>
            <li><a href="/documents/Financial Policy Template.docx">Financial policy template</a></li>
          </ul>
        </li>
        <li><a href="/manchester/community-toolkit/apply">Apply</a> for a Best Practice award.</li>
        <li>Access the <a href="/manchester/community-toolkit/benefits">benefits</a>!</li>
      </ol>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>The mission of the partnership is to end homelessness, and to work together towards the values set out in <a href="https://charter.streetsupport.net">Manchester Homelessness Charter</a>. People experiencing homelessness have said that they want to maintain their dignity, and most prefer indoor services.</p>
      <p>Based on this feedback, we recommend street kitchens move inside where possible, and that their volunteers signpost people into services that can offer other support. You can see what meals are already being provided through our <a href="/find-help/category-by-day/?category=meals">meals timetable</a>. For full information on all local services available, including <a href="/find-help/category-by-day/?category=dropin">drop in centres</a> and <a href="/find-help/category-by-day/?category=support">advice services</a>, please use our <a href="<a href="/find-help/">find help</a> section.</p>
      <p>If you have any questions or suggestions, please <a href="/manchester/community-toolkit/best-practice/get-in-touch">get in touch</a>.</p>
    </div>
  </div>
</div>
