---
title: Community Toolkit - Working together to end homelessness in Manchester
description: Learn more about the organisations helping to end homelessness in Manchester
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: toolkit
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item">Community Toolkit</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Community Toolkit for Organisations</h1>
    <h2 class="h2 block__sub-header">Learn more about best practice when creating and running an organisation to help homelessness</h2>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="split">
      <div class="split__element">
        <h1 class="h2">Safe and effective for everyone involved</h1>
        <p>We work to support and connect <a href="/find-help/all-service-providers/?location=manchester">many amazing local voluntary organisations</a>, both charities and grassroots groups. Many volunteers offer incredible kindness and generosity to support people who are experiencing homelessness.</p>
        <p>Working with vulnerable adults, some with complex needs, there is a lot to consider when trying to help - from safeguarding of volunteers and those you aim to help, to training, and knowledge about what other support is available (such as the Big Change fund). It is essential that people link into services who can offer advice and long term support to move away from homelessness.</p>
      </div>

      <div class="split__element text-center">
        <svg class="svg-partnershipLogo-dims partnership__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#partnershipLogo"></use>
        </svg>
      </div>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Best Practice</h2>
      <p>Together with <a href="/find-help/organisation/?organisation=coffee4craig">Coffee4Craig</a> and a network of other groups in the city, we have put together some guidance, tools, training and an award scheme to help community led groups to set up and evolve in a way that is safe and effective for everyone involved. You can also join <a href="/manchester/cor/">Coalition of Relief (COR)</a>, a network of Manchester based grassroots organisation. We hope that you find this useful.</p>
      <a class="btn btn--brand-e" href="/manchester/community-toolkit/best-practice">
        <span class="btn__text">Learn more about Best Practice</span>
      </a>
    </div>
  </div>
</div>


<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content">
      <p>If you are considering doing something to help, it is important to start with a really good understanding of the services that already exist, and of what is really needed. You can find out more about existing services and what help is needed in our <a href="/find-help/">Find Help</a> and <a href="/give-help/">Give Help</a> sections.</p>
      <div class="block__cta block__cta--incopy block__cta--2">
        {{>cta brand="d" icon="findhelp" link="/find-help/" name="Find Help"}}
        {{>cta brand="e" icon="givehelp" link="/give-help/" name="Give Help"}}
      </div>
    </div>
  </div>
</div>
