---
title: Best Practice for Community-led support - Working together to end homelessness in Manchester
description: Protect your volunteers and the vulnerable people you support
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: best-practice
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item">Community Toolkit</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Community Toolkit</h1>
    <h2 class="h2 block__sub-header">Guidance for volunteer-led support services</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Are you a volunteer-led group that supports people experiencing homelessness? We have put together this best practice guide to help groups develop standards and safeguarding for working with vulnerable people.</p>
      <p>These pages help you to develop and be recognised for the quality of your services. The information, training and support provided will benefit both people using your services, and your volunteers. </p>
    </div>
  </div>
</div>
   
<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content">   
      <h2 class="h1 best-practice__header">What do I need to do?</h2>
      <ol class="best-practice-steps">
        <li><a href="/documents/Best Practice Guide.docx">Download and read our Best Practice Guide</a>. This gives advice on safeguarding, how to set up your policies and procedures, bank account, insurance and charity status.</li>
        <li><a href="/manchester/community-toolkit/awards">Decide which Manchester Homelessness Partnership Best Practice Award</a> you want to apply for, and <a href="/manchester/community-toolkit/benefits">read about the benefits</a>.</li>
        <li><a href="/manchester/community-toolkit/training">Find training</a> to help protect you, your volunteers and the people you support. </li>
        <li>
          <p id="document-templates">Download useful document templates:</p>
          <ul class="best-practice-steps__sub-list">
            <li><a href="/documents/Safeguarding Policy Template.docx">Safeguarding policy template</a></li>
            <li><a href="/documents/Volunteer Policy Template.docx">Volunteer policy template</a></li>
            <li><a href="/documents/Template Volunteer Application Form.doc">Volunteer application form</a></li>
            <li><a href="/documents/Health and Safety Policy Template.docx">Health and safety policy template</a></li>
            <li><a href="/documents/Confidentiality Policy Template.docx">Confidentiality policy template</a></li>
            <li><a href="/documents/Financial Policy Template.docx">Financial policy template</a></li>
          </ul>
        </li>
        <li>Join the <a href="/manchester/cor">Coalition of Relief network</a> to access support from other homelessness organisations.</li>
        <li><a href="/manchester/community-toolkit/apply">Apply</a> for a <a href="/manchester/community-toolkit/awards">Manchester Homelessness Partnership Best Practice award</a>.</li>
      </ol>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>The mission of the partnership is to end homelessness, and to work together towards the values set out in <a href="https://charter.streetsupport.net">Manchester Homelessness Charter</a>.</p> 
      <p>Everything we do starts with listening to people with lived experience of homelessness. They have told us they want services that offer dignity, and most would rather services were provided indoors. Based on this feedback, we are working towards street kitchens moving indoors. You can see what food is already being provided through our <a href="/find-help/category-by-day/?category=meals">meals timetable</a></p>
      <p>It is also important that volunteers signpost people into services that can offer people professional support. For full information on all local services available, including <a href="/find-help/category-by-day/?category=dropin">drop in centres</a> and <a href="/find-help/category-by-day/?category=support">advice services</a>, please use our <a href="<a href="/find-help/">find help</a> section.</p>
      <p>If you have any questions or suggestions, please <a href="/manchester/community-toolkit/best-practice/get-in-touch">get in touch</a>.</p>
    </div>
  </div>
</div>
