---
title: Emergency Homeless Help in Southampton - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/southampton/">Southampton</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header">
  <div class="container container--city-header city-header--Southampton">
    <h1 class="h1 block__header">Emergency Advice</h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p class="h2 text-center">Please note, this is advice for Southampton; please change your location above for general advice.</p>
      {{> divider }}
      <p>If you've just become homeless, or feel that there is a risk of that happening, it's important to get the right advice as soon as possible. There is a range of support available, depending on your situation.</p>

      <a name="rough-sleepers"></a>
      <h2 class="h2">Support for Rough Sleepers</h2>
      <p>If you are in Southampton, you can contact the council Street Homeless Prevention Team on 023 8083 2343 or email <a href="mailto:streethomeless@southampton.gov.uk">streethomeless@southampton.gov.uk</a>
      <p>Outside of the city, if you see someone sleeping rough, and don't know how to help, you can use the national StreetLink service (0300 500 0914) who will notify the local council and get them connected to the local services and support.</p>

      <h3 class="h2">In an Emergency</h2>
      <p>Call 999 in an emergency - when someone is at risk of being injured, a crime is in progress, or if you have urgent concerns about someone's health.</p>
      
      <h2 class="h2">Presenting as homeless</h2>
      <p>If you have just become homeless or are at imminent risk of becoming homeless, it’s important that you get advice as soon as possible from your local council, who has a duty to provide advice and assistance to anyone who may need it.</p>
      <p><strong>Southampton City Council</strong> - During office hours you can contact us on telephone number 023 8083 2327 or by email at <a href="mailto:homelessness.advice@southampton.gov.uk">homelessness.advice@southampton.gov.uk</a>.</p>
      <p>Homelessness Unit telephone hours<br/>
	  Monday 8:30am to 4:30pm<br/>
	  Tuesday 8:30am to 4:30pm<br/>
	  Wednesdays 10am to 4:30pm<br/>
	  Thursdays 8:30am to 4:30pm<br/>
	  Fridays 8:30am to 4pm</p>
	  <p>If you are homeless because of an emergency outside of normal office hours, you can contact the council’s out of hours service on 023 8023 3344.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
