---
title: Greater Manchester Needs - Street Support Network
description: What's needed to help people facing homelessness in Greater Manchester.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: about
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">Greater Manchester Needs</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">What is needed in Greater Manchester?</h1>
  </div>
</div>

<div class="block">
  <div class="container">

    <div class="block__content">

      <h2 class="h2">What is needed in Greater Manchester?</h2>
      <p>To provide a Bed Every Night this winter in Greater Manchester, we need businesses and individuals to donate both money and items to enable us to put on extra accommodation across GM. Below are the current list of items needed. If you have anything relevant to offer, please do so through our <a href="/give-help/offer-items/">simple offers form</a> and someone will be in touch with you soon to arrange delivery or collection.</p>

      <ul>
        <li>Catering: Plates, cups, cutlery, breakfast bowls, containers for coffee/tea/sugar, bins inc smoking ends bins, tin openers, milk, tea, coffee, sugar, biscuits, cereal, pot noodles, microwave food, bread, butter, jams, tinned food, soup, sweets, kitchen towel, tea towels, squash/juice</li>
        <li>Electrics: microwaves, kettles, radio, tv, toasters, fridge, freezer, lamps</li>
        <li>Stationary: paper, pens, day book, diary, staplers, files, plastic A4 wallets, stickers/labels, plastic boxes for belongings</li>
        <li>Toiletries: toilet roll, hand wash, toilet brushes, paper hand towels, air freshener, shaving foam, deodorant, tooth paste, tooth brushes, shower gel, shampoo, razers, towels, hair brushes/combs, sanitary towels</li>
        <li>Cleaning: mops, cloths, buckets, cleaning liquid, hand sanitisers, washing up liquid, washing up bowls, brushes, hoover, washing powder, bin bags, dust pans</li>
        <li>Furniture: chairs, sofas, tables</li>
        <li>Medical: first aid, needle box, needle gloves, needle grabbers, body fluid spillage kit, latex gloves, hoover</li>
        <li>Pets: bowls, food, chipping, leads, blankets, flea treatment, toys</li>
        <li>Bedding: Flame retardent bed bases, pillows, duvets, duvet covers, fitted sheets, pillow covers</li>
        <li>Admin support: computers, printer, scanner, internet access, phones and chargers, locked cabinet, support staff, security staff</li>
        <li>Contracts: laundry, cleaning, bins, sanitary bins, needle box deposals, TV/public licence, fire equipment, legionella, asbestos survey, electrical certificate, gas safety certificate, pat testing of existing equipment, confidential waste disposal, personal alarms, pest control, use of vans for delivery</li>
        <li>Clothing: hats, gloves, scarves, trousers (small/medium), underwear, socks</li>
      </ul>

      <p>Please offer what you can through our <a href="/give-help/offer-items/">simple offers form</a> and someone will be in touch with you soon to arrange delivery or collection.</p>

      {{> social-share}}
    </div>
  </div>
</div>
