---
title: Southampton Homelessness Charter - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-southampton.jpg
layout: default.hbs
permalink: false
jsBundle: adviceV2
section: southampton
page: southampton-charter
location: southampton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/southampton/">Southampton</a></li>
      <li class="breadcrumbs__item">Charter</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--southampton">
  <div class="container">
    <h1 class="h1 block__header">The Southampton Rough Sleeping and Begging Charter</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>This Charter is a statement of a joint mission by voluntary, faith, private and public sector organisations, all committed to work together for the city.</p>
      <p>The formation of the Charter involved people with lived experience of homelessness and organisations which provide support, and can be summarised by the vision statement “Southampton is a city where no-one needs to sleep rough or beg”.</p>
    </div>
  </div>
</div>

<div class="block block--pullout">
  <div class="block__primary">
    <div class="container">
      <h2 class="standout"><font color="white">Our Vision:</font></h2>
      <h2 class="h2"><font color="white">Southampton is a city where no-one needs to sleep rough or beg</font></h2>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Any individual, organisation or business wishing to give support to this vision and its underpinning principles can sign up to the Charter and pledge to take action or give help through the Southampton Street Support website.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">The Charter</h2>
      <p><b>Our Commitment Is:</b>
      <ul>
        <li>To call on all public, private, voluntary, faith and academic sector agencies, as well as local citizens, to adopt this charter and commit to work together with determination and creativity to secure resources and  take action to make Southampton a place where no one needs to sleep rough or beg.</li>
        <li>To ensure anyone who is sleeping rough is treated with respect and dignity, has their rights protected and a voice in decisions and their services</li>
      </ul>
      <a class="btn btn--brand-e" href="\southampton\charter\Southampton_Charter_on_Rough_Sleeping_and_Begging.pdf" target="_blank">
        <span class="btn__text">Read the Charter</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Pledge your support</h2>
      <p>Organisation, business or individual? Everyone can make a difference to homelessness in Southampton.</p>
      <p>You can show your dedication to the Charter by making a pledge of support. Join us by using your skills and resources to work towards ending homelessness.</p>
      <a class="btn btn--brand-e" href="https://docs.google.com/forms/d/e/1FAIpQLSfM_oWTKiTdJuaWUetutDAcJopdPMlpa8m-H2SQP-L50Z2xDA/viewform?usp=sf_link" target="_blank">
        <span class="btn__text">Pledge Your Support</span>
      </a>
      <p>If you have made a pledge then we will contact you. For more information about the charter, what to pledge or to find out how you can be involved, please contact a member of the team at Southampton Voluntary Services via an email to <a href="mailto:information@southamptonvs.org.uk">information@southamptonvs.org.uk</a>. For wider information on opportunities for volunteering in the city you can visit <a href="https://www.southamptonvs.org.uk">www.southamptonvs.org.uk</a>.
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Action Groups</h2>
      <p>Action groups have been set up to address specific issues in the city, which currently are:</p>
      <ul>
        <li>Beds and homes development</li>
        <li>Alternative giving action group</li>
        <li>Coordination of support and practical help (voluntary organisations)</li>
      </ul>
      <p>All groups would like to welcome new members, particularly anyone who has experienced homelessness or has relevant skills or professional expertise. If you would like to join a group email <a href="mailto:southampton@streetsupport.net">southampton@streetsupport.net</a> and you will be connected with the group chair.</p>
      <p>The groups feedback to the Southampton Street Support Action Group which coordinates work on the charter across the city. </p>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">How The Charter started</h2>
      <p>On 19th & 20th January 2018 over 70 people representing all sectors in Southampton came together for a city conversation to look at issues relating to street homelessness. Arising from this came a strong sense of shared commitment to work together to tackle the complex issues raised and to take forward ideas in practical ways through action groups.</p>
      <p>One group developed a shared statement of principles and pledges enshrined in a collective document ‘The Southampton Rough Sleeping and Begging Charter’ to which agencies and individuals can sign up.</p>
      <p>The charter was presented for initial agreement and was signed by local people and organisations on 24 Sept 2018 at Central Baptist Church Hall, Devonshire Rd, Southampton.</p>
      <p>Oversight of the Charter and its ongoing implementation rests with the multiagency steering group comprised of the following agencies:</p>
      <ul>
        <li>Love Southampton</li>
        <li>Southampton Voluntary Services </li>
        <li>Southampton City Council</li>
        <li>The Society of St James</li>
        <li>Go Southampton </li>
      </ul>
      <p>This group operates under under the auspices of Southampton Connect - the cities overarching key local strategic partnership.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Our Supporters</h2>
      <img src="\assets\img\southampton-charter-supported-logos-sml.jpg" alt="Logos of the current Supporters" width="800" height="450" style="margin: 0 auto; display: block;" />
    </div>
  </div>
</div>
