---
title: Emergency Homeless Help in Southampton - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-southampton.jpg
layout: default.hbs
permalink: false
jsBundle: adviceV2
section: southampton
page: southampton-advice
location: southampton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/southampton/">Southampton</a></li>
      <li class="breadcrumbs__item">Charter</li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="container">
    <h1 class="h1 block__header">Southampton Rough Sleeping and Begging Charter</h1>
  </div>

<div class="block">
  <div class="container">
    <div class="block__content">
            <p>The Southampton Charter on Rough Sleeping and Begging has been developed through collaborative conversations with key voluntary, faith, private and public sector organisations who are committed to work together and involve people with lived experience to tackle street homelessness and begging in the city to ensure that we meet our shared vision that “Southampton is a city where no-one needs to sleep rough or beg”. Any individual, organisation or business wishing to support to this vision and its underpinning principles can sign up to the Charter and pledge to take action or help through the Southampton Street Support website.</p>

            <h2 class="h2">Background</h2>
            <p>On 19th & 20th January 2018 over 70 people representing all sectors in Southampton came together for a city conversation looking at issues of street homelessness and begging under the title Beds, Begging and Business. From this there was a strong sense of shared commitment to work together to tackle the complex issues raised and to take forward ideas in practical ways through task and finish working groups including one established to develop a shared statement of principles and pledges enshrined in a collective document ‘The Southampton Rough Sleeping and Begging Charter’ to which agencies and individuals can sign up.</p>
            <p>Those who offered to join the Charter Working group have met and considered various documents from other areas engaged in similar conversations before drafting a version for local consideration. We recognised that language and terminology are important to how we describe our purpose and shared intentions as well as how inclusive we are in our scope. Although we knew that some prefer other terminology we deliberately chose to use the term Rough Sleeping and Begging as this directly describes the distinct, but interconnected, issues we are tackling as seen from a public viewpoint.</p>

            {{> divider }}

            <div class="block block--pullout"><div class="block__primary"><div class="container"><h2 class="standout"><font color="white">Our Vision:</h2><h3 class="h2">Southampton is a city where no-one needs to sleep rough or beg</h3></div></div><div class="block__secondary"><div class="container"><p>Action Groups underway include co-ordination of voluntary services, reducing rough sleeping initiatives, developing longer-term creative solutions for affordable housing and emergency housing.</p></font></div></div></div>

            <h2 class="h2">Our Commitment Is:</h2>
            <ul>To call on all public, private, voluntary, faith & academic sector agencies, as well as local citizens, to adopt this charter and commit to work together with determination and creativity to secure resources and take action to make Southampton a place where no one needs to sleep rough or beg.</ul>
            <ul>To work with any individual or organisation signing up to this charter to take action towards ending rough sleeping & begging in Southampton by committing to join together and work collectively to agreed standards on the following issues:</ul>

            <ul>

              <ul>
                <li class=" " >Beds and homes development</li>
                <li class=" " >Lived experience and user voice</li>
                <li class=" " >Coordination of support and practical help</li>
                <li class=" " >Developing an alternative giving scheme</li>
                <li class=" " >Volunteering and meaningful activities</li>
                <li class=" " >Other areas identified as our partnership develops</li>
              </ul>
            </ul>
            <p></p>
            <ul>To ensure anyone who is sleeping rough is treated with respect and dignity, has their rights protected and a voice in decisions and their services.</ul>
            <ul>To ensure anyone who is homeless is treated with respect and dignity, has their rights protected and a voice in decisions and their services.</ul>
            </ul>

            &nbsp
            <h2 class="h2">Our Values Are:</h2>
            <ul>Whilst rough sleeping & begging remains this charter provides the guiding principles on the rights of people who are sleeping rough, or are at risk of doing so, and of our shared commitment to work together to protect them and these rights.</ul>

            &nbsp
            <h2 class="h2">Our Beliefs Are:</h2>
            <ul>Rough sleeping and begging is unacceptable in our city and is harmful to individuals and society, should not need to happen and can be prevented or avoided if we work collectively together.</ul>
            <ul>It is our shared responsibility to ensure scarce resources are used most effectively through good communication, co-ordination and a consistent approach delivered across all services.</ul>
            <ul>That our shared delivery standards should follow safe practices around safeguarding homeless people and volunteers as well as good practice around fundraising and service delivery.</ul>
            <ul>If you share our vision you should demonstrate your support and take some practical steps to help. This might be by pledging to share your skills or resources for the benefit of people sleeping rough, or to join an action group to work in partnership to change how rough sleeping and begging is tackled in Southampton or by promoting awareness of activities related to the Charter and those supporting it.</ul>
            <ul>Safety from violence, abuse, theft and discrimination and the full protection of the law.</ul>
            <ul>Respect and a good standard of service everywhere.</ul>
            <ul>Equality of access to information and services.</ul>
            <ul>Equality of opportunity to employment, training, volunteering, creative and leisure activities.</ul>
            <ul>Participate and be involved in finding solutions to their own issues, to homelessness and wider society concerns</ul>
            <p>

            &nbsp
            <h2 class="h2">Our Principles Are:</h2>
            <ul>People are safer and healthier off the streets – <em>Rough sleeping is harmful to individuals and communities so we will focus our effort on helping people to access support and accommodation away from the streets.</em></ul>
            <ul>Rough Sleepers need shelter and support – <em>our response needs to be holistic to include housing, support, health care and meaningful activity.</em></ul>
            <ul>Lived experience matters – <em>people who sleep rough and those with lived experience must be part of and help form solutions. Coproduction and co design are central to developing and delivering responsive, person centred services</em></ul>
            <ul>Everyone can help – <em>individuals and organisations can all help and make a positive contribution. We need to harness and build on our strengths and collective assets</em></ul>
            <ul>We can do better together – <em>all parties, including those not currently involved, should work together in a co-ordinated and co-operative way to take practical actions to deliver this vision</em></ul>
            <ul>We have shared goals but different approaches and toolkits - <em>this may lead to different methods in some circumstances and therefore all partners may not be able to support all endeavours but do commit not to work contrary to any shared endeavours.</em></ul>
            <ul>Small change should deliver big and lasting change - <em>giving money or goods to individuals directly can be unhelpful and may cause more harm than good. It is better to donate to organisations working with homeless people to improve their lives and choices and we should make this easier to do through alternative giving schemes and focused support offers.</em></ul>
            <ul>We are deliberately focusing our efforts initially on tackling rough sleeping which we recognise as the most visible end of the spectrum of homelessness which also incorporates other manifestations including sofa surfing, insecure tenancies and substandard accommodation - <em>however, we recognise that all forms of homelessness need addressing in the long term if everyone in Southampton is to have a safe and secure home to call their own.</em></ul>

            &nbsp
            <h2 class="h2">We Pledge To:</h2>
            <ul>Sign up to this Charter, to take action and uphold its aims, values and principles.</ul>
            <ul>Take specific actions to do something new, or additional, to help tackle rough sleeping and begging in Southampton and to put a timescale and review date attached to these in order to review and maintain to our progress.</ul>
            <ul>Create more bed spaces and creative finance options to secure property.</ul>
            <ul>Develop and implement this charter.</ul>
            <ul>Co-ordination of practical support and help.</ul>
            <ul>Develop alternative giving options.</ul>

    {{> divider }}

    <div class="block">
      <div class="container">
        <h1 class="h1 block__header">Join the Charter or Make a Pledge</h1>
      </div>

    <div class="block">
      <div class="container">
        <div class="block__content">
          <h2 class="h2">Pledges Could Include:</h2>
            <ul>Financial contributions or in kind offers of resources such as volunteers, products, skills or expertise.</ul>
            <ul>Giving time as a volunteer or mentor to help support people who are sleeping rough or have been homeless.</ul>
            <ul>Offering work experience, training or entry level jobs to people who are or have been sleeping rough or homeless.</ul>
            <ul>Offering accommodation units to organisations supporting and housing homeless people.</ul>
            <ul>Promoting greater public and staff awareness of the shared city actions under this Charter to tackle the issues collectively and of the realities of rough sleeping, begging and wider homelessness in the city and the differences between these issues.</ul>
            <ul>Joining one of the working groups set up to look at and take action on key priority areas identified as presenting the greatest problems for people who are sleeping rough. These are currently around:</ul>

            <ul>
              <ul>
                <li class=" " >Creating more bed spaces and creative finance options to secure property</li>
                <li class=" " >Developing and implementing this charter</li>
                <li class=" " >Coordination of support and practical help</li>
                <li class=" " >Developing an alternative giving options</li>
              </ul>
            </ul>

            <p>To take forward your pledges or become involved further please use the contact form.<p/>
              <a href="/southampton/charter" class="btn btn--brand-d btn--in-copy">
                <span class="btn__text">Join the Charter</span>
              </a>
            <p>Or</p>
            <a href="/southampton/charter" class="btn btn--brand-d btn--in-copy">
              <span class="btn__text">Make a Pledge</span>
            </a>
            &nbsp
          {{> divider }}


          <div class="block">
            <div class="container">
              <h1 class="h1 block__header">More About the Charter</h1>
            </div>

          <div class="block">
            <div class="container">
              <div class="block__content">
                <p>This charter was presented for initial agreement and sign up by local people and organisations on - 24th Sept 2018 at Central Baptist Church Hall, Devonshire Rd, Southampton.</p>
                <p>Oversight of this Charter, and its ongoing implementation when adopted, will rest with the multiagency steering group comprised of the following agencies:</P>
                  <ul>
                    <li class=" " >Love Southampton</li>
                    <li class=" " >Southampton Voluntary Services</li>
                    <li class=" " >Southampton City Council</li>
                    <li class=" " >Go Southampton</li>
                  </ul>
                <p>This oversight will take place under the overarching support of <a href="http://www.southampton-connect.com/" target="_blank" >Southampton Connect</a>, the city's key local strategic partnership.</p>
                <p><b>Together we can, and will, make the difference.</b></p>

            {{> divider }}
            <h2 class="h2">Information Quality</h2>
            <p>Please note, all information is provided by organisations in the network, so while we make every effort to ensure it
              is kept up to date, we can't always guarantee the accuracy of information that is entered by third parties. Please
              <a href="/about/contact">get in touch</a> if you spot anything that is incorrect or missing.</p>
            <a href="/about/contact" class="btn btn--brand-d">
              <span class="btn__text">Tell us about an issue</span>
            </a>

          </div>
          {{> divider }}

          <div class="block__content">
            <h2 class="h2">Find out more</h2>
            <p>You can find out more about our progress on our
              <a href="https://www.facebook.com/streetsupport/">Facebook page</a>,
              <a href="https://twitter.com/streetsupportuk">on Twitter</a>, or you can
              <a href="http://streetsupport.us12.list-manage1.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=52ba96f2af">subscribe to our newsletter</a>.</p>

            {{> social-share}}
          </div>
        </div>
      </div>
