<li class="nav__item nav__item--hub-nav" data-city="cambridgeshire">
  <dl class="hub-nav-container">
    <dt data-city="cambridgeshire" class="nav__item nav__item--cambridgeshire">
      <a href="/cambridgeshire/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">cambridgeshire</a>
    </dt>
    <dd>
      <ul>
        <li data-city="cambridgeshire" class="nav__item nav__item--cambridgeshire-advice">
          <a href="/cambridgeshire/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
        <li data-city="cambridgeshire" class="nav__item nav__item--cambridgeshire-advice">
          <a href="/cambridgeshire/it-takes-a-city" class="nav__item-link nav__item-link--location-item">It Takes a City</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
