---
title: Emergency Homeless Help in Tameside - Street Support
description: Street support makes it easier to help homeless people in Tameside. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-tameside.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: tameside
page: tameside-advice
location: tameside
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/tameside/">Tameside</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="tameside" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <a name="council-info"></a>
      <h2 class="h2">Support from Tameside Council</h2>
      <p>To tell Tameside council you are homeless, or if you see someone sleeping rough in Tameside:</p>
      <ul>
        <li>Visit Tameside council town hall</li>
        <li>Call Tameside Housing Advice on <a href="tel:01613312700">0161 331 2700</a> (Mon-Thu 9am-5pm, Fri 10am-4pm)</li>
        <li>Out of hours in an emergency call <a href="tel:01613312888">0161 331 2888</a></li>
        <li>Email <a href="mailto:info@tamesidehousingadvice.org">info@tamesidehousingadvice.org</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During periods of severe cold weather, when forecast to fall to zero degrees or below, additional emergency accommodation is provided by the council. The usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status.</p>
      <p>To establish whether or not emergency provision is available in Tameside, ring Tameside Housing Advice and They will make the accommodation placement on a night by night basis and ask the person to return the next day. If the weather is forecast to below zero degrees Celsius the next night the accommodation will be rebooked.</p>
      <ul>
        <li>Between 9am-3pm: <a href="tel:01613312700">0161 331 2700</a></li>
        <li>Out of hours: <a href="tel:01613312700">0161 331 2700</a> or <a href="tel:01613312888">0161 331 2888</a></li>
      </ul>
      <p>The council works in partnership with local organisations and housing providers to make this additional accommodation available and will endeavour to find a placement within the borough. However in some instances local accommodation may not be available and a placement may have to be offered outside the Tameside area.</p>

      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping and helping them to get inside if possible. Each individual is assessed so that appropriate accommodation can be found based on their needs.</p>

      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Read more about SWEP</span>
      </a>

      {{> social-share}}
    </div>
  </div>
</div>