---
title: Street Support Families - Supporting families facing homelessness
description: Street Support - Find help, and give help, to support families who are homeless
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: families-landing-page
section: families
page: families
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/find-help/advice">Advice</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/families">Families</a>
      </li>
      <!-- ko if: currentParentScenario -->
      <li class="breadcrumbs__item" data-bind="with: currentParentScenario">
        <a data-bind="text: title, attr: { 'data-id': id, 'href': '/families?parentScenarioId=' + id() }"></a>
      </li>
      <!-- /ko -->
    </ol>
  </div>
</div>

{{> families/header-families }}

<div class="container container-families">
    {{> social-share}}
</div>

<div class="block block-families">
  <div class="container">

    <div class="container-families__content">         
      <!-- ko if: hasParentScenarios && !currentParentScenario() -->
      <p class="h2 container-families__header-result">Advice by situation</p>   
      <div class="block__content container-families__content-result" data-bind="foreach: parentScenarios">
        <div class="h3 accordion__header" data-bind="click: changeParentScenarioOnSearchResult"> 
          <span class="accordion--advice__title" data-bind="html: (title().length > 45 ? title().substring(0, 44) + '...' : title)"></span>
          <p class="accordion--families__short-description" data-bind="text: (body().length > 30 ? body().substring(0, 29) + '...' : body)"></p>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko if: hasAdvice && currentParentScenario -->
      <p class="h2 container-advice__header-result" data-bind="text: currentParentScenario().title()">Advice by situation</p>   
      <div class="block__content container-families__content-result" data-bind="foreach: adviceByParentScenario">
        <div class="h3 accordion__header full-width" data-bind="click: $parent.redirectToAdvice"> 
          <span class="accordion--advice__title" data-bind="html: title"></span>
        </div>
      </div>
      <!-- /ko -->
    </div>
    
    <div class="container-families__content">      
      <!-- ko if: hasGuides -->
      <p class="h2 container-families__header-guides">Guides for organisations</p>   
      <ul class="container-families__content--guides" data-bind="foreach: guides">
        <li class="container-families__content--guides__item">
          <a class="h3" data-bind="text: title, attr: { 'href': '/families/guides?id=' + id() }"></a>
        </li>
      </ul>
      <!-- /ko -->
    </div>

  </div>
</div>

{{> divider }}
{{> families/useful-resources }}
{{> loading-spinner}}
