---
title: Greater Manchester Homelessness Donation Requests - Street Support Network
description: What's needed to help people facing homelessness in Greater Manchester this winter.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: gm-offer-items
section: about
page: about
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item"><a href="/greater-manchester-winter-provision">Greater Manchester</a></li>
      <li class="breadcrumbs__item">Donate Needed Items</li>
    </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">What is needed in Greater Manchester?</h1>
  </div>
</div>

<div class="block">
  <div class="container">

    <div class="block__content">

      <h2 class="h2">What is needed in Greater Manchester?</h2>
      <p>To provide a Bed Every Night this winter in Greater Manchester, we need businesses and individuals to donate both money and items to enable us to put on extra accommodation across GM. Below are the current list of items needed. If you have anything relevant to offer, please do so through our <a href="/give-help/offer-items/">simple offers form</a> and someone will be in touch with you soon to arrange delivery or collection.</p>

      <ul>
        <li><b>Catering</b>: Plates, cups, cutlery, breakfast bowls, containers for coffee/tea/sugar, bins inc smoking ends bins, tin openers, milk, tea, coffee, sugar, biscuits, cereal, pot noodles, microwave food, bread, butter, jams, tinned food, soup, sweets, kitchen towel, tea towels, squash/juice</li>
        <li><b>Electrics</b>: microwaves, kettles, radio, tv, toasters, fridge, freezer, lamps</li>
        <li><b>Stationary</b>: paper, pens, day book, diary, staplers, files, plastic A4 wallets, stickers/labels, plastic boxes for belongings</li>
        <li><b>Toiletries</b>: toilet roll, hand wash, toilet brushes, paper hand towels, air freshener, shaving foam, deodorant, tooth paste, tooth brushes, shower gel, shampoo, razers, towels, hair brushes/combs, sanitary towels</li>
        <li><b>Cleaning</b>: mops, cloths, buckets, cleaning liquid, hand sanitisers, washing up liquid, washing up bowls, brushes, hoover, washing powder, bin bags, dust pans</li>
        <li><b>Furniture</b>: chairs, sofas, tables</li>
        <li><b>Medical</b>: first aid, needle box, needle gloves, needle grabbers, body fluid spillage kit, latex gloves, hoover</li>
        <li><b>Pets</b>: bowls, food, chipping, leads, blankets, flea treatment, toys</li>
        <li><b>Bedding</b>: Flame retardent bed bases, pillows, duvets, duvet covers, fitted sheets, pillow covers</li>
        <li><b>Admin support</b>: computers, printer, scanner, internet access, phones and chargers, locked cabinet, support staff, security staff</li>
        <li><b>Contracts</b>: laundry, cleaning, bins, sanitary bins, needle box deposals, TV/public licence, fire equipment, legionella, asbestos survey, electrical certificate, gas safety certificate, pat testing of existing equipment, confidential waste disposal, personal alarms, pest control, use of vans for delivery</li>
        <li><b>Clothing</b>: hats, gloves, scarves, trousers (small/medium), underwear, socks</li>
      </ul>

      <p>We are in the process of creating central donation points in each borough, so please let us know what you can offer and we will be in touch with more details.</p>
      <p>Please offer what you can through our <a href="/give-help/offer-items/">simple offers form</a> and someone will be in touch with you soon to arrange delivery or collection.</p>

    </div>
  </div>
</div>

{{> give-help/offer-items }}
