---
title: Donate money to the Big Change Fund - Street Support
description: Street support makes it easier to help homeless people. Donate money via the Big Change Fund.
layout: default.hbs
permalink: false
jsBundle: generic
section: givehelp
page: donate
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Donate</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header has-icon--left">
      <svg class="block__header__icon block__header__icon--big-change"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#big-change--small"></use></svg>
      Donate
    </h1>
    <h2 class="h2 block__sub-header">Help individuals via the Big Change fund</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <p>Big Change Manchester aims to help rough sleepers get off and stay off the streets.</p>
        <p>A group of charities and organisations has teamed up to create a special ‘essentials’ fund which is used to provide homeless people with practical items they need to build new lives off the streets.</p>
        <p>The campaign encourages people who live in, work in and visit the city centre to donate money to the fund if they want to help rough sleepers, rather than give money to people who are begging.</p>

        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
        <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="display-block">
          <figure class="logo">
            <img src="../../assets/img/justgiving.png" alt="Just Giving" />
          </figure>
        </a>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">Where will my money go?</h2>
        <p>Money donated to the fund is distributed to individuals who are homeless - paying for deposits, training courses, clothes for a job interview, furnishing a new flat, purchasing crockery, pots and pans and bed linen, and transport to travel to new accommodation.</p>
      </div>

      <div class="block__section">
        <h2 class="h2 text-center--s">If you gave &pound;1&hellip;</h2>
        <div class="figure--donate-chart">
          <figure>
            <img src="../../assets/img/donate-graph--1.png" alt="5%" />
            <figcaption>Just Giving<span class="hide-screen"> takes 5%</span></figcaption>
          </figure>
          <figure>
            <img src="../../assets/img/donate-graph--2.png" alt="10%" />
            <figcaption>Forever Manchester<span class="hide-screen"> takes 10%</span></figcaption>
          </figure>
          <figure>
            <img src="../../assets/img/donate-graph--3.png" alt="85%" />
            <figcaption>Individual<span class="hide-screen"> gets 85%</span></figcaption>
          </figure>
        </div>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Under &pound;100</h3>
            <ul class="list-unstyled">
              <li>Furniture or small househould items</li>
              <li>Education and training courses</li>
              <li>Travel costs</li>
              <li>Clothes for interviews</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>Requested by online application (details TODO)</p>
          </div>
        </article>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Over &pound;100</h3>
            <ul class="list-unstyled">
              <li>White goods over &pound;100</li>
              <li>Furnishings for a flat such as: Bed, Sofa, TV</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>Agreed by small panel Coalition (details TODO)</p>
          </div>
        </article>
      </div>

      <div class="block__section">
        <h2 class="h2">Why is this better than giving money on the streets?</h2>
        <p>Those who provide support to rough sleepers advise that giving money to people who are begging isn't an effective way to help people move away from the streets. By giving money via this network of experts, you can be sure that your donation will go directly to meet the needs of individuals that really need it.</p>

        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
        <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="display-block">
          <figure class="logo">
            <img src="../../assets/img/justgiving.png" alt="Just Giving" />
          </figure>
        </a>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">What other projects could I donate to?</h2>
        <p>There are many amazing organisations in Manchester supporting people who are homeless, and many of them rely on donations to keep going. You can find out about all the charities and grassroots groups on our <a href="/find-help/all-service-providers/">organisations list</a>.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <div class="grid--2-of-3--m">
          <h2 class="h2">What else can I do to help?</h2>
          <p>You could also <a href="/give-items/">respond to things that organisations currently need</a>, <a href="/volunteer/">volunteer your time</a>, <a href="/sponsor/">sponsor Street Support</a>, or <a href="/find-help/">learn more about local services</a>.</p>
        </div>

        <div class="grid--1-of-3--m">
          {{>cta brand="e" link="/give-help/give-items/" btnClass="cta--centered" icon="give" name="Find out how you can help" noWrapper="true"}}
        </div>
      </div>

      <div class="block__section">
        <p class="text-center"><a href="#" class="back-top">Back to top</a></p>
      </div>
    </div>
  </div>
</div>
