---
title: Donate money to the Big Change Fund - Street Support
description: Street support makes it easier to help homeless people. Donate money via the Big Change Fund.
layout: default.hbs
permalink: false
jsBundle: generic
section: givehelp
page: donate
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Donate</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Donate</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What is The Big Change Fund?</h2>
      <p>Big Change Manchester aims to help rough sleepers get off – and stay off – the streets.</p>
      <p>A group of charities and organisations has teamed up to create a special ‘Essential’ fund which will be used to provide homeless people with practical items they need to build new lives off the streets.</p>
      <p>The campaign is urging people who live in, work in and visit the city centre to donate money to the fund if they want to help rough sleepers, rather than give money directly to people who are begging on the street.</p>

      <p class="text-center">
        <a class="btn btn--brand-e" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr">
          <span class="btn__text">Donate to Big Change</span>
        </a>
      </p>
      <figure class="text-center">
        <img src="../../assets/img/justgiving.png" alt="Just Giving" />
      </figure>

      <h2 class="h2 text-center">Where will my money go?</h2>
      <p>Money donated to the fund is distributed to individuals who are homeless - paying for deposits, training courses, clothes for a job interview, furnishing a new flat, purchasing crockery, pots and pans and bed linen, and transport to travel to new accommodation.</p>
      <h2 class="h2 text-center">If you gave &pound;1&hellip;</h2>
      <figure>
        <img src="../../assets/img/graph_TODO_improve.png" alt="" />
      </figure>

      <article class="card card--donate">
        <div class="card__details">
          <h3 class="card__title">Under &pound;100</h3>
          <ul class="list-unstyled">
            <li>Furniture or small househould etc</li>
            <li>Educational/training courses</li>
            <li>Special travel costs</li>
            <li>Clothes</li>
          </ul>
        </div>
        <div class="card__footer">
          <p>Requested by online application</p>
        </div>
      </article>

      <article class="card card--donate">
        <div class="card__details">
          <h3 class="card__title">Over &pound;100</h3>
          <ul class="list-unstyled">
            <li>White goods over &pound;100</li>
            <li>Furnishings for a flat such as: Bed, Sofa, TV</li>
          </ul>
        </div>
        <div class="card__footer">
          <p>Agreed by small panel Coalition</p>
        </div>
      </article>

      <h2 class="h2">Why is this better than giving money on the streets?</h2>
      <p>Those who provide support to rough sleepers advise that giving money to people who are begging isn't an effective way to support them to move them away from the streets. By giving money via this network of experts, you can be sure that your donation will go directly to meet genuine needs, and make a real difference. To address the complicated range of problems which made them homeless, including mental health issues and drug and alcohol addiction, people experiencing homelessness need long term support.</p>

      <p class="text-center">
        <a class="btn btn--brand-e" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr">
          <span class="btn__text">Donate to Big Change</span>
        </a>
      </p>
      <figure class="text-center">
        <img src="../../assets/img/justgiving.png" alt="Just Giving" />
      </figure>

      <h2 class="h2">What other projects could I donate to?</h2>
      <p>There are many fantastic charities in Manchester providing support to homeless people. You can find out more about all these charities and grassroots groups on our <a href="/find-help/all-service-providers/">organisations list</a>. Here are just a few examples of organisations that currently need donations to run their services: <a href="http://www.boothcentre.org.uk/donate.html">The Booth Centre</a>, <a href="http://www.mustardtree.org.uk/donate/donate-money/">Mustard Tree</a>, <a href="http://www.cornerstonecds.org.uk/online-donation">Cornerstone</a>.</p>

      <h2 class="h2">What else can i do to help?</h2>
      <p>You could also <a href="/volunteer/">volunteer your time</a>, <a href="/give-items/">respond to things that organisations need</a>, <a href="/sponsor/">support Street Support</a>, and <a href="/find-help/">learn more about local services</a>.</p>

      <p>Charities and voluntary groups are looking for people to help out with specific time, items and money all over Manchester. Or sign up to our <a href="/give-help/volunteer">volunteer list</a> for us to contact you when something comes up.</p>

      {{>cta brand="e" link="give-items/" icon="give" name="Find out how you can help"}}

      <p class="text-center"><a href="#" class="back-top">Back to top</a></p>
    </div>
  </div>
</div>
