---
title: Donate to BigChangeMCR - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: generic
section: givehelp
page: donate
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Donate</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Donate</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What is the Big Change campaign?</h2>
      <p>A coalition of Manchester charities and voluntary groups have teamed up to create a fund that provides homeless people with practical items they need, so they can build new lives off the streets.</p>
      <p>This network of relief services works together to provide sustainable, long-term solutions to homelessness - supporting people to manage a tenancy agreement, furnish a new home, manage income and expenditure, and build a positive, productive life in the community.</p>
      <a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to the Big Change campaign</span></a>

      <h2 class="h2">Where will my money go?</h2>
      <p>All money donated to the fund will be used to meet the needs of individuals who are homeless - help with deposits, training courses, clothes for a job interview, furnishing a new flat, purchasing crockery, pots and pans and bed linen, and transport to travel to new accommodation.</p>
      <p>Just Giving charge a 5% admin fee, and Forever Manchester charge 10% to manage the fund, the rest goes directly to meet the needs of individuals experiencing homelessness.</p>

      <h2 class="h2">Why is this better than giving directly?</h2>
      <p>Those who provide support to rough sleepers know that giving money to people who are begging doesn't support them to move them away from the streets. To address the complicated range of problems which made them homeless, including mental health issues and drug and alcohol addiction, they need long term support.</p>
      <p>By giving money via this network of experts, you can be sure that your donation will go directly to meet genuine needs, and make a real difference.</p>

      <h2 class="h2">What else can i do to help?</h2>
      <p>This section of the site is work in progress, and we will add other ways to donate in the coming weeks. In the meantime, you could <a href="/volunteer/">volunteer</a>, <a href="/give-items/">offer things that organisations need</a>, <a href="/sponsor/">sponsor Street Support</a>, or <a href="/find-help/">find out more about local services</a>.</p>

      <a class="btn btn--brand-d" href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr"><span class="btn__text">Donate to The Big Change campaign</span></a>
      {{> social-share}}
    </div>
  </div>
</div>
