---
title: Donate money to the Big Change Fund - Street Support
description: Street support makes it easier to help homeless people. Donate money via the Big Change Fund.
layout: default.hbs
permalink: false
jsBundle: generic
section: givehelp
page: donate
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Donate</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header has-icon--left">
      <svg class="block__header__icon block__header__icon--big-change"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#big-change--small"></use></svg>
      Donate
    </h1>
    <h2 class="h2 block__sub-header">Help individuals via the Big Change fund</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <p>The aim of the Big Change fund is to help people move on from living on the street, and into long term support.</p>
        <p>A group of charities and organisations has teamed up to create a central fund which is used to provide homeless people with practical items they need to build new lives off the streets. The campaign encourages people who live in, work in or visit the city centre to donate money to the fund to help rough sleepers get off the streets, rather than giving money to people who are begging.</p>

        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
        <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="display-block">
          <figure class="logo">
            <img src="../../assets/img/justgiving.png" alt="Just Giving" />
          </figure>
        </a>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">Where will my money go?</h2>
        <p>Money donated to the fund is distributed to individuals who are homeless - paying for deposits, training courses, clothes for a job interview, furnishing a new flat, purchasing crockery, pots and pans and bed linen, and transport to travel to new accommodation.</p>
      </div>

      <div class="block__section">
        <h2 class="h2 text-center--s">If you gave &pound;1&hellip;</h2>
        <div class="figure--donate-chart">
          <figure>
            <img src="../../assets/img/donate-graph--1.png" alt="5%" />
            <figcaption>Just Giving<span class="hide-screen"> takes 5%</span></figcaption>
          </figure>
          <figure>
            <img src="../../assets/img/donate-graph--2.png" alt="10%" />
            <figcaption>Forever Manchester<span class="hide-screen"> takes 10%</span></figcaption>
          </figure>
          <figure>
            <img src="../../assets/img/donate-graph--3.png" alt="85%" />
            <figcaption>Individual<span class="hide-screen"> gets 85%</span></figcaption>
          </figure>
        </div>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Under &pound;100</h3>
            <ul class="list-unstyled">
              <li>Education or training courses</li>
              <li>Furniture or househould items</li>
              <li>Clothes for interviews</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>Requested by online application.</p>
            <p>Agencies can claim for less expensive items that an individual needs through an online form.</p>
            <p>This excludes cash, emergency accommodation, food or other items which can be accessed elsewhere for free.</p>
          </div>
        </article>

        <article class="card card--donate">
          <div class="card__details">
            <h3 class="card__title">Over &pound;100</h3>
            <ul class="list-unstyled">
              <li>Deposit or rent</p>
              <li>Furnishings for a flat</li>
              <li>White goods over &pound;100</li>
            </ul>
          </div>
          <div class="card__footer">
            <p>Agreed by the Big Change panel.</p>
            <p>Applications are reviewed by a panel made up of one representative from an established organisation, two representatives from COR member organisations, one ex-rough sleeper in long-term support; and one representative from CityCo.</p>
          </div>
        </article>
      </div>

      <div class="block__section">
        <h2 class="h2">Why is this better than giving money on the streets?</h2>
        <p>By giving money through this fund, you can be sure that your donation will go to meeting the needs of individuals that need it, and really make a difference.</p>

        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
        <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="display-block">
          <figure class="logo">
            <img src="../../assets/img/justgiving.png" alt="Just Giving" />
          </figure>
        </a>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">How can I find out more?</h2>
        <p>The aim of the Big Change fund is to help people move on from living on the street, and into long term support. You can find out more about how the fund works and the agencies involved on the Big Change Manchester information page.</p>
        <p>You can also find the latest updates on how Big Change is doing and who has been helped in the <a href="http://news.streetsupport.net/tag/big-change-mcr/">News section</a>.</p>

        <a href="/give-help/donate/big-change-mcr/" class="btn btn--brand-e btn--full">
          <span class="btn__text">Find out more about Big Change</span>
        </a>        
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <div class="grid--2-of-3--m">
          <h2 class="h2">What else can I do to help?</h2>
          <p>There are many fantastic charities and grassroots groups in Manchester supporting people who are homeless, and many of them rely on donations to keep going. You can find out about all them on our <a href="/find-help/all-service-providers/">organisations list</a>.</p>
          <p>You could also <a href="/give-help/help/">respond to things that organisations currently need</a>, <a href="/volunteer/">volunteer your time</a>, <a href="/sponsor/">sponsor Street Support</a>, or <a href="/find-help/">learn more about local services</a>.</p>
        </div>

        <div class="grid--1-of-3--m">
          {{>cta brand="e" link="/give-help/help/" btnClass="cta--centered" icon="give" name="Find out how you can help" noWrapper="true"}}
        </div>
      </div>

      <div class="block__section">
        <p class="text-center"><a href="#" class="back-top">Back to top</a></p>
      </div>
    </div>
  </div>
</div>
