<li class="nav__item nav__item--hub-nav" data-city="wakefield">
  <dl class="hub-nav-container">
    <dt data-city="wakefield" class="nav__item nav__item--wakefield">
      <a href="/wakefield/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Wakefield, Castleford &amp; Pontefract</a>
    </dt>
    <dd>
      <ul>
        <li data-city="wakefield" class="nav__item nav__item--wakefield-advice">
          <a href="/wakefield/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
