---
title: Privacy Policy - Street Support
description: Learn how Street Support tracks you and what is uses this data for
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: privacy-policy
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Privacy Policy</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Privacy Policy</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Like millions of other websites, Street Support uses Google Analytics to help us see which areas of the site our visitors are using. From this information, we can make informed choices on how to improve the site.</p>
      <h2 class="h2">What does Google Analytics record?</h2>
      <ul>
        <li>What website you came from to get here.</li>
        <li>How long you stay for.</li>
        <li>What kind of computer you're using.</li>
        <li>And quite a bit more.</li>
      </ul>
      <h2 class="h2">What do we do with your data?</h2>
      <p>The tracking information allows us to better understand the kind of people who come to the site, and what content they're reading. This allows us to make better decisions on the areas that may need more research and content.</p>
      <p>Occasionally, we will compile aggregate statistics about the number of visitors this site receives and browsers being used. No personally identifying data is included in this type of reporting.</p>
      <p>All of our activity falls within the bounds of the <a href="https://www.google.com/analytics/terms/us.html">Google Analytics Terms of Service</a>.</p>
      <h2 class="h2">I don't want to tracked</h2>
      <p>If you would prefer not to provide this data, you can <a href="https://www.google.com/policies/technologies/ads/">opt out of Google’s advertising tracking cookie</a> or use a <a href="https://tools.google.com/dlpage/gaoptout?hl=en">browser plugin to opt out of all Google Analytics tracking software</p>.</p>
    </div>
  </div>
</div>
