---
title: Privacy Policy - Street Support
description: Learn how Street Support tracks you and what is uses this data for
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: privacy-policy
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">Privacy Policy</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Privacy Policy</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Your privacy matters to us. This policy sets out how we use and protect any information that you provide when you contact
        us or when you interact with this website. This policy is effective from May 2018.</p>

      <h2 class="h2">Data Processing and Security</h2>

      <p>We keep the personal information you provide in order to process your requests and bring you services that may be of
        interest to you.</p>

      <p>We value your information and privacy, and take every measure to keep this confidential and secure. Your personal information
        is stored in secure hosting. </p>

      <p>You can rest assured that all communication between your browser and our website is hosted in a secure UK based data
        centre and the software used is kept up-to-date. When we send email updates, we use MailChimp, and only include you
        in mailing lists if you have given specific consent.</p>

      <h2 class="h2">Retention period for personal data</h2>

      <p>The personal information your provide is retained for a reasonable period or for as long as the law requires or permits.</p>

      <h2 class="h2">Updates</h2>

      <p>You can <a href="https://streetsupport.us12.list-manage.com/subscribe?u=da9a1d4bb2b1a69a981456972&id=c966413ba3">subscribe</a> to our mailing lists through the site, or unsubscribe any time simply by pressing the unsubscribe
        link in any email. If you have any issues or questions, please contact us.</p>

      <h2 class="h2">Links to Third Party Sites</h2>

      <p>This website contains links to other websites (“Third Party Sites”). We are not responsible for the privacy practices
        of these other sites. If you follow a link and leave this website it’s advisable to read the privacy statements of
        any website that collects personally identifiable information.</p>

      <h2 class="h2">Cookies</h2>

      <p>Like all websites, this site uses cookies. These track use of the site and give you the best user experience. A cookie
        is a small file, which asks for permission to be placed on your computer hard drive. You can turn off cookies and
        any website tracking within your web browser by going to internet options – privacy.</p>

      <h2 class="h2">What we will not do with your information</h2>

      <p>Your information will not be sold, reused, rented or disclosed to unspecified third parties.</p>

      <h2 class="h2">Your Rights</h2>

      <p>You are entitled to see any information held about you and may request any necessary changes to ensure that it is accurate
        and kept up-to-date. Please contact us at
        <a href="mailto:admin@streetsupport.net">admin@streetsupport.net</a>.</p>

      <h2 class="h2">Breach of Privacy</h2>

      <p>If for any reason you believe that your privacy has been breached through the use of this site, please let us know
        immediately by emailing
        <a href="mailto:admin@streetsupport.net">admin@streetsupport.net</a>, and we will promptly determine and correct the problem.</p>


      <h2 class="h2">Policy updates</h2>

      <p>We will keep this policy up to date. Please contact me if want to discuss any information contained here.</p>

      <h2 class="h2">Usage tracking</h2>

      <p>Like millions of other websites, Street Support uses Google Analytics to help us see which areas of the site our visitors
        are using. From this information, we can make informed choices on how to improve the site.</p>

      <h3 class="h3">What does Google Analytics record?</h3>
      <ul>
        <li>What website you came from to get here.</li>
        <li>How long you stay for.</li>
        <li>What kind of computer you're using.</li>
        <li>And quite a bit more.</li>
      </ul>
      <h3 class="h3">What do we do with your data?</h3>
      <p>The tracking information allows us to better understand the kind of people who come to the site, and what content they're
        reading. This allows us to make better decisions on the areas that may need more research and content.</p>
      <p>Occasionally, we will compile aggregate statistics about the number of visitors this site receives and browsers being
        used. No personally identifying data is included in this type of reporting.</p>
      <p>All of our activity falls within the bounds of the
        <a href="https://www.google.com/analytics/terms/us.html">Google Analytics Terms of Service</a>.</p>
      <h3 class="h3">I don't want to tracked</h3>
      <p>If you would prefer not to provide this data, you can
        <a href="https://www.google.com/policies/technologies/ads/">opt out of Google’s advertising tracking cookie</a> or use a
        <a href="https://tools.google.com/dlpage/gaoptout?hl=en">browser plugin to opt out of all Google Analytics tracking software</a>.</p>
    </div>
  </div>
</div>
