---
title: Requests for Help - Street Support
description: Organisations need specific items, skills and money to support people facing homelessness - can you help?
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: requestDetails
section: givehelp
page: giveitems
---
<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Help</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="requests-detail js-card-detail template active">
  <div id="js-card-detail-output">
    {{> loading-spinner}}
  </div>
</div>

<script id="js-card-not-found-tpl" type="text/template">
  <section class="block block--header">
    <div class="container block__inner">
      <h1 class="h1 block__header requests__title">
        <svg class="requests__title__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#give"></use>
        </svg>
        Help
      </h1>
      <div class="block__content">
        <p>Sorry, that Need can not be found - it may have been already fulfilled!</P>
        <button class="js-card-back btn btn--brand-e">
          <span class="btn__text">View other Needs</span>
        </button>
      </div>
    </div>
  </section>
</script>

<script id="js-card-detail-tpl" type="text/template">
  {{> need-detail }}
</script>
