---
title: Street Support Families - Supporting families facing homelessness
description: Street Support - Find help, and give help, to support families who are homeless
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: families-advice
section: families
page: families-advice
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">Advice</li>
      <li class="breadcrumbs__item">
        <a href="/families">Families</a>
      </li>
      <!-- ko if: currentParentScenario -->
      <li class="breadcrumbs__item" data-bind="with: currentParentScenario">
        <a data-bind="text: title, attr: { 'data-id': id, 'href': '/families/advice?parentScenarioId=' + id() }"></a>
      </li>
      <!-- /ko -->
      <!-- ko if: currentAdvice() && !currentAdvice().isParentScenario() -->
      <li class="breadcrumbs__item" data-bind="with: currentAdvice">
        <a href="/" data-bind="text: title"></a>
      </li>
      <!-- /ko -->
    </ol>
  </div>
</div>

<div class="block block--location-header location-header">
  <div class="container">
    <div class="container-advice__content">
      <h1 class="h1 block__header">Advice for families facing homelessness</h1>
    </div>
    <div class="container-advice__content">
      {{> families/search-family-advice }}
    </div>
  </div>
</div>

<div class="container container-advice">
    {{> social-share}}
</div>

<div class="block block-advice">
  <div class="container">

    {{> families/filter-family-advice }}
    
    <div class="container-advice__content">      
      <!-- ko if: currentAdvice -->
      <div class="block__content" data-bind="with: currentAdvice">
        <h1 class="h1" data-bind="text: title"></h1>
        <p class="block__content--advice" data-bind="text: body"></p>
      </div>
      <!-- /ko -->

      {{> divider }}
      {{> families/frequently-asked-questions }}
    </div>

  </div>
</div>

{{> divider }}
{{> families/useful-resources }}
{{> loading-spinner}}
