---
title: Severe Weather Emergency Accommodation in Wolverhampton - Street Support
description: Severe Weather Emergency Accommodation provision in Wolverhampton.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: wolverhampton
page: wolverhampton-advice
location: wolverhampton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/wolverhampton/">Wolverhampton</a></li>
      <li class="breadcrumbs__item"><a href="/wolverhampton/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="wolverhampton" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils.</p>
      <p>This provision is made in addition to the usual offers of accommodation and support that are available in Wolverhampton.</p>
      <p>You can present at P3’s Navigator (43 School Street, Wolverhampton WV1 4LR) or call <a href="tel:0800 107 6753">0800 107 6753</a> if you are a rough sleeper or at risk of rough sleeping.</p>
      <p>Rough sleeper services will work with you the next working day to assess your options for accommodation and support.</p>
      <p>Alternatively, any member of the public can contact the P3 Outreach team by raising an alert about an individual sleeping rough through the <a href="https://thestreetlink.org.uk">Streetlink</a> website.</p>
      <p>If a person is in immediate danger or in need of urgent care, please call the emergency services.</p>

    {{> social-share}}

  </div>
</div>
