<li class="nav__item nav__item--hub-nav" data-city="salford">
  <dl class="hub-nav-container">
    <dt data-city="salford" class="nav__item nav__item--salford">
      <a href="/salford/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Salford</a>
    </dt>
    <dd>
      <ul>
        <li data-city="salford" class="nav__item nav__item--salford-advice">
          <a href="/salford/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>