---
title: Best Practice for Community-led support - Working together to end homelessness in Manchester
description: Protect your volunteers and the vulnerable people you support
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: best-practice
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/community-toolkit">Community Toolkit</a></li>
      <li class="breadcrumbs__item">Best Practice</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Best Practice for community-led support services</h1>
    <h2 class="h2 block__sub-header">Protect your volunteers and the vulnerable people you support</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Do you run, or plan to offer, services which support people who are homeless? By following best practice, your organisation, services and volunteers will make a bigger impact on ending homelessness.</p>
      <p>These pages help you develop, and be recognised for, your quality. This will benefit the people you are supporting, and your volunteers. For example, it’s important that all volunteers have the right support and training to work with vulnerable people, with a range of needs.</p>
    </div>
  </div>
</div>
   
<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content">   
      <h2 class="h1 best-practice__header">What do I need to do?</h2>
      <ol class="best-practice-steps">
        <li><a href="/documents/Best Practice Guide.docx">Download and read our Best Practice Guide</a> - this gives advice on how to set up your policies and procedures.  Guidance is also included on how to set up an organisation bank account, insurance and charity status. Dispel any myths about homelessness by reading the Myth Buster section.</li>
        <li>
          <p id="document-templates">Download useful document templates:</p>
          <ul class="best-practice-steps__sub-list">
            <li><a href="/documents/Safeguarding Policy Template.docx">Safeguarding policy template</a></li>
            <li><a href="/documents/Volunteer Policy Template.docx">Volunteer policy template</a></li>
            <li><a href="/documents/Template Volunteer Application Form.doc">Volunteer application form</a></li>
            <li><a href="/documents/Health and Safety Policy Template.docx">Health and safety policy template</a></li>
            <li><a href="/documents/Confidentiality Policy Template.docx">Confidentiality policy template</a></li>
            <li><a href="/documents/Financial Policy Template.docx">Financial policy template</a></li>
          </ul>
        </li>
        <li><a href="/manchester/community-toolkit/awards">Decide which Manchester Homelessness Partnership Best Practice award</a> to apply for - there are two to choose from.</li>
        <li>Join the <a href="/manchester/cor">Coalition of Relief network</a> to access support from other organisations committed to supporting people who are homeless, or people at risk of homelessness. </li>
        <li><a href="/manchester/community-toolkit/training">Select and book training</a> to help protect you, your volunteers and the people you support. </li>
        <li>Learn about the <a href="https://charter.streetsupport.net">Homelessness Charter</a> and <a href="/manchester/bigchangemcr/">Big Change Manchester</a>.</li>
        <li><a href="/manchester/community-toolkit/apply">Apply</a> for your chosen <a href="/manchester/community-toolkit/awards">Manchester Homelessness Partnership Best Practice award</a>.</li>
        <li>Enjoy the <a href="/manchester/community-toolkit/benefits">benefits</a> of Best Practice!</li>
      </ol>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>By working together as a network dedicated to ending homelessness in Manchester, we share our experiences to improve the services we offer.</p>

      <p>If you have any general enquiries, please <a href="/manchester/community-toolkit/best-practice/get-in-touch">get in touch</a>.</p>
    </div>
  </div>
</div>
