---
title: Emergency Homeless Help in Trafford - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/emergency-help/">Emergency Advice</a></li>
      <li class="breadcrumbs__item">Trafford</li>
    </ol>
  </div>
</div>

{{> page-header main="Trafford Council" sub="How your council can help if you are facing homelessness" }}

<div class="block">
  <div class="container">
    <div class="block__content">
     
      <a name="council-info"></a>
      <h2 class="h2">Support from Trafford Council</h2>
      <p>To tell Trafford council you are homeless:</p>
      <ul>
        <li>Visit Trafford council town hall</li>
        <li>Call 0161 793 3252 (Mon-Fri 10am-12.30pm, 1.30-4pm)</li>
        <li>Outside those hours in an emergency call 0800 218 2000 or 0161 607 1780</li>
        <li>Email <a href="mailto:host@salford.co.uk">host@salford.co.uk</a></li>
      </ul>

      <p>To tell Trafford homes about someone who is sleeping rough:</p>
      <ul>
        <li>Call 0161 912 2230</li>
        <li>Email <a href="mailto:homechoice@stockporthomes.org">homechoice@stockporthomes.org</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During periods of severe cold weather, when forecast to fall to zero degrees or below, additional emergency accommodation is provided by the council. The usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status. To establish whether or not this is a severe cold weather period, people are advised to contact your council.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
