---
title: Accommodation - Street Support
description: Accommodation options for those facing homelessness.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: accommodation
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item">Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation</h1>
    <h2 class="h2 block__sub-header">What you need to know when looking for accommodation</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content text-center">
      <p>Your accommodation options depend on your legal situation, location and your needs. Your council housing options team or <a href="/find-help/dropin/timetable/">local drop in centres</a> may be able to support you to find accommodation.</p>
      <div class="block__cta block__cta--3 accommodation-splash">
        {{>cta brand="e" link="/find-help/accommodation/advice/" icon="accom-advice" name="Read our <span class=\"line-break\"></span> advice guide"}}
        {{>cta brand="e" link="/find-help/support/?sub-category=housing" icon="accom-find" name="Find <span class=\"line-break\"></span> support services"}}
        {{>cta brand="e" link="/find-help/accommodation/listing/" icon="accom-listing" name="Browse <span class=\"line-break\"></span> all accommodation"}}
      </div>
    </div>

    {{> social-share}}

  </div>
</div>
