---
title: Accommodation - Street Support
<<<<<<< HEAD
description: Accommodation options for those facing homelessness.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: accommodation
=======
description: Accommodation available in your area
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: accomListing
section: findhelp
page: accomListing
nosubnav: true
>>>>>>> parked
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
<<<<<<< HEAD
      <li class="breadcrumbs__item"><a href="/find-help">Find Help</a></li>
      <li class="breadcrumbs__item">Accommodation</li>
=======
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">Accommodation</li>
>>>>>>> parked
    </ol>
  </div>
</div>

<<<<<<< HEAD
<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation</h1>
    <h2 class="h2 block__sub-header">Acommodation options and advice</h2>
=======
<div class="block block--subpage-header">
  <div class="container">
    <h2 class="h1  block__header block__header--find-help has-icon--left">
      <svg class="block__header__icon--find-help svg-accom-dims">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{site.url}}assets/svgsprite.svg#accom"></use>
      </svg>
      Accommodation
    </h1>
>>>>>>> parked
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
<<<<<<< HEAD

      <p>Your accommodation options depend on your legal situation, location and your needs.</p>

      <p>In most cases, your first port of call is to visit your council houing advice service. Drop in centres and other services can also support you to find accommodation - <a href="/find-help/support/?sub-category=housing">view our list of local housing advice services</a>.</p>

      <h2 class="h3">Accommodation Advice</h2>
      <p>To understand what options you have, and where to get support, <a href="/find-help/accommodation/advice/">read our advice guide</a>.</p>

      <h2 class="h3">Accommodation Listings</h2>
      <p>To browse all accommodation available in your area, by location and category, <a href="/find-help/accommodation/listing/">view our full listing</a>.</p>
      
      <h2 class="h3">More Information</h2>
      <p>For more detailed housing advice and legal support, you can also <a href="http://england.shelter.org.uk/get_advice">search Shelter's housing advice section</a>, or call their helpline on 0808 800 4444.</p>

=======
>>>>>>> parked
      {{> social-share}}
    </div>
  </div>
</div>
