---
title: Accommodation - Street Support
description: Accommodation options for those facing homelessness.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: accommodation
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">Accommodation</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation</h1>
    <h2 class="h2 block__sub-header">Acommodation options and advice</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Your accommodation options depend on your legal situation, location and your needs.</p>

      <h2 class="h3"><a href="/find-help/accommodation/advice/">Read our advice guide</a></h2>
      <p>Learn more about what to do if you are experiencing homelessness or at risk.</p>

      <h2 class="h3"><a href="/find-help/support/?sub-category=housing">Find support services</a></h2>
      <p>Find nearby services that support you to find accommodation.</p>

      <h2 class="h3"><a href="/find-help/accommodation/listing/">Browse accommodation</a></h2>
      <p>Browse and filter accommodation options in your local area.</p>
      
      <p>For more housing advice and legal support, you can also <a href="http://england.shelter.org.uk/get_advice">search Shelter's housing advice section</a>, or call their helpline on 0808 800 4444.</p>

      {{> social-share}}
    </div>
  </div>
</div>
