---
title: Emergency Homeless Help in Manchester - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Advice</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>If you've just become homeless, or feel that there is a risk of that happening, it's important to get the right advice as soon as possible. There is a range of support available, depending on your situation...</p>
      <ul>
        <li>If you're <strong>comfortable dealing with council services</strong>, you can go to the town hall to present as homeless. Read the <a href="#register-homeless">Registering as Homeless</a> section below for information on how to proceed.</li>
        <li>If you would like <strong>someone to support you through the process</strong>, there are a number of day centres that can advise you on suitable options. Read the <a href="#day-centres">Support into Services</a> section below for details.</li>
        <li>You can also find many other services listed on this site including <a href="/find-help/category/?category=accom">housing support</a> and <a href="/find-help/category/?category=dropin">drop in centres</a>.</p>
      </ul>

      <h2 class="h2">Helping Rough Sleepers</h2>
      <p>If you <strong>see someone sleeping rough</strong> in Manchester, and don't know how to help, you can call the Rough Sleeper Team on 0161 234 5339 or email <a href="mailto:roughsleepersteam@manchester.gov.uk">roughsleepersteam@manchester.gov.uk</a>. Alternatively you can use the <a href="http://www.streetlink.org.uk/tell-us-about-a-rough-sleeper">Street Link service</a> to get help for a rough sleeper anywhere in the country. If you know someone who has become homeless, you can also follow the steps detailed here on their behalf.</p>

      <a name="register-homeless"></a>
      <h2 class="h2">Registering as Homeless</h2>
      <p>If you have just become homeless, or might do in the next 28 days, the first thing to do is <strong>apply as homeless</strong> at your local council. The homelessness service is an <strong>emergency service</strong>, and you can also get advice or help to <a href="http://www.manchester.gov.uk/site/scripts/documents_info.php?categoryID=200117&amp;documentID=1428">stay in your home</a>.</p>
      <p>If the council accepts you are homeless, they take on a <strong>duty of care</strong> which means they will try to house you <strong>immediately</strong>. You will then be "in the system”, and able to access other services for homeless people. You can visit the town hall, or call Manchester City Council's team on 0161 234 4692 Mon-Fri between 9am - 4.30pm, or out of hours in an emergency you can call 0161 234 5001.</p>
      <p>To be accepted as officially homeless, you must:</p>
      <ul>
        <li>Have not <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/intentional_homelessness">intentionally made yourself homeless</a>.</li>
        <li>Have no legal right to live anywhere in the world, or live somewhere overcrowded or unsafe.</li>
      </ul>
      <p>In addition, the support you get will depend on:</p>
      <ul>
        <li>If you are in <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/priority_need">"priority need”</a></li>
        <li>If you have a <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/local_connection">"local connection”</a> to the area.</li>
      </ul>
      <p><a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter's website</a> is the best place to learn about your legal rights, or call them on 0808 800 4444.</p>

      <a name="day-centres"></a>
      <h2 class="h2">Support into Services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the following drop in centres who can advise you on what options are available for you. They can also refer you into accommodation and other services, where appropriate.</p>
      <ul>
        <li>For Under 25s: <a href="/find-help/organisation/?organisation=ypsf">YPSF</a> or <a href="/find-help/organisation/?organisation=lifeshare">Lifeshare</a></li>
        <li><a href="/find-help/organisation/?organisation=barnabus">Barnabus</a></li>
        <li><a href="/find-help/organisation/?organisation=booth-centre">The Booth Centre</a></li>
        <li><a href="/find-help/organisation/?organisation=cornerstones">Cornerstones</a></li>
        <li><a href="/find-help/organisation/?organisation=mustard-tree">Mustard Tree</a></li>
      </ul>
      <p>After hours, organisations that run evening services including <a href="/find-help/organisation/?organisation=coffee4craig">Coffee4Craig</a> can also offer advice on suitable services.</p>
      <p>Most emergency housing in the city cannot be accessed directly, but you can check the <a href="/find-help/category/?category=accom">accommodation</a> page to see the latest information on what is available near you.</p>

      <h2 class="h2">Registering for Social Housing</h2>
      <p>You can also register with <a href="http://www.manchestermove.co.uk/">Manchester Move</a> to be assessed for longer term social housing options. If you are outside of the city centre, <a href="https://www.pinpoint.org.uk/">Pinpoint</a> is the equivalent service for Greater Manchester.</p>

      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During the winter months, additional emergency accomodation is provided. Arrangements for this winter are currently being made, and more information will follow as soon as that is decided.</p>

      <h2 class="h2">Other Support and Advice</h2>
      <p>There are many other services available to rough sleepers - you can check through the other categories in our <a href="/find-help/">'Find Help'</a> section to see if there is someone that can help with what you need. If you can't find what you need, please <a href="/contact/">get in touch</a> and we will try to put you in contact with someone that can help you.</p>
      <p>Make sure to <a href="http://england.shelter.org.uk/get_advice/homelessness/homeless_and_on_the_streets/10_ways_to_keep_safe_on_the_streets">stay safe on the streets</a>: stay warm and make sure you <a href="/find-help/category/?category=meals">eat and drink</a>.</p>


      {{> social-share}}
    </div>
  </div>
</div>
