---
title: Severe Weather Emergency Accommodation in Stockport - Street Support
description: Severe Weather Emergency Accommodation provision in Stockport.
image: https://streetsupport.net/assets/img/og/street-support-stockport.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: stockport
page: stockport-advice
location: stockport
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/stockport/">Stockport</a></li>
      <li class="breadcrumbs__item"><a href="/stockport/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="stockport" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <ul>
        <li>Stockport Homes, Cornerstone, 2 Edward Street SK1 3NQ 8.30am – 5pm</li>
        <li>Out of Hours 0161 474 2818</li>
      </ul>
      
    </div>

    {{> social-share}}
    
  </div>
</div>