---
title: Severe Weather Emergency Accommodation in Nottingham - Street Support
description: Severe Weather Emergency Accommodation provision in Nottingham.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: nottingham
page: nottingham-advice
location: nottingham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/nottingham/">Nottingham</a></li>
      <li class="breadcrumbs__item"><a href="/nottingham/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="nottingham" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Nottingham City</h1>
      <h3 class="h3">Accommodation</h3>
      <p>The Street Outreach team (SOT) should always be contacted in the first instance by colleagues or members of the public coming across a rough sleeper on <a href="tel:0800 066 5356">0800 066 5356</a> between 09:00 - 17:00, Monday - Sunday.</p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Access Arrangements</h2>
      <p>When SWEP is in place everyone will be offered a bed regardless of status, local connection or previous bans relating to behaviour. We have a number of emergency  bed spaces across the City and on SWEP evenings teams will be out until 9pm responding to calls from rough sleepers and the public and taking people directly to their accommodation. If you are unable to find somewhere to sleep you can call the Street Outreach Team on <a href="tel:0800 066 5356">0800 066 5356</a> (24 hours a day, free from landlines and mobiles)  If you are approached by someone or have concerns about an individual please also call <a href="tel:0800 066 5356">0800 066 5356</a>. It is not a requirement for people to accept beds and welfare checks and support will continue for such individuals.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Broxtowe, Gedling and Rushcliffe urban areas:</h1>
      <p>Details to follow soon.</p>
    </div>
  </div>
</div>
