<!doctype html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="assets/css/site.css" />
  </head>
  <body>
    {{#block "header"}}
      {{> header}}
    {{/block}}

    {{#block "main"}}
      {{{contents}}}
    {{/block}}

    {{#block "footer"}}
      {{> footer}}
    {{/block}}

    <script src="assets/js/bundle.js"></script>
  </body>
</html>
