<div class="category-view-options category-view-options--two-options">
  <ul class="category-view-options__items">
    <li class="category-view-options__item">
      <a href="/find-help/accommodation/listing/" class="btn btn--plain category-view-options__button {{#if listing}}selected{{/if}}">
        <span class="btn__text">Listing</span>
      </a>
    </li>
    <li class="category-view-options__item">
      <a href="/find-help/accommodation/listing/map/" class="btn btn--plain category-view-options__button {{#if map}}selected{{/if}}">
        <span class="btn__text">Map</span>
      </a>
    </li>
  </ul>
</div>