<div class="text-center">
  <p>Accommodation available depends on a persons needs and situation. We recommend that you first <a href="/find-help/support">contact your local support services</a>.</p>
</div>