<div class="text-center">
  <p>Accommodation available depends on a persons needs and situation. We recommend that you <a href="/find-help/support">contact local support services</a>, and <a href="/find-help/accommodation/advice">read our advice guide</a>.</p>
</div>