<div class="text-center">
  <p>Finding suitable and available accommodation can be difficult when you are experiencing homelessness. To find out what your options are, <a href="/find-help/support">visit local services that can give one to one advice</a>, or read our <a href="/find-help/accommodation/advice">advice guide</a>.</p>
  <a href="/find-help/accommodation/advice" class="btn btn--brand-g">
    <span class="btn__text">Read our guide to finding accommodation</span>
  </a>
</div>