<div class="category-view-options">
  <p class="category-view-options__title">View as:</p>
  <ul class="category-view-options__items">
    <li class="category-view-options__item">
      <a href="/find-help/category/?category=\{{categoryId}}" class="btn btn--plain category-view-options__button {{#if provider}}selected{{/if}}">
        <span class="btn__text">Provider Listing</span>
      </a>
    </li>
    <li class="category-view-options__item">
      <a href="/find-help/category-by-day/?category=\{{categoryId}}" class="btn btn--plain category-view-options__button {{#if timetable}}selected{{/if}}">
        <span class="btn__text">Timetable</span>
      </a>
    </li>
    <li class="category-view-options__item">
      <a href="/find-help/category-by-location/?category=\{{categoryId}}" class="btn btn--plain category-view-options__button {{#if map}}selected{{/if}}">
        <span class="btn__text">Map</span>
      </a>
    </li>
  </ul>
</div>