<div class="category-view-options">
  <ul class="category-view-options__items">
    <li class="category-view-options__item">
      <a href="/find-help/\{{categoryId}}/" class="btn btn--plain category-view-options__button {{#if provider}}selected{{/if}}">
        <span class="btn__text">Listing</span>
      </a>
    </li>
    <li class="category-view-options__item">
      <a href="/find-help/\{{categoryId}}/timetable/" class="btn btn--plain category-view-options__button {{#if timetable}}selected{{/if}}">
        <span class="btn__text">Timetable</span>
      </a>
    </li>
    <li class="category-view-options__item">
      <a href="/find-help/\{{categoryId}}/map/" class="btn btn--plain category-view-options__button {{#if map}}selected{{/if}}">
        <span class="btn__text">Map</span>
      </a>
    </li>
  </ul>
</div>
