<div class="sticky">
  <header class="header header--desktop">
    <div class="container">
      <h1 class="h3 header__title" role="banner">
        <a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support</span></a>
      </h1>
      <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__item nav__item--about"><a href="/about/">About</a></li>
          <li class="nav__item nav__item--news"><a href="http://news.streetsupport.net/">News</a></li>
          <li class="nav__item nav__item--contact"><a href="/contact/">Contact Us</a></li>
        </ul>
      </nav>
      <div class="js-global-city-selector global-city-selector">
          <label for="header-city-selector" class="form__label form__label--inline visually-hidden">My city:</label>
          <select name="header-city-selector" class="form__input form__input--inline js-location-select"></select>
      </div>
    </div>
  </header>
  <nav class="city-nav">
    <ul class="nav__list nav__list--city" data-city="manchester">
      <li class="nav__item nav__item--manchester"><a href="/manchester/">Manchester</a></li>
      <li class="nav__item nav__item--findhelp">
        <a href="/find-help/">Find Help</a>
        <ul class="nav__list nav__list--sub-list">
          <li class="nav__item nav__item--sub-item nav__item--emergencyhelp"><a href="/find-help/emergency-help/">Emergency Help</a></li>
          <li class="nav__item nav__item--sub-item nav__item--allorganisations"><a href="/find-help/all-service-providers/">All Organisations</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--givehelp">
        <a href="/give-help/">Give Help</a>
        <ul class="nav__list nav__list--sub-list">
          <li class="nav__item nav__item--sub-item nav__item--giveitems"><a href="/give-help/help/">Help</a></li>
          <li class="nav__item nav__item--sub-item nav__item--donate"><a href="/give-help/donate/">Donate</a></li>
          <li class="nav__item nav__item--sub-item nav__item--volunteer"><a href="/give-help/volunteer/">Volunteer</a></li>
          <li class="nav__item nav__item--sub-item nav__item--offeritems"><a href="/give-help/offer-items/">Offer Items</a></li>
          <li class="nav__item nav__item--sub-item nav__item--partnership"><a href="/give-help/partnership/">Partnership</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--charter" data-city="manchester">
        <a href="https://charter.streetsupport.net">Charter</a>
        <ul class="nav__list nav__list--sub-list">
          <li class="nav__item nav__item--sub-item nav__item--readthecharter"><a href="https://charter.streetsupport.net/read-the-charter/">Read the Charter</a></li>
          <li class="nav__item nav__item--sub-item nav__item--pledgeyoursupport"><a href="https://charter.streetsupport.net/pledge-your-support/">Pledge your Support</a></li>
          <li class="nav__item nav__item--sub-item nav__item--joinactiongroup"><a href="https://charter.streetsupport.net/join-action-group/">Action Groups</a></li>
          <li class="nav__item nav__item--sub-item nav__item--aboutthecharter"><a href="https://charter.streetsupport.net/about-the-charter/">About the Charter</a></li>
          <li class="nav__item nav__item--sub-item nav__item--aboutthecharter"><a href="https://charter.streetsupport.net/progress/">Progress</a></li>
          <li class="nav__item nav__item--sub-item nav__item--partnershipboard"><a href="https://charter.streetsupport.net/partnership-board/">Partnership Board</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--bigchange" data-city="manchester">
        <a href="/manchester/bigchangemcr/">Big Change</a>
        <ul class="nav__list nav__list--sub-list">
          <li class="nav__item nav__item--sub-item nav__item--bigchangecampaign"><a href="/manchester/bigchangemcr/campaign/">Campaign</a></li>
          <li class="nav__item nav__item--sub-item nav__item--bigchangeabout"><a href="/manchester/bigchangemcr/about/">About</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--organisations" data-city="manchester">
        <a href="/manchester/Organisations/">Organisations</a>
        <ul class="nav__list nav__list--sub-list">
          <li class="nav__item nav__item--sub-item nav__item--bestpractice"><a href="/manchester/Organisations/best-practice/">Best Practice</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav__list nav__list--city" data-city="leeds">
      <li class="nav__item nav__item--leeds"><a href="/leeds/">Leeds</a></li>
      <li class="nav__item nav__item--findhelp">
        <a href="/find-help/">Find Help</a>
        <ul class="nav__list nav__list--sub-list">
          <li class="nav__item nav__item--sub-item nav__item--emergencyhelp"><a href="/find-help/emergency-help/">Emergency Help</a></li>
          <li class="nav__item nav__item--sub-item nav__item--allorganisations"><a href="/find-help/all-service-providers/">All Organisations</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--givehelp">
        <a href="/give-help/">Give Help</a>
        <ul class="nav__list nav__list--sub-list">
          <li class="nav__item nav__item--sub-item nav__item--giveitems"><a href="/give-help/help/">Help</a></li>
          <li class="nav__item nav__item--sub-item nav__item--donate"><a href="/give-help/donate/">Donate</a></li>
          <li class="nav__item nav__item--sub-item nav__item--volunteer"><a href="/give-help/volunteer/">Volunteer</a></li>
          <li class="nav__item nav__item--sub-item nav__item--offeritems"><a href="/give-help/offer-items/">Offer Items</a></li>
          <li class="nav__item nav__item--sub-item nav__item--partnership"><a href="/give-help/partnership/">Partnership</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
