<div class="sticky">
  <header class="header header--desktop">
    <div class="container">
      <h1 class="h3 header__title" role="banner">
        <a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support</span></a>
      </h1>
      <nav class="header__nav">
        <ul class="nav__list">
            {{> header-nav }}
        </ul>
      </nav>
      <div class="js-global-city-selector global-city-selector">
          <label for="header-city-selector" class="form__label form__label--inline visually-hidden">My city:</label>
          <select name="header-city-selector" class="form__input form__input--inline js-location-select"></select>
      </div>
    </div>
  </header>
  <nav class="city-nav">
    <ul class="nav__list nav__list--city" data-city="manchester">
      <li class="nav__item nav__item--manchester"><a href="/manchester/">Manchester</a></li>
      {{> manchester/nav }}
    </ul>
    <ul class="nav__list nav__list--city" data-city="leeds">
      <li class="nav__item nav__item--leeds"><a href="/leeds/">Leeds</a></li>
      {{> leeds/nav }}
    </ul>
    <ul class="nav__list nav__list--city" data-city="portsmouth">
      <li class="nav__item nav__item--portsmouth"><a href="/portsmouth/">Portsmouth</a></li>
      {{> portsmouth/nav }}
    </ul>
    <ul class="nav__list nav__list--city" data-city="bournemouth">
      <li class="nav__item nav__item--bournemouth"><a href="/bournemouth/">Bournemouth</a></li>
      {{> bournemouth/nav }}
    </ul>
    <ul class="nav__list nav__list--city" data-city="bradford">
      <li class="nav__item nav__item--bradford"><a href="/bradford/">Bradford</a></li>
      {{> bradford/nav }}
    </ul>
    <ul class="nav__list nav__list--city" data-city="elsewhere">
      {{> no-location/nav }}
    </ul>
  </nav>
</div>
