<header class="header header--desktop">
  <div class="container">
    <h1 class="h3 header__title" role="banner">
      <a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support<br />Network</span></a>
    </h1>
    <nav class="header__nav">
      <ul class="nav__list">
          {{> header-nav }}
      </ul>
    </nav>
  </div>
</header>

<nav class="hubs-nav">
  <div class="container">
    <ul class="nav__list nav__list--hub" data-city="bradford">
      {{> bradford/nav }}
    </ul>
    <ul class="nav__list nav__list--hub" data-city="bournemouth">
      {{> bournemouth/nav }}
    </ul>
    <ul class="nav__list nav__list--hub" data-city="leeds">
      {{> leeds/nav }}
    </ul>
    <ul class="nav__list nav__list--hub" data-city="liverpool">
      {{> liverpool/nav }}
    </ul>
    <ul class="nav__list nav__list--hub" data-city="manchester">
      {{> manchester/nav }}
    </ul>
    <ul class="nav__list nav__list--hub" data-city="portsmouth">
      {{> portsmouth/nav }}
    </ul>
    <ul class="nav__list nav__list--hub" data-city="southampton">
      {{> southampton/nav }}
    </ul>
  </div>
</nav>
