<header class="header header--desktop">
  <div class="container">
    <h1 class="h3 header__title" role="banner">
      <a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support<br />Network</span></a>
    </h1>
    <nav class="header__nav">
      <ul class="nav__list">
          {{> header-nav }}
      </ul>
    </nav>
  </div>
</header>
<nav class="city-nav">
  <ul class="nav__list nav__list--city" data-city="manchester">
    <li class="nav__item nav__item--manchester"><a href="/manchester/">Manchester</a></li>
    {{> manchester/nav }}
  </ul>
</nav>
