<footer class="footer" role="contentinfo">
  <div class="container">
    <h3 class="h3 footer__header">Follow Street Support Network</h3>
    <ul class="footer__social-list">
      <li class="footer__social-item"><a class="icon icon-facebook footer__icon" href="https://www.facebook.com/streetsupport"><span class="hide-screen">Facebook</span></a></li>
      <li class="footer__social-item"><a class="icon icon-twitter footer__icon" href="https://twitter.com/streetsupportuk"><span class="hide-screen">Twitter</span></a></li>
    </ul>
    <p class="footer__copy">&copy; 2015 Street Support Network</p>
  </div>
</footer>
