<footer class="footer" role="contentinfo">
  <div class="container">
    <h3 class="h3 footer__header">Follow Street Support Network</h3>
    <ul class="footer__social-list">
      <li class="footer__social-item"><a href="https://www.facebook.com/streetsupport">{{>icon name="facebook" class="footer__icon"}} <span class="hide-screen">Facebook</span></a></li>
      <li class="footer__social-item"><a href="https://twitter.com/streetsupportuk">{{>icon name="twitter" class="footer__icon"}} <span class="hide-screen">Twitter</span></a></li>
    </ul>
    <p class="footer__copy">&copy; 2016 Street Support Network</p>
  </div>
</footer>
