<footer class="footer" role="contentinfo">
  <div class="container container--footer">
    <div class="footer__col">
      <h3 class="h3 footer__header">Follow Street Support Network</h3>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="https://www.facebook.com/streetsupport">{{>icon name="facebook" class="footer__icon"}}
            <span class="hide-screen">Facebook</span>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://twitter.com/streetsupportuk">{{>icon name="twitter" class="footer__icon"}}
            <span class="hide-screen">Twitter</span>
          </a>
        </li>
      </ul>
      <p class="footer__header">Download our app here:</p>
      <div class="app-store-links">
        <a href="https://itunes.apple.com/gb/app/street-support/id1154666716?mt=8" class="app-store-links__itunes-appstore">
          {{>icon name="appstore-lrg"}}
        </a>
        <a class="app-store-links__google-playstore" href='https://play.google.com/store/apps/details?id=net.streetsupport.findhelpapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
          <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
          />
        </a>
      </div>
    </div>
    <div class="footer__col">
      <div class="footer__logo-container">{{>icon name="logo" class="icon"}}
        <p>Street Support
          <br />Network</p>
      </div>
      <div>
        <p class="footer__copy">&copy; 2018 Street Support Network
          <a class="footer__link" href="/privacy-policy">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>