<nav class="nav__container js-nav-container">
  <button class="btn btn--plain nav__btn js-nav-close" type="button"><span class="icon icon-close"></span><span class="hide-screen">Close</span></button>

  <ul class="nav__list">
    <li class="nav__item"><a href="index.html">Home</a></li>
    <li class="nav__item"><a href="find-help.html">Find Help</a></li>
    <li class="nav__item"><a href="give-help.html">Give Help</a></li>
    <li class="nav__item"><a href="about.html">About</a></li>
    <li class="nav__item"><a href="contact.html">Contact</a></li>
  </ul>
</nav>
