<nav class="nav__container js-nav-container">
  <button class="btn btn--plain nav__btn js-nav-close" type="button"><span class="icon icon-close"></span><span class="hide-screen">Close</span></button>

  <ul class="nav__list">
    <li class="nav__item"><a href="/">Home</a></li>
    <li class="nav__item">
    	<a href="/find-help.html">Find Help</a>
    	<ul class="nav__list--sub-list">
    		<li class="nav__item--sub-item"><a href="/all-service-providers.html">All Organisations</a></li>
    	</ul>
    </li>
    <li class="nav__item">
    	<a href="/give-help.html">Give Help</a>
    	<ul class="nav__list--sub-list">
    		<li class="nav__item--sub-item"><a href="/give-items.html">Requests</a></li>
    		<li class="nav__item--sub-item"><a href="/volunteer.html">Volunteer</a></li>
    		<li class="nav__item--sub-item"><a href="/donate.html">Donate</a></li>
            <li class="nav__item--sub-item"><a href="/sponsor.html">Partnership</a></li>
    	</ul>
    </li>
    <li class="nav__item"><a href="/about.html">About</a></li>
    <li class="nav__item"><a href="/contact.html">Contact</a></li>
    <li class="nav__item"><a href="https://streetsupportnet.wordpress.com/">Blog</a></li>
  </ul>
</nav>
