<nav class="nav__container">
  <ul class="nav__list">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">About</a></li>
    <li class="nav__item"><a href="#">Work</a></li>
    <li class="nav__item"><a href="#">Clients</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
  </ul>
</nav>
