<header class="header" role="banner">
  <div class="header__inner container">
    <h1 class="h3 header__title"><a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support</span></a></h1>
    <button class="btn btn--plain header__btn js-nav-open" type="button">{{>icon name="nav" class="icon"}}<span class="hide-screen">Menu</span></button>
  </div>
</header>
