<nav class="nav__container js-nav-container">
  <button class="btn btn--plain nav__btn js-nav-close" type="button">Close</button>

  <ul class="nav__list">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">About</a></li>
    <li class="nav__item"><a href="#">Find Help</a></li>
    <li class="nav__item"><a href="#">Give Help</a></li>
    <li class="nav__item"><a href="#">Get Listed</a></li>
    <li class="nav__item"><a href="#">Support</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
  </ul>
</nav>
