<li class="nav__item nav__item--about"><a href="/about/">About</a></li>
<li class="nav__item nav__item--news">
  <a href="http://news.streetsupport.net/">News</a>
    <ul class="nav__list nav__list--sub-sub-list">
        <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/stories/">Stories</a></li>
        <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/articles/">Articles</a></li>
        <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/latest-news/">Latest News</a></li>
    </ul>
</li>
<li class="nav__item nav__item--contact"><a href="/contact/">Contact Us</a></li>
<li class="nav__item nav__item--impact"><a href="/impact/">Impact</a></li>
<li class="nav__item nav__item--jobs"><a href="/jobs/">Jobs</a></li>