<header class="header" role="banner">
  <div class="header__inner container">
    <h1 class="h3 header__title"><a href="/"><span class="icon icon-logo"></span> <span class="text">Street Support</span></a></h1>
    <button class="btn btn--plain header__btn js-nav-open" type="button"><span class="icon icon-nav"></span><span class="hide-screen">Menu</span></button>
  </div>
</header>
