<li class="nav__item nav__item--findhelp">
  <a href="/find-help/" class="nav__item-link nav__item-link--has-sub-nav">Find Help</a>
  <ul class="nav__list nav__list--sub-list">
    <li class="nav__item nav__item nav__item--mobile-only nav__item--sub-list-title">
        <button class="sub-list-back-btn">Back</button>
        <span class="sub-list-text">Find Help</span>
    </li>
    <li class="nav__item nav__item nav__item--mobile-only"><a href="/find-help/">Find Help</a></li>
    <li class="nav__item nav__item--emergencyhelp"><a href="/find-help/emergency-help/">Emergency Help</a></li>
    <li class="nav__item nav__item--sub-item nav__item--swep"><a href="/find-help/severe-weather-accommodation/">Severe Weather Accommodation</a></li>
    <li class="nav__item nav__item--allorganisations"><a href="/find-help/all-service-providers/">Organisations</a></li>
  </ul>
</li>
<li class="nav__item nav__item--givehelp">
  <a href="/give-help/" class="nav__item-link nav__item-link--has-sub-nav">Give Help</a>
  <ul class="nav__list nav__list--sub-list">
    <li class="nav__item nav__item nav__item--mobile-only nav__item--sub-list-title">
        <button>Back</button>
        <span>Give Help</span>
    </li>
    <li class="nav__item nav__item nav__item--mobile-only"><a href="/give-help/">Give Help</a></li>
    <li class="nav__item nav__item--sub-item nav__item--giveitems"><a href="/give-help/help/">Help</a></li>
    <li class="nav__item nav__item--sub-item nav__item--donate"><a href="/give-help/donate/">Donate</a></li>
    <li class="nav__item nav__item--sub-item nav__item--volunteer"><a href="/give-help/volunteer/">Volunteer</a></li>
    <li class="nav__item nav__item--sub-item nav__item--offeritems"><a href="/give-help/offer-items/">Offer Items</a></li>
    <li class="nav__item nav__item--sub-item nav__item--partnership"><a href="/give-help/partnership/">Partnership</a></li>
  </ul>
</li>
<li class="nav__item nav__item--locations">
    <a href="#" class="nav__item-link nav__item-link--has-sub-nav">Locations</a>
    <ul class="nav__list nav__list--sub-list">
        <li class="nav__item nav__item--sub-item nav__item--bournemouth"><a href="/bournemouth">Bournemouth</a></li>
        <li class="nav__item nav__item--sub-item nav__item--bradford"><a href="/bradford">Bradford</a></li>
        <li class="nav__item nav__item--sub-item nav__item--leed"><a href="/leeds">Leeds</a></li>
        <li class="nav__item nav__item--sub-item nav__item--liverpool"><a href="/liverpool">Liverpool</a></li>
        <li class="nav__item nav__item--sub-item nav__item--manchester"><a href="/manchester">Manchester</a></li>
        <li class="nav__item nav__item--sub-item nav__item--portsmouth"><a href="/portsmouth">Portsmouth</a></li>
        <li class="nav__item nav__item--sub-item nav__item--southampton"><a href="/southampton">Southampton</a></li>
    </ul>
</li>
<li class="nav__item nav__item--news">
  <a href="http://news.streetsupport.net/" class="nav__item-link nav__item-link--has-sub-nav">News</a>
    <ul class="nav__list nav__list--sub-list">
        <li class="nav__item nav__item nav__item--mobile-only"><a href="http://news.streetsupport.net/">News</a></li>
        <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/stories/">Stories</a></li>
        <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/articles/">Articles</a></li>
        <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/latest-news/">Latest News</a></li>
    </ul>
</li>
<li class="nav__item nav__item--about">
    <a href="/about/" class="nav__item-link nav__item-link--has-sub-nav">About</a>
    <ul class="nav__list nav__list--sub-list">
        <li class="nav__item nav__item--sub-item"><a href="/about/our-team">Our Team</a></li>
        <li class="nav__item nav__item--sub-item"><a href="/about/our-trustees">Our Trustees</a></li>
        <li class="nav__item nav__item--sub-item"><a href="/about/jobs">Jobs</a></li>
        <li class="nav__item nav__item--sub-item"><a href="/about/impact">Impact</a></li>
        <li class="nav__item nav__item--sub-item"><a href="/about/contact">Contact Us</a></li>
    </ul>
</li>
