<header class="header" role="banner">
  <div class="header__inner container">
    <h1 class="h3 header__title"><a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support</span></a></h1>

    <div class="js-global-city-selector" style="
    float: right;
    margin-top: -70px;">
      <label for="">My location:</label>
      <select data-bind="options: cities,
                        optionsText: 'name',
                        optionsValue: 'id',
                        value: selectedCity" class="js-location-select"></select>
    </div>

    <button class="btn btn--plain header__btn js-nav-open" type="button">Menu</button>
  </div>
</header>
