<div class="block">
  <div class="block__content text-center">
        <h2 class="h1">Street Support has come to Leeds!</h2>
        <p>We are thrilled to be supporting Leeds in working towards end homelessness!</p>
  </div>
</div>
