<div class="highlight">
  <ul class="highlight__list">
    <li class="highlight__item">
      <span class="highlight__title">13</span>
      <span class="h3 highlight__description">Organisations</span>
    </li>
    <li class="highlight__item">
      <span class="highlight__title">0</span>
      <span class="h3 highlight__description">Needs</span>
    </li>
    <li class="highlight__item">
      <span class="highlight__title">0</span>
      <span class="h3 highlight__description">Volunteers</span>
    </li>
  </ul>
</div>
