<div class="block">
  <div class="block__content">
    <h1 class="text-center">Supporting homeless people in Leeds</h1>
    <p class="text-center">We are launching Street Support in Leeds very soon.
      If you are an organisation, please <a href="/register">register your details</a>, or
      if you would like to know more, <a href="/contact">get in touch</a>.</p>
  </div>
</div>
