\{{#useGeoLocation}}
<p>Showing services within 10k of your location.</p>
<p>Change location to <a href="\{{pageAsFromManchester}}">Central Manchester</a>.</p>
\{{/useGeoLocation}}
\{{#useManchesterAsLocation}}
<p>Showing services within 10k of Central Manchester.</p>
<p>Use my <a href="\{{pageFromCurrentLocation}}">current location</a>.</p>
\{{/useManchesterAsLocation}}
