\{{#useGeoLocation}}
<p>Showing services within 10k of your location. Change location to <a href="\{{pageAsFromManchester}}">Central Manchester</a>.</p>
\{{/useGeoLocation}}
\{{#useManchesterAsLocation}}
<p>Showing services within 10k of Central Manchester. Use my <a href="\{{pageFromCurrentLocation}}">current location</a>.</p>
\{{/useManchesterAsLocation}}
