<div class="location-selector">
<p class="location-selector__text">Showing \{{categoryName}} within 10k of </p>
<select class="location-selector__select form__input form__input--inline js-find-help-location-selector"></select>
</div>
