<form class="location-selector js-find-help-form">
  <p class="location-selector__text">Showing \{{categoryName}} within </p>
  <select class="location-selector__select form__input form__input--inline form__input--short js-find-help-range">
    <option value="1000">1km</option>
    <option value="2000">2km</option>
    <option value="5000">5km</option>
    <option value="10000">10km</option>
    <option value="20000">20km</option>
  </select>
  <p class="location-selector__text location-selector__text--middle-of-sentence"> of </p>
  <input name="postcode" type="textfield" class="form__input form__input--inline form__input--short js-location-search-postcode" value="\{{ postcode }}" />
  <button type="submit" class="btn btn--brand-e js-update-search">
    <span class="btn__text">search</span>
  </button>
  <button class="btn btn--brand-d btn--print js-print-btn">
    <span class="btn__text">Print page</span>
  </button>
</form>