<div class="location-selector">
  <label for="location" class="location-selector__label">Filter organisations by: </label>
  <select class="js-location-select location-selector__select form__input" name="location" id="location">
    \{{#locations}}
    <option \{{#isSelected}}selected\{{/isSelected}} value="\{{id}}">\{{name}}</option>
    \{{/locations}}
  </select>
</div>
