<div class="js-location-select-modal modal">
  <button class="btn btn--plain nav__btn js-modal-close modal-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>
  <div class="modal-body text-center">
    <h1 class="h2 modal-title">Are you in one of our featured cities?</h1>
    <select class="form__input js-modal-location-dropdown">
    </select>
    <p>If you are in another location, there may still be services listed near you, just select "Another location" <em>(requires location permissions enabled on your device)</em>.</p>
<p>If you are in another location and would like to help us bring Street Support to your area, please <a href="/contact">get in touch</a>.</p>
  </div>
</div>
