<p class="text-center">Showing \{{category}} within 10k of </p>
<select class="js-location-select" name="location" id="location">
  \{{#locations}}
  <option \{{#isSelected}}selected\{{/isSelected}} value="\{{id}}">\{{name}}</option>
  \{{/locations}}
</select>
