<div class="js-location-select-modal modal">
  <button class="btn btn--plain nav__btn js-modal-close modal-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>
  <div class="modal-body text-center">
    <h1 class="h1 modal-title">Street Support is currently in two cities - tell us where you are:</h1>
    <div class="location-select__cta-container">

      <btn class="btn btn--brand-d js-location-select-manchester location-select__cta">
        <span class="btn__icon location-select-icon location-select-icon--manchester">
          <img src="/assets/img/manchester-townhall-cta.png" alt="Manchester" />
        </span>
        <span class="btn__text">I'm in Manchester</span>
      </btn>

      <btn class="btn btn--brand-d js-location-select-leeds location-select__cta">
        <span class="btn__icon location-select-icon location-select-icon--leeds">
          <img src="/assets/img/leeds-townhall-cta.png" alt="Leeds" />
        </span>
        <span class="btn__text">I'm in Leeds</span>
      </btn>
    </div>
    <p>If you would like to help us bring Street Support to your area, please <a href="/contact/">get in touch</a>!</p>
  </div>
</div>
