<div class="block block--image">
  <div class="block__content">
    <div class="block__image-image">
      <a href="http://charter.streetsupport.net">
        <picture>
        <source media="(max-width: 600px)" srcset="assets/img/town-hall_400x267.jpg">
        <source media="(min-width: 800px)" srcset="assets/img/town-hall_600x400.jpg">
        <source media="(min-width: 1000px)" srcset="assets/img/town-hall_900x600.jpg">
          <img src="assets/img/town-hall_900x600.jpg" alt="The Street Support Charter Launch" />
        </picture>
      </a>
    </div>
    <div class="block__image-description">
      <div class="block__image-copy">
        <h2 class="h1">End Homelessness!</h2>
        <p>The Manchester Homelessness Charter is a mission to end homelessness in the city, co-created by people experiencing homelessness, alongside the organisations and individuals working to support them. </p>
        <p><strong><a href="http://charter.streetsupport.net">Find out about the charter&hellip;</a></strong></p>
      </div>
    </div>
  </div>
</div>
