<div class="highlight">
  <ul class="highlight__list">
    <li class="highlight__item">
      <span class="highlight__title">67</span>
      <span class="h3 highlight__description">Organisations</span>
    </li>
    <li class="highlight__item">
      <span class="highlight__title">178</span>
      <span class="h3 highlight__description">Pledges</span>
    </li>
    <li class="highlight__item">
      <span class="highlight__title">147</span>
      <span class="h3 highlight__description">Volunteers</span>
    </li>
  </ul>
</div>
