<div class="block block--home-promo">
  <div class="block__content">
    <h1 class="text-center">Ending Homelessness in Manchester</h1>
    <div class="block__cta block__cta--2">
      {{>cta brand="d" link="/manchester/bigchangemcr/" name="Big Change in Manchester"}}
      {{>cta brand="e" link="https://charter.streetsupport.net/" name="Manchester Homelessness Charter"}}
    </div>
    <p class="text-center" style="margin-top: 40px">To find out more about homelessness in Manchester, visit our <a href="https://news.streetsupport.net/tag/manchester/">News section</a>.</p>
  </div>
</div>
