<div class="block">
  <div class="block__content">
    <h1 class="text-center">Ending Homelessness in Manchester!</h1>
    <div class="block__cta block__cta--2">
      {{>cta brand="d" link="/manchester/bigchangemcr/" name="Manchester<br />Big Change Fund"}}
      {{>cta brand="e" link="/https://charter.streetsupport.net/" name="Manchester Homelessness Charter"}}
    </div>
    <p class="text-center" style="margin-top: 40px">To find out more about what is happening in Manchester, visit our <a href="https://news.streetsupport.net/tag/manchester/">news section</a>.</p>
  </div>
</div>
