{{!--<div class="block block--home-promo">
  <div class="container">
    <div class="block__content">
      <h1 class="text-center">Ending Homelessness in Manchester</h1>
      <div class="block__cta block__cta--2">
        {{>cta brand="d" link="/manchester/bigchangemcr/" name="Big Change in Manchester"}}
        {{>cta brand="e" link="https://charter.streetsupport.net/" name="Manchester Homelessness Charter"}}
      </div>
      <p class="text-center" style="margin-top: 40px">To learn more about homelessness in Manchester, visit our <a href="https://news.streetsupport.net/tag/manchester/">News section</a>.</p>
    </div>
  </div>
</div>--}}
<div class="block block--image">
  <div class="block__content">
    <div class="block__image-image block__image-image--overlaid">
      <picture>
      <source media="(max-width: 480px)" srcset="assets/img/big-change_400x267.png">
      <source media="(max-width: 700px)" srcset="assets/img/big-change_600x400.png">
      <source media="(max-width: 800px)" srcset="assets/img/big-change_900x600.png">
        <img src="assets/img/big-change_900x600.png" alt="Big Change Manchester">
      </picture>
      <div class="full-width-overlay full-width-overlay--big-change">
        <h2 class="h1 full-width-overlay__title"></h1>
        <a class="btn btn--brand-d full-width-overlay__btn" href="/manchester/bigchangemcr">
          <span class="btn__text">Big Change in Manchester</span>
        </a>
      </div>
    </div>
    <div class="block__image-image block__image-image--overlaid">
      <picture>
      <source media="(max-width: 600px)" srcset="assets/img/town-hall_400x267.jpg">
      <source media="(min-width: 800px)" srcset="assets/img/town-hall_600x400.jpg">
      <source media="(min-width: 1000px)" srcset="assets/img/town-hall_900x600.jpg">
        <img src="assets/img/town-hall_900x600.jpg" alt="The Manchester Homelessness Charter Launch">
      </picture>
      <div class="full-width-overlay full-width-overlay--charter">
        <h2 class="h1 full-width-overlay__title"><span class="full-width-overlay__title-content">Ending Homelessness in Manchester</span></h1>
        <a class="btn btn--brand-e full-width-overlay__btn" href="https://charter.streetsupport.net">
          <span class="btn__text">Manchester Homelessness Charter</span>
        </a>
      </div>
    </div>
  </div>
</div>
