<header class="header header--mobile sticky" role="banner">
  <h1 class="h3 header__title"><a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support<br />Network</span></a></h1>
  <button class="btn btn--plain header__btn js-nav-open" type="button">Menu</button>
  <button class="btn btn--plain header__btn header__btn--close js-nav-close" type="button"><span>Close menu</span></button>
</header>
