<header class="header header--mobile sticky" role="banner">
  <h1 class="h3 header__title"><a href="/">{{>icon name="logo" class="icon"}} <span class="text">Street Support</span></a></h1>
  <button class="btn btn--plain header__btn js-nav-open" type="button">Menu</button>
  <div class="current-city">
    <span class="js-current-city"></span>
  </div>
</header>
