<nav class="nav__container js-nav-container nav--mobile">
  <button class="btn btn--plain nav__btn js-nav-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>
  <ul class="nav__list">
    <li class="nav__item"><a href="/">Home</a></li>
    <li class="nav__item nav__item--manchester nav__item--city-specific js-city-nav-item" data-city="manchester">
      <a href="/manchester">Manchester</a>
      <ul class="nav__list nav__list--sub-list">
        {{> manchester/nav }}
      </ul>
    </li>
    <li class="nav__item nav__item--leeds nav__item--city-specific js-city-nav-item" data-city="leeds">
      <a href="/leeds">Leeds</a>
      <ul class="nav__list nav__list--sub-list">
        {{> leeds/nav }}
      </ul>
    </li>
    <li class="nav__item nav__item--portsmouth nav__item--city-specific js-city-nav-item" data-city="portsmouth">
      <a href="/portsmouth">Portsmouth</a>
      <ul class="nav__list nav__list--sub-list">
        {{> portsmouth/nav }}
      </ul>
    </li>
    <li class="nav__item nav__item--bournemouth nav__item--city-specific js-city-nav-item" data-city="bournemouth">
      <a href="/bournemouth">Bournemouth</a>
      <ul class="nav__list nav__list--sub-list">
        {{> bournemouth/nav }}
      </ul>
    </li>
    <li class="nav__item nav__item--bradford nav__item--city-specific js-city-nav-item" data-city="bradford">
      <a href="/bradford">Bradford</a>
      <ul class="nav__list nav__list--sub-list">
        {{> bradford/nav }}
      </ul>
    </li>
    <li class="nav__item nav__item--elsewhere nav__item--city-specific js-city-nav-item" data-city="elsewhere">
      <a href="/">Another Location</a>
      <ul class="nav__list nav__list--sub-list">
      {{> no-location/nav }}
      </ul>
    </li>
    {{> header-nav }}
  </ul>
</nav>
