<nav class="nav__container js-nav-container nav--mobile">
  <button class="btn btn--plain nav__btn js-nav-close" type="button"><span>Close menu</span></button>
  <ul class="nav__list">
    <li class="nav__item nav__item--hidden"><a href="/"><span class="hide-screen">Home</span></a></li>
    {{> header-nav }} 
    {{> manchester/nav }}
  </ul>
</nav>
