<nav class="nav__container js-nav-container nav--mobile">
  <ul class="nav__list">
    {{> header-nav }} 
    {{> bradford/nav }}
    {{> bournemouth/nav }}
    {{> leeds/nav }}
    {{> liverpool/nav }}
    {{> manchester/nav }}
    {{> portsmouth/nav }}
    {{> southampton/nav }}
  </ul>
</nav>
