<div class="block__section">
  <p>No items for your selected location were found. If you know of local organisations that could be included here, please use our <a href="/register">registration form, or <a href="mailto:info@streetsupport.net">let us know</a>.</a></p>
</div>
