<noscript>
  <div class="block block--promo">
    <div class="container">
      <div class="block__content">
        <p>Sorry, your device does not appear to have JavaScript enabled. You can access Street Support on any device with JavaScript.</p>
      </div>
    </div>
  </div>
</noscript>
