<noscript>
  <div class="block block--intro">
    <div class="container block__inner">
      <p>Sorry, your device does not appear to have JavaScript enabled. You can access Street Support on any device with JavaScript.</p>
      <p>JavaScript is a requirement during the beta launch. Alternatives are currently being considerated as part of the full launch.</p>
    </div>
  </div>
</noscript>
