  \{{#swepIsAvailable}}
  <div class="cta--swep-notification">
    <a href="/\{{id}}/severe-weather-accommodation/" class="btn btn--brand-g">
      <span class="btn__text">Severe Weather Emergency Accomodation is available</span>
    </a>
  </div>
  \{{/swepIsAvailable}}