<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--crisis-wolverhampton"><a href="https://www.crisis.org.uk/">{{> icon name="crisis-wolverhampton"}}</a></li>
  <li class="partners__logo partners__logo--wmca"><a href="https://www.wmca.org.uk">{{> icon name="wmca"}}</a></li>
  <li class="partners__logo partners__logo--birm-council"><a href="https://www.birmingham.gov.uk">{{> icon name="birm-council"}}</a></li>
  <li class="partners__logo partners__logo--cov-city-council"><a href="https://www.coventry.gov.uk/">{{> icon name="cov-city-council"}}</a></li>
  <li class="partners__logo partners__logo--dudley-council"><a href="https://www.dudley.gov.uk">{{> icon name="dudley-council"}}</a></li>
  <li class="partners__logo partners__logo--sandwell-council"><a target="blank" href="https://www.sandwell.gov.uk">{{> icon name="sandwell-council"}}</a></li>
  <li class="partners__logo partners__logo--solihull-council"><a target="blank" href="https://www.solihull.gov.uk/">{{> icon name="solihull-council"}}</a></li>
  <li class="partners__logo partners__logo--wal-council"><a target="blank" href="https://go.walsall.gov.uk">{{> icon name="wal-council"}}</a></li>
  <li class="partners__logo partners__logo--wolves-city-co"><a href="https://www.wolverhampton.gov.uk">{{> icon name="wolves-city-co"}}</a></li>
  <li class="partners__logo partners__logo--sandwell-foodbank"><a target="blank" href="https://smethwick.foodbank.org.uk">{{> icon name="sandwell-foodbank"}}</a></li>
  <li class="partners__logo partners__logo--scah"><a target="blank" href="https://www.scah.org.uk/">{{> icon name="scah"}}</a></li>
  <li class="partners__logo partners__logo--sol-foodbank"><a target="blank" href="https://www.trusselltrust.org/get-help/find-a-foodbank/kingfisherfoodbank//">{{> icon name="sol-foodbank"}}</a></li>
  <li class="partners__logo partners__logo--solihull-ca"><a target="blank" href="http://www.casb.org.uk/">{{> icon name="solihull-ca"}}</a></li>
  <li class="partners__logo partners__logo--wal-rmc"><a target="blank" href="https://rmcentre.org.uk">{{> icon name="wal-rmc"}}</a></li>
  <li class="partners__logo partners__logo--whg"><a target="blank" href="https://www.whg.uk.com">{{> icon name="whg"}}</a></li>
</ul>
