---
title: Emergency Homeless Help in Rochdale - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/emergency-help/">Emergency Advice</a></li>
      <li class="breadcrumbs__item">Rochdale</li>
    </ol>
  </div>
</div>

{{> page-header main="Rochdale Council" sub="How your council can help if you are facing homelessness" }}

<div class="block">
  <div class="container">
    <div class="block__content">
     
      <a name="council-info"></a>
      <h2 class="h2">Support from Rochdale Council</h2>
      <p>To tell Rochdale council you are homeless:</p>
      <ul>
        <li>Visit Rochdale council town hall</li>
        <li>Call 0300 303 8548 (Mon/Tue/Fri 9.30am-3pm, Wed/Thu 1-3pm)</li>
        <li>Outside those hours in an emergency call 0300 303 8875</li>
        <li>Email <a href="mailto:housing.homelessness@rbh.org.uk">housing.homelessness@rbh.org.uk</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During periods of severe cold weather, when forecast to fall to zero degrees or below, additional emergency accommodation is provided by the council. The usual guidelines over who the council has a duty to provide emergency accommodations for are lifted, and extra provision is made for rough sleepers, regardless of their status. To establish whether or not this is a severe cold weather period, people are advised to contact your council.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
