---
title: Severe Weather Emergency Accommodation in Bournemouth - Street Support
description: Severe Weather Emergency Accommodation provision in Bournemouth.
image: https://streetsupport.net/assets/img/og/street-support-bournemouth.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: bcp
page: bcp-advice
location: bcp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bcp/">Bournemouth, Christchurch &amp; Poole</a></li>
      <li class="breadcrumbs__item"><a href="/bcp/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="bcp" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Severe Weather Emergency Provision Protocol for Bournemouth and Poole has been triggered, and will remain in place until further notice.</p>
      <p>The BCP Street Outreach Service (BCPSOS) in conjunction with the BCP Council Housing team have set aside emergency accommodation for those who are sleeping on the street.  In advance of SWEP being activated they have been in contact with those known to be rough sleeping.</p>
      <p>When SWEP is activated, BCPSOS will work with partners to locate all those who are rough sleeping, and offer them a place within the assigned emergency accommodation.  Anyone with information to help find such a person should call the BCPSOS team on <a href="tel:01202 315962 ">01202 315962 </a> or email <a href="mailto:b&pstreetoutreach@mungos.org">b&pstreetoutreach@mungos.org</a></p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Members of the public are encouraged to:</h2>
      <ul>
        <li>Contact BCPSOS team on <a href="tel:01202 315962">01202 315962</a> or email <a href="mailto:b&pstreetoutreach@mungos.org">b&pstreetoutreach@mungos.org</a></li>
        <li>Dial 999 if someone needs emergency help.</li>
        <li>Remember that <a href="https://thestreetlink.org.uk/start">Streetlink</a> is not an emergency service - we do not get the referrals immediately so it's best to use <a href="tel:01202315962">01202 315962</a> during periods that SWEP is activated.</li>
      </ul>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>SWEP is activated when the temperature is forecast to drop below 0 degrees Celsius for three consecutive nights, or when there is severe rain or storms predicted.</p>
    </div>
    {{> social-share}}
  </div>
</div>
