---
title: Emergency Homeless Help in Wigan and Leigh - Street Support
description: Street support makes it easier to help people facing homelessness in Wigan and Leigh. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-wigan-and-leigh.jpg
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: wigan-and-leigh
page: wigan-and-leigh-advice
location: wigan-and-leigh
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/wigan-and-leigh/">Wigan and Leigh</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header theLocationId="wigan-and-leigh" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <a name="council-info"></a>
      <h2 class="h2">Support from Wigan & Leigh Council</h2>
      <p>To talk to Wigan council about being homeless:</p>
      <ul>
        <li>Visit Wigan Life Centre at The Wiend, Wigan, WN1 1NH (Mon-Fri 9am-5pm, Sat 9am-2pm)</li>
        <li>Visit Leigh Life Centre at Turnpike Centre, Civic Square, Market Street, Leigh, WN7 1EB (- )Mon-Fri 9am-5pm, Sat 9am-2pm)</li>
        <li>Call <a href="tel:01942487717">01942 487717</a> (Mon-Fri 9am-5pm)</li>
        <li>Outside those hours in an emergency call <a href="tel:01942828777">01942 828777</a></li>
        <li><a href="https://www.wigan.gov.uk/Contacts/Council-homes/Housing-difficulties.aspx">Arrange an appointment with wigan council</a></li>
        <li>Email <a href="mailto:hoac@walh.co.uk">hoac@walh.co.uk</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <ul>
        <li>During office hours: Call the Housing Options Team on <a href="tel:01942487732">01942 487 732</a> or people can attend at The Brick, 10 Arcade Street, Wigan. If you are aware of a rough sleeper, please email <a href="mailto:roughsleep@wigan.gov.uk">roughsleep@wigan.gov.uk</a></li>
        <li>Out of hours: Referrals to be made via the duty social worker on <a href="tel:01942828777">01942 828 777</a></li>
      </ul>

      <p>There are outreach workers covering different areas in the city to connect with people who are rough sleeping and helping them to get inside if possible. Each individual is assessed so that appropriate accommodation can be found based on their needs.</p>

      <p>There could be cases where accommodation providers may feel that they are not able to accommodate someone for example through violent behaviour, but the underlying principles of SWEP mean that every effort is made to find somewhere suitable.</p>

      <a href="https://news.streetsupport.net/tag/swep/" class="btn btn--brand-e">
        <span class="btn__text">Read news about SWEP</span>
      </a>

      {{> social-share}}
    </div>
  </div>
</div>