<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--crisis-wolverhampton"><a href="https://www.crisis.org.uk/">{{> icon name="crisis-wolverhampton"}}</a></li>
  <li class="partners__logo partners__logo--wmca"><a href="https://www.wmca.org.uk">{{> icon name="wmca"}}</a></li>
  <li class="partners__logo partners__logo--dudley-council"><a href="https://www.dudley.gov.uk">{{> icon name="dudley-council"}}</a></li>
</ul>
