---
title: About Our Sponsors - Street Support
description: Street Support relies on our generous sponsors for support. Here is more information about them.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: supporters
section: about
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">Our Sponsors</a></li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Sponsors</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <article class="partner">
          <div class="partner__description">
            <p>We rely on grants and donations to develop and support this network, so that more people experiencing homelessness can get the help they need. With the help of our sponsors and partners, we are able to continue this work - co-creating online tools, facilitating workshops, events and conversations, enabling joined up thinking that addresses the gaps and helps the network work more effectively together. Here are some of the organisations that make our work possible&hellip;</p>
          </div>
      </article>
      <article class="partner" id="partner-albert-hunt-trust">
        <div class="partner__description">
          <h2 class="h2"><a href="https://www.alberthunttrust.org.uk/">Albert Hunt Trust</a></h2>
          <p>We are grateful to Albert Hunt Trust for their support and flexibility. They supported us with enhancing our capacity by funding our core cost.  They also helped us to support new locations coming into the network, enabling more people to find help and give help.</p>
        </div>
      </article>
      <article class="partner" id="partner-big-lottery-fund">
        <div class="partner__description">
          <h2 class="h2"><a href="https://www.biglotteryfund.org.uk/">Big Lottery</a></h2>
          <p>Big Lottery have supported us with an AwardsForAll grant. This will enable us to setup to support new locations coming into the network, enabling more people to find help and give help.</p>
        </div>
      </article>
      <article class="partner" id="partner-cityco">
        <div class="partner__description">
          <h2 class="h2"><a href="https://cityco.com/">CityCo</a></h2>
          <p>CityCo have supported our work through communicating out to their business network on how they can help. They recently agreed to support us financially with a monthly donation towards our running costs.</p>
        </div>
      </article>
      <article class="partner" id="partner-dentsu-aegis">
        <div class="partner__description">
          <h2 class="h2"><a href="http://www.dentsuaegisnetwork.com/">Dentsu Aegis Network</a></h2>
          <p>Dentsu Aegis Network - Dentsu Aegis Network have pledged their support this year through providing help with analytics, SEO, marketing and more. Watch this space!</p>
        </div>
      </article>
      <article class="partner" id="partner-forever-manchester">
        <div class="partner__description">
          <h2 class="h2"><a href="https://forevermanchester.com/">Forever Manchester</a></h2>
          <p>With a grant from the Community Support Fund that Forever Manchester administered, we were able to increase our capacity and have a full-time resource within our organisation from Nov 2020 - March 2021 to help with the coordination of people, projects, and resources, communication picking up offers from businesses, supporting cross-sector partnerships, and more</p>
          <p>We are also thankful to National Emergencies Trust in partnership with the Government's Department for Communities, Media, and Sport (DCMS) who provided this fund.</p>
        </div>
      </article>
      <article class="partner" id="partner-gm-mayors-fund">
        <div class="partner__description">
          <h2 class="h2"><a href="https://www.greatermanchester-ca.gov.uk/">GM Mayors Fund</a></h2>
          <p>With a donation from the GM Mayor Fund, we were able to find and map many new organisations in other areas of GM, so that more people are able to find help wherever they are. This also enables the GM homelessness action network to co-ordinate, identify gaps and reduce duplication.</p>
        </div>
      </article>
      <article class="partner" id="partner-holy-name">
        <div class="partner__description">
          <h2 class="h2"><a href="http://www.holyname.info/">Holy Name Manchester</a></h2>
          <p>The Holy Name Church have supported us with developing the Manchester Homelessness Charter section of the website as well as helping to develop the app versions of Street Support Network. They have also helped us add new features to the website, so that more people can 'Find Help' and 'Give Help' in Manchester.</p>
        </div>
      </article>
      <article class="partner" id="partner-human-appeal">
        <div class="partner__description">
          <h2 class="h2"><a href="https://donate.humanappeal.org.uk/">Human Appeal</a></h2>
          <p>Human Appeal have supported us to rollout Street Support to other areas across Greater Manchester. With their grant we were able to refactor streetsupport.net to handle new locations outside of the city, with results based on postcode. We were also able to engage and support more organisations to post their needs, so that donations made during ramandan were more effective.</p>
        </div>
      </article>
      <article class="partner" id="partner-one-agency">
      <div class="partner__description">
        <h2 class="h2"><a href="http://www.oneagencymedia.co.uk/">One Agency</a></h2>
        <p>One Agency have run a number of campaigns for us on social media, including the #FeetOnTheStreets, helping us to reach new audiences.</p>
      </div>
      </article>
      <article class="partner" id="partner-shelter">
        <div class="partner__description">
          <h2 class="h2"><a href="http://england.shelter.org.uk/">Shelter</a></h2>
          <p>Shelter are supporting us to recruit and support someone with lived experience to work with us on Street Support Network for a year, through their <a href="http://inspiringchangemanchester.shelter.org.uk/">GROW trainee programme.</a> The person we recruit will be paid the living wage and expenses, thanks to the generosity of those who donated money to our appeal.</p>
        </div>
      </article>
      <article class="partner" id="partner-others">
        <div class="partner__description">
          <h2 class="h2">Other Partners</h2>
          <p>We are also supported in many other ways by fantastic local organisations and individuals, without whom none of the work we do would make any difference. This includes <a href="http://www.boothcentre.org.uk/">Booth Centre</a>, <a href="https://www.coffee4craig.com/">Coffee4Craig</a> and <a href="http://www.barnabus-manchester.org.uk/">Barnabus</a> amongst many others. Thank you all!</p>
        </div>
      </article>
      <article class="partner">
        <div class="partner__description">
          <h2 class="h2">Partner with us</h2>
          <p>If you would like to sponsor us financially, or partner with us, please contact Gary Dunstan by email <a href="mailto:gary@streetsupport.net">gary@streetsupport.net</a>. You can also find out more about what we do and partnership opportunities <a href="https://streetsupport.net/give-help/business-support/">here.</a></p>
        </div>
      </article>

      {{> social-share}}
    </div>
  </div>
</div>
