---
title: About Our Sponsors - Street Support
description: Street Support relies on our generous sponsors for support. Here is more information about them.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: about
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">Our Sponsors</a></li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Our Sponsors</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>We rely on grants and donations to develop and support this network, so that more people experiencing homelessness can get the help they need. With the help of our sponsors and partners, we are able to continue this work - co-creating online tools, facilitating workshops, events and conversations, enabling joined up thinking that addresses the gaps and helps the network work more effectively together. Here are some of the organisations that make our work possible...</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <article id="partner-human-appeal" class="partner">
        <div class="partner--human-appeal">
          <h2 class="h2"><a href="https://donate.humanappeal.org.uk/">Human Appeal</a></h2>
        </div>
        <p>Human Appeal have supported us to rollout Street Support to other areas across Greater Manchester. With their £10k grant we were able to refactor streetsupport.net to handle new locations outside of the city, with results based on postcode. We were also able to engage and support more organisations to post their needs, so that donations made during ramandan were more effective.</p>
      </article>
      <article id="partner-greater-mayors-fund" class="partner">
        <div class="partner--greater-mayors-fund">
          <h2 class="h2"><a href="https://www.greatermanchester-ca.gov.uk/">GM Mayors Fund</a></h2>
        </div>
        <p>With a £5k donation from the GM Mayor Fund, we were able to find and map many new organisations in other areas of GM, so that more people are able to find help wherever they are. This also enables the GM homelessness action network to co-ordinate, identify gaps and reduce duplication.</p>
      </article>
      <article id="partner-big-lottery-fund" class="partner">
        <div class="partner--big-lottery-fund">
          <h2 class="h2"><a href="https://www.biglotteryfund.org.uk/">Big Lottery</a></h2>
        </div>
        <p>Big Lottery have supported us with an AwardsForAll grant of £10k. This will enable us to setup to support new locations coming into the network, enabling more people to find help and give help.</p>
      </article>
      <article id="partner-bruntwood" class="partner">
        <div class="partner--bruntwood">
          <h2 class="h2"><a href="http://bruntwood.co.uk/">Bruntwood</a></h2>
        </div>
        <p>Bruntwood have supported us since early 2016 by providing free desk space in their offices so that we can keep our costs as low as possible.</p>
      </article>
      <article id="partner-cityco" class="partner">
        <div class="partner--cityco">
          <h2 class="h2"><a href="https://cityco.com/">CityCo</a></h2>
        </div>
        <p>CityCo have supported our work through communicating out to their business network on how they can help. They recently agreed to support us financially with a donation of £500/month towards our running costs.</p>
      </article>
      <article id="partner-one-agency" class="partner">
      <div class="partner--one-agency">
        <h2 class="h2"><a href="http://www.oneagencymedia.co.uk/">One Agency</a></h2>
      </div>
      <p>One Agency have run a number of campaigns for us on social media, including the #FeetOnTheStreets, helping us to reach new audiences.</p>
      </article>
      <article id="partner-dentsu" class="partner">
        <div class="partner--dentsu">
          <h2 class="h2"><a href="http://www.dentsuaegisnetwork.com/">Dentsu Aegis Network</a></h2>
        </div>
        <p>Dentsu Aegis Network - Dentsu Aegis Network have pledged their support this year through providing help with analytics, SEO, marketing and more. Watch this space!</p>
      </article>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>We are also supported in many other ways by fantastic local organisations and individuals, without whom none of the work we do would make any difference. This includes <a href="http://www.boothcentre.org.uk/">Booth Centre</a>, <a href="https://www.coffee4craig.com/">Coffee4Craig</a>, <a href="http://www.barnabus-manchester.org.uk/">Barnabus</a> and <a href="http://england.shelter.org.uk/">Shelter</a>, amongst many others. Thank you all!</p>
      <p>If you would like to sponsor us financially, or partner with us, please contact Gary Dunstan on 07824 667709 or email <a href="mailto:gary@streetsupport.net">gary@streetsupport.net</a>. You can also find out more about what we do and partnership opportunities <a href="https://streetsupport.net/give-help/partnership/">here</a></p>

      {{> social-share}}
    </div>
  </div>
</div>
