---
title: Information for Organisations - Street Support
description: Street support makes it easier to help people facing homelessness. Here is how to connect.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
section: about
page: about-organisations
jsBundle: generic
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about">About</a></li>
      <li class="breadcrumbs__item">Organisations</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Registering your Organisation and Administration</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support is an independent organisation that is a trusted source of information on homelessness in our featured locations. In order to maintain a good standard of information, we only list organisations that match our values.</p>
  
      <h2 class="h2">Registering Your Organisation</h2>
      <p>If your organisation is not yet listed, you can <a href="/register">register your organisation's key details here</a>. Please note we are only currently active in selected locations - you can see where we are currently on the <a href="/">Street Support Network homepage</a>.</p>
      <p>Once registered, you can <a href="https://admin.streetsupport.net/login">log into the administration area</a>, and update your information there.</p>
      <h3 class="h3">Street Support are not in my area yet</h3>
      <p>Listing your services is just the first step; to discuss how Street Support Network can help your city can work in partnership, and create long lasting solutions through co-production, please <a href="mailto:gary@streetsupport.net">contact gary@streetsupport.net</a>.</p>

      <h2 class="h2">My Organisation is already listed; how do I update the information?</h2>
      <p>Our researchers may have already added your organisation and services. To get a login to update the information yourself, please contact <a href="mailto:orgs@streetsupport.net">orgs@streetsupport.net</a>.</p>
      <h3 class="h3">I've forgotten my password</h3>
      <p>To reset your password, you should use the "Don't remember your password?" link, on the login form.</p>

      <h2 class="h2">I've noticed something wrong with the information on the site</h2>
      <p>Please note, all information is provided by organisations in the network. Whilst we do all we can to support, it is really important that organisations update their own service details if they change. Please <a href="/about/contact">get in touch</a> if you spot anything that is incorrect or missing.</p>

      {{> social-share}}
    </div>
  </div>
</div>
