---
title: Information for Organisations - Street Support
description: Street support makes it easier to help homeless people. Here is how to connect.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
section: about
jsBundle: generic
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about">About</a></li>
      <li class="breadcrumbs__item">Organisations</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Registering your Organisation</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support is an independent organisation that is a trusted source of information on homelessness in our featured cities. In order to maintain a good standard of information, we only list organisations that match our values.</p>

      <p>Each city has a panel that decides who to include on Street Support. In Manchester, our guidelines are as follows:</p>
      <ol>
        <li>Incorporate the Vision and the Values embodied in the <a href="https://charter.streetsupport.net/">Manchester Homelessness Charter</a></li>
        <li>Commit to working together by contributing to and adhering to the aims of the Manchester Homelessness Partnership</li>
        <li>Ensure safeguarding standards are met, and the needs of a wider community are respected</li>
      </ol>

      <h2 class="h2">Connecting to the local network</h2>
      <p>Organisations in and around Manchester should join <a href="/manchester/cor/">Coalition of Relief</a>, to work towards and achieve the best practice benchmark.</p>
      <p>If you are an organisation from another city, please <a href="/about/contact">get in touch</a> and we will help connect you with your local network.</p>

      <h2 class="h2">Service updates</h2>
      <p>Please note, all information is provided by organisations in the network. Whilst we do all we can to support, it is really important that organisations update their own service details if they change. Please <a href="/about/contact">get in touch</a> if you spot anything that is incorrect or missing.</p>

      {{> social-share}}
    </div>
  </div>
</div>
