---
title: Severe Weather Emergency Accommodation in Blackpool - Street Support
description: Severe Weather Emergency Accommodation provision in Blackpool.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: blackpool
page: blackpool-advice
location: blackpool
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/blackpool/">Blackpool</a></li>
      <li class="breadcrumbs__item"><a href="/blackpool/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="blackpool" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the winter months, emergency beds are available for rough sleepers.</p>
      <p>Insert content here!</p>

    {{> social-share}}
    
  </div>
</div>