---
title: Big Change Manchester - Street Support
description: Big Change pays for practical items for individuals. Here's more information on Big Change partners.
image: https://streetsupport.net/assets/img/og/manchester-big-change.png
layout: default.hbs
permalink: false
jsBundle: bigchange
section: bigchange
page: bigchangepartners
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/bigchangemcr/">Big Change</a></li>
      <li class="breadcrumbs__item">Partners</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Big Change Partners</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <div class="block__section">
        <h2 class="h2">Who can apply for Big Change funding?</h2>
        <p>Big Change is here for any individual experiencing homelessness. If you are sleeping rough and want to apply for funds to help you get off the street, you need to get in touch with one of our partner charities or organisations. These agencies will work with you and apply for funds on your behalf:</p>

        <article>
        <h3 class="h3">Barnabus</h3>
        <p>Barnabus is a Christian Homeless Charity based in Manchester.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=barnabus">
          <span class="btn__text">More information about Barnabus</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Booth Centre</h3>
        <p>The Booth Centre is a day centre offering activities, advice and support.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=booth-centre">
          <span class="btn__text">More information about Booth Centre</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Coffee4Craig</h3>
        <p>Coffee4Craig is a not-for-profit organisation that run street kitchens and also work one to one with people on the streets, signposting to relevant services and offering advice.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=coffee4craig">
          <span class="btn__text">More information about Coffee4Craig</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Cornerstone</h3>
        <p>Cornerstone is a day centre providing services to adults facing a wide range of social issues including homelessness.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=cornerstone-day-centre">
          <span class="btn__text">More information about Cornerstone</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Lifeshare</h3>
        <p>Lifeshare offers practical assistance, support and information to young homeless people.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=lifeshare">
          <span class="btn__text">More information about Lifeshare</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Mustard Tree</h3>
        <p>Mustard Tree exists to create choice and opportunity for people who are homeless and marginalised.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=mustard-tree">
          <span class="btn__text">More information about Mustard Tree</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Shelter</h3>
        <p>Shelter is a national housing and homelessness charity.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=shelter">
          <span class="btn__text">More information about Shelter</span>
        </a>
        </article>
        <article>
        <h3 class="h3">Urban Village Medical Practice</h3>
        <p>Urban Village Medical Practice is the main provider of primary health care to homeless people in Manchester.</p>
        <a class="btn btn--brand-d btn--full" href="/find-help/organisation/?organisation=urban-village-medical-practice">
          <span class="btn__text">More information about Urban Village</span>
        </a>
      </div>

      <div class="block__section">
        <h2 class="h2">Who decides how the fund is spent?</h2>
        <p>The Big Change panel includes: one representative from an established organisation; two representatives from member organisations of Manchester’s Coalition of Relief; one ex-rough sleeper who is in long term support; and one representative from CityCo.</p>
        <p>We know it’s important to make the application process simple and quick for the Big Change fund to effectively help people who are homeless. That’s why for items under &pound;100, our partner organisations and charities can claim through an online application form (only agencies who have signed the Big Change agreement have access to this form).</p>
        <p>For items over &pound;100 the Big Change panel reviews each application against the guidelines for the fund and checks if there are any other opportunities available which could fulfil the request. Decisions are made within 48 hours.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">How can my organisation become a partner?</h2>
        <p>If your organisation provides a service to support people who are homeless in Manchester and you would like to discuss how to become an approved Big Change partner please contact the Big Change Secretary on 0345 1122211 or email <a href="mailto:bigchange@streetsupport.net">bigchange@streetsupport.net</a>.</p>
      </div>

      <div class="block__section">
        <h2 class="h2">How can i find out about the latest news?</h2>
        <p>Read the latest <a href="http://news.streetsupport.net/tag/big-change-mcr/">Big Change News</a>, or follow us on <a href="https://www.facebook.com/streetsupport">Facebook</a> or <a href="https://twitter.com/streetsupportuk">Twitter</a> to keep up to date with the latest information about the Big Change campaign and homelessness in Manchester.</p>
        <p class="text-center">
          <a href="http://campaign.justgiving.com/charity/forevermanchester/bigchangemcr" class="btn btn--brand-e btn--full">
            <span class="btn__text">Donate to Big Change</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
