<div class="block block--bcp-changeforgood">
  <div class="container">
    <div class="block__bcp-changeforgood">
      <img src="/assets/img/bcp-banner.png" width="100%" alt="bournemouth, christchurch and poole landmarks" />
    </div>
    <div class="home__copy home__copy--bcp-changeforgood">
      <h1>Change For Good Bournemouth, Christchurch &amp; Poole</h1>
      <p>'Change For Good' is a central fund that supports individuals who are homeless to move away from the streets of Bournemouth, Christchurch &amp; Poole.</p>
      <p><a href="/find-help/all-service-providers/">Local charities and organisations</a> work directly with individuals who are homeless, and apply for funds to pay for items they need.</p>
      <p>Your donations will help pay for things like the deposit to rent a home, a training course, or clothes for a job interview - practical things that could lead to change for good.</p>
      <p>The fund is managed by <a href="https://www.dorsetcommunityfoundation.org/">Dorset Community Foundation</a>, (Reg. Charity Number: 1122113).</p>
      
      <a class="btn btn--brand-e" href="https://www.justgiving.com/campaign/changeforgoodBournemouth">
        <span class="btn__text">Donate Now</span>
      </a>
    </div>
  </div>
</div>
