<div class="block block--home-promo">
  <div class="container">
    <div class="block__content">
      <h1 class="text-center">Supporting homeless people in Bournemouth</h1>
      <p class="text-center">Street Support Bournemouth is an initiative of the Bournemouth Homelessness Action Collaborative who have agreed a charter to work together to end rough sleeping in the town.</p>
      <p class="text-center">We are looking for businesses and organisations in Bournemouth to support us so that we can continue to develop this resource. If you are a Bournemouth based organisation <a href="/about/contact">get in touch</a>.</p>

      <p>The Charter has been created to demonstrate the commitment of all parts of the community to help rough sleepers overcome their challenges.  This is the key statement:</p>
      <p class="h2 text-center">"We, (the undersigned partners), share the goals of reducing rough sleeping and assisting people to make positive moves off the street into safe and sustainable accommodation, where they can rebuild their lives and re-integrate into the community."</p>
    
    </div>
  </div>
</div>
