<li class="nav__item nav__item--hub-nav" data-city="bournemouth">
  <dl class="hub-nav-container">
    <dt data-city="bournemouth" class="nav__item nav__item--bournemouth">
      <a href="/bournemouth/"
        class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Bournemouth, Christchurch
        &amp; Poole</a>
    </dt>
    <dd>
      <ul>
        <li data-city="bournemouth" class="nav__item nav__item--bournemouth-advice">
          <a href="https://www.justgiving.com/campaign/changeforgoodBournemouth"
            class="nav__item-link nav__item-link--location-item">Donate Now</a>
        </li>
        <li data-city="bournemouth" class="nav__item nav__item--bournemouth-advice">
          <a href="/bournemouth/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>