<li data-city="bournemouth" class="nav__item nav__item--bournemouth">
  <a href="/bournemouth/" class="nav__item-link">Bournemouth</a>
</li>
<li data-city="bournemouth" class="nav__item nav__item--bournemouth-emergency-help">
  <a href="/bournemouth/emergency-help" class="nav__item-link">Emergency Help</a>
</li>
<li data-city="bournemouth" class="nav__item nav__item--bournemouth-swep">
<a href="/bournemouth/severe-weather-accommodation" class="nav__item-link">Severe Weather Accommodation</a>
</li>