<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--bournemouth-uni"><a href="https://www1.bournemouth.ac.uk/"><span class="hide-screen">Bournemouth University</span></a></li>
  <li class="partners__logo partners__logo--dorset-pcc"><a href="https://www.dorset.pcc.police.uk/"><span class="hide-screen">Dorset Police and Crime Commissioner</span></a></li>
  <li class="partners__logo partners__logo--dorset-comm-fdn"><a href="https://www.dorsetcommunityfoundation.org/"><span class="hide-screen">Dorset Community Foundation</span></a></li>
  <li class="partners__logo partners__logo--bournemouth-council"><a href="https://www.bournemouth.gov.uk/"><span class="hide-screen">Bournemouth Council</span></a></li>
  <li class="partners__logo partners__logo--poole-council"><a href="https://www.poole.gov.uk/"><span class="hide-screen">Poole Council</span></a></li>
  <li class="partners__logo partners__logo--national-lottery"><a href="https://www.biglotteryfund.org.uk/"><span class="hide-screen">Big Lottery Fund</span></a></li>
</ul> 
