<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--bournemouth-uni"><a href="https://www1.bournemouth.ac.uk/">{{> icon name="bournemouth-uni"}}</a></li>
</ul> 
