<div class="block">
  <div class="container">
    <div class="block__content">
      <header class="multi-form-header">
        <h1 class="h1">Accommodation</h1>
        <p>Accommodation available depends on a persons needs and situation. We recommend that you first contact your <a href="find-help/support/">local support services</a>.</p>
      </header>
    </div>
  </div>
</div>