<nav class="block-tabs block-tabs--cards">
  <div class="block-tabs__container">
    <a class="block-tabs__tab{{#if listSelected}} block-tabs__tab--selected{{/if}}" href="/find-help/accommodation/listing/">List View</a>
    <a class="block-tabs__tab{{#if mapSelected}} block-tabs__tab--selected{{/if}}" href="/find-help/accommodation/listing/map ">Map View</a>
  </div>
</nav>