---
title: About Our Team - Street Support
description: Street support makes it easier to help people facing homelessness. Here is the team behind it.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: team
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Team</li>
    </ol>
  </div>
</div>

<div class="block block--our-team">
  <div class="container">
    <div class="block__content">
        <h1 class="h1">Our Core Team</h1>
        <p>We’re your everyday people, your first port of call. We cover a fair bit between us, so please get in touch with whatever you need.</p>
        <div class="team-card-container">
          <div class="team-card">
            <img class="team-card__img" src="/assets/img/mugshots/gary-dunstan.jpg" alt="">
            <h1 class="team-card__heading">Gary Dunstan</h1>
            <h2 class="team-card__subheading">Co-Founder</h2>
            <p class="team-card__content">Gary leads on connecting and supporting partnerships in our locations, with a focus on new cities and regions, and around engaging businesses.</p>
            <a href="mailto:gary@streetsupport.net">Contact Gary</a>
          </div>

          <div class="team-card">
            <img class="team-card__img" src="/assets/img/mugshots/soraya.jpg" alt="">
            <h1 class="team-card__heading">Soraya Sheikh</h1>
            <h2 class="team-card__subheading">Network Manager</h2>
            <p class="team-card__content">Soraya works alongside Gary connecting and supporting partnerships in our locations, with a focus on harnessing the power of the network nationally by sharing knowledge, activities and best practice.</p>
            <a href="mailto:soraya@streetsupport.net">Contact Soraya</a>
          </div>

          <div class="team-card">
            <img class="team-card__img" src="/assets/img/mugshots/james-cross.jpg" alt="">
            <h1 class="team-card__heading">James Cross</h1>
            <h2 class="team-card__subheading">Website Developer</h2>
            <p class="team-card__content">James provides support to locations and organisations with creating useful pathways with which our users can access information.</p>
            <a href="mailto:james@streetsupport.net">Contact James</a>
          </div>

          <div class="team-card">
            <img class="team-card__img" src="/assets/img/mugshots/mara.jpg" alt="">
            <h1 class="team-card__heading">Mara Patraiko</h1>
            <h2 class="team-card__subheading">Comms & Engagement</h2>
            <p class="team-card__content">Mara comes to us from a background of marketing after she decided that the charity sector is where she wants to be. Mara designs and delivers all things communication and content.</p>
            <a href="mailto:mara@streetsupport.net">Contact Mara</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="block block--our-team">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Our Partnership Co-ordinators</h1>
      <p>Based within their respective areas but with one foot in our door, our partnership coordinators work alongside us to build local networks and continually support the homelessness sector in their locations.</p>
      <div class="team-card-container">
        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/eliz.jpg" alt="">
          <h1 class="team-card__heading">Eliz Hopkins</h1>
          <h2 class="team-card__subheading">West Midlands</h2>
          <p class="team-card__content">Eliz has been working in an administrative capacity for the homelessness charity Crisis at their Skylight service in Birmingham since 2018. Eliz took on the role of Street Support Network Coordinator for the West Midlands in August 2021</p>
          <a href="mailto:westmidlands@streetsupport.net">Contact Eliz</a>
        </div>

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/philippa.jpg" alt="">
          <h1 class="team-card__heading">Philippa Iwnicki</h1>
          <h2 class="team-card__subheading">Greater Manchester</h2>
          <p class="team-card__content">Philippa’s lived in Manchester all her life and has worked across a range of different sectors within Housing and Homelessness. As the GMHAN co-ordinator, Philippa is working to build on the partnership network across Greater Manchester.</p>
          <a href="mailto:info@gmhan.net">Contact Philippa</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="block block--our-team">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Our location’s contacts</h1>
      <p>We’re so lucky to be supported by a host of brilliant people who manage their local Street Support networks. If your query is about a specific location, get in touch with them - you’ll be in great hands.</p>
      <div class="team-card-container">

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/tim.jpg" alt="">
          <h1 class="team-card__heading">Tim Jones</h1>
          <h2 class="team-card__subheading">Brighton & Hove</h2>
          <p class="team-card__content">Tim Jones is City Administrator for Street Support in Brighton and Hove where he has lived for the best part of two decades. Tim came to Brighton to pursue a first degree in Computer Science and works as a pastor and teacher for Emmanuel church.</p>
          <a href="mailto:brightonandhove@streetsupport.net">Contact Tim</a>
        </div>

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/helen.jpg" alt="">
          <h1 class="team-card__heading">Helen Wilkenson</h1>
          <h2 class="team-card__subheading">Chelmsford</h2>
          <p class="team-card__content">Helen first started volunteering with Cool to be Kind, helping with their marketing and raising awareness regarding the setting up and the launch of Street Support Chelmsford. She provides support for the organisations listed on Street Support Chelmsford site and is a key contact for the Chelmsford Street Support network.</p>
          <a href="mailto:chelmsford@streetsupport.net">Contact Helen</a>
        </div>

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/crispin.jpg" alt="">
          <h1 class="team-card__heading">Crispin Pailing</h1>
          <h2 class="team-card__subheading">Liverpool</h2>
          <p class="team-card__content">Crispin works in the voluntary and charitable sector and leads a multi-agency campaign group called Change Liverpool, bringing together business, charity and local authority stakeholders for a coordinated approach to homelessness and rough sleeping in Liverpool.</p>
          <a href="mailto:liverpool@streetsupport.net">Contact Cripsin</a>
        </div>

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/tim-a.jpg" alt="">
          <h1 class="team-card__heading">Tim Archibold</h1>
          <h2 class="team-card__subheading">Luton</h2>
          <p class="team-card__content">Tim joined Signposts in July 2016 as Operations Manager and took over as CEO in July 2020. He brings with him over 13 year's experience working in the sector, having held a senior leadership role with NOAH Enterprise and Luton Borough Council prior to joining the Signposts team.</p>
          <a href="mailto:luton@streetsupport.net">Contact Tim</a>
        </div>

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/paul.jpg" alt="">
          <h1 class="team-card__heading">Paul Scotting</h1>
          <h2 class="team-card__subheading">Nottingham</h2>
          <p class="team-card__content">After a career as a lecturer in Genetics, Paul is using his retirement to volunteer with several organisations working with homeless people. This has led to his roles in coordinating activities across the homelessness sector in Nottingham.</p>
          <a href="mailto:nottingham@streetsupport.net">Contact Paul</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="block block--our-team">
  <div class="container">
    <div class="block__content">
      <h1 class="h1">Our Volunteers</h1>
      <p>Our band of volunteers handle all things data, and are crucial to the building of services on our site. If you have something you’d like our volunteers to work on, please <a href="mailto:soraya@streetsupport.net">contact Soraya</a>.</p>
      <div class="team-card-container">

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/james-goddard.jpg" alt="">
          <h1 class="team-card__heading">James Goddard</h1>
          <p class="team-card__content">I recently graduated in Economics and Econometrics and have wanted to scratch my data handling itch since graduating. I feel happiest when I'm active and engaged, so I'm desperate to utilize my skills.</p>
        </div>

        <div class="team-card">
          <img class="team-card__img" src="/assets/img/mugshots/zahara.jpg" alt="">
          <h1 class="team-card__heading">Zahara Elj</h1>
          <p class="team-card__content">I am a mum of two with great attention to detail and am literally in love with being organised! Giving back to the community is part of my everyday life and I appreciate the autonomy of data handling while helping others. I firmly believe that volunteering has a positive impact on the person giving, the person receiving and the community as a whole; I am very happy supporting the task that Street Support Network have set themselves while gaining new skills.</p>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">

      {{> divider }}


      <p>We also have help from some amazing digital experts as needed. Here are a few of the people that have helped us along the way&hellip;</p>

      <h2 class="h2">Vince Lee - Lead Developer</h2>
      <p>Vince is an experienced full stack developer who has led the development of Street Support Network from the start. He is a safe pair of hands, always reliable and dedicated to social change.</p>

      <h1 class="h2">Oleksandr Seliuchenko - Freelance Developer</h1>
      <p>In recent years, Sasha has helped us out with a lot specific development tasks and projects. He always seems to be there when we need him and we're hugely grateful for his support.</p>

      <h2 class="h2">Alex Atkinson - Designer</h2>
      <p>Alex is an experienced designer, generously giving his time for free to Street Support Network - we couldn't have done this without him!</p>

      <h2 class="h2">Liam Roughley - Designer</h2>
      <p>Liam is the creativity behind the fantastic illustrations that you see at the top of our location homepages. His artwork really captures the unique nature of each location.</p>

      {{> social-share}}
    </div>
  </div>
</div>
