---
title: About Our Team - Street Support
description: Street support makes it easier to help people facing homelessness. Here is the team behind it.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: team
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Team</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Team</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2>Network Support Team</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--gary">
          <h2 class="h2">Gary Dunstan - Co-Founder</h2><a href="mailto:gary@streetsupport.net">Contact Gary</a>
        </div>
        <h4>Gary leads on connecting and supporting partnerships in our locations, with a focus on new cities and regions, and around engaging businesses.</h4>
        <p>Gary has spent many years helping individuals and businesses with their ideas. Viv and Gary met at a social enterpreneurs event, and soon realised they shared the same core values, and had complimentary skills. The rest is history.</p>

      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--soraya">
          <h2 class="h2">Soraya Sheikh - UK Network Co-Ordinator</h2><a href="mailto:soraya@streetsupport.net">Contact Soraya</a>
        </div>
        <h4>Soraya supports locations across the UK to maximise the benefits of being part of Street Support Network.</h4>
        <p>Soraya worked for the Manchester based homelessness charity, Mustard Tree — for six years. Initially coordinating their employment and life skills programme for vulnerable adults, and then as their Corporate Partnerships Manager. After taking a career break to travel and focus on self development, Soraya has joined Street Support to bring her experience in building partnerships, communication and collaborative working. She is passionate about living a heart centred life and strives to surround herself with like minded people who share her vision of creating a more harmonious world for future generations.</p>

      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--james">
          <h2 class="h2">James Cross - Organisations Support</h2><a href="mailto:james@streetsupport.net">Contact James</a>
        </div>
        <h4>James provides support to organisations across the UK that have issues with how their data is presented on the Street Support website</h4>
        <p>James came to us in summer last year, he started helping out by creating organisation entries for Greater Manchester and his main concern now is to ensure information is accurate and correct. James also looks after a lot of internal support. A developer in the making, James works on smaller elements of the site. But if things get a bit scary he calls Vince.</p>

      </article>

        <h2>Greater Manchester Team</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--viv">
          <h2 class="h2">Viv Slack - Co-Founder</h2><a href="mailto: viv@streetsupport.net">Contact Viv</a>
        </div>
        <h4>Viv leads on understanding the changing situation in GM and beyond, functional aspects of the website, strategic direction of the organisation, & supporting the team.</h4>
        <p>Viv worked in web development for many years with major brands and charities, including Oxfam and Amnesty International. Since 2015 she has supported local social enterprises to use technology to make a difference. Street Support Network emerged from conversations with local people facing homelessness and frontline organisations about where they needed help.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--joanne">
          <h2 class="h2">Joanne Wilson - GM Network Co-Ordinator</h2><a href="mailto:jo@streetsupport.net">Contact Jo</a>
        </div>
        <h4>Jo's role is to connect, co-ordinate and support the network across Greater Manchester, with a primary focus on co-production.</h4>
        <p>Jo previously worked as a homelessness advisor to the Greater Manchester Mayor, she has also volunteered at The Booth Centre which is a day centre for people experiencing homelessness and she is now a trustee at the charity. Jo feels that Co-production is a vital part of solving issues related to homelessness in Greater Manchester. She's also a passionate Manchester City fan and season ticket holder (she's the one on the right).</p>
      </article>

      <h2>Manchester Team</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--graham">
          <h2 class="h2">Graham Wood - Comms &amp; Marketing</h2><a href="mailto:graham@streetsupport.net">Contact Graham</a>
        </div>
        <h4>Graham supports with communications and marketing for Street Support Network and <a href="https://mhp.org.uk/" title="Manchester Homelessness Partnership">Manchester Homelessness Partnership</a></h4>
        <p>Graham joined us in late 2017 through a work placement, and we were so impressed we asked him to stay. As well as a background in advertising and teaching, Graham has personal experience of homelessness.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--mark">
          <h2 class="h2">Mark Jepson - MHP Community Engagement Co-Ordinator</h2><a href="mailto:mark@streetsupport.net">Contact Mark</a>
        </div>
        <h4>Mark supports people with lived experience of homelessness to participate in <a href="https://mhp.org.uk/" title="Manchester Homelessness Partnership">Manchester Homelessness Partnership</a>.</h4>
        <p>Mark worked with the Shelter Inspiring Change Manchester project for several years before joining Street Support Network, and has supported many people in the transition from homelessness back into independent living. He has personal experience of homelessness and complex needs, and a passion for co-production of services.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--dee">
          <h2 class="h2">Dee Lowry - MHP Business Engagement Co-Ordinator</h2><a href="mailto:dee@streetsupport.net">Contact Dee</a>
        </div>
        <h4>Dee works with businesses in Manchester to co-ordinate their support towards the aims of <a href="https://mhp.org.uk/" title="Manchester Homelessness Partnership">Manchester Homelessness Charter</a>.</h4>
        <p>Dee's career began overseas, working for international charities in programmes relating to equality, social enterprise, and poverty alleviation. She returned to Manchester in 2015, and has been involved with the homelessness sector ever since; volunteering and working with local charity Coffee4Craig. Dee brings experience in research and evaluation, and is focused on understanding and addressing causes in an inclusive way.</p>
      </article>

      {{> divider }}

      <p>We also have help from some amazing digital experts as needed. Here are a few of the people that have helped us along the way&hellip;</p>

      <h2 class="h2">Vince Lee - Lead Developer</h2>
      <p>Vince is an experienced full stack developer who has led the development of Street Support Network from the start. He is a safe pair of hands, always reliable and dedicated to social change.</p>

      <h2 class="h2">Alex Atkinson - Designer</h2>
      <p>Alex is an experienced designer, generously giving his time for free to Street Support Network - we couldn't have done this without him!</p>

      {{> social-share}}
    </div>
  </div>
</div>
