---
title: About Our Team - Street Support
description: Street support makes it easier to help homeless people. Here is the team behind it.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: about
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Team</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Our Team</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <article class="team__member">
        <div class="team__member-title team__member-title--viv">
          <h2 class="h2">Viv Slack - Co-Founder</h2>
        </div>
        <p>Viv worked in web development for many years with major brands and charities, including Oxfam and Amnesty International. After 9 years at Manchester agency Code Computerlove, she left in 2015 to support local social enterprises to use technology to make a difference. Street Support Network emerged from conversations with local homeless people and frontline organisations about where they needed help. The rest is history. <a href="http://objectivesfirst.com">More about Viv</a></p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--gary">
          <h2 class="h2">Gary Dunstan - Co-Founder</h2>
        </div>
        <p>Gary has spent many years helping individuals and businesses with their ideas. Viv and Gary met at a social enterpreneurs event, and soon realised they shared the same core values, and complimentary skills. Gary focuses on developing partnerships with businesses, and with new cities who want to join the network. <a href="http://doinggoodthinking.com/">More about Gary</a></p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--graham">
          <h2 class="h2">Graham Wood - Comms &amp; Marketing</h2>
        </div>
        <p>Graham joined us in late 2017 through a work placement, and we were so impressed we asked him to stay. Aswell as a background in advertising and teaching, Graham has personal experience of homelessness, and also volunteers at The Booth Centre and Food4All.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--olie">
          <h2 class="h2">Olie Martin - Network Support (GROW trainee)</h2>
        </div>
        <p>Olie joined our team in late 2017 as a grow trainee. He will use his range of skills and recent personal experience of homelessness to help us to support the network. As part of the Shelter scheme, Olie will also be involved in systems change activities with other GROW trainees.</p>
      </article>

      <p>We also have help from some amazing digital experts as needed. Here are a few of the people that have helped us along the way...</p>

      <h2 class="h2">Vince Lee - Developer</h2>
      <p>Vince is an experienced full stack developer. He has led the development of Street Support Network from the start - a safe pair of hands, always reliable and truly dedicated to social impact.</p>

      <h2 class="h2">Alex Atkinson - Designer</h2>
      <p>Alex is senior designer at McCann. He has generously given his time for free to design Street Support - we couldn't have done this without him!</p>
      
      <h2 class="h2">Ben Marley - Junior Front End Developer and Data Administrator</h2>
      <p>Ben is a self-taught junior front end web developer with a background in the Fine Art industry. He handles front end tasks for Street Support as well as helping to support the network so information is accurate and up to date.</p>

      <h2 class="h2">Phil Lennon - Front End Developer</h2>
      <p>Phil is an experienced developer, specialising in front end web development using the latest techniques and technology.</p>

      <h2 class="h2">Jessie Blaynee - User Experience Designer</h2>
      <p>Jessie is an experienced UX designer, working with us to ensure everything we do is easy to understand and use.</p>

      <h2 class="h2">Kim Foale - Researcher &amp; Developer</h2>
      <p>Kim is a PhD researcher as well as a web developer. He conducted our initial research on the organisations and services available in Manchester, and helps ensure what we do is well thought through and considered.</p>

      {{> social-share}}
    </div>
  </div>
</div>
