---
title: About Our Team - Street Support
description: Street support makes it easier to help people facing homelessness. Here is the team behind it.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: team
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Team</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Team</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <article class="team__member">
        <div class="team__member-title team__member-title--gary">
          <h2 class="h2">Gary Dunstan - Co-Founder</h2><a href="mailto:gary@streetsupport.net">Contact Gary</a>
        </div>
        <h4>Gary leads on connecting and supporting partnerships in our locations, with a focus on new cities and regions, and around engaging businesses.</h4>
        <p>Gary has spent many years helping individuals and businesses with their ideas. Viv and Gary met at a social enterpreneurs event, and soon realised they shared the same core values, and had complimentary skills. The rest is history.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--soraya">
          <h2 class="h2">Soraya Sheikh - Network Manager</h2><a href="mailto:soraya@streetsupport.net">Contact Soraya</a>
        </div>
        <h4>Soraya works alongside Gary connecting and supporting partnerships in our locations, with a focus on harnessing the power of the network nationally by sharing knowledge, activities and best practice.</h4>
        <p>Soraya worked for the Manchester based homelessness charity, Mustard Tree — for six years. Initially coordinating their employment and life skills programme for vulnerable adults, and then as their Corporate Partnerships Manager. After taking a career break to travel and focus on self development, Soraya joined Street Support Network to bring her experience in building partnerships and fostering collaborative working.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--james">
          <h2 class="h2">James Cross - Website Developer</h2><a href="mailto:james@streetsupport.net">Contact James</a>
        </div>
        <h4>James provides support to locations and organisations with creating useful pathways with which our users can access information.</h4>
        <p>James came to us in summer 2018, he started helping out by creating organisation entries for Greater Manchester. He has now progressed to become the main person to co-ordinate all work that takes place involving the Street Support Network website. James works with new and existing locations to improve the way that local partnerships connect digitally.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--eliz">
          <h2 class="h2">Eliz Hopkins - West Midlands Coordinator</h2><a href="mailto:westmidlands@streetsupport.net">Contact Eliz</a>
        </div>
        <h4>Eliz helps to build stronger partnerships and networks in West Midlands.</h4>
        <p>Eliz has been working in an administrative capacity for the homelessness charity Crisis at their Skylight service in Birmingham since 2018. Eliz took on the role of Street Support Network Coordinator for the West Midlands in August 2021. As well as working for Crisis and Street Support, Eliz has also volunteered in Wolverhampton within the homelessness sector.  She is really excited to be involved so closely in the partnership between Street Support Network, Crisis Skylight Birmingham and the West Midlands Combined Authority's Homelessness Task Force. Eliz is passionate about ending homelessness and wants everyone to have a safe place they can call home.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--mara">
          <h2 class="h2">Mara Patraiko - Comms & Engagement Coordinator</h2><a href="mailto:mara@streetsupport.net">Contact Mara</a>
        </div>
        <h4>Mara designs and delivers all things communication and content.</h4>
        <p>Mara comes to us from a background of marketing after she decided that the charity sector is where she wants to be. Passionate about people and equality, she believes that raising awareness of how to help people experiencing homelessness is rooted in communication. In her other work, Mara runs journaling courses to promote mental wellbeing and writes fiction.</p>
      </article>

      <h2>Volunteers</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--esther">
          <h2 class="h2">Esther Cheng - Data Integrity Volunteer</h2><a href="mailto:esther@streetsupport.net">Contact Esther</a>
        </div>
        <p>Esther joined us in May 2022 as one of our Data Integrity Volunteers. Her main task is to collate information from organisations offering services across the UK.</p>
        <p>Esther embraces the limitless possibilities in life. She constantly looks for opportunities to take part in social action and hopes to make a difference to the community she lives in. She is currently working on grant management in Hong Kong but would be moving to the UK in the near future.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--bolakale">
          <h2 class="h2">Bolakale Salau - Data Integrity Volunteer</h2><a href="mailto:bolakale@streetsupport.net">Contact Bolakale</a>
        </div>
        <p>Bolakale joined us in September 2022 as one of our Data Integrity Volunteers. His main task is work with our locations to ensure that organisational information is kept accurate and up-to-date.</p>
        <p>Part data nerd, part creative, Bolakale's love for working with data comes from his experiences as a digital marketing specialist. He transitioned to Data Science while on a career break, and now spends his time poring through rows of data, with a cup of tea never too far away.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--francisca">
          <h2 class="h2">Francisca Umeonusulu - Data Integrity Volunteer</h2><a href="mailto:robyn@streetsupport.net">Contact Francisca</a>
        </div>
        <p>Francisca joined us in October 2022 as one of our Data Integrity Volunteers. She will be helping to ensure that all information is accurate and up to date.</p>
        <p>My educational background is in Business and Project Management. I pride myself on being an easy-going and reliable individual. I am keen on making a difference and supporting my local community through volunteering.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--robyn">
          <h2 class="h2">Robyn Hampson - Data Integrity Volunteer</h2><a href="mailto:robyn@streetsupport.net">Contact Robyn</a>
        </div>
        <p>Robyn joined us in November 2022 as one of our Data Integrity Volunteers. She will be helping to ensure that all information is accurate and up to date.</p>
        <p>I am a data-loving adventurer seeking new ways to use my skills for good. The common thread in my long and varied career has been my desire to analyse and improve the way things are done.  If I can connect those fostering kindness and goodwill with those in need, then I have done well.</p>
      </article>

      {{> divider }}

      <p>We also have help from some amazing digital experts as needed. Here are a few of the people that have helped us along the way&hellip;</p>

      <h2 class="h2">Vince Lee - Lead Developer</h2>
      <p>Vince is an experienced full stack developer who has led the development of Street Support Network from the start. He is a safe pair of hands, always reliable and dedicated to social change.</p>

      <h2 class="h2">Alex Atkinson - Designer</h2>
      <p>Alex is an experienced designer, generously giving his time for free to Street Support Network - we couldn't have done this without him!</p>

      <h2 class="h2">Liam Roughley - Designer</h2>
      <p>Liam is the creativity behind the fantastic illustrations that you see at the top of our location homepages. His artwork really captures the unique nature of each location.</p>

      {{> social-share}}
    </div>
  </div>
</div>
