---
title: About Our Team - Street Support
description: Street support makes it easier to help people facing homelessness. Here is the team behind it.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: team
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Team</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Team</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <article class="team__member">
        <div class="team__member-title team__member-title--viv">
          <h2 class="h2">Viv Slack - Co-Founder</h2>
        </div>
        <h4>Viv leads on the functional and technical aspects of the website, strategic direction of the organisation, & supporting the team.</h4>
        <p>Viv worked in web development for many years with major brands and charities, including Oxfam and Amnesty International. After 9 years at Manchester agency Code Computerlove, she left in 2015 to support local social enterprises to use technology to make a difference. Street Support Network emerged from conversations with local people facing homelessness and frontline organisations about where they needed help. The rest is history. <a href="http://objectivesfirst.com">More about Viv</a></p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--gary">
          <h2 class="h2">Gary Dunstan - Co-Founder</h2>
        </div>
        <h4>Gary leads on building and maintaining relationships with our partnerships, with a focus on businesses and supporting other cities, alongside strategy.</h4>
        <p>Gary has spent many years helping individuals and businesses with their ideas. Viv and Gary met at a social enterpreneurs event, and soon realised they shared the same core values, and complimentary skills. <a href="http://doinggoodthinking.com/">More about Gary</a></p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--graham">
          <h2 class="h2">Graham Wood - Comms &amp; Marketing</h2>
        </div>
        <h4>Graham supports with communications and marketing for Street Support and <a href="https://charter.streetsupport.net/" title="Manchester Homelessness Partnership">Manchester Homelessness Partnership</a></h4>
        <p>Graham joined us in late 2017 through a work placement, and we were so impressed we asked him to stay. As well as a background in advertising and teaching, Graham has personal experience of homelessness, and also volunteers at The Booth Centre and Food4All.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--mark">
          <h2 class="h2">Mark Jepson - MHP Community Engagement Co-Ordinator</h2>
        </div>
        <h4>Mark supports people with lived experience of homelessness to participate in <a href="https://charter.streetsupport.net/" title="Manchester Homelessness Partnership">Manchester Homelessness Partnership</a>.</h4>
        <p>Mark worked with the Shelter Inspiring Change Manchester project for several years before joining Street Support Network, and has supported many people in the transition from homelessness back into independent living. He has personal experience of homelessness and complex needs, and a passion for co-production of services.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--dee">
          <h2 class="h2">Dee Lowry - MHP Business Engagement Co-Ordinator</h2>
        </div>
        <h4>Dee works with businesses in Manchester to co-ordinate their support towards the aims of <a href="https://charter.streetsupport.net/" title="Manchester Homelessness Partnership">Manchester Homelessness Charter</a>.</h4>
        <p>Dee's career began overseas, working for international charities in programmes relating to equality, social enterprise, and poverty alleviation. She returned to Manchester in 2015, and has been involved with the homelessness sector ever since; volunteering and working with local charity Coffee4Craig. Dee brings experience in research and evaluation, and is focused on understanding and addressing causes in an inclusive way.</p>
      </article>

      {{> divider }}

      <p>We also have help from some amazing digital experts as needed. Here are a few of the people that have helped us along the way&hellip;</p>

      <h2 class="h2">Vince Lee - Lead Developer</h2>
      <p>Vince is an experienced full stack developer who has led the development of Street Support Network from the start. He is a safe pair of hands, always reliable and dedicated to social change.</p>

      <h2 class="h2">Alex Atkinson - Designer</h2>
      <p>Alex is senior designer at McCann. He has generously given his time for free to design Street Support Network - we couldn't have done this without him!</p>

      <h2 class="h2">Ben Marley - Junior Front End Developer</h2>
      <p>Ben is a self-taught junior front end web developer with a background in the Fine Art industry. He handles front end changes and testing for Street Support as well as ensuring information is accurate and up to date.</p>

      <h2 class="h2">Phil Lennon - Front End Developer</h2>
      <p>Phil is an experienced developer, specialising in front end web and app development using the latest techniques and technology.</p>

      <h2 class="h2">Jessie Blaynee - User Experience Designer</h2>
      <p>Jessie is an experienced UX designer, working with us to ensure everything we do is easy to understand and use.</p>

      <h2 class="h2">Kim Foale - Researcher &amp; Developer</h2>
      <p>Kim is a PhD researcher as well as a web developer. He conducted our initial research on the organisations and services available in Manchester, and helps ensure what we do is well thought through and considered.</p>

      {{> social-share}}
    </div>
  </div>
</div>
