---
title: About Our Team - Street Support
description: Street support makes it easier to help people facing homelessness. Here is the team behind it.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: team
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About Street Support</a></li>
      <li class="breadcrumbs__item">Our Team</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Team</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2>Co-Founders</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--gary">
          <h2 class="h2">Gary Dunstan</h2><a href="mailto:gary@streetsupport.net">Contact Gary</a>
        </div>
        <h4>Gary leads on connecting and supporting partnerships in our locations, with a focus on new cities and regions, and around engaging businesses.</h4>
        <p>Gary has spent many years helping individuals and businesses with their ideas. Viv and Gary met at a social enterpreneurs event, and soon realised they shared the same core values, and had complimentary skills. The rest is history.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--viv">
          <h2 class="h2">Viv Slack</h2><a href="mailto: viv@streetsupport.net">Contact Viv</a>
        </div>
        <h4>Viv leads on understanding the changing situation in GM and beyond, functional aspects of the website, strategic direction of the organisation, & supporting the team.</h4>
        <p>Viv worked in web development for many years with major brands and charities, including Oxfam and Amnesty International. Since 2015 she has supported local social enterprises to use technology to make a difference. Street Support Network emerged from conversations with local people facing homelessness and frontline organisations about where they needed help.</p>
      </article>

      <h2>Network Support Team</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--soraya">
          <h2 class="h2">Soraya Sheikh - UK Network Co-Ordinator</h2><a href="mailto:soraya@streetsupport.net">Contact Soraya</a>
        </div>
        <h4>Soraya supports locations across the UK to maximise the benefits of being part of Street Support Network.</h4>
        <p>Soraya worked for the Manchester based homelessness charity, Mustard Tree — for six years. Initially coordinating their employment and life skills programme for vulnerable adults, and then as their Corporate Partnerships Manager. After taking a career break to travel and focus on self development, Soraya has joined Street Support to bring her experience in building partnerships, communication and collaborative working. She is passionate about living a heart centred life and strives to surround herself with like minded people who share her vision of creating a more harmonious world for future generations.</p>
      </article>

            <article class="team__member">
        <div class="team__member-title team__member-title--samra">
          <h2 class="h2">Samra Said - Partnership and GMHAN Coordinator</h2><a href="mailto:samra@streetsupport.net">Contact Samra</a>
        </div>
        <h4>Samra helps to build stronger partnerships and networks in Greater Manchester and is also responsible for fundraising for our charity.</h4>
        <p>Samra is a dedicated humanitarian with a commitment to civic engagement who has worked in the charity sector for over 15 years to achieve change for individuals and communities in the UK. She is a strategic thinker and a skilled relationship-builder who loves tackling challenges with determination and positive energy.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--james">
          <h2 class="h2">James Cross - Organisations Support</h2><a href="mailto:james@streetsupport.net">Contact James</a>
        </div>
        <h4>James provides support to organisations across the UK that have issues with how their data is presented on the Street Support website.</h4>
        <p>James came to us in summer 2018, he started helping out by creating organisation entries for Greater Manchester and his main concern now is to ensure information is accurate and correct. James also looks after a lot of internal support. A developer in the making, James works on smaller elements of the site. But if things get a bit scary he calls Vince.</p>
      </article>

      {{> divider }}

      <p>We also have help from some amazing digital experts as needed. Here are a few of the people that have helped us along the way&hellip;</p>

      <h2 class="h2">Vince Lee - Lead Developer</h2>
      <p>Vince is an experienced full stack developer who has led the development of Street Support Network from the start. He is a safe pair of hands, always reliable and dedicated to social change.</p>

      <h2 class="h2">Alex Atkinson - Designer</h2>
      <p>Alex is an experienced designer, generously giving his time for free to Street Support Network - we couldn't have done this without him!</p>

      {{> social-share}}
    </div>
  </div>
</div>
