---
title: Emergency Homeless Help in Leeds - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Leeds</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Advice</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>If you've just become homeless, or feel that there is a risk of that happening, it's important to get the right advice as soon as possible. There is a range of support available, depending on your situation...</p>

      <h2 class="h2">Housing Options Advice</h2>
      <p><a href="http://www.leeds.gov.uk/residents/pages/leeds-housing-options.aspx">Leeds Housing Options</a> will be able to give you the best advice for your individual circumstances. They will do everything they can to help you stay where you are or find alternative accommodation. You can <a href="mailto:housing.options@leeds.gov.uk">email them at housing.options@leeds.gov.uk</a> or call them on 0113 222 4412 between 8.30am-4pm Monday to Thursday, or 9.30am-4pm on Friday.</p>
      <p>If you are homeless in an emergency and it is outside of their opening hours, you can call their emergency service on 07891 273939. This number is for emergency homelessness only and we will not be able to assist with any other matter.</p>
      <p>There is more <a href="http://www.leeds.gov.uk/residents/pages/homelessness.aspx">official information on homelessness from Leeds council</a>, or you can contact Shelter for advice on 0808 800 4444.</p>

      <h2 class="h2">Support Services</h2>
      <p>There are a number of organisations in Leeds dedicated to helping people who are experiencing homelessness. You can find all the local services through the <a href="/Find-Help/">Find Help section</a>. Here are some of the organisations in the city who can support you:</p>
      <ul>
        <li><a href="http://www.stgeorgescrypt.org.uk/charity/">St Georges Crypt</a></li>
        <li><a href="http://www.changegrowlive.org/content/leeds-street-outreach-service">Change, Grow, Live</a></li>
        <li><a href="http://simononthestreets.co.uk/">Simon on the Streets</a></li>
        <li><a href="http://www.st-annes.org.uk/our-services/homelessness/">St Annes</a></li>
      </ul>

      {{> social-share}}
    </div>
  </div>
</div>