---
title: Emergency Homeless Help in Leeds - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
layout: default.hbs
permalink: false
jsBundle: generic
section: locations
page: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Leeds</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Help</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Leeds emergency help copy</p>

      {{> social-share}}
    </div>
  </div>
</div>
