---
title: Emergency Homeless Help in Leeds - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Leeds</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Advice</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>We are currently gathering all the options available for those who have recently found themselves homeless in Leeds, and this will be available very soon.</p>
      <p>In the meantime, there is some <a href="http://www.leeds.gov.uk/residents/pages/homelessness.aspx">official information on homelessness from Leeds council</a>, or you can contact Shelter for advice on 0808 800 4444.</p>

      {{> social-share}}
    </div>
  </div>
</div>
