---
title: Emergency Homeless Help in Leeds - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-leeds.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Leeds</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Emergency Advice</h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <div class="card">
        <p class="card__footer">Please note, this is advice for Leeds city centre; please <a href="/find-help/emergency-help/">follow this link for general advice</a>.</p>
      </div>

      <p>If you've just become homeless, or feel that there is a risk of that happening, it's important to get the right advice as soon as possible. There is a range of support available, depending on your situation.</p>

      <h2 class="h2">Advice on Housing Options</h2>
      <p><a href="http://www.leeds.gov.uk/residents/pages/leeds-housing-options.aspx">Leeds Housing Options</a> will be able to give you the best advice for your individual circumstances. They can help in lots of different ways to either prevent you from becoming homeless or assist you with moving into a new property.</p>
      <p>.In order to apply for homelessness assistance from Leeds City Council you will need to take part in a housing needs assessment (*). There are different ways to be assessed:</p>
      <ul>
        <li>Visit 2 Great George Street on the first floor between 8:30-4:00 Monday to Thursdays or 9:30-4:00 on Fridays.</li>
        <li>Call 0113 222 4412 to request a telephone appointment or a home visit.</li>
        <li>Attend one of their surgeries accross the city (further information to follow)</li>
        <li>In an emergency outside of office hours you can call 07891 273 939 (17:00-8:00.)</li>
      </ul>
      <p>* Homelessness assessment revolves around the 5 tests of homelessness. These tests decide whether or not the council has a legal duty to rehouse you. Even if there is no legal duty the council will always provide extensive advice and assistance to resolve your housing need. Once the assessment is complete, the council can assist you with either staying in your current property or moving on into social or privately rented housing. If you are in urgent need, you may qualify for temporary accommodation but not before all other options have been explored.</p>
      <p>There is more <a href="http://www.leeds.gov.uk/residents/pages/homelessness.aspx">official information on homelessness from Leeds council</a>, or you can contact Shelter for advice on 0808 800 4444.</p>

      <h2 class="h2">Support Services</h2>
      <p>There are a number of organisations in Leeds dedicated to helping people who are experiencing homelessness. You can find all local services available to support you through the <a href="/Find-Help/">Find Help section</a>. Here are some of the organisations in the city who can give you advice on what options are available to you:</p>
      <ul>
        <li><a href="http://www.st-annes.org.uk/our-services/homelessness/">St Annes Resource Centre</a> - – support for people with no fixed abode. You can use this as an address, use washing facilities and get support with applying for benefits and looking for private rented housing. There are also groups, activities and classes that you can take part in.</li>
        <li><a href="http://www.changegrowlive.org/content/leeds-street-outreach-service">Change, Grow, Live Outreach</a> - – support for rough sleepers. You can access this service if you are street homeless and they will assist you with securing temporary accommodation. CGL can also refer you to specialised support services if you need any assistance with issues such as your mental/physical health or addictions.</li>
        <li><a href="http://www.stgeorgescrypt.org.uk/charity/">St Georges Crypt</a> – support for single homeless people. The Crypt can provide short term accommodation and support as well as assistance with permanent rehousing in partnership with Leeds City Council.</li>
        <li><a href="http://www.leedshc.org.uk/en/default.aspx">Leeds Housing Concern</a> – support for anyone with a housing need. LHC provide a number of accommodation schemes to support a range of people including young people and people who suffer with addictions.</li>
      </ul>

      <h2 class="h2">If you see someone who is homeless</h2>
      <p>You can alert Street Outreach who will visit the person and signpost them to accommodation and support services. They can be contacted on 0113 245 9445.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
