---
title: Severe Weather Emergency Accommodation in Oldham - Street Support
description: Severe Weather Emergency Accommodation provision in Oldham.
image: https://streetsupport.net/assets/img/og/street-support-oldham.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: oldham
page: oldham-advice
location: oldham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/oldham/">Oldham</a></li>
      <li class="breadcrumbs__item"><a href="/oldham/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="oldham" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="/greater-manchester">streetsupport.net/gm</a>.</p>
      <p>When there is severe weather, additional emergency beds are made available for people to move inside. If you need support, please visit or call the Housing Options Team at Oldham Council.</p>
      <ul>
        <li>Opening times: Monday, Tuesday, Thursday and Friday - 08:40 am - 05:00pm and Wednesday 09:30am - 05:00pm</li>
        <li>Contact Number: <a href="tel:0161 770 4605">0161 770 4605</a>.</li>
        <li>Email: <a href="mailto:housing.options@oldham.gov.uk">housing.options@oldham.gov.uk</a>.</li>
        <li>If your enquiry is in relation to Homelessness there is an Out of Hours telephone for emergency enquiries. This number is <a href="tel:0800 988 7061">0800 988 7061</a>.</li>
      </ul>

    </div>

    {{> social-share}}

  </div>
</div>
