---
title: Severe Weather Emergency Accommodation in Oldham - Street Support
description: Severe Weather Emergency Accommodation provision in Oldham.
image: https://streetsupport.net/assets/img/og/street-support-oldham.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: oldham
page: oldham-advice
location: oldham
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/oldham/">Oldham</a></li>
      <li class="breadcrumbs__item"><a href="/oldham/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="oldham" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <p>When there is severe weather, additional emergency beds are made available for people to move inside.</p>
      <ul>
        <li>Visit Oldham council town hall</li>
        <li>Mon-Fri 10am-1pm and 2-4pm call <a href="tel:01613937117">0161 393 7117</a></li>
        <li>Outside those hours in an emergency call <a href="tel:08009887061">0800 988 7061</a></li>
        <li>Email <a href="mailto:housingoptions@fcho.co.uk">housingoptions@fcho.co.uk</a></li>
      </ul>
      
    </div>

    {{> social-share}}
    
  </div>
</div>