---
title: Emergency Homeless Help in Bradford - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bradford/">Bradford</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header">
  <div class="container container--city-header city-header--bradford">
    <h1 class="h1 block__header">Emergency Advice</h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p class="h2 text-center">Please note, this is advice for Bradford; please change your location above for general advice.</p>
      {{> divider }}
      <p>If you're homeless, or feel that you might be soon, it's important to get the right advice as soon as possible. There is help available in the district, depending on your situation.</p>
      <ul>
        <li>If you're comfortable dealing with council services, you can go to Housing Options at Britannia House, Hall Ings Road, Bradford or Keighley Town Hall, Bow Street. Read the <a href="#housing-options">Advice on Housing Options</a> section below for information on how to proceed.</li>
        <li>If you would like someone to support you through the process, you should visit "The Day Centre", at The Orchard Salvation Army on Leeds Road</a>, who can advise you on suitable options. Read the <a href="#support-into-services">Support into Services</a> section below for details.</li>
        <li>You can also find many other services to help you through the <a href="/find-help/">Find Help</a> section of this site including <a href="/find-help/dropin/timetable/">drop in centres</a>.</li>
      </ul>

      <a name="rough-sleepers"></a>
      <h2 class="h2">Help for Rough Sleepers</h2>
      <p>If you see someone sleeping rough, and don't know how to help, you can use the Street Link service (<a href="tel:0300 500 0914">0300 500 0914</a>) to notify the council about a rough sleeper anywhere in the country. If you know someone who has become homeless, you can follow the steps below on their behalf.</p>

      <h3 class="h3">No Second Night Out Service</h3>
      <p>No Second Night Out Service offer support to new and entrenched rough sleepers. </p>
      <p>The service offers short term emergency accommodation options, a street outreach service and work with clients to address their homelessness, as well as co-ordinating the delivery of the cold weather provision for rough sleepers in Bradford.</p>
      <p>If you are concerned about someone sleeping rough in Bradford, you can contact the No Second Night Out Service in the following ways:</p>
      <ul>
        <li>By Phone on: <a href="tel:01274 309165">01274 309165</a></li>
        <li>By Email at: <a href="mailto:bradford@disc-vol.org.uk">bradford@disc-vol.org.uk</a></li>
        <li>In person (or by post at) at: Discovery House-133 Barkerend Road, Bradford, BD3 9AU</li>
      </ul>
      <p>For more information visit: <a href="http://www.disc-vol.org.uk/projects/bradford-no-second-night-out-housing-support">Bradford No Second Night Out Housing Support</a>.</p>
      <p>Also between December 4th and March 26th, <a href="/find-help/organisation/?organisation=inn-churches">Inn Churches</a> will be providing 12 bed spaces in hosting churches around the city, including bed, breakfast and evening meal. You can contact Inn Churches directly on <a href="tel:07833 450482">07833 450482</a>.</p>

      <a name="housing-options"></a>
      <h2 class="h2">Advice on Housing Options</h2>
      <p>Bradford Housing Options will be able to give you the best advice for your individual circumstances. They can help in lots of different ways:</p>
      <ul>
        <li>Attempt to prevent you becoming homeless</li>
        <li>Assess your circumstances under homelessness legislation to establish if a legal duty is owed to you</li>
        <li>Assist  with referrals to other agencies for support, mediation and temporary accommodation</li>
        <li>Provide advice and information on options in the private sector and joining the housing register</li>
        <li>Bradford Council manages a Housing Register with other providers of social housing in the district. The Housing Register sets out how social housing is allocated in the district. Use the contact details below to join the Housing Register.</li>
      </ul>
      <p>You can contact Bradford Council by:</p>
      <ul>
        <li>Phone us <a href="tel:01274 435999">01274 435999</a> to request a telephone appointment</li>
        <li>In an emergency outside of office hours you can call <a href="tel: 01274 381999">01274 381999</a></li>
        <li>If you are roofless today, you can visit Housing Options at Britannia House, Hall Ings Road, Bradford or Keighley Town Hall, Bow Street.</li>
      </ul>

      <a name="support-into-services"></a>
      <h2 class="h2">Support into Services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to "The Day Centre" at The Orchard Salvation Army on Leeds Road, or call <a href="/find-help/organisation/?organisation=inn-churches">Inn Churches</a> to see if they can help. They can also refer you into accommodation and other services, where appropriate.</p>

      <a name="homeless-services"></a>
      <h2 class="h2">Homeless Status</h2>
      <p>To be accepted as officially homeless, you must:</p>
      <ul>
        <li>Have not <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/intentional_homelessness">intentionally made yourself homeless</a>.</li>
        <li>Have no legal right to live anywhere in the world, or live somewhere overcrowded or unsafe.</li>
      </ul>
      <p>In addition, the support you get will depend on:</p>
      <ul>
        <li>If you are in <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/priority_need">"priority need”</a></li>
        <li>If you have a <a href="https://england.shelter.org.uk/housing_advice/homelessness/rules/local_connection">"local connection”</a> to the area.</li>
      </ul>
      <p><a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter's website</a> is the best place to learn about your legal rights, or call them on <a href="tel:0808 800 4444">0808 800 4444</a>.</p>

      <a name="emergency-winter-accommodation"></a>
      <h2 class="h2">Emergency Accommodation in Winter</h2>
      <p>The Cold Weather Provision (CWP) is a multi-agency partnership that provides emergency bed spaces in Bradford to rough sleepers on freezing winter nights, commissioned by Bradford Council. Learn more on the <a href="/bradford/severe-weather-accommodation/">Bradford Emergency Winter Accommodation</a> page.</p>

      <h2 class="h2">Other Support and Advice</h2>
      <p>There are many other services available to rough sleepers - you can check through the other categories in our <a href="/find-help">Find Help</a> section to see if there is someone that can help with what you need. </p>
      <p>Make sure to stay safe on the streets, stay warm and <a href="/find-help/meals/timetable/">find what food and drink provision available</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
