---
title: Severe Weather Emergency Accommodation in Walsall - Street Support
description: Severe Weather Emergency Accommodation provision in Walsall.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: walsall
page: walsall-advice
location: walsall
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/walsall/">Walsall</a></li>
      <li class="breadcrumbs__item"><a href="/walsall/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="walsall" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the periods of severe cold weather, additional emergency accommodation is provided by Walsall Local Authority. This is known as Severe Weather Emergency Provision (SWEP).</p>
      <p>Anyone finding themselves homeless and having to rough sleep can access this service when temperatures drop to zero degrees for more than three consecutive nights or more.</p>
      <p>You can access this service via contacting the Rough Sleepers Initiative Team on <a href="tel:01922 652250">01922 652250</a> or email <a href="mailto:rooflessreferral@walsall.gov.uk">rooflessreferral@walsall.gov.uk</a>.</p>
      <p>You can also report any rough sleeping in Walsall Borough you have seen to the Local Authority outreach team via <a href="www.streetlink.org.uk">www.streetlink.org.uk</a>.</p>

    {{> social-share}}

  </div>
</div>
