---
title: Offer Items - Street Support
description: Donate Items to organisations near you
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: offeritems
section: givehelp
page: offeritems
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Offer Items</li>
    </ol>
  </div>
</div>

{{> no-js}}
  <div class="block">
    <div class="container">
      <div class="block__content" data-bind="with: orgRetrieval">
        <header class="multi-form-header">
          <h1 class="h1">Offer Items/Food</h1>
          <p>Some items are welcomed by charities all year round. These items can be viewed using the <a href="#offer-map">map</a> below. Please use the filters to narrow down what items are accepted where.
          Sometimes there are specific items needed by charities urgently, such as a food bank running low on UHT milk or tinned food etc. Click the button to see what is urgently needed now and how to donate those items.</p>
          <a href="/give-help/help/?type=Items" class="btn btn--brand-d">
            <span class="btn__text">See what's needed</span>
          </a>
          <p class="bold">Alternatively, if you have an item to offer and you cannot find a suitable organisation to give it to, please fill in the <a href="#about-form">form</a> below, and when or if an organisation has interest in your offer, they can get in touch. These offers will expire after three months.</p>
          <p class="bold">Please note: Organisations are generally unable to accept used bedding (pillows, duvets, mattresses etc) as there are strict fire safety requirements.</p>
          <!-- ko ifnot: postcode -->
          <p>Please enter a postcode to find organisations near you.</p>
          <!-- /ko -->
        </header>
        {{> all-organisations/proximity }}
      </div>
    </div>
  </div>

  <div id="offer-map" class="block block--cards">
    <div class="container">
      <div class="block__content" data-bind="with: orgRetrieval">
        <!-- ko ifnot: hasOrgs -->
        <!-- ko if: postcode -->
        <p>Sorry, there are no organisations listed near your postcode, please try again.</p>
        <!-- /ko -->
        <p>If you know of local organisations that could be included, please use our <a href="/register">registration form</a>.</p>
        <!-- /ko -->
        <!-- ko if: postcodeRetrievalIssue -->
        <p>Sorry, there was a problem with your postcode, please try an alternative postcode nearby.</p>
        <!-- /ko -->
      </div>
      <div class="js-org-needs block__content" data-bind="with: offerItemsMap">
        <!-- ko if: showFilter -->
        <div class="subcat-filter form--highlighted">
          <p class="subcat-filter__label">Filter by items taken:</p>
          <ul class="list-to-dropdown subcat-filter__items" data-bind="foreach: needCategories">
            <li class="subcat-filter__item js-filter-item" data-bind="attr: { 'data-id': id, class: cssClass }, text: name, click: $parent.filter"></li>
          </ul>
        </div>
        <!-- /ko -->
        <div class="services-map services-map--with-filter">
          <div class="js-map"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> give-help/offer-items }}
