---
title: Offer Items - Street Support
description: Donate Items to organisations near you
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: offeritems
section: givehelp
page: offeritems
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Offer Items</li>
    </ol>
  </div>
</div>

{{> no-js}}
  <div class="block">
    <div class="container">
      <div class="block__content" data-bind="with: orgRetrieval">
        <header class="multi-form-header">
          <h1 class="h1">Offer Items</h1>
          <p>Organisations and charities are always in need of items to help with a wide variety of tasks and services. This can range from hot drink supplies to IT equipment. If you have any items that you think may be useful, please select a suitable organisation and consult their donation information.</p>
          <!-- ko ifnot: postcode -->
          <p>Please enter a postcode to find organisations near you.</p>
          <!-- /ko -->
        </header>
        {{> all-organisations/proximity }}
      </div>
    </div>
  </div>

  <div class="block block--cards">
    <div class="container">
      <div class="block__content" data-bind="with: orgRetrieval">
        <!-- ko ifnot: hasOrgs -->
        <!-- ko if: postcode -->
        <p>Sorry, there are no organisations listed near your postcode, please try again.</p>
        <!-- /ko -->
        <p>If you know of local organisations that could be included, please use our <a href="/register">registration form</a>.</p>
        <!-- /ko -->
        <!-- ko if: postcodeRetrievalIssue -->
        <p>Sorry, there was a problem with your postcode, please try an alternative postcode nearby.</p>
        <!-- /ko -->
      </div>
      <div class="js-org-needs block__content" data-bind="with: offerItemsMap">
        <!-- ko if: showFilter -->
        <div class="subcat-filter form--highlighted">
          <p class="subcat-filter__label">Filter by items taken:</p>
          <ul class="list-to-dropdown subcat-filter__items" data-bind="foreach: needCategories">
            <li class="subcat-filter__item js-filter-item" data-bind="attr: { 'data-id': id, class: cssClass }, text: name, click: $parent.filter"></li>
          </ul>
        </div>
        <!-- /ko -->
        <div class="services-map services-map--with-filter">
          <div class="js-map"></div>
          <p>If you can not find a suitable organisation, please fill in the form below, and when an organisation has interest in your offer, they can get in touch.</p>
        </div>        
      </div>
    </div>
  </div>
</div>
  
{{> give-help/offer-items }}