---
title: Accommodation Advice for private rental and temporary accommodation - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: swep
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Private</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">Private rental and temporary accommodation options</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>If you have been told that the council are unable to help you, there are a number of options available depending on your situation.</p>

      <p>If you need help to understand what options are suitable, visit a local <a href="/find-help/dropin/timetable/">drop in centre</a> or <a href="/find-help/support/?sub-category=housing">housing advice service</a> where you can get individual advice. You can also contact <a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter</a> for advice via their national phone line on 0808 800 4444.</p>

      <h3>Social housing</h3>
      <p>TODO How to access social housing</p>
      
      <h3>Private rental</h3>
      <p>If the council aren't able to help you, you may be able to find your own new home in the private sector. The advantage of renting privately is that you have more choice over where you live, near to schools and family support. It is also much quicker to find a private rented home than to wait for a social rented home. You can use the internet in the library to look for vacancies at B&Bs and hostels across the Greater Manchester area. Access your social media accounts and speak to friends and family and see if they can help.</p>
      <p>TODO More sources for finding private rental accommodation, where to get financial help to pay a deposit etc.</p>

      <h3>Unsupported temporary accommodation (B&amp;Bs)</h3>
      <p>TODO Advice on UTAs and a link to local UTAs, and support services for people in UTAs.</p>
      <p>B&amp;Bs can be an extremely expensive alternative to temporary accommodation. This is because the rooms are charged on a night by night basis. But in some cases you might be able to stay there for the week if they are quiet. They may allow you to claim housing benefits from there, but you need to check what entitlement you would receive before signing an arrangement.</p>
      <p>This accommodation varies in quality and there is generally no support available as the properties are run by private landlords. There may be a local service that can support you if you have issues whilst living in this type of accommodation. <a href="https://www.justlife.org.uk/">JustLife</a> specialise in supporting people close to the streets, and have good knowledge of common issues facing people living in UTAs.</p>.
      <p>If this is your only option, browse our <a href="/find-help/accom/?sub-category=uta">list of unsupported temporary accommodation</a> near you.</p>

      <h3>Students</h3>
      <p>If you are currently studying and you are homeless, speak to your tutor or student union who may be able to offer assistance. They may have knowledge of student accommodation or grants to help you avoid interrupting your studies.</p>

      <h3>Other options</3>
      <p>Speak to your local church or community to see if they have a contact who could accommodate you for a short period of time, or know of a local project. They may also be willing to listen and give advice on any personal issues you may be having.</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
