---
title: Advice - Street Support
description: Emergency help for those facing homelessness or have just become homeless.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: general-advice
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help">Find Help</a></li>
      <li class="breadcrumbs__item">Advice</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Advice</h1>
    <h2 class="h2 block__sub-header">What to do if you are facing homelessness</h2>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <div class="home__copy home__copy--padding">
        <h2 class="h2">Get advice for where you are</h2>
        <p>This page contains general advice for people facing homelessness.</p>
        <p>To see what help is available in your area, please select a supported location below.</p>
        <div id="js-location-selector-output"></div>
      </div>
      <div class="home__copy home__copy--padding">
        <h2 class="h2">We would love to see the network grow to more locations</h2> 
        <p>If you think Street Support might be useful in your area, please <a href="/about/contact">get in touch</a>.</p>
          <a href="/about/contact" class="btn btn--brand-e">
            <span class="btn__text">Get in touch</span>
          </a>
        </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div id="js-faqs-output"></div>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-location-selector-tpl" type="text/template">
{{> locations/selector-hogan }}
</script>

<script id="js-faqs-tpl" type="text/template">
{{> faqs/listing }}
</script>