---
title: Severe Weather Emergency Accommodation in Sandwell - Street Support
description: Severe Weather Emergency Accommodation provision in Sandwell.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: sandwell
page: sandwell-advice
location: sandwell
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/sandwell/">Sandwell</a></li>
      <li class="breadcrumbs__item"><a href="/sandwell/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="sandwell" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <h3>SWEP - If you are concerned about a rough sleeper during the cold weather, help is available.</h3>
      <p>Due to the current cold weather, Sandwell council is enacting our Severe Weather Emergency Protocol (SWEP).<br>This will be activated whenever there is a yellow weather warning in place from the MET office or whenever temperatures have a real feel of zero degrees or below. SWEP ensures that anyone who is at risk of or already sleeping rough has accommodation overnight, irrelevant of eligibility.</p>
      <p>Sandwell council has been committed to providing emergency accommodation for all people sleeping rough for the last three years (irrelevant of weather) but this becomes especially important during the cold weather. We can provide emergency accommodation and longer term accommodation for anyone who wants the help and support. Each person will have a support worker who will work with them to develop a sustainable plan addressing housing, substance misuse and finances.</p>
      <p><a href="https://lnks.gd/l/eyJhbGciOiJIUzI1NiJ9.eyJidWxsZXRpbl9saW5rX2lkIjoxMDMsInVyaSI6ImJwMjpjbGljayIsImJ1bGxldGluX2lkIjoiMjAyMjEyMDcuNjc3OTg4MTEiLCJ1cmwiOiJodHRwczovL215LnNhbmR3ZWxsLmdvdi51ay9BY2hpZXZlRm9ybXMvP21vZGU9ZmlsbCZjb25zZW50TWVzc2FnZT15ZXMmZm9ybV91cmk9c2FuZGJveC1wdWJsaXNoOi8vQUYtUHJvY2Vzcy1mZTQ1ZmYwZi00ZTRlLTQzNzEtODQ0Zi04Zjc2NWIwNTdmMWUvQUYtU3RhZ2UtNjBhM2E2OWYtZDhlYS00ZDYzLThkMDYtNjFkYjM0ZWM2NWZmL2RlZmluaXRpb24uanNvbiZwcm9jZXNzPTEmcHJvY2Vzc191cmk9c2FuZGJveC1wcm9jZXNzZXM6Ly9BRi1Qcm9jZXNzLWZlNDVmZjBmLTRlNGUtNDM3MS04NDRmLThmNzY1YjA1N2YxZSZwcm9jZXNzX2lkPUFGLVByb2Nlc3MtZmU0NWZmMGYtNGU0ZS00MzcxLTg0NGYtOGY3NjViMDU3ZjFlIn0.AJcqUpOIeB5Hz7MzJG7asppiz2j2IUIpTNXNeYDDLdQ/s/1302237853/br/149730847620-l">Our online reporting</a> form will let the team know about someone who is rough sleeping and the team will contact the individual. This form can be completed by concerned members of the public, external organisations/agencies and individuals who are rough sleeping themselves.</p>
      <p>Alternatively, you can contact the Rough Sleepers Team by:</p>
      <ul>
        <li>Email: <a href="mailto:Rough_sleepers@sandwell.gov.uk">Rough_sleepers@sandwell.gov.uk</a> or <a href="mailto:Housing_choice@sandwell.gov.uk">Housing_choice@sandwell.gov.uk</a></li>
        <li>Telephone: <a href="tel:0121 368 1166">0121 368 1166</a> - option 2</li>
        <li>Out of hours: <a href="tel:0121 569 6883">0121 569 6883</a></li>
      </ul>

    {{> social-share}}

  </div>
</div>
