<div class="block block--home-promo">
  <div class="container">
    <div class="block__content">
      <h1 class="text-center">Supporting homeless people in Bradford</h1>
      <p class="text-center">We are looking for businesses and organisations in Bradford to support us so that we can continue to develop this resource. If you are a Bradford based organisation <a href="/contact">get in touch</a>.</p>
    </div>
  </div>
</div>
