<li data-city="bradford" class="nav__item nav__item--bradford">
  <a href="/bradford/" class="nav__item-link">Bradford</a>
</li>
<li data-city="bradford" class="nav__item nav__item--bradford-emergency-help">
  <a href="/bradford/emergency-help" class="nav__item-link">Emergency Help</a>
</li>
<li data-city="bradford" class="nav__item nav__item--bradford-swep">
<a href="/bradford/severe-weather-accommodation" class="nav__item-link">Severe Weather Accommodation</a>
</li>