    <div class="block__content">
      <h2 class="h2">Help us end homelessness in Bradford</h2>
      <p>Street Support is an independent not for profit that connects the homeless community who need help, with organisations in the city who provide support.  Our website is the ONE place to go to find out about Bradford homelessness, and more importantly, DO SOMETHING TO HELP.</p>
      <p>Our work is funded by donations from local businesses and philanthropists that care about this issue and share our values.  To continue to develop Street Support, and manage our day to day operations, we need further financial support, and we are looking to local businesses or organisations for help.</p>

      <h2 class="h2">Why do we need your help?</h2>
      <p>There are amazing services to help people who are homeless in Bradford, but it is not easy for the general public to know what support is available, and what is needed. Street Support provides the solution.</p>
      <p>We know what organisations need, to improve their service, and what the homeless community need to improve their situation.  We just need funding to enable us to:</p>
      <ul>
        <li>Connect and support organisations in Bradford, working towards a Homelessness Charter.</li>
        <li>Research and communicate what is currently needed, connecting to available resources and volunteers.</li>
        <li>Develop and improve the website and app, co-producing new features with the homeless community.</li>
        <li>Pay skilled and experienced digital experts (who all work at reduced rates).</li>
        <li>Inspire and inform those that might be able to help, through information and stories.</li>
      </ul>

      <h2 class="h2">How you can help</h2>
      <p>The organisations, and homeless community have requested more features that they feel would help them more effectively.  We need your help so we can complete these projects and continue to make a real difference.</p>
      <p>Sponsor us&hellip;</p>
      <ul>
        <li>£18k to provide a years employment at Street Support for a GROW trainee (someone experiencing homelessness).</li>
        <li>£2k to improve the usability of the current site through user testing.</li>
        <li>£2k to improve the user experience for people looking for accommodation under different scenarios.</li>
      </ul>

      <h2 class="h2">What are the benefits to your organisation?</h2>
      <p>Street Support is already being used in Bradford and Manchester, we’ve had over 100,000 page views. By supporting us, your will be supporting over 40 charities and voluntary groups, and play a key role in eliminating the problem of homelessness in Bradford and other cities in the UK.</p>
      <p>We will also&hellip;</p>
      <ul>
        <li>Place your logo, with a link back to your website, in prime positions on the Street Support website.</li>
        <li>Acknowledge your support through social media and press activity.</li>
        <li>Regularly update you on how your business is making a real difference by sharing data, and visible success stories of impact and change which you can use in your CSR communications.</li>
      </ul>

      <h2 class="h2">Can your business help Street Support?</h2>
      <p>If you share our mission and values and would like to discuss how you can help or if you have any further questions, please get in touch using the form below, or contact Gary Dunstan at <a href="mailto:sponsorship@streetsupport.net">sponsorship@streetsupport.net</a> or on 07824 667709.</p>

    </div>
