<div class="highlight">
  <ul class="highlight__list">
    <li class="highlight__item">
      <a href="/find-help/all-service-providers/?location=bradford">
      <span class="highlight__title">\{{ statistics.totalServiceProviders }}</span>
      <span class="h3 highlight__description">Organisations</span>
      </a>
    </li>
    <li class="highlight__item">
      <a href="/give-help/help/?location=bradford">
      <span class="highlight__title">\{{ statistics.totalNeeds }}</span>
      <span class="h3 highlight__description">Needs</span>
      </a>
    </li>
    <li class="highlight__item">
      <a href="/give-help/volunteer/">
      <span class="highlight__title">\{{ statistics.totalVolunteers }}</span>
      <span class="h3 highlight__description">Volunteers</span>
      </a>
    </li>
  </ul>
</div>
