---
title: Severe Weather Emergency Accommodation in Tameside - Street Support
description: Severe Weather Emergency Accommodation provision in Tameside.
image: https://streetsupport.net/assets/img/og/street-support-tameside.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: tameside
page: tameside-advice
location: tameside
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/tameside/">Tameside</a></li>
      <li class="breadcrumbs__item"><a href="/tameside/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="tameside" }}

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <h2 class="h2">Contact the council</h2>
      <p class="bold">By telephone:</p>
      <p>In hours telephone - <a href="tel:0161 342 2700">0161 342 2700</a></p>
      <p>Monday to Wednesday: 9am – 5pm<br>Thursday: 9am - 4:30pm<br>Friday: 10am - 4pm</p>
      <p>Out of hours telephone - <a href="tel:0161 342 2700">0161 342 2700</a></p>
      <p class="bold">By email:</p>
      <p>The number of calls the service receives is very high and it is often the case that you will receive a quicker response to your enquiry if you email the service. To contact us by email, please use the following e-mail address: <a href="mailto:housing.options@tameside.gov.uk">housing.options@tameside.gov.uk</a></p>
      <h2 class="h2">Visit Tameside Housing Advice by appointment</h2>
      <p>To make an appointment please contact Tameside Housing Advice by email or by telephone and visit us at:</p>
      <p>Tameside Housing Advice,<br>119-125 Old Street,<br>Ashton under Lyne,<br>OL6 7RL.</p>

    </div>

    {{> social-share}}

  </div>
</div>
