---
title: Severe Weather Emergency Accommodation in locationName - Street Support
description: Severe Weather Emergency Accommodation provision in locationName.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: locationId
page: locationId-advice
location: locationId
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/locationId/">locationName</a></li>
      <li class="breadcrumbs__item"><a href="/locationId/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="locationId" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During the winter months, emergency beds are available for rough sleepers.</p>
      <p>Insert content here!</p>

    {{> social-share}}
    
  </div>
</div>