<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="about.html"><system.webServer><httpRedirect enabled="true" destination="/about/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="our-team.html"><system.webServer><httpRedirect enabled="true" destination="/our-team/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="category.html"><system.webServer><httpRedirect enabled="true" destination="/find-help/category/$Q" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="category-by-day.html"><system.webServer><httpRedirect enabled="true" destination="/find-help/category-by-day/$Q" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="contact.html"><system.webServer><httpRedirect enabled="true" destination="/about/contact/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="donate.html"><system.webServer><httpRedirect enabled="true" destination="/give-help/donate/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="emergency-help.html"><system.webServer><httpRedirect enabled="true" destination="/find-help/emergency-help/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="find-help.html"><system.webServer><httpRedirect enabled="true" destination="/find-help/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="give-help.html"><system.webServer><httpRedirect enabled="true" destination="/give-help/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="give-items.html"><system.webServer><httpRedirect enabled="true" destination="/give-help/give-items/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="give-item-submit-details.html"><system.webServer><httpRedirect enabled="true" destination="/give-help/give-items/$Q" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="give-help/give-items/submit-details"><system.webServer><httpRedirect enabled="true" destination="/give-help/help/$Q" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="how-this-started.html"><system.webServer><httpRedirect enabled="true" destination="/how-this-started/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="join-streetsupport.html"><system.webServer><httpRedirect enabled="true" destination="/join-streetsupport/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="organisation.html"><system.webServer><httpRedirect enabled="true" destination="/find-help/organisation/$Q" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="sponsor.html"><system.webServer><httpRedirect enabled="true" destination="/give-help/partnership/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="volunteer.html"><system.webServer><httpRedirect enabled="true" destination="/give-help/volunteer/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="sponsors"><system.webServer><httpRedirect enabled="true" destination="/give-help/partnership/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="give-help/give-items"><system.webServer><httpRedirect enabled="true" destination="/give-help/help/$Q" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="give-help/donate/real-change-mcr"><system.webServer><httpRedirect enabled="true" destination="/manchester/realchangemcr/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="bigchangemcr"><system.webServer><httpRedirect enabled="true" destination="/manchester/realchangemcr/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="swep"><system.webServer><httpRedirect enabled="true" destination="/find-help/severe-weather-accommodation/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="about/manchester-homelessness-partnership"><system.webServer><httpRedirect enabled="true" destination="/manchester/manchester-homelessness-partnership" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="contact"><system.webServer><httpRedirect enabled="true" destination="/about/contact" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="impact"><system.webServer><httpRedirect enabled="true" destination="/about/impact" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="jobs"><system.webServer><httpRedirect enabled="true" destination="/about/jobs" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="cambridge"><system.webServer><httpRedirect enabled="true" destination="/cambridgeshire" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="leeds/emergency-help"><system.webServer><httpRedirect enabled="true" destination="/leeds/advice" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="liverpool/emergency-help"><system.webServer><httpRedirect enabled="true" destination="/liverpool/advice" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="manchester/emergency-help"><system.webServer><httpRedirect enabled="true" destination="/manchester/advice" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="southampton/emergency-help"><system.webServer><httpRedirect enabled="true" destination="/southampton/advice" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="winter"><system.webServer><httpRedirect enabled="true" destination="/greater-manchester" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="gm"><system.webServer><httpRedirect enabled="true" destination="/greater-manchester" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="westmidlands"><system.webServer><httpRedirect enabled="true" destination="/west-midlands" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="wm"><system.webServer><httpRedirect enabled="true" destination="/west-midlands" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="gm/asks"><system.webServer><httpRedirect enabled="true" destination="/greater-manchester/donate-needed-items" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="gm/volunteer"><system.webServer><httpRedirect enabled="true" destination="/greater-manchester/volunteer" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="give-help/partnership"><system.webServer><httpRedirect enabled="true" destination="/give-help/business-support/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="manchester/bigchangemcr"><system.webServer><httpRedirect enabled="true" destination="/manchester/realchangemcr/" httpResponseStatus="Permanent" /></system.webServer></location>
  <location path="derbyshire/pledge"><system.webServer><httpRedirect enabled="true" destination="https://google.com" httpResponseStatus="Permanent" /></system.webServer></location>


  <system.webServer>
    <security>
      <requestFiltering removeServerHeader ="true"></requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="0.01:00:00" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL" >
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/404/" />
      <error statusCode="500" responseMode="ExecuteURL" path="/500/" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!-- <add name="Content-Security-Policy-Report-Only" value="
          report-uri https://streetsupportcsp.report-uri.com/r/d/csp/reportOnly;
          default-src 'self' fonts.gstatic.com;
          script-src 'self' data: www.google-analytics.com ajax.googleapis.com www.googletagmanager.com maps.googleapis.com 'sha256-1qYIVTpENPTYgQIXXqUcm3XlZUXJHT2Anv9MM6pKgWE=' 'sha256-T74JPY9VUOjtX1Jp4GV2pATr7j+79bMTICNyeN92y68=' 'sha256-c2GNWaPcAEaKqF+B+TytYL6MILEqXUukDT8N5tFypuI=' 'sha256-VQ4wg9+SDI74CogNZq7Qo7IYGzfeZEIWEiCKS8HnBFw=';
          connect-src 'self' *.azurewebsites.net api.postcodes.io news.streetsupport.net;
          img-src 'self' data: www.google-analytics.com maps.googleapis.com maps.gstatic.com play.google.com news.streetsupport.net stats.g.doubleclick.net;
          child-src ;
          style-src 'self' 'unsafe-inline' fonts.googleapis.com;" /> -->
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Canonical Hostname" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{C:2}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
