---
title: Accommodation Advice for preventing homelessness - Street Support
description: Advice on getting into accommodation in your area.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: swep
---
{{> no-js}}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/">Accommodation</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/accommodation/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Prevention</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Accommodation Advice</h1>
    <h2 class="h2 block__sub-header">Advice on preventing homelessness for those facing eviction or at risk</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>It is important to get the right advice if you are in immediate risk of homelessness. Please read our <a href="/find-help/emergency-help/">emergency advice for your area</a> to find out about council office hours and out of hours phone numbers.  You can also contact <a href="http://england.shelter.org.uk/get_advice/homelessness">Shelter</a> for advice via their national phone line on 0808 800 4444.</p>

      <h3>Preventing homelessness</h3>
      <p>TODO Where to go if at risk</p>

      {{> social-share}}

    </div>
  </div>
</div>

<div id="spin"></div>
