---
title: Emergency Homeless Help in Bournemouth - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: emergencyhelp
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/">Bournemouth</a></li>
      <li class="breadcrumbs__item">Emergency Help</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header">
  <div class="container container--city-header city-header--bournemouth">
    <h1 class="h1 block__header">Emergency Advice</h1>
    <div class="block__cta block__cta--city-header">
      <div id="js-swep-output" class="template--maybe-empty"></div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p class="h2 text-center">Please note, this is advice for Bournemouth; please change your location above for general advice.</p>
      {{> divider }}
      <p>If you've just become homeless, or feel that there is a risk of that happening, it's important to get the right advice as soon as possible. There is a range of support available, depending on your situation.</p>

      <a name="council-info"></a>
      <h2 class="h2">Presenting as Homeless</h2>
      <p>If you are homeless, at risk of homelessness, or want advice on what housing options are available, visit our Bournemouth Council Housing Options Team at the Town Hall in Bournemouth between 9 am and 4.30pm Monday to Thursday, and between 9am and 4pm on a Friday.</p>
      <p>If you become homeless outside of these times on a weekday, or anytime on a weekend or bank holiday, call the Emergency Out Of Hours Team on <a href="tel:01202 451467">01202 451467</a>. The team will assess your circumstances, and depending on the outcome of this you may be offered accommodation.</p>

      <a name="rough-sleepers"></a>
      <h2 class="h2">Help for Rough Sleepers</h2>
      <p>If you see someone sleeping rough, and don't know how to help, you can use the Street Link service (0300 500 0914) to notify the council about a rough sleeper anywhere in the country.</p>
      <p>If you are in Bournemouth, you can contact the council Rough Sleeper Team by email on <a href="mailto:b&pstreetoutreach@mungos.org">b&pstreetoutreach@mungos.org</a> or by calling <a href="tel:01202 315962">01202 315962</a>.  This is a 24 hour answer-phone. Please leave as much detail as possible. The team deliver an outreach service so are not always in the office, but your message will be listened to and followed up at the earliest opportunity.</p>
      <h3 class="h3">In an Emergency</h3>
      <p>Call <a href="tel:999">999</a> in an emergency - when someone is at risk of being injured, a crime or is in progress, or if you have urgent concerns about someone's health.</p>

      <a name="support-services"></a>
      <h2 class="h2">Support Services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to a <a href="/find-help/dropin/timetable/">local drop in centre</a>. There you can get advice on what housing options are available for you, and refer you into other services.</p>
      <p>There are a number of organisations in Bournemouth dedicated to helping people who are experiencing homelessness. You can find all local services available to support you through the <a href="/find-help">Find Help</a> section.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
{{> swep-notification }}
</script>
