---
title: Emergency Homeless Help in Stockport - Street Support
description: Street support makes it easier to help homeless people. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: generic
section: findhelp
page: emergencyhelp
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
      <li class="breadcrumbs__item"><a href="/find-help/emergency-help/">Emergency Advice</a></li>
      <li class="breadcrumbs__item">Stockport</li>
    </ol>
  </div>
</div>

{{> page-header main="Stockport Council" sub="How your council can help if you are facing homelessness" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <a name="council-info"></a>
      <h2 class="h2">Support from Stockport Council</h2>
      <p>To tell Stockport council you are homeless:</p>
      <ul>
        <li>Visit Stockport council town hall</li>
        <li>Mon-Fri 9.30am-4pm call 0161 474 3772</li>
        <li>Outside those hours in an emergency call 0161 474 2818</li>
        <li>Email <a href="mailto:homechoice@stockporthomes.org">homechoice@stockporthomes.org</a></li>
      </ul>

      <p>To tell Stockport homes about someone who is sleeping rough:</p>
      <ul>
        <li>Call 0161 474 4237</li>
        <li>Email <a href="mailto:homechoice@stockporthomes.org">homechoice@stockporthomes.org</a></li>
      </ul>

      <a name="support-services"></a>
      <h2 class="h2">Support services</h2>
      <p>If you would like support through the process, or if you don't qualify as legally homeless, it is best to go to one
        of the local <a href="/find-help/dropin/timetable/">drop in centres</a> who can advise you on what options
        are available for you.</p>

      <a name="swep"></a>
      <h2 class="h2">Emergency Accomodation in Winter</h2>
      <p>During periods of severe cold weather, when forecast to fall to zero degrees or below, additional emergency accommodation
        is provided by the council. The usual guidelines over who the council has a duty to provide emergency accommodations
        for are lifted, and extra provision is made for rough sleepers, regardless of their status. To establish whether
        or not this is a severe cold weather period, people are advised to contact your council.</p>

      {{> social-share}}
    </div>
  </div>
</div>

<script id="js-swep-tpl" type="text/template">
  {{> swep-notification }}
</script>