<div class="block block--alt-giving-soton">
  <div class="container">
    <div class="block__alt-giving-soton">
      <img src="/assets/img/southampton-logos/change-the-way-you-give.jpg" width="100%" alt="change the way you give logo" />
    </div>
    <div class="home__copy home__copy--alt-giving-soton">
      <h1>Change The Way You Give</h1>
      <p>Street Support Action Group Southampton have worked together to launch the Change The Way You Give campaign to make sure your money reaches those who really need help.</p>
      <p>Your donations will support three projects that have been selected by the Street Support Action Group Southampton panel with input from individuals with lived experience of homelessness in Southampton. </p>
      <a class="btn btn--brand-e" href="https://www.gofundme.com/f/change-southampton">
        <span class="btn__text">Donate</span>
      </a>
    </div>
  </div>
</div>
