<div class="block block--big-change-mcr">
  <div class="container container--big-change-mcr">
    <div class="home__copy home__copy--big-change-mcr-logo">
      <img src="/assets/img/mcr-homelessness-partnership.png" alt="Big Change Manchester #BigChangeMcr" />
      <span class="big-change-banner__heading-text">Manchester</span>
      <span class="big-change-banner__heading-text big-change-banner__heading-text--minor">ending</span>
      <span class="big-change-banner__heading-text">homelessness</span>
    </div>
    <div class="home__copy home__copy--padding home__copy--big-change-mcr-text">
      <h1>Big Change in Manchester</h1>
      <p>Big Change pays for practical items individuals need to build independent lives away from the streets. If everyone who lives, works or visits Manchester donates, together we can make a Big Change!</p>
      <a class="btn btn--big-change" href="/manchester/bigchangemcr/">
        <span class="btn__text">Check out Big Change</span>
      </a>
    </div>
  </div>
</div>