<div class="block block--bcp-charter">
  <div class="block__bcp-charter">
    <div class="block__bcp-charter-buildings">
      <div class="content">
        <div class="title">
          <h1>Partnership and Charter</h1>
          <h2 class="h3">Bournemouth, Christchurch & Poole</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="home__copy home__copy--bcp-charter">
    <h1>The Homelessness Partnership</h1>
    <p>The Homelessness Partnership is an alliance of those with lived experience of homelessness, plus representatives of businesses, charities, faith groups, universities and other educational institutions, and all statutory bodies (Council, Police, Health, Probation).</p>
    <p>Our Vision is to end homelessness in Bournemouth, Christchurch and Poole by ensuring everyone has a safe place to live that they can call home.</p>
    <p>Does your organisation or business want to join us – if so, click here to download our Partnership Charter and sign up today.</p>
    <a class="btn btn--brand-e" href="/bcp/charter">
      <span class="btn__text">Click here to find out more</span>
    </a>
  </div>
</div>
