<div class="block block--bournemouth-charter">
  <div class="block__bournemouth-charter">
    <div class="block__bournemouth-charter-buildings">
      <div class="content">
        <div class="title">
          <h1>Homelessness Charter</h1>
          <h2 class="h3">Bournemouth, Christchurch & Poole</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="home__copy home__copy--bournemouth-charter">
    <h1>Bournemouth, Christchurch and Poole Homelessness Charter</h1>
    <p>Join us in our vision for Bournemouth, Christchurch and Poole by ensuring everyone has a safe place to live that they can call home.</p>
    <a class="btn btn--brand-e" href="/bcp/charter">
      <span class="btn__text">Click here to find out more</span>
    </a>
  </div>
</div>
