<div class="block block--derbyshire-charter">
  <div class="block__derbyshire-charter">
    <div class="block__derbyshire-charter-buildings">
      <div class="content">
        <div class="title">
          <h1>Derbyshire Homelessness Charter</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="home__copy home__copy--bcp-charter">
    <h1>Derbyshire Homelessness Charter</h1>
    <p>Aiming to end homelessness in Derbyshire by making it everyone’s responsibility.</p>
    <a class="btn btn--brand-e" href="/derbyshire/charter">
      <span class="btn__text">Click here to find out more</span>
    </a>
  </div>
</div>
