<div class="cta--cv-notification">
  <div class="container text-center">
    <p><a href="/find-help/advice">Due to the coronavirus crisis standard information about accommodation may not apply. Please contact your council homelessness team for details or click here for more advice</a></p>
  </div>
</div>
