<div class="cta--cv-notification">
  <div class="container text-center">
    <p><a href="/{{{location}}}/advice"><span>Coronavirus response - click here for our latest updates.</span></a></p>
  </div>
</div>
