<div class="block block--blue-highlight">
  <div class="container wakefield-cares">
    <div class="block__content wakefield-cares__content">
      <h1 class="wakefield-cares__title">Welcome</h1>
      <p>Wakefield is proud to be part of the Street Support network, partnered with the Investors in Community (IIC) platform to create real social impact. 100% of all money donated goes to our local charities. You can also give items or volunteer.</p>
      <p>We’re working together to improve support for people who are:</p>
      <ul>
        <li>
          Sleeping rough
        </li>
        <li>
          Homeless
        </li>
        <li>
          Begging in the streets
        </li>
        <li>
          Vulnerable to circumstances that lead to the above
        </li>
      </ul>
      <a class="btn btn--emergency-advice  btn--brand-d" href="https://app.investorsincommunity.org/explore/charities?charity_city=Wakefield%20District">
        <span class="btn__text">Start giving</span>
      </a>
    </div>
    <div class="text-center wakefield-cares__logos">
      <h2 class="h2">Powered by:</h2>
      <ul class="partners__list">
        <li class="partners__logo partners__logo--iic"><a href="https://investorsincommunity.org/">{{> icon name="iic"}}</a></li>
        <li class="partners__logo partners__logo--safer-together"><a href="https://www.wakefield.gov.uk/">{{> icon name="safer-together"}}</a></li>
        <li class="partners__logo partners__logo--ssn"><a href="/">{{> icon name="ssn"}}</a></li>
      </ul>
    </div>
  </div>
</div>
