<div class="block block--highlight">
  <div class="container container--big-change-mcr">
    <div class="home__copy home__copy--it-takes-a-city-logo">
      <img class="partnership__icon--itac" src="/assets/img/cambridge-logos/itac-white.png" alt="it-takes-a-city-logo">
    </div>
    <div class="home__copy home__copy--padding home__copy--it-takes-a-city">
      <h1>It Takes a City</h1>
      <p>It Takes a City – A Cambridge Homelessness Partnership - provides a framework and mechanism to enable the city to unite and take action to end rough sleeping in the city due to homelessness</p>
      <a class="btn btn--brand-e" href="/cambridgeshire/it-takes-a-city">
        <span class="btn__text">Learn more</span>
      </a>
    </div>
  </div>
</div>
