<div class="donation-banner">
  <h2 class="donation-banner__heading">Donate now to help us tackle homelessness together</h2>
  <p>Your donation goes directly to Street Support Network, enabling us to work online and offline to connect and support local networks to more effectively tackle homelessness.</p>
  <a href="//widgets.justgiving.com/Button/Redirect?p=eyJJZCI6ImIwYWFhYzcwLTY1ODctNGU1ZS04ZWNkLTQ3MWRhODE5N2I2MSIsIkNoYXJpdHlJZCI6MjU3MjY5OSwiU2l6ZSI6InMiLCJSZWZlcmVuY2UiOiJoZWFkZXJkb25hdGlvbiIsIlR5cGUiOiJEb25hdGUifQ=="><img class="btn btn--just-giving" src="//widgets.justgiving.com/Button?p=eyJJZCI6ImIwYWFhYzcwLTY1ODctNGU1ZS04ZWNkLTQ3MWRhODE5N2I2MSIsIkNoYXJpdHlJZCI6MjU3MjY5OSwiU2l6ZSI6InMiLCJSZWZlcmVuY2UiOiJoZWFkZXJkb25hdGlvbiIsIlR5cGUiOiJEb25hdGUifQ=="/></a>
</div>
