<div class="block block--manc-digital-collective">
  <div class="container">
    <div class="block__manc-digital-collective">
      <a href="https://digital.lifeshare.org.uk/donate-device/"><img src="/assets/img/manchester-logos/mdc.png" width="100%" alt="alternative giving campaign logo"/></a>
    </div>
    <div class="home__copy home__copy--mdc">
      <h1>Manchester Digital Collective</h1>
      <p>The Manchester Digital Collective's vision is for everyone to have equal access and opportunity to the life enhancing benefits the digital world can provide.<br> We're always on the lookout for any unused devices you may have laying around - by donating a device, you can help empower a vulnerable person by enabling them to connect to others in an increasingly digitalised society. <br>When you donate your device, we'll wipe its data, clean and disinfect it and then distribute it to a vulnerable person in Manchester.</p>
      <a class="btn btn--brand-e" target="_blank" href="https://digital.lifeshare.org.uk/donate-device/">
        <span class="btn__text">Donate your device</span>
      </a>
    </div>
  </div>
</div>
