<div class="block block--mcr-partnership">
  <div class="container container--big-change-mcr">
    <div class="home__copy home__copy--migrant-fund-logo">
      {{>icon name="partnershipLogo-solid-white" class="partnership__icon--medium" }}
    </div>
    <div class="home__copy home__copy--padding home__copy--migrant-fund">
      <h1>Manchester Homelessness Partnership</h1>
      <p>Learn about the Manchester Homelessness Partnership (MHP); a network of organisations formed to work together to end homelessness in Manchester.</p>
      <a class="btn btn--brand-e" href="https://mhp.org.uk">
        <span class="btn__text">Learn more</span>
      </a>
    </div>
  </div>
</div>
