<div class="block block--highlight">
  <div class="container">
    <div class="home__copy">
      {{>icon name="partnershipLogo" class="partnership__icon--medium" }}
    </div>
    <div class="home__copy home__copy--padding home__copy--migrant-fund">
      <h1>Migrant Destitution Fund</h1>
      <p>Big Change pays for practical items individuals need to build independent lives away from the streets. If everyone who lives, works or visits Manchester donates, together we can make a Big Change!</p>
      <a class="btn btn--brand-e" href="/manchester/migrant-destitution-fund">
        <span class="btn__text">Learn more</span>
      </a>
    </div>
  </div>
</div>
