<div class="block block--highlight">
  <div class="container container--big-change-mcr">
    <div class="home__copy home__copy--migrant-fund-logo">
      {{>icon name="partnershipLogo-solid-white" class="partnership__icon--medium" }}
    </div>
    <div class="home__copy home__copy--padding home__copy--migrant-fund">
      <h1>Migrant Destitution Fund</h1>
      <p>The Manchester Homeless Partnership (MHP) Destitute Migrants' Relief Fund provides a small crisis grant per month to destitute migrants who are subject to immigration controls and have no recourse to Public Funds (NRPF).</p>
      <a class="btn btn--brand-e" href="/manchester/migrant-destitution-fund">
        <span class="btn__text">Learn more</span>
      </a>
    </div>
  </div>
</div>
