<div class="block block--mcr-print-map">
  <div class="mcr-print-map">
    <div class="block__mcr-map-pin">
    </div>
  </div>
  <div class="home__copy home__copy--mcr-print-map">
    <h1>Printable Map of Local Services in Manchester</h1>
    <p>There's a great new map that's available for FREE that maps emergency support services for those sleeping rough in Manchester.</p>
    <a class="btn btn--brand-e" href="/manchester/manchester-map.pdf">
      <span class="btn__text">Download the map now</span>
    </a>
  </div>
</div>
