<div class="block block--leeds-print-map">
  <div class="block__leeds-print-map">
    <div class="block__leeds-map-pin">
        {{!-- <a href="https://leedscc.maps.arcgis.com/apps/webappviewer/index.html?id=42c7c9d0c6ba452fb28d3e33880519b4"> un-comment when map link is added--}}
      <span class="block__leeds-print-map--link-placeholder"></span>
    </a>
  </div>
  </div>
  <div class="home__copy home__copy--leeds-print-map">
    <h1>Leeds Food Aid Network (FAN)d</h1>
    <p>There's a great new document that lists the locations of food provision services for those who need them in Leeds.</p>
    <a class="btn btn--brand-e" target="_blank" href="https://docs.google.com/document/d/1i2oxqiACc4xse3mwQ9lGbJC4AD-AXcXHTmlmrmZcG5g/edit">
      <span class="btn__text">View the list</span>
    </a>
  </div>
</div>
