<div class="block block--brighton-print-map">
  <div class="brighton-print-map">
    <div class="block__brighton-map-pin">
    </div>
  </div>
  <div class="home__copy home__copy--brighton-print-map">
    <h1>Printable Map of Local Services in Brighton and Hove</h1>
    <p>There's a great new map that's available for FREE that maps emergency support services for those sleeping rough in Brighton and Hove.</p>
    <a class="btn btn--brand-e" href="/brighton-and-hove/brighton-map.pdf">
      <span class="btn__text">Download the map now</span>
    </a>
  </div>
</div>
