<div class="block block--reading-print-map">
  <div class="block__reading-print-map">
    <div class="block__reading-map-pin">
    </div>
  </div>
  <div class="home__copy home__copy--reading-print-map">
    <h1>Printable Map of Local Services in Reading</h1>
    <p>There's a great new map that's available for FREE that maps emergency support services for those sleeping rough in Reading.</p>
    <a class="btn btn--brand-e" href="/reading/reading-map.pdf">
      <span class="btn__text">Download the map now</span>
    </a>
  </div>
</div>
