<div class="block block--mcr-print-map">
  <div class="mcr-print-map">
    <div class="block__mcr-map-pin">
    </div>
  </div>
  <div class="home__copy home__copy--mcr-print-map">
    <h1>Christmas and New Year opening times</h1>
    <p>There's a great new map that's available for FREE that maps and lists the opening times for homelessness services in the city.</p>
    <a target="_blank" class="btn btn--brand-e" href="/manchester/manchester-xmas-map.png">
      <span class="btn__text">View the map</span>
    </a>
  </div>
</div>
