<div class="block block--light-highlight">
  <div class="container">
    <div class="block__content text-center">
      <div class="sleeping-rough-title">
        <img class="sleeping-rough-title__icon" src="/assets/img/exclamation.svg" alt="exclamation-icon">
        <h1 class="sleeping-rough-title__heading">Help someone sleeping rough</h1>
      </div>
      <p class="sleeping-rough-title__content">If you are worried about someone you’ve seen sleeping rough in Reading, you can alert the Council and Reading’s Rough Sleeper Outreach Service via Streetlink by downloading the <a href="https://www.streetlink.org.uk/">Streetlink app</a> or by calling <a href="tel:03005000914">0300 500 0914</a>.</p>
      <a class="btn btn--brand-e btn--emergency-advice" href="/reading/advice">
        <span class="btn__text">See more emergency advice</span>
      </a>
    </div>
  </div>
</div>
