<div class="block block--street-aid-notts">
  <div class="container">
    <div class="block__street-aid-notts">
      <img src="/assets/img/nottingham-logos/nottingham-street-aid.png" width="100%" alt="street aid notts logo"/>
    </div>
    <div class="home__copy home__copy--street-aid-notts">
      <h1>A New Way to Give</h1>
      <p>We are asking people to give real help to homeless people by donating to a fund that makes grants to people in need. Local charities will be able to apply to this fund to help a named individual avoid spending time on the streets. Learn more <a href="/nottingham/street-aid">about Nottingham Street Aid</a>.</p>
      <a class="btn btn--brand-d" target="_blank" href="https://www.mygivinghub.com/detailed/donate?encoded=1&encoded_params=eyJpdiI6IkFXTittT3BjUFlIU0RKYThpbWYxbmc9PSIsInZhbHVlIjoicEh4Zk1CMEphY3lYZTNIQnF1dTlyTmtqZUcwWTk2OG9Xbjd3SFRYSFczcVhPUytkNHJHMkR6RlZrTkU2a2J0NTVHWVN3MEFVS3hQaGpGRThBSmxRWDllSVVTNmxsUzMwU0V0TmlpeVJxN1daSEdyWk9Fd0Z3bFVNbUlidkJ5OWNsSllGQmRmT3ZmaEptczNhRzlIaWFScVRENmVZRHNpc2xHZVFON3pLNUZDQi9uaUkzU3RnWEptYXhKdGVmSEJUVDhMcXVNcVl4dDdaZU1KZ3M1cTFBSUNYckwybnhKOXpKblNvMkJTV0kreFpFa1JZV2hRcGxhMEEvRWJXZk1WNmFneW5YVzZRUGtzN2RNczFrd09lMU5qV25UZU5NNDl6L3ljZ1RMWEZWbUJydVFaYkxZYWpVQy8yUkFPYVNiNjhyZlZEaUJtMms2MnBQYngyYTgwdmVuVTNJaEZZU2psbWNrTVN3TVJaVXhMdldkMVVvZlpGR25GMXhiempZSHZ6RTQxUVNBM0JUOVFKa3lISTRWeU5TWUN1RERlU2h0MXJmYUE1d2huMElVamVQNXhXeGtsclM3UFNKS3dGVVVxaFZ2OUJTeU0yVHo1eFZ0UHc2WnBYa1FOUkRPMk01T3dteXNzVXVrOU9yeGdMc1Zzd0lwWFhMSVpocUtrdFI5cVlXSGdmY0VLZFRmaEozYXpnWE5OTDY0NzdmdW1LWWxCN0RNU2hhSWY0YncwbVBtVnk2WXN2dXJHMjU3Mis5dFdWOTNWTnJvaExBMHdwaTdKVVBIVy9ZZGw4ZDhCN281UVpja2g5VTdSYy9NeXVDNnp2bTdyR1kyMDdJRG1SQjNTb1A0K2dhUmVxc2M2N2JsRUppVEhVOUovaGdRbEdpMlZaZTVnZW1sNnRYSlNINVBXc3RBWXJ5dDNMRWk3QVZ5ZzhNdTNGYmFiS3ZTcmNmTGhoWGxlbGVBPT0iLCJtYWMiOiIxMjRiNGI3YTAzMmQ1NTAxMTM4ZGUyY2E1MWExM2ZhMTQwZGJjYmY0MGI1ODlhMDUyMWY1Y2NhZTVkMDMxYWQzIiwidGFnIjoiIn0%3D">
        <span class="btn__text">Donate now</span>
      </a>
    </div>
  </div>
</div>
