<div class="block block--street-change-glasgow">
  <div class="container">
    <div class="block__street-change-glasgow">
      <img src="/assets/img/glasgow-logos/glasgow-change.png" width="100%" alt="street change glasgow logo" />
    </div>
    <div class="home__copy home__copy--street-change-glasgow">
      <p>GLASGOW partners developed <a target="_blank" href="https://www.streetchangeglasgow.com">Street Change Glasgow</a> – Glasgow’s Alternative Giving platform to tackle begging, rough sleeping and homelessness.</p>
      <p>Donations are managed and administered locally, meeting the individual needs of local vulnerable people who are begging or rough sleeping.</p>
      <p>DONATE via our Just Giving page or check out our contactless tap points across Glasgow! With your help we can create Street Change together. <a target="_blank" href="https://twitter.com/streetchangegla">#TapToChangeLives</a>.</p>
      <a class="btn btn--brand-scg" target="_blank" href="https://www.justgiving.com/campaign/streetchangeglasgow">
        <span class="btn__text">Learn more</span>
      </a>
    </div>
  </div>
</div>
