
<div class="block block--cambridge-street-aid">
  <div class="container">
    <div class="block__cambridge-street-aid">
      <iframe class="street-aid-video" src="https://www.youtube.com/embed/25Hw0nsr0J0?si=J03gI556xKreeZTl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="home__copy home__copy--cambridge-street-aid">
      <a href="https://cambscf.org.uk/cambridge-street-aid">
        <img src="/assets/img/cambridge-logos/cambridge-street-aid-logo.png" width="100%" alt="cambridge street aid logo"/>
      </a>
      <p>We are asking people who live, work and study in Cambridge to give to the Street Aid fund to help people leave the streets behind. Every single penny goes towards a grant to help someone get off, and stay off, the streets.</p>
      <a class="btn btn--brand-e" href="https://www.justgiving.com/campaigns/charity/cambridgeshirecommunity/csa">
        <span class="btn__text">Donate Now</span>
      </a>
    </div>
  </div>
</div>
