<div class="block block--video-banner">
  <div class="home__copy home__copy--video-banner">
    <h1>Southampton Homelessness Partnership</h1>
    <p>Have a look at our video to learn more about the Southampton Homelessness Partnership</p>
    <p>There's a great new leaflet that's available for FREE that lists emergency support services for those sleeping rough in Southampton.</p>
    <a class="btn btn--brand-e btn--emergency-advice" href="/southampton/soton-services.pdf">
      <span class="btn__text">Download the leaflet</span>
    </a>
  </div>
  <div class="video-section">
    <video id="soton-video" width="100%" height="350px" poster="/southampton/video-poster.png" controls controlsList="nodownload">
      <source src="/southampton/soton-services.mp4" type="video/mp4">
      Your browser does not support playback of this video
    </video>
  </div>
</div>
