<div class="block block--vol-for-good-header">
  <div class="container container--vol-for-good-header" style="height: 300px;">
    <h1 class="h1 block__header"><span>Volunteer </span>For Good</h1>
    <div class="text-center">
    <h2 class="h2 text-center">Maximise the impact of your volunteering.</h2>
    <a href="/greater-manchester/volunteer-for-good" class="btn btn--brand-e btn--emergency-advice">
      <span class="btn__text">Learn more</span>
    </a>
    </div>
  </div>
</div>
