<div class="block block--notts-warm-spaces">
  <div onclick="location.href='/nottingham/warm-spaces-tt.pdf';" style="cursor: pointer;" class="block__notts-warm-spaces">
  </div>
  <div class="home__copy home__copy--notts-warm-spaces">
    <h1>Warm Spaces</h1>
    <p>During this period of increased financial stress and the fuel cost crisis, various organizations around Nottingham have opened their doors to provide 'warm spaces' often with hot food or drink and someone to talk to.  Please download and print this weekly rota. Things are changing rapidly, so once you have found a warm space near you, please check on the <a href="https://www.asklion.co.uk/kb5/nottingham/directory/advice.page?id=iR3SMqrXk68">asklion website</a> or contact the organisation directly via the details on the timetable, to verify that the information is still correct.</p>
    <a class="btn btn--brand-d" target="_blank" href="/nottingham/warm-spaces-tt.pdf">
      <span class="btn__text">View the full timetable</span>
    </a>
  </div>
</div>
