<div class="block block--real-change-wal">
  <div class="container">
    <img class="real-change-wal__logo" src="/assets/img/real-change-w-and-l/logo.png" alt="Real Change Wigan and Leigh logo" width="88" height="127" />
    <h1 class="real-change-wal__heading">Help to make a Real Change in Wigan and Leigh</h1>
    <section class="real-change-wal__copy">
      <p>Real Change pays for practical items individuals need to build independent lives away from the streets.</p>
      <p>If everyone who lives, works or visits Wigan &amp; Leigh donates, together we can make a Real Change to homelessness!</p>
      <a href="https://realchangewiganandleigh.co.uk" class="btn btn--brand-e">
        <span class="btn__text">Click here to donate</span>
      </a>
    </section>
  </div>
</div>
