<div class="block block--alternative-giving-campaign">
  <div class="container">
    <div class="block__alternative-giving-campaign">
      <img src="/assets/img/wolverhampton-logos/agc.png" width="100%" alt="alternative giving campaign logo" />
    </div>
    <div class="home__copy home__copy--change-into-action">
      <h1>Alternative Giving CIO</h1>
      <p><a target="_blank" href="https://wolverhamptonchange.co.uk/">Alternative Giving CIO</a> (Charity No. 1186415) is an opportunity for everyone and anyone to make the choice to give, donate and support those in need. Your donation will help to change the way in which we help people at risk of homelessness in the city by ensuring all funds raised reach those currently in severe hardship.</p>
      <a class="btn btn--brand-e" target="_blank" href="https://www.justgiving.com/alternativegiving">
        <span class="btn__text">Donate Now</span>
      </a>
    </div>
  </div>
</div>
