---
title: Greater Manchester - Organisations Near You - Street Support Network
description: Learn about organisations in Greater Manchester that need volunteers
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: generic
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/greater-manchester/volunteer-for-good">Volunteer For Good</a></li>
      <li class="breadcrumbs__item">Organisations Near You</li>
    </ol>
  </div>
</div>

<div class="block block--orgs-near-you-header">
  <div class="container" style="height: 250px; padding: 0!important;">
    <h1 class="h1 block__header"><span>Organisations </span>Near You</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>There are countless homelessness organisations in Greater Manchester who are currently looking for volunteers. To give you an insight into different volunteering opportunities we’ve interviewed a handful of charity organisations who are currently recruiting.</p>
      <p>Have a browse through to learn more about the work these organisations do and to get a feel for what kind of volunteering position might best suit you!</p>
    </div>
  </div>
</div>

{{> divider }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <img class="vol-for-good-logo" src="/assets/img/vfg-imgs/c4c.png" alt="">
      <h2 class="h2">Coffee4Craig</h2>
      <p>Coffee4Craig provides an evening drop-in service supporting people experiencing homelessness. We do this by providing home-cooked meals, access to a medic, a shower and barbering service, advice – and a team of friendly staff and volunteers.</p>
      <a href="https://news.streetsupport.net/2023/11/12/spotlight-coffee4craig/">Learn more about Coffee4Craig</a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <img class="vol-for-good-logo" src="/assets/img/vfg-imgs/egg.png" alt="">
      <h2 class="h2">Engage, Grow, Go</h2>
      <p>EGG (or Engage, Grow, Go) is a Manchester and Stockport-based charity, offering homelessness support throughout the North West. We look at the long-term solution, helping people out of homelessness, into their own homes and either work or self-employment. </p>
      <a href="https://news.streetsupport.net/2023/11/12/spotlight-engage-grow-go/">Learn more about Engage, Grow, Go</a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <img class="vol-for-good-logo" src="/assets/img/vfg-imgs/greatertogethermanchester.png" alt="">
      <h2 class="h2">Greater Together Manchester</h2>
      <p>Greater Together Manchester is an anti-poverty charity supporting and empowering people in Greater Manchester. We work primarily with people who have experience of homelessness and other related difficulties. We run various projects including a Social Super Market, our Befriending Service, Wayfinder, and our activities programme Lifeskills.</p>
      <a href="https://news.streetsupport.net/2023/11/12/spotlight-greater-together-manchester/">Learn more about Greater Together Manchester</a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <img class="vol-for-good-logo" src="/assets/img/vfg-imgs/independent-choices.png" alt="">
      <h2 class="h2">Independent Choices</h2>
      <p>Independent Choices Greater Manchester set up our confidential Greater Manchester Domestic Abuse Helpline in 1978. It is open for anyone over the age of 16 who is experiencing or has previously experienced domestic abuse & violence in any form. Crucially, our Helpline can also be accessed by professionals, as well as friends and family who want to support loved ones.  </p>
      <a href="https://news.streetsupport.net/2023/11/12/spotlight-independent-choices/">Learn more about Independent Choices</a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <img class="vol-for-good-logo" src="/assets/img/vfg-imgs/loavesandfishes.png" alt="">
      <h2 class="h2">Salford Loaves and Fishes</h2>
      <p>Salford Loaves and Fishes supports people experiencing homelessness, isolation and those who are vulnerable in Salford and the surrounding area. Experiencing homelessness may mean rough sleeping, sofa surfing, in unstable accommodation, at risk of homelessness or those struggling to keep their home for any reason...</p>
      <a href="https://news.streetsupport.net/2023/11/12/spotlight-salford-loaves-and-fishes/">Learn more about Salford Loaves and Fishes</a>
    </div>
  </div>
    <p class="text-center">
      <a class="btn btn--brand-e" href="https://news.streetsupport.net/tag/spotlight">
        <span class="btn__text">View all</span>
      </a>
    </p>
</div>

<div class="block block--light-highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Other places to look for volunteering opportunities</h2>
      <p>If none of our featured organisations suit you, it could be that you’re not in Greater Manchester, or you’d like to look outside the homelessness sector, there are still plenty of options.</p>
      <p>We’d suggest researching charities near you and contacting them directly. Perhaps you’re particularly passionate about their mission, perhaps their values align well with your own. We’d also recommend making sure they’re a registered charity, for your safety as well as those you’d be working with.</p>
      <p>If you’re still curious about the sorts of roles out there, these are the job boards we recommend having a look through.</p><br>
      <h3 class="h3">Volunteering in Greater Manchester</h3>
      <ul>
        <li><a href="https://www.actiontogether.org.uk/volunteering">Action Together (Oldham, Rochdale and Tameside)</a></li>
        <li><a href="https://www.salfordcvs.co.uk/volunteer-opportunities">Salford CVS</a></li>
        <li><a href="https://stockportvolunteerhub.org.uk/opportunities/volunteer-roles/">Stockport Volunteer Hub</a></li>
        <li><a href="https://www.thrivetrafford.org.uk/volunteering-trafford/volunteering-opportunities/">Thrive Trafford</a></li>
        <li><a href="https://manchestercommunitycentral.org/volunteer-centre-manchester/i-want-volunteer">Volunteer Centre Manchester</a></li>
      </ul>
      <h3 class="h3">Volunteering everywhere</h3>
      <ul>
        <li><a href="https://www.charityjob.co.uk/volunteer-jobs/?source=nav">Charity Jobs</a></li>
        <li><a href="https://doit.life/volunteer">Do IT Volunteering</a> - for tech based volunteering opportunities</li>
        <li><a href="https://www.ncvo.org.uk/get-involved/volunteering/want-to-volunteer/">NCVO (Nationwide)</a></li>
        <li><a href="https://reachvolunteering.org.uk/">Reach Volunteering</a> - for skills based volunteering opportunities</li>
        <li><a href="http://volunteeringmatters.org.uk/">Volunteering Matters</a> - for young, older and disabled volunteers</li>
        <li><a href="https://www.volunteerscotland.net/volunteer">Volunteer Scotland</a></li>
        <li><a href="http://www.volunteering-wales.net/">Volunteering Wales</a></li>
      </ul>
    </div>
  </div>
{{> social-share}}
</div>



