---
title: Thank you for registering - Street Support
description: Thank you for registering your organisation with Street Support
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/register">Join Street Support</a></li>
      <li class="breadcrumbs__item">Thank You</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Thank you for registering</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Thank you for registering your organisation with Street Support.</p>
      <p>Shortly, you will receive an email on how to setup your login and access our services.</p>
      {{> social-share}}
    </div>
  </div>
</div>
