---
title: Training - Working together to end homelessness in Manchester
description: Having well trained vounteers helps you deliver a better, safer service
image: https://streetsupport.net/assets/img/og/manchester-big-change.png
layout: default.hbs
permalink: false
jsBundle: generic
section: toolkit
page: training
nosubnav: false
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/community-toolkit">Community Toolkit</a></li>
      <li class="breadcrumbs__item">Training</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header city-header--manchester">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Training</h1>
    <h2 class="h2 block__sub-header">Having well trained vounteers helps you deliver a better, safer service</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>It is important that your volunteers are trained to support vulnerable people with a variety of needs.  Being well trained gives protection to both volunteers and the people you support.<p>
      <p>Courses are frequently updated, so please check back regularly.</p>
      <div class="training-course-list">
      <article class="training-course-list__item">
        <h2 class="h2">Safeguarding</h2>
        <p>A half day training course on safeguarding adults for Manchester based organisations, providing an understanding of the mental capacity act (MCA). This training takes place at regular intervals at the MACC office on Swan Street in Central Manchester.</p>
        <a href="https://www.manchestercommunitycentral.org/support-groups/training#unnamed_filter=.safeguarding" class="btn btn--brand-e">
          <span class="btn__text">Learn more</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Volunteering and the law</h2>
        <p>A full day training course covering all aspects of volunteering for Manchester based organisations. This training takes place at the MACC office on Swan Street in Central Manchester. Content includes volunteers rights, health & safety, vetting & criminal records checks, insurances, restrictions on volunteering, contracts or agreements, volunteering & welfare benefits, and policies for successfully involving volunteers.</p>
        <a href="https://www.manchestercommunitycentral.org/support-groups/training#unnamed_filter=.volunteering" class="btn btn--brand-e">
          <span class="btn__text">Learn more</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Self defense and conflict resolution</h2>
        <p>We can organise this course through Rachel Cruz on request.</p>
        <a href="/manchester/community-toolkit/get-in-touch/" class="btn btn--brand-e">
          <span class="btn__text">Contact for more information</span>
        </a>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Volunteer DBS checks</h2>
        <p>Salford CVS provide DBS checks for &pound;18 on request.</p>
        <p>More information to follow.</p>
      </article>
      <article class="training-course-list__item">
        <h2 class="h2">Online Courses</h2>
        <p>There are a wide range of online courses available, including safeguarding, health and safety and conflict resolution. Standard courses are &pound;1 and we have secured a reduced rate of 50p for any courses for groups working towards the best practice awards.</p>
        <a href="https://www.psittacus-ble.co.uk" class="btn btn--brand-e">
          <span class="btn__text">Book now</span>
        </a>
      </article>
      </div>
      <p>Volunteers will also benefit from training which develops their understanding of the challenges faced by people who are homeless, and builds their knowledge of other organisations and services.</p>
    </div>
  </div>
</div>
