<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--sandwell-council"><a target="blank" href="https://www.sandwell.gov.uk">{{> icon name="sandwell-council"}}</a></li>
  <li class="partners__logo partners__logo--sandwell-foodbank"><a target="blank" href="https://smethwick.foodbank.org.uk">{{> icon name="sandwell-foodbank"}}</a></li>
</ul>
