<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--sandwell-council"><a target="blank" href="https://www.sandwell.gov.uk">{{> icon name="sandwell-council"}}</a></li>
  <li class="partners__logo partners__logo--sandwell-foodbank"><a target="blank" href="https://smethwick.foodbank.org.uk">{{> icon name="sandwell-foodbank"}}</a></li>
  <li class="partners__logo partners__logo--crisis-coventry"><a href="https://www.crisis.org.uk/get-help/coventry/">{{> icon name="crisis-coventry"}}</a></li>
  <li class="partners__logo partners__logo--wmca"><a href="https://www.wmca.org.uk/">{{> icon name="wmca"}}</a></li>
</ul>
