---
title: Donate money to Real Change - Street Support
description: Street support makes it easier to help people facing homelessness. Donate money via Big Change #BigChangeMcr.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: bigchange
page: bigchangeabout
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/bigchangemcr/">Big Change</a></li>
      <li class="breadcrumbs__item">About</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">About Big Change MCR</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <div class="block__section">
        <p class="text-center">Big Change MCR is a central fund to help people experiencing homelessness pay for practical items that they need to build independent lives away from the streets.</p>
        <p class="text-center">
          <a href="https://realchangemanchester.co.uk/" class="btn btn--brand-d btn--full">
            <span class="btn__text">Donate now</span>
          </a>
        </p>
      </div>

      <div class="block__section block__section--about-your-donation">
        <h2 class="h2">What does Big Change MCR pay for?</h2>
        <p>Big Change MCR recognises that people who are homeless often face practical barriers which need to be overcome for them to become active, independent members of their community and avoid sleeping rough.</p>
        <p>Big Change MCR provides people facing homelessness with practical items which support a long term change. This might include paying for a deposit for a home, a training course to help improve job prospects and clothes for a job interview. Or it could involve purchasing furniture or essential household items for a new home.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section block__section--about-your-donation">
        <h2 class="h2">Why is Big Change MCR a more effective way to give?</h2>
        <p>Although giving money to people begging on the street seems supportive, it doesn’t help individuals get away from sleeping rough, or address the complicated range of reasons which made them homeless.</p>
        <p>Local charities and organisations work directly with people who are homeless, and apply for funds to pay for items they need.</p>
        <p>By working in partnership with charities and organisations providing frontline services for people facing homelessness, the Big Change MCR fund enables individuals to make lasting positive change. The organisations stay in touch with the individuals who receive money from the fund to provide long term support.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section block__section--about-your-donation">
        <h2 class="h2">Who decides how the fund is spent?</h2>
        <p>We know it’s important to make the application process simple and quick for the Big Change MCR fund to effectively help people who are homeless. That’s why for items under £100, our partner organisations and charities can claim through a short application form (only agencies who have signed the Big Change MCR agreement have access to this form).</p>
        <p>For items over £100 the application must be agreed by the Big Change MCR panel.  The panel members review each application against the guidelines for the fund and checks if the requests can be met in other ways, for free or cheaper. Decisions are made within 48 hours.</p>
        <p>The Big Change MCR panel includes someone with their own personal experience of sleeping rough, and representatives from four homeless services working in Manchester (Barnabus, Shelter, Reach Out to the Community, and MASH); the City Council; and the business community (Allied London and CityCo).</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">How will my donation be spent?</h2>
        <p>People who are homeless receive the items they need, purchased using your donation.</p>
        <p>Apart from a very small amount to cover administration costs, all money donated goes directly into the Big Change MCR funding pot.</p>
        <p>For donations over £200, Local Giving takes a fee of 5% to cover their costs, unless the donor agrees to cover this cost.</p>
        <p class="text-center">
          <a href="https://localgiving.org/charity/macc/project/bigchangemcr/" class="btn btn--brand-d btn--full">
            <span class="btn__text">Donate now</span>
          </a>
        </p>
      </div>

      <div class="block__section">
        <h2 class="h2">How can businesses support Big Change MCR?</h2>
        <p>Your business can make a donation to Big Change MCR, organise fundraising activities, and also engage your employees in spreading the word as a Big Change MCR advocate. Please get in touch using the details below to discuss options.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <h2 class="h2">How can I find out more about Real Change MCR?</h2>
        <p>If you have any other questions, please contact Real Change Manchester at <a href="mailto:bigchangemcr@macc.org.uk">bigchangemcr@macc.org.uk</a>.</p>
        <p>Read the latest <a href="http://news.streetsupport.net/tag/big-change-mcr/">Big Change News</a>, or follow us on <a href="https://m.facebook.com/Bigchangemcr-112486900194562/?__tn__=CH-R">Facebook</a> or <a href="https://twitter.com/bigchangemanc">Twitter</a> to keep up to date with the latest information about Big Change and homelessness in Manchester.</p>
      </div>

      {{>divider class="is-hidden--smallscreen"}}

      <div class="block__section">
        <div class="grid--2-of-3--m">
          <h2 class="h2">What else can I do to help?</h2>
          <p>There are lots of different ways you can show support to people who are homeless in Manchester. Big Change MCR is also about responding to organisations <a href="/give-help/help/">callouts for help</a>, and <a href="/give-help/volunteer/">volunteering your time</a>. You can also learn more about <a href="/find-help/">local services</a> and <a href="/find-help/all-service-providers/">Manchester homelessness organisations</a>.</p>
        </div>

        <div class="grid--1-of-3--m">
          {{>cta brand="e" link="/give-help/help/" btnClass="cta--centered" icon="give" name="Find out how you can help" noWrapper="true"}}
        </div>
      </div>
    </div>
    <div class="block__section">
      <p class="text-center"><a href="#" class="back-top">Back to top</a></p>
    </div>
    </div>
  </div>
</div>
