<li class="nav__item nav__item--hub-nav" data-city="nottingham">
  <dl class="hub-nav-container">
    <dt data-city="nottingham" class="nav__item nav__item--nottingham">
      <a href="/nottingham/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Nottingham</a>
    </dt>
    <dd>
      <ul>
        <li data-city="nottingham" class="nav__item nav__item--nottingham-advice">
          <a href="/nottingham/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
        <li data-city="nottingham" class="nav__item nav__item--street-aid">
          <a href="/nottingham/street-aid" class="nav__item-link nav__item-link--location-item">Street Aid</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
