<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--nottingham-bid"><a href="https://www.nottinghambid.com">{{> icon name="nottingham bid"}}</a></li>
  <li class="partners__logo partners__logo--nottingham-building-society"><a href="https://www.thenottingham.com">{{> icon name="nottingham building society"}}</a></li>
  <li class="partners__logo partners__logo--aht"><a href="https://www.alberthunttrust.org.uk">{{> icon name="albert hunt trust"}}</a></li>
  <li class="partners__logo partners__logo--notts-city-co"><a href="https://www.nottinghamcity.gov.uk">{{> icon name="nottingham city council"}}</a></li>
  <li class="partners__logo partners__logo--boots"><a href="https://boots.co.uk">{{> icon name="boots"}}</a></li>
  <li class="partners__logo partners__logo--lottery"><a href="https://www.tnlcommunityfund.org.uk/">{{> icon name="lottery"}}</a></li>
</ul>
