---
title: Brighton and Hove Local Funders - Street Support
description:
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: brighton-and-hove
page: brighton-and-hove-local-funders
location: brighton-and-hove
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove">Brighton and Hove</a></li>
      <li class="breadcrumbs__item">Local Funders</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header" style="height: 250px;">
    <h1 class="h1 block__header"> Street Support Brighton and Hove</h1>
    <h2 class="h2">Local Funders</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>The steering committee of <span class="italic">Street Support – Brighton & Hove</span> agree with the many other local voices calling for the city to take responsibility in helping those experiencing homelessness in Brighton & Hove.  As with all programmes and resources, there is a cost and keeping the <span class="italic">Street Support – Brighton & Hove</span> database hosted, live and continually developing requires on-going funding.  It is clear that charitable trusts and other sources of grant funding will not continue to fund the website and App in perpetuity so it therefore falls to the local authority, local organisations and individuals to make funds available for its long term future.</p>
      <p><span class="italic">Street Support – Brighton & Hove</span> are currently seeking donations via monthly standing order to ensure on-going funds for the site.  These can be downloaded <a href="#">here</a> and returned to the <a href="mailto:brightonandhove@streetsupport.net">City Administrator</a>.  The steering committee is considering future crowd funding campaigns and other activities to raise the funds needed year-on-year.</p>
      <p>To date the following organisations and individuals are kindly donating funds for which <span class="italic">Street Support – Brighton & Hove</span> is enormously grateful.</p>
      <hr>

      <div class="block__content">
        <div class="block__section">
          <h2 class="h2">Organisations</h2>
          <article>
            <img src="/assets/img/brighton-logos/holland-rd.png" alt="">
            <h3 class="h3">Holland Road Baptist Church</h3>
            <p>A family church in the heart of Brighton & Hove serving the community practically and spiritually.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.hrbc.org.uk">
              <span class="btn__text">More information about Holland Road Baptist Church</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/justlife.svg" alt="">
            <h3 class="h3">JustLife Foundation</h3>
            <p>Help to prevent local people living in temporary accommodation in Brighton falling into rough sleeping by addressing their health, housing and wellbeing needs, alongside research & policy work to identify long-term solutions to homelessness</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.justlife.org.uk">
              <span class="btn__text">More information about JustLife Foundation</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/emmaus-bh.jpg" alt="">
            <h3 class="h3">Proudly supporting the homeless of Brighton and Hove for the last 25 years.</h3>
            <p>Emmaus communities provide a home and meaningful work to people who have experienced homelessness and social exclusion.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.emmausbrighton.co.uk">
              <span class="btn__text">More information about Emmaus Community</span>
            </a>
          </article>
        </div>
      </div>
    </div>
    {{> social-share}}
  </div>
</div>
