---
title: Brighton and Hove Local Funders - Street Support
description:
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: localfunders
page: localfunders
location: brighton-and-hove
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove">Brighton and Hove</a></li>
      <li class="breadcrumbs__item">Local Funders</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--cambridge">
  <div class="container container--location-header" style="height: 250px;">
    <h1 class="h1 block__header">Street Support Brighton and Hove</h1>
    <h2 class="h2">Local Funders</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p><span class="italic">Street Support – Brighton & Hove</span> are currently seeking donations via monthly standing order to ensure on-going funds for the site. These can be downloaded <a target="_blank" href="https://drive.google.com/drive/folders/1AknOYwR96HOCCV9nV2JSPxXdcQzT5QwD?usp=sharing">here</a> and returned to the <a href="mailto:brightonandhove@streetsupport.net">City Administrator</a>. The steering committee is considering future crowd funding campaigns and other activities to raise the funds needed year-on-year.</p>
      <p>To date the following organisations and individuals are kindly donating funds for which Street Support – Brighton & Hove is enormously grateful.</p>
      <hr>

      <div class="block__content">
        <div class="block__section">
          <h2 class="h2">Organisations</h2>
          <article>
            <img style="width: 170px;" src="/assets/img/brighton-logos/brighton-and-hove-buses.png" alt="">
            <h3 class="h3">Brighton & Hove Buses</h3>
            <p>We are part of the <a target="_blank" href="https://www.go-ahead.com/">Go-Ahead Group Ltd</a> – one of the five largest transport groups within the UK responsible for bus and rail services. The company believes passionately in supporting local community initiatives that tackle inequality and need in the city of Brighton Hove.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.buses.co.uk/">
              <span class="btn__text">More information about Brighton & Hove Buses</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/emmaus-bh.jpg" alt="">
            <h3 class="h3">Proudly supporting the homeless of Brighton and Hove for the last 25 years.</h3>
            <p>Emmaus communities provide a home and meaningful work to people who have experienced homelessness and social exclusion.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.emmausbrighton.co.uk">
              <span class="btn__text">More information about Emmaus Community</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/enjoolata.png" alt="">
            <h3 class="h3">Enjoolata Foundation</h3>
            <p>Enjoolata Foundation is an independent, grant-making charity based on the south coast of England. Their aim is to promote positive social and environmental change through the funding of bold ideas and innovations.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://enjoolata.org/">
              <span class="btn__text">More information about Enjoolata Foundation</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/holland-rd.png" alt="">
            <h3 class="h3">Holland Road Baptist Church</h3>
            <p>A family church in the heart of Brighton & Hove serving the community practically and spiritually.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.hrbc.org.uk">
              <span class="btn__text">More information about Holland Road Baptist Church</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/justlife.svg" alt="">
            <h3 class="h3">JustLife Foundation</h3>
            <p>JustLife help to prevent local people living in temporary accommodation in Brighton falling into rough sleeping by addressing their health, housing and wellbeing needs, alongside research & policy work to identify long-term solutions to homelessness.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.justlife.org.uk">
              <span class="btn__text">More information about JustLife Foundation</span>
            </a>
          </article>
          <article>
            <img style="width: 250px;" src="/assets/img/brighton-logos/shs-logo.png" alt="">
            <h3 class="h3">Safe Haven Sussex</h3>
            <p>Safe Haven Sussex provides accommodation, care and support for single individuals aged 18 and over who are homeless or facing homelessness, and who have support needs. Our accommodation and support covers Brighton and Hove and the surrounding areas with the aim to provide safe accommodation and support the resident holistically to enable them to move on to fully independent living adding value to the community.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.safehavensussex.org.uk/">
              <span class="btn__text">More information about Safe Haven Sussex</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/scf-logo.png" alt="">
            <h3 class="h3">Sussex Community Foundation</h3>
            <p>Sussex Community Foundation is a registered charity that exists to make Sussex a fairer and more equal place. We do this by enabling local people to support local causes, making grants to small charities and voluntary groups working in communities across Sussex.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://sussexgiving.org.uk/">
              <span class="btn__text">More information about the Sussex Community Foundation</span>
            </a>
          </article>
          <article>
            <img style="width: 300px;" src="/assets/img/brighton-logos/sjrc.jpg" alt="">
            <h3 class="h3">Sussex Jewish Representative Council</h3>
            <p>The Sussex Jewish Representative Council provides a central contact point for all Jewish organisations in Sussex. They are also affiliated to the Board of Deputies of British Jews..</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.sussexjewishrepresentativecouncil.org">
              <span class="btn__text">More information about SJRC</span>
            </a>
          </article>
          <article>
            <img style="width: 200px;" src="/assets/img/brighton-logos/sussex-nightstop.jpg" alt="">
            <h3 class="h3">Sussex Nightstop</h3>
            <p>At Sussex Nightstop we create and coordinate a community of volunteers who provide access to a safe, non-judgemental, inclusive place to stay for people who are homeless or at risk of homelessness.</p>
            <a class="btn btn--brand-d btn--full-inline" target="blank" href="https://www.sussexnightstop.org.uk/">
              <span class="btn__text">More information about Sussex Nightstop Foundation</span>
            </a>
          </article>
        </div>
      </div>
    </div>
    {{> social-share}}
  </div>
</div>
