---
title: Street Support Leeds UK - Street Support
description: Street support makes it easier to help homeless people. Here's how its happening in Leeds.
layout: default.hbs
permalink: false
jsBundle: leedsbigchange
section: locations
page: leeds
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Leeds</a></li>
      <li class="breadcrumbs__item">Big Change Fund</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Big Change Fund in Leeds</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>There is not currently a Big Change Fund in Leeds.</a>
      <p>Please return to <a href="/leeds/">Leeds home page</a>, or <a class="js-mcr-big-change" href="/manchester/bigchangemcr/">return to the Manchester Big Change Fund</a>.</p>
      {{> social-share}}
    </div>
  </div>
</div>
