---
title: Street Support Leeds - Working together to tackle homelessness in Leeds
description: Street Support - Find help, and give help, to support people who are homeless in Leeds
image: https://streetsupport.net/assets/img/og/street-support-leeds.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: location-home-page
section: home
page: leeds
location: leeds
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Leeds</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--leeds">
  <div class="container">
    <h1 class="h1 block__header">Street Support Leeds</h1>
    <h2 class="h2 block__sub-header">Connecting people and organisations locally, to tackle homelessness and food poverty in Leeds</h2>
    <div class="ctas">
      <a href="/find-help" class="btn btn--brand-d">
        <span class="btn__text">Find Help</span>
      </a>
      <a href="/give-help" class="btn btn--brand-e">
        <span class="btn__text">Give Help</span>
      </a>
    </div>
  </div>
</div>

<div id="js-swep-output"></div>

<div class="cta--money-advice">
  <div class="container text-center">
    <p class="sleeping-rough-title__content" style="color: #fff; margin-bottom: 0px;">If you or someone you know needs access to food or somewhere warm over the winter period, information can be found in these documents. You can find information on places to keep warm <a target="_blank" style="color: #ffde00; text-decoration: underline;" href="https://www.leeds.gov.uk/campaign/warm-spaces">here</a>.</p>
    <a target="_blank" style="margin-right: 5px;" href="/leeds/foodbank-christmas-provision.pdf" class="btn btn--brand-h">
      <span class="btn__text">Foodbank provision</span>
    </a>
    <a target="_blank" href="/leeds/food-and-homelessness-provision.pdf" class="btn btn--brand-h">
      <span class="btn__text">Christmas provision</span>
    </a>
  </div>
</div>

<div class="block block--light-highlight">
  <div class="container">
    <div class="block__content text-center">
      <div class="sleeping-rough-title">
        <img class="sleeping-rough-title__icon" src="/assets/img/exclamation.svg" alt="exclamation-icon">
        <h1 class="sleeping-rough-title__heading">Help someone sleeping rough</h1>
      </div>
      <p class="sleeping-rough-title__content">If you are worried about someone you’ve seen sleeping rough in Leeds, you can you can let the Street Outreach Service (SOS) team know by emailing <a href="mailto:leeds.sos@cgl.org.uk">leeds.SOS@cgl.org.uk</a> or by calling <a href="tel:01132459445">0113 245 9445</a>. Alternatively you can infrom Streetlink by downloading the <a href="https://www.streetlink.org.uk/">Streetlink app</a>. If you see someone at night please call the Out of Hours number on <a href="tel:07891273939">07891 273939</a></p>
      <a class="btn btn--brand-e btn--emergency-advice" href="/leeds/advice">
        <span class="btn__text">See more emergency advice</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="home__copy home__copy--padding">
      <h1 class="h2">You're in Leeds</h1>
      {{> locations/find-help }}
      {{> locations/selector-hogan }}
    </div>
    <div class="home__copy">
      <div class="js-map"></div>
    </div>
  </div>
</div>

<div id="js-statistics-output"></div>

{{> locations/banners/print-map-banner-leeds }}

{{!-- <div class="block" style="background: #FBBF09">
  <div class="container">
    <h1>Big Change Leeds</h1>
    <p>Big Change pays for practical items individuals need to build independent lives away from the streets. If everyone who lives, works or visits Leeds donates, together we can make a Big Change!</p>
    <a class="btn btn--big-change" href="http://www.bigchangeleeds.co.uk/">
      <span class="btn__text">Check out Big Change</span>
    </a>
  </div>
</div> REMOVE BECAUSE OF CONFLICTS WITH BIG CHANGE ORG --}}

{{> locations/banners/charter-banner-leeds }}

<div class="block block--minor-highlight">
  <div class="container container--central-cta">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get in touch</h1>
      <p>If you would like to get involved, or have any offers, questions or suggestion, please get in touch at <a href="mailto: leeds@streetsupport.net">leeds@streetsupport.net</a>.</p>
    </div>
  </div>
</div>

<div id="js-news-output"></div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content partners">
      {{> leeds/supporters }}
      <p>We are looking for businesses and organisations to <a href="/give-help/business-support/">support us</a> so that we can continue to develop this resource.</p>
      <p>If you share our vision of a society without homelessness, please <a href="mailto:sponsorship@streetsupport.net">get in touch</a>.</p>
    </div>
  </div>
</div>

{{> loading-spinner}}

<script id="js-swep-tpl" type="text/template">
{{> find-help/swep-notification theLocationId="leeds" }}
</script>

<script id="js-news-tpl" type="text/template">
    {{>news-posts }}
</script>

<script id="js-statistics-tpl" type="text/template">
  {{> impact-statistics }}
</script>
