---
title: Street Support Leeds UK - Street Support
description: Street support makes it easier to help homeless people. Here's how its happening in Leeds.
layout: default.hbs
permalink: false
jsBundle: generic
section: locations
page: leeds
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Leeds</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Street Support in Leeds</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Following the recent Leeds homelessness summit, we have been talking to existing homelessness organisations in Leeds to gather information about the services there. We hope to have this ready and live by World Homelessness Day on 10th October.</a>
      <p>If you are a Leeds based organisation that offers services, you can <a href="/register">add your details</a> through this site, and the team in Leeds will be in contact with you shortly.</a>
      <p>If you have any other questions or would like to get involved, please <a href="/contact/">get in touch</a>.</p>
      {{> social-share}}
    </div>
  </div>
</div>
