---
title: Street Support Leeds UK - Street Support
description: Street support makes it easier to help homeless people. Here's how its happening in Leeds.
layout: default.hbs
permalink: false
jsBundle: generic
section: locations
page: leeds
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Leeds</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Leeds</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Enter leeds copy here.</p>
      {{> social-share}}
    </div>
  </div>
</div>
