---
title: Trustee - Street Support - UK volunteer trustee
description: We are looking for a volunteer trustee to support our mission to tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: dotnet
page: dotnet
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/jobs">Jobs</a>
      </li>
      <li class="breadcrumbs__item">Volunteer Trustee</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Trustee</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <p class="text-center bold">Are you passionate about tackling homelessness?</p>

      <p class="text-center bold">Do you want to support a well-established charity to extend its impact across the UK?</p>

      <p class="text-center bold">If the answer is ‘yes’, this may be the voluntary role for you!</p>

      <h3 class="h3">What do we do?</h3>
      <p>Street Support Network connects and supports people and organisations to tackle homelessness at a local level.</p>

      <h3 class="h3">How do we do it?</h3>
      <p>Our vision is a citizen-led network, where people with personal insight into homelessness, decision-makers and people with resources co-create and deliver effective solutions.</p>

      <p>We connect people to co-produce better solutions, facilitating conversation and co-ordinating action. Everything we do starts by listening to people with personal insight into homelessness and frontline workers. We use research, co-production, human-centred design and creative technology to develop tools and improve systems. Our localised digital platform allows people to ‘Find Help’ and ‘Give Help’ in their area, while enabling them to know who is doing ‘what, where, and when’.</p>

      <p>Between 2016 and 2018, we took a central role in Manchester, having supported and hosted the Manchester Homelessness Partnership from the start and now sit on the Partnership Driving Group. From 2018, we extended our reach and have built a connected network across 21 locations across the country, tailoring our approach to provide what's needed in a particular area while also providing a proven framework for effective partnership development.</p>

      <p>We pride ourselves in working collaboratively with a range of people and organisations. We are agile and fleet of foot and because of this, we’re able to be adaptable and provide solutions that others can’t.</p>

      <h3 class="h3">The future</h3>
      <p>Our 2020 - 2023 aims are to:</p>
      <ul>
        <li>increase our geographic reach to support more partnerships</li>
        <li>go beyond homelessness into supporting families/younger people and poverty prevention;</li>
        <li>achieve a stronger financial footing to ensure we are of benefit in the longer term.</li>
      </ul>

      <p>We don't envisage significant growth in terms of our size, as we value the agility being relatively small brings.</p>

      <p>Please <a href="https://streetsupport.net/about/impact/">read our impact report</a> for the latest key facts and examples of how Street Support Network is making an impact.</p>

      <h3 class="h3">Who are we looking for?</h3>
      <p>It goes without saying that the successful candidate will share our passion for our purpose and vision. We are looking for one or more trustees who would be happy to join us on a voluntary basis. Please read our <a href="https://drive.google.com/file/d/1_b6SxpRwCNSKOu7voQznVqa1_OUEXzJ1/view?usp=sharing">trustee role description and person specification</a> for more information.</p>

      <h3 class="h3">Application</h3>
      <p>Please see our website for further information and provide a CV and outline of the value you would add to our organisation to <a href="mailto:catherine.lynagh@outlook.com">catherine.lynagh@outlook.com</a>.</p>

      <p><span class="bold">Closing date: </span>Friday 17 July, 13:00</p>

      <p>Please share to help us find the right person with the skills and passion for this role.<p>

      {{> social-share}}
    </div>
  </div>
</div>
