---
title: Trustee - Street Support - UK volunteer trustee
description: We are looking for a volunteer trustee to support our mission to tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: generic
section: trustee
page: trustee
nosubnav: true
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/jobs">Jobs</a>
      </li>
      <li class="breadcrumbs__item">Volunteer Trustee</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Volunteer Trustee</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>We are looking for someone who is a collaborator and who has experience of charity governance and working with or as part of a Board for not-for-profit organisations. We’re looking for someone who has a national outlook and experience of developing and implementing fundraising strategy.</p>
      <p>As an extra, it would be great if the successful candidate has insight into relevant local/national government policy making, experience of developing communications strategy and experience of working in relevant sectors - homelessness, poverty alleviation etc.</p>
      <p>It goes without saying that the successful candidate will share our passion for our purpose and vision. We are looking for one or more trustees who would be happy to join us on a voluntary basis.</p>
      <p>Please read our vacancy advert and role description and person specification for more information and how to apply.</p>
      <div class="ctas">
        <a target="_blank" href="/about/jobs/trustee/trustee-role-description-and-person-specification.pdf" style="padding-right:10px;" class="btn btn--brand-d" download>
          <span class="btn__text">Vacancy advert</span>
        </a>
        <a target="_blank" href="/about/jobs/trustee/trustee-vacancy-advert.pdf" class="btn btn--brand-d" download>
          <span class="btn__text">Role description & person specification</span>
        </a>
      </div>
    </div>
  </div>
</div>
