{{> head}}

{{>header-nav}}

<div class="nav__push js-nav-push">
  {{> header}}

  <h1 class="h1">Blog index template test</h1>

  {{{contents}}}

  {{> footer}}

  <div class="nav__overlay js-nav-overlay"></div>
</div>

{{> foot}}
