{{> head}}

{{> desktop-nav }}

<div class="nav__push js-nav-push">
  {{> mobile-header }}

  {{{contents}}}

  {{> footer}}

  <div class="nav__overlay js-nav-overlay"></div>
</div>

{{> mobile-nav }}
{{> foot}}
