---
title: Street Support West Midlands - Street Support Network
description: A home for Street Support Network in the West Midlands
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: west-mids
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">West Midlands</li>
    </ol>
  </div>
</div>

<div class="block block--west-mids-header">
  <div class="container">
    <h1 class="h1 block__header block--west-mids-title">Street Support West Midlands</h1>
  </div>
</div>

<div class="block">
    <div class="block--west-mids-locations">
      <div class="west-mids-location">
        <a class="btn btn--west-mids-locations" href="/birmingham">
          <span class="btn__text">Birmingham</span>
        </a>
        <a class="btn btn--west-mids-locations" href="/coventry">
          <span class="btn__text">Coventry</span>
        </a>
        <a class="btn btn--west-mids-locations" href="/dudley">
          <span class="btn__text">Dudley</span>
        </a>
        <a class="btn btn--west-mids-locations" href="/sandwell">
          <span class="btn__text">Sandwell</span>
        </a>
        <a class="btn btn--west-mids-locations" href="/solihull">
          <span class="btn__text">Solihull</span>
        </a>
        <a class="btn btn--west-mids-locations" href="/walsall">
          <span class="btn__text">Walsall</span>
        </a>
        <a class="btn btn--west-mids-locations" href="/wolverhampton">
          <span class="btn__text">Wolverhampton</span>
        </a>
      </div>
    </div>

  <div class="container">
    <div class="home__copy home__copy--padding">
      {{> locations/find-help-west-mids }}
    </div>
    <div class="home__copy">
      <div class="js-map"></div>
    </div>
  </div>
</div>

<div class="block block--highlight block--wmca-taskforce">
  <h1 class="h1">WMCA Homelessness Taskforce</h1>
  <p>Learn more about the work of the Homelessness Taskforce and access a range of resources that support the challenging task of ‘Designing out Homelessness’</p>
  <a href="#" class="btn btn--brand-d">
    <span class="btn__text">Learn more</span>
  </a>
</div>

<div class="block block--grey-highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Do you want to help?</h2>
      <p>There are various ways to support people experiencing homelessness in the West Midlands. Organisations, public services and voluntary groups work closely together to share resources and maximise the donations made.</p>
      <p></p>
    </div>
    <div class="block__content">

      <article class="card card--cta card--grid-1-of-4">
        <a href="/give-help/offer-items/" class="full-size-link">
          <h2 class="h2 card__title card__title--kettle">Give Items</h2>
          <p>Donate items that services near you are asking for.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Give Items</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="/give-help/volunteer/" class="full-size-link">
          <h2 class="h2 card__title card__title--hand">Volunteer</h2>
          <p>Volunteer at one of the winter shelters across the West Midlands.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Volunteer</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="/give-help/donate/" class="full-size-link">
          <h2 class="h2 card__title card__title--card">Donate Money</h2>
          <p>Make a donation locally.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Donate Money</span>
          </button>
        </a>
      </article>

      <article class="card card--cta card--grid-1-of-4">
        <a href="#" class="full-size-link">
          <h2 class="h2 card__title card__title--help">Learn More</h2>
          <p>Learn more about what you can do to help in the West Midlands.</p>
          <button class="btn btn--brand-e btn--always-full">
            <span class="btn__text">Learn More</span>
          </button>
        </a>
      </article>
    </div>
  </div>
</div>

<div class="block block--change-into-action">
  <div class="container">
    <div class="block__change-into-action">
      <img src="/assets/img/coventry-logos/cia-logo.png" width="100%" alt="change for good logo" />
    </div>
    <div class="home__copy home__copy--change-into-action">
      <h1>Change into Action</h1>
      <p><a target="_blank" href="https://changeintoaction.org.uk/">Change into Action</a> is an alternative giving scheme that provides a safe, easy and secure way for you to donate money to fund practical support for people who are or have been rough sleeping in the {{ type }}. The scheme is administered and managed locally and brings together partners from key local organisations, such as specialist homelessness charities and street teams that work with individuals to identify those things that can really make a difference and help to move away from the streets. Your donation will directly benefit a person sleeping rough or at risk.</p>
      <p>Change into action is available in <a target="_blank" href="https://changeintoaction.org.uk/birmingham">Birmingham</a>, <a target="_blank" href="https://changeintoaction.org.uk/coventry">Coventry</a>, <a target="_blank" href="https://changeintoaction.org.uk/dudley">Dudley</a>, <a target="_blank" href="https://changeintoaction.org.uk/sandwell">Sandwell</a>, <a target="_blank" href="https://changeintoaction.org.uk/solihull">Solihull</a> and <a target="_blank" href="https://changeintoaction.org.uk/walsall">Walsall</a>.</p>
      <a class="btn btn--brand-e" target="_blank" href="https://changeintoaction.org.uk/donate/">
        <span class="btn__text">Donate now</span>
      </a>
    </div>
  </div>
</div>

<div class="block block--alternative-giving-campaign">
  <div class="container">
    <div class="block__alternative-giving-campaign">
      <img src="/assets/img/wolverhampton-logos/agc.png" width="100%" alt="alternative giving campaign logo" />
    </div>
    <div class="home__copy home__copy--change-into-action">
      <h1>Alternative Giving CIO - Wolverhampton</h1>
      <p><a target="_blank" href="https://wolverhamptonchange.co.uk/">Alternative Giving CIO</a> (Charity No. 1186415) is an opportunity for everyone and anyone to make the choice to give, donate and support those in need. Your donation will help to change the way in which we help people at risk of homelessness in the city by ensuring all funds raised reach those currently in severe hardship.</p>
      <a class="btn btn--brand-e" target="_blank" href="https://www.justgiving.com/alternativegiving">
        <span class="btn__text">Donate now</span>
      </a>
    </div>
  </div>
</div>

<div class="block block--standards-toolkit">
  <div class="block__standards-toolkit-pad"></div>
  <div class="home__copy home__copy--standards-toolkit">
    <h1>Birmingham On Street Support Handbook</h1>
    <p>Welcome to the Birmingham On Street Support Handbook, a guide to help community groups working with people who are homeless and at risk of homelessness</p>
    <p>This guide has been put together for members of the Birmingham On Street Support Forum by the Birmingham On Street Support Working Group, which comprises of BVSC, West Midlands Combined Authority (MWCA) Homelessness Taskforce, The Active Wellbeing Society (AWBS), Colmore Business District, and Let's Feed Brum.</p>
    <a class="btn btn--brand-e" href="#">
      <span class="btn__text">Read the handbook</span>
    </a>
  </div>
</div>

<div id="js-statistics-output"></div>

<div id="js-news-output"></div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content partners">
      {{> west-midlands/supporters }}
      <p>We are looking for businesses and organisations to <a href="/give-help/business-support/">support us</a> so that we can continue to develop this resource.</p>
      <p>If you share our vision of a society without homelessness, please <a href="mailto:westmidlands@streetsupport.net">get in touch</a>.</p>
    </div>
  </div>
</div>

<script id="js-news-tpl" type="text/template">
    {{> news-posts }}
</script>

<script id="js-statistics-tpl" type="text/template">
  {{> impact-statistics }}
</script>
