---
title: Severe Weather Emergency Accommodation in Bury - Street Support
description: Severe Weather Emergency Accommodation provision in Bury.
image: https://streetsupport.net/assets/img/og/street-support-bury.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: bury
page: bury-advice
location: bury
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bury/">Bury</a></li>
      <li class="breadcrumbs__item"><a href="/bury/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="bury" }}

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are rough sleeping in Greater Manchester. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <ul>
        <li>Contact the Homeless Assessment and Support service on <a href="tel:0161 253 5537">0161 253 5537</a>, Mon-Fri 9am -5pm.</li>
        <li>Make an online referral at <a href="www.bury.gov.uk/homeless">www.bury.gov.uk/homeless</a> - Please note these are only processed during office hours Mon to Fri 9am - 5pm.</li>
        <li>Refer through a local support agencies into the Bury Housing Assessment team, Mon-Fri 10am-5pm.</li>
        <li>After 5pm Monday to Friday and at weekends/Bank holidays, please contact the out of hours service on <a href="tel:0161 253 6606">0161 253 6606</a>.</li>
      </ul>

    </div>

    {{> social-share}}

  </div>
</div>
