---
title: Severe Weather Emergency Accommodation in Brighton and Hove - Street Support
description: Severe Weather Emergency Accommodation provision in Brighton and Hove.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: brighton-and-hove
page: brighton-and-hove-advice
location: brighton-and-hove
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove/">Brighton and Hove</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="brighton-and-hove" }}

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>The council open a severe weather shelter when the temperature is predicted to drop below 0 degrees Celsius or when there is an amber weather warning. </p>

      <p>The shelter is also known as SWEP (which stands for Severe Weather Emergency Protocols). When SWEP is triggered, the Street Outreach Service will be out on the streets of the city directing people to shelter.</p>

      <p>SWEP provides shelter for all rough sleepers in the city and venues are made available to meet demand.</p>

      <p>We are always as flexible as possible, and adapt to the needs of rough sleepers. </p>

      <p>Referrals are made through our street outreach partners St Mungo’s SOS, by reporting through the <a href="https://www.streetlink.org.uk/">Streetlink website</a> or by calling <a href="tel:0300 500 0914">0300 500 0914</a>.</p>

      <p>The council’s street outreach partners St Mungo’s SOS are currently working in the city seven days a week to engage with everyone rough sleeping to help support them into safe accommodation. This offer is available every day and not just when the weather meets the threshold for SWEP and we would encourage everyone to log people who are street homeless with Streetlink regardless of the weather.</p>

      <p>Streetlink asks for where people are bedded down but this can also be where they are located during the day. Alternatively services can support people to contact the Housing Options duty line and arrange placement via this route. Additionally during the week in the mornings people can be directed to First Base (BHT) who work closely with SOS to ensure people are offered accommodation.</p>

      <p>When SWEP is triggered this information is provided to services who are able to direct people to accommodation including St Mungo’s, Housing Options, Fire Services, the Police, and Health and H&ASC partners. St Mungo’s Street Outreach Service will contact people by telephone and go out seeking the people we know to be rough sleeping during the day to find them self-contained warm accommodation. Anyone not accommodated during the day will be referred into self-contained accommodation in our newly-commissioned council-run SWEP venue by the street outreach service. In order to safely manage access in line with infection prevention standards we are taking referrals from SOS and are not publicising the address.</p>

    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">More Permanent Accommodation</h2>
      <p><a href="https://www.mungos.org/our-services/outreach-teams/">St Mungo’s Street Outreach Service</a> will contact people by telephone and go out seeking the people who are rough sleeping during the day to find them self-contained warm accommodation. Anyone not accommodated during the day will be referred into self-contained accommodation in the council’s newly-commissioned council-run SWEP venue by the street outreach service. In order to safely manage access in line with infection prevention standards the council are taking referrals from SOS and are not publicising the address.</p>

      <h2 class="h2">What can members of the public do to help?</h2>
      <p>If you are concerned about someone who is rough sleeping, contact <a href="https://www.streetlink.org.uk/">StreetLink</a> with the details and the information will be passed on to an outreach worker. This requires you to set up a login.  Otherwise, please telephone 0300 500 0914.  If the person you are concerned about needs medical assistance, please telephone <a href="tel:999">999</a>.</p>
    </div>
  </div>
</div>

    {{> social-share}}
