---
title: Severe Weather Emergency Accommodation in Brighton and Hove - Street Support
description: Severe Weather Emergency Accommodation provision in Brighton and Hove.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: brighton-and-hove
page: brighton-and-hove-advice
location: brighton-and-hove
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove/">Brighton and Hove</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="brighton-and-hove" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <h3 class="h3">What is SWEP?</h3>
      <p><a href="https://www.brighton-hove.gov.uk/content/housing/homelessness-and-rough-sleepers/how-we-help-rough-sleepers-city">Brighton & Hove City Council </a> opens a severe weather shelter in extreme weather conditions. The shelter is also known as SWEP (which stands for Severe Weather Emergency Protocols). It provides shelter for all rough sleepers in the city and venues are made available to meet demand.</p>
      <h3 class="h3">When is SWEP open?</h3>
      <p><a href="https://www.brighton-hove.gov.uk/content/housing/homelessness-and-rough-sleepers/how-we-help-rough-sleepers-city">Brighton & Hove City Council</a> has one of the lowest triggers in the country for opening SWEP.  The council provides information on this web page: <a href="https://www.brighton-hove.gov.uk/content/housing/homelessness-and-rough-sleepers/how-we-help-rough-sleepers-city">How we help rough sleepers page</a>.
      The trigger for opening SWEP in Brighton & Hove is when a “it feels like 0 degrees” temperature is forecast by the Met Office. Windchill factor is taken into account.
      When SWEP is triggered this information is provided to services who are able to direct people to accommodation including <a href="https://www.mungos.org/our-services/outreach-teams/">St Mungo’s</a>, <a href="https://www.brighton-hove.gov.uk/housing">Housing Options</a>, <a href="https://www.esfrs.org/">Fire Services</a>, <a href="https://www.sussex.police.uk/">the Police</a>, and health and social care partners.</p>
      <h3 class="h3">Can anyone who is rough sleeping go in?</h3>
      <p>Yes, there is no limit on numbers or any requirement for a local connection.</p>
      <h3 class="h3">How do you access SWEP?</h3>
      <p>If you see someone rough sleeping, please let the local authority know via Street Link or by calling 0300 500 0914 and the outreach team will seek to accommodate them.
      It is important that anyone sleeping rough is offered help as soon as possible and that the assistance offered meets their needs.  Accommodation for people on the streets is provided through referrals from organisations who understand what’s available and what support is needed. The council’s street outreach partners St Mungo’s SOS are currently working in the city seven days a week to engage with everyone rough sleeping to help support them into SWEP and also longer term safe accommodation.</p>
      <h3 class="h3">Is anyone ever turned away?</h3>
      <p>The team makes every effort to help everyone who come to SWEP. Occasionally, someone’s behaviour is a risk to themselves or others. The police are notified when they can’t let someone in or have to ask them to leave for safety reasons.</p>
      <h3 class="h3">What if the main shelter venue is full?</h3>
      <p>Additional venues are opened if this happens, people will be helped with where to go on arrival at the shelter. The SWEP system is set up to allow for all those who need shelter as an emergency measure.</p>
      <h3 class="h3">Is there a separate area for women?</h3>
      <p>There is currently no separate area for women at the main SWEP venue, however there are other locations for women and vulnerable individuals.</p>
      <h3 class="h3">Is there food available?</h3>
      <p>People will be provided with a meal, hot drinks and snacks.</p>
      <h3 class="h3">Can people take their dogs into SWEP?</h3>
      <p>Yes.</p>
      <h3 class="h3">What time is the SWEP shelter open?</h3>
      <p>SWEP accommodation is open from 7pm to 7am.</p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">More Permanent Accommodation</h2>
      <p><a href="https://www.mungos.org/our-services/outreach-teams/">St Mungo’s Street Outreach Service</a> will contact people by telephone and go out seeking the people who are rough sleeping during the day to find them self-contained warm accommodation. Anyone not accommodated during the day will be referred into self-contained accommodation in the council’s newly-commissioned council-run SWEP venue by the street outreach service. In order to safely manage access in line with infection prevention standards the council are taking referrals from SOS and are not publicising the address.</p>
      <h2 class="h2">What can members of the public do to help?</h2>
      <p>If you are concerned about someone who is rough sleeping, contact <a href="https://www.streetlink.org.uk/">StreetLink</a> with the details and the information will be passed on to an outreach worker. This requires you to set up a login.  Otherwise, please telephone 0300 500 0914.  If the person you are concerned about needs medical assistance, please telephone <a href="tel:999">999</a>.</p>
    </div>
  </div>
</div>

    {{> social-share}}
