---
title: Severe Weather Emergency Accommodation in Brighton and Hove - Street Support
description: Severe Weather Emergency Accommodation provision in Brighton and Hove.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: brighton-and-hove
page: brighton-and-hove-advice
location: brighton-and-hove
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove/">Brighton and Hove</a></li>
      <li class="breadcrumbs__item"><a href="/brighton-and-hove/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="brighton-and-hove" }}

<div class="block">
  <div class="container">
    <div class="block__content">

      <p>The council opens it’s <a href="https://www.brighton-hove.gov.uk/housing/homelessness-and-living-street/severe-weather-shelter-swep">SWEP shelter</a>, which is vital to protecting the lives of the most vulnerable of our homeless neighbours in the city during the year’s most severe weather conditions. The night shelter opens when the temperature is predicted to <span class="italic"> feel like</span> zero degrees, there is an <a target="_blank" href="https://www.metoffice.gov.uk/weather/warnings-and-advice/uk-warnings"> amber weather warning</a> or a heatwave is predicted.</p>

      <p>The shelter is also known as SWEP (which stands for Severe Weather Emergency Protocols). When SWEP is triggered, the Street Outreach Service will be out on the streets of the city directing people to shelter.</p>

      <p>SWEP provides shelter for all rough sleepers in the city and venues are made available to meet demand.</p>

      <p>We are always as flexible as possible, and adapt to the needs of rough sleepers.</p>

      <p>Referrals are made through our street outreach partners Change, Grow, Live, by reporting through the <a href="https://www.streetlink.org.uk/">Streetlink website</a> or by calling <a href="tel:0300 500 0914">0300 500 0914</a>.</p>
      <p>You can contact <a target="_blank" href="https://www.brighton-hove.gov.uk/council-and-democracy/emergency-information/social-care-out-hours-service">Brighton and Hove Out of Hours Social Care</a> on <a href="tel:01273 295555">01273 295555</a>.</p>

      <p>The council’s street outreach partners Change Grow Live, are currently working in the city seven days a week to engage with everyone rough sleeping.  Streetlink asks for where people are bedded down but this can also be where they are located during the day. Alternatively services can support people to contact the Housing Options duty line and arrange placement via this route. Additionally during the week in the mornings people can be directed to <a href="https://streetsupport.net/find-help/organisation/?organisation=bht-accommodation-for-work"> First Base (BHT)</a> who work closely with SOS to ensure people are offered accommodation.</p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What can members of the public do to help?</h2>
      <p>If you are concerned about someone who is rough sleeping, contact <a href="https://www.streetlink.org.uk/">StreetLink</a> with the details and the information will be passed on to an outreach worker. This requires you to set up a login. Otherwise, please telephone 0300 500 0914. You can contact <a target="_blank" href="https://www.brighton-hove.gov.uk/council-and-democracy/emergency-information/social-care-out-hours-service">Brighton and Hove Out of Hours Social Care</a> on <a href="tel:01273 295555">01273 295555</a>. If the person you are concerned about needs medical assistance, please telephone <a href="tel:999">999</a>.</p>
    </div>
  </div>
</div>

    {{> social-share}}
