{{!-- 
uncomment and replace

<h2 class="h2">Supported by&hellip;</h2>
<ul class="partners__list">
  <li class="partners__logo partners__logo--big-lottery-fund"><a href="https://www.biglotteryfund.org.uk/">{{> icon name="big-lottery-fund"}}</a></li>
</ul> --}}
