---
title: Leeds Homelessness Charter - Street Support
description: Street support makes it easier to help people facing homelessness. Here's how to get help in an emergency.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: adviceV2
section: leeds
page: leeds-charter
location: leeds
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Leeds</a></li>
      <li class="breadcrumbs__item">Charter</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--leeds">
  <div class="container">
    <h1 class="h1 block__header">The Leeds Homeless and Homelessness Prevention Charter</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>This Charter is a statement of a joint mission by voluntary, faith, private and public sector organisations, all committed to work together for the city.</p>
    </div>
  </div>
</div>

<div class="block block--pullout">
  <div class="block__primary">
    <div class="container">
      <h2 class="standout"><font color="white">Our Vision:</font></h2>
      <h2 class="h2"><font color="white">To see a reduction in homelessness by preventing it happening in the first place.</font></h2>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">The Charter</h2>
        <p>The Leeds Homeless Charter is a set of general actions and aims which act as a foundation for a wide range of people to work together to tackle homelessness in Leeds. By signing this charter, participants are not necessarily stating that they will be involved in everything but are agreeing to play their part where it is appropriate.</p>
        <p>This charter has been put together by 3 working groups which will continue to meet. Each of them involves people who have been homeless, with groups being co-chaired by someone who has experience of homelessness. </p>
        <p><b>These groups are:</b></p>
        <ul>
          <li>Charities and Grass Roots Groups Connecting with Commissioned Services (inclusive of what happens in the city centre).</li>
          <li>Addiction and Mental Health Working Group</li>
          <li>Homelessness and Migration Working Group</li>
        </ul>
      <a class="btn btn--brand-e" href="\leeds\charter\leeds-homeless-charter.pdf" target="_blank">
        <span class="btn__text">Read the Charter</span>
      </a>
    </div>
  </div>
</div>
