---
title: Locations - Street Support
description: Street support makes it easier to help homeless people in Manchester and Leeds.
layout: default.hbs
permalink: false
jsBundle: generic
section: locations
page: locations
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Our Locations</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Locations</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Street Support started in Manchester at the end of 2015, and will be available in Leeds from October 2016.</p>
      <p>We want Street Support to be available wherever it is needed, so if you think it might be useful in your city, please <a href="mailto:info@streetsupport.net">get in touch</a>.</p>
      <p>To find out more about local initiatives in each of these cities, please follow the following links...</p>
      <ul>
        <li><a href="/manchester/">Manchester</a></li>
        <li><a href="/leeds/">Leeds</a></li>
      </ul>
    </div>
  </div>
</div>
