<li class="nav__item nav__item--hub-nav" data-city="blackpool">
  <dl class="hub-nav-container">
    <dt data-city="blackpool" class="nav__item nav__item--blackpool">
      <a href="/blackpool/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">Blackpool</a>
    </dt>
    <dd>
      <ul>
        <li data-city="blackpool" class="nav__item nav__item--blackpool-advice">
          <a href="/blackpool/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
