<li class="nav__item nav__item--hub-nav" data-city="locationId">
  <dl class="hub-nav-container">
    <dt data-city="locationId" class="nav__item nav__item--locationId">
      <a href="/locationId/" class=" nav__item-link nav__item-link--location-item nav__item-link--hub-heading">locationName</a>
    </dt>
    <dd>
      <ul>
        <li data-city="locationId" class="nav__item nav__item--locationId-advice">
          <a href="/locationId/advice" class="nav__item-link nav__item-link--location-item">Advice</a>
        </li>
      </ul>
    </dd>
  </dl>
</li>
