<option value="birmingham">Birmingham</option>
<option value="coventry">Coventry</option>
<option value="dudley">Dudley</option>
<option value="sandwell">Sandwell</option>
<option value="solihull">Solihull</option>
<option value="walsall">Walsall</option>
<option value="wolverhampton">Wolverhampton</option>
