<form class="form form--highlighted js-find-help-form">
  <fieldset class="form__fieldset form__fieldset--inline-fill">
    <legend class="form__fieldset-title">Find organisations near you:</legend>
    <div class="form__fieldset-inline-fill-container">
      <label class="hide-screen" for="postcode">Your Postcode</label>
      <input name="postcode" class="form__input form__input--inline-fill js-find-help-postcode" placeholder="your postcode: eg M1 2HX"></input>
      <button class="btn btn--brand-e btn--inline-fill" type="submit">
        <span class="btn__text">Find help</span>
      </button>
    </div>
  </fieldset>
</form>