<form class="form form--highlighted js-find-help-form">
  <fieldset class="form__fieldset form__fieldset--inline-fill">
    <legend class="form__fieldset-title">Find help near you:</legend>
    <div class="form__fieldset-inline-fill-container">
      <label class="hide-screen" for="postcode">Your Postcode</label>
      <input name="postcode" class="form__input form__input--inline-fill js-find-help-postcode" placeholder="your postcode: eg M1"></input>
      <label class="hide-screen" for="category">Service Category</label>
      <select class="form__input form__input--inline-fill js-find-help-cats"></select>
      <button class="btn btn--brand-e btn--inline-fill" type="submit">
        <span class="btn__text">Find help</span>
      </button>
    </div>
  </fieldset>
</form>
<h2 class="h2">Looking for advice?</h2>
<p>Learn about how to get help where you are, or how you can help those facing homelessness.</p>
<a class="btn btn--brand-e btn--inline-fill" href="advice/">
  <span class="btn__text">View advice</span>
</a>
