<a href="/greater-manchester" class="block__link">
  <div class="block block--header block--gm-header">
      <div class="container container--gm-header">
        <h1 class="h1 block__header block__header">Working Together to End Homelessness across Greater Manchester</h1>
        <h2 class="h2 block__sub-header block__sub-header">This winter, each borough is providing a bed for every night to those sleeping rough. Click here now, to learn how you can access this provision, or how you can help.</h2>
      </div>
  </div>
</a>