---
title: Coalition of Relief - Street Support
description: Street support makes it easier to help people facing homelessness. Coalition of Relief.
image: https://streetsupport.net/assets/img/og/street-support-manchester.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: locations
page: manchester
location: manchester
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/manchester/">Manchester</a></li>
      <li class="breadcrumbs__item">Coalition of Relief</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Coalition of Relief</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Coalition of Relief (COR) is a network of grassroots organisations that work together to provide sustainable long-term support solutions for homelessness.</p>
      <p>By working together they can keep track of and locate people easier, educate and prepare people more effectively, share resources, and save time, money and human lives.<p>

      <h3 class="h3">Mission and values</h3>
      <p>COR believes in&hellip;
        <ul>
          <li><strong>R</strong>esponsible Giving</li>
          <li><strong>E</strong>nlisting your time</li>
          <li><strong>L</strong>ong-Term Support</li>
          <li><strong>I</strong>nspire to empower</li>
          <li><strong>E</strong>mpathy and Respect</li>
          <li><strong>F</strong>unds for proactive change</li>
        </ul>
      </p>

      <h3 class="h3">Member organisations</h3>
      <p>The current voting members of COR are&hellip;
        <ul>
          <li>Coffee4Craig</li>
          <li>LifeShare</li>
          <li>Reach Out to Community</li>
          <li>Myriad Foundation</li>
          <li>Sleeping Ruff</li>
          <li>VOW Team</li>
        </ul>
      </p>

      <h3 class="h3">Joining COR</h3>
      <p>Any Group agreeing with the aims and objectives can apply for full voting membership of COR. Approval is subject to majority vote of the current voting organisations. Please contact <a href="mailto:cor@streetsupport.net">cor@streetsupport.net</a> for more details.</p>

      <h3 class="h3">Find out more</h3>
      <p>You can find out more about COR and join the conversation through the public <a href="https://www.facebook.com/cormcr/">COR Facebook group</a>.</p>

      {{> social-share}}
    </div>
  </div>
</div>
